[2017-12-14 02:57] peterstace commented on #1918
Minimum example that exhibits the problem:

[code]
[code]
[code]

It gives:
[code]
But should give:
[code]

There seems to be a bad interaction between multiple languages and sorting.

[2017-12-14 03:08] janardhan1993 commented on #1891
I am closing this issue. We can track the high load issue at #1914

[2017-12-14 03:08] #1891 closed

[2017-12-14 03:08] peterstace commented on #1856
Merged to master at 7cfd577

[2017-12-14 03:08] #1856 closed

[2017-12-14 03:10] janardhan1993 commented on #1914
@ajayktkp: One of the reasons for high cpu utilization is that you are trying to user term tokenizer for eq.
All of the mutations have a common term called luke. So all queries would need to do a second pass over the index uids to determine whether there is exact match or not. These are not cached also, so the server would end up doing millions of disk seeks for each query.

You should replace you

[2017-12-14 03:11] janardhan1993 commented on #1910
@MichelDiz : Can you please share your queries and mutations.

[2017-12-14 03:11] tomsaleeba commented on #1323
The link to the bulkloader has changed since this post https://github.com/dgraph-io/dgraph/issues/1323#issuecomment-331054526

It's now https://docs.dgraph.io/deploy/#bulk-loader

[2017-12-14 03:12] janardhan1993 commented on #1903
We will look into it again after v1.0 release as i was not able to reproduce the issue.

[2017-12-14 04:04] janardhan1993 commented on #1920
On restart of zero (with 3 zero nodes),
2017/12/14 14:52:36 node.go:260: Group 0 found 14822 entries
2017/12/14 14:52:36 raft.go:371: Restarting node for dgraphzero
2017/12/14 14:52:41 pool.go:167: Echo error from dgraphzero-0.dgraphzero.default.svc.cluster.local:7080. Err: rpc error: code = Unavailable desc = all SubConns are in TransientFailure
2017/12/14 14:52:41 pool.go:118: == CONNECT ==> Set

[2017-12-14 05:29] SumanSingh4 commented on #1913
@MichelDiz  Yes I am using dgraph-node and its working for me also.
 I think you have not understand my question, let me explain again,

I have data
`let myUID = "0x6";
let fname = "Bob";
let lname = "Dylan";`

I want to edit fname or lname
So I have write query something like this
`const data = await client.mutate({
        set: [
          '<_:0x6> <fname> Sami .',
          '<_:0x6> <lname> Ryn

[2017-12-14 05:41] SumanSingh4 commented on #1913
And as for delete i want to delete this record
`let myUID = "0x6";
 let fname = "Bob";
 let lname = "Dylan";
`
Query is
`var deletedUser = await client.mutate({
      del: '<0x6> * * .',
    })`

But on this query
`var userInfo = await client.query(`{
        q(func: has(fname)) {
            id: uid
            fname: fname
            lname: lname
          }
      }`)`

In result, uid 0x6 is al

[2017-12-14 06:41] pawanrawal commented on #1914
Duplicate of #1910

[2017-12-14 06:42] #1914 closed

[2017-12-14 07:03] ajayktkp commented on #1914
Thanks for the quick response. So, I stopped my program and restarted the dgraph too. The load is still the same. Then I ran the mutation query to change the schema which is running for past 1 hr and still not returned and load is still high (top - 14:02:40 up 2 days,  1:04,  2 users,  load average: 122.71, 122.27, 121.01). Total nodes in graph are around 2Mil. What do you suggest to do here?

[2017-12-14 07:04] ajayktkp commented on #1914
Please don't close the issue yet as I'm not able to still stabilize my DGraph server.

[2017-12-14 07:05] janardhan1993 commented on #1914
We are tracking this at 1910, so closed this one(As mentioned in earlier comment). Can you please retry from scratch.

[2017-12-14 07:07] ajayktkp commented on #1914
From scratch means, deleting everything and start with a fresh install?

[2017-12-14 07:12] janardhan1993 commented on #1914
Yeah meanwhile we will fix the high load, changing the index should reduce the load but not sure whether it would fix the issue or not. Can you please try on a separate instance and update once.

[2017-12-14 08:23] pawanrawal commented on #1898
I have been trying to reproduce this but haven't been able to. I tried reducing the size of the batch for assigning uids to `100` so that it happens more often with no luck. @peterstace have you noticed this happening recently?

[2017-12-14 09:08] ajayktkp commented on #1914
cool. thanks 👍

[2017-12-14 12:48] janardhan1993 commented on #1919
I think this is probably related to reading a pl which was evicted from lru recently(there's some issue in reading immediately after purging old versions). During predicate move we load a high number of pls which could cause a recently evicted pl to be read again.

[2017-12-14 13:06] MichelDiz commented on #1913
try change `<_:0x6>` to `<0x6>` - You don't need "`_:`" after create the node.
OBS. I think, not sure, you must to use duble quotes in EDGE data with dgraph-node. Like:
`<0x3> <friend> "0xb234" .`

Yes, there is no update command. Dgraph Overwrite the edges if you mutate again in the same uid node.

About deletion:
Details https://docs.dgraph.io/query-language/#delete

Dgraph deletes all you need,

[2017-12-14 13:25] MichelDiz commented on #1910
@janardhan1993 sure, but I have no problem. I Just commented to have it an "positive example" to ajayktkp. I did not comment to say that I have an error. I should have made that clear. Do you still wanna the queries and mutations? cheers

[2017-12-14 13:29] janardhan1993 commented on #1910
If you feel there is a preformance issue, please feel free to share or raise a separate issue.

[2017-12-14 13:32] MichelDiz commented on #1910
No preformance issue for me but here
https://gist.github.com/MichelDiz/a33715eba824b92e0021f21b61de97a4

[2017-12-14 13:37] janardhan1993 commented on #1895
I also noticed
2017/12/14 12:21:41 Error while retrieving timestamps: No connection exists. Will retry...
2017/12/14 12:21:42 Error while retrieving timestamps: No connection exists. Will retry...
2017/12/14 12:21:43 Error while retrieving timestamps: No connection exists. Will retry...

Transport is closing error.

[2017-12-14 22:40] peterstace commented on #1898
Yeah, I've still seen it happen occasionally using the latest master. Although it's not as easily reproducible as it was before (it used to happen every single time). That suggests to me that there is another place in the code where things aren't being cancelled correctly when we intercept SIGINT (other than the place when Jan made a fix).

[2017-12-14 23:05] peterstace commented on #1913
That's not quite right. You'll want to use `<0x3> <friend> <0xb234> .`

You're right about `<_:0x6>` and `<0x6>` though -- the second is the one that works.

[2017-12-15 01:09] MichelDiz commented on #1913
yeah, sorry. This was a personal note. I forgot to fix it.

[2017-12-15 02:44] janardhan1993 commented on #1920
Fixed in master.

[2017-12-15 02:44] #1920 closed

[2017-12-15 02:48] janardhan1993 commented on #1910
@ajayktkp : Can you please try your load on a fresh instance and using dgraph built from latest master. The load issue should be fixed now.

[2017-12-15 04:42] peterstace commented on #1918
Merged to master in ed85541

[2017-12-15 04:42] #1918 closed

[2017-12-15 05:37] pawanrawal commented on #1898
Have been able to reproduce this. Its much easier to reproduce it with the Dgraph Server running and using the live loader.

[2017-12-15 06:42] peterstace commented on #1703
In master at 67c54b7

[2017-12-15 06:42] #1703 closed

[2017-12-15 07:15] SumanSingh4 commented on #1913
@MichelDiz  Thanks for response
As your suggestion for editing value `try change <_:0x6> to <0x6> - You don't need "_:" after create the node.`, works for me. And as per
`If you want to reuse "deleted" UIDs. I recommend after deletion you make a new mutation by adding "Type" = "empty" to that deleted UID. That way you can, will have more work, check for empty nodes before making new registrations.

[2017-12-15 07:52] janardhan1993 commented on #1910
@ajayktkp : I tried loading using the program you shared, was able to load without much cpu usage.

Please reopen the issue if you still face any problems.

[2017-12-15 07:52] #1910 closed

[2017-12-15 08:55] corporatepiyush commented on #1445
For v0.9 and later will DGraph still supports  eventual consistent operations(SELECT, INSERT, UPDATE & DELETE) or transaction is hard default for every other operation ?

Eventual consistency might be useful for high write workloads where immediate (consistent) Read after write is not so important (time window being few hundred ms to couple of seconds)

[2017-12-15 10:59] tamethecomplex opened #1924 "IP range whitelist for admin/export"
As a followup to: https://discuss.dgraph.io/t/ip-range-whitelist-for-admin-export/2024/2

When running a multi-container application, triggering a dgraph export from another docker container is not possible because /admin/export restricts availability to localhost of the container dgraph is running in.  Allowing a whitelist exception (maybe just a new dgraph commandline argument would be easiest?)

[2017-12-16 11:55] yunzhongshu opened #1925 "Delete edge which object’s valueType is uid in binaries version failed."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

v0.9.4
- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
macOs Sierra 10.12.6

- Expected behaviour and actual result.

When I run dgraph server with the binaries version v0.9.4, i run the java client such as
[code]
the server throw an exeption su

[2017-12-17 04:40] avinassh opened #1926 "Getting an error while doing go get for dgraph"
I am following the instructions here: https://docs.dgraph.io/contribute/#setup-dgraph-from-source-repo

I am using go version 1.9.2 and when I did go get, I got the following error:

[code]

[2017-12-17 22:50] peterstace commented on #1445
The old-style eventually consistent operations are no longer supported. Everything goes through transactions.

[2017-12-17 23:25] peterstace commented on #1925
I don't think anything should have changed with regard to deletes between v0.9.4 and master, so this is odd.

Could you add the exact steps to reproduce? e.g. what your schema is, and what RDFs have already been loaded.

[2017-12-17 23:42] peterstace commented on #1926
Thanks for bringing this to our attention. The crawler code looks like it hasn't been maintained at all and doesn't work with dgraph 0.9.x. I'll work out if we want to upgrade it or just remove it.

[2017-12-18 00:42] peterstace commented on #1926
I've updated the instructions as well (there are a few extra commands that need to be run rather than just `go get`.

[2017-12-18 00:42] #1926 closed

[2017-12-18 01:53] janardhan1993 commented on #1919
I am not able to reproduce it now, might have been related to the bug in badger.  Closing for now.

[2017-12-18 01:53] #1919 closed

[2017-12-18 01:54] janardhan1993 commented on #1895
Travis has been stable for some time. Will reopen if the issue happens again on travis.

[2017-12-18 01:54] #1895 closed

[2017-12-18 02:33] peterstace commented on #1303
Fixed in master (added a question in the FAQ with link to `LICENSING.md`).

[2017-12-18 02:33] #1303 closed

[2017-12-18 02:41] yunzhongshu commented on #1925
I found the code at v0.9.4 in the file mutation.go line 298 is
[code]
But the same code at master is
[code]

[2017-12-18 03:34] pawanrawal commented on #1898
This isn't easily reproducible. So moving it to `v1.x`. Also doing a `kill -9` should be ok with Zero.

[2017-12-18 03:43] peterstace commented on #1905
There aren't any docs right now for the grammar. That's something we could look at adding though (any grammar documentation would be descriptive rather than prescriptive though).

[2017-12-18 03:44] manishrjain commented on #1925
Also, CC: @deepakjois because he's handling the Java client.

[2017-12-18 06:04] peterstace commented on #1898
I managed to reproduce enough times to work out what was going and create a fix. It's happening because `GracefulStop()` blocks until all pending RPCs have been completed. For some reason (not really sure why... some other unrelated problem it seems) RPCs sometimes fail to complete.

A solution is to only wait a fixed amount of time for `GracefulStop()` to complete. If it doesn't complete quickly

[2017-12-18 06:10] avinassh commented on #1926
Actually, that also fails. I updated the instructions: https://github.com/dgraph-io/dgraph/compare/master...avinassh:install-inst?expand=1

I think we need to install those in $GOPATH. If this change is correct, would you like a PR?

[2017-12-18 06:12] peterstace commented on #1926
Yes please.

[2017-12-18 07:48] yunzhongshu commented on #1925
I find the same err will happen at the Master. And the wrong reason is the Del Mutation.Edges add the edge attrbuted '_predicate_' with no valueId or value in it. The code is in query/mutation.go, line 74
[code]

 so when check "ValidateAndConvert" func in worker/mutation.go , it will be throw the error "Please use * with delete operation for non-list type"

[2017-12-18 08:00] janardhan1993 commented on #1925
Can you please query the schema and share. The error shouldn't happen because _predicate_ is of list type.

[2017-12-18 08:01] yunzhongshu commented on #1925
[code]

[2017-12-18 08:03] yunzhongshu commented on #1925
set \_predicate\_ 's valueType to list?

[2017-12-18 08:03] janardhan1993 commented on #1925
_predicate_ schema is wrong. Can you please share the dgraph server's log when you started it.

[2017-12-18 08:04] yunzhongshu commented on #1925
[code]

[2017-12-18 08:06] yunzhongshu commented on #1925
I set the schema and add data with the step3 in https://docs.dgraph.io/get-started/

[2017-12-18 08:09] janardhan1993 commented on #1925
Can you please share more logs after restart and if possible logs before restart also.

[2017-12-18 08:12] yunzhongshu commented on #1925
before restart
[code]

[2017-12-18 08:16] janardhan1993 commented on #1925
These are not the full logs.
Can you please share the steps to reproduce this on a fresh dgraph instance.

[2017-12-18 08:47] yunzhongshu commented on #1925
I have done these commands with the binary version:
1. dropAll
2.add demo datas
[code]
3.set schema
[code]
and then see the schema
[code]

[2017-12-18 08:50] yunzhongshu commented on #1925
restart logs:
[code]

[2017-12-18 08:53] janardhan1993 commented on #1925
Thanks for the logs, will look into it.

[2017-12-18 08:53] yunzhongshu commented on #1925
Then i can delete the edge for the first time, then the schema change to
[code]

[2017-12-19 01:26] peterstace commented on #1925
When I try to reproduce the problem following your steps, I can't reproduce it.

1. Run drop all:

[code]

Set data:

[code]

3. Set schema:

[code]

5. Show schema:

[code]

`_predicate_` is definitely present, and is set with list type correctly.

**Were there any other steps that you were taking?**

[2017-12-19 01:47] yunzhongshu commented on #1925
I do the operate follow yours, And still the '\_predicate\_' valueType is 'default'.

[2017-12-19 01:48] peterstace commented on #1925
And that was with the 0.9.4 binary? Or with master?

[2017-12-19 01:52] peterstace commented on #1925
Can you reproduce the problem if you start with fresh data directories? (`p` and `w`). Possibly it has something to do with state between restarts.

[2017-12-19 02:03] yunzhongshu commented on #1925
0.9.4 binary and the master have the same problem

[2017-12-19 02:05] peterstace commented on #1925
Is it possible for you to send me the `p` and `w` directories? That would help to debug what is going wrong.

[2017-12-19 02:06] yunzhongshu commented on #1925
And when I restart the dgraph server , the schema '\_predicate\_' disapeared

[2017-12-19 02:07] yunzhongshu commented on #1925
I'm sorry, how can i get the p and w directories

[2017-12-19 02:19] peterstace commented on #1925
When should I restart the dgraph server in order to reproduce? Is that as the last step?

The `w` and `p` directories should be in the directory that you ran the dgraph command from.

[2017-12-19 02:21] yunzhongshu commented on #1925
yes

[2017-12-19 02:36] yunzhongshu commented on #1925
[p and w.zip](https://github.com/dgraph-io/dgraph/files/1570108/p.and.w.zip)

[2017-12-19 03:10] peterstace opened #1931 "Mutation gets stuck if in progress when leader dies"
Occurs in master at dc3f4601, run on the dgraph workstation.

Easy to consistently reproduce:

1. 1 dgraph zero, with replicas set to 3.
2. 3 dgraph servers.
3. Run the `bigdata` binary (in `contrib/integration`) with `--mode=mutate`.
4. Kill the leader.
5. The mutation that is currently in progress will block forever (neither the error or success counters increase). It remains stuck even after se

[2017-12-19 03:11] peterstace commented on #1925
Thanks for the zip file, I'll continue investigating.

[2017-12-19 03:31] peterstace commented on #1925
I started up dgraph when using the p and w dirs you gave. But it doesn't show the problem.

I used the following commands (with the zip file exanded into the directory I ran the commands from):

[code]
[code]

During start up, I see the following in the `dgraph server` log:

[code]

So for me, the `_predicate_` schema is being added on startup. Querying the schema shows the same thing:

[code]

**

[2017-12-19 03:39] yunzhongshu commented on #1925
I'v followed your operates, and get the same result with you

[2017-12-19 03:40] yunzhongshu commented on #1925
Let me see what's  the changes with before

[2017-12-19 06:34] peterstace commented on #1925
By the way, I made a mistake in my queries above. It should be `'{"drop_all": true}'` but I had `'{"dropall": true}'`.

However, even with that correction I still can't reproduce the problem.

[2017-12-19 06:37] peterstace opened #1933 "StartTs doesn't need to be part of api.Operation"
Since it's set as 1 everywhere.

[2017-12-19 06:39] janardhan1993 commented on #1933
We need it for postings, schema change can cause the index to be rebuild that needs a timestamp.
Only schema changes are uses fixed timestamp(1)

[2017-12-19 06:42] pawanrawal commented on #1933
Ok, so it still doesn't need to be part of `protos.Operation`. It can just be set as part of `protos.Mutation` when doing a schema mutation. The user shouldn't have the option to set it directly as part of `Operation` message.

[2017-12-19 08:23] yunzhongshu commented on #1925
When i use an empty directories, it's no problem.
I can't reproduce the problem too.
And now i know why i can't delete the edge at that time, then I will close this issue.
Thank to all of you! Very thank you!

[2017-12-19 08:23] #1925 closed

[2017-12-19 09:28] sgon00 opened #1935 "When running dgraph 1.0 with the tour 1million.rdf.gz data, allofterms, anyofterms, regexp don't work properly"
[code]

dgraph linux binary: `dgraph-linux-amd64-v1.0.0.tar.gz`

OS: Manjaro (Based on Arch Linux. I consider it's the same as arch linux)

I completed the tour in my spare time and went to do something else. Today, I see there is version 1.0. I am very happy to upgrade and try it. After the upgrade, I ran it with the old tour database and ran a query. Basically, it's https://tour.dgraph.io/search

[2017-12-19 11:02] ddorian opened #1936 "Tried changing posting-lists without read-update-write ?"
What I saw from some docs is that badger is like rocksdb (lsm) and not lmdb (btree) so you have custom merge functions and non-reading-inserts.

Have you tried doing:
1. add another field to the PostingList called (operation='remove/set/update/add').
2. On every update/delete, actually just put another PostingList but the operation changes based on what it is, without reading the current PostingLi

[2017-12-19 13:19] Harfondy opened #1937 "Insert a new node with custom uid"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
currently i'm using dgraph version 1.0.0

- Have you tried reproducing the issue with latest release?
yes i have tried it, in old and new dgraph version
old version ran smoothly (0.7.x) (0.8.x)
after (0.9.2) release, it couldn't create the node (got an error)
then (1.0.0) came out and the result seems

[2017-12-19 13:37] sgon00 commented on #1935
Some Updates (I did some more tests on this issue.):

### If I don't apply the schema mutation at tour.dgraph.io/search/1/

[code]

Actual steps:

1. Fresh install dgraph 0.9.4 linux binary
2. Create the schema by following https://tour.dgraph.io/moredata/1/
3. Load the dataset with `dgraph live -r 1million.rdf.gz --zero localhost:5080`
4. Shutdown dgraph server and zero properly.
5. Upgrade to dg

[2017-12-19 13:40] pawanrawal commented on #1937
I have been investigating this issue. The issue is that we silently fail if we can't parse a uid as `uint64`. So `0xa14222b693e4ba34` in this case can't be parsed as uint64 but we don't return the error to the user and instead assign a new uid. We should return an error in this case.

[2017-12-19 14:02] sgon00 opened #1938 "High CPU usage in dgraph v1.0.0 when I don't do any queries/mutations"
**Dgraph version:**

[code]

**Dgraph linux binary:** `dgraph-linux-amd64-v1.0.0.tar.gz`

**OS:** `Manjaro` (Based on `Arch Linux`. I consider it's the same as arch linux)

**How do I run dgraph:**

[code]

1. Create the schema by following https://tour.dgraph.io/moredata/1/
2. Load the dataset with `dgraph live -r 1million.rdf.gz --zero localhost:5080`
3. Shutdown and Restart dgraph zero and serv

[2017-12-19 14:13] Harfondy commented on #1937
it seems that's the problem, i tried to parse it to uint64 also, the result's failed.
Actually the custom uid that i generated is an uint64. i changed the value using fmt.Sprintf("0x%x", customUID)
after see this, i tried to insert it with raw uint64, the value is `11619888156129933876`
using fmt.Sprintf("%v", customUID), then i tried to parse it and it seems okay
but the result from dgraph looks

[2017-12-19 23:27] ozeetee commented on #1887
Again the installation didn't go smooth. Still struggling to start Drgaph after update.

Wanted to update to version `v1.0.0` from previous installed version `v0.9.4`

Followed instruction from : https://docs.dgraph.io/get-started/
Not using Docker so used instruction from section : `From Install Scripts (Linux/Mac)`

Using Macbook pro, Ram 16 GB, High Sierra 10.13.1

Steps Followed :

1. Stopped

[2017-12-20 00:17] peterstace commented on #1925
@yunzhongshu , if you come across the problem again (and can reproduce it), it would be great if you could re-open this ticket. I'm sure there's a problem somewhere in the code (rather than user error), but until we can reproduce there's not much we can do. Thanks! :)

[2017-12-20 00:36] tslater commented on #933
In particular, I'd love to see how to make this work with Relay. In terms of streamlining an entire application stack, I think that would be huge! Right now I am using a MySQL-backed relay-compliant GraphQL server with Relay on the front end, in order to use Dgraph, I would need a clear path on how I could keep the benefits (and code) of my current client application.

[2017-12-20 00:52] peterstace commented on #1887
I tried to reproduce this by starting up a dgraph v0.9.4, the shutting it down, and then bringing dgraph 1.0 up using the same data directories. I'm not seeing any problems (there is the usual "blip" in the logs where a service is looked for but it doesn't exist - but this quickly resolves itself).

This is what I'm seeing when I bring up dgraph v1.0:

Zero:
[code]
Server:
[code]

Are you able to

[2017-12-20 01:25] peterstace commented on #1935
Thank you for reporting the issue with such a high level of detail.

I could reproduce the problem on the first try, I'll continue to investigate what the problem is and then make a fix.

[2017-12-20 01:25] yunzhongshu commented on #1925
OK

[2017-12-20 01:36] peterstace commented on #1935
I've also reproduced this using only v1.0, so this doesn't have anything to do with the upgrade.

[2017-12-20 01:44] ozeetee commented on #1887
Sorry bad luck, I just deleted the `w`,`p`, and `wz` directory.  After deleting the dir the server is working fine now.
I don't know what really happened. I am trying to repo the case again but unable to do it now. Looks like something got messed up while upgrading not really sure. I will keep a watch and again put comment if I see the pop ups again. Will again upgrade the server when new stable b

[2017-12-20 01:53] peterstace commented on #1887
No worries, yes please let us know if you run into the problem again :)

[2017-12-20 01:53] #1887 closed

[2017-12-20 02:08] yunzhongshu commented on #1925
[zw.zip](https://github.com/dgraph-io/dgraph/files/1573933/zw.zip)

I think the zw directory is some wrong in it. When I delete this directory and restart the server, the log appear
[code]
the upload file is the old directory  when the problem happened.

[2017-12-20 02:10] peterstace opened #1939 "Dgraph server panics when shutdown"
I saw the following panic when using Ctrl-C:

[code]

[2017-12-20 02:12] peterstace commented on #1939
This is possibly the same shutdown as seen in https://github.com/dgraph-io/dgraph/issues/1938

This isn't a duplicate though -- that ticket is about an unrelated problem.

[2017-12-20 03:33] peterstace commented on #1935
Fixed in master by @janardhan1993 's change, closing.

[2017-12-20 03:33] #1935 closed

[2017-12-20 03:47] Harfondy commented on #1937
btw i tried to use the example code from google docs
and i got this error `rpc error: code = Unknown desc = Uid: [1000] cannot be greater than lease: [0]`

code that i used:
[code]

[2017-12-20 03:51] pawanrawal commented on #1937
Hey @Harfondy

I would like to clarify that you can't set custom ids in Dgraph. You can only set an id which is returned by Dgraph itself.

Dgraph maintains a lease which is the max uid that was allocated, so the uid you set can't be greater then that. I will update the example to make it more clear.

[2017-12-20 04:09] peterstace commented on #1939
Looks like any write operation to badger will cause a panic if has already been closed. Simply opening, closing, then writing to badger causes the same problem in `sendToWriteCh`.

Badger should ideally give an error rather than panicking.

This seems more like a badger issue to me, so closing.

[2017-12-20 04:30] pawanrawal commented on #1939
I think this is caused because we don't have a mechanism for periodicPurgeOldVersions(which runs in a goroutine) to complete before shutdown. We have discussed this earlier and the idea was that the user of Badger shouldn't do writes after it has been closed.

[2017-12-20 04:31] peterstace commented on #1939
Ok, that sounds like a reasonable approach to me. I'll re-open this ticket and close the other one.

[2017-12-20 05:15] manishrjain commented on #1936
Thanks for the suggestion. We're doing something similar.

Given this is a suggestion and not an issue, I'll close this.

[2017-12-20 05:15] #1936 closed

[2017-12-20 05:19] janardhan1993 commented on #1925
I was able to reproduce it, i will do a fix.
Start server, do drop all and then restart. Schema for _predicate_ is gone.

[2017-12-20 05:53] janardhan1993 commented on #1938
@sgon00
`2017/12/19 15:39:27 groups.go:673: Error in oracle delta stream. Error: rpc error: code = Unknown desc = Node is no longer leader.` error is expected when there's no active leader of group zero. During restart it takes some time for zero to become leader and hence dgraph servers try to find a zero which is leader.
I have added sleeps between retries now so you shouldn't see this.
You didn

[2017-12-20 06:09] pawanrawal commented on #1937
I have merged a fix in e9865185205aa8293eb64cacf6e350aa5ed28ca1. An error would be returned if we can't parse the uid as uint64. Also, updated the examples in GoDoc.

[2017-12-20 06:09] #1937 closed

[2017-12-20 06:13] janardhan1993 commented on #1939
https://github.com/dgraph-io/badger/issues/367, after this issue purge won't eat much cpu so we don't need that background goroutine which tries to purge slowly over time.
We can do aggresively during lru eviction without worrying about cpu usage

[2017-12-20 07:29] peterstace commented on #1925
@janardhan1993 made a fix merged to master at 3ccced0d

[2017-12-20 08:20] pawanrawal commented on #1939
I have merged a fix to master with d06e674ede4c23e8d7ea8bb87a1cffbe6a4f6bc1.

[2017-12-20 08:20] #1939 closed

[2017-12-20 08:57] sgon00 commented on #1938
@janardhan1993 thanks a lot for the quick reply and investigation. About 9000 error messages in the log within a second made me feel bad. :)
What about the CPU usage problem? I hope that can be fixed soon. It's burning my laptop. I can not use dgraph if it uses too much CPU constantly when I don't anything to it. Thanks a lot.

[2017-12-20 13:59] MichelDiz commented on #1793
Small article on how to create templates for Rancher.

https://nrvale0.github.io/posts/rancher-catalogs-part1/

[2017-12-20 14:03] MichelDiz commented on #1885
A temporary solution for this, for those who need it. The Dgraph staff has released a UI binary called Ratel. Just download the current version (1.0) and run only Ratel on the machine. That you are able to copy and paste the models used in the Tour.

https://github.com/dgraph-io/dgraph/releases

However, now that we have this solution applied in Ratel. I do not see any impasse in the same solution

[2017-12-20 23:41] calummoore commented on #1519
Just thinking about this a bit more.

This feature would also enable efficient lookup of a `uid` by predicate, as there would only ever be one `uid` for a given node/predicate, performing a search would essentially the same as a hash lookup.

You could then add a new index / filter for that as well.

[2017-12-21 00:48] peterstace opened #1946 "Replica count not respected"
I saw this in master at 2c8f184e

I've only managed to reproduce this twice, it seems to happen very rarely.

I run zero with `--replicas=3`, then start 3 dgraph servers. I expect to have a single group, but occasionally 2 groups are created.

Logs (and command used to run):

Zero:
[code]

Dgraph server 1:
[code]

Dgraph server 2:
[code]

Dgraph server 3:
[code]

When I query the state using zero,

[2017-12-21 01:44] peterstace commented on #1946
I've been able to reproduce this somewhat consistently now... seems to have to do with the time interval between starting up the dgraph servers (the closer together, seems more likely to have 2 or 3 separate groups). So some sort of race going on.

[2017-12-21 03:09] peterstace opened #1947 "EnableTracing (grpc) race during startup"
[code]

[2017-12-21 06:26] peterstace commented on #1946
This has to do with where we're deciding which group to put a new node into. We're doing it when creating the proposal rather than when applying the proposal. So if new nodes are started quickly in succession, they each end up getting their own group.

Solution I'm working towards is to decide the group to put new nodes in when we're applying the proposal.

[2017-12-22 07:20] tomsaleeba opened #1951 "Bulk loader cannot handle double typed literals"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.1. Zero and Server running in Docker and bulk loader directly on the host.

- Have you tried reproducing the issue with latest release?
Yes, 1.0.1 is the latest at the time of writing.

- What is the hardware spec (RAM, OS)?
Intel I7, 16GB ram, Linux Mint 18.2

- Steps to reproduce the issue (com

[2017-12-22 07:40] tomsaleeba opened #1952 "Self building schema can't support RDF bags with varying contents"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.1. Zero and Server running in Docker and bulk loader directly on the host.

- Have you tried reproducing the issue with latest release?
Yes, 1.0.1 is the latest at the time of writing.

- What is the hardware spec (RAM, OS)?
Intel I7, 16GB ram, Linux Mint 18.2

- Steps to reproduce the issue (com

[2017-12-24 01:59] cirocosta commented on #600
Hey @janardhan1993 , just to update the issue, it can be said that `xid` is *not*  supported, right? As in https://github.com/dgraph-io/dgraph/releases/tag/v0.9.0 it's stated:

[2017-12-24 11:30] sgon00 opened #1953 "dropAll does not drop uid nodes AND go client query can not return the mutation change"
1. `DropAll` operation does not drop UID nodes. If this is expected, how to delete those empty UID nodes? Is that possible to delete them?
2. `dg.NewTxn().Query` can not return the mutation change even 10s after the mutation transaction. if this is expected, how can I query the change?

### Environment

**Dgraph:**
[code]

**Packages:**
[code]

**Server scripts:**
[code]

**OS:** `Manjaro` (based

[2017-12-24 15:48] sgon00 opened #1954 "Delete a node won't work when there is an empty non-pointer struct field in the node with go client"
I am not sure if this is considered as a bug or not. If I use a pointer struct field in the node, it works fine.

### Environment

**Dgraph:**
[code]

**Packages:**
[code]

**Server scripts:**
[code]

**OS:** `Manjaro` (based on `Arch Linux`), 4GM RAM laptop

### main.go

[code]

[code]

[code]

The alice can not be deleted because of `"loc":{}` in json.
To workaround this issue, I can simply use

[2017-12-24 22:58] janardhan1993 commented on #1951
We don't support decimal type yet. You can use xs:double or <http://www.w3.org/2001/XMLSchema#double" instead of that. Double rdf type should be sufficient for most of the use cases unless you require very high precision(too many digits after decimal).

[2017-12-24 23:04] janardhan1993 commented on #1952
Dgraph can handle different types for same predicate as long as they are compatible. Example: If you specify the schema type as string then everything can be converted to string and so all types can be loaded. If you specify the schema type as integer, then when you try to load a string which doesn't parse as int, dgraph would throw error.

Dgraph doesn't allow changing from uid to scalar as it is

[2017-12-25 02:50] dpesphi opened #1955 "'after' param does not work at root while using 'has' function"
I tried the following query on the current documentation's query runner and it still returned node `0x33`
[code]
Asked about this on slack, @janardhan1993 suggested that this may be a bug and should be reported here.

[2017-12-25 12:59] sgon00 commented on #1953
PS:
I forgot to mention that those empty nodes should not be returned when I query `func: has(age)` because they don't have `age` predicate.

[2017-12-25 23:56] janardhan1993 commented on #1951
I am closing this issue now, you can use double type instead of decimal. Please feel free to reopen the issue if your usecase requires decimal type.

[2017-12-25 23:56] #1951 closed

[2017-12-25 23:57] janardhan1993 commented on #1952
The error message you saw is expected behaviour, Please feel free to reopen the issue or create a new issue if you feel the current type system is not sufficient for your use case.

[2017-12-25 23:57] #1952 closed

[2017-12-25 23:58] janardhan1993 commented on #1947
Fixed in master by peter

[2017-12-25 23:58] #1947 closed

[2017-12-26 00:14] sporkmonger opened #1956 "[string] schema, Go client returns string, not []string for single element list"
- What version of Dgraph are you using?
0.9.2

- Have you tried reproducing the issue with latest release?
No, haven't had a chance to upgrade yet

- What is the hardware spec (RAM, OS)?
16GB, macOS 10.12.6

- Steps to reproduce the issue (command/config used to run Dgraph).
[code]

- Expected behaviour and actual result.
With a field with a `[string]` schema, the Go client gets a `string` value,

[2017-12-26 00:46] janardhan1993 commented on #1955
Fixed in master.

[2017-12-26 00:46] #1955 closed

[2017-12-26 00:46] janardhan1993 commented on #1953
Fixed in master.

[2017-12-26 00:46] #1953 closed

[2017-12-26 01:13] janardhan1993 commented on #1954
@sgon00 : We consider documentation issues also as bugs. We will update our documentation.
Go's json marshal doesn't omit empty structs(https://github.com/golang/go/issues/11939). So user needs to use pointer to struct as a workaround for now.

The same applies to time.Time, even if you don't set time the json marshal would set it as zero and send to the server. There is no way the server can know

[2017-12-26 02:33] yunzhongshu opened #1957 "Query dgraph through code not manually, the results shows such as dgraph-ratel."
Query dgraph through code not manually, the results shows such as dgraph-ratel.
Support with an javascript library or request parameters in dgraph-ratel?

[2017-12-26 04:45] sgon00 commented on #1953
@janardhan1993 , I have one more question regarding query can not return mutation change. I tried the following codes in v1.0.1:

[code]

I find out even if the query is put after the mutation, the query might complete before the mutation is done.  *(The query result might not have the database change that the above mutation made.)* I am wondering if this is expected behavior or the same bug I fou

[2017-12-26 04:48] janardhan1993 commented on #1953
That was a bug, if you use a build from master branch, you should see the result when you query after mutate returns without any sleep. It was related to the issue which was fixed in master.

[2017-12-26 04:50] sgon00 commented on #1953
@janardhan1993 thank you very much for this quick reply and clarification.

[2017-12-26 15:48] dpeek opened #1958 "Mutation with multiple deletions aborts"
Run the following two mutations in Dgraph UI (running Dgraph 1.0.1)

[code]

Then (substituting `uids`)

[code]

[2017-12-26 16:17] selmeci opened #1959 "Query on facets is returing predicates listing on non existing edge"
* Doc page: [query-language/index.md](https://docs.dgraph.io/query-language/)
* Doc version: `release/v1.0.1`

Hi,

I'm new to Dgraph.
I tried [example](https://docs.dgraph.io/query-language/#facets-on-uid-predicates) on docs page.
According to documentation Charlie does not have `car` edge and thus only UID facets should be returned. But it return `car` predicate with listing of all possible pred

[2017-12-26 16:43] selmeci commented on #1938
I have same problem with docker compose environment on my desktop.
It began when I imported about 14M data-set.
CPU usage goes up after I make first query on DB.

[2017-12-26 20:56] smkhalsa opened #1960 "Edges without facet values filtered out when sorting by facet"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v0.9.4

- Have you tried reproducing the issue with latest release?
no (unavailable with dgraph.js)

- What is the hardware spec (RAM, OS)?
8GB Ram, OSX

- Steps to reproduce the issue (command/config used to run Dgraph).
I have a problem node connected to many solutions nodes
I've created a facet on

[2017-12-26 22:40] janardhan1993 commented on #1958
@dpeek : Can you also share your schema ?

[2017-12-26 22:47] janardhan1993 commented on #1938
We are working on it, will fix it in next release.

[2017-12-26 22:56] dpeek commented on #1958
[code]

[2017-12-26 22:58] dpeek commented on #1958
I'm running in docker with this `docker-compose.yml`:

[code]

[2017-12-27 01:22] janardhan1993 commented on #1958
@dpeek : I couldn't reproduce this, can you please list down the steps you did.

[2017-12-27 01:43] janardhan1993 commented on #1959
Doesn't happen locally, will check what's wrong on play.

[2017-12-27 03:16] janardhan1993 commented on #1959
This issue was happening due to query code mutating the valuematrix during expand all. So emptyValuelist ended up getting mutated and this issue happens whenever user tries to query for any predicate which is not present.
This has been fixed in master accidentally due to some other change. I will deploy the latest build on play.

[2017-12-27 03:24] #1959 closed

[2017-12-27 09:59] gfsilva92 opened #1961 "Support stub instead of blockingStub on client initialization"
I would like to be able to initialize a dgraph client without using the blockingStub, like this:

DgraphStub blockingStub = DgraphGrpc.newStub(channel);

At the moment is not possible. But I think it could be a nice improvement on your tool.

Thanks,
Gonçalo.

[2017-12-27 10:04] janardhan1993 commented on #1961
This is related to java client right ? Can you please create this issue in client's repository. dgraph-io/dgraph4j

[2017-12-27 11:43] dpeek commented on #1958
Very strange. Turns out it has nothing to do with multiple deletions – any deletion results in an aborted transaction. Weirdly, other mutations and queries work fine (*most* of my test suite is passing, only deletion cases are failing which is how we got here).

I suspect I've got my docker-compose configured incorrectly, I'm really just guessing when it comes to docker. There are a bunch of error

[2017-12-27 12:00] dpeek commented on #1958
Ok, I can verify that running dgraph binaries directly works fine.

Ugh, as does the `docker-compose.yml` documented here https://docs.dgraph.io/get-started/

Sorry for the noise, I guess it's something to do with my attempt at creating a docker data volume?

[2017-12-27 12:16] gfsilva92 commented on #1961
Yes, sure! Thaks.

[2017-12-27 12:19] janardhan1993 commented on #1958
can you please share your docker-compose.yml, i will try to reproduce the issue tomorrow morning.

[2017-12-27 17:31] zilti opened #1963 "Generate binaries for FreeBsd and NetBsd"
For some reason it seems you *really* don't want anyone to compile the code themselves. `get.sh` says "Sorry. Binaries not available for your platform. Please compile manually: https://docs.dgraph.io", but there's nothing to be found on that page.

[2017-12-27 23:26] janardhan1993 commented on #1963
we will update the link in the script.

You can compile it like any other go project.
go get -u -v -t github.com/dgraph-io/dgraph/...
This will put the source code in a Git repo under $GOPATH/src/github.com/dgraph-io/dgraph and compile the binaries to $GOPATH/bin

@zilti Which platform are you using ? Our ui is not open source so we would need to publish the binary for your platform.

[2017-12-28 19:46] smkhalsa opened #1964 "Repeated filter at root"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
0.9.4

- Have you tried reproducing the issue with latest release?
no (using dgraph.js)

- What is the hardware spec (RAM, OS)?
8gb ram
OSX

- Steps to reproduce the issue (command/config used to run Dgraph).

I'm making the following query:

[code]

and I'm receiving the error `Repeated filter at roo

[2017-12-28 19:54] smkhalsa commented on #1964
I was able to solve this with the AND operator rather than multiple @filter

[2017-12-28 19:54] #1964 closed

[2017-12-28 21:34] smkhalsa commented on #824
@manishrjain how far out is this feature from being implemented?

It's an important feature for my use case (real-time collaborative problem solving).

[2017-12-28 22:31] manishrjain commented on #824
We had a feature freeze to launch v1.0. We'll start working on features in the new year. Expect this in mid-Q1 2018.

[2017-12-29 03:33] tomsaleeba commented on #1952
Thanks for the information @janardhan1993.

My data uses RDF bags a lot so I can't use the Dgraph RDF loader. I'll look into writing something that converts the RDF bags into Dgraph lists.

[2017-12-29 03:58] tomsaleeba commented on #1951
Thanks @janardhan1993. My choice for decimal was arbitrary, I don't need to precision, so changing to double is a perfect fix for this.

[2017-12-29 11:15] sgon00 opened #1965 "Deleting a node (S * *) after dropping a predicate will re-create the dropped predicate with default type"
Hi, I tried the go client example and it has the `married` schema defined:

[code]

when I do `schema{}` query, I found out:

It is `"predicate": "married", "type": "default"` in dgraph 1.0.1 and master 52994ae301774538642295e4e65096ba38f024de.

But it is `"predicate": "married", "type": "bool"` in dgraph 0.9.4

Is this a bug or expected in latest dgraph?

[2017-12-30 18:37] tamethecomplex commented on #1924
Hi @pawanrawal and @peterstace, update on this from our side.  We are moving our production instances to Amazon ECS / Fargate.  However, from what I've been able to discern, unless I modify the dgraph container to open up port 22 and accept SSH connections, I'm not able to get a bash prompt open in the container at all, which prohibits me from running /admin/export at all.  Because this would proh

[2017-12-30 23:26] dpeek commented on #1958
You can see my docker-compose.yml above :)

[2017-12-31 15:39] loganpowell commented on #933
@manishrjain if you could create something like [this](https://blog.kensho.com/compiled-graphql-as-a-database-query-language-72e106844282) for graphql+/-? Perhaps an abstraction layer that would allow folks to use existing standards (gremlin, RDF, etc.). Just read your article on Jupiter. Let's get this ship sailed!

[2017-12-31 15:45] loganpowell commented on #933
Just another reason to make a graphql-compliant processor: [schema stitching](https://dev-blog.apollodata.com/graphql-schema-stitching-8af23354ac37). Seems like a natural fit. Microservices and Dgraph.

[2017-12-31 16:59] MichelDiz commented on #933
I think maybe the schema stitching is a bit out of context. If you want to connect Dgraph to a "gateway" in GraphQL for example. You would need to have a GraphQL schema being offered by the Dgraph "natively". Dgraph uses GraphQL +/- only as a query concept. Dgraph does not have a schema defined as GraphQL. Unless natively implemented an option to generate Schemas making http://dpeek.com/dgraphql/

[2017-12-31 18:18] tslater commented on #933
I feel like the best path would be to have an official GraphQL server
implementation that uses DGraph as a backend--or at least some good example
code. Something like JoinMonster or GraphCool, that is a framework that
makes it really easy to use DGraph with GraphQL, hopefully with Relay
support too. Right now, I don't know DGraph, so leaving a RDMS for it seems
a bit daunting, although the promise

[2017-12-31 19:54] MichelDiz commented on #933
Yeah, a dialect in Join Monster would be the perfect strategy. Since JM (Join Monster) would only read the schema created and hence generate the queries in accordance with what was required.

I had already suggested this while ago (https://github.com/stems/join-monster/issues/266). And you can add a dialect that JM can transpose to GraphQL +/- or Cypher. But the problem lies in the other languages

[2018-01-01 10:09] manishrjain opened #1966 "Product Roadmap 2018"
Work In Progress

- <strike>Support Open Cypher</strike>
- <strike>Support Gremlin</strike>
- [ ] Support GraphQL spec
- [ ] Subscriptions
- [ ] Stronger Type System
- [ ] Backup
- [x] Python Driver
- [x] Simplify TLS setup
- [ ] Authentication (full control)
- [x] Jepsen test integration (http://jepsen.io/analyses/dgraph-1-0-2)

[2018-01-01 17:56] aryzing opened #1967 "dgraph ratel visualizer colors inacurate"
While going through the tutorial, I realized that the ratel visualizer colors are off, see image

![](https://user-images.githubusercontent.com/4924405/34387959-6d224cd2-eb31-11e7-9169-9d23cc1e6405.png)

Happens both in docker version and well as in https://play.dgraph.io

[2018-01-02 00:37] peterstace commented on #600
`xid`s are no longer automatically inserted by `dgraph live`. `xid`s are now just like any other predicate -- if you add them to your data set, they can be added.

[2018-01-02 00:48] #1961 closed

[2018-01-02 00:52] #1898 closed

[2018-01-02 01:02] pawanrawal commented on #1965
Hey @sgon00

I was not able to reproduce this. Could you share the Go client example which can be used to reproduce this? If the alter operation was successful then schema should have been changed to `bool`. Dgraph server should also print a log about the schema change if it goes through.

[2018-01-02 01:23] peterstace commented on #1924
The quickest/easiest workaround would be for you to modify the source manually and run your own dgraph version.

The part of the code you'd want to modify is in `cmd/dgraph/main.go` in the `handlerInit` function (just remove the check for the loopback device at the end of the function).

[2018-01-02 01:58] peterstace opened #1969 "Handle errors when accessing PL"
Currently, we just skip that value if there is an error. This is appropriate to do for `ErrNoValue`, but shouldn't be done for other types of errors.

[2018-01-02 02:03] peterstace commented on #1969
PR: #1970

[2018-01-02 02:51] WolfDan commented on #1966
The GraphQL spec also include thins like Union and enum types @manishrjain ?

[2018-01-02 03:01] manishrjain commented on #1966
Yeah, we'll try and support it as close to the spec as possible. I think GraphQL compatibility is needed by a lot of users.

[2018-01-02 03:38] manishrjain commented on #1966
Would anyone need support for JDBC driver?

[2018-01-02 05:29] pawanrawal commented on #1956
A fix has been merged to master with 99d1acebaedcdb8b3934515a88b9a2d915b07962. It would be available as part of the nightly release and also from the next release.

[2018-01-02 05:29] #1956 closed

[2018-01-02 05:33] pawanrawal commented on #1960
A fix has been merged to master with 3a1a250425ed1d1182293794dde75d6dd05657db and would be part of the next release and nightly build.

[2018-01-02 05:33] #1960 closed

[2018-01-02 06:17] vespertilian opened #1972 "Ratel dashboard sidebar and feedback sections overlays incorrectly in Safari"
If you suspect this could be a bug, follow the template.

Do you support Safari? This doesn't happen in Chrome, and I can work around it, so feel free to close this issue if you don't.

- What version of Dgraph are you using?

1.0.1

- Have you tried reproducing the issue with latest release?

Yes

- Steps to reproduce the issue (command/config used to run Dgraph).

Visit the Ratel Dashboard in Sa

[2018-01-02 06:42] vespertilian opened #1973 "Add a schema quick link query to Ratel Dashboard"
As a new user I find the generic query below super helpful to understand what the database schema looks like, especially after I have run a few different example mutations. I feel it would be worthwhile to have this query as a quick link in your Ratel Dashboard for other newbies. I found the query on your docs site but it's a bit hidden away.

[code]

![screen shot 2018-01-02 at 5 19 26 pm](https:

[2018-01-02 08:09] smkhalsa opened #1974 "Support uid() in variables"
As discussed [here](https://discuss.dgraph.io/t/inject-uid-into-child/2072/2), the uid function doesn't work within variables.

The following query throws an error `Cannot do uid() of a variable`

[code]

[2018-01-02 08:18] smkhalsa commented on #1966
With support for Cypher, Gremlin, and GraphQL as the first 3 items on the Roadmap (not sure if the roadmap is in order of priority), is the intention to simply appeal to a broader base of users who may already be familiar with one of them? Or is there a valid reason why a user would want to use all three (e.g. tradeoffs in performance, simplicity for certain types of queries, etc?)

[2018-01-02 08:19] smkhalsa commented on #1966
I'd also like to hear what your vision is for Subscriptions. Do you intend on implementing the GraphQL Subscription spec or provide full reactivity that could enable things like @live queries?

[2018-01-02 08:39] sgon00 commented on #1965
@pawanrawal

Sorry about the wrong issue description. I did some more tests on this issue and changed this issue's title to `Deleting a node (S * *) after dropping a predicate will re-create the dropped predicate with default type`
I am not sure if this is considered as a bug or not. If it's expected, you can simply close it. The following is the complete test code:

[code]

the output:

[code]

[2018-01-02 14:45] WolfDan commented on #1966
That could be amazing! In my case I'm creating a Graphql api with Elixir, have the same schema in the app and the database can simplify the work a lot, I hope this get done soon :D

[2018-01-02 15:34] akuckartz commented on #1966
Is SPARQL already supported?

[2018-01-02 17:38] sebastianmacias commented on #1966
Great news! I'm really looking forward to Subscriptions. It would be a huge plus if dgraph could borrow some of the offline-first ideas from [gun.js](https://github.com/amark/gun), extremely useful for PWAs.

[2018-01-02 23:13] pawanrawal commented on #1973
We could also think about building the functionality to mark certain queries as the favorite so that they can be accessed quickly.

[2018-01-02 23:15] pawanrawal commented on #1415
Assets are now bundled with the ratel binary.

[2018-01-02 23:15] #1415 closed

[2018-01-02 23:19] thetuxedo opened #1975 "Run 21million example (using docker) error : Attribute name is not indexed with type term"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.1, via docker

- Have you tried reproducing the issue with latest release?
yes, using latest version

- What is the hardware spec (RAM, OS)?
AWS, 16G, aws ec2 linux AMI

- Steps to reproduce the issue (command/config used to run Dgraph).
[code]
Then run query in gui. such as
[code]

- Expected beh

[2018-01-02 23:27] peterstace commented on #1975
The current version of https://github.com/dgraph-io/benchmarks/blob/master/data/21million.schema doesn't have the `term` index set for `name`. So `allofterms` won't work.

It does have `fulltext` though, so you would be able to use `alloftext` instead of `allofterms`.

[2018-01-02 23:34] pawanrawal commented on #1965
Hey @sgon00

Thanks for the reproducible example. What is happening here is that schema for `married` is being automatically derived again while doing `S * *` deletion, hence it gets a `default` type. We shouldn't be deriving the schema for delete mutations. I will work on a fix.

[2018-01-02 23:37] MichelDiz commented on #1966
"Support GraphQL spec" - So, Will Dgraph have an optional "virtual" Schema type just for GraphQL? @manishrjain

[2018-01-02 23:37] thetuxedo commented on #1975
thanks for prompt reply.
A new query like below return nothing.
{
  HP(func: alloftext(name, "Harry Potter")) @cascade {
    name@en
    starring{
        performance.actor {
            name@en
         }
    }
  }
}

What is the quick way to take a look at some data to ensure the data loading is successful?

[2018-01-02 23:57] peterstace commented on #1975
The query that you want instead is:
[code]

Note the `@en` inside `alloftext`. All of text does text search based on language as well, so you also have to specify that.

[2018-01-03 00:03] thetuxedo commented on #1975
thanks. your reply is so fast!  it works well.
most querys in https://github.com/dgraph-io/benchmarks/blob/master/queries/queries.txt doesn't work in newer version, for example, sumvar throw exception like  `Expecting a collon. Got: lex.Item [24] "," in sumvar`
Is it possible these query can be fixed?

Also, where can I find all the querys in https://blog.dgraph.io/post/benchmark-neo4j/.
i want to

[2018-01-03 00:12] peterstace commented on #1975
Yep, I'll update this as well.

i want to demo the performance to my colleagues.

@pawanrawal may be able to answer, I think he wrote that blogpost.

[2018-01-03 00:26] pawanrawal commented on #1975
The queries are here https://github.com/dgraph-io/benchmarks/blob/master/data/neo4j/query_test.go but they need to updated as well(predicate names have changed in the dataset). I will do that sometime today.

[2018-01-03 00:59] thetuxedo commented on #1975
thanks a lot! I will close this issue

[2018-01-03 00:59] #1975 closed

[2018-01-03 01:10] peterstace commented on #1975
For the 21 million dataset, it's better to use https://github.com/dgraph-io/benchmarks/tree/master/data/release instead. It's schema is set to work with the runnable examples on the docs site.

[2018-01-03 02:40] pawanrawal opened #1978 "Integrate TeamCity"
We should move away from Travis and start using [TeamCity](https://www.jetbrains.com/teamcity/) which allows us to run our test suite on EC2 machines. This would enable us to run tests with `-race` flag enabled which are not possible right now on Travis.

[2018-01-03 02:42] pawanrawal commented on #1853
This was done as part of v1.0

[2018-01-03 02:42] #1853 closed

[2018-01-03 02:47] pawanrawal commented on #1965
A fix was merged to master with f397e76f186c70d35974465e8615e381f047fd74 and would be part of the nightly and next release.

[2018-01-03 02:47] #1965 closed

[2018-01-03 02:50] pawanrawal commented on #1933
In master as of 46f7825b09c6ba82cf05ca3c13b1bcbe3d4841c7.

[2018-01-03 02:50] #1933 closed

[2018-01-03 03:07] pawanrawal commented on #1957
Hey @yunzhongshu

It's not clear to me what you mean. Could you elaborate more on it?

[2018-01-03 03:17] pawanrawal commented on #1963
Hey @zilti

The instructions for installing from source are mentioned at https://docs.dgraph.io/deploy/#building-from-source. I have updated the script to point to this link. As @janardhan1993 mentioned, Ratel is not open source so you won't be able to compile it manually.

[2018-01-03 03:24] pawanrawal commented on #1954
Hey @sgon00

Sorry that you had to face this issue. As you must have figured out the json object should just have `uid` field for it to be considered as node deletion.

I have updated the example for [`DeleteNode`](https://godoc.org/github.com/dgraph-io/dgraph/client#example-Txn-Mutate-DeleteNode) to marshal a `map[string]string` with only `uid` as key instead which is more explicit and doesn't re

[2018-01-03 03:52] zilti commented on #1963
Thank you! Ah, I didn't know that... I actually wanted to make a pkg for NetBSD, but that way, it's probably not that good an idea.

[2018-01-03 07:24] peterstace commented on #1969
This is now in master at 78026df7

[2018-01-03 07:24] #1969 closed

[2018-01-03 17:23] zboralski opened #1982 "Can't always do equality query with fulltext index"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.1

with the following schema.
[code]

`eq(name, "test.test.test")`  works
`eq(name, "test1.test.test")` gives ":Attribute name does not have a valid tokenizer"

[2018-01-03 17:27] zboralski commented on #1982
I guess the documentation wasn't really clear as it says an index is required... I didn't realise I needed both hash and exact.

[2018-01-03 23:13] pawanrawal commented on #1982
You shouldn't need both `hash` and `exact` tokenizers. Anyone of them should be sufficient.

[2018-01-03 23:23] peterstace commented on #1982
I was able to easily reproduce and will take a look and what's going wrong.

[2018-01-04 00:54] peterstace commented on #1982
This is occurring because equality checking chokes when more than 1 token gets returned by the full text tokenizer. So searching for "apple" will work, but searching for "apple pie" won't.

Due to some subtleties in full text tokenization, "test1.test.test" gets broken into 2 tokens, whereas "test.test.test" gets broken into a single token.

Fix inbound soon.

[2018-01-04 01:24] peterstace commented on #1982
PR: https://github.com/dgraph-io/dgraph/pull/1983

[2018-01-04 02:28] peterstace commented on #1982
Fixed in master at a9e4b79

[2018-01-04 02:28] #1982 closed

[2018-01-04 06:10] peterstace commented on #1954
Looks like this is resolved.

[2018-01-04 06:10] #1954 closed

[2018-01-04 06:12] peterstace commented on #1913
Looks like this is resolved.

[2018-01-04 06:12] #1913 closed

[2018-01-04 10:46] tamethecomplex commented on #1924
Thanks @peterstace, we will proceed with a custom dgraph build until the standard feature is available

[2018-01-04 11:04] tamethecomplex commented on #1791
+1 for this feature.  I keep coming back to the conversation [Here](https://discuss.dgraph.io/t/unique-indexes-on-predicates/1964/7?u=tamethecomplex).  As our app grows in complexity, and we load data from one dgraph instance into another, we need a check at the database level that certain predicate values are unique globally in the Dgraph instance.  Currently, we check this with application logic

[2018-01-04 16:23] thetuxedo commented on #1966
how about key cardinality? such as "Tom Hanks" has a predicate of `type` to multiple values "actor,director"

[2018-01-04 22:42] sporkmonger opened #1984 "Document JSON serialization for UID references"
Ran into an error for `Input for predicate created_by_ref of type uid is scalar`, was extremely confused because I was passing in a json object akin to `{"uid":"0x3", "ref":"0x2"}`. Turns out I needed to pass: `{"uid":"0x3", "ref":{"uid": "0x2"}}` This doesn't appear to be documented anywhere currently.

[2018-01-04 23:13] peterstace opened #1985 "Blank nodes in JSON mutations"
Allowing blank nodes in JSON mutations would make JSON mutations easier to use.

Currently if inserting highly referential data, mutations must be applied in several steps. If we had blank nodes, it could be done in one go.

E.g.

To represent the following graph:

[code]

You would need to create D first in its own mutation, then create the other nodes using Ds UID to reference it.

But if we had

[2018-01-04 23:31] krishnakumarb commented on #1340
I had the same error with docker-compose (version 1.17.1) on Windows 10. Using volumes resolved this. Here is the Compose configuration that worked for me:

[code]

[2018-01-04 23:48] krishnakumarb opened #1986 "Docker Compose configuration does not work on Windows 10"
* Doc page: [get-started/index.md](https://docs.dgraph.io/get-started/)
* Doc version: `release/v1.0.1`

The Docker Compose configuration listed on this page does not work for me on Windows 10 with Compose 1.17.1. It fails to start with the error `sync w: invalid argument`. The configuration that works for me on Windows 10 (1709) and macOS High Sierra is this:

[code]

[2018-01-04 23:57] pawanrawal commented on #1986
Thanks @krishnakumarb

I will update the docs to use volumes.

[2018-01-05 06:59] pawanrawal opened #1988 "Race condition in worker package"
[code]

This was observed on TeamCity.

[2018-01-05 22:04] llonchj opened #1989 "dgraph fails silently when OOM under docker/Mac"
This is not a bug on itself as it is related to https://github.com/moby/moby/issues/21083 but given the memory requirements of dgraph, it might be hit by other users.

If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0.1

- Have you tried reproducing the issue with latest release?

Yes

- What is the hardware spec (RAM, OS)?

Ram: 16G, macOS 10.1

[2018-01-08 00:36] peterstace commented on #1984
I've added some documentation (at 6e9df2b). Can be viewed here: https://docs.dgraph.io/master/mutations/#json-mutation-format

[2018-01-08 00:36] #1984 closed

[2018-01-08 01:36] peterstace commented on #1946
I'm taking a look at this again, commands that reproduce it:

`dgraph zero --replicas=2` then `dgraph server --memory_mb=1024 -o -3000 -w w1 -p p1 --idx 1` and `dgraph server --memory_mb=1024 -o -3100 -w w2 -p p2 --idx=2` quickly afterwards.

The bug only occurs when the `--idx` flags are provided.

[2018-01-08 06:48] pawanrawal opened #1990 "Export count mismatch"
CI often fails while trying to match export count.

[code]

In this case, we get more results than expected.

https://teamcity.dgraph.io/viewLog.html?buildId=101&buildTypeId=Dgraph_Ci&tab=buildLog&_focus=3556

[2018-01-08 06:50] pawanrawal commented on #1988
Fixed in https://github.com/dgraph-io/dgraph/commit/643d2565d9f0abae8f5a14a5f10eb7853bc1fc30#diff-e7949a0879bc67d5514e8a008bab05bfR207

[2018-01-08 06:50] #1988 closed

[2018-01-08 10:51] mbn18 commented on #1791
Same here. Each entity in the domain has a unique UUID. I wish `dgraph` to restrict uniqueness on the UUID term.
It might be even better if I could assign the external UUID to the internal UID. Maybe `dgraph` should be more agnostic to the format of the UID?

[2018-01-08 19:37] llonchj opened #1991 "bulk: schema not loaded"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

Dgraph 1.0.1

- Have you tried reproducing the issue with latest release?

yes

- What is the hardware spec (RAM, OS)?

MacOS 10.13.2: 16gb, 1Tb SSD

- Steps to reproduce the issue (command/config used to run Dgraph).

Using the files in: https://gist.github.com/llonchj/dda68e41680f76f9e769d523dafc57

[2018-01-08 21:18] llonchj commented on #1991
In the above example works, but in other cases i tested does not work.

[2018-01-08 23:10] peterstace commented on #1991
Something must be happening non-deterministically... Using your RDF and schema files I've been able to reproduce this.

[2018-01-08 23:33] peterstace commented on #1991
Oh woops, when I was trying to reproduce this, I forgot to start the `dgraph server` up pointing to the output dir from the bulk loader.

When I do `$ dgraph server --memory_mb 1024 --zero localhost:5080 -p out/0/p` instead of `$ dgraph server --memory_mb 1024 --zero localhost:5080`, it works as expected.

Can you confirm that you're supplying the postings dir to `dgraph server` via the `-p` flag?

[2018-01-08 23:42] llonchj commented on #1991
I am using `mv out/0/p .` instead of `-p` or changing directory

[2018-01-09 00:49] peterstace commented on #1991
Ok, yeah that shouldn't be a problem.

I've done a review of the surrounding code, and can't see any missed error handling etc. I don't think there's much we can do to go further with this until there's a reproducible example.

[2018-01-09 05:24] cilier opened #1992 "Use ratel without internet access"
I am building a dgraph cluster without internet access, but when I opened ratel, it was blank. I asked about it in slack, pawan told me that ratel need Amazon to download the css and js files.Could you package these files in the binary file, or do something else to ensure that I can use ratel without internet access?

[2018-01-09 06:38] mbn18 opened #1993 "sgraph -version flag"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
I think 1.1

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
Linux / intel cpu /16GB / SSD

- Steps to reproduce the issue (command/config used to run Dgraph).
docker exec -it dgraph dgraph -version

- Expected behaviour and actual result.
Expect

[2018-01-09 06:43] JimmyCheng opened #1994 "Support UIID in Mutate."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.1

- Have you tried reproducing the issue with latest release?
yes.

- What is the hardware spec (RAM, OS)?
4G RAM, macOS

- Steps to reproduce the issue (command/config used to run Dgraph).
DGraph supports to import rdf format data. e.g. from the tour document:
https://tour.dgraph.io/moredata/1/

[2018-01-09 06:44] JimmyCheng commented on #1993
-h will give the information. But it is good to have -v.

[2018-01-09 07:18] pawanrawal commented on #1993
Running the `dgraph` command without any arguments will give you the version information that you are looking for.

[2018-01-09 07:25] pawanrawal commented on #1994
Dgraph doesn't support UUID as part of mutations. Dgraph live has a special behavior where it allocates a new uid(uint64) when it encounters something that it cant parse as a `uint64`.

[2018-01-09 07:44] mbn18 commented on #1993
Didn't checked that.
I think that it can be less ambiguous if it will follow `go` way:

[2018-01-09 12:36] JimmyCheng commented on #1994
Thanks @pawanrawal.

Is it possible to support UUID in mutations?

I am trying to import a set of tuples, in which the later tuples rely on the previous one. Currently I use the similar way as creating movies, actors database in [here](https://tour.dgraph.io/moredata/1/).

But I want to do this in Java/Javascript client with dgraph transaction. In this way the database initialization is easier to

[2018-01-09 22:50] peterstace commented on #1994
If you only need to refer to the nodes during graph initialisation, you could use [blank nodes](https://docs.dgraph.io/query-language/#blank-nodes-and-uid).

[2018-01-09 23:42] tamerh commented on #1994
good to know about blank nodes @peterstace a bit off the topic but what if i have 2 bulk loader which connects to same zero. are  blanks nodes works? i mean generate same uid for a blank node for both 2 bulk loader?

[2018-01-10 00:14] pawanrawal opened #1995 "Mutations stuck when starting a replica"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.1

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Start Dgraph Zero

[code]

2. Start first Server

[code]

3. Start Dgraph live
[code]

Now after some time, start another Dgraph Server.

4. Start second Ser

[2018-01-10 03:35] peterstace commented on #1990
I noticed another problem during export:

I'm seeing `2018/01/10 13:56:35 unexpected meta: 0` which is a fatal error.

[2018-01-10 03:39] willcj33 opened #1996 "Improve Facets mutation handling"
Currently, if I write a facet like so ```<n1> <pred> <n2> (fromMerge:true) .``` and then afterwards, another process "upserts" the same two nodes and edge like so ```<n1> <pred> <n2> .```, the fromMerge boolean facet is removed.

If I don't alter the facets in any way, would it make sense to not delete them? It would make managing edge facets easier on us, or at least allow an option to NOT overwr

[2018-01-10 03:43] willcj33 opened #1997 "Possible Ordering Option In Shortest Path Query"
Currently, in the shortest path query, if I understand correctly, the lower the number, the higher that path is ranked. This causes me to store my "scores" on facets as the regular value, and a negative weight, which seems odd to me. It also, over time leads to useless data replication.

Would it be possible to allow for an ```asc/desc``` option on the shortest path so I could not have to store ne

[2018-01-10 04:26] peterstace opened #1998 "Crash when _dummy_ predicate is moved"
[code]
The "unexpected meta" error is fatal.

I added some debugging that showed that the relevant key is [0 0 7 95 100 117 109 109 121 95 0 0 0 0 0 0 0 0 0] (i.e. data key for `_dummy_`).

[2018-01-10 05:18] peterstace commented on #1998
Original approach to fixing this was to delete the `_dummy_` key rather than setting it, but this cause a badger crash (which should be investigated separately):

[code]

[2018-01-10 06:34] pmualaba opened #2000 ""Edge-key" functions vs "Edge-value" functions"
There is an interesting discussion going on disscuss.dgraph.io which leads to this Github issue:
https://discuss.dgraph.io/t/migrating-away-from-generic-type-edge-in-our-app-plus-modeling-complex-schema/2107/8

Since Dgraph added mutations, Dgraph documentation also changed the ideal datamodeling technique for edge organization. Moving away from organizing your edges into a few "super edges" to or

[2018-01-10 06:37] peterstace commented on #1998
Fixed in master at bd3cba3

[2018-01-10 06:37] #1998 closed

[2018-01-10 07:02] pmualaba opened #2001 "Introducing the “this” keyword and function edges to GraphQL+-"
A lot of power could be added to GraphQL+ - if we could do something like the following closer to the data (in Dgraph) instead of in the application layer:
Data centric functions like the following (this keyword, if(), concat(), gt(), dot notation graphtraversals, ...) benefit greatly from being performed as close to the data as possible, and is a natural fit for GraphQL+- and prevents looping ove

[2018-01-10 08:29] jimanvlad commented on #2001
Who not just @func(concat(firstName@en, ' ', lastName@en))?

On Wed, 10 Jan 2018 at 07:03, pmualaba <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-10 09:00] pmualaba commented on #2001
Because you need to attach the return value of the @func expression to some json key, so that you can access that key in the final json response.
If you mean that you can omit firstName@en and lastName@en, then indeed you're right if you do not need these fields in your final json response.

[2018-01-10 09:20] jimanvlad commented on #2001
Sorry I meant why not omitting ‘this.’ and just go for the same syntax as
in your first post.

On Wed, 10 Jan 2018 at 09:01, pmualaba <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-10 09:31] pmualaba commented on #2001
Make sense indeed, since the nested structure of GraphQL already give us the node scope for each level, the this keyword can indeed be considered redundant i guess.

[2018-01-10 16:17] jimanvlad commented on #726
Mutation graphql variables should be useful in the case where you want to load chunks of streaming data.

For example, you have 100 rows of data from a relational database and, for each row, you want to create a number of nodes and edges. Evidence from Neo4J indicates that if you send the query string once, and a map of variables for the 100 rows, the I/O is much less and therefore everything shou

[2018-01-10 22:45] JimmyCheng commented on #1994
Thanks @peterstace!

[2018-01-10 22:45] #1994 closed

[2018-01-10 22:51] pawanrawal commented on #726
We are going to support GraphQL mutations soon. Mutation variables would be supported along with that.

[2018-01-11 13:41] jimanvlad commented on #726
What do you mean by GraphQL mutations? I thought we already have mutations in GraphQL+...

[2018-01-11 14:34] MichelDiz commented on #1996
I believe you should instantiate the data from Facet. For the idea behind the Facet is to have a "status" of that information. As an extra, but not as a immutable. So if you want to keep or refresh the Facet you should control this in the application as if it were a pipe.

That's my two cents.

[2018-01-11 21:13] loganpowell commented on #933
Indeed, a graphdb-based BAAS would be a killer

[2018-01-11 23:11] alexmilowski opened #2002 "Same Origin Issue - Safari vs Chrome"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0 - latest via docker / Kubernetes

- Have you tried reproducing the issue with latest release?

Yes

- What is the hardware spec (RAM, OS)?

Kubernetes 1.8.4 cluster

- Steps to reproduce the issue (command/config used to run Dgraph).

I am running dgraph-ratel on port 8081 and the server on port

[2018-01-11 23:16] alexmilowski opened #2003 "Kubernetes Configuration Update - cluster + missing dgraph-ratel"
The current documented cluster configuration for Kubernetes didn't quite work for me. Various things seem to have changed and dgraph-ratel was also missing.

I was able to get dgraph working on a 1.8.4 cluster and added dgraph-ratel via the attached configuration.

[dgraph-multi-github.yaml.txt](https://github.com/dgraph-io/dgraph/files/1624452/dgraph-multi-github.yaml.txt)

[2018-01-11 23:26] pawanrawal commented on #726
Yeah we already have mutations in GraphQL+- but they are different from how GraphQL does them. Example of a GraphQL mutation http://graphql.org/learn/queries/#mutations.

[2018-01-11 23:58] janardhan1993 opened #2004 "Has Index doesn't return result immediately"
A user reported this issue on slack,

[2018-01-12 00:01] llonchj commented on #2004
@janardhan1993 it worked running dgraph natively on my Mac, not running dgraph in a docker container.

[2018-01-12 01:12] janardhan1993 commented on #1991
@llonchj In the other cases you tested, did you clear the p directory and did bulk loading again.
Can you please try it with build from master. Should be fixed now.

[2018-01-12 01:16] llonchj commented on #1991
@janardhan1993 yes, i rm'd p and w. Will try master, thanks.

[2018-01-12 02:53] pawanrawal opened #2006 "Xidmap in live loader is not completely pushed to badger"
Dgraph live only pushes out the xid => uid map to disk when the shard increases in size. It doesn't push all entries before closing and hence the `xidmap` directory can't be reused across different runs of live.

We should force evict everything before stopping Dgraph live.

[2018-01-12 03:07] pawanrawal opened #2007 "Print error logs only once"
If health check from Zero to Dgraph server fails, it keeps on printing error logs.

[code]

Similarly, logs are repeated when one Dgraph server is not able to connect to another. We should only print error logs once and then only print them again if we lost the connection after connecting again.

[2018-01-12 03:29] pawanrawal commented on #2006
Also kv is not closed. It used to be before but somehow got removed.

[2018-01-12 11:43] jeffkhull opened #2009 "Allow facets at the schema level"
As dicussed in a few potential uses [Here](https://discuss.dgraph.io/t/migrating-away-from-generic-type-edge-in-our-app-plus-modeling-complex-schema/2107/13?u=tamethecomplex), adding facets at the schema level would allow a fine-grained schema (many specific predicates) while also allowing logically grouping those schema predicates into higher-level categories.  This would enable concise queries w

[2018-01-12 12:03] jimanvlad commented on #2003
Thanks Alex.

I get the following on my vagrant cluster for server and zero (ui works):

Any idea why?

[2018-01-12 21:29] mpires commented on #600
Was this improvement dropped?

It'd be immensely useful to not need to query beforehand the uids of possibly hundreds of nodes before doing a mutation.
Mutating nodes by their XID (unique to the user logic) would then only be one roundtrip and would spare the potentially expensive query.

[2018-01-13 09:56] mbn18 opened #2010 "Missing concept document"
I think it will be beneficial for new comers if there will be a `concept document` that will explain terms like:
- node
- edge
- predicate

I read the docs and watched the Youtube clips but still find it hard to answer questions like:

Or

I think it will be much more easy to grasp if first time users will read about the system claims, its concepts and elements.

## Update
As an example: neo4j hav

[2018-01-13 11:20] mbn18 commented on #1938
Have the same problem with 1.1

Every few minutes the `dgraph` process CPU utilization get to around 170% for a minute or so.

The machine is: Intel `i7-4790k` With `SSD` & `16GB RAM` + the 1mil DB from the tutorial

From the machine/OS (fedora 27) perspective other DBs like `PostgreSQL` & `ElasticSearch` work as expected. Let me know if you need more info

[2018-01-13 16:51] MichelDiz opened #2011 "Add a "bug" generator report files."
Such a feature in Dgraph would bring practicality in bug reporting. Traefik has this function and I find it incredible how practical it is. It generates a perfect report with the necessary settings for evaluation by the team.

I can do
`traefik bug | cat> test.txt`

and then retrieve the report generated through Vim/Vi and then paste in Github.

https://github.com/containous/traefik/commit/5cc49e2

[2018-01-13 18:35] sboorlagadda opened #2012 "getting started guide to say alter rather than mutate for adding indexes."
* Doc page: [get-started/index.md](https://docs.dgraph.io/get-started/)
* Doc version: `release/v1.0.1`

While getting started, the document says `Running this next mutation...` for adding indexes.
As a beginner this means to chose *Mutate* option on Ratel and click Run.

[2018-01-13 23:55] sboorlagadda opened #2014 "ratel fails to connect when using dev release from github"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
dgraph-darwin-amd64-v1.0.1-dev.tar.gz

- Have you tried reproducing the issue with latest release?
Yes. This happens only with dev release binary.

- What is the hardware spec (RAM, OS)?
OSX

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Download dgraph-darwin-amd64-v1.0.1-dev

[2018-01-14 12:05] weickdev opened #2015 "[question] How to add a attribute to a edge?"
In dgraph, every attribute is an edge. Can I add attribute to an edge?
for example, there are two person:
Person1:
[code]
and Person2:
[code]
Person1 and Person2 has a call edge:
```Person1--call-->Person2```
I want to add a duration of the call, for example 10 minutes. So how can I do this?

[2018-01-14 13:29] jimanvlad commented on #2015
Check ‘facets’ in the documentation.

On Sun, 14 Jan 2018 at 12:05, weickdev <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-14 14:13] weickdev commented on #2015
@jimanvlad Get it! Thank you.

[2018-01-14 14:13] #2015 closed

[2018-01-14 17:40] jimanvlad opened #2016 "Server cannot connect to zero when deployed in Kubernetes"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.1

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
4 GB ram, OS from the docker image

- Steps to reproduce the issue (command/config used to run Dgraph).
Deploy in kubernetes with following YAML:
[code]

- Expected behaviour and actual resul

[2018-01-14 17:42] jimanvlad commented on #2016
Perhaps @alexmilowski can help?

[2018-01-14 22:06] pawanrawal commented on #2014
@gpahal did we add the `addr` flag back? Can you please update the docs if its mandatory?

[2018-01-14 22:07] #2012 closed

[2018-01-14 22:20] pawanrawal commented on #600
Yes, xid was given special treatment earlier hence we have dropped it. It is like any other string predicate now. We plan to support openCypher which along with the uniqueness constraint should give you what you are looking for.

[2018-01-14 23:16] pawanrawal commented on #1995
A fix has been merged to master with 02dc3bd36e266a795f78d41679ecdb69c69cff54.

[2018-01-14 23:16] #1995 closed

[2018-01-15 00:31] pawanrawal commented on #1978
This is done and unit tests now run with the `--race` flag on.

[2018-01-15 00:31] #1978 closed

[2018-01-15 02:52] pawanrawal commented on #1986
Updated the docs to use volumes https://docs.dgraph.io/master/get-started/#docker-compose

[2018-01-15 02:52] #1986 closed

[2018-01-15 03:55] weickdev opened #2018 "[question] insert seems not fast enough"
I want to insert Person vertex like
[code]
Below is my java code:
[code]

I can only insert 2000 person per second. It seems too slow, how I can insert them more fast I java clinet(not Live Loader nor Bulk Loader)

[2018-01-15 03:58] janardhan1993 commented on #2018
You can try doing them concurrently, and during data loading you can set the flag "ignoreindexconflicts" to get more throughput(if you are not doing any upserts).

[2018-01-15 04:33] janardhan1993 commented on #2004
@llonchj Can you please try using build from master.

[2018-01-15 05:05] janardhan1993 commented on #1990
It's related to badger directory getting reused across runs and xidmap not being flushed after live loader is done loading data.

[2018-01-15 05:09] janardhan1993 commented on #1938
@mbn18 Can you please share the cpu profile when it goes high.

Most probably it's related to purging older versions which happens in background. We changed the way purge works in badger to make it efficient and fast. Will vendor in the change in dgraph after some testing.

[2018-01-15 05:10] pawanrawal commented on #1990
Closing this for now. Will reopen if we notice it again in CI.

[2018-01-15 05:10] #1990 closed

[2018-01-15 05:18] pawanrawal commented on #2006
A fix was merged to master with c8157d7d8b7ba2339615cb3e6b3c1545d2581f17.

[2018-01-15 05:18] #2006 closed

[2018-01-15 05:23] pawanrawal commented on #2016
@jimanvlad Did you try https://docs.dgraph.io/master/deploy/#single-server? You'd ideally want a StatefulSet so that even if your container dies, its started with the same volume.

[2018-01-15 05:26] pawanrawal commented on #2003
I have updated the config https://docs.dgraph.io/master/deploy/#cluster-setup and it works with Kubernetes v1.8.4. Can you give this a try? I didn't get the error about the volume storage class that you were talking about. @alexmilowski how do you deploy to your kubernetes cluster?

Also, `dgraph-ratel` doesn't need to be a stateful set as it doesn't have any state.

[2018-01-15 05:32] gpahal commented on #2014
Fixed the issue. It should be reflected in the new dev build.

[2018-01-15 05:42] #1946 closed

[2018-01-15 06:49] janardhan1993 commented on #1958
@dpeek Are you facing this issue while deleting uid or scalar edges ?

[2018-01-15 07:05] jimanvlad commented on #2016
Hi,

But stateful sets don’t guarantee a maximum of one instance per node. Also,
they need network storage which have negative performance implications.

I’d ge more interested in finding out what the error message was all about
so I can rework our setup :)

On Mon, 15 Jan 2018 at 05:23, Pawan Rawal <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-15 07:21] gpahal commented on #1967
Fixed the issue. It should be reflected in the next dev build.

[2018-01-15 09:08] mbn18 commented on #1938
@janardhan1993 ,
No problem.
Any doc on how to profile the CPU?

[2018-01-15 12:51] yupengfei opened #2021 "add edges be very slow or impossible with 80000 nodes exist"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.1

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
15.7 GiB
AMD® Ryzen 7 1700 eight-core processor × 16
Ubuntu 17.10

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Add 80000 nodes to dgraph
2. add edge through
{
  set

[2018-01-15 16:19] loganpowell commented on #933
Might this be a way to do this?

https://www.graph.cool/

[2018-01-15 16:39] kri5 commented on #2016
You can use podAntiAffinity feature present in k8s to avoid having all the pod scheduled on the same nodes https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature

[2018-01-15 17:00] jimanvlad commented on #2016
Sure, but that requires you to label your nodes, and for the deployment to know what label to use - this is not scalable (e.g. add a new node, everything just scales automatically).

The question here is why does the communication between zero and graph work well when the two containers are run in the same DaemonSet, and server connects with:

vs when the 2 containers are specified in different da

[2018-01-15 17:29] kri5 commented on #2016
You do not need to label your hosts, you can use only your app label as a selector and do the antiaffinity based on the hostname, so that a pod of the same app won't be scheduled twice on the same host.

[code]

[2018-01-15 19:01] jimanvlad commented on #2016
^ I will try the above tomorrow. The other issue with StatefulSets is that it won't automatically scale with new nodes - you still have to change spec.replicas

[2018-01-15 21:52] janardhan1993 commented on #1938
https://docs.dgraph.io/howto/#retrieving-debug-information @mbn18

[2018-01-15 21:59] janardhan1993 commented on #2021
@yupengfei Can you please share your schema. Also if possible can you please share the data if it's not confidential. Are you using live loader to load the data ?

[2018-01-16 02:08] yupengfei commented on #2021
Here is the schema

`
const DSchema string =

user_id: string @index(exact) .
user_code: string @index(exact) .
uname: string @index(exact) .
real_name: string @index(exact) .
university_name: string @index(exact) .
academy_name: string @index(exact) .
home_town: string @index(exact) .
province_name: string @index(exact) .
city_name: string @index(exact) .
phone: string @index(exact) .
talent: boo

[2018-01-16 06:36] weickdev commented on #2018
@janardhan1993 After I inserting some data, the Dgraph server is blocked, and I can't do any operation to it. Even I can't drop all data. So how I can fix this?

BTW, where is data files on the disk? can I delete the data from disk and reinstall the Dgraph?

[2018-01-16 07:53] yupengfei commented on #2021
@janardhan1993 After insert the first edge, the insertion became very fast.

[2018-01-16 07:59] weickdev commented on #2021
@yupengfei How many nodes  and edges can you insert per second？

[2018-01-16 08:10] yupengfei commented on #2021
@weickdev Above one thousand node per second, and I think the edge insertion can be hundreds, after the first insertion, which always hangs for more than ten minutes.

[2018-01-16 09:52] climberwoodi commented on #1966
@manishrjain Can you tell when approximately Open Cypher support is implemented?

[2018-01-16 10:06] weickdev commented on #2021
@yupengfei comparing to the blog says [Loading close to 1M edges/sec into Dgraph](https://blog.dgraph.io/post/bulkloader/), 1000 nodes per second is too slow.

[2018-01-16 12:38] Levatius opened #2022 "Stacking multiple mutations within a transaction causing observable slowdown"
- Version:
Dgraph 1.0.1, utilising a modified version of kochhar's python client (original: https://github.com/dgraph-io/pydgraph/pull/19)

- Reproduced issue on latest:
Yes

- Hardware specs:
16GB, Intel Core i7-6560U @ 2.20GHz, Windows 7 (64-bit)

- Steps to reproduce:
Run the provided test rig (scripts/mutate_slowdown_rig.py) in Python 3.6

- Expected behaviour and actual result:
Expected there

[2018-01-16 12:39] Levatius commented on #2022
@pawanrawal @vladjiman

[2018-01-16 13:03] yupengfei commented on #2021
@weickdev I may have mislead you, I do not care of the speed, this average time is calculated by records count divided by the total time that my test cost. Since the terrible network and monkey code, it is not that fast. If you load big files into dgraph, it is lightning fast.

[2018-01-16 18:20] MichelDiz commented on #1966
Graphcool Graphql IDE turns out to be opensource in november 2017.
i believe that we could attach dgraph-js as a wrapper to graphcool IDE.
Or observe them as an example to create Dgraph support for GraphQL.
https://youtu.be/WhYjSFKNhBA

See:
https://github.com/graphcool
https://github.com/graphcool/prisma
https://github.com/graphcool/graphql-playground

Check it out!

[2018-01-16 21:58] pawanrawal commented on #1985
I think a cleaner syntax might be
[code]

So if the uid starts with `_:`, we consider it as a blank node.

[2018-01-17 01:20] llonchj commented on #1991
@janardhan1993 it works. Thank you!

[2018-01-17 01:20] #1991 closed

[2018-01-17 01:22] jzhu077 opened #2024 "Unable to elect a new leader"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.1

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
A Google cloud instance with 64 CPU and 240GB of memories.
The dgraph instances operate in docker containers.

- Steps to reproduce the issue (command/config used to run Dgraph).
1. All dgra

[2018-01-17 03:36] #2022 closed

[2018-01-17 05:44] llonchj opened #2026 "Predicate name support in GraphQL variables"
Given I have a node:

[code]

I want to be able to retrieve the `uid` given the `name` and `has(<type:emailAccount>)`.

I am trying to build the query using `QueryWithVars` and the golang api.

The query works with a hardcoded `$type` variable.

[code]

If i try to use `$type` as variable, returns the error: `rpc error: code = Unknown desc = Got empty attr for function: [has]`.

What should be the

[2018-01-17 05:44] llonchj opened #5031 "Predicate name support in DQL variables"
Given I have a node:

[code]

I want to be able to retrieve the `uid` given the `name` and `has(<type:emailAccount>)`.

I am trying to build the query using `QueryWithVars` and the golang api.

The query works with a hardcoded `$type` variable.

[code]

If i try to use `$type` as variable, returns the error: `rpc error: code = Unknown desc = Got empty attr for function: [has]`.

[code]

What shoul

[2018-01-17 06:54] weickdev commented on #2018
@janardhan1993 you can find my code [here](https://github.com/dgraph-io/dgraph4j/issues/46). please check if it is enough for you?

[2018-01-17 10:09] catroot opened #2027 "Dgraph crashes with unknown tablet"
[code]

Tried query on tuturial dataset:
[code]

[2018-01-17 10:19] catroot commented on #2027
Also failed to start dgraph again:
[code]
dgraph zero reports:
[code]

[2018-01-17 11:14] jimanvlad commented on #2022
Massive speed gains on multiple mutations within the same transaction, thank you @janardhan1993 !

[2018-01-17 11:19] mbn18 commented on #1938
The CPU profile is attached. Its started few sec before the load start and finish few sec after the load get down.

I also noticed that the load/offload takes 30 seconds.

[pprof.dgraph.samples.cpu.004.pb.gz](https://github.com/dgraph-io/dgraph/files/1638726/pprof.dgraph.samples.cpu.004.pb.gz)

[2018-01-17 23:06] janardhan1993 commented on #2027
@catroot Are you using docker to run dgraph, most probably you don't have persistent storage and hence the invalid address error. If you don't have persistent storage zero will think that a new node is joining the cluster with duplicate address(same as previous node before crash)

[2018-01-18 00:04] janardhan1993 commented on #2027
I have fixed the panic bug in master. Regarding restart error you must have deleted p and w directory of dgraph without removing zw directory in zero or something similar.

[2018-01-18 00:34] pawanrawal commented on #1996
This is more complicated than I expected. My advice would be to fetch the facets first before upserting for now. Implementing this properly will take some time.

[2018-01-18 01:21] pawanrawal commented on #1896
It's still there

https://teamcity.dgraph.io/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=220&_focus=1928

[2018-01-18 01:59] weickdev commented on #2018
@janardhan1993 Is there any feedback or anything I can do?

[2018-01-18 02:41] janardhan1993 commented on #2018
@weickdev Can you please share the logs when server is blocked. It would be great if you can share a way to reproduce this issue

[2018-01-18 03:17] pawanrawal commented on #2016
This is more of a kubernetes question than an issue with Dgraph. I had a look at this and here is what I found out.

[code]

In the commands above, its a not a good idea to use `$(hostname -f)` because pods running a DaemonSet can't be accessed from other pods using their hostname. The section about [Communicating with Daemon Pods](https://kubernetes.io/docs/concepts/workloads/controllers/daemonse

[2018-01-18 03:45] pawanrawal opened #2030 "Document how to start Kubernetes cluster with data loaded by bulk loader"
We should add instructions on how to bootstrap a Kubernetes cluster using data that was already loaded using `dgraph bulk`. This would involve modifying volumes attached to the pods.

[2018-01-18 04:31] pawanrawal opened #2031 "Leader election takes > 2 mins after a node in a 2 node cluster restarts"
1. Start Zero and 2 Dgraph servers

[code]

2. Now kill anyone Dgraph server and restart after 30 seconds.

Both Servers start their own election process which goes on for 2 mins before leader election is successful again.

[code]

Logs on the other server are also similar. A build which demonstrates the issue https://travis-ci.org/dgraph-io/dgraph/builds/330171114

[2018-01-18 04:37] weickdev commented on #2018
Reproduce steps:

1.  run zero: `dgraph zero --port_offset -2000`
2. run server: `dgraph server --memory_mb 20480 --zero localhost:5080`
3. run my java code below, it makes vertices data and insert them to dgraph in multi-threads.
[code]

After a while, the code is blocked. At this time, I can't do any query or drop operations. The server log is:
[code]
The zero log is:
[code]

[2018-01-18 04:50] pawanrawal commented on #2018
@weickdev Thanks for sharing a way to reproduce this. Could you also share the specs (RAM, Disk and the CPU) of the Dgraph Server? Are you using an SSD?

[2018-01-18 05:01] #2031 closed

[2018-01-18 08:01] catroot commented on #2027
When i start dgraph zero:
[code]
after deleting p and w directories starting dgraph serverm, the zero says:
[code]
and server says:
[code]
So, i can`t start dgraph.

[2018-01-18 08:11] weickdev commented on #2018
@pawanrawal I find the it runs out of memory:
[code]
Is memory must have the same size as the data size?

[2018-01-18 08:20] janardhan1993 commented on #2027
You need to delete zw directory of zero also.

[2018-01-18 08:22] catroot commented on #2027
Ok. That kills all my data, but works.
Is there a way to rejoin a dead node without lost anything?

[2018-01-18 08:38] catroot commented on #2027
Replaying the trick kills dgraph again.
version 1.0.2 right?

[2018-01-18 09:42] weickdev commented on #2018
@pawanrawal I tune the RAM size of graph server, now it only use 50% of the total RAM. It can work now. But the insert speed seems slow too, about 1000 vertices per second. There is any way to increase the insert speed?

[2018-01-18 09:50] pawanrawal commented on #2018
@weickdev Could you also share the specs (RAM, Disk and the CPU) of the Dgraph Server? Are you using an SSD?

[2018-01-18 09:58] weickdev commented on #2018
@pawanrawal
I am not use SSD. the specs of the Dgraph Server is:
[code]
[code]

[2018-01-18 14:07] munisystem opened #2032 "Dgraph server terminate when receive predicates"
### version

[code]

### spec
OS: Coreos beta 1632.1.0
RAM: 32GiB (aws ec2 instance m4.xlarge)

### How do I run dgraph

[code]

1. Up zero and  execute bulk loading
	* `dgrpah bulk -s schema -r rdf --zero_addr <private_ip>:5080 --http localhost:8000 --reduca_shards 1 --map_shards=2`
1. Up dgraph server  in same instance
2. Add two nodes to above cluster
	* . Each instance running zero and server

[2018-01-18 14:44] mbn18 opened #2033 "On startup, server update predicates more then once"
###  version of Dgraph are you using?
1.0.2

### hardware spec (RAM, OS)?

Intel I7 CPU, 16GB RAM, SSD, Fedora-27 64x

### Steps to reproduce the issue

- Load the users data from the tutorial
- Load the comapny data from tutorial
- Load the 1milMovies data from tutorial

Restart server
`docker exec -it dgraph dgraph server --bindall=true --memory_mb 2048 --zero localhost:5080`

### Expected behav

[2018-01-18 16:33] thetuxedo opened #2034 "Best practice to load data exported by Neo4j"
- What version of Dgraph are you using?
1.0

- Questions on data loading
I have some data which is exported from neo4j by my colleague and I want to load into Dgraph
Basically I have two csv files, one for node, one for relation.
Node File is like:
[code]

Relation File:
[code]

- Expected behaviour and actual result.
Questions:
1. What is the best way to load these files? The files are huge, and

[2018-01-18 20:09] janardhan1993 commented on #2027
@catroot You will loose the data when you delete p and w directory, so deleting zw directory shouldn't matter right ?
You can just restart(without deleting any folders) and the dead node should work again.
I issue has been fixed in master, so you can get the nightly dev build to test.
`curl get.dgraph.io | bash -x nightly`

[2018-01-18 20:11] janardhan1993 commented on #2018
@weickdev You can try doing the mutations concurrently, i saw your code and you were using only two threads. Try sending more requests.
Dgraph works best on SSD rather than HDD.

[2018-01-18 20:16] janardhan1993 commented on #2033
@mbn18 Can you please list down the steps you did to load data and alter schema before restart ?

[2018-01-18 20:21] janardhan1993 commented on #2032
Did the new instance went oom while receiving predicates, can you please share the heap profile of the new instance before going oom if you have a way to reproduce the issue.
we do throttle predicate move so it shouldn't cause the server to go oom. We will try to reproduce the issue.

[2018-01-18 22:30] alexmilowski commented on #2003
The service configuration will still route inconsistently.  Because all the pods share the same label, some requests will get routed to the wrong place (e.g., a server request on 8080 can route to dgraph-zero pod).

I still had to separate the services and change the service labels.  See the example below:
[code]

[2018-01-18 22:31] llonchj opened #2036 "ratel UI improvement proposal"
## Problem

![actual](https://user-images.githubusercontent.com/355646/35124801-82456e92-fcfb-11e7-86dc-8f55479a905c.png)

## Proposal

This is not a serious proposal but a proof of concept for a more optimized UI.

![proposal](https://user-images.githubusercontent.com/355646/35124804-8749c1cc-fcfb-11e7-9f3c-0c821c0cf948.png)

[2018-01-18 22:33] alexmilowski commented on #2003
With that change, It worked.

[2018-01-19 00:01] ptpaterson commented on #933
Graphcool just released graph.cool 1.0 under the banner [Prisma](https://github.com/graphcool/prisma)

They are looking to get connectors made for many different databases, including Dgraph.

To satisfy the issue, either Dgraph needs to natively handle standard GraphQL queries, or GraphQL queries should be "compiled" into GraphQL+/- (or other supported language e.g. gramlin, cypher).  Regardless,

[2018-01-19 00:14] pawanrawal commented on #2034
There are many ways to load this data into Dgraph.

1. If this is only for initial bulk load, you could you use [`dgraph bulk`](https://docs.dgraph.io/deploy/#bulk-loader) command. For that, you would have to convert the data into RDF format. This is the fastest way to perform bulk initial import into Dgraph. Your data in RDF format would look something like

[code]
Note - The ids generated by Dgr

[2018-01-19 01:01] munisystem commented on #2032
ok.

[pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz](https://github.com/dgraph-io/dgraph/files/1644958/pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz)
[pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.002.pb.gz](https://github.com/dgraph-io/dgraph/files/1644959/pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.

[2018-01-19 07:12] JimmyCheng opened #2037 "Support field functions"
In SQL language, we can apply simple functions to the fields, including create new fields.
e.g.
[code]

In DGraphQL, is it possible to support following kind of query?
[code]

[2018-01-19 08:26] catroot commented on #2027
Thank you, @janardhan1993 It seems the bug has gone.

[2018-01-19 13:20] catroot opened #2038 "CPU idle usage"
dgraph server eats 140% cpu on dual core system after loading films data.
Is this normal dgraph idle behaviour?

[2018-01-19 13:33] gedw99 commented on #2009
This is exactly the same issue I hit with dgraph and was forced to use bleve.

Integrating facets like described above would be highly useful.

Is there a performance reason it was not done this way or was it more to do with preimagined use cases for dgraph.

[2018-01-19 14:03] mbn18 commented on #2033
@janardhan1993 , Its kinda straight forward

### [Intro page 3](https://tour.dgraph.io/intro/3/)

    name: string @index(term) .
    age: int @index(int) .
    friend: uid @count .

### [Intro page 4](https://tour.dgraph.io/intro/4/)

    {
      set {
        _:michael <name> "Michael" .
        _:michael <age> "39" .
        _:michael <friend> _:amit .
        _:michael <friend> _:sarah .

[2018-01-19 14:25] MichelDiz commented on #933
Just a fast comment - I think this is the recommended approach to be considered. https://docs.dgraph.io/howto/#giving-nodes-a-type
[code]

[2018-01-19 16:24] ptpaterson commented on #933
Thanks @MichelDiz!

Would it be prudent to create `type.[type name]` predicates (e.g. `type.User` or `label.User`, `kind.User` whatever) to avoid potential conflicts.  Running it through my head, it seems like it makes sense for a schema to have other names for predicates like `owner` , `friend`, `author` that point to a node which `has(User)`.  Seems like a nitpick, but I am trying to propose a f

[2018-01-19 17:42] ptpaterson commented on #933
Possible TypeDefinitions object below.  I think it would be better if it followed the GraphQL schema AST object format more precisely.  Also not included interfaces, indexes, etc., but I just wanted to get this out there.

example schema schema

    TypeDefinitions: default .
    Type: uid .
    Type.Name: string .
    Field: uid .
    Field.Name: string .
    Field.Type: string .
    Facet: uid .

[2018-01-19 17:54] ptpaterson commented on #933
Facets of uid predicates vs. facets of scalars presents a dilemma.  See standard GraphQL query:

    query {
      Profile(uid: "0x1234") {
        age
        verified
        verifiedSince # verified facet, flat
        favoriteMovie {
          rating # Dgraph would put facet here
          otherMovieThings
        }
        favoriteMovieRating # should GraphQL ask for facet here instead?

[2018-01-19 19:05] thetuxedo commented on #2034
thanks for the prompt reply. I will try.

[2018-01-19 19:05] #2034 closed

[2018-01-19 19:37] alexmilowski opened #2039 "ratel can't connect w/ trailing slash on URL"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0.2

- Have you tried reproducing the issue with latest release?

Yes

- What is the hardware spec (RAM, OS)?

N/A

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Change the database URL and use a trailing slash (e.g., http://localhost:8080/)
2. Check the console and you'll

[2018-01-19 22:07] MichelDiz commented on #933
@ptpaterson are you trying this actually with Prisma and Digraph? or just imagining/theorizing? Sounds pretty cool. And if it's, how do you doing? how is your environment of tests?

[2018-01-19 22:25] MichelDiz commented on #933
Anyway this logic could be applied to creating a Connector with Primas. Even independent of native Dgraph support. It could be a generic Connector within the Primes that you use from Dgraph-JS.

These logical definitions could have a "persistent" format in the Connector. So every record made by the Connector would keep a pattern. And when the Prisma Dgraph Connector requested the data again, it wo

[2018-01-21 15:57] Pixdigit opened #2040 "Can not run dgraph after install"
I installed dgraph via `curl https://get.dgraph.io -sSf | bash` on my bananapi (Based on Debian 8 jessie). But when I run `dgraph` it returns the following error message:
`exec format error: dgraph` when using zsh and
`/usr/local/bin/dgraph: 1: /usr/local/bin/dgraph: Syntax error: "(" unexpected` when using sh.

[2018-01-21 22:39] JimmyCheng commented on #2001
look like I have requested the same feature in "Support field functions #2037".

[2018-01-21 22:46] pawanrawal commented on #2038
This is most probably due to `PurgeOlderVersions` function which gets called every one minute and is CPU intensive. We have changed the implementation for it and we should be able to rule out this factor from the next release. I'd say wait for the next release and see if the problem still exists.

[2018-01-21 22:50] pawanrawal commented on #2037
I am assuming that here you want all nodes with `type` DP but want the status value to be returned only if it equals `At Risk`?

[2018-01-21 22:52] #2027 closed

[2018-01-21 23:05] pawanrawal commented on #1967
@gpahal Can still see it on `https://play.dgraph.io` which has `v1.0.2` deployed.

Try this query

[code]

and notice how the colours of the label don't match the colour of the nodes.

[2018-01-21 23:25] JimmyCheng commented on #2037
Here the fields "issueBehindSchedule", "noSupplyDate", "atRisk" are calculated fields according to the existing fields. the value here are "true" or "false". There are some other requirements like simple inline string, date functions.

[2018-01-22 00:21] janardhan1993 commented on #2032
This high memory utilization was due to the proposals kept in memory. Raft keeps the proposals until snapshot happens. We used to keep last 1000 entries without including them in snapshot. Since we have incremental snapshots now we can do snapshot aggressively.
Each predicate move proposal consumes 32mb, so it was a lot of memory.

[2018-01-22 01:02] pawanrawal commented on #2040
I tried running Dgraph on a `debian:jessie` Docker image and it worked without any problems. I don't have access to a native installation to a debian, so I am afraid I won't be able to help with that. This is what I did.

1. Get the latest debian image and run bash in a container
[code]

2. Download and run Dgraph within the container

[code]

[2018-01-22 01:05] pawanrawal commented on #2014
Verified that this has been fixed.

[2018-01-22 01:05] #2014 closed

[2018-01-22 01:08] #1957 closed

[2018-01-22 01:24] sboorlagadda opened #2042 "[Proposal] Standardize ports across Dgraph node types."
Dgraph cluster consists of different node types zero (and its peers) and servers(and its peers). Each node type uses a set of ports and there are several deployment options for users to setup the cluster. The current Dgraph implementation uses default ports across node types and provides `--port_offset` command option to override the default port, this makes it difficult for users when setting up

[2018-01-22 05:19] pawanrawal commented on #1989
I have been investigating this. This is the default behaviour of Docker. To confirm that the container was killed due to OOM, the stopped container can be investigated as mentioned at https://stackoverflow.com/questions/38112968/how-to-know-the-reason-why-a-docker-container-exits.

[2018-01-22 05:19] #1989 closed

[2018-01-22 05:30] gpahal commented on #1967
I did not push the changes. Now, it's working.

[2018-01-22 05:34] pawanrawal commented on #1985
Added support for this in master as of 1390aaf86aa31b50ea3f9900d943cba118775b9e.

[2018-01-22 05:34] #1985 closed

[2018-01-22 05:37] gpahal commented on #2039
Fixed the issue. It should be reflected on your ratel dashboard now. If it doesn't work try purging your browser's cache.

[2018-01-22 05:38] gpahal commented on #1973
A schema tab has been added to the dashboard that you might useful.

[2018-01-22 05:48] #2039 closed

[2018-01-22 13:16] kshitij10496 commented on #1993
@pawanrawal Would it be fine by you if I take this up?

Also, are we looking to add the `version` as a CLI flag (similar to `--help`) or a subcommand (similar to `server`)?

[2018-01-22 22:42] pawanrawal commented on #1993
Hey @kshitij10496

Sure take it up! I think its best to add it as a subcommand to keep it similar to how Go has it. We'd want the following to be part of the output. See the output of `dgraph` for example.

[code]

[2018-01-22 23:13] pawanrawal commented on #2040
I checked and yes ARM is not supported for now because of some assembly code that we use within Dgraph. Unfortunately, getting Dgraph to work on ARM is not out the priority for now. Feel free to try out Dgraph on amd64 architectures.

[2018-01-22 23:13] #2040 closed

[2018-01-23 04:01] kshitij10496 commented on #1993
Definitely! It makes sense to have uniformity across Go tools.

[2018-01-23 05:34] pawanrawal commented on #2016
@jimanvlad were you able to get your cluster up?

[2018-01-23 05:36] munisystem opened #2046 "Dgraph server crashes with out of memory when use huge data generated by bulk loader"
### Version

[code]

Also happened v1.0.2

[code]

### Spec

OS: Coreos beta 1632.1.0
RAM: 32GiB (aws ec2 instance m4.xlarge)

### How do I run Dgraph

Use Docker.

[code]

I tried to up server using huge data generated by bulk loader.
But server is crashed with out of memory while initializing badger.

<details>
<summary> bulk loader log </summary>

[code]

</details>

---

<details>

<summary> l

[2018-01-23 05:38] munisystem commented on #2032
I see.

[2018-01-23 05:43] pawanrawal commented on #2046
@munisystem

Could you try to run `dgraph server` with `--posting_tables` set to `memorymap` like below.

[code]

By default, badger loads up all the keys in memory and it looks like you have a lot of keys, so memory mapping the sst files would be a better option in this case.

[2018-01-23 05:50] janardhan1993 commented on #2018
I was able to get good speed on ssd.
[main] INFO DgraphInsertTest - save 10000 items costs 3321ms

Even on hdd you were getting 2000 objects per second, each object maps to multiple edges (4 edges + index), so it's actually 16000 rdfs per second.

[2018-01-23 05:50] #2018 closed

[2018-01-23 06:14] munisystem commented on #2046
I ran server forwarding your advice and then this problem has gone away.
Thank you.

[2018-01-23 06:14] #2046 closed

[2018-01-23 09:04] jimanvlad commented on #2016
Hi Pawan,

Yeah managed to get a 3 server, 1 zero cluster up using stateful sets and
node anti affinity. We’re currently having some speed issues vs. The local
setup, but for the purpose of this issue I think it should be closed.
On Tue, 23 Jan 2018 at 05:34, Pawan Rawal <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-24 00:23] #2016 closed

[2018-01-24 00:49] pawanrawal commented on #1958
@dpeek are you still seeing this issue with the latest version?

[2018-01-24 00:55] #2033 closed

[2018-01-24 01:01] pawanrawal commented on #2024
Are you still facing this issue with `v1.0.2` @jzhu077

[2018-01-24 04:17] pawanrawal opened #2047 "Export count mismatch after predicate move"
Loaded 21 million RDF's using the bulk loader with `reduce_shards` as 3. Then started up three Dgraph instances. The export count is correct initially but starts going down after predicate move has happened.

[2018-01-24 18:15] Levatius opened #2048 "Transaction conflict behaviour"
- Version:
Dgraph 1.0.2, python client included in files

- Reproduced issue on latest:
Yes

- Hardware specs:
16GB, Intel Core i7-6560U @ 2.20GHz, Windows 7 (64-bit)

- Steps to reproduce:
Run multiple instances of the provided test rig (scripts/concurrency_rig.py) in Python 3.6 with varying input parameter values

- Test 1:
In two terminals, run _python concurrency_rig.py 0.1_ on both where '0.1

[2018-01-24 18:19] Levatius commented on #2048
@jimanvlad

[2018-01-24 19:16] alvarolm opened #2049 "Document isolation level of ACID property"
I haven't read a lot, but it seems that dgraph provides "serializable" level of isolation, according to the bank transfer example in https://discuss.dgraph.io/t/releasing-distributed-transactions-in-v0-9-dgraph-blog/1962, https://github.com/dgraph-io/dgraph/blob/99cac529e608efc1c879e2195a64b567c1b6d145/contrib/scripts/transactions.sh#L27, https://github.com/dgraph-io/dgraph/blob/master/contrib/int

[2018-01-24 20:32] jimanvlad commented on #2048
With the same script above, it’s interesting how all transactions interrupt
when any of the clients commits. This makes scaling the throughout by
adding concurrency quite difficult.
On Wed, 24 Jan 2018 at 18:19, Levatius <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-24 22:07] janardhan1993 commented on #2049
Dgraph implements snapshot isolation(https://en.wikipedia.org/wiki/Snapshot_isolation), it's a bit weaker guarantee than "serializable" level of isolation.
But for most of the cases you can avoid the write skew issue present in snapshot isolation by writing to a common key(like index) to trigger write-write conflict. Please have a look at the Wikipedia article to get more details about the isolati

[2018-01-24 22:20] #2049 closed

[2018-01-24 22:25] janardhan1993 commented on #2004
Closing this, please reopen if you still see the issue on master.

[2018-01-24 22:25] #2004 closed

[2018-01-24 22:25] janardhan1993 commented on #1903
I couldn't reproduce this in latest version, please reopen it if you still see the issue.

[2018-01-24 22:25] #1903 closed

[2018-01-24 22:26] janardhan1993 commented on #1896
Fixed in master, we are no longer simulating zero in query_test

[2018-01-24 22:37] janardhan1993 commented on #2048
All transactions started before a client commits will abort if they try to modify the same keys(posting lists). Concurrency wouldn't help if all clients want to modify the same data. Transactions would ensure that they run serially to avoid conflicts.

In you case adding sleep somehow causes the transactions not be concurrent i guess.

[2018-01-24 22:56] jimanvlad commented on #2048
A few points:

1. There are multiple mutations within a transaction (5000) and each
transaction takes ~10s before it commits. For example client A mutates
a,b,c and d. Client B mutates e,b,f, and g. If client A commits, and client
B was about to mutate f, it would fail because one of the mutations (b) was
contained in client A. Client B would still commit e though - this is weird
behaviour.

2. It

[2018-01-24 22:58] janardhan1993 commented on #2048
Will have a look into it, seems like something weird is going on.

[2018-01-25 04:05] alvarolm opened #2051 "Add notice about snapshot isolation weaknesses"
I believe that having "bank" like testing and indirectly promoting distributed transactions as safe with out mentioning edge cases its very misleading (https://github.com/dgraph-io/dgraph/issues/2049).

It should be noted in a non discrete manner, explicitly, before mention the benefits of the current snapshot isolation implementation the weaknesses or edge cases that lead to inconsistencies and o

[2018-01-25 12:35] unknown321 opened #2052 "Dgraph live loader reports unexpected results"
According to the tour (https://tour.dgraph.io/moredata/1/), `dgraph live` reports back exactly how many triples were loaded. However, it reports the number of rdf lines processed, not the amount of triples. I might be wrong, but according to the standard (https://www.w3.org/TR/rdf-plain-literal/), empty strings can be considered literals and are probably counted by `live` (but not recorded in data

[2018-01-25 13:06] mbn18 commented on #2033
@janardhan1993

Will try again. It is strange that sending twice the same mutation create two seperate predicates with same name.
I would expect the second to alter the first (or rejected)

[2018-01-26 08:54] #2021 closed

[2018-01-26 08:57] yupengfei commented on #2021
I think there is something wrong with my code, I create the same edge twice at the same time, after reimplement the logic, everything goes well, so sorry to bother.

[2018-01-26 15:43] ShalokShalom opened #2053 "Update homepage (1.0)"
https://blog.dgraph.io/post/benchmark-neo4j/

[2018-01-26 16:52] Levatius opened #2054 "Dgraph cluster stuck"
Hi there,

I have a question regarding my dgraph cluster (v1.0.2) seeming to freeze (it is unable to process any more operations; queries, mutations, commits).

In my cluster, I have three server instances running off a single zero. This is the log from one the servers, however similar logs can be found on the other two as well:

The zero logs:

It seems that the zero is having trouble performing

[2018-01-26 16:52] Levatius commented on #2054
@jimanvlad

[2018-01-26 18:10] volinthius opened #2055 "Wiki content on recurse query is missing text"
The section on recurse query is missing text after:

See [https://github.com/dgraph-io/dgraph/blob/master/wiki/content/query-language/index.md](url).

[2018-01-28 22:02] tigp opened #2057 "Installation failed"
Hi guys, first of all would like to say that the projects is outstanding.

One thing though, the mktemp template is missing in the installation script https://get.dgraph.io/, and installation stops on that line.

[2018-01-28 23:03] janardhan1993 commented on #2057
@tigp Which platform/OS are you using ? It seems like that mktemp command is not present on your OS.

[2018-01-28 23:06] tigp commented on #2057
@janardhan1993, I'm using OSX Mavericks. I had an error ``usage: mktemp [-d] [-q] [-t prefix] [-u] template ...
       mktemp [-d] [-q] [-u] -t prefix``` and I changed the line from ```temp_dir=$(mktemp -d)``` to ```temp_dir=$(mktemp -d /tmp/temp.XXXX)```

[2018-01-28 23:07] janardhan1993 commented on #2055
Thanks for reporting the typo, the example was present above. I have fixed the docs to reflect the same.

[2018-01-28 23:07] #2055 closed

[2018-01-28 23:12] janardhan1993 commented on #2057
Apparently mktemp doesn't work on osx without specifying the template. (https://unix.stackexchange.com/questions/30091/fix-or-alternative-for-mktemp-in-os-x)
Thanks for reporting this, we will fix our script.

[2018-01-28 23:16] tigp commented on #2057
@janardhan1993 happy to help!

[2018-01-29 03:48] pawanrawal commented on #2047
This was caused by three different small issues which have been fixed in 7131e04a3090f389868a7f938fcb6c4954e21f31, 6da3c7d73960ad99d227c81e60d027590344c962 and 85af112124dfe2c582f13065cc18dab16bbaf094.

[2018-01-29 04:05] pawanrawal commented on #2052
Hey @unknown321

Thanks for the issue. Dgraph live is supposed to print the total number of RDF's processed but it was instead printing `num(transactions_done) * batch_size`. I have submitted a fix in d972318a12ad7a4a09091ccbcc0abea73c3bc05d and it would be part of the next release.

[2018-01-29 04:05] #2052 closed

[2018-01-29 06:40] #1967 closed

[2018-01-29 06:40] #1973 closed

[2018-01-29 22:00] neilpa opened #2060 "Changing schema from scalar to list type can't find existing value"
I was experimenting with modifying schemas and found an issue with changing from a scalar type to a list (at least for strings). After modifying the schema AND adding additional values, `eq` queries for the initial value no long return results. For example

Create the initial predicate
[code]

Add some data as normal
[code]

Then change to a list type
[code]

Expected results are returned still w/

[2018-01-29 22:08] pawanrawal commented on #2060
Sounds like a bug to me.

[2018-01-29 22:14] neilpa commented on #2060
One more thing I noticed, `delete` mutations aren't working as expected either

[code]

The above gets a successful response

[code]

But it's still showing up in the results

[code]

[2018-01-29 22:41] janardhan1993 commented on #2057
Fixed the script.

[2018-01-29 22:41] #2057 closed

[2018-01-29 23:58] pawanrawal opened #2061 "Dgraph server panics when doing a Ctrl + C and when Zero is not available."
[code]

[2018-01-30 02:09] janardhan1993 opened #2063 "Team City build fails in TestClusterSnapshot"
https://teamcity.dgraph.io/viewLog.html?buildId=305&buildTypeId=Dgraph_Ci&tab=buildLog&_focus=2915

[2018-01-30 05:31] pawanrawal commented on #2054
Hey @Levatius

I am investigating this. Do you get any errors from your queries or mutations while this is happening or they don't return any results?

[2018-01-30 06:33] jimanvlad commented on #2054
They don’t return any results, the query just run forever.
On Tue, 30 Jan 2018 at 05:31, Pawan Rawal <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-30 09:21] robertmeta opened #2066 "IRC Gateway for Slack"
This is a request for turning on the IRC gateway for Slack so people who prefer IRC clients can use them over using slack directly.  The setup is simple: https://get.slack.help/hc/en-us/articles/201727913-Connect-to-Slack-over-IRC-and-XMPP

[2018-01-30 23:09] pawanrawal commented on #2066
I have enabled IRC. @robertmeta please give it a try now.

[2018-01-30 23:09] #2066 closed

[2018-01-31 01:31] janardhan1993 commented on #2038
@catroot Can you please try the latest master, the issue should be resolved now.

[2018-01-31 01:31] janardhan1993 commented on #1938
Fixed in master, @mbn18 Can you please try using master.

[2018-01-31 03:22] sboorlagadda commented on #2063
From the stacktrace:
[code]
I see that retrieveSnapshot (from draft.go) is looking for a connection pool to the group leader
[code]
But then `groups().Leader()` blew with "No connection exists", so I looked into when a connection is made to other members.

From groups.go `func StartRaftNodes(walStore *badger.ManagedDB, bindall bool) {` we do three things....
1) Retrieve state from zero
2) Connect

[2018-01-31 06:26] janardhan1993 commented on #2063
@sboorlagadda I think it's safe to do them outside go routine. I am not sure why there were done in goroutine.

[2018-01-31 06:48] llonchj opened #2068 "Errors should be informative"
Error `tok.go:251: Long text for exact index. Consider switching to hash for better performance` should be more informative. Which term is referring to?

[2018-01-31 07:04] catroot commented on #2038
@janardhan1993 false close. Issue doesn`t solved. Now CPU consumption measures from 100 to 120 % by `dgraph server` with no requests for 10 minutes and continues.
My data sizes are:
[code]
Disks are ssd and can read/write all data for a second.
Is there a way to see some debug info from server - what happening on them?

[2018-01-31 07:12] jimanvlad commented on #2038
We’re also experiencing this. One of the servers in our clusters suddenly
goes to ~100% usage and never comes off it, even if we stop writing into or
reading from the graph.

On Wed, 31 Jan 2018 at 07:04, catroot <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-01-31 07:21] mbn18 commented on #1938
@janardhan1993 ,
By master you mean the latest docker that is tagged as master?

[2018-01-31 08:29] robertmeta commented on #2066
Works like a charm @pawanrawal thanks!

[2018-01-31 08:46] catroot commented on #2038
109 minutes and counting.. With no disk activity. Looks like some kind of the race condition.

[2018-01-31 08:57] janardhan1993 commented on #2038
@catroot: Did you build the binary from master of pulled from docker/nightly script. Binaries and docker image wasn't updated. I triggered it now, should be done in another 30 mins

Can you please share the cpu profile if you are using the latest build.

[2018-01-31 09:03] janardhan1993 commented on #2038
Can you please try building from source and loading the data, there seems to be some problem in publishing the binary, will have a  look tomorrow.

[2018-01-31 09:52] unknown321 opened #2069 "Cluster monitoring metrics"
Currently (v1.0.2), `/state` endpoint doesn't provide enough information about real state of the cluster:

  - List of nodes is always the same, even if some nodes have lost connection to the cluster - there is no node state
  - Lack of synchronization status (ie number of last transaction on each node)
  - No simple message with cluster status, for example: `green` when all nodes are online, `yel

[2018-01-31 11:24] catroot commented on #2038
@janardhan1993 cant build from source:
github.com/dgraph-io/ratel: No such file or directory
failed dependency

[2018-01-31 13:03] janardhan1993 commented on #1938
Yeah dgraph:master, please pull again it has been updated just now

[2018-01-31 13:03] janardhan1993 commented on #2038
I have updated the binaries(nightly) and docker (dgraph:master)

[2018-01-31 13:29] unknown321 commented on #2047
I think the issue is not resolved.

[code]

Cluster configuration: Docker swarm, 3 server nodes, 3 zero nodes, replication x3. `docker-compose.yml`:

[code]

Steps to reproduce:

[code]

220 entries are missing when 100,000 entries were submitted. I was able to reproduce the issue three times in a row, but on the fourth try export was complete. Each try was ran without any data in volumes (removed

[2018-01-31 13:42] janardhan1993 commented on #2048
I see some issues in the code, if mutate throws error then client should abort the transaction. but in the code i see that irrespective of error code is trying to commit transaction. This is causing the weird behaviour.
After fixing that i think you shouldn't be seeing this weird issues.

[2018-01-31 14:43] catroot commented on #2038
emm... `Downloaded binaries checksum matched with latest versions checksum`
Nightly.

[2018-01-31 15:56] Levatius commented on #2048
Indeed, we were trying not to lose mutations we had processed by committing what we had. It is wrong to do this however since this went against the whole point of using the transactions (atomicity).

I have made such adjusts to our pipeline and have been able to drop the sleep step.

Thanks for your help, I will now close this issue.

[2018-01-31 15:56] #2048 closed

[2018-01-31 18:24] jimanvlad commented on #2038
@manishrjain
![Grafana CPU](https://imgur.com/a/hDgnH) from Grafana. Will provide CPU dump tomorrow as well as discussed.

[2018-01-31 21:56] jzhu077 commented on #2047
+1 to issue not solved.
I still hit predicate undefined error after predicates are moved.

[2018-02-01 01:02] janardhan1993 commented on #2038
@catroot Thanks for verifying. We recalculate the downloaded binaries checksum and check it against the latest checksum we have on server. That message is confusing so i removed it from the script, we print only if it doesn't match now.

[2018-02-01 01:02] #2038 closed

[2018-02-01 01:06] pawanrawal opened #2070 "Use NewTxnPrefixIterator for performing exports"
This [iterator](https://github.com/dgraph-io/dgraph/blob/master/posting/mvcc.go#L522) combines the keys on disk with those in memory. Otherwise, keys that are not on disk are not exported.

[2018-02-01 01:08] pawanrawal commented on #2047
@unknown321 While performing an export, we go over the data that's on disk and all keys might not have made it to disk. So if you restarted the server (which flushes the keys to disk), your export should return the correct count. I'll change the implementation to use a new iterator which combines the keys in memory with those on disk. I have created another issue for this https://github.com/dgraph

[2018-02-01 01:32] janardhan1993 commented on #2063
Fixed in master.

[2018-02-01 01:32] #2063 closed

[2018-02-01 04:10] pawanrawal commented on #2060
I have submitted a fix in 629f3a7ba0b18447ccfcecb7dd9c0a0ca26d1d96 and it would be part of the next release.

[2018-02-01 04:10] #2060 closed

[2018-02-01 04:31] pawanrawal opened #2072 "Node can incorrectly start as a new node even though it was part of the cluster."
https://discuss.dgraph.io/t/unable-to-run-dgraph-in-a-multi-node-kubernetes-cluster/2147/39

From the discussion above, if a node became part of the cluster but crashed before writing Hard State or Snapshot to WAL it would start as a new node which is not correct. This is a problem because the cluster cannot get into a healthy state.

[2018-02-01 05:05] janardhan1993 commented on #2061
Fixed in master.

[2018-02-01 06:56] catroot opened #2073 "Python 3 grpc connection"
I've played a little with old python connector to dgraph... updated .proto python files.
The grpc reports `grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.UNIMPLEMENTED, unknown service Dgraph)>`

According to the .proto definitions - service name must be Dgraph...
In file pydgraph/utils/loader.py
[code]
'/Dgraph/Query' is the proper endpoint or must be something di

[2018-02-01 07:22] catroot commented on #2073
Fugured out the proper service name : '/api.Dgraph/Query'

[2018-02-01 08:17] catroot commented on #2073
Something wrong with mutation:
[code]
ends with:
`grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.UNKNOWN, invalid character 's' looking for beginning of value)>`
is that means that ParseMutation didnt catch the `if item.Typ == itemMutationOp` check?
Why just 's' instead of 'set'?

[2018-02-01 10:03] samhuss commented on #1938
I'm having the same cpu issue, however I couldn't find dgraph:master, only dgraph/dgraph is available. Would you please point to the correct one marked as master?

[2018-02-01 10:13] catroot commented on #2073
Found https://github.com/jimanvlad/pydgraph very useful.

[2018-02-01 11:20] munisystem opened #2074 "Crash server when failed to convert facet value"
I use `api.Faset{}` to improve mutation performance with go client.
Just as follow.

[code]

But this code cause server to crash.
( Valuable of `api.Faset.Value` is invalid. Actually, should be used `time.Now().MarshalBinary()`)
Because call `log.Fatal()` when failed to convert facet value.

e.g.
https://github.com/dgraph-io/dgraph/blob/5e47b20d60ac54472f573a57cd13414fee8fe531/types/facets/utils.g

[2018-02-01 12:01] mbn18 commented on #1938
@samhuss
`docker pull dgraph/dgraph:master`

@janardhan1993
Something is broken or maybe changed since `1.0.2`

`docker run --rm -it -p 8081:8081 -p 8080:8080 -p 9080:9080 -v /home/miki/Projects/Epoch/dgraph/db:/dgraph --name dgraph dgraph/dgraph:master dgraph zero --port_offset=-2000`

	Setting up grpc listener at: 0.0.0.0:3080
	Setting up http listener at: 0.0.0.0:4080
	2018/02/01 11:53:12 node.

[2018-02-01 12:30] samhuss commented on #1938
@mbn18
Thanks, that worked

[2018-02-01 13:32] catroot opened #2075 "Join cluster fail"
I`m about to add hosts to my zero instance, but got this:

[code]

All nodes are fresh nightly builds.

Additionaly, when i pass --idx=4 parameter i got this on zero node:
[code]

[2018-02-01 14:03] unknown321 commented on #2075
Are you sure you are using right ports to connect? They were changed a couple of days ago, see https://github.com/dgraph-io/dgraph/commit/998b870f2767df889f4a5e878346f5d87d67def8. You should also post command line parameters you are using to launch the nodes.

[2018-02-01 14:10] samhuss commented on #1938
After pulling the latest from master, still having the same cpu issue and now even worse. The cpu runs in 200+ without executing any queries in the browser

[pprof.dgraph.samples.cpu.001.pb.gz](https://github.com/dgraph-io/dgraph/files/1685788/pprof.dgraph.samples.cpu.001.pb.gz)

[2018-02-01 15:15] catroot commented on #2075
Dgraph zero startup:
`dgraph zero --port_offset -2000 --my 192.168.8.172:3080`

Dgraph server startups:
`dgraph server --memory_mb 1048 --zero 192.168.8.172:3080 --my 192.168.8.172:9080`
`dgraph server --memory_mb 1048 --zero 192.168.8.172:3080 --my 192.168.8.173:9080`
`dgraph server --memory_mb 1048 --zero 192.168.8.172:3080 --my 192.168.8.174:9080`

Nowhere to stuck here.

[2018-02-01 15:52] salmana1 commented on #933
@ptpaterson

Thank you for sharing your thoughts. Do you by any chance have a sample code to share?

[2018-02-01 18:27] Levatius opened #2076 "Sample data pipeline"
Hi again,

By request, I am providing a sample version of our data pipeline to help indicate our usecase:

[sample_rig.zip](https://github.com/dgraph-io/dgraph/files/1686701/sample_rig.zip)

In a terminal, change directory to **sample_rig/scripts** and run
**python sample_process.py _connector_name_**
where _connector_name_ can take the following values:
- products
- sessions
- accounts
- devices

[2018-02-01 18:28] Levatius commented on #2076
@jimanvlad @manishrjain

[2018-02-01 21:02] manishrjain commented on #2042
In Dgraph, Grpc = 1000 + HTTP. So, in Zero, we should maintain that. To further make the difference clear, we could have these:

- Zero HTTP: 4040
- Zero Grpc: 5040

Compare to the existing:

- Server HTTP: 8080
- Server Grpc: 9080

[2018-02-01 21:25] sboorlagadda commented on #2042
Is Zero's grpc is more internal or external? I see only bulk-loader needs it, except that I consider that is more for internal cluster management & discovery.
So would it be `HTTP - 1000` (like Server's grpc-internal port)?

[2018-02-01 22:01] manishrjain commented on #2042
Ah.. That's a good point, @sboorlagadda. Agreed.

[2018-02-01 22:36] sboorlagadda commented on #2075
@catroot Are you running all the three `dgraph servers` on a single host?

[2018-02-01 22:41] pawanrawal commented on #2075
Yeah, my port should be `7080` as you already figured out @catroot.

[2018-02-02 02:35] pawanrawal commented on #2076
Had a look at the code.

1. I noticed is that you have indexes on `_created` and `_last_checked`.

[code]
These properties are present on all node types and are going to cause conflicts. I'd suggest breaking the mutate operation into two steps. In the first step, you just create new nodes corresponding to nodes that you don't find an `xid` for.
[code]

Then when you get uids for these as a result

[2018-02-02 06:12] sboorlagadda commented on #2053
@ShalokShalom Could you describe your ask?

[2018-02-02 08:08] kshitij10496 commented on #1050
@pawanrawal Would it be fine if I give this a try?

[2018-02-02 08:09] pawanrawal commented on #1050
Sure, go ahead and give it a try @kshitij10496.

[2018-02-02 08:10] farscape2012 opened #2079 "A bug in Ratel where certain responses are not handled well."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
go version go1.9.3 darwin/amd64
Dgraph version: V1.0.2 (latest)

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
Mac OS, 16GB

Checking dgraph forum https://discuss.dgraph.io/t/a-query-led-to-not-connected/2195

[2018-02-02 08:16] catroot commented on #2075
@sboorlagadda no, there are different ones.
@pawanrawal yes, it works now. But without --my option it wont:
[code]

[2018-02-02 09:14] catroot commented on #2079
![graph screenshot_1](https://user-images.githubusercontent.com/10930458/35725473-8b96a548-0812-11e8-871a-7ed3947ef863.jpg)

I found this report, but predicate got deleted.

[2018-02-02 09:15] unknown321 opened #2080 "Server node cannot rejoin the cluster after host power loss"
- What version of Dgraph are you using?

[code]

- Have you tried reproducing the issue with latest release?

Yes, this is the latest version.

- What is the hardware spec (RAM, OS)?

Three kvm machines joined in docker swarm, centos 7, 4 gigabytes of RAM each.

- Steps to reproduce the issue (command/config used to run Dgraph).

Deploy dgraph in docker swarm using the following configuration (3 s

[2018-02-02 10:36] gpahal commented on #2079
The fix for the bug has landed in the master branch.

@catroot I cannot reproduce the same issue. ratel uses raw HTTP requests and the error is about an internal grpc call. Can you file a different issue with your environment details? It seems to be different from the original issue.

[2018-02-02 10:45] catroot opened #2081 "Ratel reports errors on predicate delete"
My setup is three server node (different machines) and one zero node.
On single node setup this error absent.
![graph screenshot_1](https://user-images.githubusercontent.com/10930458/35729154-dcb5a7d8-081e-11e8-9180-5f1394b6bf53.jpg)

Tried to load dataset in to cluster:
[code]

[2018-02-02 11:41] jimanvlad commented on #2073
That won’t contain transactions though. @kochhar has a client with
transactions, but has a couple of other bugs.

On Thu, 1 Feb 2018 at 10:13, catroot <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-02-02 14:10] catroot commented on #2075
After deleting all data filders on all server and zero nodes while trying to load data again:
[code]

[2018-02-02 16:33] emhagman opened #2083 "Facet sorting issue"
**Dgraph v1.0.2
Docker (Running with 2048MB) inside instance**

I have a dataset of "profiles" and "jobs" where people know each other and can be "prospects" for a job. I am trying to find all prospects for a job and then sort them based on the "score" that is on the "prospect" facet.

Example query
[code]

The query above returns 14 nodes with `orderdesc` and only 9 nodes with `orderasc` but when

[2018-02-02 21:10] janardhan1993 commented on #1938
@mbn18, the default port for zero has been changed, it now runs at 3080 instead of 5080, so please use -zero="localhost:3080"

[2018-02-02 21:10] #2061 closed

[2018-02-02 21:11] janardhan1993 commented on #1938
@samhuss  DId you take the cpu profile when the cpu usage was high, i don't see anything except http requests in the profile, can you please send a png if possible.

[2018-02-03 07:38] catroot commented on #2075
And finally segmentation violation exception. After somehow data was loaded i leaved my cluster for a night to have some sleep and what we have on the next morning?
[code]
The node which tied to engulf all data died. Amen.

[2018-02-03 10:08] JuliardiDev commented on #1657
I have been using dgraph v0.7.7 with set the context timeout. In small data it fine, but in tons of data it will makes grpc connection was lost. How I can handle that ?

[2018-02-03 11:41] samhuss commented on #1938
@janardhan1993
unfortunately I had to figure out the new ports myself, I removed "--port_offset" option from the zero command to keep the old ports as is 5080,6080

running dgraph/dgraph:master on empty folder is not working, gives the following errors, as a work around I imported data using :latest then running :master on the same folder, which also didn't work properly

I'm using 2 docker-compos

[2018-02-03 13:39] farscape2012 opened #2084 "One of count example is not working"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.2 (latest)

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
Mac OS

- Expected behaviour and actual result.
Look at this figure. The request is not correct. This is from online tutorial (Query Language section.)
![image](https://user-images.

[2018-02-03 15:22] aryzing opened #2085 "Operator `gt` working as `ge`"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
16GB, Ubuntu 16.04 LTS

- Steps to reproduce the issue (command/config used to run Dgraph).
Issue the following query using data from the second section of the tour, "Basic GraphQL+- Feature

[2018-02-03 17:25] demamoh commented on #2085
I have also confirmed the same is happening with the lt and le operators. If you try to do
[code]
It returns results with age equal to 35.

[2018-02-04 12:06] aryzing opened #2086 "func: uid() always returns data, even if node does not exist"
Queries with `func: uid(<the_id>)` always return a node, even if the node does not exist. Is this the expected bahavior?

- What version of Dgraph are you using?
1.0.2

- Have you tried reproducing the issue with latest release?
yes

- Steps to reproduce the issue (command/config used to run Dgraph).
Issue query:

[code]

- Expected behaviour and actual result.
**Expected** The `random_node` query

[2018-02-04 18:34] aryzing opened #2087 "Reverse edges not being added despite @reverse keyword in schema"
### What version of Dgraph are you using?
1.0.2

### Have you tried reproducing the issue with latest release?
yes

### What is the hardware spec (RAM, OS)?
16GB, Ubuntu LTS 16.04

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Create a blank instance with the following schema:

[code]

2. Add the following nodes

[code]

3. Issue a query that, starting from Bob, gets al

[2018-02-04 23:13] pawanrawal commented on #2086
This is expected behaviour. Dgraph doesn't store nodes separately. We store all data for a `S P` combination together. A better way to check if a node exists will be to query for `_predicate_`. Though that would be empty again if you added and then deleted the data associated with a node.

[code]

Curious to know how do you get the random `uid` if Dgraph didn't return it and what use case does che

[2018-02-04 23:15] pawanrawal commented on #2087
The way you access a reverse edge is using `~predicate`. https://docs.dgraph.io/query-language/#reverse-edges

[code]

[2018-02-04 23:15] #2087 closed

[2018-02-04 23:26] sboorlagadda opened #2088 "Support GraphQL variables in subqueries"
*GraphQL* variables are used to pass values to queries and currently are only supported at the root level.
Supporting GraphQL variables at sub-queries may be required for some queries where users wants to supply values that they already have in hand.

For example user can retrieve an edge between two nodes if he has UIDs, like
[code]
Currently Dgraph supports GraphQL variables at root query `edge`

[2018-02-04 23:50] pawanrawal commented on #2084
Thanks for the report @farscape2012. I have updated the schema and the query should work now.

[2018-02-04 23:50] #2084 closed

[2018-02-05 00:37] jzhu077 commented on #2047
@pawanrawal I still having the same issue. Basically, what I did is to set up the dgraph cluster in kubernetes, 5 zerors and 30 servers that diviced into 10 groups, insert some data, alter the schema and run some queries, all working as expected. I leave it running as it is for a day, the next day when I try to run the same query that was working a day ago, I get `predicate foobar undefined`

[2018-02-05 00:57] pawanrawal commented on #2047
Keen to resolve this as soon as possible. I would need the answers to some questions.

Could you share the exact full error that you get? Also, do you see the predicate when you do the `schema{}` query or in the tablets section at `http://localhost:6080/state`? Do you know if it only happens for predicates that were moved or for other predicates as well? If you try the query multiple times (3-4 ti

[2018-02-05 01:28] jzhu077 commented on #2047
It's either in this format `: rpc error: code = Unknown desc = Got error: Schema not defined for predicate: ___kind. while running: name:"eq" args:"foobar"` or `Predicate ___older_sibling doesn't have reverse edge`

Yes,
[code]

No sure, the log doesn't tell which predicate is being moved.
[code]

yes, I always get one of the errors as I stated in the answer to the first question.

[2018-02-05 02:49] pawanrawal commented on #2083
Hey @emhagman

Thanks for the detailed report. That made it easy to reproduce the issue. I have pushed a fix to master at 99fdf7aa1d0299e442abbe7833882761bd941d64. It's going to be part of the `nightly` release.

[2018-02-05 03:00] pawanrawal commented on #2081
@catroot It would be great if you could share the steps to reproduce this issue.

Were you updating the `friend` edge by removing reverse/count and then encountered the error about `Could not delete predicate`? Did you try loading the `21million.rdf.gz` after you got this error or before?

[2018-02-05 03:02] pawanrawal commented on #1896
Still there https://teamcity.dgraph.io/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=366&_focus=1507.

[2018-02-05 03:07] pawanrawal commented on #1657
Ideally, you should migrate to the latest version and set the timeout according to your needs.

[2018-02-05 03:34] pawanrawal commented on #2074
This issue is reproducible when querying for a facet as `ValFor` is only called in the query path. We should have some kind of validation while mutating the facet so that this error is not encountered. To reproduce, run the mutation mentioned above and then query for the facet.

@munisystem I doubt mutation performance would improve much because of this as parsing the facet is not the bottleneck.

[2018-02-05 05:38] catroot commented on #2081
Just after join two another nodes to the old one with some data on it.
After cleaning up database, loading a few data from 21million dataset and try again - the same issue.

[2018-02-05 08:38] aryzing commented on #2086
Honestly, I don't know. I discovered this while playing with dgraph b/c I mistyped an id from a previous query. I was confused for quite some time until I realized the mistake due to there being an object with the erroneous id in the JSON response.

On my part, I made the assumption that querying for non-existant uids would either error out or return nothing, so I just wanted to confirm whether I

[2018-02-05 08:46] mbn18 commented on #1938
@janardhan1993
Tested with a `master` that pulled on feb 5. Seems to be fixed. Thanks

Also, plz fix relevant info in doc and [tutorial](https://tour.dgraph.io/intro/2/) regarding the new ports. both `zero` `5080->3080` and `dgraph-ratel` `8081->8000`.

[2018-02-05 08:48] mbn18 commented on #2033
@janardhan1993 ,

Tested again with latest `master`. Now it seems ok.

So, is it possible to create two predicate with the **same name**?

[2018-02-05 11:27] tamethecomplex opened #2090 "Cannot use same transaction for delete and set mutations"
This is an issue to track https://github.com/dgraph-io/dgraph-js/issues/21, originally submitted for the js client, but which belongs to dgraph server per @pawanrawal .

@pawanrawal , this issue happens 100% of the time on my setup.  One possible difference between your and my setups is that my dgraph server is actually hosted remotely, and network latency is pretty high (50-100ms).  I'm not sure

[2018-02-05 11:52] aryzing commented on #2087
Perhaps I did not explain myself sufficiently. To avoid turning this issue into a question, I've followed up with a more comprehensive version of this question in the [dgraph forum](https://discuss.dgraph.io/t/what-does-adding-reverse-edges-really-mean-reverse/2205). Thanks!

[2018-02-05 14:16] samhuss commented on #1938
@pawanrawal
attached docker-compose and the console output log for master pulled on Feb 2. I'm using zero without port offset to keep using 5080,6080 as usual

will try latest master of today and check whether the error still there or not

[master-log.txt](https://github.com/dgraph-io/dgraph/files/1695408/master-log.txt)

[dc-master.yml.txt](https://github.com/dgraph-io/dgraph/files/1695410/dc-mas

[2018-02-05 15:12] samhuss commented on #1938
The commands below work only when executed directly to console but never inside docker-compose (attached)

I'm using dgraph/dgraph:master updated Feb 5
still sever can not catch up with zero and gives the previous error, however currently I'm running the instance using the following commands to run :master

docker run --rm -it -p 8081:8081 -p 8080:8080 -p 9080:9080 -v ~/dgraph:/dgraph --name dgrap

[2018-02-05 16:42] sboorlagadda commented on #1938
@samhuss Could you try adding `--my=zero:5080(or 3080) & --my=server:7080` to respective commands in the compose file. The commands are working because they are all running in a single container (where the grpc addr is set to localhost if `--my` is left out and so works as server can reach zero on localhost). But when run in compose these are 3 separate containers and thus needs `--my`.

Use [dock

[2018-02-05 16:47] sboorlagadda commented on #1938
@mbn18 I will get the tutorial docs fixed. The default port of Zero is changed to 5080 from 7080 and so user does not have to provide an offset `--port_offset -2000`. When you containue to provide an offset of `-2000` then the port becomes (5080-2000=3080).

Please see #2042

[2018-02-05 16:50] mbn18 commented on #1938
@sboorlagadda , just curios. Why there is an option for an offset?

[2018-02-05 17:24] sboorlagadda commented on #1938
@mbn18 It is to avoid port conflicts when dgraph is run on a single host (non-containerized). Earlier to this #2042 change there is a single default port(7080) among zeros & servers and users has to set offset depending on their topology (no of zeros & servers), but now with this change users can still use offset between zero(and its peers) or servers(and its peers).

[2018-02-05 18:20] Levatius opened #2091 "Conflicts when ignoring index conflicts"
Hi again,

I have built a script ([simple_mutates.zip](https://github.com/dgraph-io/dgraph/files/1696287/simple_mutates.zip)) that performs a simple mutate on a single node several times per transaction. With Python 3.6, please run **python main.py** in two terminals.

There are a few questions raised by its behaviour:

1. With **ignore_index_conflict** set as **true**, we observe that transaction

[2018-02-05 18:28] samhuss commented on #1938
@sboorlagadda I've tried all the options for almost an hour with no luck, I don't know when "zero" runs it listens to ports 5080, 6080, 8080, 9080, while "server" listens to only 8080, 9080, and ratel listens to 8080.
May that explains why it runs on single container from console while not running by compose from 3 different containers
I'm giving up this as it took so much time. I believe that the

[2018-02-05 18:30] Levatius commented on #2076
Thanks for taking the time to look into this. We have finished implementing the split mutates into our pipeline but are now investigating an issue with conflicts when trying to use ignore_index_conflict=true.

Currently we are trying to replicate the issue within this rig.

[2018-02-05 18:32] Levatius commented on #2091
@jimanvlad

[2018-02-05 18:57] sboorlagadda commented on #1938
@samhuss If you are using :master tagged docker image then I see that only ratel's port is not set to new default, though its fixed in code to be 8000 (may be it is not fully rolled into the docker image). I will get this verified and fix it (if required). The ports that you listed that respective container is listening seems to be confusing and are exposed in the actual Dockerfile though zero & r

[2018-02-05 22:01] samhuss commented on #1938
@sboorlagadda
Thanks for your thorough explanation. I tried your compose with no luck, seems the problem in ratel now not in zero or server as both are running without errors.

Let's not deviate from the main problem which is the high CPU after running any query. I was advised to use dgraph/dgraph:master to avoid this issue.

I will be waiting for a fix in dgraph/dgraph:latest

[2018-02-05 22:28] pawanrawal commented on #1938
@samhuss high CPU usage could happen when running a query. The usage is high because we make good use of concurrency to get good performance out of the system. The original issue was about high CPU usage when **not** running a query/mutation.

[2018-02-05 22:34] #2086 closed

[2018-02-05 22:36] pawanrawal commented on #2033
You can't have two predicates with the same name in the schema. Usually, if you send two schema mutations for the same name, the second one would overwrite the first.

[2018-02-06 00:19] pawanrawal opened #2092 "Add an endpoint to Zero to move a tablet to a group"
Right now tablet rebalancing happens automatically. For testing purposes and to give more flexibility to the user, we could add an endpoint to force move a tablet.

[2018-02-06 08:52] neerajnagi opened #2094 "1 character named predicate are not coming in query result"
insert
<a.1> <a> "a1" .
<a.1> <b> "b1".
<a.1> <name> "name1" .

schema
name:string index@term .

query
func( eq(name , "name1"){
name
a
b
}

response will only show name in result

[2018-02-06 16:52] vitaliy-kuzmich opened #2095 "performance issue with tutorial"
when I imported movies list(https://tour.dgraph.io/moredata/1/), it ate 1 core for a couple of hours, with next messages:
 2018/02/06 16:21:42 lru.go:79: LRU cache max size is being set to 50 MB
2018/02/06 16:21:52 lru.go:79: LRU cache max size is being set to 50 MB
2018/02/06 16:22:02 lru.go:79: LRU cache max size is being set to 50 MB
2018/02/06 16:22:12 lru.go:79: LRU cache max size is being se

[2018-02-06 20:17] jzhu077 commented on #2047
@pawanrawal are you able to reproduce the issue?

[2018-02-06 21:50] pawanrawal commented on #2047
I will give it a try today.

Logs for Zero leader should tell you this.

[2018-02-06 22:31] pawanrawal commented on #2095
This log doesn't indicate any performance issue. It has been removed in master.

The current release has an issue where high CPU usage has been observed even when Dgraph is sitting idle. It has been fixed in master and would be part of next release (happens this week).

Dgraph tries to do garbage collection when the value log size exceeds 1 GB. So it will eventually decrease if there are duplicate

[2018-02-06 23:13] pawanrawal commented on #2047
@jzhu077 I was able to reproduce what I think is the issue. After predicate move, the schema is somehow not updated on replicas of a group and is only updated on the leader. A query to the follower in a group returns an error but works fine when sent to the leader. Working on a fix.

[2018-02-07 00:04] pawanrawal commented on #2047
Have a fix in https://github.com/dgraph-io/dgraph/pull/2096 which I will get merged today and update here. Does the query work fine sometimes and not at other times?

[2018-02-07 00:44] llonchj opened #2097 "another process running on port 9080"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

master

- Have you tried reproducing the issue with latest release?

yes

- What is the hardware spec (RAM, OS)?

osX 10.13.3 16Gb

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Run `docker run -it --rm -p 9080:80 nginx` to listen to 9080
2. Run `dgraph zero`
3. Run `dgraph

[2018-02-07 01:17] pawanrawal commented on #2081
Can you share the commands that you used to run Dgraph and Zero? Did you have any replicas?

[2018-02-07 02:09] pawanrawal commented on #2047
The nightly build has been updated. Can you pull the latest `dgraph/dgraph:master` image and try again @jzhu077?

[2018-02-07 02:26] munisystem commented on #2074
I guess so.
But I have other intention.
For example, cannot use JSON in case of that add a user and many friends having facets like https://docs.dgraph.io/mutations/#facets.

**this json object doesn't apply facets**
[code]

So I have to divide query adding "Alice" and friends or to use string formats.
But above approaches complicate coding and more compared to using JSON...

Sounds good.
I try to

[2018-02-07 02:28] pawanrawal commented on #2094
Tried reproducing with `v1.0.2` but couldn't. Here is what I tried.

1. Do the mutation

[code]

2. Do the alter operation

[code]

3. Do the query

[code]

Response:

[code]

Are you committing your transaction while doing the insert? What version of Dgraph are you using?

[2018-02-07 02:35] pawanrawal commented on #2074
Try with the JSON below. You don't need to add `~`. Reverse edges automatically get the same facets as the forward edges.

[code]

[2018-02-07 03:49] pawanrawal commented on #2068
A change which prints the name of the predicate has been pushed to master with 09141e903db47042fbdd9469499ba5d8841f1c3d.

[2018-02-07 03:51] pawanrawal commented on #2033
Schema alter operation doesn't change the edges. It adds/removes indexes on the edges depending on the alter operation.

[2018-02-07 06:13] llonchj commented on #2068
@pawanrawal it works! thank you very much

[2018-02-07 06:13] #2068 closed

[2018-02-07 06:25] catroot commented on #2081
No replicas.
Dgraph zero startup:
dgraph zero --port_offset -2000 --my 192.168.8.172:3080

Dgraph server startups:
dgraph server --memory_mb 1048 --zero 192.168.8.172:3080 --my 192.168.8.172:7080
dgraph server --memory_mb 1048 --zero 192.168.8.172:3080 --my 192.168.8.168:7080
dgraph server --memory_mb 1048 --zero 192.168.8.172:3080 --my 192.168.8.174:7080

[2018-02-07 06:30] pawanrawal commented on #2091
Couldn't get to this today but I'll have something on this for you tomorrow.

[2018-02-07 06:39] llonchj opened #2099 "QueryWithVars using `after:` fails"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

- Have you tried reproducing the issue with latest release?

- What is the hardware spec (RAM, OS)?

MacOS 10.13.3 16Gb

- Steps to reproduce the issue (command/config used to run Dgraph).

This is what i have

[code]

[2018-02-07 06:43] AceHack commented on #1917
This would be a great feature

[2018-02-07 06:45] pawanrawal commented on #1917
@sboorlagadda do you have experience with this or would like to take a look at it?

[2018-02-07 07:13] sboorlagadda commented on #1917
I can pick it up.

[2018-02-07 20:24] jzhu077 commented on #2047
@pawanrawal The the query always failed, as it either missing the first or the second predicate in the query I ran. sorry I haven't tested a single block query which might work sometimes if what you found is correct. I will give it a try today. Thanks for the timely update :+1:

[2018-02-07 22:06] jzhu077 commented on #2072
@pawanrawal has this been investigated? I ran into the similar issue again.
I ran a rolling update that applies the CPU resource request on the existing dgraph cluster(working).
This time 2 dgraph servers of group 6 are in crashing loop.

server-15
[code]

server 16
[code]

server 17
has similar logs to server 15

They are all belong to group 6.
Image: dgraph/dgraph:master

[2018-02-07 22:26] pawanrawal commented on #2072
Sorry, did not get a chance to investigate this yet but will do it today.

[2018-02-07 22:47] pawanrawal commented on #2047
Whats your `imagePullPolicy` setting your config file? I am wondering if all the nodes are actually using the latest `master` image? There could still be an issue with the schema but just want to make sure you are using the right image.

[2018-02-07 23:53] pawanrawal commented on #2072
This is a new issue by the way. Notice the server says it found a snapshot. So it did not restart as a new node. I am checking this.

[code]

[2018-02-08 00:08] pawanrawal opened #2100 "Handle errors from getNew function"
https://github.com/dgraph-io/dgraph/blob/master/posting/lists.go#L276:1
[code]

Errors (returned by item.Value()) from getNew() are not handled in `posting.Get`. This can cause panics like the one in https://github.com/dgraph-io/dgraph/issues/2072#issuecomment-363926866.

[2018-02-08 02:25] sboorlagadda commented on #2097
This can technically happen for any port and I think it is due to underlying implementation of `net.Listen("tcp", addr)` in macOS. When a listener is started using just `network=tcp`, on macOS it seems to bind to only IPv6 and not IPv4.

*After dgraph server starts, notice the type is just IPv6*
[code]
*When a docker container starts and binds to a host port, it seems to bind to both IPv4 & IPv6.

[2018-02-08 03:59] sboorlagadda commented on #2097
Tried several options to see whats going on....

* net.Listen("tcp", "localhost:3333") or net.Listen("tcp4", "localhost:3333")
[code]

* net.Listen("tcp6", "localhost:3333")
[code]

* net.Listen("tcp", "0.0.0.0:3333")
[code]

[2018-02-08 05:11] pawanrawal commented on #2092
In master as of 23f803c27946d12677e9dd802d74f97e63ca5c12.

[2018-02-08 05:11] #2092 closed

[2018-02-08 05:33] sboorlagadda commented on #2085
Fixed in v1.0.3

[2018-02-08 05:33] sboorlagadda commented on #2083
Fixed in v1.0.3

[2018-02-08 05:33] sboorlagadda commented on #2042
Fixed in v1.0.3

[2018-02-08 05:33] #2042 closed

[2018-02-08 06:00] sboorlagadda commented on #2097
A simple program below fails on ubuntu, where as it doesnt in macOS.

[code]

*masOS*
[code]

*Ubuntu*
[code]

[2018-02-08 10:00] bellanchor opened #2102 "dgraph server got: "unexpected meta: 0""
- What version of Dgraph are you using?
v1.0.3 (docker)

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
OS: Fedora release 26
RAM: 8G

- Steps to reproduce the issue (command/config used to run Dgraph).
    1. load the [1 million movie data](https://github.com/dgraph-io/tutorial/blob/master/resources/1million.rdf.gz)
    2. query in dgraph r

[2018-02-08 10:23] bellanchor commented on #2102
Sorry, I forgot to mention I altered the schema after loading data, as the tutorial guided:
[code]

[2018-02-08 10:26] bellanchor commented on #2102
I tried to remove all data with:
[code]
and load the data again.
When I tried to alter the schema, the server crashed with:
[code]

[2018-02-08 10:39] bellanchor commented on #2102
Weird. As I removed the docker volumes and reload data from beginning, the fatal error didn't occur.

[2018-02-08 12:43] Venryx opened #2103 "Out of date documentation on transactions"
On the page here: https://docs.dgraph.io/design-concepts/#note-on-transactions

It states:

However, just scroll up to the top of that page, and it says:

It also says Dgraph supports transactions on the home page and elsewhere. Thus, I'm assuming the section above is just leftover content that was forgotten to be removed.

If so, can it please be removed from the docs page? It was pretty confusin

[2018-02-08 16:45] sboorlagadda commented on #2103
Thanks! some of these concepts are outdated. I will get this removed.

[2018-02-08 17:57] sboorlagadda commented on #2102
@bellanchor are you using docker compose? or docker commands? Whats your topology?

[2018-02-08 23:11] pawanrawal commented on #2090
The issue is reproducible when running Dgraph in a VM. I am investigating this and will update the cause here soon.

[2018-02-09 00:10] pawanrawal commented on #2102
This was a bug in `v1.0.0` and `v1.0.1` and was fixed in `v1.0.2`. I suppose you were using data from a version before `v1.0.2` and that is why you encountered it. It should not occur for data which is freshly loaded in the current version.

[2018-02-09 01:05] pawanrawal commented on #2091
A transaction can have conflicts because of data keys and index keys. When you do the following mutation while also having an `exact/hash` index.

[code]
The data key is something like `1_xid` and the index key is something like `alpha_xid`.

1. So even if you have IgnoreIndexConflict as true, data keys still might conflict and you could get the error since you are trying to modify the same `uid`.

[2018-02-09 01:19] #2103 closed

[2018-02-09 01:22] sboorlagadda commented on #2003
Updated k8s manifest files on the master.

[2018-02-09 01:22] #2003 closed

[2018-02-09 01:25] pawanrawal commented on #2095
The first two issues should be resolved in the latest release.

[2018-02-09 01:25] #2095 closed

[2018-02-09 01:25] #2085 closed

[2018-02-09 01:26] #2083 closed

[2018-02-09 01:34] pawanrawal commented on #2075
Dgraph live stores a mapping fo `xid` => `uid` in `x` folder. Delete that as well. The above errors are caused because you deleted `p` and `w` directories on the server but did not delete the `x` directory before reloading data.

Dgraph Zero takes in a `--replicas` flag. I'd suggest reading [the docs](https://docs.dgraph.io/deploy/#understanding-dgraph-cluster) to learn more about sharding and rep

[2018-02-09 01:58] bellanchor commented on #2102
@sboorlagadda  I am using docker-compose as the tutorial suggests.

[2018-02-09 02:01] bellanchor commented on #2102
@pawanrawal  I loaded the data from v1.0.2, and upgraded to v1.0.3 with the same data volume.

[2018-02-09 02:35] bellanchor commented on #2102
@sboorlagadda  @pawanrawal  Sorry, I can't reproduce the issue now, maybe there is some data from lower version as @pawanrawal  said, which I was missing. I think we should close this issue.

[2018-02-09 02:35] #2102 closed

[2018-02-09 03:35] jzhu077 commented on #2047
I set it to always, so it always pulls the latest image. Looks like the issue has been fixed.

[2018-02-09 12:59] vitaliy-kuzmich commented on #2095
thanks a lot for fast responses.

[2018-02-09 20:45] fucking-signup opened #2106 "Date-related RDF types are not following the specs"
I have been trying to load Wikidata N-Triples dump into Dgraph and faced an error:

[code]

The problem is that XML Schema date and time formats are based on ISO 8601 with deviations:
https://www.w3.org/TR/xmlschema-2/#isoformats

More specifically:
- It treats truncated and reduced formats differently
- It allows optional minus sign for `duration`, `dateTime`, `date`, `gYearMonth`, `gYear`
- The

[2018-02-09 22:51] malzzz opened #2107 "Support arbitrary-precision numeric types"
My use-case for dgraph deals almost exclusively with 256-bit uints.  Are there any plans for bignum datatypes at any point in the future?  If not, is there possibly a way to implement that myself as a plugin?  There are some workarounds I can use, like storing raw representations as strings, but none of those are ideal, since they'd limit the range of possible queries.  Thanks!

[2018-02-10 18:03] ShalokShalom commented on #2053
Sorry, it seems like I forgot to add the screenshot:

![screenshot_20180210_190254](https://user-images.githubusercontent.com/6344099/36065027-0e1ee8a8-0e95-11e8-8fb8-b21d4ffd58c7.png)

1.0 is out

[2018-02-10 21:42] sboorlagadda opened #2108 "Query graph with empty string values."
As per this [discussion](https://discuss.dgraph.io/t/how-do-i-query-for-an-empty-string/2198) there could be some use cases where attribute values are empty strings. Dgraph should allow querying in such cases.

Data
[code]

Query
[code]

[2018-02-10 22:07] vitaliy-kuzmich opened #2109 "feature request, groups of clusters"
Optimization idea to have groups of clusters. The replication, data balancing, would works only within specific group. Something similar already exists in CassandraDB/ScyllaDB. Use case:  Hollywood, Bollywood movies. Actors could take a part in both, but usually it is tight to one, so it is not optimal to balance/replicate data between Indian and other servers. Another feature is to have possibili

[2018-02-10 23:06] rokett commented on #2108
I'm the OP.....I've been away all week so have only just had a chance to look at this and noticed you'd raised the issue....thanks.

I realised my example was really bad, but the issue is still there.  I've just replicated it on 1.0.3.

Schema
[code]

Data
[code]

Query
[code]

The above query should return 1, but instead it returns 0.  I tried it with an empty string and received an error: `Empty

[2018-02-11 09:24] sboorlagadda commented on #2099
It looks like GraphQL & Dgraph vars are not supported for `after`. If we set the actual value it works.
[code]
But none of these below seem to work.

*Dgraph Var*
[code]
*GraphQL Var*
[code]

[2018-02-11 10:47] vitaliy-kuzmich opened #2110 "Need more details about movie schema edges"
It is not obvious to the person who reads movies DB for the first time about existing edges, please paint image with schema relationships, it will help a lot. Thanks.

[2018-02-11 18:13] essapermana opened #2111 "High CPU Load and Slow Query When Do Filtering"
- What version of Dgraph are you using?
`1.0.3`

- Have you tried reproducing the issue with latest release?
`Yes`

- What is the hardware spec (RAM, OS)?
`Ubuntu 16.04 with 8 Core CPU and 16 GB RAM`

- Steps to reproduce the issue (command/config used to run Dgraph).
`Dgraph running on single node (zero and server on same machine), with data for about 66 million and then running the following que

[2018-02-11 20:53] jzhu077 commented on #2024
This is solved.

[2018-02-11 20:53] #2024 closed

[2018-02-11 22:06] pawanrawal commented on #2107
We may support them later but it's not a priority right now since there isn't enough demand for it. Adding support is non-trivial since Go doesn't support these types natively.

[2018-02-11 23:51] pawanrawal commented on #2111
From the profile, I can see that most of the time is spent in finding inequalityTokens

[code]

What is the schema that you have on `create_time`? Is `create_time` stored as a Unix timestamp? Do you have 66 million nodes, each having a value for `create_time`? Does the machine have SSD/HDD? Is it possible to share your dataset so that we can reproduce the slowness?

[2018-02-11 23:54] pawanrawal commented on #2099
Dgraph query uid/value variables don't make sense as being used for `after`. We should support GraphQL variables for `after` though.

[2018-02-11 23:55] pawanrawal commented on #2091
@Levatius @jimanvlad ^

[2018-02-12 00:02] pawanrawal commented on #2076
Can you share your updated code here?

[2018-02-12 00:03] pawanrawal commented on #2090
I have a fix for this in #2105 which will be merged soon.

[2018-02-12 00:34] pawanrawal commented on #2081
I was able to reproduce the error. This happens after a predicate move when the server receiving the drop attr request is not the one serving the predicate.

[2018-02-12 00:52] pawanrawal opened #2112 "Moving a predicate after it has been deleted causes a panic"
To reproduce:

1. Start multiple Dgraph server nodes.
2. Load some data.
3. Delete a predicate.
4. Try to move the predicate to another group using the `/moveTablet` API.

The server which originally served the predicate ends up in a panic.

[code]

We should not try to move a predicate that has been deleted but in any case we should never panic.

[2018-02-12 00:54] sorenbs commented on #1966
@MichelDiz - thank you for mentioning Graphcool :-)

[GraphQL Playground](https://github.com/graphcool/graphql-playground) is an open source replacement for GraphiQL and in no way specific to Graphcool or Prisma.

We'd be happy to jump on a call if anybody from Dgraph want an introduction or help integrating it. In the future we'll be adding a plugin system as well as support for custom styling th

[2018-02-12 01:05] pawanrawal commented on #2112
This happens because we are trying to access `item.Value()` even if we get `ErrKeyNotFound` error from badger.

[2018-02-12 01:19] pawanrawal commented on #2075
@catroot I was able to reduce the panic and have created an issue at #2112. I have a fix that I will merge soon.

[2018-02-12 02:13] pawanrawal opened #2113 "Move nightly build script to Teamcity"
There is a script which updates the Dgraph nightly binaries and also the release binaries. We should move it to Teamcity.

See [travis.yml](https://github.com/dgraph-io/dgraph/blob/master/.travis.yml#L35) and [upload.sh](https://github.com/dgraph-io/dgraph/blob/master/contrib/nightly/upload.sh).

Once this done we can remove `.travis.yml`.

[2018-02-12 02:38] pawanrawal commented on #2075
I have a fix in https://github.com/dgraph-io/dgraph/pull/2114. I will update the nightly binaries once the fix has been merged.

[2018-02-12 02:39] pawanrawal commented on #2081
I have a fix in https://github.com/dgraph-io/dgraph/pull/2114 which should be merged by tomorrow.

[2018-02-12 02:41] pawanrawal commented on #2073
https://github.com/kochhar/pydgraph is the repo that @jimanvlad is talking about. We hope to merge it to `dgraph-io/pydgraph` soon.

[2018-02-12 02:41] #2073 closed

[2018-02-12 02:45] pawanrawal commented on #2047
Cool, I am closing this. Feel free to open if you encounter the issue again.

[2018-02-12 02:45] #2047 closed

[2018-02-12 02:58] essapermana commented on #2111
Yes @pawanrawal create_time is stored as UNIX timestamp, and it's only arround 8 million nodes  who have the create_time predicate, the machine is SSD and unfortunately we can't share the dataset.

[2018-02-12 02:59] pawanrawal commented on #2111
And what about the schema, what tokenizer do you have?

[2018-02-12 03:33] essapermana commented on #2111
Here is our schema
[code]

[2018-02-12 03:37] pawanrawal opened #2115 "Zero can't elect leader sometimes."
Steps to reproduce:

1. Run a single Dgraph Zero and couple of Dgraph servers.
2. Try loading some data into Dgraph e.g. 21 million RDF dataset.
3. Kill Zero in the middle and restart it.

Zero can get stuck with the logs below. It doesn't always happen. Possibly related to couldn't apply lease error.
[code]

[2018-02-12 04:12] pawanrawal commented on #2111
Storing it as an int UNIX timestamp is not a great idea as the indexes won't help much and there would be too many index buckets. Store the data as [datetime](https://docs.dgraph.io/query-language/#schema-types) and have a `year` tokenizer.

[code]

[2018-02-12 04:27] essapermana commented on #2111
Ok pawan, we'll try to change the data type, and will do the experiment again. Thank you.

[2018-02-12 06:15] llonchj commented on #2099
@sboorlagadda I agree, `after` and likely the other variables involved in a `q(...)` should be supported via graphql variables to avoid potential query injection vulnerabilities.

[2018-02-12 13:25] Levatius commented on #2091
This has been helpful information, we are now thinking about splitting our nquads by predicate and having each process accept an exclusive subset of the predicates to mutate on. This way, we should avoid collisions on the data keys while still getting a decent level of concurrency.

[2018-02-12 13:25] #2091 closed

[2018-02-12 13:30] Levatius commented on #2076
We are currently making some improvements to the main pipeline; we will update the sample rig to reflect these changes once done.

[2018-02-12 16:01] MichelDiz commented on #1966
@sorenbs Hey, I'm interested in the connector for Prisma. But I have no concept of programming with SCALA.

I think Prisma uses the prisma-binding, correct? If not, what are the principles for assembling a connector for the Prisma?

I think this would be enough to make Dgraph align with the graphcool tools.

[2018-02-12 20:41] lsnider opened #2117 "dgraph server 'segmentation violation' on startup"
- What version of Dgraph are you using?
1.0.3

- Have you tried reproducing the issue with latest release?
Yes.  We were on 1.0.2-dev.  Upgrade to 1.0.3 and tried again.

- What is the hardware spec (RAM, OS)?
12GB RAM, Ubuntu 16.04.3 LTS

- Steps to reproduce the issue (command/config used to run Dgraph).
We have three host machines setup each with a zero and a server running.  Here are the comma

[2018-02-12 22:26] lazharichir opened #2118 "Add Kubernete Persistant Storage docs?"
Do you guys have some time to write a complement to the `Deploy` section in the docs with different Google Cloud persistent SSD disks for each `dgraph zero` and each `dgraph server` group/shard?

Thanks a million!

_Initially posted on Slack but doing it here so you can can perhaps plan it out_

[2018-02-12 23:27] gedw99 opened #2119 "codegen graphql"
https://github.com/vektah/gqlgen

Have you standardised on your graphql API yet ?

This is a pretty cool way to integrate dgraph into a larger project using grapql as you upper level API for mutations and queries.

Figured this would be interesting to know about.

[2018-02-13 00:36] pawanrawal commented on #2112
Fixed in master with 77ad97efeea4ae0d4a15b3758e51cd2ee938c2da.

[2018-02-13 00:36] #2112 closed

[2018-02-13 00:36] pawanrawal commented on #2115
Fixed in master with 77ad97efeea4ae0d4a15b3758e51cd2ee938c2da.

[2018-02-13 00:36] #2115 closed

[2018-02-13 00:37] pawanrawal commented on #2081
I have pushed a fix in 77ad97efeea4ae0d4a15b3758e51cd2ee938c2da. It would be part of the nightly binary and also the next release.

[2018-02-13 00:41] pawanrawal commented on #2090
A fix has been pushed to master in 42b01677b29ae7a99acf629d2e086a993325f912 and would be part of the nightly/next release.

[2018-02-13 00:58] pawanrawal commented on #2100
A fix has been merged to master with 2c63353d8517922366f6ca909cba2a367df6717d.

[2018-02-13 00:58] #2100 closed

[2018-02-13 07:27] catroot commented on #2081
Thank you.

[2018-02-13 09:11] munisystem opened #2120 "Leader is SPOF while snapshot retrieval when initialize huge data using bulk loader"
I try to import huge data using bulk loader for purpose of transition from RDB. But replication of huge data takes time, and leader node is SPOF while snapshot retrieval.

I want to be skipped snapshot retrieval in the case of copying `out/0/p` generated from bulk loader in same group instances.

[2018-02-13 12:16] tamethecomplex commented on #2090
Looks good!  Confirmed fix on docker hub tag 'master'.

[2018-02-13 12:16] #2090 closed

[2018-02-13 14:00] mpires opened #2121 "Node crashed due to badger error"
- What version of Dgraph are you using?
1.0.2

- Have you tried reproducing the issue with latest release?
No

- What is the hardware spec (RAM, OS)?
16GB, Debian 9

- Steps to reproduce the issue (command/config used to run Dgraph).
Can't understand the root cause and am unable to find the query - if any - that triggered this.

- Expected behaviour and actual result.
After this crash, this partic

[2018-02-13 15:12] fritzblue opened #2122 "Support logical replication / change data capture (CDC) with Kafka"
The following workflow is becoming more and more common in streaming architectures:

![image](https://user-images.githubusercontent.com/6473463/36156774-5033a9fc-1095-11e8-8d7c-56b308f3e925.png)

If Dgraph is to be used as a primary data store in a production system, it must support logical replication / change data capture.

Is this currently possible? If not, is it planned for the future?

[2018-02-13 15:30] jimanvlad commented on #2054
Hi @pawanrawal - We still have this issue, where Zero works fine and then all of a sudden it's trying to do this and gets completely stuck. We can't read or write form the server when it gets to this stage.

[code]

[2018-02-13 17:32] jimanvlad opened #2123 "Spark connector for Dgraph"
Hi,

It would be great if, at some point, a Spark connector was to be created.

Neo4J uses its connector both for preprocessing and loading data in, but also to get sub-graphs out for processing in Spark.

https://neo4j.com/developer/apache-spark/
https://spark.apache.org/docs/0.9.0/graphx-programming-guide.html

Vlad

[2018-02-13 20:10] pawanrawal commented on #2054
I am going to work on this today. Is it possible for you to move to `v1.0.3` if not done already?

[2018-02-13 20:42] jimanvlad commented on #2054
Yep, this is now happening with 1.0.3 now. Let us know if you need any more
information to pinpoint this.

This is running in a clustered set up on kubernetes with 3 servers and 1
zero.

On Tue, 13 Feb 2018 at 20:10, Pawan Rawal <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-02-13 22:46] pawanrawal commented on #2054
Did you start Zero with `replicas` flag? Or are all the Dgraph servers serving different groups? And from what I understand, once a predicate move fails you are not able to run any queries/mutations on any of the Dgraph servers? Is there anything unusual in the Dgraph server logs?

[2018-02-13 22:52] pawanrawal commented on #2121
I see that these are not the full logs for the crash. Do you have logs from a bit before, like the transition from healthy to crash?

[2018-02-13 23:49] jimanvlad commented on #2054
No replicas - all servers run different groups. Nothing weird in the server
logs, they all just stop and don't do anything any more.

On Tue, 13 Feb 2018 at 22:47, Pawan Rawal <notifications@github.com> wrote:

--
Thanks,
Vlad

[2018-02-14 00:01] mpires commented on #2121
Right, that's the first time I've seen unhealthy logs.
I've attached a logfile, this time with logs with many hours before the error mark (around Feb 11 22:38)
[issue2.log.zip](https://github.com/dgraph-io/dgraph/files/1722142/issue2.log.zip)

[2018-02-14 05:51] pawanrawal commented on #2121
I can't see much about what caused this in the logs. Could you check if Dgraph was killed by Linux OOM killer? Here is how you can check it.
https://stackoverflow.com/questions/624857/finding-which-process-was-killed-by-linux-oom-killer

[2018-02-14 07:00] pawanrawal commented on #2054
This is a bit weird. I simulated conflict error but the subsequent predicate move after that went smoothly. Do you have any logs like the below on Dgraph servers when the predicate move is happening?

[code]

[code]

[2018-02-14 16:16] veludurai106 opened #2126 "Node crash while doing Live Data Load"
**DGraph Version - 1.0.3**

**OS - Centos 7**

**Steps to reproduce the issue**
 - Started zero in 3 nodes
     _nohup dgraph zero --my=10.111.111.101:5080 --replicas=3  --idx=01 &
     nohup dgraph zero --my=10.111.111.104:5080 --peer=10.111.111.101:5080 --replicas=3 --idx=02  &
     nohup dgraph zero --my=10.111.111.103:5080 --peer=10.111.111.101:5080 --replicas=3 --idx=03  &_

  - Started dgrap

[2018-02-14 18:55] swagluke opened #2127 "Total weight calculation on k-shortest-path-query"
Hey team, so I’m digging more into the K-Shortest-Path-Query and wondering if there is a way to find the facets weight on each path.
For example, DGraph has the set as

[code]

K-Shorest-Path query
[code]

It would be nice to get a total weight on each path.

https://docs.dgraph.io/query-language/#k-shortest-path-queries

[2018-02-14 19:38] veludurai106 commented on #2126
I am  facing one more issue on that node. When I restart node, its failing to join back to cluster.

I did restart without giving -p and -w and got **Invalid Address** error.
After that tried those options but same error.

This is the command I used
      _dgraph server --memory_mb=16000 --my=10.111.111.103:7080 --zero=10.111.111.101:5080 -p /tmp/data/p -w /tmp/data/w_

Output of http://10.111.111

[2018-02-15 00:35] pawanrawal commented on #2054
One more thing, can you please share the output of the `/state` endpoint on the Zero server?

[2018-02-15 00:58] pawanrawal commented on #2126
This seems to be a hardware issue. As the first answer [here](https://unix.stackexchange.com/questions/39905/input-output-error-when-accessing-a-directory) mentions, check `dmesg`.

Regarding the second issue, when you restart a dead node you have to do it with the same `p` and `w` directories (that you used initially) otherwise it is considered a new node. Are you starting with the same directori

[2018-02-15 08:13] veludurai106 commented on #2126
Hi @pawanrawal  When I type `dmesg` , I cloud see messages indicating some error.

[2453421.087026] Buffer I/O error on dev dm-5, logical block 30499216, lost async page write
[2453421.087300] Buffer I/O error on dev dm-5, logical block 30499217, lost async page write
[2453421.087447] Buffer I/O error on dev dm-5, logical block 30499218, lost async page write
[2453421.087600] Buffer I/O error on d

[2018-02-15 08:22] veludurai106 commented on #2126
**Regarding second issue, below is the steps I did.**

**Started dgraph server (no issue faced, started as expected )**

       nohup dgraph server --memory_mb=16000 --my=10.111.111.103:7080 --zero=10.111.111.101:5080 &

**Started Live Loader in another node using below**

      dgraph live -r /home/mapr/DgraphResources/merchantIrvine50000_1.rdf -s /home/mapr/DgraphResources/merchantIrvine50000.sc

[2018-02-15 08:49] veludurai106 commented on #2126
Facing the same issue when I restart other 2 nodes also

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x1096ff8]
goroutine 1171 [running]:
github.com/dgraph-io/dgraph/worker.(*node).InitAndStartNode(0xc4201a6e00, 0xc46851d450)
  /home/travis/gopath/src/github.com/dgraph-io/dgraph/worker/draft.go:667 +0x668
git

[2018-02-15 15:54] veludurai106 opened #2129 "Data missing in Dgraph cluster after bulk loading"
**DGraph Version - 1.0.3**

**OS - Centos 7**

**Steps to reproduce the issue**
 - Started zero server
     _nohup dgraph zero --my=10.111.111.101:5080 --replicas=3  --idx=01 &_

  - Ran bulk loader
     _dgraph bulk -r /home/mapr/DgraphResources/sample.rdf -s /home/mapr/DgraphResources/sample.schema --map_shards=6 --reduce_shards=3 -z 10.111.111.101:5080_

[sample.schema.txt](https://github.com/d

[2018-02-15 16:56] swagluke opened #2130 "K-Shorest-Path doesn't take in variable"
K-Shortest-Path should accept both hard-coded uids and uid variables.

K-Shortest-Path Go Code Link:
(https://github.com/dgraph-io/dgraph/blob/master/query/shortest.go)

[2018-02-15 16:57] swagluke opened #2131 "K-Shortest-Path between Group of Nodes."
It will be nice to run K-Shortest-Path between two group of nodes.
For example:
      GroupA has node A,B,C,D
      GroupB has node 1,2,3,4

Running K-Shortest-Path between GroupA and GroupB will return
k-shortest between node A - node 1, node A - node 2, node A- node3, etc.

K-Shortest-Path Go Code Link:
(https://github.com/dgraph-io/dgraph/blob/master/query/shortest.go)

[2018-02-15 23:40] calummoore commented on #526
Hi both - @manishrjain @pawanrawal

It would be really helpful to have a way to ignore aggregation queries in a returned query block. Most of the time when you're requesting an aggregation, it's because there are too many nodes to return and you only need the aggregated value.

For example, I want to be able to run the following query, without returning any of the individual `usage.count` predicat

[2018-02-16 11:07] vitaliy-kuzmich opened #2133 "syntax highlight issue"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
103

- Have you tried reproducing the issue with latest release?

- What is the hardware spec (RAM, OS)?

- Steps to reproduce the issue (command/config used to run Dgraph).
go to http://localhost:8000/
put alter
and try enter new schema without '{' braces

- Expected behaviour and actual result.
synt

[2018-02-16 15:28] akshaydeo opened #2134 "Support External Ids in Dgraph"
Earlier dgraph had support to _xid_ or custom uid (I have used till 0.8.3)
Now it seems that both of these are removed. This may result in a lot of problems
1. As far as I remember Dgraph does not do dedup
2. Earlier I used to use assigned Uid (which was a func() on _xid_), and keep on mutating the nodes without worrying about anything
3. Now it seems like I have to first query the node, get the U

[2018-02-16 15:53] ddibiase opened #2135 "Dgraph crash after being active for a period of time"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

Version 1.0.3 (latest)

- What is the hardware spec (RAM, OS)?

We're hosting the graph on Amazon with a r3.large on CentOS 7. Dgraph is being supplied 20048mb of capacity on the command line when booting it up. We're using tmux to maintain an active terminal session to keep Ratel, Zero and Dgraph li

[2018-02-16 16:26] sboorlagadda commented on #2135
@ddibiase can you provide your topology and commands that you are using to start the nodes?

[2018-02-16 16:37] ddibiase commented on #2135
dgraph zero
    dgraph server --memory_mb 20480 --zero localhost:5080

[2018-02-16 16:38] ddibiase commented on #2135
Also we just had another similar crash but this time Zero outputted the following:
    goroutine 1664696 [IO wait, 6 minutes]:
    internal/poll.runtime_pollWait(0x7f696abd8df0, 0x72, 0x0)
            /home/travis/.gimme/versions/go1.9.2.linux.amd64/src/runtime/netpoll.go:173 +0x57
    internal/poll.(*pollDesc).wait(0xc425aa4a98, 0x72, 0xffffffffffffff00, 0x1a10d80, 0x1a0b638)
            /home/tr

[2018-02-18 01:10] aphyr opened #2137 "Cluster fails to converge on startup"
On the current (2018/02/17) nightlies, when setting up a cluster of five nodes, all running dgraph zero and alpha, some alpha nodes get stuck loading snapshots and return "server not ready" errors for requests indefinitely. In [20180217T143148.000-0600.zip](https://github.com/dgraph-io/dgraph/files/1734313/20180217T143148.000-0600.zip), for instance, node `n1` repeatedly tries to fetch a snapshot,

[2018-02-18 01:16] aphyr opened #2138 "Segfault on startup"
On 1.0.3 and the current nightly (2018/02/17), dgraph alpha can segfault shortly after cluster startup when nodes are started concurrently. Here are [complete cluster logs](https://github.com/dgraph-io/dgraph/files/1734317/20180217T142809.000-0600.zip); node n5 crashed.

[code]

[2018-02-18 03:41] katutz commented on #1253
I checked the 1.0.3 version and there isn't this method SetValueStringWithLang or any other to specify the language for the value. So i'm using the nquadsFromJson method from dgraph/edgraph/server.go (that I copied the code to my application) to convert my JSON to NQuad slice and set the language. Is there another way to achieve this?

[2018-02-18 23:19] pawanrawal opened #2139 "Unable to sync memberships error"
Dgraph server often logs the following error even when Zero is up and running.

[code]

It's coming from https://github.com/dgraph-io/dgraph/blob/master/worker/groups.go#L474. We should investigate why this happens so often and if it needs to be logged every time.

[2018-02-18 23:32] pawanrawal commented on #1253
If you are using JSON, you could have your predicates as `name@en`, `name@fr`. For e.g.

[code]

Would translate to
[code]

[2018-02-19 02:49] pawanrawal commented on #2135
@ddibiase Can you share the full crash logs if you still have them? The logs shared look like they are truncated.

[2018-02-19 04:48] pawanrawal commented on #2129
I would suggest running bulk loader with `--reduce_shards` as 1, since you want the 3 Dgraph servers to be replicas of each other. Then give the `out/0/p` as input to one of the Dgraph servers while starting it.

[code]

The other replica Dgraph servers would get using the snapshot on starting. I will investigate this issue anyway.

[2018-02-19 04:58] pawanrawal commented on #2122
It's not possible right now but we can do something like this in the future. Some users have asked for [subscriptions](https://github.com/dgraph-io/dgraph/issues/824).  This would be a similar feature I suppose.

[2018-02-19 10:30] katutz commented on #1253
Great! This solution is better. Thank you!

[2018-02-19 11:45] lazharichir opened #2141 "Return all languages for a string"
I believe this is not yet supported - could you add a feature so that I could request a string predicate to return all the `@lang` it has.

So far, we can query for particular languages using the `@en:.` or `@.` or else. But the idea here is to return all existing languages for this predicate.

An example of query syntax could be:
[code]

The returned data could either be flattened like it is now,

[2018-02-19 12:46] tamethecomplex commented on #2134
What I have done to solve this problem is create a helper function getExtIdToUidMap that takes an array of ext ids and returns me the array of uids so that I can operate on them.  Agreed that one database call is better than two, but at least a helper can encapsulate the query -> mutate process.

I think stopping support for XID and treating it like other edges allowed the Dgraph team to simplify

[2018-02-19 13:45] antikantian commented on #2134
Indeed, this was giving us headaches for a bit as well.  What we ended up doing was to create a central "gateway" microservice that handles database writes, with an internal cache of uid mappings, as well as a Redis layer behind that.

[2018-02-19 13:48] akshaydeo commented on #2134
Yeah @antikantian this was the first thing, I had thought of, using the inbuilt badger for maintaining the map of `xid` to `uid`. But this seems like a candidate for a product. This feature was already there which was removed.

[2018-02-19 13:58] antikantian commented on #2134
@akshaydeo, I totally agree.  External id support (or, I guess re-support in this case) would make things a lot easier.

[2018-02-19 15:09] swagluke opened #2142 "K-Nearest-Neighbors in DGraph"
Neo4j has query that does K-Nearest-Neighbors
BlogPost link:
https://neo4j.com/graphgist/movie-recommendations-with-k-nearest-neighbors-and-cosine-similarity#_view_your_nearest_neighbors

@pawanrawal has read the blogpost and figure the missing part from DGraph is the ability to do a cross product between two vectors.

It would be nice to have documentations or blogpost after this new feature is d

[2018-02-19 15:28] ddibiase commented on #2135
I wasn't able to capture the logs this time round, I will however run the failing process again. Note that was the only thing that was emitted.

Also I wanted to mention that we're using the official Dgraph client for Node. Looks like we were on version `0.9.4-beta.3`. We're going to attempt updating to the latest package to see if that brings any more stability.

I'll report back hopefully shortl

[2018-02-19 20:56] aphyr opened #2143 "Read skew leading to write corruption"
In the nightly build for 2018/02/19, with Jepsen, I can reliably reproduce what appears to be a snapshot isolation bug in which the sum of accounts gradually drifts higher and lower over time. This history also appears to exhibit a sequential consistency violation, where clients fail to read their own writes on the same nodes.

This particular version of the bank workload uses a three-part schema:

[2018-02-19 21:18] ddibiase commented on #2135
Ok, so it appears at the top of the log I'm getting a memory error, so I'll expand the instance to account for that. Attached is the full log for review (just in case):

[code]

[2018-02-19 22:49] pawanrawal opened #2144 "Cluster convergence can fail when nodes in a group start at the same time."
Say, if we have `--replicas` as 3 and we start three Dgraph nodes. It is possible that Zero adds them to group 1 state, but no leader has been elected yet. Now since these nodes see a peer, they all try to get the snapshot from a leader but no leader is elected or would be elected.

Similar logs can be observed on all three servers.
[code]

A solution would be that Zero shouldn't add a node to a g

[2018-02-19 23:03] manishrjain commented on #2144
The leader would be eventually elected (which should be fast). So, this is a temporary error?

[2018-02-19 23:08] pawanrawal commented on #2144
No, it's never elected. Imagine a situation where all alpha nodes see some peer while starting up because Zero added all of them to Group 1. And they are all trying to retrieve snapshot from the leader of group 1 which is blocking. Now, none of them would elect a leader until snapshot completes which won't complete because there is no leader.

[2018-02-19 23:19] pawanrawal commented on #2144
As discussed Zero needs to ensure that its handling one request at a time for adding peers.

[2018-02-19 23:55] aphyr opened #2145 ""No node has been set up yet" during concurrent cluster join"
On the current nightly (2018/02/19), concurrently launching a five-node cluster can occasionally deadlock with errors like...

[code]

... when n3, the node n1 is trying to join, is in some sort of timeout loop on its join RPC:

[code]

See full logs, attached:
[20180219T173203.000-0600.zip](https://github.com/dgraph-io/dgraph/files/1738539/20180219T173203.000-0600.zip)

[2018-02-20 11:38] tamethecomplex opened #2146 "Return latency for mutations made via GRPC"
The latency stats returned for query operations over GRPC are very helpful.  It would be great to have those same metrics available for mutation operations.

[2018-02-20 15:23] gedw99 opened #2147 "Grpc-web"
Grpc-web allows exposing grpc services to allow browsers to interop with it.

I currently use grpc and grpc-web and graphql and am evaluating using dgraph, which removes many layers.

Dgraph exposes this using graphql.
I can't seem to find how to:
- push protobufs message to client over a websockets.

Also have not seen anything to allow watching for changes in terms of a subscription.

[2018-02-20 21:17] sboorlagadda commented on #2120
Are you suggesting a command line option to facilitate skipping? I would rather suggest (if its not already the case) consider recovering first from disk before initiating a snapshot from peers.

So in this particular case when `out/0/p` is copied to each group instance, then every instance first recovers from the provided data directory and initiate retrieving  only a `delta` snapshot.

[2018-02-21 00:29] munisystem commented on #2120
Sounds good to me!

[2018-02-21 02:16] aphyr opened #2148 "Delete leaves dangling entities, allows double-upserts"
On the current Dgraph nightly (2018/02/20), in a healthy five-node cluster, without any faults, concurrently upserting, deleting, and reading records by a single, indexed integer attribute `key` can result in queries for `key` returning long-lasting records with only a UID and no key attached; as if the UID were still present in that key's index, even though the triple has been deleted. Moreover,

[2018-02-21 04:51] aphyr opened #2149 "Upsert transactions may upsert multiple copies of a record"
The [howto](https://docs.dgraph.io/howto/#upserts) says

However, multiple concurrent upsert transactions for the same key may succeed, resulting in the creation of multiple, rather than one, records for that key. For instance, in [20180216T075315.000-0600.zip](https://github.com/dgraph-io/dgraph/files/1742884/20180216T075315.000-0600.zip), four upserts complete on the same key, resulting in entit

[2018-02-21 04:52] aphyr commented on #2149
(This is just for completeness; this issue was fixed by https://github.com/dgraph-io/dgraph/commit/7f9c659f282601dbd58d3573bf62d4aaf23be60f)

[2018-02-21 07:19] #2108 closed

[2018-02-21 07:38] sboorlagadda commented on #2131
@swagluke When K-Shortest path supports variables (#2130), then its easy for a client application to loop through a set of nodes. So I would think this is a lower priority for now.

[2018-02-21 14:25] mbudge opened #2151 "feature request for merge function"
Hi,

Please can you add a merge function to Dgraph?

It's a bit annoying having to query dgraph to see if the node exists in, by searching for the UID using the node edge value, before creating a new node, each and every-time we want create a new node.

This requests multiple requests with a transaction, however if Dgraph were to handle this on the server, surely it could increase performance?

Ne