[2019-09-06 20:33] objectiveous opened #3935 "schema documentation"
## Experience Report

When building tooling (think query editors, browsers, and other tools ), it would be nice have predicate descriptions available programmatically. I believe this is something graphql already supports, so I suppose I'm asking for more alignment w/ the graphql standard.

[2019-09-06 21:19] martinmr commented on #3902
Fixed by https://github.com/jepsen-io/jepsen/pull/411

[2019-09-06 22:40] #3924 closed

[2019-09-07 01:08] MichaelJCompton commented on #3935
Hi, thanks for the question.

We are currently building out GraphQL support.  That will come with all the normal GraphQL features built in - including schema introspection, which is what GraphQL tools use to provide those features.

So it'll just work with anything GraphQL.

[2019-09-07 15:55] MichelDiz opened #3940 "Improve val() func inside upsert (JSON and Facets)"
#### JSON mutation support seems to be missing:
[code]

[code]

### Add val for facets in mutation.
ref: https://github.com/dgraph-io/dgraph/issues/1996

[code]
As JSON

[code]

[2019-09-08 22:51] MichaelJCompton commented on #3935
Closing.  Please re-open if you have further questions.

[2019-09-08 22:51] #3935 closed

[2019-09-09 08:26] coralzu opened #3945 "After edge filtering, scalar predicate filtering is too slow"
### What version of Dgraph are you using?
 v1.0.14
### Have you tried reproducing the issue with the latest release?
yes .

### What is the hardware spec (RAM, OS)?
8GB RAM  , Windows 10

### Steps to reproduce the issue (command/config used to run Dgraph).
**1、start dgraph**
[code]
**2、add data**
Create 10 nodes with name predicates, 10 nodes with code predicates, and connect them with UID predic

[2019-09-09 10:36] pepoospina opened #3946 "Ratel not compatible with tour"
## Documentation

I am following the tour and while some mutations run correctly from the tour page, I cant run them from Ratle

For example in https://tour.dgraph.io/intro/3/, pressing the "run" button gives
[code]
but copy and pasting that same content into a Mutate or Query in Ratle gives

[code]

[2019-09-09 13:04] mangalaman93 commented on #600
For people still looking for a solution, given that `upsert` block is now available in v1.1.0, the mutation can be ensured to be idempotent.

When an update is not required if the node exists -

[code]

[2019-09-09 16:31] MichelDiz commented on #3946
This is a Schema text. It is not for use in Mutations or Query fields. Alter operations only.
In the case of Ratel, you have to go to Schema and "Bulk Edit". There you can paste it.

[2019-09-09 16:31] #3946 closed

[2019-09-10 02:54] 123key commented on #3931
您好，我想在请教一下我插入数据到dgraph中，如果带上索引以前的数据被删掉了，只有最新的，如果不加索引就查不到数据，我是java的，能否指点一下

[2019-09-10 03:35] Willem520 opened #3954 "dgraph4j java client first connect alpha is too slow"
every time, when I used dgraph4j to connect alpha, it take too much time to get result in first time,but then ,it was normal, there is any problem in dgraph4j? I used java client

[2019-09-10 10:08] julazp opened #3956 "dgraph sample data load error"
### What version of Dgraph are you using?
Dgraph version   : v1.1.0
Dgraph SHA-256   : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1     : ef7cdb28
Commit timestamp : 2019-09-04 00:12:51 -0700
Branch           : HEAD
Go version       : go1.12.7

### Have you tried reproducing the issue with the latest release?
yes

### What is the hardware spec (RAM, OS)?
vagrant vi

[2019-09-10 13:39] pepoospina commented on #3946
Thanks! I am not sure if this info is part of the tour. Maybe I missed it.

[2019-09-10 14:14] MichelDiz commented on #3946
This info isn't explicit in the tour. But you can see that mutations, queries, and schema are made in different paths. Like, Alter for schema, query for queries and mutation for mutation.

Only in docs, you can have some detailed info about the Alter. But I think this is kind of implicit when using the tour.

Cheers.

[2019-09-10 21:44] gitlw commented on #3919
Closing this issue as it has been addressed in #3936

[2019-09-10 21:44] #3919 closed

[2019-09-10 22:27] danielmai opened #3959 "Bulk loader: Shard merge error during reduce phase"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?
72 GB, Ubuntu 18.04

### Steps to reproduce the issue (command/config used to run Dgraph).

Run Dgraph Bulk Loader:

[code]

### Expected behaviour and actual result.

Dgraph Bulk Loader should succeed. Once, the bulk loader failed with t

[2019-09-11 00:04] MichaelJCompton commented on #3909
I'm a no for this.  There may be other edges into things of type B that we don't imply.  For example, in `expand` that was the big change in expand for v1.1 ... so why is this special?

My expectation is that if the schema says

[code]

then that's the edges I think are in B.  I think it would be surprising if an annotation I'd made elsewhere in the schema (or even at a different time in another s

[2019-09-11 01:10] martinmr opened #3961 "@type directive not working well with other filters"
### What version of Dgraph are you using?
master

### Have you tried reproducing the issue with the latest release?
yes

### Steps to reproduce the issue (command/config used to run Dgraph).
use @type directive and @filter directive in the same block. The parser will complain saying that multiple filters should be combined. @type is just an alias for filter.

### Expected behaviour and actual resu

[2019-09-11 08:37] pepoospina commented on #3946
I understand. Taking into account that the tour is taken by people who have not seen dgraph ever before and have around 15 minutes to explore it, I would suggest that it is as friction less as possible

[2019-09-11 08:58] campoy commented on #3940
Hey @MichelDiz, could you explain a bit more exactly what is wrong with this and what you would expect instead?

Also, how is this related to graphql? Why did you add that label?

[2019-09-11 09:20] campoy commented on #3904
`expand(type(Person))` and `expand(Person) @filter(type(Person))` are different things, and they're both valid.

Given a type Person as follows:

[code]

### expand(Person)

`expand(Person)` is replaced by the predicates defined in the `Person` type.

[code]

Is the same as writing

[code]

You can read more on `expand(Person)` on issue #3903.

### expand(X) @filter(type(Person))

This will expand

[2019-09-11 09:31] pepoospina commented on #3946
Its easy to fix, just add a comment in the beginning when you say that you can copy and paste the operations into Ratle

[2019-09-11 09:31] campoy commented on #850
I've read this issue a couple of times and I still don't understand what this is about.

Could someone explain what's the goal of having `@include` and what's the difference with `@filter`?

How is this query:

[code]

different to this one?

[code]

[2019-09-11 09:35] animesh2049 opened #3963 "Provide better error messages on error in `@if` blocks and only allow `len` function"
query having `eq` function in condition, gives weird error message.
Example query:
[code]

Example error:
[code]

[2019-09-11 09:41] campoy commented on #3582
Hi there, @pjebs

I'm trying to understand your issue here but I don't see how you could have been able to run the query you gave on the issue.

You are requesting `@facets` twice on the same predicate, which is not allowed.

Could you confirm what's your real query and give a sample of your dataset so we can try it out?

Thanks

[2019-09-11 09:44] campoy opened #3964 "Has function is painfully slow"
# What version of Dgraph are you using?

Using play.dgraph.io

### Have you tried reproducing the issue with the latest release?

No

### What is the hardware spec (RAM, OS)?

Playground

### Steps to reproduce the issue (command/config used to run Dgraph).

Send any query, such as:

[code]

### Expected behaviour and actual result.

I expect to get an answer immediately, instead it's taking over

[2019-09-11 10:02] campoy opened #3965 "Parsing error is incorrect"
# What version of Dgraph are you using?

Dgraph 1.1.0

### Have you tried reproducing the issue with the latest release?

Yes

### What is the hardware spec (RAM, OS)?

Running on docker for Mac

### Steps to reproduce the issue (command/config used to run Dgraph).

Send this mutation:

[code]

There's a mistake since there's an extra `,` after `false`.

### Expected behaviour and actual result.

[2019-09-11 10:20] xiangzhao632 commented on #3954
I met the same problem

[2019-09-11 10:45] campoy commented on #1562
In order to simplify the problem statement lets' forget about geo features for now.

A different example that I hope shows what you're requesting is the following.

Given the data in the mutation below:

[code]

You'd like to be able to group by school name directly. Something similar to this:

[code]

Which is, indeed, not supported.

I've been trying to implement this query in other ways using v

[2019-09-11 10:46] #3922 closed

[2019-09-11 11:01] mangalaman93 opened #3966 "ACL command panics when asking for info of a non-existing user"
### What version of Dgraph are you using?
v1.1.0-6-g3e9810d6

### Steps to reproduce the issue (command/config used to run Dgraph)
[code]

### Expected behaviour and actual result.
*Expected*: error that user doesn't exist
*Actual*: panic
[code]

[2019-09-11 11:01] campoy commented on #1889
In order to get the difference between two timestamps you can use `since` and `math` as shown below.

Given the following dataset:

[code]

You can count the number of days by doing the following:

[code]

[code]

[2019-09-11 11:01] #1889 closed

[2019-09-11 13:10] mangalaman93 opened #3967 "Build Kafka Connector for Dgraph in Live and Bulk Loader"
This will allow loading data directly from Kafka.

[2019-09-11 14:00] MichelDiz commented on #850
In the link https://graphql.org/learn/queries/#directives
there are docs about this directives `@include and @skip` it is based on a boolean value to skip or include a nested block. And in general, uses GraphQL variable to do it.

The first example of Manish is not exactly accurate with the specifications of these directives, but it is a mix of the Dgraph and GraphQL specifications. But it has the

[2019-09-11 14:02] cactus222 opened #3968 "Can’t Query Type Data Inserted by Bulk Loader"
### What version of Dgraph are you using?

Dgraph version   : v1.1.0
Dgraph SHA-256   : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1     : ef7cdb28
Commit timestamp : 2019-09-04 00:12:51 -0700
Branch           : HEAD
Go version       : go1.12.7

### Have you tried reproducing the issue with the latest release?

Yes

### What is the hardware spec (RAM, OS)?

Attempt

[2019-09-11 14:06] MichelDiz commented on #3940
oh! yeah, the flag I made a mistake it should be "QueryLang".

There is not much to explain, as it is what harshil-goel has been working on and he is already looking at it. https://github.com/dgraph-io/dgraph/pull/3947

[2019-09-11 15:21] manishrjain commented on #3964
As function should understand first and offset directives. Right now it gets all the IDs which have the name predicate before it executes the first N.

[2019-09-11 18:07] martinmr commented on #3902
Jepsen has been updated to use the newest API. Issue is being kept open due to some failures seen while running the tests (unrelated to the API changes).

[2019-09-11 19:19] dimm0 opened #3969 "Tour is broken"
### Steps to reproduce the issue (command/config used to run Dgraph).

Follow the tour guide. It breaks on step 4 with:

`TypeError: NetworkError when attempting to fetch resource.`

Previous steps work fine.

### Expected behaviour and actual result.

Tour works as intended

[2019-09-11 19:47] danielmai commented on #3969
Please share the link to the step that's breaking, and information about your setup (operating system, web browser and version).

[2019-09-11 20:00] dimm0 commented on #3969
https://tour.dgraph.io/intro/4/

Mac OS X Mojave 10.14.6, Firefox 69.0

[2019-09-11 20:11] danielmai commented on #3969
Thanks for the info, @dimm0. I can also reproduce the issue on Firefox. For now, you can use Chrome for the Tour.

[2019-09-11 23:37] pawanrawal commented on #3968
This happens because of the following

1. When loading data using bulk loader with `reduce_shards` as 3, the data for `dgraph.type` lies in the 3rd output shard i.e. `out/2/p`.
2. When the 1st alpha node is started with `out/0/p` it proposes initial schema for `dgraph.type` and starts serving the tablet. https://github.com/dgraph-io/dgraph/blob/c9bc4bb1564674ea09b841251339bfa7d6cfa256/worker/group

[2019-09-12 22:52] martinmr opened #3974 "@type directive not working at root level."
### What version of Dgraph are you using?
master

### Have you tried reproducing the issue with the latest release?
yes

### Steps to reproduce the issue (command/config used to run Dgraph).
Try to run a query with the type directive at the root level. The query is not parsed correctly.

### Expected behaviour and actual result.
Queries with @type directives at the root level should work the same

[2019-09-13 01:35] 123key opened #3977 "dgraph插入数据覆盖"
您好，我问一下这个数据库支持相同数据覆盖吗？或者有没有办法起到相同数据覆盖的方法？

[2019-09-13 09:31] pepoospina opened #3979 "Upsert should always return the uid"
## Experience Report

### What you wanted to do

I am using an upsert operation as described in [dgraph-js](https://github.com/dgraph-io/dgraph-js#running-an-upsert-query--mutation) to **get or create** a new node with a given external id called `did` and return its `uid`.

### What you actually did

This is my code. It works the first time the node with the external id `did` does not exist. But i

[2019-09-13 13:00] Kingloko opened #3982 "exploration mechanism to replace expand(__all__)"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do
Without having a deep understanding of the underlying schema I'd like to explore the data.

### Wh

[2019-09-13 13:05] Kingloko commented on #3982
Since I feel like an old man complaining about new features... here's some humor?
<a href="https://imgflip.com/i/3agk3k"><img src="https://i.imgflip.com/3agk3k.jpg" title="made at imgflip.com"/></a>

[2019-09-13 14:30] campoy commented on #3982
Thanks for the issue, we're actually working on something that would fix your concerns without necessarily bringing back `__predicate__` or `expand(_all_)` without types.

This would actually be brought into Ratel, allowing you to explore datasets easily without having to compromise the correctness of Dgraph.

Does that sound like a good solution?

[2019-09-13 14:32] campoy commented on #3862
Hey @arabbani,

Could you tell us more about what kind of integration you'd like to see?
I'm not an expert with Spring Data, so any pointer to the kind of integration (maybe some showing us how other projects do it) would be very helpful.

Thanks!

[2019-09-13 14:40] campoy opened #3983 "Integrate with Kafka for event sourcing"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do

I want to get notifications of any change performed on the database so I can react to it, trigger

[2019-09-13 14:41] campoy commented on #3882
Hey @Willem520 , could you tell us more about what you'd expect from this integration?

[2019-09-13 14:41] campoy commented on #3882
Actually, this seems like a duplicate of #2123.
Closing this one for now.

[2019-09-13 14:41] #3882 closed

[2019-09-13 14:42] campoy commented on #3983
Closing as duplicate of #2122

[2019-09-13 14:42] #3983 closed

[2019-09-13 14:43] erhlee-bird commented on #3982
I think I can understand the `expand(_all_)` being undesirable without explicit type information, but I don't see why `__predicate__` would compromise the correctness of Dgraph.

I would strongly prefer having a programmatic/query-able method of performing a `__predicate__` over having that functionality only supported within Ratel.

[2019-09-13 14:43] campoy commented on #3967
Hey @Willem520,

Could you tell us more about what you would expect from these integrations with Flink or Spark?

[2019-09-13 14:50] campoy commented on #3587
Hi @niravmehta,

What do you mean my slow ingestion times? I'd love to know more about what you were trying to do and the issues you faced.
Feel free to file a new issue or send me an email to francesc at dgraph.io.

Thanks

[2019-09-13 14:58] campoy opened #3984 "Add a validator for bulk and live loader"
## Experience Report

### What you wanted to do

I wanted to load a big dataset use bulk loader.

Bulk loading and live loading can take quite a while for large datasets, it's very annoying that because of a badly formatted entry the process crashes after hours of running.

### What you actually did

I had to fix the issue and rerun the whole process from scratch.

### Why that wasn't great, with

[2019-09-13 15:04] campoy commented on #3297
If I understand correctly this is not currently an issue as the code was reverted?

If so, please update the title to indicate what this issue is about.

[2019-09-13 15:09] campoy commented on #3375
This issue is related to #3984, although not the same.

While #3984 is about validating in advance, this one is about not failing on error - just logging.
It would make sense to have such a flag.

[2019-09-13 15:18] campoy commented on #2848
For reference, in order to load all the data from pokeapi.com I had to play around with UIDs in order to make this work.

In addition to generating blank UIDs from existing IDs (id, name, etc) I also had to make some fields into objects.

For instance given:

[code]

I had to modify it into:

[code]

You can see the code in github.com/campoy/pokegraph.

[2019-09-13 15:20] campoy commented on #3617
Hey @mangalaman93, could you update this issue please?

[2019-09-13 15:23] campoy commented on #3793
This seems like a very serious issue if we're losing data.

Can you update on it, @danielmai? Wasn't this fixed already?

[2019-09-13 15:25] campoy commented on #3566
Hey @gitlw, can you verify whether this is already fixed and close it if necessary?

[2019-09-13 15:29] campoy opened #3985 "Second live load in a server can't expose pprof endpoint"
Live loader exposes on `localhost:6060` the pprof endpoint, but this is not configurable.
If two live loaders were running on the same machine, you'd see the following error and you could only profile one of the live loaders:

[code]

[2019-09-13 15:38] campoy commented on #3193
I'm closing this as a duplicate of the older issue #3054.

[2019-09-13 15:38] #3193 closed

[2019-09-13 15:40] #3985 closed

[2019-09-13 15:41] campoy commented on #2911
Closing this issue, as #2966 was abandoned.

[2019-09-13 15:41] #2911 closed

[2019-09-13 15:41] Kingloko commented on #3982
@campoy I have to echo @erhlee-bird's comment.
For the *majority* of cases I could type my nodes and be fine, but one of the features in my dataset is that some nods are dynamic by nature so my scripts use `expand(_all_)` to grab all the info that could be attached to those nodes.

I suspect I could get around this, by creating a "dump_all" type that has all the predicates. Thou, I'm not sure what

[2019-09-13 15:46] campoy commented on #3945
Thanks for the very detailed report, @coralzu !
This seems related to #2713.

Could someone confirm?

[2019-09-13 15:47] campoy commented on #2713
Marking it as popular, after second report appeared #3945.

[2019-09-13 16:02] campoy opened #3986 "Broken example in docs"
### What version of Dgraph are you using?

playground (1.1.0)

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

playground

### Steps to reproduce the issue (command/config used to run Dgraph).

Go to https://docs.dgraph.io/query-language/#after and follow the two examples.

The second query says:

This is actually not accurate, the

[2019-09-13 16:03] campoy opened #3987 "Broken examples should be notified"
As seen in #3986, examples in our documentation are not verified.

We should fix this and make sure that if some example fails, an issue is automatically failed, or we get somehow notified.

[2019-09-13 16:05] danielmai commented on #3986
Every time Play is updated the UIDs are changed when loading the data with all the blank nodes There are a handful of query examples that use UIDs that need to be updated.

In the future, we can load data from an export of the current Play database to preserve the UIDs when doing version upgrades for Play.

[2019-09-13 16:10] campoy opened #3988 "We need continuous benchmark"
We should come up with a series of queries on a dataset that we can run frequently (for each PR, or at least nightly) and store the results so we can visualize the evolution of our performance over time.

This could be a great opportunity for dogfooding Dgraph, by storing all the results in Dgraph and exposing them with the GraphQL layer (idea proposed by @MichaelJCompton).

Each issue that appear

[2019-09-13 16:13] campoy commented on #3826
I think fuzzing would be a great addition to our testing suite!

What do we need to do to make this happen? Do you need any help, @pawanrawal ?

[2019-09-13 16:15] campoy commented on #1536
This is similar to #3987 although not necessarily the same.

This issue is about moving those queries into our test suite, while #3987 is about running those queries on the playground frequently to detect any breakages (on the code, the dataset, or the playground).

[2019-09-13 16:16] campoy commented on #3902
Please add more information about those tests failing here.
This is very urgent.

[2019-09-13 16:18] campoy commented on #3800
This should be fixed with v1.1.1, as the fix has already been sent by @jarifibrahim

Hey, Ibrahim could you add a link to the PR fixing this?

[2019-09-13 16:23] campoy commented on #3479
Hey @pawanrawal, since you worked on the issue linked by this one I wonder if you could have a look and decide whether this should be closed.

[2019-09-13 16:26] MichelDiz commented on #2848
BTW, there's another more obvious case about using this feature.

[code]
## The command
[code]
I added the idea a new feature. "setedgeunique" would be a function of transforming a scalar value edge into a node edge. Where would I look in the dataset for "name" and see if it has the same value as "Manufacturer". e.g. `if Manufacturer field has the same name as a found node with name field. They ar

[2019-09-13 16:27] danielmai commented on #3479
Dgraph Zero pods now receive SIGTERM correctly with #3972. The latest dgraph-ha.yaml and Helm chart configurations have this fix.

[2019-09-13 16:27] #3479 closed

[2019-09-13 16:32] campoy commented on #3965
Is this then a Ratel bug since it tries to figure out the mutation format?

When sent via `curl` with the right `Content-Type` header, I get this error:

[code]

I guess it's better, but still not really helpful.

[2019-09-13 16:35] campoy commented on #3461
Hey @MichelDiz,

Could you give an update on this bug or close it if it's not relevant anymore?

[2019-09-13 16:36] campoy commented on #3887
Hey @danielmai, what's a CID?

[2019-09-13 16:37] #3129 closed

[2019-09-13 16:42] campoy commented on #3931
Hey @gitlw,

Could you add some labels and an explanation of what's going on in here?

谢谢！

[2019-09-13 16:45] campoy commented on #3471
Hey @danielmai,

Is this something we should try to fix? @chuerxiao  can you confirm this is still reproducible?

[2019-09-13 16:50] campoy commented on #3183
Hey @manishrjain,

Could you give an update on this? Should we investigate further?
It'd be great if we could find a way to reproduce this.

[2019-09-13 16:55] #3726 closed

[2019-09-13 16:56] campoy commented on #3977
Translation from Google:

I'm not very sure what the question is about.

Maybe @gitlw can help?

[2019-09-13 17:02] campoy commented on #3466
Hey @danielmai,

This looks like a pretty serious issue, unless it's something we can't reproduce on 1.1.0 nor 1.0.16.

[2019-09-13 17:12] #3986 closed

[2019-09-13 17:14] martinmr commented on #3965
It would depend on what we are using to parse the JSON. I don't think we are using the same parser as the RDF so we cannot add line numbers. But I'll look into it to see if we can improve it somehow.

[2019-09-13 17:28] martinmr commented on #3982
There are a few reasons why we got rid of `_predicate_`:

1. It was expensive to maintain. It involved keeping a list of all the predicates for each node in the graph. Depending on the structure of the graph, this can add a lot of extra data to dgraph.
1. Updates to this predicate were not guaranteed to be correct (as all other updates to Dgraph) because the choice was made to not send them throug

[2019-09-13 17:54] campoy commented on #2897
Setting to P1 since some customers have requested this.

[2019-09-13 18:02] campoy commented on #3807
Hey @danielmai , I'm assigning this to you but feel free to assign it to someone else if you think they could investigate.

[2019-09-13 18:03] Kingloko commented on #3982
@martinmr that's exactly what I was getting at when I said:
"I suspect I could get around this, by creating a "dump_all" type that has all the predicates. Thou, I'm not sure what the implication for that would be."

Thanks for getting back to me so quickly! Its reassuring that we both came up with approximately the same workaround.

[2019-09-13 18:11] campoy commented on #3740
Hi @felixfbecker,

Thanks for the report! Can you reproduce the issue on v1.1.0?

[2019-09-13 18:12] campoy commented on #3740
In the meantime, could you have a look @prashant-shahi?
Also, could you confirm whether this is a dgraph-js issue or something that could happen in other clients / curl?

[2019-09-13 18:17] campoy commented on #2904
Closing this issue due to inactivity.

[2019-09-13 18:17] #2904 closed

[2019-09-13 18:18] danielmai commented on #3793
Yes, this is fixed in v1.1.0 by https://github.com/dgraph-io/dgraph/pull/3795. After following the reproducible steps of loading the data, the query comes back with all the nodes from the JSON input now:

[code]

[2019-09-13 18:18] #3793 closed

[2019-09-13 18:31] campoy commented on #3066
This query could also be written cascade and normalize

[code]

If enough people request this we could consider it, but for now I think we can just keep it for later.

[2019-09-13 18:35] sjhewitt opened #3991 "languages not filtered when using custom tokenizer"
### What version of Dgraph are you using?
master

### Have you tried reproducing the issue with the latest release?
yes

### Steps to reproduce the issue (command/config used to run Dgraph).
- run dgraph using the anagram tokenizer: `dgraph alpha --custom_tokenizers anagram.so`
- schema:
[code]
- data:
[code]
- query:
[code]

### Expected behaviour and actual result.
Actual Result - results where

[2019-09-13 18:44] campoy commented on #3067
Hi there, sorry for the lack of reaction on this issue!

Could you give an example of what you're trying to do and how it fails?

I just created a quick example with this dataset:

[code]

When I recurse over `knows` while asking for `name` and `loop:true` I get the following (expected) behavior:

[code]

result:

[code]

Note how `a` and `b` appear twice, as expected.

On the other hand, when set

[2019-09-13 18:46] campoy commented on #3848
Closing as duplicate of #3301 and marking it as popular.

[2019-09-13 18:46] #3848 closed

[2019-09-13 19:07] martinmr commented on #3982
Sorry I missed that part. But if that solution works for you it's worth exploring and seeing if you get the expected results.

[2019-09-13 19:53] MichelDiz commented on #3461
I have no idea, however, if it still a thing @VictorVisoki , please feel free to reopen but first upgrade to v1.1.0 and use Jaeger to trace the query execution.

Thanks @campoy for the ping.

[2019-09-13 19:53] #3461 closed

[2019-09-13 20:05] campoy commented on #3634
Ok, so I do not think this is a bug at all.

Let me explain. When setting `loop: false` we're asking Dgraph to stop expanding after a node that has already been seen is found.

This allows us to find loops by giving us the element that we already found. This repeated element is expanded, but no further elements will be expanded.

Let's see an example!

Given this dataset:

[code]

This draws a gra

[2019-09-13 20:22] mangalaman93 commented on #3297
@campoy the issue still exists but only relevant for very large amount of data. The proposed fix solved the issue but created another issue. It was reverted for the same reason. This solution will require more thought and work than currently necessary given that we do not often see this issue.

[2019-09-13 20:24] mangalaman93 commented on #3617
@ahctangU Are you still around? Would it be possible for you to try with Dgraph 1.1?

[2019-09-13 20:24] mangalaman93 commented on #3902
@prashant-shahi please post the details of running the tests here. I will look into this first thing Monday.

[2019-09-13 20:26] campoy commented on #850
I'm not sure why we need this feature, since we already have `filter`

For instance, this will only `include` those movies whose movies include a given word:

[code]

We could indeed use `include` instead so the query would look like:

[code]

But I do not see the benefit.

[2019-09-13 20:36] campoy commented on #3813
Thanks for the proposal, @fridex!

Could you give more details of a query that would benefit from this?

Since variables are sets, you can easily use them to remove duplicates.

For instance, if you want to get all the genres from all of the movies directed by Steven Spielberg you could do the following:

[code]

Which returns:

[code]

Or, if you don't want to have repetitions:

[code]

Which ret

[2019-09-13 20:44] campoy commented on #3961
After reading this I'm almost convinced we should remove the `@type` directive completely.

[2019-09-13 21:03] campoy commented on #2435
Hi there,

I'm trying to understand the request here, and I'm not sure I understand it.
I think this is already doable without adding any features to the language by using variables.

Could you provide a sample of your dataset and a the query that you're running so I can try to help you with it?

Thanks, and sorry for the long delay in addressing this issue!

[2019-09-13 21:07] campoy commented on #3788
I do not understand this issue, @MichelDiz

Could you give an example of a mutation with what you would expect it to create and what it actually creates?

Thanks!

[2019-09-13 21:32] campoy commented on #2807
I do not think we should do this automatically, as @manishrjain mentions the behavior would change when used with `url, thumbnail`.

My proposal would be to use a special alias that would replace the current object with the value given.

So for instance, your query would be:

[code]

By using the alias name `.` in `.: url`, you'd basically saying you want to replace the current object with the val

[2019-09-13 21:35] campoy commented on #3446
Thanks for the proposal, @Scapal!

We will consider it and it to the roadmap if enough people request it.

[2019-09-13 21:45] campoy commented on #3801
This is an interesting request, indeed.

We could consider changing the returned field so you'd get `name@hi` if you ended up getting the hindi result. That said, that would cause issues in your example as you'd get two fields with the same name.

For now, wouldn't asking for each language separately be enough?
In this case, you do exactly that which allows you to see the three languages separatel

[2019-09-13 21:47] campoy commented on #3909
Agreed with @MichaelJCompton, and he's the expert in types at this point haha

In addition to not being clear that this applies to all cases, in the cases where the reversed edge should be part of the type you can simply add it.

Closing the issue for now. Feel free to reopen if relevant.

[2019-09-13 21:47] #3909 closed

[2019-09-13 22:18] MichelDiz commented on #850
@campoy in the GraphQL convention the "@include" and "@skip" are boolean directives. It is used more like a "templating" thing. And it uses the GraphQL Variables.

So, in GraphQL some nested blocks would be shown or not if the user passes the true/false value. the Skip and include are not related to functions or filters. But it's a "kind of filter" that helps reuse queries. Similar to Fragments. B

[2019-09-13 22:19] campoy commented on #3790
This is indeed a bug, I was able to reproduce it with this dataset:

[code]

Given the schema below:

[code]

We can get all the coworkers by doing the following request:

[code]

This returns a list with both Francesc and Manish.

[code]

But if we add `@ignorereflex` Francesc should disappear.

[code]

But the issue is, even though Francesc is removed the `since` predicate is wrongly kept.

[cod

[2019-09-13 22:32] campoy opened #3994 "Named queries without variables don't parse"
### What version of Dgraph are you using?

v1.1.0

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

playground

### Steps to reproduce the issue (command/config used to run Dgraph).

Running this query works:

[code]

But if you realize that the query doesn't use the variable and you decide to remove it:

[code]

You get the error:

[2019-09-13 22:32] campoy commented on #2481
I reproduced this error.

Given this dataset:

[code]

I can query when someone started working and where with the following query:

[code]

This returns the following:

[code]

Now, we can filter by those that started working after 2018:

[code]

This result is wrong, as you can see by the fact that `2018` results like "Francesc" still appear

[code]

But if you replace the variable `$since` with

[2019-09-13 22:34] campoy commented on #2406
Hi there, @djdoeslinux

What is exactly what you are requesting here? Do you mean having the facet name in a variable or the facet value that you want to compare the facet value with?

[2019-09-13 22:37] campoy commented on #3940
Hey @harshil-goel,

Is this issue now completely fixed? If so, feel free to close it!

[2019-09-13 22:49] danielmai commented on #1536
[./systest/21million](https://github.com/dgraph-io/dgraph/tree/c3a3e9cc2650f27da9165a07d4851664d248a55b/systest/21million) runs in CI for every PR. The tests verify both [21-million movie data set](https://github.com/dgraph-io/benchmarks/blob/master/data/21million.rdf.gz) bulk loading and a variant of queries from the docs modified for tests. Unlike the doc queries, the systest queries don't assum

[2019-09-13 22:49] #1536 closed

[2019-09-13 23:29] martinmr commented on #3902
Assigning to @prashant-shahi since I looked at it when this issue was about making Jepsen work with the API changes.

[2019-09-14 00:51] 123key commented on #3977
例如：
person [name='Alice',age=15]
person [name='Alice',age=15]
这样同样的两条数据会在数据库中重复插入，怎么样在插入数据的时候把重复的替换掉

[2019-09-14 00:52] 123key commented on #3977
例如：
person [name='Alice',age=15]
person [name='Alice',age=15]
这样同样的两条数据会在数据库中重复插入，怎么样在插入数据的时候把重复的替换掉

[2019-09-14 01:43] danielmai commented on #3977
@123key you can write a mutation to the same UID to have the same content.

[code]
and then the same mutation can be run:
[code]

If you start a mutation with a blank node, then you need to query for the uid first to insert data to the same node.

[code]

Does that answer your question?

[2019-09-14 05:39] 123key commented on #3977
Yes,Thank You!

[2019-09-14 05:57] prashant-shahi commented on #3902
@mangalaman93  @martinmr  @campoy Right now, 6 of the move-tablet Jepsen tests are failing. In case of the incomplete tests if re-run (From 1st to 6th attempt), we are able to pass it.

Here is the complete report of the same.
https://discuss.dgraph.io/t/jepsen-tests-violations-and-exceptions/4892/7?u=prashant-shahi

[2019-09-15 07:07] Willem520 commented on #3967
hello, in my project,I want to use Flink or Sparking streaming to process Rdf or json data in realtime, and I need to transport history data from other graph database(eg janusGraph) to Dgraph.but I found, when I used the spark and dgraph4j to process large dataset(eg 5 million node),it was always failed, and sometime, there was breakdown in alpha.

[2019-09-15 08:27] campoy commented on #3638
This seems like a pretty straight forward request that makes total sense.

We'll consider it for the roadmap in v1.2.

Thanks for the report, @KevOrr !

[2019-09-15 08:36] campoy commented on #2816
Hey @martinmr , could you check whether this issue is still occurring and update it accordingly?

Thanks!

[2019-09-15 22:19] manishrjain commented on #3902
Feel free to assign them to me.

[2019-09-16 01:24] 123key commented on #3977
Please comment：
Why it throws an exception that "the uid cannot exceed 40000" when I set the uid manually?

[2019-09-16 01:36] 123key commented on #3977
Please comment：
Why it throws an exception that "the uid cannot exceed 40000" when I set the uid manually?

[2019-09-16 01:40] coralzu commented on #3945
Thank you very much for your reply.

I will look forward to the next release here.

[2019-09-16 06:11] fridex commented on #3813
Nice! I didn't know that. IMHO worth to give an example of this feature in the Dgraph tour or in query docs. If already present, sorry for missing it.

Thanks for the reply!

[2019-09-16 06:15] rrjanbiah opened #3997 "Hasura vs Dgraph comparison"
## Experience Report

Apologies, this is sort of question + feature request.

### What you wanted to do

Overall, it seems to me that Hasura, Cayley, Prisma, PostGraphile, Graphile, even PostgREST and pREST all can be used for same use case: creating quick GraphQL backend

Dgraph is having very good documentation on comparing with Cayley (but missing other counterparts). But, if the comparison can

[2019-09-16 07:02] pawanrawal commented on #3968
That can be a temporary fix, yes. Though it is still possible that the Alpha node which starts with the first shard doesn't get assigned to group zero. Imagine, a user starting a cluster using something like Kubernetes where there is no guarantee that one Alpha process starts before the other. This problem would still be present then.

[2019-09-16 09:28] ashish-goswami commented on #3916
Hey @eawar, can you share freebase.rdf.gz(link) and freebase.schema file, you are using for bulk load?

[2019-09-16 16:39] dsisnero commented on #2894
GQL support -
GQL just got voted as an ISO standard

[2019-09-16 18:24] martinmr commented on #3982
Closing this issue since we have a possible workaround and the other feature @campoy mentioned is in ratel.

[2019-09-16 18:33] martinmr commented on #3997
Dgraph is a database while Hasura, and Prisma are not so it's not really possible to compare them in a meaningful way.

We are actually working on a new feature that would allow users to create GraphQL backends using Dgraph but that feature is not ready to release. Once it is, a comparison between this tool and Hasura and others would make more sense. We are hoping that Dgraph's native graph capab

[2019-09-16 18:33] #3997 closed

[2019-09-16 18:48] martinmr commented on #3961
Closing this issue since the type directive won't be doing any filtering anymore so this is no longer relevant.

[2019-09-16 18:58] martinmr opened #4001 "Clean up type directive and type function."
We have decided that @type should only do enforcement and to remove the type function since it's just an alias for `eq(dgraph.type, TypeName)`. The code and tests should be removed and cleaned up.

[2019-09-16 19:00] #3961 closed

[2019-09-16 19:01] MichelDiz commented on #3977
Also you can always use Upserts https://docs.dgraph.io/mutations/#upsert-block

[2019-09-16 19:01] martinmr commented on #2972
This particular issue is not really useful. We have issues for specific features so I am closing it.

[2019-09-16 19:01] #2972 closed

[2019-09-16 19:02] martinmr commented on #2816
This was fixed by the PR mentioned above but I forgot to close this issue.

[2019-09-16 19:02] #2816 closed

[2019-09-16 19:09] martinmr commented on #3586
@1l0 Sorry for the late reply. What version are you using? (ideally share a commit timestamp so I can reference the exact lines in the error message). I remember fixing a similar bug that was causing the i386 build to break so I think that would fix other 32-bit archs as well. I would try master since I don't remember whether I added the fix to the release 1.0 branch.

[2019-09-16 20:48] martinmr commented on #3586
Actually, I was able to reproduce this issue. It turns out the culprit is the gRPC library. When trying to set the max message size, the compiler fails because it's expecting an int (8 bytes in a 32-bit architecture) but our max message size is 4GB, which overflows the max value of an int.

This is the case for the 386 and arm architectures. arm64 is working. I talked to other folks and we don't o

[2019-09-16 20:48] #3586 closed

[2019-09-16 22:32] #3358 closed

[2019-09-16 22:50] #3974 closed

[2019-09-17 06:21] rrjanbiah commented on #3997
@martinmr

Thank you so much for your reply. Forgive me if I'm wrong... Cayley also looks not a real database in that sense. So, since you've compared it against Cayley, may be you can add other counterparts too--at least in marketing perspective. At least for me, Dgraph looks more than a graph database (again, I may be wrong though)

[2019-09-17 07:38] zhuyaoyhj opened #4004 "Type system adds inherited functionality"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do
Type system adds inherited functionality
such as:
type a{}
type b{
    type a
}

### What you actu

[2019-09-17 10:32] #3966 closed

[2019-09-17 10:50] #3617 closed

[2019-09-17 10:53] balajijinnah opened #4005 "Values are not sorted properly"
### What version of Dgraph are you using?
master
### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?

### Steps to reproduce the issue (command/config used to run Dgraph).
Just populate cluster with this data
̍https://github.com/dgraph-io/dgraph/blob/master/query/common_test.go#L269
and run the this query
[code]

### Expected behaviour an

[2019-09-17 12:46] pawanrawal commented on #3826
Sorry I missed this. I think our CI runs a variant of the test.sh script in the root of the project. We don't have config files for them and these instructions are inside the Teamcity agent. @danielmai or I can help you add the step if you can tell us what to do.

[2019-09-17 14:21] jarifibrahim commented on #3800
The issue was fixed in badger via https://github.com/dgraph-io/badger/commit/cbdef65 and added to dgraph via https://github.com/dgraph-io/dgraph/pull/4007.

I'll close this issue once https://github.com/dgraph-io/dgraph/pull/4007 is merged.

[2019-09-17 15:23] campoy commented on #3965
Any update on this issue, @martinmr ?

[2019-09-17 15:37] campoy commented on #3663
I do understand this is not easy to fix, but something needs to be done.

Maybe we should simply disable the usage of first and other pagination on variables coming from shortest path?
Or maybe the variables coming from shortest path should simply be different?

[2019-09-17 15:39] campoy commented on #3826
Hey @yevgenypats, I guess we're waiting on your input to help us set this up.

[2019-09-17 15:44] campoy opened #4009 "Add documentation on how to get "unique" results"
We should provide documentation on how to obtain unique results by using variables.

See https://github.com/dgraph-io/dgraph/issues/3813 for context.

[2019-09-17 15:45] campoy commented on #3813
Good idea, I'll close this issue and create #4009!

[2019-09-17 15:45] #3813 closed

[2019-09-17 15:46] campoy commented on #3945
Ok, I'll close this issue as a duplicate of #2713. Thanks for the report!

[2019-09-17 15:46] #3945 closed

[2019-09-17 15:46] yevgenypats commented on #3826
hi @pawanrawal and @campoy cool. so I think the steps will be as follows:

1) sign up at https://app.fuzzit.dev
2) once you sign up let me know and I'll add you to dgraph account so you can take over
3) Essentially what you want to add is two steps in test.sh one for fuzzing and one for regression
3.1) here is a go example https://github.com/fuzzitdev/example-go you can see fuzzit.sh and .travis.y

[2019-09-17 15:48] campoy commented on #3967
I'm sorry but I'm going to need more information on what you were actually building and how it failed.

If I understand correctly, you're processing a stream of events in RDF or JSON format?
Or is it a batch analysis with 5 million nodes?

What exact API would you like us to provide to integrate with Spark or Flink?

[2019-09-17 15:54] campoy commented on #2848
This actually starts to look like a pretty well-defined feature.

Similarly to how @animesh2049 is working on a validator tool + library for bulk loader in https://github.com/dgraph-io/dgraph/pull/3838, we should create a tool and library for this.

This might be a good candidate to be added as a small feature, somehow independent of the rest of the release.

Keeping it as P2 and waiting for someo

[2019-09-17 15:55] campoy commented on #3940
ping @harshil-goel

[2019-09-17 16:21] campoy commented on #2693
I wasn't aware of that, and it does make sense to consider it as part of our support for multi-tenancy.

Thanks, @AgentZombie

[2019-09-17 16:23] mangalaman93 commented on #3940
Val support has been added in #3947. Linking to https://github.com/dgraph-io/dgraph/issues/1996 for adding support for Facets separately. That'd be a bigger change.

[2019-09-17 16:23] #3940 closed

[2019-09-17 16:24] campoy commented on #3982
Let's keep it open for now until we have a fix, regardless of whether it ends up being on Ratel, other clients, or somewhere else.

[2019-09-17 16:26] campoy commented on #850
I think we should not support this directive, since `@filter` provides an alternative.
Those wishing to use it, they can definitely use our GraphQL layer.

What do you think, @manishrjain ?

[2019-09-17 16:33] campoy commented on #3904
Hey @martinmr , could you have a look at this issue?
I think you might be the best person to handle this right now.

[2019-09-17 16:43] campoy commented on #4004
I'm not sure what you're really requesting on this issue.

We are not considering supporting type inheritance, you should be using attaching multiple types for a given node instead.

Could you explain a bit more in detail what your needs are?

[2019-09-17 18:18] MichelDiz commented on #850
I don't get if you followed what I meant. Maybe I'm not clear in explaining the feature.

This query.
[code]
Is a kind of "hacky way". And the right form would be `@filter(eq(name@., $movie))` cuz `anyofterms` would be related to a value filter and so it doesn't have the same effect. Of the mentioned directives.

Who would use the "skip", "include" directives, would be interested in add or not a n

[2019-09-17 20:07] martinmr commented on #3997
Cayley calls itself a graph database. I don't know a lot about it to know how accurate that is but from the README of their repo that seems to be the case. Thus, it makes sense to compare Dgraph and Cayley.

[2019-09-17 20:21] martinmr commented on #3965
sorry, I haven't had a chance to look at it, yet. I'll get to it once I am done with the type system PRs I have open.

[2019-09-17 20:27] martinmr commented on #3904
I have a PR for this already but there is a weird bug that I haven't had the chance to debug yet.

[2019-09-17 22:05] manishrjain commented on #3997
Perhaps once we have built out our GraphQL layer, it might make more sense to do some performance benchmarks. But, Hasura is just a GraphQL layer on top of PostGres, which only runs on one server. Dgraph is designed to scale horizontally. So, running Dgraph on just one server to compare against PostGres might not be a great use case for Dgraph.

[2019-09-17 22:33] manishrjain commented on #850
This issue has been around for a while, but hasn't seen much enthusiasm from the community. So, perhaps, no need to build this. Once a clear use case comes from a user with a decent experience report, we can consider then.

[2019-09-17 23:59] martinmr opened #4014 "Simplify type definitions."
We have decided (see https://discuss.dgraph.io/t/should-we-remove-the-type-directive/5067/11) not to do any type enforcement for now within Dgraph and let the GraphQL layer do the enforcement after receiving the query results.

Therefore, we can simplify the type definitions.

Instead of doing
[code]
we can just define types as
[code]

The type system is not really using anything after the colon,

[2019-09-18 00:03] martinmr opened #4015 "Remove @type directive."
We decided to not do any enforcement of types for now. To simplify the query language, we are keeping the type directive but keeping the type function. So the equivalent of `@type(Person)` is `@filter(type(Person))`

[2019-09-18 02:49] MichelDiz opened #4019 "Live Loader: Issue with dgraph's default addr"
### What version of Dgraph are you using?
1.1.0 (ibrahim:badger-update - but it's not related to that branch)

### Have you tried reproducing the issue with the latest release?

Yes

### What is the hardware spec (RAM, OS)?
Tested on Windows and Darwin

### Steps to reproduce the issue (command/config used to run Dgraph).
Start live load with defaults settings. Or set the addr (flag -a)

[code]

T

[2019-09-18 02:53] #3991 closed

[2019-09-18 03:29] MichelDiz opened #4020 "Panic on Windows: possible related to integer compression."
### What version of Dgraph are you using?
[code]

### Have you tried reproducing the issue with the latest release?
No, cuz it's a PR testing.

### What is the hardware spec (RAM, OS)?
Windows 10 pro

I can't reproduce it in Darwin. However, it seems to hurt the live loader performance.

### Steps to reproduce the issue (command/config used to run Dgraph).
1 - Run zero
2 - Bulk load 21 mi RDF
2.1

[2019-09-18 06:37] zhuyaoyhj opened #4021 "Upsert Block fails when processing multiple nodes"
### What version of Dgraph are you using?
    Dgraph version   : v1.1.0
    Dgraph SHA-256   :  7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
    Commit SHA-1     : ef7cdb28
    Commit timestamp : 2019-09-04 00:12:51 -0700
    Branch           : HEAD
    Go version       : go1.12.7

### Have you tried reproducing the issue with the latest release?
    yes

### What is the hardwa

[2019-09-18 07:46] rrjanbiah commented on #3997
@manishrjain Thanks a lot for your additional notes. AFAIK, horizontal scaling is possible in Postgres through CitusDB. As Hasura has support for Citus (https://github.com/hasura/graphql-engine/issues/1183 ) , horizontal scaling might be possible. But, you seem to be right as Hasura didn't offer any official word yet on that https://github.com/hasura/graphql-engine/issues/1183

[2019-09-18 09:42] rrjanbiah commented on #3997
@manishrjain Sorry, one more thing....

But https://docs.dgraph.io/master/query-language/ claims to support `GraphQL+-`. So, are there any known limitations of `GraphQL+-`?

(*Apologies for using GitHub... but hope this will be useful for the person who will do the documentation*)

[2019-09-18 11:03] mangalaman93 commented on #4020
May be related to https://github.com/golang/go/issues/23279

[2019-09-18 13:33] animesh2049 opened #4024 "Behavior of cascade not clear with aggregation"
### What version of Dgraph are you using?
version: 5b20d411f7cb21fe575503e70f60ca48bb794bb1

### Steps to reproduce the issue and expected behaviour and actual result.

Behavior of aggregators is not clear when used with `@cascade`.
Data:
[code]
query:
[code]
Response:
[code]
`age_var` should only contain those nodes, whose `friend's` have age and `friend's friend` have `age`. Here root query will

[2019-09-18 15:47] ashish-goswami commented on #4019
Caused by https://github.com/dgraph-io/dgraph/issues/4020.
Closing this.

[2019-09-18 17:32] MichelDiz commented on #4019
This still happening on master - I've build it again in Darwin and tested.
[code]
git commit => https://github.com/dgraph-io/dgraph/commit/a5dbfc80e029c096c29024d2c0b2497fff265ffd
[code]

[2019-09-19 02:56] Willem520 commented on #3967
hi,I used Spark to load 5 million node into memory and used 100 partitions to process data, in each partition, I build 2000 node with JSON format  into a mutation,an used dgraph4j client to execute txn.mutate. when I run the program,it was failed, and got the error message
![image](https://user-images.githubusercontent.com/26085817/65209963-2b879480-dacc-11e9-96d6-60945af186fb.png)

[2019-09-19 07:14] mangalaman93 commented on #3967
How many cores are you providing to each executor? How many executors are you running concurrently?

[2019-09-19 07:48] Xample commented on #933
What is the status of this issue ? Also, would it be relevant to support [opencrud](https://www.opencrud.org) for a first version ?

[2019-09-19 14:23] VarunPeddina opened #4030 "Query returns inconsistent results after upgrading to dgraph:v1.1.0"
### What version of Dgraph are you using?
1.1.0
### Steps to reproduce the issue (command/config used to run Dgraph).
schema
[code]
mutate
[code]
query
[code]
### Expected behaviour and actual result.
[code]
Keep running the same query again and again and you will see the following result intermittently
[code]
Can see the desired results if we filter only on either `firstName` or `lastName` predic

[2019-09-19 14:29] prashant-shahi opened #4031 "ACL permission changes takes few seconds to affect"
### What version of Dgraph are you using?

[code]

### Have you tried reproducing the issue with the latest release?

**YES**

### Steps to reproduce the issue (command/config used to run Dgraph).

Dgraph cluster was brought up using the [docker-compose yaml file in *dgraph* directory](https://github.com/dgraph-io/dgraph/blob/master/dgraph/docker-compose.yml).

- Bring up the Dgraph cluster with A

[2019-09-19 15:41] MichelDiz commented on #4030
Yeah, that feels like a bug.
If you run the query bellow it works as needed
[code]

[2019-09-19 16:48] MichelDiz commented on #4019
I'll leave it opened to keep tracking it. And test it again after #4020 is solved.

[2019-09-20 03:11] zhuyaoyhj commented on #4004
I designed the schema to follow schema.org. The schema in schema.org has a nested relationship.
Now what I am doing is:

    schema:
    type PersonfeatureA{}
    type PersonfeatureB{}
    type Person{}

    set:
    <uid> <dgraph.type> "PersonfeatureA" .
    <uid> <dgraph.type> "PersonfeatureB" .
    <uid> <dgraph.type> "Preson" .

I want to:

    schema:
    type PersonfeatureA{}
    type Person

[2019-09-20 07:32] #3994 closed

[2019-09-20 07:54] kvdmolen commented on #3680
Change the default server URL port form 8000 to 8080. Then it will work.

The default 8000 is the port for Ratel. 8080 for dgraph database itself.

[2019-09-20 07:57] VarunPeddina commented on #4030
Now it's returning the following error in ratel if you keep running a few times
[code]
and the following error in alpha
[code]

It's not crashing if we don't use `has`.
This is happenning even if the predicates has just these 5 records.

[2019-09-20 09:01] robsws opened #4034 "Add support for filtering on value predicate facets"
I want to be able to filter value predicates on their facets [as well as uid predicates](https://docs.dgraph.io/query-language/#filtering-on-facets). For example, I want to be able to execute something like the following query on the[ toy graph specified in the facets documentation](https://docs.dgraph.io/query-language/#facets-edge-attributes):

[code]

Running that query right now provides the f

[2019-09-20 15:55] danielmai commented on #4009
Worth adding to the [GraphQL+- Tips and Tricks](https://docs.dgraph.io/tips/) page.

[2019-09-20 16:27] MichelDiz commented on #4019
I did more tests around this

Same error with:
v1.1.0
don't work ➜  dgraph-darwin-amd64 ./dgraph live -f rdf.rdf -s schema.schema
works         ➜  dgraph-darwin-amd64 ./dgraph live -f rdf.rdf -s schema.schema  -a localhost:9080

v1.0.15
don't work ➜ Dgraph v1.0.15 ./dgraph live -r 21million.rdf.gz -s release.schema.txt
works         ➜ ./dgraph live -r 21million.rdf.gz -s release.schema.txt -d loca

[2019-09-20 16:45] danielmai commented on #4019
Seems like a machine config issue, @MichelDiz. I tried the same commands you shared on Mac and they work with the default `--alpha` flag value `127.0.0.1:9080`.

with Dgraph v1.1.0:
[code]

[2019-09-20 17:51] MichelDiz commented on #4019
I’ve created a VM with Windows 10 and tested it there. It works fine.

So it is indeed something else very odd. I can't figure out what is it. So in case, this issue happens to other users, please set as localhost.

[2019-09-20 17:51] #4019 closed

[2019-09-20 18:57] MichelDiz commented on #4034
That is something we already discussed internally.

This has some logical barriers. We could not tell if the filter would have to be applied to the node itself or the intrinsic value to the predicate.

I believe that if the filter should be applied to the node itself, we should allow using facet filters in Root rather than in the query body.

@robsws are you mutating via RDF or JSON? What is your

[2019-09-20 19:04] yevgenypats commented on #3826
friendly ping:) @pawanrawal @campoy

[2019-09-20 22:54] danielmai opened #4035 "Dgraph Alpha does not shutdown when signaled to when it has not yet joined a cluster"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?
N/A

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph Alpha with no Zero running.

[code]
2. Press Ctrl-C (SIGINT) or send a SIGTERM to the Alpha process. The Alpha will show these logs, closing the gRP

[2019-09-20 23:06] campoy commented on #4034
I think we should definitely implement this.

Since a value predicate can hold facets, we should be able to filter by them as in other predicates.
Could you explain a bit more in detail which concerns do you have regarding the language side of things, @MichelDiz ?

[2019-09-21 00:11] danielmai commented on #3887
Cluster ID. It's a UUID generated for a cluster.

[2019-09-21 01:15] MichelDiz commented on #4034
@campoy it is linked to the order of concepts in the syntax. Facets were created for the relationship between edges, the ability to create facets in values and allow functions at this level to affect the query itself, it slightly changes its concept a priori.

I don't know what the whole design implications of this are. If any of the approaches below would affect other use cases.

Although Facets

[2019-09-21 14:00] erhlee-bird opened #4037 "Documentation for configuration file layout is nonexistent"
## Documentation

There isn't any documentation for the configuration files used for the various Dgraph services.
As a user trying to use configuration files for the first time, I had to fumble my way through first figuring out what file types are acceptable and how equivalent command line options should be conveyed. This is not ideal.

What would be helpful is a short example for each type of con

[2019-09-21 16:11] erhlee-bird commented on #4037
Nevermind, found it.

[2019-09-21 16:11] #4037 closed

[2019-09-21 17:51] akamos opened #4038 "Query variable for query block not recognised after upgrading to 1.1.0"
### What version of Dgraph are you using?
1.1.0 and master

### Have you tried reproducing the issue with the latest release?
Yes.

### What is the hardware spec (RAM, OS)?
MacBook Pro 15, Mac OS Mojave

### Steps to reproduce the issue (command/config used to run Dgraph).

Load the schema and data from tutorial in a clean database (http://tour.dgraph.io/intro/3/ and http://tour.dgraph.io/intro/3/

[2019-09-21 20:43] MichelDiz commented on #4038
For now, there is a way around this. If you execute the query below in https://play.dgraph.io/?latest you gonna have the expected result. This happens cuz the `count()` function affects the overall result of that block. So you need to explicitly add the variable inside the block to the UID pred or create separated blocks for each propose.

This approach below has no performance losses or any other

[2019-09-22 12:09] hackintoshrao opened #4039 "[standalone image]: Issue running dgraph-standalone"
### What version of Dgraph are you using?
dgraph/standalone:latest

### What is the hardware spec (RAM, OS)?
Mac OSX, 8GB RAM.

### Steps to reproduce the issue (command/config used to run Dgraph).
`docker run --rm -it -p 8000:8000 -p 8080:8080 -p 8090:8090 dgraph/standalone:latest`

### Expected behaviour and actual result.
Here is the error,

`2019/09/22 00:37:38 LRU memory (--lru_mb) must be at

[2019-09-22 14:49] akamos commented on #4038
Thanks for the quick response. I'm waiting for the fix. Do you plan to do have it ready until 1.1.1 already?

[2019-09-22 16:55] MichelDiz commented on #4038
No plans, it has 23 hours :P - but it's `priority/P0`, which is good.

Cheers.

[2019-09-23 03:19] Willem520 commented on #3967
I used 4executor-cores,5num-executors

[2019-09-23 09:08] robsws commented on #4034
For my use case, I would like to be able to filter multiples of a particular value edge down to one or more based on the value of the facet. For example, maybe if Alice had several cars like this:

[code]

I want to be able to fetch the car (or cars) she had where since > "2019-01-01" with my query above and ignore the other entries.

I am concerned that if the extra clause appears at the root, th

[2019-09-23 11:22] mangalaman93 commented on #4030
Result of git bisect -

[code]

[2019-09-23 14:20] cmgreen210 opened #4044 "Backup request does not use overridden credentials"
### What version of Dgraph are you using?
v1.1.0
### Have you tried reproducing the issue with the latest release?
yes

### What is the hardware spec (RAM, OS)?
n/a

### Steps to reproduce the issue (command/config used to run Dgraph).
Set expired AWS credentials env variables (or none at all) on alpha server, then make
backup request overriding them as detailed [here](https://docs.dgraph.io/enter

[2019-09-23 14:25] jfcg opened #4045 "sorting improvement"
## Experience Report
My experience with Go standard library's sort is that it is not a concurrent implementation (does not utilize multiple goroutines). This bid me once before when I tried to sort a very long array of ints. However I did not assess its affects on dgraph. Dgraph database also uses it extensively:
[code]
gives 252 results. I decided to open this issue to determine how it affects dg

[2019-09-23 17:22] martinmr commented on #4004
I would create a single type Person with all the predicates of feature set A and B. If you want to add another fields, you can modify the definition of the type.

We are working on something that would allow you to do `expand(PersonfeatureC)` to use only the predicates of a given types for expand queries.

[2019-09-23 19:01] campoy commented on #4034
I'd say we should unify how we filter by facets and do the same for predicates pointing to other nodes as well as predicates pointing to values.

If car was pointing to a node with field `since` then you'd write:

[code]

The same way, if you have a predicate that points to a string value and you want to filter by a face attached to it, you should be able to write:

[code]

Let's see with a sample

[2019-09-23 19:18] #4039 closed

[2019-09-23 19:24] martinmr commented on #4044
Thanks for the detailed bug report. I've opened a PR to fix this issue for backups (more work is still needed to allow credentials to be overriden during restore.

[2019-09-23 19:36] MichelDiz commented on #4034
@robsws there is a small issue with what you want.
[code]

`[Lists]` can't hold facets for each value of the list.  That is, it is not possible to do what you mentioned in your last comment tho. And adding facet support to lists would be another feature beyond that.

So instead of that, is better to do:

[code]

## Query

[code]

## Result

[code]

[2019-09-23 20:13] MichelDiz opened #4048 "More information in response for Upsert"
## Experience Report

### What you wanted to do

I would like to execute Upserts transactions and have a logical response from what is happening. Sometimes we send a transaction that does not return contextual information about the transaction itself. We only have some information when the transaction creates a new object in the DB. But it's not human-friendly.

### Why that wasn't great, with exa

[2019-09-23 20:16] #4015 closed

[2019-09-23 20:16] martinmr commented on #4015
Done

[2019-09-23 20:17] martinmr commented on #4001
No longer relevant so closing.

@type directive has been deleted and we are in the process of simplifying the type definitions since there are no plans to do enforcement in Dgraph for now.

[2019-09-23 20:17] #4001 closed

[2019-09-23 20:19] campoy opened #4049 "Doc queries failing to run due to CORS"
### What version of Dgraph are you using?

Play

### Have you tried reproducing the issue with the latest release?

Yes

### What is the hardware spec (RAM, OS)?

Play

### Steps to reproduce the issue (command/config used to run Dgraph).

Go to https://docs.dgraph.io/query-language/#returning-values

Click on "Run" the query below and you'll see no result.

### Expected behaviour and actual resul

[2019-09-23 20:21] danielmai commented on #4049
Docs are working again. There was a disk space issue on the Play cluster.

[2019-09-23 20:21] #4049 closed

[2019-09-23 20:21] martinmr opened #4050 "TestMetrics is flaky"
Example failure: https://teamcity.dgraph.io/viewLog.html?buildId=25361&tab=buildResultsDiv&buildTypeId=Dgraph_CiDefaultTestCluster

[2019-09-23 21:14] #4050 closed

[2019-09-23 21:49] campoy commented on #4034
If I understand correctly, @robsws is not saying that a given facet is applied to each value in a list predicate, but rather in his application all predicates will be created with their own facets.

This looks like a pretty straight forward addition at this point, would you agree with this @MichelDiz

[2019-09-23 22:39] MichelDiz commented on #4034
Not sure if I get you right. In his last example, the sample will be inevitably a list. The only way to avoid creating a list is by giving a predicate for each car. e.g:
[code]
That's the only way to have a value facet for now. But, I don't think this is ideal. This can eventually lead to the creation of numerous predicates, which goes beyond control.

Despite this point, functions in facet values

[2019-09-23 22:42] pawanrawal commented on #3826
Hey @campoy

I just requested the Dgraph GitHub account to install fuzzit for dgraph. If you can approve it, I can work on the next steps here.

[2019-09-23 22:42] danielmai commented on #3826
Approved.

[2019-09-24 05:17] igormiletic opened #4053 "Invalid memory address or nil pointer dereference (Kubernetes)"
Version: v1.1.0

It repeats all the time without clear reasons.

Kubernetes 1.13.
Setup is from HA documentation of DGraph. 3 alpha nodes and 3 zero nodes.

As soon as serious traffic (about 200 upsert commands per socond) after some time nodes start to get corrupted and they simple does not work.

Error is:

[code]

[2019-09-24 06:40] Willem520 commented on #2693
I think it will be a great feature

[2019-09-24 09:16] #3964 closed

[2019-09-24 11:05] mangalaman93 commented on #4038
I still am looking into this, seems like we do not allow query alias along with alias for `count()` subgraph OR multiple `count()` aliases in one query.

[2019-09-24 13:11] mangalaman93 commented on #4030
This is caused by a race condition -
[code]

[2019-09-24 14:54] robsws commented on #4034
Hi, thanks for continuing to look into this. I have a few comments based on the discussion above:

I _think_ this is correct yes - each individual predicate in the list has it's own facets, rather than the list itself having facets. As if each predicate were individual, different predicates rather than a single list predicate. Hopefully this means it should be possible to implement?

It's importan

[2019-09-24 17:22] MichelDiz commented on #4034
@robsws About the last question, yeah, it definitely would be possible.

About having facets on individual values of a list. I'm not sure, at some time a user asked about this functionality, and the conclusion among the core team was that it would not be possible. I don't know about today, but this is another feature. It would not be part of this issue here.

[2019-09-24 17:31] mangalaman93 commented on #4038
I tried the following query -
[code]

It should fail with parsing errors saying that we have defined more variables than in use. But it runs successfully. Trying to figure out what is the right design here, whether we support something like this.

[2019-09-24 18:35] campoy commented on #4038
In order to clarify the example, let's change the name of the variable to avoid confusion with the `count` function itself.

[code]

This should return

[code]

This doesn't currently work, because the variable `people` doesn't seem to be defined.

On the other hand, if we comment out the `total: count(uid)` line in the first query fragment, the result is correct:

[code]

[code]

Not sure whether

[2019-09-24 18:49] mangalaman93 commented on #4038
The root cause for this issue is the line here https://github.com/dgraph-io/dgraph/blob/master/gql/parser.go#L2848

The multiple aliases to `count(uid)` is related to this issue. Seems like instead of creating a child `SubGraph` for `total: count(uid)`, we instead just use the parent `SubGraph` to store the information in case when `count(uid)` is used in the SubGraph. I plan to talk to @pawanrawa

[2019-09-25 00:21] danielmai opened #4056 "Error while proposing node removal"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?
Ubuntu Linux

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run a Dgraph cluster with multiple Alpha replicas in a group.

[code]
2. Remove an Alpha.

[code]

3. The Alpha is removed successfully according to t

[2019-09-25 00:22] danielmai commented on #4053
@igormiletic can you confirm the Dgraph version you're running? You can paste the output of `dgraph version`. The stack trace does not match the code from v1.0.1.

[2019-09-25 02:44] asa511 commented on #3811
@mehdiym Can you elaborate on what the new syntax should be to get the following query to work? (The documentation does not seem to be up to date yet.)

[code]

[2019-09-25 04:15] deligent-ant opened #4057 "delete node"
I use `{
  "delete" :
    {
       "uid": "0x1"
    }
}` in ratel.
 but when i query by
 {
  me(func:uid(0x26)){
   uid
   name
  friend{
name}
}`  all the content still exist.

i seem that  delete do not work. i can not delete all eage of a node(S * *)

[2019-09-25 04:35] igormiletic commented on #4053
Ah, sorry, I was wrong:

Dgraph version   : v1.1.0
Dgraph SHA-256   : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1     : ef7cdb28
Commit timestamp : 2019-09-04 00:12:51 -0700
Branch           : HEAD
Go version       : go1.12.7

[2019-09-25 05:06] MichelDiz commented on #4057
If you are using the latest version of Dgraph (v1.1.0) you have to have the Type Schema.
Please, read this blog post https://blog.dgraph.io/post/release-v1.1.0/

[2019-09-25 20:08] martinmr commented on #4057
Yes, that syntax is equivalent to deleting triples of the form `subject * *`. Without type information, Dgraph 1.1 cannot know which predicates to consider.

Closing for now but feel free to reopen or ask around in discuss.dgraph.io or our slack channel if you have more questions.

[2019-09-25 20:08] #4057 closed

[2019-09-26 03:08] zhuyaoyhj opened #4063 "Unable to search for predicate@lang data using expand(_forward_)"
**- What version of Dgraph are you using?**

    Dgraph version   : v1.1.0
    Dgraph SHA-256   :
    7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
    Commit SHA-1     : ef7cdb28
    Commit timestamp : 2019-09-04 00:12:51 -0700
    Branch           : HEAD
    Go version       : go1.12.7
**- Have you tried reproducing the issue with latest release?**

    Yes
**- What is the har

[2019-09-26 06:41] mangalaman93 commented on #4053
Can't see what could possibly be nil there. Because -
1. n is not nil, we check for it
2. Good chance n.Raft() doesn't return nil, but need to check more
3. snap.Context.GetId() is not nil because we printed it in the logs
4. raft.SnapshotFailure is a constant

cc: @pawanrawal @manishrjain

[2019-09-26 12:57] raasss commented on #4056
Me having the same problem. But I think I did alpha node the wrong way.

1. I stopped 1 of 3 alpha nodes.
2. Wiped node database data and started node again.
3. The node started to panic because I forgot to do rest api call to remove node from cluster.
4. Stopped alpha node again
5. Wiped node database data
4. I did api call and removed node with http://<zero leader>:6080/removeNode?id=3&group=1'

[2019-09-26 13:57] #3800 closed

[2019-09-26 14:03] animesh2049 commented on #4063
I am able  to reproduce this issue. I ran below query on play.
[code]
output of this query is
[code]

For `_all_` we are getting all the predicates but when I run with `_forward_` or `_reverse_` it doesn't give any output.

Query with `_reverse_` :
[code]
Response:
[code]
Query with `_forward_`:
[code]
Response:
[code]

[2019-09-26 23:46] campoy commented on #4038
Hey @mangalaman93, do you have any updates on this issue?

[2019-09-27 01:45] manishrjain commented on #4053
So, this node is number 8. Looks like this node is seeing 3 peers already: Nodes:[6 7 8]. So, basically 3 nodes, including itself. However, some other node, i.e. number 9 is trying to join this cluster and asking this server for a snapshot, as it is starting up. This call happens before n.Raft has time to be properly created, hence resulting in a segmentation fault.

This number 9 node should not

[2019-09-27 05:22] mangalaman93 opened #4077 "Support for equality and inequality in filter when a predicate doens't have index"
We already support regular expressions in filter even when a predicate doesn't have trigram index. We could further enhance and add support for more functions in filter when we don't have indexes for the predicates used in the filter.

### Schema
[code]

### Mutation
[code]

### Query
[code]

Fails with following error:
[code]

Related to #4065 #4030 a4756c206adc19b5ba640373407b30ef3a01f030

[2019-09-27 05:27] mangalaman93 commented on #4038
I was working on another issue. I will work on a solution for this issue today. I already have a plan in mind to fix it.

[2019-09-27 08:09] jostillmanns opened #4079 "Concurrent write of nodes referencing the same node fails with Dgraph v1.1"
### What version of Dgraph are you using?
v1.1

### Have you tried reproducing the issue with the latest release?
yes

### What is the hardware spec (RAM, OS)?
16Gb, Linux 4.19.67-1-lts

### Steps to reproduce the issue (command/config used to run Dgraph).
run test

[code]

### Expected behaviour and actual result.

Expected behaviour: no error and two nodes are created
Actual behaviour: One mutat

[2019-09-27 08:58] pepoospina opened #4080 "Support 1 to 1 associations seems to fail in V1.1.0"
### What version of Dgraph are you using?
[code]

### Have you tried reproducing the issue with the latest release?
I think that's the latest one.

### What is the hardware spec (RAM, OS)?
Ubuntu 16.04, 16GB, don't think it's relevant here.

### Steps to reproduce the issue (command/config used to run Dgraph).
run dgraph 1.1.0
clone this branch of this repo:
https://github.com/uprtcl/js-uprtcl-ser

[2019-09-27 10:30] robsws opened #4081 "Support fetching facets from value edge lists"
It seems that currently, if facets are added on value edge lists (with type [string] for example), it is impossible to retrieve any facets added on edges within the list. Here is a toy example where I have two `name`s recorded for Alice, each with it's own `since` facet associated:

[code]

The response for this mutation shows a success, so one can assume that the facets were added successfully:

[2019-09-27 10:54] ashish-goswami opened #4082 "Block access to all predicates by default in ACL"
Currently if dgraph cluster is booted up with ACL on, all predicates can be accessed until first rule is created. Ideally we should not allow access to any predicates by default if ACL is on. We can expose `acl_allow_all` flag to allow access to all predicates after the cluster boot up.

Final behaviour will look as follows -
### ACL is off
Access to all predicates is OK

### ACL is on
NO Access t

[2019-09-27 11:20] koenvanderveen commented on #1619
How is this done in v1.1? Since _predicate_ doesnt exist anymore.

[2019-09-27 12:36] protheusfr opened #4083 "Is there any convenient way to import existing data from Neo4j to dgraph ?"
After some basic testing, I would to import my existing Neo4j (3.3.6-enterprise) data to dgraph to go further.

I understand dgraph can import RDF n-quads data but Neo4j can't export in this format...
Any experience on the subject here ?

[2019-09-27 13:27] animesh2049 commented on #4063
I think your query isn't correct. Can you try the below query?
[code]

[2019-09-27 13:35] ashish-goswami commented on #3959
Closing this as, it got merged into master.

[2019-09-27 13:35] #3959 closed

[2019-09-27 14:14] ashish-goswami commented on #3463
This got fixed in https://github.com/dgraph-io/dgraph/pull/3542

[2019-09-27 14:14] #3463 closed

[2019-09-27 16:17] MichelDiz commented on #4083
Not sure about this in Neo4j, it certainly can export to JSON or CSV.

Loading CSV in Dgraph https://docs.dgraph.io/howto/#loading-csv-data
Loading JSON in Dgraph is easy. You can use either a standard client or bulkloader to import JSONs.

[2019-09-27 16:32] MichelDiz commented on #4080
I think you've just defined the type schema. Dgraph won't check the type schema, you have to add in https://github.com/uprtcl/js-uprtcl-server/blob/05a19237417d7115e7457defe6d143e27a5cf8fb/src/db/schema.ts#L63 this:
[code]

[2019-09-27 16:40] #4020 closed

[2019-09-27 16:44] campoy commented on #4083
You can export from Neo4j to CSV following this article:

https://neo4j.com/blog/export-csv-from-neo4j-curl-cypher-jq/

Then you can import all the CSV data into Dgraph following this article:

https://docs.dgraph.io/howto/#loading-csv-data

Notice that you could avoid the intermediary step of going to CSV by simply exporting/importing JSON - but some modifications might be necessary.

[2019-09-27 16:44] #4083 closed

[2019-09-27 16:45] campoy commented on #4082
We should indeed fix this, yes. I agree with the proposed behavior.

[2019-09-27 16:55] campoy commented on #4081
Yes, this is indeed the part that I mentioned would not be necessarily fixed as part of #4034.

The hard part here is basically agreeing on how it should be formatted.

One option would be:

[code]

This approach breaks if some of the edges are missing that facet.

Another option:

[code]

This one has the slight issue that when you ask for facets, even if none are returned, strings are reified in

[2019-09-27 17:16] martinmr commented on #1619
You could assign all you nodes with a dummy type, and then run.

[code]

[2019-09-27 17:19] martinmr commented on #4063
This is something I ran into a couple weeks ago. Right now, language predicates are only expanded when using `expand(_all_)` but not `expand(_forward_)` or `expand(_reverse_)`.

I am not sure if it's a bug because the code makes it clear to only look for lang predicates when `_all_` is used but I agree it's not what I expected to happen.

[2019-09-27 17:42] campoy commented on #4080
Yeah, could you give us the result of running the following query?

[code]

[2019-09-27 17:46] protheusfr commented on #4083
Thank you both, will try.

[2019-09-27 18:02] campoy opened #4085 "Create predicates from type fields"
## Experience Report

It is confusing that when you declare a field in a type this is not taken into account automatically by the schema.

### What you wanted to do

In issue #4080, a user created a type with a field `head` of type `uid` to keep a 1:1 relationship.

### What you actually did

Since they didn't create the corresponding predicate in the schema `head: uid .`, once they sent the first

[2019-09-27 18:03] campoy commented on #4080
OK, I was able to reproduce the issue and I have a workaround for you.

The problem is that you didn't declare the `head` predicate in the Dgraph schema, you just created it as a field in the type `Perspective`.

This means Dgraph doesn't know about the `head` predicate at all! So when you create some data with a `head` predicate, Dgraph defaults to the `[uid]` type as it's supposed to.

So, in yo

[2019-09-27 18:03] #4080 closed

[2019-09-27 18:34] #4044 closed

[2019-09-27 18:36] #3965 closed

[2019-09-27 18:41] martinmr commented on #4085
We are simplifying type definitions to not have to include a type so once that is added this shouldn't be an issue.

PR: https://github.com/dgraph-io/dgraph/pull/4017

[2019-09-27 18:44] campoy commented on #4085
Then we should still fail if a type is defined with a field that doesn't have a corresponding predicate on the schema, right?

[2019-09-27 18:52] martinmr commented on #4085
Ideally yes but I think implementing that would have a lot of edge cases. For example, it would mean you have to first add all the predicates, before you can declare a type. Or, what to do with the types when a predicates is removed?

It's definitely something we could do but I am not sure if the benefits outweigh the costs. Maybe better documentation or examples would be enough. I think getting r

[2019-09-27 18:56] campoy opened #4086 "Missing docs on `--mutations` flag"
I couldn't find any information about the `--mutations` flag on our docs.

Specifically, I was looking for `--mutations=strict` and even by searching for `strict` I couldn't find it.

This should be part of the "Schema" section, maybe on "Enforcing the schema"?

Maybe worth adding it too into how to protect the database, including the secret token for mutations, ACLS, etc.

[2019-09-27 19:02] campoy commented on #4085
Thanks for the clarification, Martin.

We should sit down all together and come up with a clear design for types and their relationship with predicates before continuing any changes.

I'll schedule something for next week.

[2019-09-27 19:07] campoy commented on #4014
That discuss issue doesn't include any decision on removing the types from the fields in our type declarations.

Let's discuss this again and clarify where we're going with types.

[2019-09-27 19:10] campoy opened #4087 "Missing documentation on valid predicate names"
## Documentation

What are the valid values for a predicate name?

The intersection between what's doable in JSON vs what's doable in our predicate names is actually a very useful concept.

It allows us to have unambiguous representation of facets in JSON by separating the values with `|`.

What other characters other than `|` are rejected from predicate names?

[2019-09-27 20:34] eawer commented on #3916
@ashish-goswami I'll be able to provide it by Mon if it is still needed

[2019-09-27 22:16] campoy commented on #4079
This is a very interesting issue, thanks for the report.

## temporary workaround

For now, you can build a workaround to this by simply retrying, so your for loop would look like this:

[code]

This, unfortunately requires the next version of dgo which has not been released yet.
If you want to try that with `v2.0.0` you could simply check for the string error.

[code]

## Is this a bug?

Regardle

[2019-09-27 22:57] campoy opened #4093 "expand(_forward_) also returns reverse edges"
### What version of Dgraph are you using?

1.1.0

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

N/A

### Steps to reproduce the issue (command/config used to run Dgraph).

Given the following schema:

[code]

And the following dataset:

[code]

I want to get only the forward edges, so I run this query:

[code]

### Expected behavi

[2019-09-27 23:24] campoy commented on #4063
I could reproduce the error in v1.1.0

Given this schema:

[code]

[code]

returns

[code]

while using `_forward_`:

[code]

returns nothing:

[code]

## Regression

This is actually a regression from v1.0.x.

Given this schema:

[code]

and this dataset

[code]

running this query:

[code]

returns for v1.0.17:

[code]

[2019-09-28 03:11] aliakbari opened #4094 "alpha process crashed after run some query"
### What version of Dgraph are you using?
1.1.0
### Have you tried reproducing the issue with the latest release?
yes

### What is the hardware spec (RAM, OS)?
2G, Windows

### Steps to reproduce the issue (command/config used to run Dgraph).
.\dgraph alpha --lru_mb 2048 --zero localhost:5080

### Expected behaviour and actual result.
![dgraph](https://user-images.githubusercontent.com/3436602/658

[2019-09-28 03:56] MichelDiz commented on #4094
Duplicated of https://github.com/dgraph-io/dgraph/issues/3800
The solution is already merged https://github.com/dgraph-io/dgraph/pull/4007
This will be in the next RC release, but you can build master to test it before release. But keep in mind that building from master isn't recommended. Due to possible errors or approaches not documented yet.

Feel free to reopen if it continues when an RC relea

[2019-09-28 03:56] #4094 closed

[2019-09-28 06:55] aliakbari commented on #4094
Are versions not stable? I just started and it's really bad to eat this bug at the beginning

[2019-09-28 07:12] aliakbari commented on #4094
Is this problem only in windows? Transfer to Linux?

[2019-09-28 09:25] BradErz commented on #2894
Dgraph really does look amazing and i can think of some really cool use cases for us. You guys have really put a lot of hard work into making this work and work well!

To me it seems pretty sad to make basic backups/restore an enterprise feature. I can understand partial backups/point in time recovery etc being the enterprise plan but the basic backup/restore functionality is really a blocker for

[2019-09-28 10:40] jostillmanns commented on #4079
I think concurrent http requests which end up in a mutation referencing the same node is verly likely, hence I have to disagree on this beeing correct behavior.

[2019-09-28 12:18] smkhalsa commented on #2894
I completely agree with @BradErz. No backups in the non-enterprise version is a blocker for us.

[2019-09-28 12:21] joshhopkins commented on #2894
We came to the same conclusion as @BradErz, unfortunately.

[2019-09-28 14:46] MichelDiz commented on #4094
Yes, it is only in Windows. Linux is the main target of Dgraph's release support. It also runs in any OS via containers (Docker, K8s).

[2019-09-29 10:55] AugustHell commented on #4057
This is somekind weired.
{ "delete" : { "uid": "0x1" } }
should delete anything that got this uid, no matter what type it is.
But atm I'm just struggling, as it just deletes the type information saved in dgraph.type, but all the rest of the data stays in the database and if you don't know all predicates saved with it, you are lost.
There seems to be only one chance to explore this waste by exporti

[2019-09-29 11:09] deligent-ant commented on #4057
i can’t agree more.if i wont delete node ,i have to know all thr predicates,this is not friendly.normally, when delete one item ,just id need.

[2019-09-29 12:33] igormiletic opened #4095 "Alpha node get restarted with: invalid memory address or nil pointer dereference"
Note, might be duplicated of: #4053

Dgraph version : v1.1.0
Dgraph SHA-256 : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1 : ef7cdb2
Commit timestamp : 2019-09-04 00:12:51 -0700
Branch : HEAD
Go version : go1.12.7

-------------
Kubernetes 1.13.
Setup is from HA documentation of DGraph. 3 alpha nodes and 3 zero nodes

---------------

 Stack trace:
[code]

-- Node

[2019-09-29 12:35] igormiletic commented on #4095
After restart, error is constantly like below:

[code]

[2019-09-29 13:59] mehdiym commented on #2672
I've reproduced it on dGraph 1.1.0

[2019-09-29 15:06] MichelDiz commented on #2672
@mehdiym  Please, if you have a reproducible sample, share with us.

[2019-09-29 15:16] MichelDiz commented on #4057
The type system has several benefits. But with it, there are several counterparts like that one mentioned.
For me, in the case of deletes, this is a safe way to make sure that those who deletes really know what they are doing. It's like a typed language, it prevents people from making slips. Like TypeScript for example.

If you have full control of the DB, there will be no problems. It can be tric

[2019-09-29 16:26] mangalaman93 commented on #4095
cc @jarifibrahim @manishrjain

[2019-09-30 01:00] pawanrawal opened #4096 "No way to know which nodes were mutated as part of an upsert operation"
## Experience Report

Currently when I use upsert to mutate some nodes based on the result of a query, as an application developer I have no way to know if any nodes were updated or not. When new nodes are created, we get back `Uids` map which tells me about the nodes that were inserted into the graph. It would be helpful to know which nodes (uids) were mutated as part of an upsert operation.

For

[2019-09-30 01:39] pjebs commented on #3634
What you are saying is correct. What I suggested in https://github.com/dgraph-io/dgraph/issues/3634#issuecomment-512619447 is that it may very well be working as intended - with the obvious improvement being to clarify the behaviour in documentation.

I am saying that what you intend is not consistent with what a user would expect from such a query such as:

[code]

I expect each result to satisfy

[2019-09-30 01:43] pjebs commented on #3582
It definitely works pre v1.1. Maybe it's been corrected v1.

The full query is: https://github.com/thehonestscoop/lemma-chain/blob/master/find_chain.go#L202

[2019-09-30 03:17] Willem520 opened #4097 "Dgraph can not mutate mutations"
Hi,I used Dgraph v1.1.0 and I saw the log contains below messages
zero log
![image](https://user-images.githubusercontent.com/26085817/65847262-5fd43e00-e373-11e9-9855-542ba45021cf.png)
alpha log
![image](https://user-images.githubusercontent.com/26085817/65847627-e5a4b900-e374-11e9-8bc4-c090a51d66a2.png)

I mutated a mutation,but could not get response,from the alpha log, it was endless

[2019-09-30 03:32] Willem520 commented on #3572
Hi, I met the same problem #4097, it look like a big problem to block my program

[2019-09-30 06:47] AugustHell commented on #4057
I like the type system and yes, I'm not in full contol of the DB yet :D I try to dig deeper to get more fine control of and direct access to the data.
But nevertheless how delete <uid> now works, cant be the right solution and is something what a typed language wants to avoid. In my mind there is really a need to overwork it, as it is mentioned all over in tutorials, the documentation and the web.

[2019-09-30 07:17] ashish-goswami commented on #3916
Hey @eawer, yes. Please provide.

[2019-09-30 07:40] jarifibrahim commented on #4095
This looks related to https://github.com/dgraph-io/badger/pull/1034 . We have a `nil` memtable in badger.

[2019-09-30 08:27] igormiletic opened #4099 "Alpha node get restarted during some code issue (proc.go:188)"
Version:

I0930 06:17:27.809113       1 init.go:98]
Dgraph version   : v1.1.0
Dgraph SHA-256   : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1     : ef7cdb28
Commit timestamp : 2019-09-04 00:12:51 -0700
Branch           : HEAD
Go version       : go1.12.7

---
Kubernetes 1.13.
Setup is from HA documentation of DGraph. 3 alpha nodes and 3 zero nodes
---

Node get rest

[2019-09-30 08:34] igormiletic opened #4100 "Sigpanic error on alpha node"
Version:

I0930 06:17:27.809113 1 init.go:98]
Dgraph version : v1.1.0
Dgraph SHA-256 : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1 : ef7cdb2
Commit timestamp : 2019-09-04 00:12:51 -0700
Branch : HEAD
Go version : go1.12.7

Kubernetes 1.13.
Setup is from HA documentation of DGraph. 3 alpha nodes and 3 zero nodes

[code]

[2019-09-30 09:35] robsws commented on #4081
For our particular use case, I think either approach would work. In my own opinion, the first approach is probably more in line with the current facet response format and I think you could solve the problem of facets missing by adding `null`s to the array where the facets don't exist.

[2019-09-30 10:40] mangalaman93 commented on #4100
This PR https://github.com/dgraph-io/dgraph/pull/4066 fixes this issue. Could you try running on latest master once?

[2019-09-30 10:41] mangalaman93 commented on #4099
cc @jarifibrahim

[2019-09-30 11:36] frankgerhardt commented on #2894
Interesting conversation. Makes me think that there will be a fine line between community and enterprise version for every new feature. That hinders adoption much more. I just don't want to be monitoring the feature development continously. I'd rather want to feel safe. Now, not feeling safe.

[2019-09-30 16:34] MichelDiz commented on #4096
This isn't the same as https://github.com/dgraph-io/dgraph/issues/4048 ?

[2019-09-30 17:51] danielmai opened #4105 "Schema queries are allowed even when ACL rules are set"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?
N/A

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph cluster with enterprise ACLs enabled (set the Alpha flag `--hmac_secret_file`).
2. Create a user and group that does not have any read/write/modify

[2019-09-30 18:03] martinmr commented on #4105
I can take a look at this.

[2019-09-30 19:08] martinmr commented on #4105
I think number 2 doesn't make a lot of sense when it comes to schema queries since they are not associated with a particular predicate. I think it makes sense to just do #1 for now.

I just opened a #4107 to fix that.

[2019-09-30 19:14] martinmr commented on #4097
It looks like the rebuilding process is stuck due to some issue in zero.

What's the output of doing a GET HTTP request to `zero/state`, where `zero` is the host and port of the zero in your cluster.

[2019-09-30 22:39] campoy commented on #4004
Hey, @zhuyaoyhj. Thanks for the clarification.

How is this different from simply tagging the type with both PersonFeatureA and PersonFeatureB types?

What are the advantages of your approach over using multiple types?

I'm happy to consider the feature request, but I need to better understand what the goals are.

[2019-10-01 01:22] jostillmanns commented on #4079
Also your workaround isn't really feasible for me, as some of my mutations share a transaction with other requests. Implementing this workaround would require a huge effort on my side, as I build an abstraction layer around Dgraph.

[2019-10-01 03:27] manishrjain commented on #4079
I’m trying to understand the cause of txn abort, but I don’t see the schema here. Can you please paste the schema you’re using?

But, in general, I think any transactional system can result in aborts. Even if we were to figure out that somehow our txn system is a bit too strict and can be made lenient, aborts won’t go away. So, a way to retry is unavoidable.

Perhaps, a mechanism could be built by

[2019-10-01 03:49] jostillmanns commented on #4079
I updated the code to also write the schema.

[2019-10-01 05:27] MichelDiz commented on #3066
### Adding just one more example (sample in the end):

In my dataset, I would like to return only those friends who have (or Not in some cases) the same party in common "with me" (Who is the point/target of the query).

The straight forward query would be like this below - However, I need to already know the uid from my party that I'm a member of. That's not ideal. Not all users will deal with UID

[2019-10-01 05:39] MichelDiz commented on #3066
We could also do this with 2 var blocks + 1 query block:
[code]

[2019-10-01 11:52] Kingloko commented on #4079
I'm having similar issues,

I think that would be a great feature.

[2019-10-01 12:53] mangalaman93 commented on #4100
closing this for now.

[2019-10-01 12:53] #4100 closed

[2019-10-01 12:55] igormiletic commented on #4100
I can not try it on master. My devops can deploy only official versions. Do you have idea when this can be released?

[2019-10-01 12:58] mangalaman93 commented on #4100
ah, we should release a new version in some time. We are waiting for some bug fixes to go in. We do not have a release date yet. Let me figure this out. Thanks for getting back to us.

[2019-10-01 17:44] mangalaman93 commented on #4105
I am wondering if access to predicate is (currently) acceptable when no rules are defined, why access to schema is not acceptable. It would be a good idea to create a matrix with scenarios before adding allow/block rules.

[2019-10-01 17:46] martinmr commented on #4105
Yeah, that is weird and I think there's another issue to make predicates not accessible by default. Usually it's a good idea to allow the least access by default but this was overlooked.

[2019-10-01 17:57] mangalaman93 commented on #4105
Related to https://github.com/dgraph-io/dgraph/issues/4082.
Yeah, agreed. We should consider raising a holistic PR that does it all. Or at least, identify the access/block matrix before adding more default rules.

[2019-10-01 18:03] mangalaman93 commented on #4105
Now, on further thought, I feel like we currently have no rules around reading schema. We have no way of blocking to read the schema. We can specify rules for modifying schema, though. This seems like this will require additional ACL rules if we want to do something about it. I think this needs more thought.

[2019-10-01 18:23] martinmr commented on #4105
Not a fan of doing it all in a single PR because a lot of tests will try to break.
We can add schema rules later but the PR I opened is just to make sure only logged in users can query the schema.

[2019-10-01 18:25] martinmr opened #4110 "Validate types when adding them."
When adding a new type, add a basic check to ensure all the predicates in the type already exist.

[2019-10-01 18:26] martinmr opened #4111 "Change representation of types in schema queries."
Now that types won't include information about the types of the fields, the representation of a type in a schema query response should be just a list of predicates.

[2019-10-01 18:47] mangalaman93 commented on #4105
But I think before that, we need to fix on the behaviour of access to predicates by default.
- If we have access to predicates by default (which is current behaviour), it seems okay to me to be able to read schema.
- If we do not have access to predicates by default, then we could consider blocking access to reading schema. I am still not sure why reading the schema is such a bad thing that it nee

[2019-10-01 20:32] martinmr commented on #4105
Here's the other issue for blocking predicates: https://github.com/dgraph-io/dgraph/issues/4082

It's not a terrible thing to be able to read the schema but the default behavior should be as strict as possible.

[2019-10-02 18:04] #4053 closed

[2019-10-02 18:05] #4030 closed

[2019-10-03 06:26] AshNL commented on #3967
Not directly related to Dgraph, but Neo4j just announced a new product which will tightly integrate Neo4j with Kafka. I feel like this is a feature which might greatly impact DB choice for (new) projects. https://www.datanami.com/2019/10/01/neo4j-gets-hooks-into-kafka/

[2019-10-03 14:30] ShawnMilo opened #4125 "Dgraph tutorial blog post #1 is invalid."
### What version of Dgraph are you using?

Built at 2019-10-03T13:07:27.362Z
Commit: 7f20b78
Commit Info: 7f20b78 Thu Oct 3 06:06:38 2019 -0700 (HEAD -> master, origin/master, origin/HEAD)

### Have you tried reproducing the issue with the latest release?

Yes.

### What is the hardware spec (RAM, OS)?

Ubuntu 19.04, i3 window manager, 64 GB of RAM, Intel i7-6700K.
Kernel: Linux gc 5.0.0-29-generi

[2019-10-03 15:57] hackintoshrao commented on #4125
Hey @ShawnMilo ,

Can you check that you're running it from the `mutation` tab, not from the `query` tab?

[2019-10-03 16:07] ShawnMilo commented on #4125
@hackintoshrao: I was running it from the `Query` tab, as displayed in all the screenshots prior to the text.

I see now that the animated gif (which I had ignored earlier) shows clicking from `Query` to `Mutate` very briefly before pasting in the text, and the prose above clearly says to "go to the Mutate tab."

Running from the `Mutate` tab works. Thank you!

[2019-10-03 16:07] #4125 closed

[2019-10-03 16:26] hackintoshrao commented on #4125
Glad that you opened up an issue and discussed it :) Please do follow up with the next episodes and give us your feedback.

[2019-10-03 20:38] campoy commented on #3634
I wonder if it would make sense for you to perform this query in a slightly different way then.

You could have the recursion to identify what are the nodes involved, and a different query in the same block to obtain the data related to each.

So following the dataset I presented above, instead of the query right below for which you'd be missing the type information on nodes already visited:

[cod

[2019-10-04 17:05] martinmr commented on #3903
@campoy How is this different from #3904 It looks like similar functionality but with different syntax.

[2019-10-04 20:52] campoy commented on #3807
Hey, @martinmr

Since you're already working on expand, could you have a look at this one?

[2019-10-04 20:53] campoy commented on #4099
Hey @jarifibrahim, if you can't handle this issue please assign it to someone else.

[2019-10-07 06:41] jarifibrahim commented on #4099
This might not be an issue with Badger. The error states `key not found`. We need to investigate which key was that and if it was actually inserted in badger.

Assigning this to @mangalaman93.

[2019-10-07 13:12] harshil-goel opened #4132 "Math operations for int values fail for big values"
### What version of Dgraph are you using?
v1.1.0-134-gd9767791

### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?
32gb ram, ubuntu 19.04

### Steps to reproduce the issue (command/config used to run Dgraph).
[code]

### Expected behaviour and actual result.
Expected Behaviour
[code]

Actual Result:
[code]

This happens because all the m

[2019-10-07 13:19] mangalaman93 commented on #4038
I am still trying to figure out a clean fix for the issue. The current implementation is restrictive in some ways, including this bug and requires a more thorough investigation of the issue. I have understood the root cause of the issue and should have a fix soon.

[2019-10-07 15:58] mbande opened #4133 "Assigning Big External uids"
### What version of Dgraph are you using?
version 1.1.0

### Have you tried reproducing the issue with the latest release?
yes

### What is the hardware spec (RAM, OS)?
linux, 16G

### Steps to reproduce the issue (command/config used to run Dgraph).
a fresh docker installation, create a mutation with a big uid, and run it by pydgraph:
[code]

### Expected behaviour and actual result.
it should ju

[2019-10-07 17:23] MichelDiz commented on #4133
Dgraph doesn't accept external UIDs patterns. Pay attention that `8615709837` will be converted to something like "`0x201894c8d`" so, I think this isn't wanted. Or maybe you know how to convert numbers to Dgraph's UID addresses.

For external IDs or UIDs you can use https://docs.dgraph.io/mutations/#external-ids
There is also an option of doing it using Upsert Transaction, right below.

BTW, the w

[2019-10-07 17:23] #4133 closed

[2019-10-07 17:35] harshil-goel commented on #4132
We are going to change the current implementation in which we typecast int to float, to an implementation in which we keep the highest information type among the corresponding arguments.
Potentially it would allow for queries described in the issue, and if one wants a float result of their queries, the user can ask for math(f + 2.0).

[2019-10-07 20:05] #4111 closed

[2019-10-07 21:10] akamos commented on #4005
Hi!

I have a similar behaviour at Dgraph 1.1.0. I have data that contains values for name@de and name@ru predicates.
If I try to order these name string predicates with a language tag (orderasc:name@ru) I get different results from each time (its not determined behaviour). Sometimes its sorted correctly, by @ru, and sometimes not! If its not correctly sorted, it's sorted by name@de.

Check it out

[2019-10-08 02:05] jostillmanns opened #4136 "Allow node reference replacements on 1-to-1 relationships"
## Experience Report

We are building a large Saas solution powered by Dgraph. Naturally, we encountered several cases of 1-to-1 relationships that we needed to represent. Therefore we were quite excited when Dgraph announced native support for 1-to-1 relationships with the release of version 1.1 . As soon as the release was published we started migrating our software to the new version. During th

[2019-10-08 10:33] lolcoolkat opened #4138 "Can't run Dgraph bank example"
Version: **1.1.0**

I'm trying to get https://github.com/dgraph-io/dgraph/blob/master/contrib/integration/bank/main.go to work.. however i'm getting the following error:

[code]

**Note**: I upgraded the import `github.com/dgraph-io/dgo` to `github.com/dgraph-io/dgo/v2` but that doesn't make any difference.

I've also installed Dgraph on Windows 10 from the source `go get -v github.com/dgraph-io/d

[2019-10-08 13:18] wildan2711 opened #4140 "panic on Windows: The requested operation cannot be performed on a file with a user-mapped section open"
### What version of Dgraph are you using?

v1.1

### Have you tried reproducing the issue with the latest release?

Yes

### What is the hardware spec (RAM, OS)?

RAM: 8GB
OS: Windows 10

### Steps to reproduce the issue (command/config used to run Dgraph).

Run `dgraph zero` on Windows 10.

### Expected behaviour and actual result.

Dgraph zero runs successfully, instead throws panic:

[code]

[2019-10-08 13:30] wildan2711 commented on #4140
Rerunning Dgraph zero on the same folder as the above, seems to fix the issue (Dgraph zero runs successfully.

But running Dgraph alpha returns a similar error:
[code]

Rerunning `dgraph alpha` atleast 2 more times, fixes it. But all alter/query fails:

First attempt:
[code]
Second attempt:
[code]

All subsequent attempts, return atleast `The file exists..`

[2019-10-08 16:20] MichelDiz commented on #4140
Duplicate of #3800

please, when you have a panic or issue, search for keywords related to it. e.g: "windows", "Windows panic", "The requested operation cannot be performed" e.g. https://github.com/dgraph-io/dgraph/issues?q=is%3Aissue+%22The+requested+operation+cannot+be+performed%22+is%3Aclosed before opening an issue.

You can find faster solutions by searching for it.

Cheers.

[2019-10-08 16:20] #4140 closed

[2019-10-08 16:42] lolcoolkat commented on #4138
Ohhhh ok @mangalaman93 hope you guys can add go modules support soon! Thanks for the update :)

[2019-10-08 16:42] #4138 closed

[2019-10-08 19:09] campoy commented on #4136
Thanks for the issue, @jostillmanns

It does make a lot of sense to make predicates of type `uid` behave more like predicates of type `string`, so I would expect this not to be an issue.

In order to avoid surprises, I would propose the following schedule:

- 1.1.x: behavior off by default but enabled via flags or env vars
- 1.2.0: behavior on by default but disabled via flags or env vars
- 1.3.0:

[2019-10-08 19:51] xn3cr0nx commented on #2855
Hey guys, after a discussion on Slack I add here a use case where it takes really long time to query data with pagination. I'm dealing with more than 120Gb of stored data. I stored ~260k Bitcoin blocks, and I need to go through them, hence doing a pagination, with a pagination of 500 elements (blocks) per query. This is my query, and it takes 4 minutes, for the first small blocks and it seriously

[2019-10-08 21:11] mangalaman93 commented on #4038
PR #4122 fixes this issue.

[2019-10-08 22:28] martinmr commented on #4014
Closing issue as we had the discussion and the change to simplify type definitions is already merged.

[2019-10-08 22:28] #4014 closed

[2019-10-08 22:30] martinmr commented on #4093
This should be fixed once the PRs to remove `_reverse_` and `_forward_` is merged.

[2019-10-08 22:33] martinmr commented on #4063
Since we are removing `_forward_` and `_predicate_` I am closing this issue. Going forward `_all_` and the expand by type will include all the language-tagged values.

[2019-10-08 22:33] #4063 closed

[2019-10-08 23:32] AugustHell commented on #1562
+ from me.
I think the groupby would need a rework as it does not do the thing that groupby does in eg sql.
Would be very nice, to have a filter with "having" then too :)
`{
	q(func: has(school)) @groupby(<school>.<name>) @having(eq(<school>.<name>,"MIT")) {
  	count(uid)
  }
}`

[2019-10-09 01:18] campoy commented on #4136
Hey @martinmr, is this already in a sprint? If not, please do not work on it yet.

[2019-10-09 01:23] martinmr commented on #4136
not working on it. Just assigned it to myself since I wrote the original warning.

[2019-10-09 02:08] mangalaman93 commented on #4096
This is duplicate of #4048, closing this.

[2019-10-09 02:08] #4096 closed

[2019-10-09 02:27] pawanrawal commented on #4048
I am going to add another field back to the Response called `Mutated` with the type `map[string][]string` where the map would contain the variables used in the mutations and the corresponding uids. This would tell the user if any mutations happened and what uids were involved in it.

@mangalaman93 had a good point that this could make the response large for bulk upserts, so we could return these u

[2019-10-09 03:09] jostillmanns commented on #4136
@campoy the schedule seems reasonable. Thank you.

[2019-10-09 04:25] MichelDiz commented on #4048
PS. What do you think?

@pawanrawal In addition to that I was thinking of something more "optional", like this conversation with a user https://dgraph.slack.com/archives/C13LH03RR/p1570556249210700?thread_ts=1570520340.199700&cid=C13LH03RR

This could be supported instead of what I proposed above in the issue. However, it would be interesting to extend to all mutations (not just upserts) as well,

[2019-10-09 12:38] #2481 closed

[2019-10-09 13:17] animesh2049 opened #4149 "count(uid) doesn't give false result if srcFunc is uid"
### What version of Dgraph are you using?
v1.1.0-93-g458fd7a4

### Have you tried reproducing the issue with the latest release?
Yes

### Steps to reproduce the issue (command/config used to run Dgraph).
query
[code]
When this query is run without any data, it returns count = 2.

[2019-10-09 13:36] manishrjain commented on #4081
We could potentially encode the facets in the name itself.

`“Name”: “Alice Smith (since = yymmdd, weight = 0.3)”`

Might get tricky if the facet value is also a string.

Another approach is we allow data to be returned in RDF format. That would make this trivial.

[2019-10-09 21:42] manishrjain commented on #4079
So, looking at the conflict generation code in v1.0.16, for how it was treating uids:
https://github.com/dgraph-io/dgraph/blob/0590ee95d6fde75eff5f97370dd087e9a0d44158/posting/list.go#L293-L303

And with my changes: https://github.com/dgraph-io/dgraph/commit/693e7db24 , which consolidates the logic for conflict detection in list types:
https://github.com/dgraph-io/dgraph/blob/7e74f43ce7fc2f079b457

[2019-10-10 01:15] martinmr commented on #3902
Spent most of the day thinking the disconnected span issue was due to incompatible versions. I managed to build a version of the current java client with the same versions of grpc and opencensus of the last known working version of jepsen but the issue is still there.

Once that approach failed, I tried going upward from version 1.6.0 and try to find the point at which the client stops working. Th

[2019-10-10 01:29] zhouhao-learning opened #4150 "Is Dgraph a graph database?"
Is Dgraph a graph database that can store data with attributes and relationships, such as data that stores knowledge maps?

[2019-10-10 01:59] danielmai commented on #4150
Yes, @zhouhao-learning. Dgraph is well suited for data with many interconnected relationships. I recommend checking out our interactive [Tour of Dgraph](https://tour.dgraph.io) to try out Dgraph first-hand and our [YouTube channel](https://www.youtube.com/channel/UCghE41LR8nkKFlR3IFTRO4w/featured) to learn more.

If you have further questions, please post a new topic on our discussion forum at htt

[2019-10-10 01:59] #4150 closed

[2019-10-10 03:35] Willem520 commented on #4097
the output was no problem,because I need to do ohter test,So,I clean the cluster and restore it;
about the zero, I used 3 machine,and each machine has 1 zero(default host and port) and 3 alpha(use port_offset=0,port_offset=1,port_offset=2)

[2019-10-10 04:17] #4038 closed

[2019-10-10 09:23] #4149 closed

[2019-10-10 12:22] Kingloko commented on #4079
@manishrjain, I can't speak for @jostillmanns but all three of these approaches would work in my use case. Options 1 & 2 would be my preference, but I think option 3 would also solve my problem.

[2019-10-10 13:05] erhlee-bird commented on #4079
@manishrjain, thanks for sharing the deeper insights here.

I would agree and say that all 3 of those options sounds extremely appealing to me 😄.

[2019-10-10 20:09] adg opened #4154 "Test suite fails with a fresh checkout"
The dgraph unit test suite has many failures if you try to run it from a fresh checkout with no other setup. I wasn't able to find any information about the requirements/prerequisites for running the test suite, but in general Go unit tests should just work from a fresh checkout.

I ran into this trying to debug an issue with dgraph's live loader. This is a big roadblock for me and my team.

### W

[2019-10-10 20:22] adg opened #4155 "Test scripts assume GOPATH layout"
Now that the project is being made to support modules, there are still some old GOPATH-isms that remain. In `test.sh` and some of the included scripts, there are assumptions that the repo will be checked out into `$GOPATH/src/github.com/dgraph-io/dgraph`, when with modules it may be checked out anywhere.

[2019-10-10 20:26] adg opened #4156 "Test script continues regardless of command failures"
If you run `test.sh` without a required tool present, the script continues despite failures.

For example

[code]

I think that the shebang line should include the `-e` flag, or the script should have `set -e` early on, so that the script doesn't continue if a command fails.

[2019-10-10 21:04] martinmr commented on #4156
I tried but it doesn't work the way you expect it. If I add `set -e` to the functions.sh script, the script ends as soon as it finds an error but it doesn't make the script calling it do the same.

I think it's better to include documentation on the prerequisites needed to successfully run the test.sh script.

[2019-10-10 21:10] adg commented on #4156
You'd need to put the `set -e` in `test.sh` itself.

The main thing is that if a command in the test script fails, for whatever reason, then the script should stop. Otherwise something could fail, but the script may continue and otherwise think it has succeeded.

[2019-10-10 21:39] lolcoolkat commented on #4155
Hey @adg where do you see that Dgraph is going to support modules? :)

[2019-10-10 21:50] adg commented on #4155
@lolcoolkat https://github.com/dgraph-io/dgraph/commit/0e73a57baf1cccc342cde2e0087c4fe155f1e8fa

[2019-10-10 22:39] danielmai commented on #4154
The tests assume that a Dgraph cluster is running before running the tests. There's a `test.sh` script that builds Dgraph, spins up a Dgraph test cluster, and then runs the tests.

[2019-10-10 22:56] adg commented on #4154
I see. Having prerequisites outside of the tests themselves is a bit of a Go anti-pattern. The usual approach with these kinds of tests is to skip such tests if the external dependencies aren't available.

In my specific case, I was trying to run the tests for the chunker package, which if I understand correctly shouldn't really require a dgraph cluster (we shouldn't need a running cluster just to

[2019-10-10 23:08] adg opened #4157 "dgraph live RDF parser does not support \u escape sequences in facets"
Dgraph's RDF parser used in `dgraph live` does not appear to understand `\uXXXX` escape sequences inside facets.

The [dgraph documentation](https://docs.dgraph.io/mutations/#triples) says that it uses the [RDF N-Quad spec](https://www.w3.org/TR/n-quads/#sec-grammar), which specifies support for the `\uXXXX` escape sequences, but dgraph's implementation does not appear to respect it.

I tried addi

[2019-10-10 23:10] adg commented on #4157
Interestingly, it appears to work if you supply such an RDF as a mutation in dgraph-ratel.

[2019-10-10 23:18] lolcoolkat commented on #4155
@adg check my comment here https://github.com/dgraph-io/dgraph/pull/4146#issuecomment-540828071

Still getting the same error as before they added go module support. Any ideas? :P

[2019-10-10 23:23] adg commented on #4155
If you saw the same error before and after modules were added, then I don't think it's related to this issue.

[2019-10-11 00:34] martinmr commented on #3902
I figured out the OpenCensus problem. The fix is at https://github.com/dgraph-io/dgraph4j/pull/117.

[2019-10-11 08:49] animesh2049 commented on #4149
Closing it as @mangalaman93  says it is the expected behaviour

[2019-10-11 13:15] #1755 closed

[2019-10-11 14:11] prashant-shahi commented on #4087
## Predicate names rules

Any alphanumeric combination of a predicate name is permitted. Dgraph also supports Internationalized Resource Identifiers (IRIs) for predicate names.

### Allowed special characters

Single special characters are not accepted. They have to be prefixed/suffixed with alphanumeric characters.

[code]

*Note: You can use `@` suffix, but the suffix character is ignored.*

###

[2019-10-11 14:18] prashant-shahi commented on #4087
@campoy We also support different languages as predicate names as per IRIs. For special characters for [Devanagari](https://en.wikipedia.org/wiki/Devanagari), I see a similar pattern as of the allowed special characters.

Before adding documentation on the valid predicate names, it is worth having a look at the current behavior.

[2019-10-11 17:14] omerose opened #4158 "Sum should return 0 if no edge exists, also max( <variable>, 0) should work"
### What version of Dgraph are you using?
v1.0.17

### Have you tried reproducing the issue with the latest release?
On your site. I ran this (and reproduced) on website with the [blade runner example](https://docs.dgraph.io/query-language/)

### What is the hardware spec (RAM, OS)?
MBP 2017 16GB Ram, running inside docker

### Steps to reproduce the issue (command/config used to run Dgraph).
[cod

[2019-10-11 19:51] pjebs opened #4159 "Facebook ent"
It would be good if there was a driver built for Facebook ent package for D graph

[2019-10-11 19:53] pjebs commented on #4159
https://github.com/facebookincubator/ent

[2019-10-11 22:27] campoy opened #4160 "Sum over facets is incorrect"
## What version of Dgraph are you using?

master

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

n/a

### Steps to reproduce the issue (command/config used to run Dgraph).

Given the dataset generated by this mutation:

[code]

If you run the following request:

[code]

### Expected behaviour and actual result.

I'd expect `partial

[2019-10-13 23:43] samyem commented on #3862
The Spring Data for Neo4J will probably be a good example of integration with Spring Data: https://spring.io/projects/spring-data-neo4j

Query examples are provided in the linked docs: https://docs.spring.io/spring-data/neo4j/docs/5.2.0.RELEASE/reference/html/#repositories.query-methods.query-lookup-strategies

[2019-10-14 07:47] mehdiym commented on #2672
Hi @MichelDiz,
I joined a small go code that reproduces the bug.
I insert 3 `player`s, one of them don't have the `xp` predicate, then I sort them by `xp`, but on the printed result, you can see one player without `xp` predicate.

[dgraph_sort.go.gz](https://github.com/dgraph-io/dgraph/files/3723428/dgraph_sort.go.gz)

[2019-10-14 19:28] graphpivot opened #4165 "Please add a note, that multiple queries with a schema query are not possible"
## Documentation

The please add a note [here](https://docs.dgraph.io/query-language/#multiple-query-blocks) and [here](https://docs.dgraph.io/query-language/#querying-schema) that multiple queries with a schema query are not possible. For reference, see the discussion [here](https://discuss.dgraph.io/t/multiple-query-one-for-predicates-and-one-for-shema-in-one-block/5228).

[2019-10-14 21:17] martinmr commented on #4165
The note only applies to the second link. The first link is talking about multiple queries inside a query block and the schema query docs already mention that schema queries go outside the block.

Opened up https://github.com/dgraph-io/dgraph/pull/4166 to clarify this.

[2019-10-14 21:46] graphpivot commented on #4165
Thank you for the comment. I've just tried the following on play.dgraph.io:

`{
  query(func:has(name), first:10){uid}
}
{
  query2(func:has(actor.film), first:10){uid}
}`

And this delivers also who different result sets.

Maybe you could add here something like: You can choose to put all the query blocks inside curly braces or alternatively each query block must be surrounded by curly braces.

T

[2019-10-14 23:13] #4165 closed

[2019-10-14 23:13] martinmr commented on #4165
I don't think that makes things clearer. I'll keep that section as it is right now.

[2019-10-15 00:12] campoy opened #4168 "Facet encoding breaks with loop:false"
### What version of Dgraph are you using?

1.1.0

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

n/a

### Steps to reproduce the issue (command/config used to run Dgraph).

Given this fully connected graph:

[code]

Run the following query (assuming "A" was given uid 0x1)

[code]

### Expected behaviour and actual result.

I would

[2019-10-15 00:58] campoy opened #4169 "Shortest path computes wrong path"
## What version of Dgraph are you using?

v1.1.0

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

n/a

### Steps to reproduce the issue (command/config used to run Dgraph).

Given this data and assuming a name has an exact index:

[code]

We try to get the shortest path from A to B using the weight facet for it and limiting to D dep

[2019-10-15 01:02] campoy commented on #4158
Thanks for reporting this, I'm filing it as an enhancement and we'll get it on our roadmap soon!

[2019-10-15 09:48] honglicheng opened #4170 "Groupby does not support predicate of list type"
`kind: [string]`

[code]

[code]
i want to get :
[code]

but only get:
[code]
it seems that only the first item in the list can be grouped.

[2019-10-15 12:12] prashant-shahi commented on #4170
Hello @honglicheng,
Could you mention the Dgraph version that you are using?

[2019-10-15 17:04] honglicheng commented on #4170
version： 1.1.0
{
    q(func: has(kind)) @groupby(kind){
        count(uid)
    }
}

[2019-10-15 18:46] martinmr commented on #3807
Fixed.

[2019-10-15 18:46] #3807 closed

[2019-10-15 19:12] martinmr opened #4172 "Make testutil functions that return a client also return an error."
Right now, the function is panicking and causing the test binary to end. The error should be passed to the caller and the caller should decide what to do (ideally skipping tests instead of crashing).

[2019-10-15 19:16] martinmr commented on #4154
We are testing a database so a lot of our tests are end-to-end tests. We can't really avoid this. I filed https://github.com/dgraph-io/dgraph/issues/4172 to make the change needed so that the test binary does not immediately panic if there is not a cluster available. That should let the rest of the tests run.

@adg Is there anything else you want or are unsure about this issue? Otherwise let me kn

[2019-10-15 19:18] martinmr commented on #4155
@danielmai do you know how to go about fixing this? I am guessing we could have a dgraph-root argument the same way we do for the jepsen test binary.

[2019-10-15 19:26] martinmr commented on #4156
I tried that on Friday but it didn't work for some reason. I tried again today and the script fails even without the "set -e".

I tested it by uninstalling docker-compose from my machine.

[code]
I'll open a PR to add the "set -e" to the script just in case.

[2019-10-15 19:30] campoy commented on #4154
I think it'd be good to fix it if possible.

Maybe lower the priority of the bug, but let's not close it yet.

[2019-10-15 19:31] campoy commented on #3067
Closing due to inactivity.

[2019-10-15 19:31] #3067 closed

[2019-10-15 19:32] campoy commented on #4093
This is not relevant now that _reverse_ and _forward_ have been deprecated.

[2019-10-15 19:32] #4093 closed

[2019-10-15 19:40] campoy commented on #4045
Thanks for the report, @jfcg

We'll consider working on it soon, feel free to send a PR too!

[2019-10-15 20:33] shekarm commented on #4172
Please update the JIRA issue and based on the priority, we can "schedule" the work.

—
Shekar Mantha

Sent from Front

--- original message ---
On October 15, 2019, 3:12 PM EDT notifications@github.com wrote:

Right now, the function is panicking and causing the test binary to end. The error should be passed to the caller and the caller should decide what to do (ideally skipping tests instead of c

[2019-10-15 20:58] #4009 closed

[2019-10-15 22:00] danielmai commented on #4155
Something like dgraph-root that refers to the root of the repo would work. The tests and the test scripts should no longer assume that Dgraph or anything other repos (like the benchmarks repo for data files) are in GOPATH.

[2019-10-15 22:02] adg commented on #4154
It makes sense that you should have a lot of end-to-end tests, but it should be possible to run your unit tests without spinning up a cluster (IMO, anyway). Maybe this could be a longer term goal for the project?

[2019-10-15 22:13] martinmr commented on #4097
We need more info before we can try to debug this issue. From the logs, it seems like your mutations are blocked because the rebuild of the indices is stuck.

Can you share more logs as well as the output of the state endpoint? It's very hard to try to debug these kind of issues without more info.

[2019-10-15 22:24] martinmr commented on #4154
ok. I'll lower the priority. fixing #4172 should allow `go test ./` to run without breaking (tests that need a cluster would break but would not cause the test suite to panic).

[2019-10-16 15:59] Willem520 commented on #4097
I modified schema on ratel. and got the log. rebuild had cost 138 hours and it was not stopped.I don't have more info.

[2019-10-16 18:23] campoy commented on #850
Let's close this issue and reconsider later on.
Michel, let's schedule a chat if you want to discuss more on this.

[2019-10-16 18:23] #850 closed

[2019-10-16 18:42] campoy commented on #4081
We've decided to fix this issue by unifying the way we support facets in Dgraph both for value and uid predicates.

In the proposed solution, we will handle facets the same way no matter the type of predicate.

Facets are returned in a different field with a name composed of predicate name, followed by pipe character (`|`), and

## Facets on a singular value predicate

This behavior remains unchan

[2019-10-16 20:06] devinbost commented on #4048
This feature will also be helpful for my team's use cases.

[2019-10-16 20:33] #4172 closed

[2019-10-16 20:33] martinmr commented on #4172
https://github.com/dgraph-io/dgraph/pull/4176

[2019-10-16 20:58] martinmr commented on #4154
Sorry, closed the issue by mistake.

[2019-10-16 22:37] MichelDiz commented on #4170
Hi there,
Internally we have a discussion about improving the group by function. This case would be something "different" tho. But thinking about this issue, I come to a conclusion that if we improve the group by function this query should look like:

[code]

## Result

[code]

[2019-10-16 23:08] MichelDiz commented on #4081
The result you’ve shared feels not ideal. The mutation you have a “order” (the kind is linked to the entity)
[code]
but the response isn’t ordered.
I would expect the response order to be in sync as we intend to be using indexed positioning:
[code]
We need a way to know “who owns the facet”. Because the answer needs to be predictable.

We could also apply index positioning to the values of the lis

[2019-10-16 23:27] #4156 closed

[2019-10-17 01:40] limwcj opened #4182 "V1.1 Urgent Issue: Cannot Delete Outgoing Edge with N P * pattern After DGraph Upgrade"
## What version of DGraph are you using?
v1.1.0

## Have you tried reproducing the issue with the latest release?
Yes

## What is the hardware spec (RAM, OS)?
This issue happens on both our local dev environment (macOS) and server. Local mac is running 8gb RAM SSD, Remove server is running Ubuntu 16.04 and is using Dgraph's recommended i3.xLarge on AWS.

## Description
After upgrading to DGraph V1

[2019-10-17 03:23] MichelDiz commented on #4182
Hey limwcj, nice to hear you're using Dgraph in production.

One thing to mention, do never upgrade your production application to any version before testing your codebase (do a "clone" of your application and test it). As you said is the first time you have issues with relationships. That means you come from an old or very old Dgraph version. Be careful, we are always improving Dgraph and that me

[2019-10-17 03:56] limwcj commented on #4182
We're currently testing our codebase on our staging environment, and it's very hard to catch this issue because it only happens *sometimes*. The most concerning aspect of this is that we are testing it with new data not old data so this bug actually reappears even locally on new data that we generate. Is there any logic that has changed the way delete operations work with S P *. that we're not awa

[2019-10-17 04:31] limwcj commented on #4182
The weirdest thing is that after deleting it with S P *, the mutation returns success and you can clearly see the predicate that has been "deleted" in the response. But when you query the result it's still there.

![Success After Deleting](https://user-images.githubusercontent.com/45704878/66977818-f75ac000-f0d9-11e9-8696-ec320e3c7089.png)

[2019-10-17 05:22] MichelDiz commented on #4182
Well, if you can reproduce this with new data, surely I could be able to do it too. Need to know how. I'll try to create crazy tests in JS.

Yes, you must have a well-defined type system and scalar/entities types also correctly defined (like one-one, one-many). Only this. As far as I know.

Can you share the whole context config you have? dgraph configs and so on. Can you replicate this in a simpl

[2019-10-17 05:32] limwcj commented on #4182
Hi @MichelDiz, thank you for your quick response. The issue on our end is it's actually something that happens even when we do the delete mutation in DGraph ratel (not just using the dgraph-js package). My current presumption is that the issue is not an issue with the Dgraph JS package but more of an issue with the delete operation itself. I think it would be easiest for us to show you in a short

[2019-10-17 08:00] mangalaman93 commented on #4182
@limwcj Have you tried reproducing this issue on current master, just in case? Happy to provide binaries if needed.

[2019-10-17 09:09] rickytyho commented on #4182
Hi @mangalaman93 , I'm with Lim as well. What do you need us to provide? We are currently using docker to pull Dgraph V1.1. Are you suggesting us clone master? That would require some significant changes on our end to get our setup running? Is it possible for us to export the data set to RDF and provide the relevant queries and mutations to replicate the issue on your end? Thanks!

[2019-10-17 09:35] mangalaman93 commented on #4182
oh, yeah! That'd work too. You could share the data (assuming no compliance issue) here or email me on aman@dgraph.io.

[2019-10-17 10:01] rickytyho commented on #4182
Yep @mangalaman93 , we are going to export a part of the data set for you and provide the exact mutation and queries to make to replicate the bug. Thanks!

[2019-10-17 10:07] #4086 closed

[2019-10-17 10:53] animesh2049 commented on #4099
@igormiletic are you still facing the issue ? Can you share steps to reproduce the error?

[2019-10-17 10:58] mangalaman93 commented on #4182
I can't see any issues, looks like a bug to me. This is such a common use case that we do not expect a bug in this use case. We have many test cases that test this scenario. Though, only when we could look into it, we'd know more.

[2019-10-17 11:57] rickytyho commented on #4182
Hi Aman @mangalaman93 , thank you for your response. I sent an email to aman@dgraph.io with our DGraph dataset and replicate steps to see the bug. Thanks!

[2019-10-17 13:54] animesh2049 commented on #4182
I am able to reproduce the issue with the help of data set provided by @rickytyho . I am looking into it.

[2019-10-17 16:54] campoy commented on #4081
There is no order in the data, but there's an order in the result we send back since it's an array.
I do not care whether the values appear in one order or the other, as long as the keys in the facet map correspond to what we encode.

That is exactly why we use a map, not an array, for the facet results. It allows us to keep it in sync while avoiding having potentially many nulls.

[2019-10-17 17:21] MichelDiz commented on #4081
[code]
So, by the response, you've shared. How do we can tell what belongs to what? There's no relation with the name and its facet in that response. I would assume that `0` belongs to "Cesc" (which is wrong, cuz "official" belongs to "Francesc") and `2` belongs to "Tete" (which is also wrong, cuz "friends" belongs to "Cesc").

If facets come unsorted, there's no point in using it. But I can assum

[2019-10-17 17:58] Kingloko commented on #4079
What is the status of this issue? If this is low priority for you guys I'd appreciate if you can point me in the direction to fix it myself. This particular issue is a huge priority for my team.

[2019-10-17 18:59] #4087 closed

[2019-10-17 20:25] #4157 closed

[2019-10-17 22:44] martinmr commented on #3903
Fixed by #3920

[2019-10-17 22:44] #3903 closed

[2019-10-18 00:11] martinmr commented on #4154
Once #4188 is submitted, you can do `go test ./...`. Unit tests will complete and tests that require a cluster will fail. The one exception is the packages that initialize the client in `TestMain`, but those packages have tests that all require a cluster to work properly so I think it's fine to crash in `TestMain`.

[2019-10-18 00:13] martinmr commented on #4154
@adg closing as the issue should be fixed now that #4180 is merged. If you have more concerns let us know.

[2019-10-18 00:13] #4154 closed

[2019-10-18 00:27] martinmr commented on #4182
To clarify `S P *` deletions didn't change because of the type system (`S * *` deletions were changed by the type system). So it's probably nothing to do with the type system.

[2019-10-18 02:30] tiankonghewo opened #4189 "启动了3个节点,每个节点的数据400G,查询总是OOM,请问400G的数据量是不是太大了,需要增加节点?"
1,Dgraph版本1.0.15
本来想用最新的1.1.0,但是数据量很大bulk loader在1.1.0版本下总是在map阶段就OOM,
使用1.0.15版本却可以平稳运行
2,节点配置信息
3台Ubuntu16.04,阿里云服务器
16core64G
3,节点数据量分别是
200G
380G
440G

使用出现的问题,查询特别慢,需要10s的时间,生产环境下根本满足不了需求.
请问是节点的数据量太大,导致的查询时间很长吗?
需要增加节点吗?
每次启动8个进程,并行的查询3个节点的dgraph集群时,dgraph的内存很快被耗尽,然后OOM
试了4次,都是这样,请问有什么解决办法吗?

[2019-10-18 02:37] tiankonghewo opened #4190 "The query time is very long, 7 seconds on average. How to optimize it"
dgrapg version is 1.0.15
import stage:
rdf data size is 400G,
node memory size is 256GB
Originally I wanted to use the new version v1.1.0, but when importing data, the new version always reported an OOM error at map stage. So I had to use the old version 1.0.x

when run up, my cluster server configuration is:
3 nodes:16core64G
each data:170G,380G,440G

second, my query is very simple, use pydgraph

[2019-10-18 02:56] tiankonghewo commented on #3977
两个node之间的边的属性是会会被覆盖的,每次写入然后再查询,都是新值,节点的属性没试过,但是应该也是可以覆盖的.自己可以用个docker,试试

[2019-10-18 03:59] rickytyho commented on #4182
We experienced the same bug again but this time we are unable to delete any predicates from the node with the S P *. We recorded another video [here](https://www.youtube.com/watch?v=DmDc_K9mqHQ) demonstrating the issue. We are currently exporting the data set and we will send this data to @animesh2049 and @mangalaman93 for review. Thanks!

[2019-10-18 04:16] tiankonghewo opened #4192 "How to know how many node are in the dgraph?"
neo4j display the total number of nodes on the webpage.
how is the dgraph?
I read the document in detail, but I didn't find which query sentence can achieve my goals

[2019-10-18 05:30] MichelDiz commented on #4192
You can use this query:

[code]

Also, there's a panel called "Explorer" and also the panel "Schema" in Ratel UI that you can find out other stats.

Please, do questions in https://discuss.dgraph.io.

Cheers.

[2019-10-18 05:30] #4192 closed

[2019-10-18 05:39] MichelDiz commented on #4189
This feels like duplicated of https://github.com/dgraph-io/dgraph/issues/4190
Btw, I'm not sure if we have somebody fluent in Chinese. The translation in Google Translate seems to be precise but can be a bit confusing.

So If this isn't a duplicated of #4190 feel free to reopen it.

[2019-10-18 05:39] #4189 closed

[2019-10-18 05:42] MichelDiz commented on #4190
You might need more memory to do the first ingestion. 64GB It's too little for the dataset size.

Can you share the query? at least a similar one. And an idea of how much data would come from it.

[2019-10-18 06:10] tiankonghewo commented on #4190
first, I have three node,each node memory is 64GB, So the total memory is 192GB
Is this enough memory?
second, my query is very simple, use  pydgraph==1.2.0,my dgraph version is 1.0.15

        all(func: eq(type, $a))@filter(eq(value, $value)) {
            uid
            type
            value
        }
    }"""
    variables = {'$a': 'PERSON', '$value': value}
    t0 = time.time()
    res = cli

[2019-10-18 06:27] tiankonghewo commented on #4190
when import data, we use 256GB memory not 64GB, but dgraph V1.1.0 will OOM at map stage,
but v1.0.15 run normally

[2019-10-18 08:59] tiankonghewo opened #4193 "dgraph is distributed, but bulk loader 100G rdf data need 128GB memory server"
dgraph is distributed, but bulk loader 100G rdf data need 128GB memory,
if rdf.gz file is  400GB, I need 256GB memory.
dgraph is distributed, but import data operate only on one machine, can‘t be distributed.
Isn't that ironic?

[2019-10-18 10:16] robsws opened #4195 "Support subtypes and subtype polymorphism"
We would like to be able to define a taxonomy in the type system such that one type can be a child type of another. As a result, if you were to filter on the parent type, all nodes of the child type would be matched. For example, the types might look like this, using "inherits" as a placeholder for subtype syntax:

[code]

With the following mutations:
[code]

the following query:

[code]

should

[2019-10-18 15:24] MichelDiz commented on #4190
Would you mind to rerun the test using a build from master?
You can just clone the repo, go to `/dgraph/dgraph` and run `Go builg`.

Is your issue the same as this? https://github.com/dgraph-io/dgraph/issues/3918

Is see that you're talking about multiple issues. We should treat step by step.
The query thing may be related to the version. There are old issues with performance in old versions. Your

[2019-10-18 16:39] MichelDiz commented on #4193
We are working on it https://github.com/dgraph-io/dgraph/issues/2628
@tiankonghewo if you have questions or discussions to add it would be nice to do in already opened issues or in Discuss forum.

[2019-10-18 23:09] campoy commented on #4195
It's funny because I just spent one hour proposing a new type system to Manish.
I'll be writing the specs later on, but it would include inheritance as well as methods and filters.

I'll keep this issue open for now, and we'll close it once it's implemented.

Is this an urgent issue for you or is the current workaround enough for now?

[2019-10-19 00:10] campoy commented on #4081
I think the misunderstanding was based on my typos, sorry about that!

The actual response should be:

[code]

Note that indeed the field name with the facets is `nickname|kind` and the key in the map points to the corresponding field in the predicates.

[2019-10-19 00:49] danielmai opened #4197 "Distinct query variables still errors with "Some variables are declared multiple times""
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes, v1.1.0 and master (45a34f2ec)

### What is the hardware spec (RAM, OS)?
Ubuntu Linux

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Go to https://play.dgraph.io and connect to the Play Dgraph database (the Server URL should be https://play.dgraph.io).

[2019-10-20 00:18] MichelDiz commented on #3066
I've noticed that the value variable works fine in uid_in if I convert the UID to number using a hexadecimal converter (Which cannot be done on the fly in the query). The issue is related to the lack of the possibility of conversion of UID to string. That is, it would be necessary for Value Variable to convert the UID to number and/or string.

[code]

[code]

[2019-10-20 14:58] asa511 opened #4198 "@normalize does not flatten always"
#3751 # What version of Dgraph are you using?

v1.1.0

### Have you tried reproducing the issue with the latest release?

NA

### What is the hardware spec (RAM, OS)?

MacOS 10.14.6, 16 GB

### Steps to reproduce the issue (command/config used to run Dgraph).

[code]

### Expected behaviour

[code]

###  actual result.

[code]

The `@normalize` clause was working fine when I was using the followin

[2019-10-20 18:09] MichelDiz commented on #4198
I can't reproduce it in master. So probably it is fixed if it was something. Also, there have been some changes recently in `@normalize`.

[code]
[code]

[code]

[code]

## Result

[code]

[2019-10-21 00:06] asa511 commented on #4198
@MichelDiz Did you also try with the declaration:

[code]

plain `uid` instead of `[uid]` for `type_of` predicate.

[2019-10-21 00:59] MichelDiz commented on #4198
Yep, same response, no issues.
![Captura de Tela 2019-10-20 às 21 58 54](https://user-images.githubusercontent.com/6570955/67169914-d4a00400-f384-11e9-99c3-00c4aaaf9d6f.png)

[2019-10-21 02:52] zhuyaoyhj opened #4199 "Something wrong with multi edge query shortest path"
### What version of Dgraph are you using?

    Dgraph version   : v1.1.0
    Dgraph SHA-256   :
    7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
    Commit SHA-1     : ef7cdb28
    Commit timestamp : 2019-09-04 00:12:51 -0700
    Branch           : HEAD
    Go version       : go1.12.7

### Have you tried reproducing the issue with the latest release?

    yes

### What is the h

[2019-10-21 10:51] rickytyho commented on #4182
@animesh2049 Hi Amimesh, this is happening to us quite frequently and is causing our application to break in many places. Have you narrowed down on the source of the bug?

[2019-10-21 15:21] robsws commented on #4195
The workaround serves us fine for now, but it's good to know that this feature is planned for the future. Thanks @campoy!

[2019-10-21 17:55] danielmai commented on #4198
This is reproducible on v1.1.0 and master (8a5c2f25136cbf61fdcf7644fcb3ffec77ced426). As @asa511 reported, this happens with predicates with the one-to-one `uid` schema type.

### Steps to reproduce the issue:

1. Run fresh Dgraph cluster.
2. Set the following schema with a `uid` predicate:
[code]
3. Set the following mutation, which connects two nodes to each other using the `friend` predicate:

[2019-10-21 18:32] danielmai commented on #4198
I'll close this issue since this is fixed in master. The next Dgraph release will contain the fix. For now, you can use the master version as of #4042 if you need this fix. We can also cut a release-candidate version for you if needed.

[2019-10-21 18:32] #4198 closed

[2019-10-22 05:36] rickytyho commented on #4182
After more experimentation, we also suspect that the issue may originate from DGraph Ratel since we were unable to remove a predicate using Ratel's dashboard but were able to remove it using JS )(*sometimes).

[2019-10-22 22:17] campoy opened #4205 "unsafe pointer conversion in TestRebuildIndex"
### What version of Dgraph are you using?

tip

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

n/a/

### Steps to reproduce the issue (command/config used to run Dgraph).

I updated Go to the latest version on tip

[code]

Then I modified `./test.sh` to enable checkptr.

[code]

Then ran `make test`

### Expected behaviour and actu

[2019-10-22 22:19] campoy opened #4206 "unsafe pointer conversion in github.com/dgraph-io/dgraph/xidmap"
### What version of Dgraph are you using?

tip

### Have you tried reproducing the issue with the latest release?

yes

### What is the hardware spec (RAM, OS)?

n/a/

### Steps to reproduce the issue (command/config used to run Dgraph).

I updated Go to the latest version on tip

[code]

Then I modified `./test.sh` to enable checkptr.

[code]

Then ran `make test`

### Expected behaviour and actu

[2019-10-23 01:08] rickytyho commented on #4182
Thanks @pawanrawal for the patch. This issue first surfaced when we loaded data from the bulk loader, but it also occurred again when we tested it locally with newly generated data. Does this patch address the same issue from newly created data as well (maybe something to do with the immutable layer)? Thanks

[2019-10-23 09:35] animesh2049 commented on #4182
There is a [PR](https://github.com/dgraph-io/dgraph/pull/4204) ready for this. Will be fixed as soon as that is merged.

[2019-10-23 15:50] kkessler opened #4207 "Index out of range on goroutine fanout for UID handling"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
No

### What is the hardware spec (RAM, OS)?
kubernetes on GCP - large nodes but that should not matter.

### Steps to reproduce the issue (command/config used to run Dgraph).
default setup from helm chart in contrib/ - no overrides used.
do a search ala:
[code]

### Expected behavio

[2019-10-23 16:34] user453584 commented on #2122
For an example of a distributed DB that's doing this in what I would argue is the Right Way™, see CockroachDB https://www.cockroachlabs.com/docs/stable/change-data-capture.html

[2019-10-23 21:48] martinmr opened #4209 "Calling "make regenerate" modifies the go module files."
### What version of Dgraph are you using?
master

### Have you tried reproducing the issue with the latest release?
yes

### Steps to reproduce the issue (command/config used to run Dgraph).
run `make regenerate` in the proto directory to regenerate the protobufs. The`go.mod` and `go.sum` files are modified because the makefile fixes the protobuf version to a different one.

### Expected behaviour

[2019-10-23 22:19] #4182 closed

[2019-10-23 23:45] campoy commented on #4034
Hey @MichelDiz,

I totally missed your comment above, sorry about that.

The result to the query you propose should be:

[code]

If you wanted to also remove the nodes above you would use something else.
I might propose to use `@cascade` in this case, but in any case, that's an orthogonal concern to this issue.

At this point I'd say we should simply implement this fix as is and in the same way we

[2019-10-24 00:54] MichelDiz commented on #4034
Okay, that behave makes sense. But thinking a little more. I think one thing still missing. Are we gonna skip only the value facet or the predicate/value and value facet?

The example I gave it does not return the registration predicate. So, it is skipping both.

the other alternative:
[code]

[2019-10-24 01:23] rickytyho commented on #4182
Hi @pawanrawal , is there a planned scheduled release for this update fix?

[2019-10-24 05:57] campoy commented on #4182
This should be released with 1.1.1, scheduled to be released in a couple of weeks.

Alternatively, you could compile from source or use the dgraph/dgraph:master Docker image

[2019-10-24 11:04] Willem520 commented on #4097
@martinmr Hi，I got the error again.there was no error log.I just modified a predicate to add an index.

[2019-10-24 17:13] martinmr commented on #4097
This is not really an issue. Operations will block when doing a schema update. The problem is that the previous rebuild took a long time. How long did it take this time and how big is your data?

Also, the alpha and zero logs around the time you made the update would be useful.

[2019-10-24 18:16] kgardas opened #4214 "Can't compile dgraph from source code."
### What version of Dgraph are you using?
github.com HEAD as of Oct 24 2019

### Have you tried reproducing the issue with the latest release?
No

### What is the hardware spec (RAM, OS)?
Two systems:
AMD64 and POWER64le together with Ubuntu 18.04 with Ubuntu provided go 1.10

### Steps to reproduce the issue (command/config used to run Dgraph).
As in README.md:
go get -v github.com/dgraph-io/dgra

[2019-10-24 18:35] martinmr commented on #4214
It looks like you have inconsistent versions of badger and dgraph. This didn't used to be a problem because we vendored badger into dgraph but we just changed dgraph to use go modules,  I would try 1.13 if you can get it in your system but 1.12 should work.

[2019-10-24 18:35] martinmr commented on #4214
by 1.13 I mean go version 1.13.

[2019-10-24 18:45] MichaelJCompton opened #4215 "Publish logs in CI"
CI request : when a CI test fails, it's sometimes nice to also have the container logs.  If a test run fails, we could publish the container logs that were running for that test as artifacts.

[2019-10-24 19:09] campoy commented on #3634
After discussing this issue with @pawanrawal we've reached the conclusion that there's a possible enhancement to be done here which would target your concerns.

I'm going to keep this issue open but change it to be an enhancement, as the current behavior matches the specs. That said, we'll try to implement this in future releases.

The solution would be to stop recursion once a node has been seen

[2019-10-24 19:57] kgardas commented on #4214
The same issue even with go 1.13. I mean, I've installed go 1.13, extend path by export PATH=`$HOME/sfw/go-1.13/bin:$PATH. This way, go version returns 1.13 and then rm -rf $HOME/go and rerun go get. Still the same issue:
[code]

[2019-10-24 21:20] alexkreidler commented on #4214
I'm running into this exact issue on Go 1.13:

[code]

Please fix, I'd love to build something with Dgraph!

[2019-10-24 21:34] alexkreidler opened #4216 "Using Dgraph as a Go package fails when using Go Modules"
Using the Dgraph go package in a project is broken with Go Modules. I also tried just doing it in the GOPATH like the README says, but that doesn't work per #4214.

See my project [here](https://github.com/alexkreidler/dgraph-validator), with key elements [go.mod](https://github.com/alexkreidler/dgraph-validator/blob/master/go.mod) and [root.go](https://github.com/alexkreidler/dgraph-validator/blo

[2019-10-24 22:46] #3968 closed

[2019-10-24 23:07] martinmr commented on #4207
Can you share the exact commit that was used to build your version of Dgraph. It should be printed when you start an alpha. Otherwise it's hard to try to debug this using the stacktrace you provided.

[2019-10-24 23:46] martinmr commented on #4214
I was able to reproduce the issue. I got past that error by doing `export GO111MODULE=on` and running `go get -v -t github.com/dgraph-io/dgraph/dgraph@master` command again. You have to add `@master` because the latest official Dgraph version was not using go modules.

But now we're getting a different error message:
[code]

We are looking into this.

[2019-10-25 02:45] Willem520 commented on #4097
I saw the log，it took 1h10m31s to rebuild about 2282837 label predicate.but it always log bytes sent: 0 B, speed: 0 B/sec. maybe the log puzzled me

[2019-10-25 14:17] joshuabezaleel commented on #2897
Are there any recommendations on where to start and references if someone is interested in this?
Thank you very much! :slightly_smiling_face:

[2019-10-25 15:45] harshil-goel opened #4218 "Disallow UID as a predicate name"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes

### What is the hardware spec (RAM, OS)?
32gb RAM, Ubuntu 19.04

### Steps to reproduce the issue (command/config used to run Dgraph).
Add `<uid>: string .` as a schema works.

### Expected behavior and actual result.
Expected behavior: An error saying UID is a reserved word and

[2019-10-25 16:48] martinmr commented on #4097
The log is indeed confusing but the time taken to rebuild the index doesn't seem that far out of what is expected.

I'll look into the log issue and see if there's something we could do to improve the logging.

[2019-10-25 22:04] martinmr commented on #4214
Still looking into this. For now there are a couple of workaround to get over this and the related issue #4216 .

1. Even though `go get` is failing, it downloads dgraph and its dependencies. You can build it by going into the repo and running `make` (or `make install` to install to your `$GOPATH/bin`.
2. Don't depend on dgraph. I am not sure what exactly @alexkreidler is trying to do, but in gene

[2019-10-25 22:10] martinmr commented on #4218
If you added a mutation with a uid predicate but no schema, dgraph would allow it and create a default predicate in the schema. This should also be disallowed.

[2019-10-25 22:25] parasssh commented on #3826
@yevgenypats
I am working on integrating fuzzit with dgraph. I adapted the fuzzit.sh file for dgraph. However, I get the following message when I run as follows:

`paras@pshahX1:~/go/src/github.com/dgraph-io/dgraph$ ./fuzzit.sh fuzzing `
...
...
...
2019/10/25 15:19:14 Creating job...
2019/10/25 15:19:16 Uploading fuzzer...
2019/10/25 15:19:19 Starting job
2019/10/25 15:19:19 Please check that the

[2019-10-25 22:49] parasssh commented on #3826
@yevgenypats
I am working on integrating fuzzit with dgraph.
Just to clarify, based on the example.go you indicated above, we basically need to do the following in order:
1. Set the env variable to FUZZIT_API_KEY
2. ./fuzzit.sh local-regression [regression]
3. ./fuzzit.sh fuzzing

However, when I run this,
- In Step 2, It seems to skip the run as there is no corpus or seed.
- In Step 3, it gives m

[2019-10-26 03:22] parasssh commented on #3826
I figured out the issue.
Basically, the script is missing the step to create a fuzzit target and the target-id needs to be under dgraph-io-gh account. After fixing these two, I was able to create a target and add 2 jobs (fuzzing, regression) under it.

Questions
======
- Can you tell me how to incorporate the corpus that dgraph has under dgraph/gql/fuzz-data/corpus? And how does it populate the co

[2019-10-26 05:06] yevgenypats commented on #3826
Hey @parasssh, thanks for the details questions.

* Per the corpus incorporation there are two options: one you can manually upload a zip as a seed corpus via the ui or via `--additional-corpus`.
* I don't see any queued jobs now so look like the target running successfully.

Regarding regression - this is a legit way to run it though there is one more way that you can consider - you can run with

[2019-10-26 07:42] mangalaman93 commented on #4206
This is a badger issue and fixed by https://github.com/dgraph-io/badger/pull/1097

[2019-10-26 07:42] mangalaman93 commented on #4205
This is a badger issue and fixed by https://github.com/dgraph-io/badger/pull/1097

[2019-10-26 10:09] Willem520 commented on #4097
Oh, thanks

[2019-10-26 10:09] #4097 closed

[2019-10-28 02:24] aoighost commented on #2693
I'd appreciate it if this were not an enterprise feature. I'm trying to build a app that uses dgraph on the backend as a graph store and multi tenancy would make it a lot easier to build without having to spin up a new docker instance for each workspace. Enterprise only would kill the use of that feature for me.

[2019-10-28 06:07] linkerlin commented on #4193
maybe mmap is needed for larger datasets.

[2019-10-28 06:16] rickytyho commented on #4182
@campoy Thanks a lot! We'll try using dgraph/dgraph:master for now.

[2019-10-28 06:20] linkerlin commented on #2894
Gremlin support is very important for a GraphDB.

[2019-10-28 07:28] rickytyho commented on #4182
@campoy @martinmr @pawanrawal Just pulled Dgraph's master image and the bug still seems to exist. We tried it again and we are able to repro.

[2019-10-28 07:36] rickytyho commented on #4182
@campoy , Just realized that the image dgraph/dgraph:master was built over a month ago. Is there a more recent image that encompasses the bug fix? Becuase dgraph/dgraph:master still has the same bug for 4182

[2019-10-28 11:46] MichelDiz commented on #4193
Closing due kind of duplicated (but as a question?) Any further discussion must go to #2628.

[2019-10-28 11:46] #4193 closed

[2019-10-28 16:06] kkessler commented on #4207
Certainly: (its just the v1.1.0 docker container downloaded from docker.io - here is the output:
[code]

[2019-10-28 19:42] parasssh commented on #3826
I am a little confused on the use of corpus.
So, there is options under the create target:
--public-corpus
--seed
and then there is option under the create job:
--additional-corpus

Which one should I be using? Also, when is the corpus required, during fuzzing or regression? Lastly, how do I get the new corpus that fuzzing finds so that I can use that for subsequent runs.

I guess a complete workf

[2019-10-28 21:32] MichelDiz commented on #1222
Here is a way to do this https://docs.dgraph.io/mutations/#bulk-delete-example

You can use multiple query blocks, reverse edges to get all nodes you need to delete. (But you need dgraph type well done).

[2019-10-28 21:36] insanitybit commented on #4024
I'd like to suggest this as a feature. This greatly complicates queries for me, and is really unintuitive. I've had a long standing bug in my project because of my assumption that cascade was impacting the results of var queries.

Here is one example I have for my own project.

This is the 'correct' (no-cascade version)
https://gist.github.com/insanitybit/f3b51d477fbb69c3fecb4263e1a235ca

It has t

[2019-10-28 22:30] parasssh commented on #3826
Ok, so this is what I have done.
- Created a target with seed corpus
- Created a job with regression. It executed only inputs from the seed corpus.
- Created a long running job with fuzzing. This, I believe, generates the additional corpus. When does this job terminate? Or does it have to be manually terminated?
- Created a job with regression. It now executed inputs from the seed corpus as well a

[2019-10-28 22:43] martinmr commented on #4155
Closing since the issue it's been addressed

[2019-10-28 22:43] #4155 closed

[2019-10-29 00:57] pjebs commented on #3634
I'll have a look at it when I get back to this project. I still think that the queries return "footprint" should always be returned when possible.

[2019-10-29 17:21] animesh2049 commented on #4081
In case of **Facets on lists of value predicates** we are putting all the facets for all the values into the same `facetList`. Later there is no way to find out the mapping between values and facets. Here is a sample test case for the same.
**schema**
[code]
**mutatoin**
[code]
**query**
[code]
Right now on master the query doesn't return any facet, but we can look into facetmatrix to verify this.

[2019-10-29 17:44] martinmr commented on #4182
We have some issues with our release script because we just moved to to using go modules and the script does not work with it.

But I managed to build and push a new docker image with the `master` tag. Can you give it a try? It doesn't come with Ratel because I haven't managed to make the script work with it. Should you need ratel you can always run it on your workstatoin. Let me know if you can p

[2019-10-29 17:54] martinmr opened #4224 "Release script does not work with latest master."
The release script assumes go modules are turned off but dgraph cannot be built unless the modules are off. This broken assumption means a lot of things need to be changed to make the script work again.

- The script downloads libraries it depends on using "go get" and assumes they are in `$GOPATH/src/...` but that is not true when gomodules are enabled.
- The script tries to clone dgraph into a d

[2019-10-29 19:12] martinmr commented on #4110
Closed by #4114

[2019-10-29 19:12] #4110 closed

[2019-10-29 19:16] martinmr commented on #4224
https://github.com/dgraph-io/dgraph/pull/4225 should fix this temporarily (it turns off go modules except when building the binaries).

[2019-10-29 21:10] pawanrawal commented on #933
Hey everyone! We're excited to announce that we have a [beta release for Dgraph GraphQL](https://graphql.dgraph.io/). Give it a try and let us know what do you think about it.

You can read all about the challenges we faced, our learning's and the future at https://blog.dgraph.io/post/building-native-graphql-database-dgraph/.

[2019-10-30 01:20] smkhalsa commented on #933
@pawanrawal I just read through the docs, and I can't wait to start playing around with this! I was pleasantly surprised to see that interfaces made the cut for the initial version.

You mentioned [here](https://graphql.dgraph.io/docs/schema/#what-s-to-come-for-dgraph-graphql) that:

This could resolve several of the initial limitations that I see for my use case (e.g. aggregations). Will this fun

[2019-10-30 05:37] yevgenypats commented on #3826
Sounds like this is almost ready!

- Yes it is expected for the old job to stop and new one to start as you want to fuzz only the latest code. This always start from the same "point" as the corpus is saved between runs.
- Yes, this is expected. You can download the seed corpus separately via target settings.

- the best practice is to run the fuzzing job infinitely either until a crash is introduc

[2019-10-30 10:52] jarifibrahim commented on #4095
I see three panics in the logs
1. Segmentation fault panic (Originated in badger or dgraph)
2. Nil pointer reference panic (originated in badger because badger was being closed)
3. Txn.Discard panic (originated in badger as a result of panic 2)

I don't see any logs for the seg fault panic.
For panic 2 and 3. They are related. The memtable was nil (which happens only when badger is closed). This w

[2019-10-30 11:07] igormiletic commented on #4095
Hm, this was possible to reproduce when you run some heavy query that will use all memory of the node.

We learned to be careful with memory that Alpha nodes use.

At the moment only I can suggest you o try something like:

1. run alpha nodes with lower memory (e.g. 4GB)
2. write some query with (e.g. with @recurse that will use all available memory)

In this cases our Kubernetes was not able to p

[2019-10-30 13:17] seanlaff commented on #2693
We're attempting to use one big dgraph instance to serve many discrete customers and need data isolation. This would be a great feature for us.

In the meantime we've been experimenting with putting a `tenant` predicate on every entity- however I worry that this might have some performance drawbacks since every query we send into dgraph has to be a `tenant = x` query, followed by a @filter of what

[2019-10-30 13:34] selinplus commented on #2778
@relunctance where the schema can find ? search all tour and not found the schema structure

[2019-10-30 14:18] aexol opened #4227 "Dgraph native from mjc/graphql doesnt support comments at the beggining of the file"
### What version of Dgraph are you using?
dgraph/standalone image
### Have you tried reproducing the issue with the latest release?
With the release from blog :)

### What is the hardware spec (RAM, OS)?
12gb ram i7 macOS

### Steps to reproduce the issue (command/config used to run Dgraph).
Add a comment at the beginning of GraphQL file

[code]

### Expected behaviour and actual result.
works

[2019-10-30 14:19] aexol opened #4228 "Add possibility to setup cors on dgraph server for demonstration purposes"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do
Make CORS request to database server
### What you actually did

### Why that wasn't great, with ex

[2019-10-31 11:18] JCzz opened #4229 "Running dgraph in docker not working"
Running dgraph in docker following this:
https://docs.dgraph.io/get-started/#docker-on-non-linux-distributions

[code]
No response from:
http://localhost:8000

[2019-10-31 14:08] jm4games opened #4231 "DGraph Times Out Processing Graph"
### Dgraph Version?
Dgraph version   : v1.1.0
Dgraph SHA-256   : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
Commit SHA-1     : ef7cdb28

### Hardware Spec ?
OS: Arch Linux, (running dgraph in docker env)
CPU: AMD 3900x
RAM: 64GB

### Steps to reproduce the issue (command/config used to run Dgraph).
schema.txt - graph layout
trait.txt - initial seed data
graph.gz - (full graph

[2019-10-31 16:07] MichelDiz commented on #4229
What version is running on the container?
It is important to follow the template that appears the moment you create the issue. This way you avoid having to ask the same things. When the problem is not obvious enough.

Cheers.

[2019-10-31 16:15] MichelDiz commented on #4231
What exactly are you doing? Is it a bulk load? live load?

The file `graph.gz` isn't correct for bulk. Bulk or Live only accepts Nquads or JSON. No upsert or even the format:
[code]

If you wanna change something, you should do it after the load via upsert. Not during the load.

[2019-10-31 16:42] jm4games commented on #4231
This is on a single box using 1 dgraph/zero/ratel server (e.g. the getting started docker-compose).  This uses the standard localhost:8000/mutate endpoint.  The graph.gz is a dump of what I am posting to the endpoint.

[2019-10-31 17:00] MichelDiz commented on #4231
How much RAM does it consume? doing this.

[2019-10-31 17:19] jm4games commented on #4231
It would do occasional spikes and then eventually sit at 6~10GB. I would have to run it again to make sure and I won't be at my dev box for a while. But the graphj.gz is only ~168 mb unzipped, so I am kind of surprised it was taking so much ram.

[2019-10-31 17:55] jm4games commented on #4231
@MichelDiz I updated description with proper repo steps (sorry should have done that to begin with). Got onto a laptop and performed repo, I killed dgraph once it started to exceed 10GB in RAM.

[2019-10-31 18:12] MichelDiz commented on #4231
As you have a lot of RAM available, try to run your cluster with these flags (Just for this situation):
[code]

[code]

[2019-10-31 18:17] jm4games commented on #4231
Ok I will have to give it a shot tonight, my current laptop doesn't have near as much ram :)

[2019-10-31 18:25] MichelDiz commented on #4231
What I have indicated is a way of assessing whether it could be bottleneck for I/O.

I would then recommend that you have an actual cluster, where each group has its own resources. A single instance with slow HDD tends to have poor performance. But if you have multiple instances with own resources, even with slow HDDs and well-defined groups, there is no performance loss.

Also, Dgraph/BadgerDB wo

[2019-10-31 18:48] jm4games commented on #4231
So I am running on a corsair MP600, that gets about 4250MB/s in write throughput, so I doubt its IO bound. You wont even see those speeds in a small cluster setup. The only thing that i can think that might prevent this is I am using a docker volume and that could be IO limited.

[2019-11-01 04:01] rickytyho commented on #4182
Thanks a lot @martinmr . Currently, we've actually built our own image of Dgraph using master repo, but we'll switch over to using dgraph/dgraph:master to see if that works as well.

[2019-11-01 09:44] JCzz commented on #4229
Hi @MichelDiz

Thanks - I understand

The problem is the same for two other users, so I maybe it is a general problem running local docker. For myself it is not a show stopper, as I am working on something else - so it is more for you information to see if it is actually a problem - can you run the commands yourself?

Thanks for a great product!

## docker version
Client: Docker Engine - Community

[2019-11-01 14:12] MichelDiz commented on #4229
Running Dgraph in https://labs.play-with-docker.com/

I have it running normally.

[code]

[code]

[code]

[2019-11-01 14:24] jm4games commented on #4231
So it seems these flags did  not make any difference. I've also noticed that since the request failed to fully process, dgraph tries to recover it when I restart the server. The recovered "job?" causes the server to start spinning again. The server also doesn't seem to be responsive to simple query commands.

[2019-11-01 14:30] jm4games commented on #4231
Also, I've been monitoring the server trying to process the job for over 15 min and the server is sitting at 7.5GBof ram use  (which has stayed consistent when reached) and fluctuates from using 2 vcores to all 24 vcores.  I don't see much io active (via iotop). I suspect maybe golangs GC is kicking in for a massive cleanup when i hit all 24 cores?

[2019-11-01 15:01] MichelDiz commented on #4231
Quick question, how do you run it? 185MB via Ratel?

[2019-11-01 15:03] jm4games commented on #4231
how to I run the request? I run all servers via docker-compose and send the request via localhost:8080/mutate

[2019-11-01 15:04] jm4games commented on #4231
Looks like job finally finished (but didn't commit graph changes)
[code]

[2019-11-01 15:06] MichelDiz commented on #4231
ah, just saw your update in the first comment

`curl -X POST -H 'Content-Encoding: gzip' -H "Content-Type: application/rdf" localhost:8080/mutate\?commitNow=true --data-binary @graph.gz`

[2019-11-01 15:11] jm4games commented on #4231
AH, fyi, server is sitting at 8.8 GB of ram use after job completion. That seems really high... given how small the data set was.

[2019-11-01 15:28] MichelDiz commented on #4231
Well, I'm running your dataset for the last 26 minutes. Only the transaction to be aborted in the logs (Maybe some typo in the dataset). There's no issue as I could tell.

(I'm not using Docker. Just a local instances of Dgraph in Darwin)

It uses 9GB of RAM. Which is normal. And have some spikes in CPU.  Which is also normal due to the background activities.

Use Upsert Block with 185MB of data (

[2019-11-01 15:35] jm4games commented on #4231
I would be surprised if there was a typo in data set, since it programattically generated and it works on smaller data sets (but i guess there is always the chance). Are you saying I should use the mutate endpoint instead and should expect better perf? I really just use upsert so that i can get the trait node ids and insert new data with them in one call.

[2019-11-01 15:48] MichelDiz commented on #4231
I would personally recommend that you do this in small chunks with longer intervals. And add a load balancing logic to the logic of your code.

For example, instead of firing all chunks for just one instance, you can fire like this:
[code]

Sending chunks for each available instance. That way you split the load well in your cluster.

[2019-11-01 16:01] jm4games commented on #4231
So I changed the graph.gz to be a single mutate and no change occurred (so far). If this is the expected behavior then I think I might just explore some other options. Still a cool product, just might not yet be up for my use cases.

[2019-11-01 16:07] MichelDiz commented on #4231
Hey, btw. Don't use `@upsert` in your schema. This has another purpose. Its an old way of doing upserts. It doesn't do anything with your context.

[2019-11-01 21:04] #4034 closed

[2019-11-01 22:32] martinmr commented on #4207
It looks like the `n` function argument is not calculated properly, leading to the panic.
The proper solution should be decoupling the multiple uses of the `n` argument so that the logic is clearer and find where it's not computed appropriately.

@kkessler Is it possible to get a minimum dataset from you that reproduces this issue? We'll try from our end but having the data that causes the existin

[2019-11-02 17:50] MichaelJCompton commented on #4227
This actually already works - it's the docs that's broken, not the server :-(

The line in the docs that loads the schema just pumps everything into one line, which means any `#` covers over all remaining lines.

I'd originally written the command below.  I'll work on a friendlier way to load the schema.

[code]

[2019-11-03 11:36] hubyhuby commented on #2693
+1
Managing multiple customers on one server requires clear separation. Mistakes happen all the time ;) You don t want your "sensitive customer infos" to leak into another database. You just don t want to take the chance.
If you are doing a SAAS you want to be able to duplicate things aswell easily. Beeing able to maintain things across 1 000 customers / DBs.
Moreover, In Europe with GDPR reglemen

[2019-11-03 16:34] StevenACoffman commented on #3000
Possibly of interest: [dgraph-operator](https://github.com/thoth-station/dgraph-operator)

[2019-11-04 13:31] hlindberg opened #4235 "expected error for syntax error, but did not get one"
### What version of Dgraph are you using?
1.10 (latest)
### Have you tried reproducing the issue with the latest release?
yes

### Steps to reproduce the issue (command/config used to run Dgraph).
This query:
[code]

Has an error in it `rule: comp.rule: { }` which is not flagged.

### Expected behaviour and actual result.
Actual: no output
Expected: an error since the extra colon is just wrong.

I

[2019-11-04 17:06] a-type commented on #933
I'll preface this, since it turned into a big wishlist and I know this feature is still really early on: I'm loving this so far and it may have won me back to DGraph for graph databases. It's been so surprisingly hard to marry graph databases and GraphQL APIs, and it's wonderful to see progress being made! So thank you, and this initial release is already looking excellent! My comments below are m

[2019-11-04 23:07] martinmr commented on #4218
Fixed by #4219

[2019-11-04 23:07] #4218 closed

[2019-11-04 23:31] parasssh commented on #3826
Merged https://github.com/dgraph-io/dgraph/pull/4233

[2019-11-04 23:31] #3826 closed

[2019-11-05 00:29] Lercher commented on #2894
What about W3C‘s standardized SPARQL?
https://www.w3.org/TR/rdf-sparql-query/

[2019-11-05 01:11] martinmr commented on #4105
Fixed by #4082

[2019-11-05 01:11] #4105 closed

[2019-11-05 04:07] MichelDiz commented on #4229
Closed due inactivity, feel free to reopen if have new fact related to bugs or something. Also, if you need community support reach me on https://discuss.dgraph.io/ - just open and topic that I gonna help you. Or somebody else.

However, the problem is not quite clear. There are no problems running Ratel (as the port 8000 had been mentioned) and there are no other bad function reports from other u

[2019-11-05 04:07] #4229 closed

[2019-11-05 12:01] JCzz commented on #4229
Thanks @MichelDiz I will pass it on to my friend and let him try with compose.

[2019-11-05 12:26] JCzz commented on #4229
Just to confirm - it does work with compose

[2019-11-05 15:44] dsisnero commented on #2894
cypher is now a standard  https://gql.today/  .

*It seems like the time is right to create one standard property graph
query language. Fusing the best of Cypher, PGQL and G-CORE into a more
comprehensive query language built specifically for graph solutions.*

Also +SPARQL

On Mon, Nov 4, 2019 at 5:29 PM Martin Lercher <notifications@github.com>
wrote:

[2019-11-05 18:31] martinmr commented on #4095
@jarifibrahim I am not even sure if this stack trace was copied in its entirety.

Segmentation faults always print the stack. There are two segmentation faults but only one stacktrace. Also, for each element in the stacktrace, the method and line are printed in that order. But for the last element, there's only the method name. So it doesn't look like this stack trace is complete.

@igormiletic Wo

[2019-11-05 19:21] martinmr commented on #4214
I checked this again and `GO111MODULE=on go get ...dgraph@master` is working now.

I think the issue is trying to use 1.1 since go modules were not enabled yet.
Closing this issue since there's no action items left.

The point about trying to avoid depending on Dgraph in the go modules file if you can avoid it still stands. You can take a look at our test scripts to see how we run tests that depen

[2019-11-05 19:21] #4214 closed

[2019-11-05 19:29] martinmr commented on #4216
Right now, this will work if you use `@master` since 1.1 doesn't have modules enabled.

But as I mentioned in the other thread, it's better not to depend on dgraph altogether. dgraph is not meant to be used as a library so there's little value in doing so.

Closing the issue for now as there's no actionable items.

[2019-11-05 19:29] #4216 closed

[2019-11-06 02:43] MichaelJCompton commented on #4228
Closing.  We've decided to move the GraphQL endpoint onto our Alpha servers (the actual database nodes), so this becomes not an issue.

[2019-11-06 02:43] #4228 closed

[2019-11-06 09:28] raoshuaix1 opened #4250 "when alpha Creating snapshot, the response time writing or querying of txn is takes several seconds"
### What version of Dgraph are you using?
 Dgraph version   : v1.1.0
Commit SHA-1     : ef7cdb28
Commit timestamp : 2019-09-04 00:12:51 -0700
 Branch           : HEAD
 Go version       : go1.12.7
### Have you tried reproducing the issue with the latest release?
yes

### What is the hardware spec (RAM, OS)?
32G ram, ubuntu18.04

### Steps to reproduce the issue (command/config used to run Dgraph).

[2019-11-06 18:24] campoy commented on #3582
What is the thing that works pre v1.1?

Querying for facets twice or the recursive expansion you're requesting?

[2019-11-06 23:20] martinmr commented on #3571
The unicode issue was fixed by https://github.com/dgraph-io/dgraph/pull/4175 but it needs to be cherry-picked into the 1.0 release branch. I'll do just that.

I'll also look into the second issue (bulk loader fails on an empty graph).

[2019-11-07 18:47] martinmr commented on #4056
There doesn't to be an actual issue but I agree that the logs should be cleaned up. Here's what's happening.

1. Node is removed via the zero endpoint.
1. A new leader is elected.
1. The leader receives an update with the other node marked as removed. Node is removed successfully.
1. Subsequent updates try to remove the node again. It's already removed and not a peer of the new leader so an error

[2019-11-07 19:45] MichaelJCompton opened #4255 "GraphQL issue sync"
...I'd really like this to sync properly :-)

[2019-11-07 19:54] MichaelJCompton opened #4256 "Does sync now work"
no really, I want to know

[2019-11-08 00:44] MichaelJCompton commented on #4256
not a real issue

[2019-11-08 00:44] #4256 closed

[2019-11-08 00:44] MichaelJCompton commented on #4255
not a real issue

[2019-11-08 00:44] #4255 closed

[2019-11-08 19:44] scroobius-pip opened #4258 "Dgraph backup doesn't seem to support non amazon s3 compatible buckets"
I've got my kubernetes cluster on Digital Ocean working properly, but now i want to perform a backup to a digital ocean space which is an s3 compatible alternative to amazon's bucket:

` curl -XPOST localhost:8080/admin/backup -d "destination=curl -XPOST localhost:8080/admin/backup -d "destination=dgraph-backup.sfo2.digitaloceanspaces.com"        `

but i get an error :
`{"errors":[{"message":"Bac

[2019-11-08 20:00] martinmr commented on #4258
Dgraph backup only supports S3 and minio endpoints. We are using the minio client so if that client supports Digital Ocean, then you should be able to use it for Dgraph. Can you try using the minio go client to try to connect to the same bucket?

https://github.com/minio/minio-go

[2019-11-09 07:27] hubyhuby commented on #2693
We are evaluating / prototyping further the use of dgraph.
For us the minimal set to evaluate Dgraph, requires 3 environments as per the regular dev pipeline : Development / Staging / Production.

Further more the GDPR constrains my company in Europe to partition the data.
A database without Multi-Tenancy feature is a No Go for most companies in Europe.
Even an academic project in Europe cannot us

[2019-11-11 04:59] scroobius-pip commented on #4258
@martinmr  i've been trying for the past days to get minio-go client to compile, i haven't worked with golang before till now. So might take a bit longer

[2019-11-11 15:38] MichelDiz opened #4263 "Docs: Add mentions about Type System."
## Documentation

Ref: https://discuss.dgraph.io/t/how-to-delete-a-row/5310

[2019-11-11 15:48] ashish-goswami commented on #3916
Hey @eawer, can you provide your freebase.schema file?

[2019-11-11 18:24] eawer commented on #3916
Hey @ashish-goswami sorry for such a delay. I've created a repo with instructions on how to generate the schema https://github.com/eawer/freebase-to-dgraph

[2019-11-12 07:01] scroobius-pip commented on #4258
So i managed to get the minio-go client to work on digital ocean here's how the code looked:
`package main

import (
	"log"

	"github.com/minio/minio-go"
)

func main() {
	endpoint := "sfo2.digitaloceanspaces.com"
	accessKeyID := "ACCESS_K"
	secretAccessKey := "ACCESS_S"
	useSSL := false

	// Initialize minio client object.
	minioClient, err := minio.New(endpoint, accessKeyID, secretAccessKey, use

[2019-11-12 12:25] Li-Siyuan opened #4265 "A user with permission 0 in ACL can delete data."
After set a user's ACL permission to '0', the user can't do query and write comand in web API, but he can delete data.

[2019-11-12 14:03] mangalaman93 commented on #4048
#4210 changes the way we return the response.

[2019-11-12 14:58] jm4games commented on #4231
@MichelDiz  Not sure if you want to do anything with this issue. I feel like there is a bug here, but I can close it if you think otherwise. For comparison I finally loaded my graph into another graph db (arango db) and It had a much easier time with this data set. Load time ~3min, but probably ignore that since the way data is loaded is fundamentally different.  The final residual memory was ~3GB

[2019-11-12 17:15] mangalaman93 commented on #4099
Hi @igormiletic, we would like to look into this issue and fix it. Please provide us with more details, logs, steps to reproduce, p directory, sample data. It'd be very helpful.

[2019-11-12 18:58] igormiletic commented on #4099
Hi @mangalaman93 , this was issue that we were facing when node runs out of memory if I remember now. I have no valid test that can send you at the moment. I can try to list steps when this was the case:

1. try to run alpha node with law memory (like 4GB)
2. try to constantly execute mutations which will probably increase during the time (like you create loop to insert 2M nodes in let say 5 minut

[2019-11-12 23:45] campoy commented on #4081
Yes, agreed. Only the facets for the nodes that appear in the response should be encoded.

[2019-11-13 03:48] MichelDiz commented on #4231
This week we start investigating this and other related things. We have some engineers trying to replicate similar experiences and comparing with other DBs.

Tell me, is there an equivalent for Upsert in ArangoDB? have docs about it? Did the upload take 3 minutes via some live upload? By the size of your dataset Bulkload would load it within seconds.

We are investigating this. I've been investiga

[2019-11-13 05:00] jm4games commented on #4231
The upload into arango db was live. They support a bulk upload format for large data sets. And it lets you do the [bulk upload](https://www.arangodb.com/docs/stable/http/bulk-imports.html) at anytime into existing graphs.  I could try the dgraph bulk loader as a one off to see if it makes any difference, but that doesn't serve my end purpose since I will be uploading many similar sized data sets c

[2019-11-13 05:35] MichelDiz commented on #4231
Hum, I'll check this tomorrow.

By the top, it is not recommended to have such a large transaction via a client (in your case HTTP). If you take the code from LiveLoad as an example, you will see that it splits the dataset into smaller parts and multiple transactions. Making the load smoother. But you wanna use upsert, this could be done but differently if you go with Liveload.

I would recommend

[2019-11-13 08:54] #4197 closed

[2019-11-13 16:11] MichelDiz opened #4272 "Not able to go get Dgraph repo in Darwin"
### What version of Dgraph are you using?
Master

### Steps to reproduce the issue (command/config used to run Dgraph).

[code]

### Expected behaviour and actual result.

[code]
### Result

[code]
### And

[code]

[code]

[2019-11-13 20:17] #4235 closed

[2019-11-13 20:48] martinmr commented on #3571
This has been fixed.

Also, the bulk loader fails with a more descriptive warning when no data is passed to it.

[2019-11-13 20:48] #3571 closed

[2019-11-13 20:49] #4056 closed

[2019-11-13 23:03] MichelDiz commented on #4231
hey @jm4games  just to update you. Here the LB with Dgraph if you need https://github.com/MichelDiz/ItisTimetoReproduce

[2019-11-14 01:54] danielmai commented on #4272
Installing Dgraph with `GO111MODULE=off` won't work since dependency versions are defined via the go.mod file.

Installing Dgraph with `GO111MODULE=on` is picking the wrong version of Badger—v1.6.0 instead of dgraph-io/badger@cbdef65095c7.

For now, to build Dgraph, first clone the Dgraph repo and then build from there with a module-aware `go` (like go 1.13+).

[code]

[2019-11-14 04:34] amandalmia14 commented on #3301
@campoy Any updates on this issue?

@stevenayers It will be helpful if you share an example. Thanks.

[2019-11-14 05:52] Necmttn commented on #3904
Hey, @martinmr is there any status update about this issue?

[2019-11-14 13:54] prashant-shahi opened #4275 "No proper error message when changing groot password with invalid alpha address"
### What version of Dgraph are you using?
`v1.1.0` as well as  `master`

### Have you tried reproducing the issue with the latest release?
**Yes**

### Steps to reproduce the issue (command/config used to run Dgraph).
Bring up Dgraph cluster with ACL feature turned ON.
[code]
In another terminal, try to change password of `groot`
[code]

### Expected behaviour and actual result.
`dgraph acl ...` c

[2019-11-15 19:34] martinmr commented on #3297
I don't think this issue is relevant anymore. Manish refactored the bulk loader a while ago and the shuffler phase does not exist anymore in the current version of the bulk loader.

I tried to find similar code in the current master but I couldn't. @manishrjain can you confirm whether this issue is still relevant?

[2019-11-15 19:55] martinmr commented on #4258
I edited your comment to properly format the code.

Two things:

1. The destination passed to dgraph for the backup should include the path to the bucket.  For example in our tests this ends up being `minio://minio1:9001/dgraph-backup`. You might try adding `s3://` in front of your endpoint but I don't think this is the issue. The minio client should be smart enough to deal with this.
1. It looks

[2019-11-15 20:58] scroobius-pip commented on #4258
hmm i've tried the first - which doesn't work, the second might be the issue, cause i've got the alpha running in a k8 container, i'll check and get back to you

[2019-11-15 21:12] scroobius-pip commented on #4258
I was able to ping sfo2.digitaloceanspaces.com from the container. Also the export is working great with a normal amazon s3 container :
`curl -XPOST localhost:8080/admin/backup -d "destination=s3://s3.us-east-2.amazonaws.com/dgraph-backup-dgraph"`

[2019-11-15 22:26] martinmr commented on #4258
umm. Not sure what else we could try. One last thing. Could you run the program you posted above from your k8 container?

If that works fine, I am not sure what else could cause this. The message includes the word inaccessible which could suggest the credentials are wrong but you mentioned already you set the environmental variables properly.

[2019-11-15 22:28] scroobius-pip commented on #4258
hmm possibly, i'll try that

[2019-11-15 22:51] martinmr commented on #4258
I was going through the binary backups documentation: https://docs.dgraph.io/enterprise-features/#configure-backup

Could you take a look at the "Configure Minio credentials" section. It looks like the minio client is using different environmental variables for minio buckets. Could you set these variables for your container? The minio client might be using these to try to connect to any S3-compati

[2019-11-16 02:02] danielmai opened #4282 "has function with pagination (first) does not return correct count"
### What version of Dgraph are you using?
master (0259f3db547027eedd54fc567f3b842294f3760b)

I suspect this bug got introduced in #3970.

### Have you tried reproducing the issue with the latest release?
does not happen in v1.1.0.

### What is the hardware spec (RAM, OS)?
Ubuntu Linux 64 GB

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph cluster with latest ma

[2019-11-16 08:34] vzool commented on #673
+1 I hope to see **embedding Dgraph as a library** as well regardless of the agreement type.

-1 I hate to use another Go application(like `docker`) to run my Go application, I think this is a waste of a limited resources. Any Go application is weaponized with the same tool-set that docker use. So, What's a point to repeating myself again with different label!

[2019-11-16 09:33] scroobius-pip commented on #4258
Okay will do

[2019-11-16 18:15] Q-Minh opened #4286 "Upsert query variables fails"
### Working Upsert

[code]

When directly inserting the value of `request.userId` into the query string via string interpolation, the node returned by the query is successfully deleted.

### Failing upsert

[code]

When trying to use query variables and setting the corresponding entry in the variables map for `$userId` with `` `${request.userId}` ``, the node that should be returned by the query i

[2019-11-17 23:11] MichaelJCompton opened #4283 "GraphQL schema update payload not generated when no ID"
### What version of Dgraph are you using?

Dgraph GraphQL

### Have you tried reproducing the issue with the latest release?

yes

### Steps to reproduce the issue (command/config used to run Dgraph).

A schema with a type without an id doesn't build a correct GraphQL schema since updates via filter was added.

[2019-11-18 10:43] #4283 closed

[2019-11-18 11:19] jostillmanns commented on #4079
Hi @manishrjain. Sorry it took me so long to write back on this issue. It took us another incident regarding this issue to look back at this :wink: . We discussed this again and would like to advocate for solution 1, as we have knowledge about the cases when overwrites would be okay.

Example: we have scheduled processes, which write data in parallel and we can make sure that there are no conflict

[2019-11-18 17:00] dhagrow opened #4288 "Alpha segfaults"
### What version of Dgraph are you using?
Master branch (717710a26ba56e5ea05f3b4f4429779c6038f7fc)

### Have you tried reproducing the issue with the latest release?
Yes, v1.1.0 and master

### What is the hardware spec (RAM, OS)?
DigitalOcean droplets
4 core Intel Xeon
8GB RAM
Ubuntu 18.04.3

### Steps to reproduce the issue (command/config used to run Dgraph).
./dgraph alpha --zero=xx:5080 --my=

[2019-11-18 22:27] shekarm commented on #4288
Hi Miguel,

Thank you for the post. I will see if one of our engineers can take a look at this. If you do get a chance to give us the mock data, it would expedite our investigations.

—
Shekar Mantha

https://dgraph.io

--- original message ---
On November 18, 2019, 12:01 PM EST notifications@github.com wrote:

What version of Dgraph are you using?

Master branch (717710a)

Have you tried reproduc

[2019-11-18 23:46] MichaelJCompton commented on #4227
Fixed in docs

[2019-11-18 23:46] #4227 closed

[2019-11-19 05:28] danielmai opened #4291 "fatal error: fault. unexpected fault address."
### What version of Dgraph are you using?
master (1ee42ef40)

### Have you tried reproducing the issue with the latest release?
No

### What is the hardware spec (RAM, OS)?
64 GB. Ubuntu Linux.

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph cluster (1 Alpha, 1 Zero)
2. Run queries and mutations. I was using this load test: https://github.com/igormiletic/dgrap

[2019-11-19 13:52] #3268 closed

[2019-11-19 18:49] #4132 closed

[2019-11-20 00:03] mmanela opened #4295 "A tour of Dgraph errors with missing startTs error message"
## Documentation
I just started playing with the Dgraph guided tour and when I got to the "Load Data" step and click Run it gave the following error:

[code]
I pulled the latest docker image and I am running in a docker container on windows (linux container hosting)

[code]

Image for reference:
![image](https://user-images.githubusercontent.com/304410/69197389-0c19e180-0ae6-11ea-8260-541a61c9d3be

[2019-11-20 03:02] xiangzhao632 commented on #3017
Could you please tell me what software in your picture？really appreciate

[2019-11-20 05:54] shekarm commented on #3017
Hi,

Thank you for the post. We have made some improvements in our software (recently) which will likely exhibit different behavior -- in other words, much less memory usage. Keep you posted on developments. Meanwhile, if you haven't already done so, would you be able to share the characteristics of your data set that you are using?

Thanks

[2019-11-20 08:54] #3445 closed

[2019-11-20 12:29] prashant-shahi opened #4298 "Dgraph alpha logs misinform connection to zero"
### What version of Dgraph are you using?
**master**

### Steps to reproduce the issue (command/config used to run Dgraph).
Run alpha without running zero.

[code]

### Result:

[code]

### Expected:
Logs should not say `CONNECTED to localhost:5080` but should inform `connecting to localhost:5080` instead and upon successful connection print the success message.

*cc: @mangalaman93*

[2019-11-20 13:26] animesh2049 commented on #4291
There seems to be something fishy in the stack trace.

/home/dmai/go/src/github.com/dgraph-io/dgraph/protos/pb/pb.pb.go:15309 +0x69 fp=0xc040e34988 sp=0xc040e34890 pc=0xe40959

Here I am not able to understand the arguments that are passed to `Unmarshal`. I wrote a similar code and saw that the arguments are being passed in a different fashion.
###   Code snippet
[code]
### Stack trace
[code]
Firs

[2019-11-20 13:41] animesh2049 commented on #4291
There seems to be something fishy in the stack trace.

    /home/dmai/go/src/github.com/dgraph-io/dgraph/protos/pb/pb.pb.go:15309 +0x69 fp=0xc040e34988 sp=0xc040e34890 pc=0xe40959

Here I am not able to understand the arguments that are passed to Unmarshal. I wrote a similar code and saw that the arguments are being passed in a different fashion. I wrote a simple test.
[code]
The patch above produ

[2019-11-20 16:34] #4224 closed

[2019-11-21 02:59] lctforgit opened #4301 "ip and port replace;Data cannot be exported;"

[2019-11-21 13:16] Willem520 opened #4302 "JSON mutation for string facet converted to datetime value"
### What version of Dgraph are you using?
Dgraph v1.1.0
Dgraph4j 2.0.2
### Have you tried reproducing the issue with the latest release?
no

### What is the hardware spec (RAM, OS)?

docker
### Steps to reproduce the issue (command/config used to run Dgraph).
this is my code
    @Test
    public void upsert(){
        Transaction txn = dgraphClient.newTransaction();
        DgraphProto.Mutation.Bu

[2019-11-21 15:13] dhagrow commented on #4288
Still haven't had a chance to reproduce with mock data, but I have managed to capture a full log, which I have attached.
[crash.tar.gz](https://github.com/dgraph-io/dgraph/files/3875349/crash.tar.gz)

[2019-11-21 16:24] shekarm commented on #4301
Hi, Thank you for posting this issue. Please provide more details on what you are trying to do. What version of dgraph you are using? Have you tried reproducing with the latest release? What is the hardware spec (RAM, OS). Step to reproduct the issue. Expected and actual behavior.

Thanks
Shekar

[2019-11-21 16:41] shekarm commented on #4302
Thank you for the post. I  will assign an engineer to look at this.

[2019-11-21 16:50] shekarm commented on #4288
Thank you. I will have an engineer look at this issue promptly.

[2019-11-21 18:53] danielmai commented on #4291
The error message (`addr=0x7f213c5bbdbb`) is only about the second arg.

[2019-11-21 20:19] danielmai commented on #4302
The facet types are different in the examples you shared. The facet type in the N-Quad mutation is an int `(distance=1034)` and it's a string in the JSON mutation `edge1.put("r_pharmacy|distance","1034");`. You can use a JSON int in the mutation so they're equivalent types. Seems like that's what you're looking for, and that works.

[code]

This bug where a facet JSON string is represented in date

[2019-11-21 21:09] mboxall opened #4305 "Allow filtering on non-indexed predicates"
Currently [functions can only be applied to predicates that have been indexed.](https://tour.dgraph.io/basic/6/)

I'm requesting the ability filter on non-indexed predicates too.

In some cases it could be more efficient to iterate over an intermediate result set and apply the filter function than it would be to use an index.

For example, this query returns a count of 252 countries with 3.6 ms of

[2019-11-21 21:49] MichelDiz commented on #4305
Actually you can do it https://docs.dgraph.io/tips/#search-on-non-indexed-predicates

e.g:

[code]