[2015-11-30 04:39] manishrjain opened #1 "Product Roadmap"
- [x] Low Latency

[2015-12-01 04:55] manishrjain opened #3 "Benchmark against Neo4J"
[Neo4J](http://neo4j.com/) is the most popular Graph database. It would be great to see how DGraph performs against it.

[2015-12-03 04:20] manishrjain opened #4 "Too much log output from server"
Every 5 seconds, `gentlyMerge` outputs a log. Largely with the same information. Only output the log, if something changes, hence reducing the amount of noise.

[2015-12-03 06:37] KyleAMathews commented on #1
It'd be cool if the DB could serve [GraphiQL](https://github.com/graphql/graphiql). This would be perfect for demos + internal spelunking through data.

[2015-12-03 07:56] manishrjain commented on #1
I'm running a DGraph server holding Freebase Film data, which you can query like so: `curl dgraph.xyz/query -XPOST -d '{}'`. An example of the query is in the README.

[2015-12-04 22:07] manishrjain opened #5 "Fix package documentation"

[2015-12-04 22:09] manishrjain opened #6 "Try Ragel for GraphQL Parsing"
And benchmark the performance difference against the current implementation using pure Go. If Ragel performs better, we'd want to switch over sooner, before we build more features on top of existing code.

[2015-12-05 00:38] manishrjain opened #7 "Python JSON tool mucks up Unicode"
Write a Golang json parser and formatter tool. Should be pretty simple 20 lines of code.

[2015-12-05 00:55] manishrjain opened #8 "Support GraphQL Fragments"
[GraphQL Fragments](https://facebook.github.io/graphql/#sec-Language.Query-Document.Fragments)

[2015-12-05 00:59] manishrjain commented on #7
Should lie in a separate repo, say dgraph-io/json, so people can `go get` it without pulling any other dependencies.

[2015-12-05 01:02] manishrjain opened #9 "Limit number of results"
Would require parsing GraphQL appropriately and an additional field in `query.SubGraph`.

[2015-12-08 00:53] manishrjain opened #10 "Benchmark DGraph using LUBM"
http://swat.cse.lehigh.edu/projects/lubm/

[2015-12-08 03:12] petrkotek opened #11 "Benchmark/Comparison against google/cayley"
https://github.com/google/cayley seems like an alternative to this project. Would be interesting to document the differences.

[2015-12-08 03:33] manishrjain commented on #11
Good question, and common one. So, I've added that to the wiki page: https://github.com/dgraph-io/dgraph/wiki/Differences-between-DGraph-and-Cayley .

Is that sufficient?

[2015-12-08 03:57] petrkotek commented on #11
Thanks @manishrjain for such quick response. All makes sense.

Great work.

[2015-12-08 03:57] #11 closed

[2015-12-10 19:00] pires opened #12 "Discovery and clustering"
For clustering to be achieved automatically, a discovery mechanism needs to be implemented. Multicast-based discovery mechanisms are always prefered because it requires zero-configuration, but since most, if not all cloud providers block multicast traffic I propose the adoption of a [gossip protocol](https://en.wikipedia.org/wiki/Gossip_protocol) like the one implemented by [`Serf`](https://www.se

[2015-12-11 03:41] manishrjain commented on #12
Gossip protocol is definitely the right way to go. As per our discussion, a new node would be provided IP address of an existing node, so it could jump start the protocol.

Few questions/requirements:
- What happens when the entire cluster is brought up together, and we don't have any existing IP address? I suppose rolling start would be required in such a scenario?
- The implementation of Gossip

[2015-12-11 03:44] manishrjain commented on #12
Btw, server failure detection isn't really required from Gossip protocol. MultiRaft is going to tackle that part.

[2015-12-11 08:50] pires commented on #12
No. Each new node will always connect to at least an existing node. And after connection is established, the topology will be shared periodically. So, let's say node `A` is the first in the cluster and nodes `B` and `C` connect simultaneously. `A` will tell `B` and `C` there are no more nodes connected, but after a configurable amount of time, `A` will tell `B` that `C` exists and `C` that `B` exi

[2015-12-11 09:50] manishrjain commented on #12
I think you misunderstood my question. My question is specifically regarding the case when you bring up the cluster the first time, so in your example, bringing up A, B, and C together. In that case, there's no previously existing node; so does that mean, we have to do rolling start?

Regarding grpc, as I mentioned above, it uses protocol buffers, but we use Flatbuffers. I don't want to mix up the

[2015-12-11 09:55] pires commented on #12
This _problem_ does not belong in the gossip realm. Gossip means you **must** have at least one already existing node.

I don't support going with gRPC as well. Neither choosing `net/rpc`. Tbh, I want to adopt an existing solution and not implement this from scratch.

[2015-12-14 09:04] manishrjain commented on #12
What new technologies would existing solution bring in? How hard would it be to write our own solution with `net/rpc` and `flatbuffers`?

[2015-12-14 09:09] pires commented on #12
Not sure I follow the question, but basically something like `serf` would allow for:
* Gossip discovery
* Cluster membership management
* Cluster messaging
* [Network tomography](https://en.wikipedia.org/wiki/Network_tomography)

The discovery process should be pretty doable. The membership management and messaging would be tricky. The network tomography should be hard.

[2015-12-14 09:11] manishrjain commented on #12
What I mean is, if you don't use either of these for communication, what do you use? That's what I mean when I ask about the new technologies that your solution would bring in. I'm not asking about the functionality the library would bring in -- that's clear.

[2015-12-14 09:24] pires commented on #12
As I said above

I just meant that I don't feel like narrowing the messaging transport in a decision right now. Deciding to go with `net/rpc` may be enough for anyone not picking it just because they we're thinking about something else.
`serf` leverages on [`memberlist`](https://github.com/hashicorp/memberlist), which uses pure TCP and UDP for messaging exchange.

[2015-12-14 11:24] manishrjain commented on #12
`memberlist` seems closest to the minimum we need to implement Gossip. But, it lacks the ability to send various stats along with the Gossip pings. To send stats / custom messages, we'd have to call `SendTo`, on top of Gossip periodically; which will increase the amount of communication required unnecessarily.

I think it seems like writing our own bare bones Gossip impl would give us the right cu

[2015-12-14 11:32] manishrjain commented on #5
Make golint pass.

[2015-12-14 11:33] manishrjain opened #13 "Make go vet and golint pass"

[2016-01-19 20:13] jcmartins commented on #12
Why not Raft Protocol ? https://github.com/hashicorp/raft
Like Influxdb does.

[2016-01-19 21:55] pires commented on #12
Raft is only meant for consensus, not discovery or cluster management.
However, serf and memberlist use that Raft implementation.
On Jan 19, 2016 20:13, "Joao Martins" <notifications@github.com> wrote:

[2016-01-20 04:46] manishrjain opened #14 "Make DGraph distributed"
Both loader and query processor would need to support distribution.

**Loader**
Depending on number of servers, loader would only store edges corresponding to `fingerprint(attribute) % N` on each server.

**Query Processor**
Query processor would use the same formula to find the right server holding the attribute required, and appropriate send the query portion to that server, and consolidate resu

[2016-01-22 17:19] jcmartins opened #15 "docker - runtime/cgo: pthread_create failed: Resource temporarily unavailable"
go version
go version go1.4.3 linux/amd64

**loader --postings /dgraph/p --rdfgzips /data/rdf-films.gz, /data/names.gz  --stw_ram_mb 7000**
loader --postings /dgraph/p --rdfgzips /data/rdf-films.gz, /data/names.gz  --stw_ram_mb 7000
INFO[0000] Empty size: [16] EmptyPosting size: [24]      package=posting
INFO[0000] Set max procs to num cpus                     num_cpu=4 package=loader_main prev_ma

[2016-01-22 18:58] jcmartins commented on #15
In my local machine (not docker) run go version 1.5.3 it`s run ok!

[2016-01-23 02:19] manishrjain commented on #15
This is a cgo bug, which was resolved in 1.4.3, but then came back in 1.5.1. When you saw it in 1.4.3, did you run the loader in a docker instance, or directly on local machine?

If 1.5.3 runs fine, we might switch to it.

[2016-01-27 15:33] jcmartins commented on #15
The bug only occurs in docker with go version 1.4.1

In my local notebook with archlinux and running go v1.5.3 this bug don't occurred.

[2016-02-03 05:43] manishrjain commented on #14
https://github.com/dgraph-io/dgraph/pull/16

[2016-02-05 03:02] manishrjain commented on #3
https://github.com/socialsensor/graphdb-benchmarks

[2016-02-06 06:01] hackintoshrao opened #18 "Creating Makefile"
Need to create Makefile for setting up dependencies and easy build of Dgraph.  If it sounds good please assign it to me and give appropriate label.

[2016-02-06 07:17] manishrjain commented on #18
Sounds like a good idea. Not on my laptop right now. Feel free to self
assign and tag it as v0.2.

On Saturday, 6 February 2016, karthic rao <notifications@github.com> wrote:

--
Sent from iPhone 6+

[2016-02-06 10:28] manishrjain commented on #14
Pull request #19

[2016-02-07 01:33] hackintoshrao commented on #3
Socialsensor uses the Java driver of the each of the databases (neo4j, titan,orient and sparksee) to drive the insertions and query. I believe for Dgraph to find a place here https://github.com/socialsensor/graphdb-benchmarks/tree/master/src/main/java/eu/socialsensor/graphdatabases , we need a Java driver too so that we align to the common standard of how those tests are conducted and then we coul

[2016-02-07 01:40] hackintoshrao opened #20 "Need for Java Driver"
As mentioned in #3 , To go ahead with establishing the performance evaluation,comparison of Dgraph with the rest of the Graph databases in the list we need a way to drive Dgraph from a Java client. And yes, Dgraph anyway needs utilities to be driven from host languages and definitely Java is on the list.  Please create a timeline/milestone/label and assignment.

[2016-02-08 03:24] hackintoshrao opened #21 "Relative performance measure"
Need relative performance measure  for Heap and Query method for Rock's DB merge by @ashwin95r . I'm on it tonight. As @manishrjain  had suggested in gitter I'll start with a very simple test and stop there if performance difference is evident. Since its the battle of time complexities and run time measurements sometimes the difference would be evident only on working with large datasets/nodes so

[2016-02-08 04:34] manishrjain commented on #21
Let me know if you need anything from my side -- GCE instance etc.

[2016-02-08 04:47] hackintoshrao commented on #21
Sure...

[2016-02-08 17:55] manishrjain opened #22 "Switch to Go 1.6"
Test DGraph v0.2 thoroughly, with Go 1.5.3.

[2016-02-08 17:56] hackintoshrao commented on #3
@manishrjain , All the Databases under scrutiny should implement [this interface](https://github.com/socialsensor/graphdb-benchmarks/blob/master/src/main/java/eu/socialsensor/graphdatabases/GraphDatabase.java ).Neo4J's implementation of the interfaces are [here](https://github.com/socialsensor/graphdb-benchmarks/blob/master/src/main/java/eu/socialsensor/graphdatabases/Neo4jGraphDatabase.java). [Gr

[2016-02-08 17:56] manishrjain commented on #15
This is a known issue with Go. I've created #22 to switch to Go 1.5.3 in v0.2, which we're expecting to launch by end February.

[2016-02-08 17:56] #15 closed

[2016-02-08 18:04] hackintoshrao commented on #3
If its helpful I could get it more organized by creating a Google Doc of all the queries used by social sensor and then we could have tick against the functionalities supported by Dgraph.

[2016-02-09 00:17] manishrjain commented on #3
This looks like it was designed for Neo4J use case. DGraph is designed for a use case where the schema is well defined, not arbitrary. So, for a given node, you currently can't locate all it's properties. We could store them, if there's a strong use case (it would just mean added complexity to keep things in sync); but even our query language, GraphQL is designed to avoid that. This is a clear and

[2016-02-09 01:12] hackintoshrao commented on #3
I believe we could close this for now and may be open a new issue for writing another benchmark.

[2016-02-09 01:21] hackintoshrao commented on #3
Oh, I don't see a need to close this! Anyways the issue was not about using socialsensor . As discussed in Gitter it calls for a need for a new benchmark tool and will start developing it in https://github.com/dgraph-io/benchmarks .

[2016-02-09 01:50] manishrjain opened #23 "Mutations via GraphQL"
We should support modifying data via the common GraphQL query endpoint.

https://facebook.github.io/graphql/#sec-Language.Query-Document.Operations

[2016-02-09 03:28] manishrjain opened #24 "Go driver for DGraph"
Have a Go driver for DGraph, which would allow us to avoid the JSON conversion step.

[2016-02-11 02:12] hackintoshrao commented on #21
As discussed in Gitter, Waiting for @ashwin95r  and @manishrjain decision on rewriting the merger in Golang using the RocksDb CGO wrapper. Meanwhile I would want to pick up a new ask, May be writing the Golang Driver or whatever that is of priority - @manishrjain

[2016-02-11 03:15] manishrjain commented on #21
Let me get back to you on that.

[2016-02-11 12:30] jcmartins commented on #15
Why not wait to go 1.6 ?

[2016-02-11 21:59] manishrjain commented on #15
Go 1.6 hasn't yet released. Following from the bugs that I encountered in Go 1.5.1, I intend to keep DGraph on a version which has been released for at least 3 months, so it has chance to get any bugs fixed. Go 1.5.3 has that going for it.

[2016-02-17 05:38] manishrjain commented on #21
Think we all agree that doing the heap based approach is faster. And we're going to rewrite the code in Go. So, I doubt we need to do this benchmark -- clearly doing disk lookups isn't going to be as fast as O(log k) provided by an in-memory heap. So, let's punt on this.

@hackintoshrao -- If you agree with the above, please close this issue. Think we should have another issue to track the rewrite

[2016-02-17 05:39] manishrjain commented on #21
Ah.. sorry, didn't mean to close this, until you confirmed @hackintoshrao

[2016-02-17 05:46] manishrjain opened #32 "Support Distributed Mutations via GraphQL"
Mutations via GraphQL which I introduced recently, won't work the same way as our bulk loader does. Because these mutations would need to go over the network; while our bulk loader, even in distributed state, does not. The general idea to do mutations is as follows:

**Step 1**: Network calls to assign Uids for all Xids.

**Step 2**: Distributed based on predicates, and multiple network calls to r

[2016-02-17 05:48] manishrjain commented on #23
Submitted a change to parse Mutations from GraphQL. Now, we need to apply them to the posting lists. With the effort towards distributed, this wouldn't be achievable via the current RDF loader code. Created another issue #32.

[2016-02-17 05:53] manishrjain commented on #6
I had a chance to play with Ragel a bit. I think it would only make for code fragmentation. And it's not clear to me that it would be particularly faster, given the end product would be machine written Go. The current code manually written entirely in Go is pretty understandable, and easy to extend. So, let's stick to that.

I'm closing this issue for now.

[2016-02-17 05:53] #6 closed

[2016-02-18 02:28] manishrjain commented on #23
Btw, already added a change which can parse mutations like so:

mutation {
  set {
    <a> <b> <c> .
  }
  del {
    <a> <b> <e> .
  }
}

Closing this issue, as the rest of the implementation is via #32

[2016-02-18 02:28] #23 closed

[2016-02-19 04:52] manishrjain commented on #8
The task is to only parse them via gql package, and convert it into an internal format within the package. No other package should be involved, hence the tag standalone.

[2016-02-19 19:41] manishrjain opened #34 "Code Review system"
We need a code review system which can highlight all the golint, go vet, and other issues. Given the high noise ratio, we want to show these to the reviewer and the author of the change, so they can make a decision about which ones to fix. Not all these issues are relevant, so we don't want to block the changelist just because golint complains.

So far I think Phabricator seems to have such a mech

[2016-02-22 09:48] hackintoshrao commented on #21
Sure, I agree..Will create a new issue for this.

[2016-02-22 09:48] #21 closed

[2016-02-22 09:49] hackintoshrao opened #35 "Rewriting the heap method of Rocksds merge"
The C++ code for rocksdb merge using the heaps has to be written in Go

[2016-03-02 23:40] manishrjain opened #46 "Read memory usage by RocksDB"
When calculating how much memory is being used by our program using Go's `runtime` module, we don't take into account memory used by RocksDB (being called via `cgo`). So, check if there's a way to get the memory usage by RocksDB, and add it to the memory usage reported by Go. This should be more accurate and hopefully fix the discrepancy that we see now.

[2016-03-02 23:43] manishrjain commented on #22
The CPU profiling information shows us largely bound by garbage collector.

[code]

In Go1.6, the GC became faster. So, let's do all the testing on Go1.6, use that as a base for v0.2. I've created a GCE instance called `dgraph2` with Go1.6 installed for this purpose.

[2016-03-03 00:07] manishrjain opened #47 "Optimize RocksDB usage by DGraph"
We need a RocksDB expert to have a look at how we're doing things, and recommend the right read/write options.

[2016-03-03 00:09] manishrjain commented on #46
https://github.com/facebook/rocksdb/wiki/Memory-usage-in-RocksDB

[2016-03-04 04:37] manishrjain opened #49 "Unable to retrieve _xid_"
[code]
Doesn't return `_xid_` for `film.director.film` over the 3 node cluster set up for film data.

[2016-03-07 01:52] manishrjain opened #51 "Write a tool to query RocksDB"
We need a tool to query our data in RocksDB. It should support a single key lookup, parsing the value and iterating over the Posting List showing all the relevant data. The key []byte should be constructed using these flags:
--xid
--uid
--attribute

If only an attribute is provided, it should do a range scan. Also allow --limit and --count; which are both useful for range scan. --limit N would lim

[2016-03-07 02:03] manishrjain commented on #32
Distributed mutations now work.

[2016-03-07 02:03] #32 closed

[2016-03-07 02:04] manishrjain commented on #14
#32

[2016-03-07 02:04] manishrjain commented on #14
DGraph is now distributed. Doing final testing before cutting release v0.2

[2016-03-07 04:14] manishrjain commented on #24
Pushing it back to v0.3. We already have put quite an effort in v0.2, and still have more to do.

[2016-03-07 04:17] manishrjain commented on #22
Using Go1.6 for all the testing. Don't see a major shift in the above cpu profiling information, but haven't looked too deep either.

[2016-03-07 05:42] koppula opened #53 "Ensure DGraph supports GraphiQL out of the box"
[GraphiQL](https://github.com/graphql/graphiql) allows for in-browser interactive style querying and inspection of results (and other associated features). Investigate what it takes to make sure GraphiQL is supported out of the box with DGraph.

[2016-03-07 05:50] manishrjain commented on #46
This shows memory usage is via `Cache` that we're not currently using. Also, seems like there's only one cache now, not block cache and page cache as suggested by the wiki page. This needs deeper understanding. Postponing to v0.3.

[2016-03-07 06:04] manishrjain commented on #51
Think the #49 issue is the only thing left for v0.2 launch. And I need this tool to help debug that issue, so I'll take care of this.

[2016-03-07 06:06] manishrjain commented on #4
#52 fixes this.

[2016-03-07 06:06] #4 closed

[2016-03-07 06:06] manishrjain opened #54 "Test uid merging tool"

[2016-03-08 07:07] manishrjain commented on #35
Ashwin took care of this issue.

[2016-03-08 07:07] #35 closed

[2016-03-08 07:08] manishrjain commented on #51
#55 achieves this.

[2016-03-08 07:08] #51 closed

[2016-03-08 07:14] #49 closed

[2016-03-08 07:16] #14 closed

[2016-03-08 07:17] manishrjain opened #58 "Launch v0.2 -- First fully distributed release"
Write a blog post, and announce on Reddit.

[2016-03-08 07:20] manishrjain opened #59 "Commit Logs timestamp bug"
Commit Logs require monotonically increasing timestamps. Currently, if the clock moves back in time, the logs would cause a log FATAL. We should instead just wait to let the timestamp increase above the last valid ts; instead of crashing.

[2016-03-11 05:19] manishrjain commented on #22
Done.

[2016-03-11 05:19] #22 closed

[2016-03-11 05:20] #54 closed

[2016-03-11 15:22] jcmartins commented on #7
Maybe samething like this ?

package main

import (
	"bytes"
	"encoding/json"
	"fmt"
)

func main() {
	b := []byte(`{"hello": "123"}`)
	b, _ = prettyprint(b)
	fmt.Printf("%s\n", b)
}

func prettyprint(b []byte) ([]byte, error) {
	var out bytes.Buffer
	err := json.Indent(&out, b, "", "  ")
	return out.Bytes(), err
}

[2016-03-11 23:01] manishrjain commented on #7
Yeah, something similar. Another contributor is building this tool right now.

[2016-03-21 18:22] koppula opened #61 "Connection Timeout Issue"
Ran into connections getting timed out with the server today after the HN post went up:

ATA[901074] dial tcp :12345: getsockopt: connection timed out call=Worker.ServeTask package=worker
INFO[901075] Sample value attr=root package=query val=
INFO[901075] ProcessTaskOverNetwork attr=film.director.film instanceIdx=1 numInstances=3 package=wor
ker runHere=false
FATA[901075] connection is shut down c

[2016-03-21 18:24] koppula opened #62 "Common account for server access"
Need a common account to allow the DGraph core team to access the servers. Right now only @manishrjain has access.

[2016-03-21 18:26] koppula opened #63 "Set up server monitoring with alerts"
Right now there's no monitoring in place for dgraph.xyz and it went down a few hours ago. We don't have alerts set up so were not notified that the servers were down.

Need to set up something like a heartbeat monitor at a minimum and alerts to notify the right people.

[2016-03-22 03:26] manishrjain commented on #58
Done. Since then, it was picked up by Hacker News as well!

[2016-03-22 03:26] #58 closed

[2016-03-22 05:41] manishrjain opened #64 "In loader, open UID RocksDB as ReadOnly"
https://github.com/facebook/rocksdb/wiki/RocksDB-Basics#readonly-mode

Read Only mode provides better performance; and that's exactly what we do during the second phase of the loader. So, allow UID RocksDB to be opened read only.
https://github.com/dgraph-io/dgraph/blob/master/server/loader/main.go#L79

The current RocksDB library that we use doesn't support this operation. So, consider switching

[2016-03-22 06:53] manishrjain opened #65 "Attribute tracking and movement"
Track which attributes each server is serving, and add ability to move them around.

This would be done via a global RAFT group, so each server knows the location of all attributes.

[2016-04-06 04:26] PhilAndrew commented on #1
Support tinkerpop? https://tinkerpop.apache.org

[2016-04-06 04:44] manishrjain commented on #1
Tinkerpop would happen with Gremlin support. We'll do that after v1.0 gets released. This roadmap is largely focused on v1.0.

[2016-04-12 23:19] manishrjain commented on #63
Pawan set this up via Pingdom. So, it works now.

[2016-04-12 23:19] #63 closed

[2016-04-13 02:59] ashwin95r commented on #64
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;KJYQE0jr&#x2F;6-open-uid-dir-as-read-only"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Open UID dir as read-only</a>

[2016-04-22 10:36] VJOfficial opened #71 "About Storage Engine"
Hello , can't you remove that dependencies of rocksDB ? you can use BoltDB or TSL from InfluxDB. just a suggestion.

[2016-04-22 14:49] manishrjain commented on #71
BoltDB acquires a single global mutex lock across all reads and writes. This would be bad for both throughput and latency. That's why we chose RocksDB.

[2016-04-22 14:49] #71 closed

[2016-04-26 06:58] manishrjain opened #72 "Testing if HipChat integration works"
Does it?

[2016-04-26 06:58] manishrjain commented on #72
Yes, it does!

[2016-04-26 06:58] #72 closed

[2016-04-26 11:33] fils opened #75 "Illegal instruction running docker image"
Following the instructions to pull and start the docker image (docker pull dgraph/dgraph:latest).  Once inside I get:

root@8881830c7daf:/go# mkdir /dgraph/m
root@8881830c7daf:/go# server --mutations /dgraph/m --postings /dgraph/p --uids /dgraph/u
Illegal instruction

Mac OS X 10.11.4

bash-3.2$ docker version
Client:
 Version:      1.8.1
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   d

[2016-04-26 14:21] pawanrawal commented on #75
Hey @fils

Could you share the command you are using to run the docker container. Could you try it once without mounting volumes?

[2016-04-26 20:18] fils commented on #75
@pawanrawal

[code]

[code]

[2016-04-27 01:36] manishrjain commented on #75
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;r8YruYML&#x2F;49-fix-illegal-instruction-bug"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Fix Illegal Instruction Bug</a>

[2016-04-27 02:42] pawanrawal commented on #75
@fils Could you try upgrading your Go version to 1.6 ? Instructions [here](https://golang.org/doc/install)

[2016-04-27 04:57] manishrjain commented on #75
Inside Docker, the Go version shouldn't make any difference.

@pawanrawal -- Did you try running it yourself? Can you put down your system specs?

[2016-04-27 05:05] pawanrawal commented on #75
Right @manishrjain. My bad, regardless this is the Go version Docker is written in and not the one on his machine.

@fils I ran this on my machine and could not reproduce the issue.
My docker version is 1.10.3

`docker version` command outputs the following for me.
[code]
I see that your docker version is about six months old, how about upgrading it and then trying to run this.

[2016-04-27 13:06] fils commented on #75
@pawanrawal I updated and pulled the image again and get the same results

[code]

[2016-04-27 13:08] fils commented on #75
@pawanrawal   I also tried it without my local volume mount and got the same results.

[2016-04-27 13:46] pawanrawal commented on #75
@fils - That's a bit strange. I am trying to reproduce this and will get back to you soon.

[2016-04-27 15:10] pawanrawal commented on #75
@fils
I tried reproducing this on `Mac OS X 10.11.4`, with docker version `1.11.0` but couldn't reproduce this.

I did a fresh install of Docker toolbox from [here](https://docs.docker.com/engine/installation/mac/#installation). How did you install Docker ?

[2016-04-27 15:50] fils commented on #75
@pawanrawal   I got the toolbox from the same location.
Docker toolbox 1.11.0
Same OS version..
I even wiped out my images and pulled down dgraph fresh...

I did an apt get install on strace but doesn't look like trace is not the right tool in this case.

Is this there some process monitoring tool or command I can use to get more details on what is going on the with the executable.

[2016-04-27 19:19] fils commented on #75
@pawanrawal

I tried GDB  and got warning: Error disabling address space randomization: Operation not permitted

[code]

[2016-04-27 21:39] fils commented on #75
@manishrjain @pawanrawal

I set ulimit and was able to get a core file trying to run server

I attached the core file here.   Don't know if it will help, but thought I would pass it along.

[core.zip](https://github.com/dgraph-io/dgraph/files/239436/core.zip)

[2016-04-28 08:20] pawanrawal commented on #75
@fils

I am still not sure what the problem is here, still trying to figure it out.
As the gdb error above says
[code]
Also see this https://sourceware.org/gdb/onlinedocs/gdb/Auto_002dloading-safe-path.html

Could you try this and run the binary with gdb again ?

[2016-04-28 09:00] manishrjain commented on #75
Actually, I get the same issue.

$ docker version
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

$ docker run -i

[2016-04-28 09:15] manishrjain commented on #65
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;CDtHPv8l&#x2F;20-move-predicate-from-one-machine-to-another"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Move Predicate from one machine to another.</a>

[2016-04-28 09:15] manishrjain commented on #65
Now tracking in Trello. Closing from here.

[2016-04-28 09:15] #65 closed

[2016-04-28 09:16] manishrjain commented on #64
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;KJYQE0jr&#x2F;6-open-uid-dir-as-read-only"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Open UID dir as read-only</a>

[2016-04-28 09:16] manishrjain commented on #64
Tracking in Trello. Closing here.

[2016-04-28 09:16] #64 closed

[2016-04-28 09:17] manishrjain commented on #62
Done.

[2016-04-28 09:17] #62 closed

[2016-04-28 09:17] manishrjain commented on #61
Fixed.

[2016-04-28 09:17] #61 closed

[2016-04-28 09:17] manishrjain commented on #59
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Qg0eMe6i&#x2F;9-commit-log-time-stamp"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Commit log time-stamp</a>

[2016-04-28 09:19] manishrjain commented on #53
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;67Oq9z33&#x2F;2-investigate-a-tool-based-on-graphiql-to-allow-for-in-browser-interactive-style-querying-and-inspection-of-results"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Investigate a tool based on GraphiQL to allow for in-browser interactive style querying and inspection of resu

[2016-04-28 09:19] manishrjain commented on #53
Tracking in Trello. Closing here.

[2016-04-28 09:19] #53 closed

[2016-04-28 09:22] manishrjain commented on #47
We updated our writes to async, which improved our writes a LOT. Now we can load the entire Film data in under 20 mins on SSD.

[2016-04-28 09:22] #47 closed

[2016-04-28 09:23] manishrjain commented on #46
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;hUTqzKEw&#x2F;1-read-memory-usage-by-rocksdb"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Read memory usage by RocksDB</a>

[2016-04-28 09:23] manishrjain commented on #46
Tracking in Trello. Closing here.

[2016-04-28 09:23] #46 closed

[2016-04-28 09:24] manishrjain commented on #34
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zEqzO81V&#x2F;2-code-review-system"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Code Review System</a>

[2016-04-28 09:24] manishrjain commented on #34
Tracking in Trello. Closing here.

[2016-04-28 09:24] #34 closed

[2016-04-28 09:25] manishrjain commented on #24
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;0U9mHenC&#x2F;5-go-client"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Go client</a>

[2016-04-28 09:25] manishrjain commented on #24
Tracking in Trello. Closing here.

[2016-04-28 09:25] #24 closed

[2016-04-28 09:25] manishrjain commented on #18
No progress was made. Closing.

[2016-04-28 09:25] #18 closed

[2016-04-28 09:26] manishrjain commented on #20
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;JEFKKHKG&#x2F;3-java-driver"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Java Driver</a>

[2016-04-28 09:26] manishrjain commented on #20
Tracking in Trello. Closing here.

[2016-04-28 09:26] #20 closed

[2016-04-28 09:28] manishrjain commented on #12
We're using RAFT only. When a new node wants to join, it can talk to any member of the cluster. That member can convey the master for the entire cluster. The new node then talks to the master, and joins the cluster. This is sufficient for now.

[2016-04-28 09:28] #12 closed

[2016-04-28 09:29] manishrjain commented on #10
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;PAtzxqVj&#x2F;4-benchmark-dgraph-using-lubm"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Benchmark DGraph using LUBM</a>

[2016-04-28 09:29] manishrjain commented on #10
Tracking in Trello. Closing here.

[2016-04-28 09:29] #10 closed

[2016-04-28 09:29] manishrjain commented on #9
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;tpe7A7Kl&#x2F;18-support-for-limitby"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Support for LimitBy</a>

[2016-04-28 09:30] manishrjain commented on #9
Tracking in Trello. Closing here.

[2016-04-28 09:30] #9 closed

[2016-04-28 09:30] manishrjain commented on #8
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;QbdXjpwj&#x2F;5-support-graphql-fragments"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Support GraphQL Fragments</a>

[2016-04-28 09:30] manishrjain commented on #8
Tracking in Trello. Closing here.

[2016-04-28 09:30] #8 closed

[2016-04-28 09:31] manishrjain commented on #7
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;8qFFUsIK&#x2F;6-write-a-go-json-parser"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Write a Go JSON parser</a>

[2016-04-28 09:31] manishrjain commented on #7
Tracking in Trello. Closing here.

[2016-04-28 09:50] manishrjain commented on #75
I pushed out a new docker image. It now works on my machine. Can you give it a try, @fils?

Note that this is from the HEAD. The code and the way data was being stored have changed. So, you won't be able to use the posting list directories from `benchmarks` repository. You'll have to load data from scratch.

[2016-04-28 13:27] fils commented on #75
@manishrjain   I pulled the new version and it looks like it's running.   I have LOTS of RDF data I can plug into it so I will try that next.    I'll dig up the references for loading RDF and start seeing if I can build some GraphQL calls.  That's the fun part..

[2016-04-30 10:39] manishrjain commented on #3
This project was unfinished. For now, we're just going to focus on our own performance, and not waste time on comparison benchmarks.

[2016-04-30 10:39] #3 closed

[2016-05-03 18:28] fils opened #78 "Error loading RDF"
I have RDF in turtle that I converted to nquads (which it seems is what you load).   I passes validation with rapper and I use rapper to convert the RDF to nquads with no issues.  I compressed it and used the following commands with the resulting output.

Any suggestions on load the data is welcome.  If you are interested the RDF (turtle format) is at http://opencoredata.org/rdf/JRSO_cruises_gl.tt

[2016-05-03 23:53] manishrjain commented on #78
We actually use RDF directly. Here's a sample of the data that we load:

[code]

Here's more about the [RDF 1.1 NQuad format](https://www.w3.org/TR/n-quads/).

You can also have a look at our benchmarks repository, data directory for this data.

[2016-05-03 23:54] manishrjain commented on #75
I reckon this works now. So, closing the issue. Feel free to reopen if you encounter more issues.

[2016-05-03 23:54] #75 closed

[2016-05-03 23:55] manishrjain commented on #13
Making golint pass isn't a goal as per Go community. It throws a lot of unnecessary errors. So, closing this issue.

[2016-05-03 23:55] #13 closed

[2016-05-03 23:56] manishrjain commented on #5
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;owLzcoCy&#x2F;33-add-godoc-comments-to-all-modules-and-public-functions"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add godoc comments to all modules and public functions</a>

[2016-05-03 23:56] manishrjain commented on #5
Tracking this in Trello. Closing here.

[2016-05-03 23:56] #5 closed

[2016-05-04 12:56] fils commented on #78
@manishrjain so I have been using RDF for almost a decade..  I am quite familiar with it and I have a lot of it.  All I was trying to point out with this issue is I have valid nquad formatted data that is not loading.   I am happy to move this to discuss or gitter or slack or where ever dgraph discussion takes place.

[2016-05-04 20:40] manishrjain commented on #78
Thanks @fils. We just made a decision to have all the questions and feature requests on discuss.dgraph.io, and only use Github Issues for obvious bugs. So, thanks for posting on discuss.

Let's continue there:
https://discuss.dgraph.io/t/common-issues-with-data-loading/69

[2016-05-16 00:21] manishrjain commented on #78
This has since been resolved.

[2016-05-16 00:21] #78 closed

[2016-05-16 02:41] dan-compton opened #83 "Mutations cause panic via GRPC client"
Sending a mutation via GRPC client causes panic because mutations are not processed.  See: https://github.com/dgraph-io/dgraph/blob/master/server/main.go#L224

[code]

I [fixed](https://github.com/dan-compton/dgraph/commit/2199cbf6d6ef353364d77f2128922cf001c27981) this issue in my much diverged govendor->aws branch by adapting [these lines](https://github.com/dgraph-io/dgraph/blob/master/server/ma

[2016-05-16 03:22] manishrjain commented on #83
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;MFLrHLjr&#x2F;97-support-mutation-in-the-go-client"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Support mutation in the go client</a>

[2016-05-16 03:23] manishrjain commented on #83
I think more of an oversight than anything else. @pawanrawal created a task to fix this.

[2016-05-18 03:56] pawanrawal commented on #83
@dan-compton This has been fixed via https://github.com/dgraph-io/dgraph/pull/89. Feel free to open it again if you face any problem.

[2016-05-18 03:56] #83 closed

[2016-05-18 05:03] dan-compton commented on #83
LGTM and very much appreciated.

[2016-05-21 10:13] manishrjain commented on #59
This has been resolved.

[2016-05-21 10:13] #59 closed

[2016-05-26 02:27] manishrjain opened #93 "Panic when mutations directory is empty"

[2016-06-01 02:47] pawanrawal commented on #93
This has been resolved.

[2016-06-01 02:47] #93 closed

[2016-06-02 07:28] manishrjain opened #96 "Set up a continuous integration system for Dgraph"
Something like Travis CI, Wercker or equivalent.

[2016-06-02 07:32] manishrjain opened #97 "Code Review System"
We need a code review system which can highlight all the golint, go vet, and other issues. Given the high noise ratio, we want to show these to the reviewer and the author of the change, so they can make a decision about which ones to fix. Not all these issues are relevant, so we don't want to block the changelist just because golint complains.

So far I think Phabricator seems to have such a mech

[2016-06-02 08:15] pawanrawal opened #98 "Java Driver"
We want to build a very basic Java client driver similar to Go client we have right now. It would communicate with the server over gRPC and can run queries and mutations.

[2016-06-02 08:19] pawanrawal opened #99 "Python Driver"
We want to build a very basic Python client driver similar to the Go client we have right now. It would communicate with the server over gRPC and can run queries and mutations.

[2016-06-02 08:21] pawanrawal opened #100 "C++ Driver"
We want to build a very basic C++ client driver similar to the Go client we have right now. It would communicate with the server over gRPC and can run queries and mutations.

[2016-06-02 08:24] szymonm commented on #99
I'm on it

[2016-06-02 15:28] sreeram-boyapati commented on #97
At HackerEarth, We use phabricator. It is working very well for a mid-size team.
Features:
Code Review
Wiki Hosting
Manifest for triaging tasks.

you can host it yourself.

[2016-06-02 15:56] hackintoshrao commented on #97
Integration of govet, gofmt and other tool sets in Travis would solve the need too.

[2016-06-02 15:56] hackintoshrao commented on #96
Will take this up.

[2016-06-02 22:43] manishrjain commented on #97
@sreeram-boyapati Would it be able to show errors from a customized `golint`? We want to do it so it can show the author and the reviewer these things if needed. So, the reviewer can decide which ones the author should fix, and which ones to ignore.

[2016-06-03 01:30] manishrjain opened #101 "Benchmark Dgraph against Cayley"
This is the most popular page on discuss:
https://discuss.dgraph.io/t/differences-between-dgraph-and-cayley/23

This is also the most popular question on Reddit:
https://www.reddit.com/comments/4fs7qm/why_we_built_dgraph/

And again:
https://www.reddit.com/r/golang/comments/3uyj8m/announcing_alpha_release_of_open_source/

And again on HN:
https://news.ycombinator.com/item?id=11322444

So, it's abo

[2016-06-03 06:18] sreeram-boyapati commented on #97
@manishrjain https://github.com/kalbasit/arcanist-go
https://secure.phabricator.com/T6867

We use arc as a command line tool to push commits. we can integrate go linters so the code pushed for review is written properly.
It has not yet been accepted into the main repo though.

[2016-06-03 07:55] dan-compton commented on #97
Along the lines of what @hackintoshrao said: Seems natural to have this run by a build container (to eliminate inconsistency) and have every branch run tests -- not just master.  There's a wercker build-step much like what you describe: https://github.com/wercker/step-golint

I'm not a wercker expert, but it might be possible to have wercker publish a comment on the PR via webhook which contains t

[2016-06-04 05:24] hackintoshrao opened #102 "Proposal for `Install Dgraph` section of Readme.md"
My idea is to enable everyone to use DGraph, to make DGraph as a default choice of database for application developers to build their mobile/web applications. One of the very significant steps needed to get there is to make setting up of Dgraph super simple and really easy, It should be made so simple that anyone can now, for the first time in history, should be able to have a GraphDB up running a

[2016-06-06 00:36] hackintoshrao commented on #102
Moving to Discuss.

[2016-06-06 00:36] #102 closed

[2016-06-06 05:11] joeblew99 commented on #100
Have you looked at the cockroachdb code on github. they are also using grpc as their primary interop. I dont know if they have started building other client proxy libs yet.

Hope that helps a bit ?

[2016-06-15 11:05] mohitranka commented on #99
@szymonm Are you still working on it? If not, I can pick it up.

[2016-06-15 11:26] szymonm commented on #99
Started, but I'm quite busy right now. Please give me just a few days until Sunday eod.

[2016-06-16 15:32] lonnietc opened #110 "running single instance"
Greeting all,

I have recently found dgraph and it looks perfect for the project that I am working on at the moment so I started to investigate it usage on my Ubuntu 15.04 system.

I was going through the single-instance docker setup and ran into a problem:

-------------------------------------------------------------------------
Single instance via Docker

There's a docker image that you can rea

[2016-06-16 15:43] patilvikram commented on #101
Hi Manish I would like to pick it up this one

[2016-06-16 15:48] ashwin95r commented on #110
Hey Lonnie,

Glad to know that Dgraph fits your use case well.

The Readme of master is updated according to changes after v0.3. The executable was named 'server'  till v0.3 and the docker image hasn't been updated since. Could you please try 'server'  instead of  'dgraph'  while we work on updating the docker image.

We are eager to here how it works for you.

Thanks

[2016-06-16 15:51] ashwin95r commented on #101
Hey Vikram,
Go ahead. Let me know if you want some help!

[2016-06-16 18:55] lonnietc commented on #110
Hello,

Thanks for responding to my post and I was able to run the single-instance
with the docker approach by using the "server" executable.

So then, I am also guessing that the docker version of dgraph is 0.3 and I
will eagerly look forward to running the 0.4 docker version as soon as it
is ready. Are there any estimates on when the new version may be ready?

I really like what I have seen in d

[2016-06-16 21:08] lonnietc opened #111 "Adding security to dgraph"
Hello,

As I work more and more with dgraph, I find that I really like it and am excited to use it in the project that is currently underway.

Not really sure if this qualifies as an issue, but its more of a security access question that could be looked at as an issue since it is rather important to deployment of dgraph nodes across the LAN/WAN.

The one thing that just occurred to me is a questio

[2016-06-17 00:59] manishrjain commented on #111
Hi Lonnie,

I've created a topic at discuss.dgraph.io:
https://discuss.dgraph.io/t/adding-security-to-dgraph/427

We typically use github issues only for bug reports. So, let's move the conversation there.

Thanks!

[2016-06-17 00:59] #111 closed

[2016-06-17 01:09] manishrjain commented on #110
We're planning to cut a release for v0.4 by the end of June. It might be a bit ambitious -- so might slip to first week of July.

[2016-06-17 01:09] #110 closed

[2016-06-17 01:15] manishrjain commented on #101
Awesome! @ashwin95r has some benchmarking scripts that he built for his performance report. You might want to talk to him before you begin.

If you finish this, we can send some Dgraph swag your way :+1: .

[2016-06-17 19:12] lonnietc opened #112 "Multiple Distributed Instances Error"
Greetings,

As I now understand that this communication method is for reporting bugs and issues, I have posted some other discussions on the slack and blog, but while trying to work my way through the "Multiple Distributed Instances" part of the install file, I ran into a small problem.

in that section, after installing Git LFS, which I did, I am supposed to:
-------------------------------------

[2016-06-17 23:04] manishrjain commented on #112
Hi @lonnietc ,

The README instructions are a tad out of date, I'll work on it asap.

To load data for a distributed instance of Dgraph, follow these instructions:
https://github.com/dgraph-io/dgraph#distributed-bulk-data-loading

The benchmarks data is now old and won't work with v0.3 and onwards. So, you're better off loading the data on your own.

Cheers,
Manish

[2016-06-20 02:16] manishrjain commented on #112
Added a Trello card: https://trello.com/c/fVuSB0wZ

Let me know if you run into more issues with the data loading. Otherwise, I'll close this issue in a few days.

[2016-06-20 05:53] szymonm commented on #99
Hej @mohitranka, I'm almost done. Let me finish this.

[2016-06-21 18:37] stubailo opened #114 "Doesn't follow GraphQL spec"
Hey, I just checked out the demo, and it looks like the query language is similar to GraphQL in syntax, but doesn't follow many critical parts of the specification, meaning it won't be able to work with GraphQL clients such as Apollo Client and Relay that expect spec-compliant results.

For example, this query:

[code]

Returns the following result:

[code]

There are at least problems with this q

[2016-06-22 00:21] manishrjain commented on #114
Yeah, I know that our implementation of GraphQL isn't exactly as mentioned in the spec. This is because GraphQL is meant as a REST API replacement, and not really a graph query language. So, we're making modifications to it to ensure it can operate as a full-fledged graph query language.

A good example of this is mutations. GraphQL doesn't contain all the data or the instructions required to spec

[2016-06-22 00:23] stubailo commented on #114
I would argue it's a bit misleading to specify that you are using GraphQL as the query language, even though it is not compatible with any GraphQL tools.

[2016-06-22 00:34] manishrjain commented on #114
hmm... How do you suggest we modify our language to communicate that we use GraphQL, but only to the point where we modify it to fit the needs of a Graph Database?

[2016-06-22 00:38] stubailo commented on #114
I guess I think you can achieve most of your goals while still sticking to the GraphQL specification - for example, having `me` in the root of the response, not returning fields that aren't asked for (the user can ask for UIDs if they need them to form more queries), etc.

There are some very minor things like I don't think GraphQL allows dots in field names, which is much less important. But I th

[2016-06-22 00:40] stubailo commented on #114
The place I'm coming from is that I'm a maintainer of an in-development GraphQL client, an alternative to Relay: https://github.com/apollostack/apollo-client

I think it would be exciting if developers could use tools like Relay or Apollo to work with data from dgraph.

[2016-06-22 00:44] manishrjain commented on #114
Good points, and valid points.

Can you have a look at our test queries and see if the modifications that you propose would allow us to achieve compatibility with your tools:
https://discuss.dgraph.io/t/list-of-test-queries/22

Honestly, my concern here is that we're figuring out about GraphQL as we're moving forward. And I just don't know to what extent can we push it to behave like a Graph langu

[2016-06-22 00:48] stubailo commented on #114
Yeah I'll give those a look!

I think if you find that GraphQL doesn't work as a language for your database (I'll admit it is a bit misleadingly named because it isn't really a query language for graphs), it could be good to rephrase the documentation and marketing to say "uses a query language similar to GraphQL" so that people know what to expect.

[2016-06-22 06:07] bitmalloc commented on #98
I can take on this task

[2016-06-22 06:09] manishrjain commented on #98
I can assign it to you once you approve the collaborator request.

[2016-06-22 08:31] dmarcelino commented on #101
Hey, I've just recently found out Dgraph and sounds like an exciting project!

Regarding the benchmark, another GraphDB vendor created an open source graph/NoSQL benchmark some time ago and they accept contributions, here's the link: https://github.com/weinberger/nosql-tests. They've already used it to comparare ArangoDB, Neo4j, OrientDB, MongoDB and PostgreSQL: https://www.arangodb.com/performanc

[2016-06-22 08:48] manishrjain commented on #101
Interesting. Not sure if we support all of the functionality required by the benchmark, but surely worth a look to determine if we can fit in their cast.

[2016-06-22 17:07] akhillb commented on #100
Is anyone working on this? Would like to help if no one else is working.

[2016-06-23 02:12] manishrjain commented on #100
Sure, @akhillb You can pick this up. Don't think anyone else is working on this.

[2016-06-23 02:32] manishrjain commented on #114
Added a task for this: https://trello.com/c/FaD13zPU

Closing this issue for now. Please reopen if needed.

[2016-06-23 05:12] akhillb commented on #100
Cool I am on it then.

[2016-06-24 10:20] nii236 opened #117 "No error is given when parsing malformed quads"
Hello!

I've been trying to set quads in `dgraph`, however it seems to allow whatever label I pass in! Here are some examples:

# Triple
[code]

# Quad
[code]

# Pentagon
[code]

# Hexagon After Dot
[code]

[2016-06-24 10:22] nii236 opened #118 "No way to return quads in dgraph"
Hello!

After setting a quad in dgraph:
[code]

[2016-06-25 00:23] #112 closed

[2016-06-26 00:08] mohitranka opened #120 "Data importers for Dgraph"
We need to make it easier for people to try and test Dgraph with their existing production data - and tools that allow data ingestion easily would help in that.

This task is split in the following subtasks -
1. Market research - Check out what kind of data ingestion support do competing graph database provide and decide which sources make sense to support.
2. Design discussion - on approach of wr

[2016-06-26 07:16] #96 closed

[2016-06-26 16:14] lonnietc opened #123 "Where is the configuration file to set server and port information (website issue)"
Greetings,

I have set up the Dgraph cluster for testing as well as have loaded the benchmark data for the film/movie/actor series. I have also set up the Dgraph "website" repository web server code which seems to serve well, but I do not see, in that code where it configures the Dgraph server and port for making the connection.

I actually posted this in the "website" repository issues section bu

[2016-06-26 16:47] mohitranka commented on #123
The website is not supposed to be the generic frontend to dgraph, but something dgraph-io team wrote for the demo purpose alone.

The call to /query is made at https://github.com/dgraph-io/website/blob/master/app/app.js#L267

[2016-06-26 17:24] crackerplace commented on #98
If this is not done,I would want to do this.

[2016-06-26 19:00] lonnietc commented on #123
Greetings,

Thanks for responding to this inquiry as I understand that it was supposed
to be something that the team set up for a demo, but my current interest
was to replicate the demo so that I could get a better feel for how things
worked with the dgraph/website repositories.

I wanted to set up a complete duplicate of the http://dgraph.io example and
was able to get the backend dgraph cluster

[2016-06-26 19:19] bitmalloc commented on #98
It's in progress and soon to be done.

[2016-06-26 22:05] bitmalloc opened #124 "Server dies on query involving objects and literals"
Having the following mutations:
[code]
 And executing the following query:
[code]

Kills the server with:
[code]

The issue seems to be that Dgraph assumes a certain "schema" for the `follows` predicate while executing the query, expecting all `o` in `s` `p` `o` to be the same type (non-literals).
Usually graph databases don't enforce a certain schema, hence any valid triple/quad pattern can be in

[2016-06-26 23:50] manishrjain commented on #124
We do want to enforce a schema on the data entered. Freebase has a great schema, and GraphQL also enforces a strong schema on the data.

I think the real issue here is that we should be checking the schema at the input. So, we know what to expect from `follows` predicate.

[2016-06-26 23:57] bitmalloc commented on #124
How is the schema (ontology) defined and specified in Dgraph in order to be enforced?
Specifically, how is Dgraph able to determine which triples/quads are defining the schema of the data that it should be able to ingest?
Is there a specific `graph-label` for this in the design?

[2016-06-30 01:03] dcnewman commented on #100
@pawanrawal

If by that, you mean similar to dgraphclient-go, then I have a very rough cut here,

[github.com/dcnewman/dgraph](https://github.com/dcnewman/dgraph/commit/29b7c29695c85a374aa541e31d7d07511b7cd352
)

That very basic C++ client doesn't actually walk the returned Node in it's ouput.  Right now it just blindly outputs the uid and attribute from the root node which comes back.  That's eas

[2016-06-30 23:00] manishrjain commented on #123
We don't officially support the website for users. It's open source but specific for dgraph.io usage. Best place to ask these questions is discuss.dgraph.io.

[2016-06-30 23:00] #123 closed

[2016-06-30 23:01] manishrjain commented on #120
Hey @mohitranka, I could use your help with this page:
https://wiki.dgraph.io/index.php?title=Beginners%27_guide

That'd be a great place to add documentation about how to use various data importers.

[2016-06-30 23:03] manishrjain commented on #101
Hey @patilvikram -- Any updates about this?

[2016-06-30 23:19] mohitranka commented on #120
@manishrjain Sure.

[2016-06-30 23:26] mohitranka opened #125 "Remove client repository from dgraph"
Now that we are using specific repositories for dgraph gRPC clients for different languages, remove the go client folder from the server repository to avoid confusion.

[2016-06-30 23:46] manishrjain commented on #114
https://wiki.dgraph.io/index.php?title=Beginners%27_guide#Queries_and_Mutations

Hey @stubailo : Added a note here. But, I've been thinking about this over the past days. A lot of people get interested in Dgraph because of GraphQL, and so I think it would be worth our effort if we try to bring our implementation as close to the spec as possible.

So, in that direction, I wanted to get your ideas a

[2016-07-01 02:55] pawanrawal commented on #125
It was removed and the change is merged into develop.

[2016-07-01 02:55] #125 closed

[2016-07-09 04:29] mohitranka commented on #99
The driver is available at https://github.com/dgraph-io/pydgraph. Closing the issue.

[2016-07-09 04:29] #99 closed

[2016-07-09 23:47] bitmalloc commented on #98
Done.
Implementation: https://github.com/dgraph-io/dgraph4j
Docs: https://wiki.dgraph.io/Clients#Java

[2016-07-09 23:47] #98 closed

[2016-07-10 14:22] manishrjain commented on #124
It would be defined via GraphQL: https://facebook.github.io/graphql/#sec-Type-System

That way, the end point (object) for each property (edge) would be enforced to be of the same type, so either byte value (specific data type) or a ID etc.

We need to implement the type system of GraphQL. It's part of the roadmap, but we're not there yet. So, technically this is not a bug -- even though it's bad

[2016-07-12 10:32] mohitranka opened #130 "Create core directories if they do not exist."
Currently, if the directory does not exist for mutation it throws an error, and quits.

[code]
Dgraph can instead create the directories and give a slightly better experience.

Thoughts?

[2016-07-12 10:45] mohitranka opened #131 "Allow dgraph to read settings from configuration files"
Most of the datagraphs do that. It would allow us to handle configurations in more elegant manner, as the number of configs increase and we start supporting running dgraph on startup as daemon etc.

[2016-07-12 10:47] mohitranka opened #132 "Build support for dgraph to run as daemon/startup on server start"
Databases are expected to run as always-on daemon processes.

[2016-07-13 08:13] manishrjain opened #133 "Make it easy to install Dgraph"
Caddy has this amazing script: https://getcaddy.com/

Would be cool to have such a script for Dgraph. This would make installing and upgrading the binaries easy for the end user.

[2016-07-13 08:18] manishrjain commented on #132
hmm... how about using ampersand at the end of it? Or, using tmux.

To run it as a service, someone needs to write this script: http://www.cyberciti.biz/tips/linux-write-sys-v-init-script-to-start-stop-service.html

[2016-07-13 08:19] mohitranka commented on #133
Another great example is 21.co. You can try it with ```curl https://21.co | sh```

[2016-07-14 17:13] pluradj opened #135 "errors using `curl get.dgraph.io | bash`"
via https://twitter.com/pluradj/status/753607647304126465

Here's the terminal session:

[code]

I skipped over section 1 in the beginners guide, blindly assuming that all installation was handled by the curl.

[code]

Here's the system info, reproduced on two systems:

[code]

Go, RocksDB, and Dgraph were not previously installed on any of these machines.

[2016-07-14 17:21] pluradj opened #136 "Unable to find dir: stat /home/vagrant/dgraph/m: no such file or directory"
Following directions for [running single instance](https://wiki.dgraph.io/Beginners_Guide#Single_Instance_3), I ran into this:

[code]

Creating `~/graph/m` resolves the issue.

[2016-07-14 17:25] mohitranka commented on #135
Thanks for the bug report @pluradj.

I don't have a CentOS or Redhat machine on me, so I am guess going off my hunch here. Can you look to update the libstdc++ (`yum install libstdc++`) on those machine and report your findings?

[2016-07-14 17:29] mohitranka commented on #135
@pluradj You may also need to update the `LD_LIBRARY_PATH` on the systems. Please refer this [Stackoverflow question](https://stackoverflow.com/questions/16826585/how-to-configure-libstdc-with-gcc-4-8).

Please let us know if it works or not.

[2016-07-14 17:39] mohitranka commented on #136
Closing this issue.

[2016-07-14 17:40] mohitranka commented on #130
Case in point: #136

[2016-07-15 00:21] manishrjain commented on #130
Makes sense, should be relatively trivial to add. Do you want to send us a PR, @mohitranka?

[2016-07-18 13:25] pluradj commented on #135
No, didn't work. I tried a few things to get Dgraph to build on CentOS6, but couldn't get it to work. Some notes are here https://gist.github.com/pluradj/ecd2aa375e279602f8df4eb845576383

BTW, Dgraph worked fine with CentOS 7 and Ubuntu 14.04.

[2016-07-19 12:03] mohitranka commented on #135
@pluradj I am sorry to hear that -- Thanks for the notes.

I hope you are using Dgraph with one of the other OS though.

[2016-07-22 05:52] bitmalloc commented on #124
I've been thinking about this issue, but probably a discussion re: Dgraph's type system could be continued in [discuss](https://discuss.dgraph.io/). I tried creating a new topic under the `dev` category but I did not have access to it.
Regarding this issue, probably as long as the server is not killed by an invalid query should be enough to close it; I'd be happy to work on it, if possible, as it

[2016-07-22 05:58] pawanrawal commented on #124
That's strange @bitmalloc that you couldn't create a topic. Just to clarify the category is `Devs`. Sure once we decide what the right course of action here, you could take it up.

[2016-07-22 09:05] manishrjain commented on #124
Only Dgraph team can create topics in devs. Users is for contributors.

[2016-07-27 06:53] mohitranka commented on #130
Merged to develop with commit 9d919395a698ed660af73ee9417f96630ed31c7e

[2016-07-27 06:53] #130 closed

[2016-07-27 06:56] mohitranka commented on #133
The script is available at `get.dgraph.io` and can be installed using `curl get.dgraph.io | bash `. Closing the issue.

[2016-07-27 06:56] #133 closed

[2016-07-28 07:38] pawanrawal commented on #117
This has been fixed and merged to develop https://github.com/dgraph-io/dgraph/commit/54a43ecd5fbb06ad0fb5d5b839505afefcdf1092

[2016-07-28 07:38] #117 closed

[2016-07-30 21:54] joeblew99 opened #142 "windows version :)"
Dont be a hater, and i hate windows too.

The reason this is a thing for me is because many projects i do rely on deployment to servers, but also desktops.

http://rocksdb.org/blog/2033/rocksdb-is-now-available-in-windows-platform/

[2016-07-31 08:47] pawanrawal commented on #142
Hey @joeblew99

The problem is none of our devs use Windows, so its not possible for us right now to test out installation, build binaries of Dgraph on Windows.

Though if someone from the community can come up and help us with this, we would be more than happy.

[2016-08-01 06:06] wshen0123 commented on #135
@pluradj Look like CentOS6's libc is not up to date. If you do `strings /usr/lib64/libstdc++.so.6 | grep GLIBCXX` you will be able to see its versions. One way to resolve this is to copy a libstdc++.so.6 file from CentOS 7 with the same architecture to your CentOS 6 and overwrite it.

[2016-08-01 08:58] mohitranka commented on #142
@joeblew99, btw [Manual Installation](https://wiki.dgraph.io/Beginners_Guide#Manual_Installation) should still work on windows. Do let us know if you face any issues in that.

[2016-08-02 07:14] manishrjain commented on #142
This is a feature request. discuss.dgraph.io is the ideal platform for this discussion.

[2016-08-02 07:14] #142 closed

[2016-08-02 07:15] manishrjain opened #144 "Add Dgraph to Arch Linux AUR package"
This would make installing Dgraph easier for folks using Arch Linux.

Something like `yaourt dgraph` would do the job.

[2016-08-02 09:17] pawanrawal commented on #118
@nii236 Could you expand a bit on the use case you have for graph labels? I need to have a bit more context about how you are planning to use it, before I can implement this.

[2016-08-02 10:17] nii236 commented on #118
There's no particular use for it at the moment, but I just noticed that bug which is why I filed it. I can see adding context to triples mostly being useful for metadata and such.

[2016-08-02 10:28] pawanrawal commented on #118
Ok, I think we will want to fix it later when someone has a use case for it. Right now we aren't sure what's the use case. Closing this for now.

[2016-08-02 10:28] #118 closed

[2016-08-09 15:56] manuel-delverme commented on #136
still happening, update the wiki example if it's not a bug

from the wiki:
[code]
to
`$ mkdir -p ~/dgraph/m`

[2016-08-10 01:03] manishrjain commented on #136
Looks like it's still an issue. Reopening.

[2016-08-16 02:42] jchiu0 opened #164 "dgraphassigner crashed with numCpu>=2"
My config:
8G ram, Macbook Pro
go version go1.6.3 darwin/amd64

We clear away the "u" directory and ran the following command:
dgraphassigner --numInstances 1 --instanceIdx 0 --rdfgzips rdf-films.gz --uids u --numCpu=2

After getting to:
INFO[0025] Counters                                      ignored=0 len_cnq=9744 package=loader parsed=621296 pending=12740 processed=608556 read=631180
INFO[0026]

[2016-08-23 09:50] ashwin95r commented on #114
Hey @stubailo. Thanks for bringing up this issue. The JSON response now has the same structure as the query. We still allow dots in field names, but if your data (which is loaded on Dgraph) doesn't have dots in it, it shouldn't be a problem.

Do let us know if you have any further comments.

[2016-08-23 18:09] stubailo commented on #114
Seems like the example on the frontpage uses `debug`, so it's hard for me to evaluate this change since I don't know too much about how to use DGraph other than poking at that example.

[2016-08-24 14:17] manishrjain commented on #114
@ashwin95r : Could you please bring up the GraphiQL interface to the demo, so @stubailo can evaluate this change?

[2016-08-25 10:37] ashwin95r commented on #114
Sure, the GraphiQL interface is at http://graphiql.dgraph.io/. I hope this would make playing around and querying a little easier @stubailo.

[2016-08-30 10:40] ashwin95r commented on #114
Hey @stubailo. If you're convinced, we'd like to close this issue. So, do let us know if you have other comments/suggestions.

[2016-08-30 17:39] stubailo commented on #114
The auto-complete in GraphiQL doesn't work, nor does the docs section, so it's hard for me to see. Basically, here's what I expect from something that says "GraphQL" on it:

1. It has an introspectable schema, as the spec requires: https://facebook.github.io/graphql/#sec-Introspection
2. It works with all GraphQL tools, such as GraphiQL, with no modifications to said tool
3. Includes support for a

[2016-08-31 22:48] manishrjain commented on #114
I think that's a bit harsh. We are working on the GraphQL spec. Schema and introspection are work in progress. We won't be fully GraphQL compliant until version 1.0, and our product roadmap clearly shows the features which are not yet implemented.

This particular bug was regarding the functionality we already have implemented. And not that we have achieved full compliance with every feature descr

[2016-09-01 08:29] pawanrawal opened #186 "dgraphmerge panics"
On trying to merge two stores after assigning uids to them, `dgraphmerge` panics with

[code]

Verified that this error is there from atleast release `v0.4.0`.

[2016-09-01 08:40] manishrjain commented on #186
I'm surprised we didn't catch this earlier. Git has a way to do binary searches over commits, to help figure out the culprit. https://git-scm.com/docs/git-bisect -- Maybe that could be useful?

[2016-09-02 08:44] ashwin95r commented on #186
Commit 01bbadc8b1f9f1751a392e898f8028fa9790312f fixes the issue.

[2016-09-02 08:44] #186 closed

[2016-09-04 14:21] Rahul-Sagore opened #193 "Allow entities to have UIDs automatically generated"
@manishrjain Currently the user has to specify the UIDS manually for entities. Need to write the code to generate it automatically every time new entity gets created.

[2016-09-07 10:57] kostub commented on #164
Fixed with commit 8f54f52.

See
https://wiki.dgraph.io/Beginners_Guide#Dgraph_assigner_fails_with_.27runtime.2Fcgo:_pthread_create_failed:_Resource_temporarily_unavailable.27_error

to resolve.

[2016-09-07 14:21] ashwin95r commented on #193
This feature has been added to master in 5dad80b23ca0caff57daaa45ac4abab3d123e5f8.

[2016-09-13 12:05] #164 closed

[2016-09-14 15:46] manishrjain commented on #114
We've changed how we handled our query reported in this bug to make it GraphQL compatible. We've also changed the wording to say GraphQL-like query syntax. I think that's sufficient to close the loop on this bug.

Also, I find it hard to acknowledge the seemingly tough stance on a spec that's still under development and we're still working on, so closing this for now.

[2016-09-14 15:46] #114 closed

[2016-09-14 15:50] manishrjain commented on #124
This particular issue isn't a bug. A single predicate shouldn't have two different types of objects.

Either they should be an entity, or they should be values, but not both. @akhiltak is working on a schema, but that isn't going to necessarily *fix* this, because a user can choose not to provide a schema and yet provide us this mixed data -- so a crash is a justified solution here. We could switc

[2016-09-14 15:50] #124 closed

[2016-09-14 15:51] manishrjain commented on #193
@ashwin95r -- please close the issue when you implement it.

[2016-09-14 15:51] #193 closed

[2016-09-14 16:31] stubailo commented on #114
Saying GraphQL-like clears it up for me.

[2016-09-21 05:45] pawanrawal commented on #136
Cannot reproduce in `v0.4.4`. @ashwin95r could you verify this too on a fresh instance? We can close this then.

[2016-09-21 07:14] ashwin95r commented on #136
Verified on my machine. Cannot reproduce on master. The directories are created if missing. So closing this.

[2016-09-21 07:14] #136 closed

[2016-09-22 10:03] manishrjain opened #232 "Segmentation Fault in store package"
**Rocksdb installed: 4.9.3**
$ go version                                                                                                                                                                        ~
go version go1.7.1 linux/amd64

[code]

[2016-09-22 12:05] jchiu0 commented on #232
I used to have this problem on my macbook. It might be because your RocksDB is not in place? The problem somehow went away after I did "make shared_lib" and "sudo make install" and then "go install" everything again. Sometimes, when you go install, it might not re-link things correctly. To fix that, you could go to rdbc.cc. Type some comments to force a recompile. Or you can do a "go install -a"..

[2016-09-23 03:43] manishrjain commented on #232
Adding a comment in rdbcc.cc actually worked! Forced a relink, and now dgraph binary runs as expected.

@jchiu0: Thanks for the tip. Once you add this in troubleshooting section in the beginners guide, you can feel free to close this issue.

[2016-09-23 03:55] jchiu0 commented on #232
No worries :) It took me a while and some luck to discover this as well.

[2016-09-23 03:55] #232 closed

[2016-09-25 14:39] Rahul-Sagore opened #235 "Error while using "After" argument in a query"
I was trying to test "after" argument query to get paginated data, but got errors. This is the link for this feature's wiki: ["After" argument](https://wiki.dgraph.io/Queries_and_Mutations#Supported_from_version_0.4.3)

**How to reproduce:**

I created db entries with this: (Change the "Content 1" string for different text)
[code]

Then this was the query I was running to get first 3 entries:

[co

[2016-09-25 14:43] ashwin95r commented on #235
Hey @Rahul-Sagore, The after expects a integer and doesn't accept hexadecimal format as of now. We'll fix this. Thanks for reporting!

[2016-09-26 06:03] manishrjain commented on #235
You can use ParseInt with base zero. It would infer the base from the string. @ashwin95r Can you fix this one quickly? Should be an easy one.

[2016-09-26 06:12] Rahul-Sagore commented on #235
Please check same thing with, delete query, was getting the same error.

[code]

I'll have uid with hexadecimal format now so will it handle that? Should it be a separate bug?

[2016-09-27 03:08] pawanrawal commented on #235
Hey @Rahul-Sagore. So this is how I ran the delete query.
[code]
and it works. Can you please try this? I am adding to Wiki how to run and set and delete mutations with uids.

[2016-09-27 16:07] Rahul-Sagore commented on #235
Yeah, tested. This is working, thanks.

[2016-09-27 16:08] pawanrawal commented on #235
Thanks @Rahul-Sagore . Closing this issue.

[2016-09-27 16:08] #235 closed

[2016-09-27 23:29] Ofekmeister commented on #7
@manishrjain What is the issue?

[2016-10-05 03:50] pawanrawal opened #265 "Accept multiline input as part of value in a mutation."
For Gru, question text will usually be multiple lines.

On running a mutation like
[code]

We get an error
`{"code":"Error","message":"Invalid end of input. Input: [\u003cquestion\u003e \u003ctext\u003e \"Line 1]"}`
It takes `\` as end of input.

I think the parser logic needs to be modified a bit to accept tabs and newlines.

[2016-10-05 06:41] pawanrawal commented on #265
Ok looks like https://github.com/dgraph-io/dgraph/blob/master/cmd/dgraph/main.go#L118 is where the issue is. We split mutations by `\n` and hence the issue. I think we'd have to modify the code here to not split by the `\n` within a object value. Will send a fix.

[2016-10-05 07:25] manishrjain commented on #265
But, that's by definition of RDF NQuad.

https://www.w3.org/TR/n-quads/#grammar-production-STRING_LITERAL_QUOTE

[2016-10-05 08:29] pawanrawal commented on #265
Escaping newline works. Closing this.

[2016-10-05 08:29] #265 closed

[2016-10-07 03:52] ashwin95r opened #274 "Too many open files - logs in server"
[code]

I've seen these logs a few times in the server (dgraph demo instance). Just wondering If we aren't closing some connections properly. This happens after quite a long time since the server is started (After it receives some number of queries I think).

[2016-10-09 11:35] faddat commented on #101
I think I can give you real-world stats without too much hardship.  I have an app that uses cayley, and speed's real important for it.  Does dgraph support a fully-in-memory mode?

[2016-10-10 17:20] manishrjain commented on #101
Hey @faddat,

To run Dgraph fully in-memory, you'd have to run it on RAMFS or TMPFS. Put all the directories (postings, uids and mutations) under those.

[2016-10-10 19:14] faddat commented on #101
Thanks for that!  This is what I'll be working on next, once this kernel finishes compiling.

[2016-10-13 10:26] romansky opened #282 "Proper Docker support"
I'm confused as to the official support for running `dgraph` inside a docker image, I see some discussions about how the official docker hub image is using version 0.3 of `dgraph`, and how according to https://wiki.dgraph.io/Beginners_Guide#Docker:_Deprecated starting version 0.4 usage of Docker is deprecated.. =/

For my development projects and production I like to have a deterministic way of cr

[2016-10-13 11:22] pawanrawal commented on #282
Hey @romansky

Before v0.3, we supported Docker because to build the Dgraph binary you had to compile RocksDB and all that could be done as part of the Dockerfile.

From v0.3 onwards, we have started releasing binaries for Dgraph, which have RocksDB embedded and are sufficient for running Dgraph. Hence Docker isn't of any use really. Also Dgraph creates directories for mutations, postings and uids

[2016-10-13 11:33] romansky commented on #282
Hi @pawanrawal, as a developer of `dgraph` your approach is understandable.
As a user, I would want a contained environment which I can easily grok the deployment / dependencies of a component in the system.
Docker allows me to explicitly express what directories are affected by this artifact I want to deploy, the ports which are open and any arguments which I provided to have the service running

[2016-10-13 11:41] pawanrawal commented on #282
Thanks for mentioning your use case. I will get back to you with an update on this.

[2016-10-13 11:47] romansky commented on #282
@pawanrawal great, thanks!

[2016-10-19 22:05] F21 commented on #1
For gossip discovery, I've found [hashicorp/memberlist](https://github.com/hashicorp/memberlist) to work quite well.

[2016-10-20 05:42] pawanrawal opened #290 "Dgraph server crashes with Unable to parse posting error."
While trying to update tags on Gru, there is an instance when Dgraph server crashes. This could possibly be a bug or something wrong that we might be doing. This happens when we delete an existing tag related to the question and try to add a new one in the same mutation.

**To reproduce try.**

[code]

Say this replies with `{"code":"ErrorOk","message":"Done","uids":{"qn":"0x5b6a2f404da65153"}}`
T

[2016-10-20 06:09] manishrjain commented on #290
I don't see the crash. What version of Dgraph are you using?

[2016-10-20 07:30] pawanrawal commented on #282
Hey @romansky, we released a Docker image for `v0.4.4` of Dgraph which is the latest release.
You can find the instructions for using it https://wiki.dgraph.io/Beginners_Guide#Docker.

Would love to hear about your usage of Dgraph.

[2016-10-20 09:42] romansky commented on #282
Thanks @pawanrawal, I'm evaluating it for storage of data generated from scraping & crawling.

[2016-10-20 09:42] #282 closed

[2016-10-20 10:00] pawanrawal commented on #290
This was fixed and merged to master.

[2016-10-20 10:00] #290 closed

[2016-10-21 15:21] pawanrawal opened #294 "Possible bug in posting list logic."
Another one observed from Gru. I think this a bug, @manishrjain would be good if you can verify this.

Isolated it in a test case here. We perform two set operations, merge posting list. Delete the previous two sets and set a new value.
https://github.com/dgraph-io/dgraph/compare/bugfix/posting2?expand=1

[2016-10-24 06:26] manishrjain commented on #294
Looking!

[2016-10-25 08:17] trengrj commented on #144
Dgraph seems a cool project. I added a binary installation package `dgraph-bin` to the AUR https://aur.archlinux.org/packages/dgraph-bin/. I'll try to add a source installation package too.

A couple remarks:

1. The tar bomb for the binaries is not nice.
2. Do you have a systemd unit file? Do you want one?
3. Is there a global configuration file?
4. I think the port 8080 default might need to cha

[2016-10-25 11:26] pawanrawal commented on #294
Resolved with the new logic for posting lists.

[2016-10-25 11:26] #294 closed

[2016-10-25 12:31] manishrjain commented on #144
Nice. Thanks a lot @trengrj!

- Tar bomb? You mean the .tar.gz files? What would you suggest?
- Not yet, no. So, basically systemd would allow running dgraph as a background process. Sounds like a good idea.
- There would be a data file for ICU tokenizer. @jchiu0 -- can you elaborate on the location of this file?
- What port would you suggest?

[2016-10-25 12:34] pawanrawal commented on #144
[Here](https://github.com/dgraph-io/gru/blob/develop/dgraph/dgraph.service) is a sample unit file that we are using for https://github.com/dgraph-io/gru to run Dgraph using systemd.

@trengrj Would love to get your suggestions on how we can improve it.

[2016-10-26 09:01] trengrj commented on #144
Hi @manishrjain @pawanrawal

I added a systemd unit file to the AUR package: https://aur.archlinux.org/cgit/aur.git/tree/dgraph.service?h=dgraph-bin. It is pretty similar to the unit file you provided but I set the uids / mutations / postings directories to be in /var/lib/dgraph/data (this is similar to where postgres write data on Arch Linux). Being able to set the parent directory for these file

[2016-10-26 11:15] trengrj opened #298 "loader.go issue"
I'm getting the following error using go fetch (commit @0628a36991baebe0e3005869dc8968f0e88f6022)

[code]

[2016-10-26 11:18] pawanrawal commented on #298
Hey @trengrj

Thanks for bringing this to our notice. We are aware of this and will fix this soon. Meanwhile, if you want to try out Dgraph the recommended way is to download the binaries. You can find more instructions on our Wiki https://wiki.dgraph.io/Beginners_Guide#Recommended_Installation.

[2016-10-26 11:39] manishrjain commented on #144
9311 is good. Want to send a PR? Also, @pawanrawal do we have a script to build the .tar.gz? If so, we should change it.

Note that in the next release, we'll have a `p` and a `w` directory only.

[2016-10-26 11:42] pawanrawal commented on #144
We do have a script which we use for our releases. We have it like this so that while extracting binaries they can be extracted and stored directly to `/usr/local/bin`. I think I will add the intermediate step to getdgraph.sh script to copy from the extracted folder to `/usr/local/bin`.

[2016-10-26 14:34] manishrjain commented on #298
Fixed. https://github.com/dgraph-io/dgraph/commit/d67d672ce3387bf30a1097315a40e52773b876a6

[2016-10-26 14:34] #298 closed

[2016-10-29 02:04] benjamin-rood commented on #7
Do you still want help with this? In Trello it's archived.

[2016-11-02 02:09] manishrjain opened #309 "Dgraph consuming 100% CPU while idling"
sierrafoxtrot found a strange bug in Dgraph, which looks to be coming from Go itself.

https://forum.golangbridge.org/t/runtime-siftdowntimer-consuming-60-of-the-cpu/3773

![screenshot_2016-11-02_12-36-38](https://cloud.githubusercontent.com/assets/1782324/19914294/72bcce44-a0fd-11e6-8c9f-5b86eafd3707.png)

[2016-11-02 03:11] manishrjain commented on #309
https://github.com/dgraph-io/dgraph/commit/1b31c8542e1bfbcff5f550420c0bc3e9e1d8beba Fixed.

[2016-11-02 03:11] #309 closed

[2016-11-07 13:45] manishrjain commented on #1
@F21: Instead of using Gossip protocol, we used the already implemented RAFT protocol for keeping track of membership. In terms of discovery, our cluster requires knowing at least one node in the cluster; any healthy node would do.

[2016-11-11 11:36] trengrj commented on #144
I've added an arch linux package that builds the latest dgraph from source using go get https://aur.archlinux.org/packages/dgraph-git/. Had some issues getting this working initially due to that build error. Do you want me to do a PR for a systemd unit file?

[2016-11-11 12:02] manishrjain commented on #144
Ideally, we only pick the latest release from Github, and not build from source. We're continuously adding in stuff there, and builds can break. OTOH, when we push a release, we test it out thoroughly before releasing.

Sure, send me a PR. Happy to review!

[2016-11-11 13:50] trengrj commented on #144
Yes I have created two packages `dgraph-bin` and `dgraph-git`, one for the binaries and one for the latest source (following the standard AUR naming convention).

Ideally there would be a `dgraph` package that builds the latest stable version. This source package, would be the one that could make it to the main Arch repo (where they enforce building from source).

`go get` doesn't handle vendor de

[2016-11-11 13:57] manishrjain commented on #144
We check in all our deps in vendor folder, using govendor. So, just `go
get` should work.

Thanks!

Cheers,
Manish

Founder/CEO, Dgraph Labs
+61-487138931
https://calendly.com/mrjn

On Sat, Nov 12, 2016 at 12:50 AM, John Trengrove <notifications@github.com>
wrote:

[2016-11-22 03:13] manishrjain opened #327 "Switch over RDF package to use ANTLR"

[2016-11-26 07:06] robbert229 commented on #101
Still looking for help? If nobody has had the time to work on somthing for this I could dedicate some time to make it happend...

[2016-11-26 10:09] manishrjain commented on #101
Hey @robbert229, Yes, still looking for someone to take it up. Would be great if you could do this. We're going to do a release next week; so maybe pick that version. It's going to be v0.7.

[2016-11-26 10:09] manishrjain opened #337 "Benchmark Dgraph against Neo4J"
Would be great to get some impartial benchmarks against Neo4J.

[2016-11-26 15:32] the42 opened #338 "Dockerfile should create a directory instead of starting up in root"
and set WORKDIR accordingly before issuing CMD[""], otherwise it's cumbersome to map the p / u / m directories from the host with docker run -v

https://docs.docker.com/engine/tutorials/dockervolumes/#/mount-a-host-directory-as-a-data-volume

[2016-11-26 16:04] the42 opened #339 "empty object literal causes an error"
this simple Triple fails

    curl localhost:8080/query -XPOST -d $'mutation {
      set {
    		<S> <P> "" .
      }
    }

with error message `{"code":"Error","message":"No Object in NQuad. Input: [\u003cS\u003e \u003cP\u003e \"\" .]"}`

Using dgraph from latest docker image docker pull dgraph/dgraph:0.4.4

[2016-11-27 02:41] manishrjain commented on #339
This makes sense. You must pass a valid triple; which would contain either a value, or an entity as the object.

The triple that you're passing is invalid.

[2016-11-27 02:41] manishrjain commented on #338
@pawanrawal Can you have a look at this?

[2016-11-27 07:36] the42 commented on #339
The spec does not disallow the empty literal which is implicitly of type xsd:string https://www.w3.org/TR/n-triples/.

So does this RDF validation service accept empty literals. http://www.easyrdf.org/converter

If I am unable to pass an empty string how am I supposed to state that a <product> <has an> empty description?

[2016-11-27 11:00] manishrjain commented on #339
In graphs, an absence of a field is the same as that field being set to nil or empty. So, if you were to delete this quad, `<S> <P> "prev value" .`, it should give you the absence property; which could be taken as an empty description. This might be a bit tricky, but I'd say in graph world, this is correct behavior.

Reopening the issue, until we have a convincing resolution.

[2016-11-27 11:32] the42 commented on #339
I disagree with this explanation in is as much as a NULL is not the same as an empty string. But I think you agree that this issue requires a solution. Thank you for accepting the report.

[2016-11-27 11:36] manishrjain commented on #339
No worries! I personally find it annoying when other projects close an issue without a proper resolution, so this is a good reminder to self not to do the same thing.

You're right that if RDF spec allows it, we should allow this as well. @ashwin95r -- can you work on this as part of the upcoming release?

Expect this to be either part of v0.7, if not v0.7.1 or something.

[2016-11-28 07:30] pawanrawal commented on #338
Hi @the42

I had a look at this, we create already a working directory `/dgraph`. I can change the `WORKDIR` to it before the `CMD` command. Then you should be able to run and mount dgraph like
`docker run -it -p 8080:8080 -v $(pwd)/p:/dgraph/p -v $(pwd)/m:/dgraph/m -v $(pwd)/u:/dgraph/u dgraph/dgraph`

Is this what you had in mind?

Note - The path for both source and destination (container) must

[2016-11-28 08:18] the42 commented on #338
Yes, that was exactly I had in mind. The directories get created but they should be created within the /data and /dgraph - folder. I guess setting the Workdir accordingly should be all that is required in order to specify a local directory as a DGraph wokingdir for a Docker-scenario

[2016-11-28 09:49] pawanrawal commented on #338
Thanks @the42, I have changed the Dockerfile and pushed the updated Docker image.

[2016-11-28 09:49] #338 closed

[2016-11-28 10:00] manishrjain opened #345 "Panic while running tests in query module"
[code]

[2016-11-28 10:02] manishrjain commented on #345
Also, this stack trace:

[code]

[2016-11-28 10:51] manishrjain commented on #345
Nvm. Fixed it. It was caused by indexing tasks taking longer than the 200ms sleep imparted at the end of `populateGraph` in query_test.go. Because this is specific just to the query_test.go; I fixed it by avoiding closing RocksDB store.

[2016-11-28 10:51] #345 closed

[2016-11-28 10:51] manishrjain commented on #345
The downside I think is that my `/tmp` directory tends to get full really fast.

[2016-11-28 13:01] the42 opened #347 "DGraph has to support IRIs for queries as by the spec"
Currently DGraph doesn't allow  predicates  (subjects too?) to contain all of the allowed characters as defined by [the specification](https://www.w3.org/TR/n-quads/).

As DGraph loads data from triples/quads it should be equally possible to query/retrieve these elements which were also accepted for loading/import.

[2016-11-28 17:36] the42 commented on #338
Installed, tested and directory pickup works now.

Seems however the query syntax compared to the documentation changed? I consistently get a

    {"code":"ErrorInvalidRequest","message":"Expected variable start. Got: lex.Item [11] \"me\""}

back now for this query

    curl localhost:8080/query -XPOST -d '{
	me(_xid_: alice-in-wonderland) {
		type
        }
    }'

Time to wait for documentation

[2016-11-29 01:08] manishrjain commented on #338
Emm.. looks like a bug or something. We'll test it in v0.7.

[2016-11-29 01:12] manishrjain commented on #347
Once v0.7 release is done, I'll work on moving RDF stuff to ANTLR grammar. Will tackle this as part of that change.

[2016-11-29 01:15] manishrjain commented on #339
@ashwin95r did an initial attempt at this. But, then it causes non-existent predicates to be returned as empty values on query. This would need more thought.

[2016-11-29 01:19] manishrjain commented on #135
This looks unrelated to Dgraph, and due to older library in CentOS6. I doubt we can do much here. Closing the issue -- reopen if you think there's something we can do.

[2016-11-29 01:19] #135 closed

[2016-11-29 01:20] manishrjain commented on #97
Reviewable is working out alright for us. We'll probably write a Github bot which can do some of the special things that we need done. Closing this issue.

[2016-11-29 01:20] #97 closed

[2016-11-29 01:25] manishrjain commented on #7
Nvm. It's a small one that we can just hack up quickly. Closing.

[2016-11-29 01:25] #7 closed

[2016-11-29 01:27] manishrjain commented on #120
Any particular action that we can take here? This issue needs more clarification. Feel free to reopen if you have specific ideas about what we should do.

[2016-11-29 01:27] #120 closed

[2016-11-29 01:28] manishrjain commented on #144
I'll test it out once we do the v0.7 release.

[2016-11-29 03:53] pawanrawal commented on #338
Hey @the42

I tried to reproduce this but couldn't. Could you verify that you the latest dgraph docker image? What OS are you on?

[2016-11-30 04:19] ashwin95r opened #349 "Running mutation with storage type changes results"
I'm using the schema_scalar file in cmd/dgraph as the schema file.

Try these commands:
[code]
This should return the name "a"

Now clear the p/ and w/ and do:
[code]
This will return an empty result which is incorrect.

[2016-11-30 06:52] ashwin95r commented on #349
07f9f721c3e79cebe7a86efa1a7e725aae332bf3 fixes this.

[2016-11-30 06:52] #349 closed

[2016-11-30 07:35] manishrjain opened #351 "Backup: Generating strange RDF NQuad lines"
Dgraph backup is generating some weird lines like:

[code]

This is clearly a bug. I wonder if this is due to lack of escaping logic.

[2016-11-30 08:46] manishrjain commented on #351
Fixed via https://github.com/dgraph-io/dgraph/commit/f6c769ad4c5ccef619b1f2fafef65b59942abf2b

[2016-11-30 08:46] #351 closed

[2016-11-30 13:39] jchiu0 opened #352 "Parsing dates in golden dataset"
When I stick in a printf in UnmarshalText for Date, I got some unexpected output. This is output when I run the loader (for now) on the golden dataset that is recently generated.

The printf:
[code]

The output:
[code]

Here is the schema:
[code]

Should the parsing be smarter? Or there's something wrong with the schema? Or it's just something that we will do later?

[2016-11-30 16:13] ashwin95r commented on #352
Currently we support :
[code]
We need to add the rest of the types to the rdf/parse.go and map them to corresponding internal types. And #gYear would map to date type

[2016-11-30 16:45] sameersamarthp commented on #337
hi @manishrjain , i would like to take a crack at it. i have just started to go through Dgraph in detail. Yet to do the same for neo4j. Do you have any pointers for me to get started? Like what tools to use for benchmarking, what metrics are we interested to capture and so on?

i have seen numerous articles about comparing different nosql databases. will this be on the same lines?

[2016-11-30 18:14] sameersamarthp commented on #132
[code]

I tested this script on "Ubuntu 16.04.1 LTS". Here are the steps required to make dgraph run as a service:-

- copy and save the above code as file "dgraph" (without quotes)
- place the above file (dgraph) under /etc/init.d/ (`cp dgraph /etc/init.d/`)
- give executable permission (`chmod 755 /etc/init.d/dgraph`)
- reload systemctl daemon (`systemctl daemon-reload`)
- start dgraph (`service

[2016-11-30 23:47] manishrjain commented on #337
https://neo4j.com/blog/import-10m-stack-overflow-questions/

This might be a good dataset to work on. This way we have numbers from Neo4J already, so we just need to work on Dgraph's numbers. Note that their "laptop" was a 6-core machine or something. Probably @pawanrawal remembers. So, we can run our numbers on a standard AWS instance.

We're doing a v0.7 release this week; you should use that fo

[2016-12-01 03:38] manishrjain commented on #132
Hi @sameersamarthp, Can you do two things:

- Send out a PR to add a file in contrib directory or something copying your code above. So, users can just download it.
- Add instructions in https://wiki.dgraph.io/Beginners_Guide, adding a new section about running Dgraph as a daemon with your instructions above, and pointing to the code.

[2016-12-01 04:55] pawanrawal opened #353 "Backup doesn't write back all the data that was input"
I used the mutation script to load the goldendata.gz into Dgraph. 1124693 RDF's were loaded.

Then I backed up Dgraph after everything was written to disk. The backed up file had 1120879 RDF's. This a bug possibly.

[2016-12-01 05:01] manishrjain commented on #353
I'm working on that. I realized that the golden data set has duplicates. I'm fixing those.

[2016-12-01 05:07] pawanrawal commented on #353
Fixed by removing duplicates from the goldendata set.

[2016-12-01 05:07] #353 closed

[2016-12-01 05:37] manishrjain opened #354 "Value changes from source to backup"
This is what I'm getting in the source:
`<m.03z94ts>	<type.object.name>	"Chetzemoka's Curse"@en	.`

And this is the equivalent in the backup:
`3233add61be96 type.object.name.en 0 Chetzemoka"s Curse [m.03z94ts,]`

Ignoring the conversion from xid to uid, just look at the value. The source contains single-quote, the backup prints double-quotes. This looks like a bug.

[2016-12-01 06:35] ashwin95r commented on #354
Yeah. This is wrong behaviour. The `'` has to be replaced by `"` only for geo strings so that it can be decoded. Moved it to Marshal/UnmarshalText of geo type. Also changed the suffix for geo type in backup.
16051820641d27fbd53a03bdc3997fcbc9bd626d

[2016-12-01 08:18] sameersamarthp commented on #132
Sure. will do.

[2016-12-01 10:37] ashwin95r commented on #352
Fixed with b0fe7c51e0c124c12d6294aa18c4190f9f58d919.

[2016-12-01 10:37] #352 closed

[2016-12-01 10:40] the42 commented on #338
I tested again an this was a fault at my side. Queries work just fine, sorry for the noise!

[2016-12-01 11:16] manishrjain opened #355 "List merge counter output is useless"
[code]

This is useless. Fix it, or remove it.

[2016-12-01 11:50] manishrjain opened #356 "RAFT: node.raft isn't protected by mutex locks"
node.raft is being accessed by many goroutines simultaneously, but isn't protected by mutex locks. Fix that.

[2016-12-01 22:40] manishrjain opened #358 "Gentle merge is being skipped for some reason"
[code]

[2016-12-02 20:08] dmonay commented on #356
Hi @manishrjain. I'd like to work on this.

[2016-12-03 02:21] manishrjain commented on #356
This would addressing really quickly, because we're releasing v0.7 within a week. Might be better to pick some other task. But, if you think you can send a PR within a couple of days, sure! Note that this PR would need to be against the release/v0.7 branch.

[2016-12-03 02:25] manishrjain opened #359 "Help maintain and create documentation"
We put all our documentation down in wiki.dgraph.io. We'd really like someone to help maintain, update and extend the documentation there, from the perspective of the user.

If you want to do this full time, talk to us! We can potentially hire you as a contractor.

[2016-12-03 05:26] dmonay commented on #356
I won't be able to submit a PR within that time frame. Will look for another task.

[2016-12-03 10:20] manishrjain opened #360 "Improve the output of dgraphloader"
So, it can report the rate at which RDFs are being input to Dgraph, and the number of RDFs imported so far. Ideally, it's done so we have a curl like output, just on one line updating in place; instead of one line per output on terminal.

[2016-12-04 20:19] jcebXD commented on #1
I suggest also support cypher for queries, to avoid the queries migration from neo4j users.

[2016-12-05 00:28] manishrjain commented on #354
These match up now.

[2016-12-05 00:28] #354 closed

[2016-12-05 00:39] manishrjain commented on #1
@jcebXD -- Yeah, Cypher is something we'll fully support.

[2016-12-05 04:26] manishrjain opened #361 "Investigate and fix Cgo memory leak"
I found and fixed a memory leak when retrieving values from RocksDB, which immediately brought memory usage down by 2GB (from 6GB to 4GB). C layer is still taking up 2GB of space -- of course, some of this is warranted by RocksDB; but we need to systematically look through our Cgo code, check for more leakage and fix it.

Potentially using a tool like Valgrind or GDB might be useful.

[2016-12-05 07:51] manishrjain opened #362 "Allow multiple values per Posting List"
Allow multiple values per PL, one per label; so we can support language labels easily.

[code]

2. Allow filtering value by label or retrieving any one of these multiple values.
3. When returning value, also return label.
4. Allow looking for any value with label preference. If no preference is provided, any value would be returned. If preference is provided, the value with first available label i

[2016-12-06 05:15] sameersamarthp commented on #337
@manishrjain - i went through the link you had provided and looked at the SO data. Is there a script/tool to convert XML to RDF format? I saw there are many online tools to do it and i tried the same for a sample SO data file. Attaching the same here. Let me know:-

- if there is a script/tool to convert to RDF? Else i can use some online tools and ready the data. I used http://rdf-translator.apps

[2016-12-07 01:48] manishrjain commented on #355
Done. Pushed to `release/v0.7` branch.

[2016-12-07 01:48] #355 closed

[2016-12-07 01:51] manishrjain commented on #358
@ashwin95r -- Can you check if this is still happening when trying to load 21M RDFs? I think it might not.

[2016-12-07 05:10] manishrjain commented on #360
Done and pushed to release/v0.7 branch.

[2016-12-07 05:10] #360 closed

[2016-12-07 05:30] pawanrawal commented on #358
This doesn't happen anymore.

[2016-12-07 05:30] #358 closed

[2016-12-07 07:20] manishrjain opened #363 "Switch GeoJSON to use specific value types"
Instead of storing JSON as value in our store, convert GeoJSON to Protocol Buffer, assign a val type, like GEO_POINT, or GEO_POLYGON, etc.; and then store the marshalled Protocol Buffer as value.

This way, all the conversion from GeoJSON would be done upfront, our storage would be efficient and any issues detected early.

[2016-12-08 05:56] ashwin95r opened #364 "Field alias not working as expected"
Even on providing a field alias, the actual predicate name is being returned in the result.

[2016-12-08 05:57] manishrjain commented on #361
@jchiu0 Added some fixes as well, which now show that the memory doesn't increase monotonically anymore. There's a missing Gig of RAM usage, that we can't account for yet. Most likely it's being used by RocksDB, but we can't confirm it.

Have asked RocksDB team for help.

[2016-12-08 05:58] jchiu0 opened #365 "Child subgraph shows UID when parent subgraph shows UID"
Consider the query

[code]

Here is a snippet of the reply:

[code]

[2016-12-08 06:43] ashwin95r opened #366 "Ensure the attributes in filters are indexed before execution"
Return error if a function uses an attribute that is not indexed.

[2016-12-08 06:59] manishrjain opened #367 "RAFT: Remove dead nodes from cluster"

[2016-12-08 07:00] manishrjain opened #368 "RAFT: Peer flag should only contain ip address, not raft id"

[2016-12-08 08:13] manishrjain opened #369 "Specify number of nearest entities to return"
Instead of always passing a distance for `nearby` query, we should have a `nearest:N` query, which can return the nearest N results.

[2016-12-08 23:14] manishrjain opened #371 "Sort in descending order"
We currently don't have an example to sort in descending order. Add one.

[2016-12-08 23:17] manishrjain commented on #363
We decided to stick to geom library, because it uses the standard WKB encoding.

[2016-12-08 23:17] #363 closed

[2016-12-09 03:00] manishrjain opened #374 "Use blank nodes instead of _new_"
[code]

Nquads syntax allows to specify file/request-local IDs called blank nodes (bnodes). This is a standard approach, and I think it will be better to use them to auto-assign internal IDs:

[code]

[2016-12-09 21:47] manishrjain opened #375 "Use <0xid> instead of <_uid_:0xid> in RDFs"
We can avoid redundancy that way.

[2016-12-09 23:39] kostub commented on #369
Here is a blogpost from MongoDB describing what they did:
https://www.mongodb.com/blog/post/geospatial-performance-improvements-in-mongodb-3-2

[2016-12-12 02:33] pawanrawal commented on #337
Hey @sameersamarthp

I went through the data, it mostly looks good apart from a couple of things for which I am afraid we might have to right our own tool.

1. `_:N80808633a900454fa177f42676fbf48d <Class> "2" .`
So the object id here needs to be enclosed within `<>` for Dgraph to parse it. We could use something like `<_new_:a>` and then Dgraph can assign new uids (https://wiki.dgraph.io/Query_Lan

[2016-12-12 07:27] pmualaba commented on #1
Cypher support will be great indeed for the application layer. I also see that Tinkerpop support is on the Roadmap after 1.0, but I would have prefered to see **SPARQL** instead. Since the data model for Dgraph is already Triple/Nquad based, it would be logic and convenient to expose a SPARQL 1.1 endpoint out of the box, in addition to the GraphQL endpoint. SPARQL support is very important to full

[2016-12-13 18:00] ankurayadav commented on #131
Hi Guys, I want to take this up.
As I am new few pointers to get me started around this would be a great!

[2016-12-14 00:30] manishrjain commented on #131
Use the `--help` on dgraph binary to figure out which all flags are available. Then chase them down in the codebase; and you can move them all to a YAML config.

[2016-12-15 22:35] djhenderson opened #386 "Improve Docker public repository"
The Docker [dgraph user](https://hub.docker.com/r/dgraph/) and public repositories [dgraph/dgraph](https://hub.docker.com/r/dgraph/dgraph/), [dgraph/neo4j](https://hub.docker.com/r/dgraph/neo4j/), and [dgraph/base](https://hub.docker.com/r/dgraph/base/) need to be customized by filling in more of the available fields. These include the short and full descriptions, adding the github dgraph user ava

[2016-12-16 05:18] #364 closed

[2016-12-16 05:19] #366 closed

[2016-12-16 05:19] #365 closed

[2016-12-19 23:23] manishrjain commented on #371
Ping! @jchiu0 -- let's get this done.

[2016-12-19 23:25] manishrjain commented on #274
We need a way to reproduce this.

[2016-12-20 00:29] manishrjain commented on #362
Thinking more about this, the query could be like this:

[code]

- `name@en:ru:hi`, will look for names in those languages in order; and return the first available one.
- `name@en` will look for names in just English, and return that if available.
- `name` will look for the name in any language present. The first language in the PL would be picked up.

Note that the value PLs would now contain mul

[2016-12-20 00:31] manishrjain commented on #362
Moving this to v0.8. Ideally, we do this after we make a decision about query parsing using ANTLR etc.

[2016-12-20 00:58] manishrjain opened #396 "Grpc: Message length exceeding max size."
[code]

[2016-12-20 01:02] manishrjain commented on #396
[code]

[2016-12-20 01:55] pawanrawal commented on #386
@manishrjain Do we need dgraph/neo4j and dgraph/base images or should we delete them?

[2016-12-20 04:04] manishrjain commented on #396
https://github.com/dgraph-io/dgraph/pull/398

[2016-12-20 04:04] manishrjain commented on #368
https://github.com/dgraph-io/dgraph/pull/398

[2016-12-20 04:23] manishrjain commented on #396
Fixed with the above PR.

[2016-12-20 04:23] #396 closed

[2016-12-20 04:23] manishrjain commented on #368
Fixed with the above PR.

[2016-12-20 04:23] #368 closed

[2016-12-20 07:41] ashwin95r commented on #339
Fixed by 6892e122248227bab95624cec28d8be6a6b43570

[2016-12-20 07:41] #339 closed

[2016-12-20 08:15] ashwin95r commented on #274
cdf2ff2905c22b82cd57dc1ccfa313ed5e4d7b4f should fix the bug according to the post on [gophercademy](https://blog.gopheracademy.com/advent-2016/exposing-go-on-the-internet/)

[2016-12-20 08:15] #274 closed

[2016-12-21 00:57] manishrjain commented on #131
Done. Thanks to @ankurayadav.

[2016-12-21 00:57] #131 closed

[2016-12-21 01:25] pawanrawal opened #404 "Cannot parse dateTime record that is written to backup"
I tried loading up goldendata.gz using the dgraphloader (which now uses the Go client and sends storage type information to the server) without any schema.

The line
[code]
is written as
[code]
which rdf.Parse fails to parse, hence the verify script fails.

[2016-12-21 04:54] ankurayadav commented on #356
Hi @manishrjain. I would like to take this up.
Again, few pointers will make it easier for me to start working on this.

[2016-12-21 05:05] manishrjain opened #407 "Invalid query causes log fatal crash"
[code]

[2016-12-21 06:54] manishrjain opened #409 "Dgraph RAFT doesn't pick leader on restart"
After having loaded some data, and applied a snapshot, Dgraph server group 1 is unable to choose itself as the leader. It just continues without having any leader whatsoever; which means all mutations fail.

[2016-12-21 08:17] jchiu0 commented on #371
Added documentation. Feel free to reopen if we need more work here.

[2016-12-21 08:17] #371 closed

[2016-12-21 08:40] manishrjain commented on #409
https://github.com/dgraph-io/dgraph/pull/410 fixes this.

[2016-12-21 08:40] #409 closed

[2016-12-21 08:40] manishrjain commented on #356
https://github.com/dgraph-io/dgraph/pull/410 fixes this.

[2016-12-21 08:40] #356 closed

[2016-12-22 01:23] manishrjain commented on #375
If it starts with a digit, treat it as a UID. If it starts with a letter, then it's an xid.

[2016-12-22 03:10] ashwin95r commented on #404
Fixed with f2ed45adc4f810a70fd829892d887de6a002950b

[2016-12-22 03:10] #404 closed

[2016-12-22 03:27] manishrjain commented on #327
ANTLR is 50x slower than our hand written parser. We might not do this, instead just refactor our existing code for parsing.

[2016-12-22 03:27] #327 closed

[2016-12-22 03:29] manishrjain commented on #347
ANTLR is slow, so we'll just have to do this as part of the Go codebase.

[2016-12-22 04:50] dennwc commented on #375
May I suggest to use bnodes instead? IRIs are meant to be globally unique, thus <0x01> for two datastores should mean the same node. Blank nodes on other hand are local to file/store.
XIDs might be called IRIs, if they are stable.

[2016-12-22 06:32] #407 closed

[2016-12-23 01:36] manishrjain opened #415 "panic: interface conversion"
[code]

I got this while loading up the 21M RDFs using the new 21M schema I've created in benchmarks.

[2016-12-23 01:47] pawanrawal commented on #415
Fixed and merged.

[2016-12-23 01:47] #415 closed

[2016-12-23 02:31] manishrjain opened #417 "Panic when parsing query"
[code]

[2016-12-23 06:26] pawanrawal opened #418 "Error when third node tries to join the cluster"
I am trying to start three nodes using config files. The first two work fine. The third one fails with an error.

Steps to reproduce

1. Checkout `fix/testrun` branch.
2. Move to cmd/dgraph, go build and then.
3. Start first node `./dgraph --config testrun/conf1.yaml`.
4. Start second node `./dgraph --config testrun/conf2.yaml`.
5. Start third node `./dgraph --config testrun/conf3.yaml`.

It fails

[2016-12-23 06:35] pawanrawal commented on #386
I have deleted the neo4j and base repos. I also uploaded the logo.

[2016-12-23 06:35] #386 closed

[2016-12-23 06:42] manishrjain commented on #418
Looks like a new bug. Fixing.

[2016-12-23 07:07] manishrjain commented on #418
Turns out the `--idx` flag wasn't passed which caused the node to treat itself as node 1. Closing.

[2016-12-23 07:07] #418 closed

[2016-12-23 07:36] manishrjain opened #420 "Panic when passing xid without underscores"
[code]

[2016-12-23 07:47] manishrjain opened #422 "Count doesn't work"
[code]

This returns zero results for the query, even though there are 4 movies; which are returned by this query:

[code]

[2016-12-23 07:50] manishrjain commented on #422
Works with this query though:

[code]

So looks like the interaction between sort and filter makes count not work.

[2016-12-23 07:55] manishrjain opened #423 "Server crash on passing invalid date"
[code]

[2016-12-23 08:09] manishrjain opened #424 "Don't return empty nodes"
``` curl localhost:8080/query -XPOST -d $'{tourist(near("loc", "{\'type\':\'Point\', \'coordinates\': [-122.469829, 37.771935]}", "10000")) {website, name}}'```

Returns empty nodes; which we shouldn't.

[2016-12-23 08:27] pawanrawal commented on #420
Error was not handled, fixed it https://github.com/dgraph-io/dgraph/commit/a6a21ba85acb831d5fa6c766b38d4ddc3e568e4f

[2016-12-23 08:27] #420 closed

[2016-12-23 08:28] pawanrawal commented on #423
Fixed by handling error.

[2016-12-23 08:28] #423 closed

[2016-12-23 08:29] pawanrawal commented on #417
Fixed by handling error.

[2016-12-23 08:29] #417 closed

[2016-12-23 08:45] manishrjain opened #425 "Geo: Intersect returns a polygon which it doesn't intersects with"
Intersects returns Flamingo attraction, when it shouldn't. Here're the coordinates of Flamingo and the polygon in question.

Query is:
[code]

[code]

[2016-12-24 17:55] sameersamarthp commented on #337
Hi @pawanrawal
I used Apache Jena to convert couple of  SO RDF/XML files to N-TRIPLES. Attaching both the input as well as the output. Let me know if this looks ok. But, I still do see lines like `<-442fdffe:15931e974a5:-7fff> <row> -442fdffe:15931e974a5:-797f .
<-442fdffe:15931e974a5:-7fff> <row> -442fdffe:15931e974a5:-7d9a .`

This is ok or needs to be eliminated completely?

[cs.stackexchange_3

[2016-12-24 20:07] ankurayadav commented on #337
Hi @sameersamarthp @pawanrawal
I am also interested in working on this task.
Would like to help you guys in this.

[2016-12-25 05:15] santhukumar commented on #101
@manishrjain did anyone pick this up? If it can be done in 2-3 weeks I can take this up.

[2016-12-25 05:16] manishrjain commented on #101
Please do. We really need those benchmarks for an upcoming talk.

Sent from Nexus 6P

On Dec 25, 2016 4:15 PM, "santhukumar" <notifications@github.com> wrote:

@manishrjain <https://github.com/manishrjain> did anyone pick this up? If
it can be done in 2-3 weeks I can take this up.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github

[2016-12-25 23:42] ashwin95r commented on #424
Fixed. ab5d98d5a98fa1b83450e8a35f8d5a1982725946

[2016-12-25 23:42] #424 closed

[2016-12-26 02:23] pawanrawal commented on #422
https://github.com/dgraph-io/dgraph/commit/e03a5845f089bb57037b55823c780fb9627cff43 fixes it.

[2016-12-26 02:23] #422 closed

[2016-12-26 02:33] ashwin95r commented on #425
Fixed by 67c5430b01cb4e01e997a84d980f0b888bb4f8de.

[2016-12-26 02:33] #425 closed

[2016-12-26 03:55] manishrjain opened #427 "Check fail if any predicate is assigned to group zero"
In the group conf, fp % N + k. Here we should assert that k >= 1. And nothing is assigned to group zero.

[2016-12-26 05:34] pawanrawal commented on #427
We fail now if k == 0.

[2016-12-26 07:26] manishrjain opened #428 "Add more inequality functions"
We can currently do less than equals, and greater than equals. We also need to do:

- Equals (eq)
- Less than (lt)
- Greater than (gt)

[2016-12-26 07:49] pawanrawal commented on #337
Hey @sameersamarthp

Yes I think we can get rid of the RDF's with row predicate. That's just some auxillary data which isn't very helpful.

@ankurayadav We have another task #101 which is similar, probably you can take that up?

[2016-12-26 08:02] manishrjain opened #429 "Tokenization doesn't work with 0.7.1"
[code]
No results!

[2016-12-26 08:25] manishrjain opened #430 "Regenerate indices"
Sometimes a user can forget to specify the index for a predicate. In that case, allow a way by which we can generate the index for that predicate. Also, allow a way to regenerate an out-of-sync index for some predicate.

[2016-12-26 20:56] manishrjain commented on #427
And how about if one sets predicate directly to zero? 0: pred

Sent from Nexus 6P

On Dec 26, 2016 4:34 PM, "Pawan Rawal" <notifications@github.com> wrote:

[2016-12-26 20:57] manishrjain commented on #427
And also, can you link the relevant PR here?

[2016-12-27 01:06] pawanrawal commented on #427
Sorry, hadn't handled that case. Should have sent a PR. I have one now https://github.com/dgraph-io/dgraph/pull/431

[2016-12-27 01:18] #427 closed

[2016-12-27 17:01] sameersamarthp commented on #337
Hi @pawanrawal - i wrote a small java program to convert the XML to N3. Attaching two sample files from the stack overflow dataset. Am having some issue in bulk loading these files into dgraph. Can you please confirm if you can ingest this N3 files to dgraph? If so, then I'll go ahead and submit a PR for the script and we can ready the data.

[so_n3.zip](https://github.com/dgraph-io/dgraph/files/6

[2016-12-27 20:37] ankurayadav commented on #101
I have started coding some python scripts for doing benchmark test for Cayley.
I will be using same stacks overflow data as suggested in #101.
Link for WIP for this benchmark is at here https://github.com/ankurayadav/graphdb-benchmark.

[2016-12-28 10:29] pawanrawal commented on #101
That's great @ankurayadav. Let us know if you are stuck somewhere and need some help.

[2016-12-28 15:25] santhukumar commented on #101
I have couple of questions. I think https://github.com/weinberger/nosql-tests is a good starting point. I can use that code base to do banchmarking. Cayley works with levelDB, Bolt, PostgreSQL, MongoDB and performance depends on the underlying database also. Shall we benchmark against cayley on all 4 databases? https://www.arangodb.com/2015/10/benchmark-postgresql-mongodb-arangodb/ does benchmarki

[2016-12-28 19:28] ankurayadav commented on #101
Stackoverflow archives are very big. Its taking too much time to convert is from xml to ntriples.
Does anyone one know any efficient way to convert xml to ntriples.

[2016-12-28 22:42] manishrjain commented on #101
@santhukumar -- You can use the Freebase film data that we have -- the 21M RDFs. And then issue various queries that we have documented in our Query Language Spec. If you run them via go test benchmarking functionality, those numbers would be pretty accurate. Focus on getting the code right, so we can also run them on our and Amazon instances.

@ankurayadav -- You can use the 21M RDFs that we have

[2016-12-28 22:48] manishrjain commented on #337
This data seems all value data, there don't seem to be any connections between nodes. This wouldn't make a good case for graph data. Maybe just use the 21M RDFs in benchmarks repository.

[2016-12-29 00:37] jchiu0 commented on #429
Went to run the test in tok in embed mode, and found that it wasn't compatible with 58. So I have updated dgraph-io/goicu with version 58 and also pushed the new data file.

The test now passed. Try the following:

[code]

[2016-12-29 01:18] manishrjain opened #432 "Check fail if no tokenizer when string indexing"
If we're provided a schema which does string indexing, and there's no valid tokenizer (due to lack of data file), check fail instead of silently not indexing the values.

[2016-12-29 02:05] jchiu0 commented on #432
https://github.com/dgraph-io/dgraph/commit/6e74c4d3feb46029e759fd8ed2f10ba2ea981158

Added a check for whether ICU is disabled.

[2016-12-29 07:13] djhenderson opened #434 "Release process change and/or documentation error"
In the [Beginners Guide](https://wiki.dgraph.io/Beginners_Guide), both the Automatic Download and the Manual Download methods rely on the presence of compressed tar files for linux and darwin for the latest release. These files are found at URLs that are computed using the Github API release `tag_name` only. The automatic method uses a shell script hosted at `https://get.dgraph.io`, and the manual

[2016-12-30 13:54] gedw99 commented on #1
Is there any  interest in supporting mobile ?
Running a dgrpah DB on mobiles using gomobile is possible. Even with the CGO aspect of rocksdb.
I currently run boltDB on the servers and the clients with golang. It is nice to have that reuse.

For example i build apps for mobile, desktop using golang with this: https://github.com/therecipe/qt
It uses CGO heavily, and works well.

[2017-01-01 21:52] ankurayadav commented on #101
I have added benchmark tests for loading data to cayley and dgraph.
Soon, I will be adding some benchmarks tests on some queries on both cayley and dgraph.

https://github.com/ankurayadav/graphdb-benchmark

[2017-01-01 22:59] manishrjain commented on #101
@ankurayadav -- That looks interesting. Let's do the queries as well and then we can try a couple more backends on Cayley.

I think you'll have more interesting queries with the 21M RDF data, than the 30k.

[2017-01-02 02:23] manishrjain commented on #1
@gedw99 -- We're not currently thinking about mobile. All our efforts are focused on production for large scale deployments.

[2017-01-02 02:51] pawanrawal commented on #429
@jchiu0 I tried checking filters with the embedded version and I don't think that indexing works still for strings.

1. I have updated the version of goicu and dgraph. Then I also updated icu to version 58.2 so that the right version is statically linked while creating the embedded binary.
2. After building the embedded Dgraph binary, I started Dgraph like
`  ./dgraph --schema ~/work/src/github.co

[2017-01-02 03:07] ashwin95r opened #435 "Use id at root to specify XID or UID at root"
Currently we follow this pattern in queries to start with XID/UID
[code]
We'd like to switch to using `id:` instead
[code]
Where id can be an XID or UID.

[2017-01-02 03:10] pawanrawal commented on #432
We should also check fail if tokenizer doesn't work for some reason. Say after checking the file, we can try doing a simple tokenization of a string with two words separated by comma. If we don't get back both words we can fail. This would help us discover earlier whether embedding works properly?

[2017-01-02 06:00] jchiu0 commented on #432
Travis should run some tests in embedded mode if it is not already doing so.

That said, I am still puzzled why the tok unit test passes in embedded mode but fails in the actual run. Digging..

[2017-01-02 15:07] ankurayadav commented on #101
I was not able to load full 21M RDF data to dgraph on my macbook pro.
<pre>
<m.011sdtrh>	<film.performance.actor>	<m.011126xs>	.
<m.011sdyk7>	<type.object.type>	<film.film_character>	.
<m.011s_0l3>	<film.actor.film>	<g.11b7h5k531>
<m.011s_0l3>	<type.object.type>	<film.actor>
<m.011sdtrh>	<film.performance.actor>	<m.011126xs>
<m.011sdyk7>	<type.object.type>	<film.film_character>
, err: context dead

[2017-01-02 18:05] jchiu0 commented on #429
@pawanrawal Thank you for checking. Somehow the unit tests for embedded mode pass but the binary doesn't work.

The fix has been committed. From now on, we will just set ICU_DATA to point to the data file. It now works.

[2017-01-02 18:05] #429 closed

[2017-01-02 18:06] jchiu0 commented on #432
@pawanrawal Thanks for the suggestion. The fix has been committed. It now does the simple tokenization check. If it fails, we disable ICU. And if we try to use ICU while it is disabled, it is a fatal error.

[2017-01-02 18:06] #432 closed

[2017-01-02 23:03] pawanrawal commented on #101
@ankurayadav How are you trying to load the RDFs into Dgraph? Are you using the dgraphloader or something else?

[2017-01-03 01:34] manishrjain commented on #434
I'm not entirely sure what Doug means here.

[2017-01-03 02:41] djhenderson commented on #434
When you follow the recommended install steps in the Beginner's Guide, either the automatic or manual download, you are expected to find the binary archives among the release files.

On the https://github.com/dgraph-io/dgraph/releases page, each release should have 4 files,

    dgraph-darwin-amd64-v0.7.0.tar.gz
    dgraph-linux-amd64-v0.7.0.tar.gz
    Source code (zip)
    Source code (tar.gz)

W

[2017-01-03 02:55] manishrjain commented on #434
We actually release the binaries together, but had an issue due to which we had to retract the release, fix the problem and upload the binaries again. https://github.com/dgraph-io/dgraph/issues/429

[2017-01-03 03:55] jchiu0 opened #440 "Tests failed when in different time zone"
These tests have been failing for me when I am in a different time zone:

[code]

[2017-01-03 22:01] ankurayadav commented on #101
@pawanrawal thanks for reaching out to help but now I have successfully loaded 21million rdf data into dgraph and cayley.
I have learnt some basic gremlin and have tried it out on cayley.
I will soon come up with benchmark on few queries.

[2017-01-04 05:48] pawanrawal commented on #101
Thats great @ankurayadav. Looking forward to some benchmarks.

[2017-01-04 08:39] manishrjain opened #445 "TokensTable.Add is really slow"
addIndexMutations() has slowed down considerably, because TokensTable.Add is really slow. This is really visible when trying to load data with string indexing on.

[code]

[2017-01-04 08:44] manishrjain commented on #445
[code]

This is the culprit. Maybe we should be using a balanced binary tree instead of using slice for this.

[2017-01-04 08:50] manishrjain commented on #445
Actually, the other thing is, the TokensTable would store all string tokens in memory. That's a lot of memory usage.

Instead, as soon as we encounter a new key in GetOrCreate(), we could set an empty PL in RocksDB. That would help avoid the issue where we miss some tokens when iterating. Also, we could use RocksDB iterator to do the next and prev for us. In fact, we can just create an iterator on

[2017-01-04 09:50] djhenderson opened #446 "Replace MD5 with "better" message digest, e.g. sha256"
`MD5` has been or is being retired as the standard message digest for verifying file integrity.

The `SHA256` provides a longer and more cryptographicly secure message digest.

The suite of similar programs including `md5sum` and `sha256sum`  provide the same options and functionality so they are drop-in replacements for each other, at least in the Linux world.

On Darwin we may need to use `gmd5s

[2017-01-05 04:24] ashwin95r commented on #374
Addressed with 046ace657bf51cf395f64ab1237da486a1457f12.

[2017-01-05 04:24] #374 closed

[2017-01-05 04:24] ashwin95r commented on #375
Addressed with 046ace657bf51cf395f64ab1237da486a1457f12.

[2017-01-05 04:24] #375 closed

[2017-01-05 05:23] pawanrawal commented on #434
I am not sure if we can automate this more than what we have now. We should take care that we upload files for both the platforms for every release.

[2017-01-05 10:35] gregmuellegger opened #448 "Docker build for v0.7.1 is broken (`GLIBCXX_3.4.20' not found)"
Hi, I tried to play around with dgraph, but was unable to run v0.7.1 (the current latest) with docker. The resulting error is this:

[code]

However running it with `v0.7.0` works just fine.

[2017-01-05 11:47] pawanrawal commented on #448
I have updated the image @gregmuellegger. Can you please try again now?

[2017-01-05 14:28] hkgrani opened #449 "5. step installation instruction fails on os x - "Disabling ICU" & "grpc: the connection is unavailable""
I tried to follow the five step process here : https://wiki.dgraph.io/Get_Started usng the simple install : "curl https://get.dgraph.io | bash"

"ls $ICU_DATA" give result :
goldendata.rdf.gz	p
goldendata.schema	w

When trying to run "dgraph --schema goldendata.schema" I get

[code]

Then running "dgraphloader -r goldendata.rdf.gz" give

[code]

[2017-01-05 14:48] gregmuellegger commented on #448
Yep seems to work now. Thanks!

[2017-01-05 14:48] #448 closed

[2017-01-05 19:40] ankurayadav commented on #101
For Cayley it took around 2h 22m to load full data.
And for Dgraph it took around 15m to load full data.

[2017-01-05 19:41] ankurayadav commented on #101
I have benchmarked a single query in both Cayley and Dgraph. i.e.
Query to find all movies and the genre of director "Steven Spielberg"
Results are available here.
https://github.com/ankurayadav/graphdb-benchmarks

[2017-01-05 23:22] pawanrawal commented on #449
Hey @hkgrani

I think the `ICU_DATA` variable is not set for you. You can verify this by running `echo $ICU_DATA`. The Step 1 of the installation mentions how to set it.

You can do a `export ICU_DATA=/usr/local/share/icudt58l.dat` to set it. You can also make it part of your `~/.bashrc` or `~/.zshrc`.

[2017-01-06 01:31] pawanrawal opened #450 "_new_ overwrites node when using same variable name"
1. Creating first node and associate it with the root
[code]

2. Creating second node which overwrites the first node because the same variable is used, which is decided by the client and could be the same in multiple calls.
[code]

3. Now run
[code]

and you get

[code]

The first node was overwritten because we just do a fingerprinting and dont check if a `_uid_` is assigned. We should probably

[2017-01-06 01:55] ashwin95r commented on #450
The functionality is changed. Please refer to https://wiki.dgraph.io/Query_Language#Assigning_UID.

[2017-01-06 01:55] #450 closed

[2017-01-06 06:59] hkgrani commented on #449
Thanks @pawanrawal . Yes the variable was not set (or picked up) properly. I just "blindly" followed the instructions and the export was put in a newly created .bash file. It seems that that variable was not picked up by my terminal window (I am using iTerm). When I copied export over to .bash_profile where I keep the other environment variables it was picked up and I was able to start the server,

[2017-01-06 07:27] pawanrawal commented on #449
I see, maybe your `~/.bashrc` wasn't sourced into your current terminal window. Glad that it works now.

It should be fine anywhere as long as its set.

[2017-01-06 07:27] #449 closed

[2017-01-06 11:00] manishrjain commented on #101
Hey @ankurayadav, this look really interesting. Can you add a few more queries? You can pick the queries from https://wiki.dgraph.io/Get_Started.

Also: Maybe it would be worth reaching out to Cayley folks to check if boltdb is their fastest persistent backend, and if the query you produced for Cayley is optimized. We want to ensure that we provide the best possible outcome for Cayley.

[2017-01-06 11:23] pawanrawal opened #451 "Server does log.Fatal if it can't parse data in a query with filter"
Load up the 21M RDF dataset with the corresponding schema and do the following query

[code]

Server crashes with the following error.

[code]

[2017-01-06 12:29] dennwc commented on #101
@manishrjain @ankurayadav We know that current implementation of Bolt is not optimal, not to say slow. We are working on alternative [implementation](https://github.com/barakmich/cayley/tree/reification) which is already [much faster](https://discourse.cayley.io/t/wip-bolt-2-reification-boogaloo/550).

Also, it's not a good idea to compare Gremlin which is a full JS VM to a native query performanc

[2017-01-06 13:18] manishrjain commented on #101
@dennwc -- When do you expect these changes to be pushed to master?

[2017-01-06 13:39] dennwc commented on #101
@manishrjain To weeks at least. Maybe more. We should verify new approach carefully.

But we can make an experimental build earlier. Still need at least a week or two for this, since I have not much free cycles right now.

[2017-01-06 18:15] ankurayadav commented on #101
I am eager to try GraphQL on Cayley.
I shall keep an eye on its release!

[2017-01-06 18:18] ankurayadav commented on #362
@manishrjain I want to take this up!

[2017-01-06 23:31] ashwin95r opened #452 "Server crashes on getting an invalid date value"
Logs:
[code]

[2017-01-07 00:40] manishrjain commented on #452
@ashwin95r -- Can you fix this, merge it on the 0.7.1 branch and then push it to the server? We don't want crashes; so let's do this asap.

[2017-01-07 06:32] jchiu0 commented on #428
Added lt, gt and eq. Also updated the wiki to say that these can be used just like geq and leq.

[2017-01-07 06:32] #428 closed

[2017-01-08 01:32] pawanrawal opened #453 "Can't use goclient without ICU installed because tok is a dependency."
Get error

[code]

while trying to build a project which uses goclient

[2017-01-08 06:38] manishrjain opened #454 "Data types in Dgraph: Add a password type"
So, any string corresponding to this type would be salted and stored encrypted (bcrypt library might be a good choice, but needs investigation). This would be useful to store passwords in Dgraph.

We'll also need corresponding functions to check if the password specified is correct or not; without retrieving the encrypted password. Also, we shouldn't allow retrieving of this predicate by query. It

[2017-01-08 07:13] gpsamson commented on #454
Is this improvement intended to be used by an application (customers) or by administrators and developers? If it's the latter, API keys would make more sense.

[2017-01-08 23:43] pawanrawal commented on #451
This was fixed

[2017-01-08 23:43] #451 closed

[2017-01-08 23:44] ashwin95r commented on #452
Fixed.

[2017-01-08 23:44] #452 closed

[2017-01-08 23:51] pawanrawal opened #455 "Dgraph process gets killed"
On Gru, Dgraph process gets killed because it takes up too much memory. This is after setting `stw_ram_mb` to 1000. Dgraph runs fine for sometime (3-4 days) and then gets killed. The machine has 4 GB RAM and other processes don't take up much memory. Could we free up some memory regularly? Or add some logs for the amount of memory being consumed by what?

I am attaching logs for `/var/log/kern.log

[2017-01-09 02:09] F21 opened #457 "Multi-tenant support"
It would be nice to be have support for multiple databases/graphs. For example, we can have a graph for each tenant in a dgraph cluster, rather than needing to spin up a cluster for each tenant.

[2017-01-09 04:35] gpsamson opened #458 "Dgraph doesn't respond when a query contains syntax error"
This mutation that has mismatched single and double quotes causes Dgraph to get stuck and not respond with a SyntaxError.
[code]

[2017-01-09 04:36] gpsamson commented on #458
I must have been staring at it too long. The mutation is failing because the mismatched single and double quotes.

The mutation works after that simple fix, but it brings up another issue - syntax errors.

[2017-01-09 06:43] gpsamson opened #461 "Dgraph v0.7.1 installs but --version flag shows v0.4.4"
Executing the curl command outlined in the getting started guide (https://wiki.dgraph.io/Get_Started#System_Installation) results in what looks like success. I previously had older versions of Dgraph installed but removed the old bin files before running the
installer.

No error or warning messages were shown so I assumed success. However, running `dgraph --version` returns v0.4.4.

Machine: 2015

[2017-01-09 07:48] manishrjain commented on #461
In this case, the mv failed; and the script exited before it could push the new binaries. We should make our script more robust in case of failure. It should clearly specify the error in case of such issues.

[2017-01-09 08:14] manishrjain commented on #455
This is most likely a leak in Cgo. We already know about it. So, not sure what can we do here.

[2017-01-09 08:17] gpsamson commented on #461
Pawan helped resolve the issue just now.

[2017-01-09 09:39] manishrjain commented on #458
@ashwin95r -- This doesn't get fixed even with your refactoring. I pulled it into my PR, but still hangs on this query. My PR is here: https://github.com/dgraph-io/dgraph/pull/462

[2017-01-10 01:38] manishrjain commented on #458
Okay. My PR now fixes this issue. Just waiting for review, and then will submit.

[2017-01-10 01:44] djhenderson opened #464 "dgraph loading golden data - watermark should be below"
I am following the install procedure in Get Started wiki page. At Step 4: Load dataset, the dgraph server stops with
`error.go:75: Watermark group: 1: 1812 should be below current mark: 1720`

Dgraph is running in VirtualBox VM running Ubuntu 10.4 and Dgraph 0.7.1. The dgraph server is running in the VBox console window. Dgraphloader runs in ssh terminal. Another ssh terminal monitors with top, df

[2017-01-10 02:26] manishrjain commented on #458
The PR is now submitted. Dgraph would no longer get stuck, and respond with a query parsing error. To use this feature, you will have to build Dgraph manually, until the next release.

[2017-01-10 02:26] #458 closed

[2017-01-10 02:51] #461 closed

[2017-01-10 02:52] manishrjain commented on #457
That's something we intend to work on soon.

[2017-01-10 03:00] manishrjain commented on #464
This is because we use a timeout-based technique to figure out about sync watermarks. The timeout is set to 1 minute, which is sufficient for fast machines, but not for slower machines. In this case, because you're running this in a VM (slow), it gets triggered.

I'll try and see if we could switch instead to a deterministic technique, instead of using timeouts.

[2017-01-10 03:57] djhenderson commented on #464
Update: I the p and w directories and restarted the server. Then I ran with this command line, and results:

    doug@minny:~/dgraph$ dgraphloader -c 10 -r goldendata.rdf.gz
    2017/01/09 20:22:31 embedflag.go:35: ICU is working fine!

    Processing goldendata.rdf.gz
    Number of mutations run   : 1121
    Number of RDFs processed  : 1120879
    Time spent                : 9m7.555990499s
    RD

[2017-01-10 05:08] #455 closed

[2017-01-10 05:45] manishrjain commented on #455
FWIW, I think we should use an 8GB instance.

[2017-01-10 05:46] #144 closed

[2017-01-10 05:46] manishrjain opened #466 "Update Dgraph version in Arch Linux"
The current version of Dgraph in Arch is 0.4.4. We should update it to 0.7.1.

CC: @trengrj -- You own that package. Can you please update it?

[2017-01-10 13:55] manishrjain commented on #101
@ankurayadav -- Seems like we should instead use MQL, which Cayley also supports. See Barak's comment here: https://discourse.cayley.io/t/cayley-vs-dgraph-benchmarks/562/8?u=mrjn

Note that I'd need these results in a week's time for Go meetup in Sydney; so would be great if you could put them together. Also, use other queries, if Cayley supports them. For e.g., these: https://wiki.dgraph.io/Get_S

[2017-01-10 20:43] djhenderson opened #468 "Error message after clean exit request"
After requesting a shutdown using

    curl -sS localhost:8080/admin/shutdown

I see these messages from the server

    2017/01/10 13:14:12 main.go:84: Got clean exit request
    2017/01/10 13:14:12 error.go:51: Error while serving http request error: mux: listener closed

or

    2017/01/10 13:28:14 main.go:84: Got clean exit request
    2017/01/10 13:28:14 error.go:51: Error while serving gRpc

[2017-01-10 21:05] ankurayadav commented on #101
@manishrjain I will dig into some MQL and will try to make some more benchmark queries in few days.
Will try to complete it within a week so that you can use it in meetup.

[2017-01-10 23:00] trengrj commented on #466
@manishrjain sure will do

[2017-01-10 23:28] manishrjain commented on #466
Note that we also now require setting an environment variable. This just needs to be passed to the Dgraph process. If you run `curl https://get.dgraph.io | bash`, you'll see those instructions.

Also, is there a way to automate this process? We always keep the script up to date; so could that potentially be used to update the AUR package?

[2017-01-10 23:53] manishrjain opened #469 "Make count a function instead of a child"
We currently do `predicate { _count_ }`. Instead we should do `count(predicate)` to get the count.

[2017-01-10 23:55] ashwin95r commented on #435
Addressed in de5bf8f9d6d172019442c91e174e36dc55fd724b.

[2017-01-10 23:55] #435 closed

[2017-01-11 00:11] manishrjain opened #470 "Allow single line comments in queries"
Using double slashes `//`. Ignore everything that we find till we reach a newline character. Would make reading queries easier.

[2017-01-11 09:54] ashwin95r commented on #469
Addressed by a4d91763ef01480fa1a78690d00815167c2920e4.

[2017-01-11 09:54] #469 closed

[2017-01-12 00:16] manishrjain commented on #464
Submitted. If you build the binary from master, it should now be able to work just fine on slower machines. Would be part of the next release.

[2017-01-12 00:16] #464 closed

[2017-01-12 02:24] manishrjain commented on #454
This is just for storage; so one could potentially do user authentication via Dgraph. This isn't really about client authentication with Dgraph itself. Agreed that the latter could be handled via API keys.

[2017-01-12 02:26] manishrjain opened #473 "Enable TLS on Dgraph nodes"
Enable TLS between all Dgraph nodes and clients, with certs provided by the user. Allow for beginners to run Dgraph insecurely via a flag.

[2017-01-12 02:28] manishrjain commented on #468
We should find a way to stop all the goroutines, start rejecting queries and do a clean shutdown ensuring that all the data from memory has made it's way to disk.

[2017-01-12 06:20] #430 closed

[2017-01-12 10:47] trengrj commented on #466
Hi @manishrjain

What is the purpose of the new icudata file? Should I add it by default?

I'm happy to give you ownership of the AUR packages if you want to update them in lockstep with your releases. The `curl | bash` approach is handy, but you can't put this directly into a package as you need to checksum binaries and install in a chroot to create a package.

[2017-01-12 13:40] manishrjain commented on #453
https://github.com/dgraph-io/dgraph/commit/952af7f9ba293502198c08c441c34fbf5f164bde fixes it. Though, we should reconsider having tok as a dep in the types package. Is that the right place for it, @jchiu0?

[2017-01-12 13:40] #453 closed

[2017-01-12 21:20] manishrjain opened #479 "client.Query function is missing"
I can't find it in our Go client. But the documentation says that that's what we should be using.

[2017-01-12 21:25] manishrjain commented on #479
Sorry, looks like confusion on my side.

[2017-01-12 21:25] #479 closed

[2017-01-12 21:25] manishrjain opened #480 "Update client wiki page"
The client wiki page is a bit stale. Update it.

[2017-01-13 03:47] dmonay commented on #446
@manishrjain @djhenderson  I'd like to take this on.

[2017-01-13 04:00] pawanrawal commented on #446
Hey @dmonay go fot it. Happy to accept a PR.

The md5 sums are written while building the dgraph binaries which is in https://github.com/dgraph-io/dgraph/blob/master/build.sh and then they are read and verified as part of the `getdgraph.sh` script https://github.com/dgraph-io/website/blob/master/getdgraph.sh. Also note we had to use `md5sum` for Ubuntu and `md5` for Mac so see if you can find some

[2017-01-13 04:52] pawanrawal commented on #434
The next action isn't very obvious here. The release happens infrequently enough that we don't need to spend time automating this beyond the tools we already have in place.

[2017-01-13 04:52] #434 closed

[2017-01-13 08:33] amosbird opened #481 "Add a flag to listen other than localhost."
As discussed on slack, this is a nice feature to have.

[2017-01-13 09:12] MikeLeonard opened #482 "Add datetimenano as new scalar type?"
The datetime scalar type looks like it goes down only to second-level accuracy.

When I was looking into RFC3339 I came across RFC3339Nano in go's time package. Could this be added as a scalar type? (perhaps called datetimenano?)

I think being able to store and sort by time at a sub-second granularity could be useful to users. With the speed of dgraph, a whole second seems like a lot!

[2017-01-13 09:18] MikeLeonard opened #483 "(Re)Implement go client helper functions"
Hi

The go client needs helper functions for the various types e.g. Int, Str, Float as well as Geo, datetime, etc.

This was mentioned on slack by @pawan. I'm keen to help the development of the go client move along, so thought I'd help by creating an issue to track this.

Previous helper function code:
[helper functions](https://github.com/dgraph-io/dgraph/commit/e6712d9023b1c7bab8c88e2bd236335af

[2017-01-13 09:19] MikeLeonard commented on #483
Copy of slack chat:

pawan [10:08 PM]
c.Query was changed to c.Run (edited)

[10:08]
forgot to change the Wiki earlier.

[10:09]
@mrjn https://github.com/dgraph-io/dgraph/commit/e6712d9023b1c7bab8c88e2bd236335afeff3558 these helper functions are required by the client.

[10:10]
infact we should have wrapper functions for all of Int, Str, Float as was the case earlier before we introduced dependenc

[2017-01-14 00:23] pawanrawal commented on #483
Hey @MikeLeonard, thanks for creating an issue. @manishrjain would be working on  moving the tok package out of types. Once that is done, maybe you can take up the task of re-implementing these functions. Happy to accept a PR.

[2017-01-14 01:44] manishrjain commented on #362
@ankurayadav -- This is going to be a big change affecting the entire code base. So, one of the core team members is better suited for this.

[2017-01-14 02:28] manishrjain commented on #482
I think we should make datetime go down to the nano-second level. I didn't realize that we only store up to seconds.

[2017-01-14 02:49] manishrjain commented on #481
https://github.com/dgraph-io/dgraph/commit/c75ffa2dcb943aaa318d3d07a18c83524be01f64 adds a new flag to allow for that. For now, set both server and workers to use this flag for choosing localhost v/s 0.0.0.0. If users need them to be set differently, we can make changes accordingly.

[2017-01-14 02:49] #481 closed

[2017-01-14 14:22] dmonay commented on #369
@manishrjain I'd like to take this on.

[2017-01-14 18:48] ankurayadav commented on #101
@manishrjain I tried to do benchmarks with existing support of MQL in cayley but looks like it doesn't support filters yet.
So, I just did benchmarking on two queries which I was able to perform on caylay using MQL.
I will redo benchmarking when cayley fully supports MQL.
Results are available here.
https://github.com/ankurayadav/graphdb-benchmarks#results-of-queries-benchmark-1

[2017-01-14 20:56] manishrjain commented on #369
Go for it.

[2017-01-15 23:40] clanstyles opened #487 "RDF import doesn't support comments (#)"
According to the spec, https://www.w3.org/TR/2014/REC-n-triples-20140225/, lines with comments start with #. It should be noted that you are allowed to place comments at the end of a line too.

I've chosen an example from DBPedia which is small and still fails.

I've provided a few commands decompress and then recompress as a gz for the bulk loader.

error:
[code]

[code]

[2017-01-15 23:42] clanstyles opened #488 "Colons and slashes don't seem to be supported in IRIs"
I will assume that the same dataset from #487 will also fail. If you attempt to bulk import any large dbpedia files, eventually they fail on an unknown character.

[2017-01-15 23:55] djhenderson commented on #487
A short sed script should fix strange input in intrim.

    sed  -e 's/#.*$//' < inp >outp

Does # need escaping here?

[2017-01-16 00:18] manishrjain commented on #483
@jchiu0 is working on that refactoring.

[2017-01-16 00:28] pawanrawal opened #489 "Issues with watermark"
While trying to load this http://downloads.dbpedia.org/current/core/mappingbased_objects_en.ttl.bz2 faced a couple of issues. Two times the loader got stuck, the server displayed

[code]
in logs.

At other time the server crashed with x.Water being nil on line 336 in posting/list.go. I can't seem to reproduce it after trying it a couple of times now though.

[2017-01-16 00:39] clanstyles commented on #487
I'd argue that # is apart of the spec and should just be supported/ignored. Additionally, even if you remove #'s with a sed, there are additional crashes. The dbpedia system uses # in their URIs. Check the following example:

[code]

[2017-01-16 00:59] clanstyles commented on #482
I like the idea of another scalar type. In a lot of situations the additional space required to store nanoseconds could cost a lot if it's not actually needed.

[2017-01-16 01:16] manishrjain commented on #489
The log is alright. It just says that it's not goint to take another snapshot; because we're caught up.

the `water` being nil is the strange case.

[2017-01-16 04:02] nlothian opened #491 "ICU_DATA breaks Java on OSX"
After installing the ICU data on OSX following the instructions at https://wiki.dgraph.io/Deploy#String_indexing Java stopped working with the following error:

`~ java`

` 2017-01-16 14:29:16.193 java[1110:14026] [JVM Detection] FillMatcher: failed to create CFNumberFormatter`

Un-setting the ICU_DATA environment variable fixes the problem.

[2017-01-16 05:33] lazharichir opened #492 "Does dgraph have a browser client for querying?"
Hello guys, exploring between Cayley and Dgraph for a future project and was wondering if Dgraph was embedding a browser client similar to Cayley to easily get started with some test queries?

[2017-01-16 05:35] lazharichir commented on #492
Oops, can delete. Just going to use Postman.

[2017-01-16 05:35] #492 closed

[2017-01-16 05:42] lazharichir opened #493 "Query films by Steven Spielberg ONLY?"
Basing myself off of the Query Language documentation, I am struggling with a simple query: listing the movies by steven spielberg and only him (exact match.)

`{
  director(eq("type.object.name.en", "Steven Spielberg")) {
    type.object.name.en
    film.director.film (orderdesc: film.film.initial_release_date) {
      type.object.name.en
      film.film.initial_release_date
    }
  }
}`

So I us

[2017-01-16 05:58] manishrjain commented on #493
You can set the exact id of the right "Steven Spielberg" in the query, using `{ director(id: <hex-id>) { ... }}`. To find the right id, you could do something like this:

`{ director(allof("type.object.name.en", "steven spielberg")) { film.director.film { _count_ }}}`

That way you can check which entities have directed a bunch of movies, and then only query the movies for that entity.

[2017-01-16 06:21] lazharichir commented on #493
But how to return the entity/director's _xid_?

`
{
	director(allof("type.object.name.en", "steven spielberg")) {
		type.object._xid_
		type.object.name.en
		film.director.film { _count_ }
	}
}
`

returns

`
{
  "director": [
    {
      "film.director.film": [
        {
          "_count_": 39
        }
      ],
      "type.object.name.en": "Steven Spielberg"
    },
    {
      "film.director.fil

[2017-01-16 06:32] lazharichir commented on #493
Alright, I'm getting there in two distinct queries:

Getting the id:
[code]

Getting the list of all movies by this entity/director/id:
[code]

But, this means I have to do two separate queries, is there a way to embed the first one in the second query instead of '0x3b0de646eaf32b75' so it returns the actual hex id, or does that need to be handled by the application layer?

[2017-01-16 06:56] manishrjain opened #494 "Filtering by count"
We need to support a way by which we could filter entities by a count of their children.

For e.g.,

[code]

This would only return those entities with name `Steven Spielberg`, who have directed at least one movie; and then run the body of the query just for those entities.

[2017-01-16 06:58] manishrjain commented on #493
You can do that at the application level, even in the original query. Discard any entities who don't have results for `film.director.film`.

However, we should provide a way by which you could filter out any entities who haven't directed any movies. I've filed an issue to that effect. https://github.com/dgraph-io/dgraph/issues/494

[2017-01-16 07:00] lazharichir commented on #493
Awesome for the milestone!

Thanks — will keep on exploring further to see how it could work for my
application.

On Mon, 16 Jan 2017, 13:58 Manish R Jain, <notifications@github.com> wrote:

--

Lazhar
*Founder*

*Breeding Business*
breedingbusiness.com

[2017-01-16 07:57] manishrjain commented on #493
Alright. I'll close this issue, you can track #494 as mentioned above to see the filtering by count feature which would help with this case.

[2017-01-16 07:57] #493 closed

[2017-01-16 10:48] lazharichir opened #495 "Using weighted edges between two entities with Dgraph?"
Working on a small project of my own, most likely will remain a hobby, it stores **Topics** that my application layer qualifies following several rules, and once qualified, inserts it in my graph database.

Once that's done, for that given topic, the application retrieves content from top n pages, wikipedia, amazon, etc... and qualifies a list of **Terms** (n-grams, where n is between 1 and 5) are

[2017-01-16 11:52] manishrjain commented on #495
Repeating from the discourse topic:

We don't have a way to attach weights to edges. That's been on my mind for a while, as something we should implement. But, hadn't come across a good use case to warrant it.

What kind of queries would you run, which could utilize the weights? Would you use these as filters? Or, as a way to sort the nodes at the end of the edge?

[2017-01-16 12:32] lazharichir commented on #495
The project is basically building a knowledge graph of topics with terms associated before even doing anything. Topics would mainly be drawn from wikipedia, amazon categories, quora, stackoverflow, etc.

Then, many topics will share some terms but I cannot afford to have the same relationship between `topic a` and `term x`, and `topic b` and `term x`, if clearly the probability of `term x` being u

[2017-01-16 21:31] manishrjain commented on #495
Understand the point about the weight data and why it's useful. But, can you shed more light on what you want the queries to do, in terms of using this data? How would they use the weight?

For example, are the queries just going to return the weight data; or do you want the database to do something more, like filtering or sorting or something.

[2017-01-16 21:52] djhenderson commented on #495
I think this idea is along the lines of Neo4J edge attributes. The edge
weight could represent the cost of using the edge aka a network path or the
length or travel time if the edge was a salesman's route. Neo4K takes it
further with unlimited attributes on the edge.

On Jan 16, 2017 2:31 PM, "Manish R Jain" <notifications@github.com> wrote:

[2017-01-16 21:53] colek42 commented on #495
With a weighted graph you can find the shortest path to an object.  A perfect use case would be loading OSM data into dgraph..finding the fastest way from point a to point b,  finding the cheapest set of flights to a location.

A question that one could answer, find me the nearest ice cream (by travel time) shop that serves rocky road, optimize routing for IP traffic, etc.

[2017-01-16 22:23] manishrjain commented on #495
RDF NQuad spec doesn't provide a way to accept weights. So, I think to support this case, we'll have to modify how we accept mutations to Dgraph. Maybe something like this might work -- in slight deviation from NQuad spec.

[code]

[2017-01-17 00:00] manishrjain commented on #483
@jchiu0 has already implemented the move. So, I think we can bring back the helper functions. @pawanrawal -- I leave it to you to get this resolved.

[2017-01-17 01:17] manishrjain opened #497 "Shortest path queries"
We need to support shortest path queries. The main challenge here would be to figure out the right way to express it in GraphQL+-; and how to express the result in JSON.

We'll also want to consider the weight of the edges, which is a separate issue #495.

[2017-01-17 01:37] pawanrawal commented on #483
Hi @MikeLeonard. Do you want to take a go at it?

[2017-01-17 03:07] lazharichir commented on #495
Yes, the idea is to find the shortest path from one entity to another when the number of objects in between them are the same, but their relationships aren't weighted the same. It would be used for sorting and filtering ideally within the query to get the most relevant results returned. Thanks everybody!

[2017-01-17 07:56] pawanrawal opened #499 "Orderdesc doesn't result returns but order does."
To reproduce try loading this https://github.com/dgraph-io/benchmarks/blob/master/data/neo4j/neo.rdf.gz with the goldendata.schema using the loader and then perform this query.
[code]
This returns results for order but not orderdesc.

[2017-01-17 08:02] MikeLeonard commented on #483
Hi @pawanrawal
I'm afraid I haven't got the bandwidth at the moment. As I play with and test dgraph though I'll try to contribute with feedback/issues/help with docs. Down the line when I'm a bit more free I'll set up the various dev dependencies and look to help out more.

Thanks for working on the helper functions though. Once you've got them in I'll

[2017-01-17 08:23] MikeLeonard commented on #495
Just to feed back, edge weights would be great. One of the things I checked early on (having used neo4j previously) was whether ngraph supported edge weights and edge attributes in general.

I've briefly used neo4j in the past to perform routing with Open Street Map data using edge weights for travel time like @colek42 mentions.

And for dgraph I have a use case similar to what @lazharichir mentio

[2017-01-17 08:56] pawanrawal commented on #483
No worries @MikeLeonard. I will implement them. Reopening the issue.

[2017-01-17 09:05] MikeLeonard commented on #495
**TLDR**...
I think having the option of multiple (possibly-directed) edge weights and general attributes would be ideal. Is there a way to use use a unique id per predicate to do this? And then keep as close to Nquad syntax as possible and store these edge weights/attributes in separate nquads.

Quick thought on the implementation...

If a posting list looks like this...

Entity Attribute ValueId

[2017-01-17 09:08] MikeLeonard commented on #495
**Side node:**
Where edge attributes really shine I think is with advanced queries. If dgraph is as fast as it sounds, then maybe writing a single query to do something complicated isn't always necessary. Once could run a query and if needed aggregate and compute client-side, and store the intermediate results in the graph on individual edges, and then do queries using these edge results.

E.g. on

[2017-01-17 09:12] MikeLeonard commented on #482
Yeah that was my thinking. Good to save space if you just want to store a specific day of the year or hour or even second.

If two are implemented, would be good to be able to switch between the two (at least datetime -> datetimenano if you later decide to get more granular with time).

[2017-01-17 09:23] manishrjain commented on #495
@MikeLeonard : So, in this query: [find the top 10 friends of my 3 best friends who I'm not friends with], it would look something like this:

[code]

So, if we can order by weight, we can execute the query easily.

[2017-01-17 10:14] manishrjain commented on #466
Sure, feel free to send me the ownership. I think for now our focus is on the get.dgraph.io script. As we reach v1.0, and start to publish packages for Linux distributions, at that time it would make sense to also maintain the AUR package. I doubt people run Arch as a server; so might not make sense to maintain it on an ongoing basis.

[2017-01-17 10:25] lazharichir commented on #495
But without weight, my topic/term example becomes difficult when it fact it is a perfect use of graph database. The only way to do it properly and efficiently is to add weight to each edge between TOPIC->PREDICATE(weight = 0.95)->TERM so when querying, we can sort and/or filter by the edge(s)' weight.

If at first it cannot be performed through a query (computing the shortest path) then it would b

[2017-01-17 10:40] #466 closed

[2017-01-17 10:43] manishrjain commented on #482
We use https://golang.org/pkg/time/#Time.MarshalBinary, which uses 16 bytes to store the time, irrespective of whether it has nanoseconds or not. So, it doesn't affect space usage.

[2017-01-17 16:18] MikeLeonard commented on #483
Oops sorry didn't mean to click close!

[2017-01-17 16:20] MikeLeonard commented on #482
Ah well in that case then making sure that datetype stores nano seconds is the way to get then great.

[2017-01-17 17:28] MikeLeonard commented on #495
# tldr

So I've had another idea separate to the predicateUID idea above.

Let's take your example @manishrjain...
[code]
How about: under the hood dgraph stores the edge weights/attributes using an intermediate node like in the example. A bit like the @reverse edge feature, the query/mutation syntax could be extended so that when a user writes a filter or sort modifier on the -FRIEND-> edge in a

[2017-01-18 00:26] manishrjain commented on #495
It would be overly complicated to implement such a thing. We wouldn't know exactly which edges need to have intermediary nodes and which don't. So, this would essentially trigger either doing it for everything, which means every traversal would now be two traversals; or not doing it at all.

One could argue that for some predicates, a `@intermediate` keyword could be specified in the schema. But t

[2017-01-18 01:39] lazharichir commented on #495
@manishrjain not that I need that but do you think predicate attributes could also be strings? or to you, if you start giving too many attributes besides 'measures' (weight distance time) it should become an entity/node ?

[2017-01-18 02:21] djhenderson commented on #495
I was thinking of something similar to Micheal. My idea would look like this

 Alice - edge -> 'Friend(Alice,Bob)' - edge -> Bob

This amounts to a pair of triples

 Alice edge 'Friend(Alice,Bob)' .
 'Friend(Alice,Bob)' edge Bob .

Where 'edge' is a generic edge, and 'Friend(Alice,Bob)' is just a name for a unique node shared by only these two triples.

This, I think, lets one simulate the subject

[2017-01-18 02:33] manishrjain commented on #495
@lazharichir -- Yeah, I think if you have to give other attributes besides measures, those must be done via intermediate nodes. And in general, intermediate nodes must be something Dgraph is fed, as opposed to Dgraph creating and maintaining them.

@djhenderson: The `Friend(Alice, Bob)` is what I was referring to as intermediary nodes. And yes, anything can be attached to them easily. For example,

[2017-01-18 03:04] lazharichir commented on #495
That's what I thought and makes total sense - looking forward to these edge weights in the future, definitely a massive step ahead and I believe in the right direction!

[2017-01-18 04:08] ashishnegi commented on #470
GraphQL supports `#` as the single line comment format.
We already have support for that on master.
Closing this.

[2017-01-18 04:08] #470 closed

[2017-01-18 09:06] ashwin95r commented on #482
Hey @MikeLeonard, We already support storing nanoseconds in the datetime format. You can verify that by doing the following:
[code]

[2017-01-18 09:59] ashishnegi commented on #347
Looking at the IRIs grammar :

predicate 	::= 	IRIREF
IRIREF 	::= 	'<' ([^#x00-#x20<>"{}|^`\] | UCHAR)* '>'

In our code, we seem to be allowing any char in IRI. We need to restrict that.

@the42 Your bug description was `doesn't allow predicates (subjects too?) to contain all of the allowed characters` . Can you give example of what characters were not allowed ?

[2017-01-18 10:01] the42 commented on #347
I think the ':' as in http://www.w3.org/2000/01/rdf-schema# was offending.

[2017-01-18 10:22] ashishnegi commented on #347
@the42  An IRIRef has to start with `<` and end with `>` .
In the `rdf-schema` link you shared, i can not see any predicate following it.
If i add `:` in predicate of any of rdf tests we have, they still pass.

[2017-01-18 11:00] the42 commented on #347
I meant <http://www.w3.org/2000/01/rdf-schema#> of course. These did not work like in the following:
S - P - O:
<http://data.bmf.gv.at/application#AE> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://data.bmf.gv.at/application> .

[2017-01-18 14:41] MikeLeonard commented on #482
That's great news. Thanks a lot for the example.

[2017-01-18 14:41] #482 closed

[2017-01-18 17:47] matthiasg opened #504 "Support scalar types in RDF Quads while indexing or update schema at runtime"
dgraph should either support RDF Quad Syntax with type annotations as defined in https://www.w3.org/TR/n-quads/  or allow adding/updating schema via the network apis.

Right now the only way to define non string types is during boot up of the server. This is quite unusual for a database (at least none of the other databases we support require this) and makes it basically impossible to integrate dg

[2017-01-18 21:34] matthiasg commented on #504
I might have tested incorrectly . Using xsd prefix and not xs I will retest

[2017-01-18 21:34] #504 closed

[2017-01-19 04:29] manishrjain opened #509 "Query hangs forever"
{
  D as directors(allof("type.object.name.en", "steven spielberg")) {
    film.director.film {
    }
  }
	directors(D) {
    type.object.name.en
		film.director.film (orderdesc: film.film.initial_release_date) {
      type.object.name.en
      film.film.initial_release_date
		}
	}
}

[2017-01-19 04:37] manishrjain opened #510 "Crash when executing var query"
[code]

goroutine 367 [running]:
panic(0x9c0fe0, 0xc420012120)
	/usr/lib/go/src/runtime/panic.go:500 +0x1a1
github.com/dgraph-io/dgraph/algo.IntersectWith(0x0, 0xc42087eb00)
	/home/mrjn/go/src/github.com/dgraph-io/dgraph/algo/uidlist.go:25 +0x29
github.com/dgraph-io/dgraph/query.ProcessGraph(0xf35b80, 0xc421ce08d0, 0xc4200a2dc0, 0xc4200a2b40, 0xc4201965a0)
	/home/mrjn/go/src/github.com/dgraph-io/d

[2017-01-19 07:18] squalfof commented on #488
hi, i tried http://downloads.dbpedia.org/current/core/mappingbased_objects_en.ttl, with '#' been filtered and dgraph works well.
Could you provide some more examples relating to this issue ?

[2017-01-19 08:51] squalfof commented on #489
`2017/01/19 16:38:00 lists.go:136: Commit counters. done: 35994 noop:     0
[1454] Writing batch of size: 6862
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0x41de5a6]

goroutine 10473 [running]:
panic(0x45bcfe0, 0xc4200120b0)
	/usr/local/Cellar/go/1.7.4/libexec/src/runtime/panic.go:500 +0x1a1
github.com/dgraph

[2017-01-19 09:33] squalfof commented on #489
If no one's on this, can i pick this one ?

[2017-01-19 09:59] manishrjain commented on #489
I fixed at least one part of this today. Can you pull master and double
check, if you can still reproduce this bug.

Sent from Nexus 6P

On Jan 19, 2017 8:33 PM, "KG.Xu" <notifications@github.com> wrote:

[2017-01-19 10:22] clanstyles commented on #488
I'm on it!

[2017-01-19 11:51] clanstyles commented on #487
I'm using this dataset

[code]

And I'm running the following command
[code]

The output is the following error
[code]

I build the version of dgraph from
[code]

using ./build.sh

[2017-01-19 13:19] squalfof commented on #487
@clanstyles i grep the lines that include "-0063-09-23" as you mentioned,
[code]
While schema#date should take the form as yyyy-mm-dd.
I thought those two lines are invalid input ?

[2017-01-19 13:38] squalfof commented on #487
Besides, once an invalid line is encountered, we should not stop there, instead, we should continue reading the rest lines ?

[2017-01-19 19:49] clanstyles commented on #487
It looks like it's the first line, which is a comment.

[code]

[2017-01-19 21:22] clanstyles commented on #487
Dug into it more, removed the comment line and tried to reprocess it. I'm assuming the following records are what are triggering it.

[code]

[code]

[2017-01-19 23:48] squalfof commented on #487
@clanstyles agree with you about those two lines.  As they seems to be in incorrect format, refuse them is fine.  Therefore, please remove those two lines to continue ?

[2017-01-20 05:14] manishrjain commented on #440
Are you able to reproduce this. If so, can you fix this?

[2017-01-20 05:16] manishrjain commented on #132
This can wait until we go into distributions.

[2017-01-20 05:16] #132 closed

[2017-01-20 05:16] #446 closed

[2017-01-20 06:18] ashwin95r opened #514 "Tests in query package crash"
[code]

[2017-01-20 06:44] ashishnegi opened #516 "Tests under /query are unstable"
On travis ci and local machine , go test in `/query` directly fail for random test.

One of the failure case : [travis-link](https://travis-ci.org/dgraph-io/dgraph/builds/193641441)
Since, different tests fail every time, something common to tests and concurrent must be the problem.
Every test does its own setup of test directories and db connections.

[code]

If one does a rebuild of tests, they

[2017-01-20 06:45] ashishnegi commented on #516
Oh.. did not notice that @ashwin95r has already created it. closing.

[2017-01-20 06:45] #516 closed

[2017-01-20 07:41] ashwin95r commented on #509
Fixed by 692a8ddaee5fd7bf063fb3bdfd8d2bf0af89a277.

[2017-01-20 07:41] #509 closed

[2017-01-21 06:17] trengrj commented on #466
Sure ok @manishrjain I disowned the packages and you should be able to reclaim them
https://aur.archlinux.org/packages/?O=0&SeB=nd&K=dgraph&outdated=&SB=n&SO=a&PP=50&do_Search=Go

[2017-01-22 00:18] squalfof commented on #489
still could appear, given the newest version ("Bring back client helper functions") ,  with
posting/list.go from line 336 -> 337,
posting/index.go line 171 -> 173, diff with the last crash screenshot
[code]

[2017-01-22 10:00] pawanrawal commented on #483
This is done.

[2017-01-22 10:00] #483 closed

[2017-01-23 00:52] manishrjain commented on #514
This seems like an issue specific to testing. The `pstore` pointer is probably being replaced from underneath the goroutine which is writing data to that `pstore`.

I also can't reproduce it on my machine. Tests in query package pass 3/3 times.

[2017-01-23 01:57] pawanrawal commented on #499
Something is wrong around line 117 in `worker/sort.go`. When its orderdesc, it doesn't enter the for loop below. I am not sure what pk.SkipRangeOfSameType does, but maybe that's causing an issue? Any idea whats wrong here @jchiu0?

[2017-01-23 02:56] manishrjain commented on #514
https://github.com/dgraph-io/dgraph/pull/520

[2017-01-23 02:56] manishrjain commented on #445
Confirmed that it's been fixed.

[2017-01-23 02:56] #445 closed

[2017-01-23 03:18] manishrjain commented on #514
Okay. Fixed now. Remove all the race conditions.

[2017-01-23 03:18] #514 closed

[2017-01-23 03:19] pawanrawal commented on #480
This is done.

[2017-01-23 03:19] #480 closed

[2017-01-23 03:32] manishrjain commented on #489
Looking.

[2017-01-23 03:51] ashishnegi commented on #347
@the42 We have fixed parsing of rdf as per spec.
Can you confirm the fix on latest master ? Or report any new bugs that you face.

[2017-01-23 04:02] manishrjain opened #521 "Need to support all RDF-valid characters in GQL"
[code]

[2017-01-23 04:04] manishrjain commented on #489
I was able to load up this entire data set, without any issues. Though querying the data is currently an issue: https://github.com/dgraph-io/dgraph/issues/521

[2017-01-23 04:24] manishrjain commented on #489
Ran it twice. Works for me. Please reopen if you can reproduce this on master.

[2017-01-23 04:37] #487 closed

[2017-01-23 23:52] pawanrawal commented on #499
This has been fixed.

[2017-01-23 23:52] #499 closed

[2017-01-24 01:28] jchiu0 commented on #491
Related issue: https://github.com/dgraph-io/dgraph/issues/429

I would have to revert the changes for #429 and look into why it doesn't work for the embedded binary.

[2017-01-24 03:21] manishrjain commented on #3
https://open.dgraph.io/post/benchmark-neo4j/

[2017-01-24 04:58] ashwin95r opened #525 "Support not operator in filters"
[code]

[2017-01-24 06:20] manishrjain opened #526 "Support ignore directive"
For a query like this:

[code]

We get a lot of nesting in the results, which is annoying to parse, particularly if you are only interested in certain levels.

I propose adding an `@ignore` directive, which would attach the children of that level to its parents.

`A --> B @ignore --> C`  converts to `A --> C`. I think this can be done after generating the result outputnode tree, and before they're

[2017-01-24 06:41] manishrjain opened #527 "Support normalize directive"
Picking up this same query from #526.

[code]

We should support `@normalize` directive, which could be added at the root, and would return a **list of map of all aliases.** For e.g.,

[code]

would return

[code]

There would be one map entry per path in the resulting graph, and the whole thing would be attached to that block. Thus, multiple blocks within a query could choose to either normalize

[2017-01-24 06:53] manishrjain commented on #510
Tested again from master. Works now, no issues.

[2017-01-24 06:53] #510 closed

[2017-01-24 06:57] manishrjain commented on #361
@pawanrawal is working on checking if we can switch away from RocksDB entirely. Our access pattern is sort of suited for BoltDB -- given we currently batch our writes, while our reads are instantaneous.

[2017-01-24 08:11] ashishnegi commented on #521
Should be fixed by #524

[2017-01-24 08:11] #521 closed

[2017-01-25 08:06] jchiu0 commented on #491
Give it a try. It should be fixed now. Be sure to pull the latest from dgraph-io/goicu.

[2017-01-25 08:06] #491 closed

[2017-01-25 08:18] jchiu0 commented on #440
Yes, the error is very reproducible. Just change your time zone and you should see the test fail. Looking into the fix.

[2017-01-25 08:46] jchiu0 commented on #440
Committed fix. Just need to switch to UTC before getting year, mth, day.

[2017-01-25 08:46] #440 closed

[2017-01-25 09:41] squalfof opened #532 "Support Aggregation including: sum, max, min"

[2017-01-25 09:43] ashwin95r commented on #525
Done.

[2017-01-25 09:43] #525 closed

[2017-01-25 11:36] lazharichir commented on #532
Yes, was about to mention that... Jeez, 0.8 will be the most exciting release ever.

[2017-01-25 14:38] dmonay commented on #369
@manishrjain I'm still working on this.

[2017-01-26 01:26] pawanrawal opened #533 "Backup returns empty reply"
Backup seems to complete successfully but the request to backup returns an empty reply.

[code]

I was able to run the verify script and confirm that the source matches the destination which means the backup completed successfully.  Tried this after loading the 21M RDF but should be reproducible on a smaller data set too.

[2017-01-26 01:31] pawanrawal opened #534 "We don't return an error for wrong keywords."
[code]
Even though I have squalof, which should return an error since we don't recognize it, we return results for anyof. Similar if you would have anything except (order | orderdesc), like disorder above, results are returned in a random order. Probably we should be more strict and return errors?

[2017-01-26 04:36] pawanrawal opened #536 "Cant retrieve _uid_ predicate"
Loaded up the 21M RDF with the schema and tried this query.
[code]

Response -
[code]

[2017-01-26 08:22] pawanrawal commented on #536
Its been fixed https://github.com/dgraph-io/dgraph/commit/afa490b21228b17bbd4940f6f0bc9e252ca7643d#diff-4e7d4e154d69da3b4f28d2425c164162R275

[2017-01-26 08:22] #536 closed

[2017-01-27 00:19] pawanrawal commented on #533
This was because of the WriteTimeout of 60 seconds and when backup tried to write after 2 mins it wasn't able to. Increased the WriteTimeout to 150 seconds for now so that it works for 21 M RDF's. Go 1.9 might have a per handler level timeout and then we can set it to 60 seconds for other handlers.

[2017-01-27 00:19] #533 closed

[2017-01-27 02:09] manishrjain commented on #361
Put on hold, while I'm working on a RocksDB replacement.

[2017-01-27 06:14] manishrjain opened #539 "Query block not returned"
[code]

This doesn't return the result for `direct`.

[2017-01-27 08:16] manishrjain commented on #539
My bad. `direct` block didn't have any names in there, that's why no result.

[2017-01-27 08:16] #539 closed

[2017-01-30 01:35] manishrjain commented on #526
This might not be required due to normalize. So, do this after normalize.

[2017-01-30 01:43] manishrjain opened #543 "GUI to query Dgraph and to visualize results"

[2017-01-30 01:44] manishrjain opened #544 "Allow auto upload backups to Amazon"

[2017-01-30 02:43] ashishnegi commented on #534
Should be fixed with [commit #702f0392](https://github.com/dgraph-io/dgraph/commit/702f03921ddc88e57af5c5d9daca4427e21d927f)

Now we return :
`{"code":"ErrorInvalidRequest","message":"Invalid function name : shillof"}`

[2017-01-30 04:35] manishrjain commented on #337
Done! https://open.dgraph.io/post/benchmark-neo4j/

[2017-01-30 04:35] #337 closed

[2017-01-30 08:40] pmualaba commented on #1
Aggregations are not on the roadmap for 1.0, and neither after 1.0 ?
The ability to perform aggregations (COUNT, SUM, AVG, MIN, MAX, GROUP BY, DISTINCT,...) is clearly one of the main reasons you store data in a database in the first place and all acient and modern databases and database languages (SQL, CYPHER, SPARQL,...) support it. Why are they missing from the roadmap for DGraph?

Also for a n

[2017-01-30 08:46] ashwin95r commented on #1
@pmualaba: We're working on aggregate functions already! #532 It was missing on the roadmap. Thanks for pointing it out. We've added it now.

[2017-01-30 08:50] pmualaba commented on #1
You guys are lightning fast ;-) Great to hear that you're already working on this.

[2017-01-30 09:35] F21 commented on #457
Good to see that this might happen soon! 😄 Is there any reason why this is tagged as commercial? Most databases support having multiple databases in the base/open-source version.

[2017-01-30 14:53] tzdybal opened #547 "Remove parsing logic from lexer (GraphQL+-)"
Currently the lexer does too much, e.g. verifies the names of the directives. Some of the logic should be moved from lexer to parser to clearly distinguish the responsibilities.

I think this should be done before #526 and #527.

[2017-01-30 15:13] etix opened #548 "Lack of documentation on using the Go client"
The [Go example](https://wiki.dgraph.io/Clients#Go) given on the [clients documentation](https://wiki.dgraph.io/Clients) is interesting in the way it shows how to manipulate different properties on objects but doesn't really explain how to use dgraph in Go (and in other languages) to create a real-world graph.

In the [Gru](https://github.com/dgraph-io/gru) project you seem to be using an RDF-like

[2017-01-30 20:14] dmonay commented on #369
@manishrjain I'd like to get your input on implementation details. I’m operating under the assumption that a `nearest` query would look something like this:
[code]
with the last parameter being `N`, the query returning the nearest N queries to the provided point. We could maybe include an optional parameter `maxD` that could serve as another termination condition.

Following what the mongo blog po

[2017-01-31 02:47] ashishnegi commented on #534
Verified with @pawanrawal
Closing the issue.

[2017-01-31 02:47] #534 closed

[2017-01-31 02:48] manishrjain opened #549 "Store arbitrary key-values to each edge"
Many people have asked for this feature. We should be able to store key-value pairs our `Posting`, so users can attach relevant information to each edge.

The best way I find this useful is the `film -> intermediate -> actor` relation in Freebase film data. The intermediate node is only present to allow attaching character information. But, this small detail, impacts all queries which now have to

[2017-01-31 02:49] manishrjain commented on #495
Also filed #549 to handle the requests made by folks here and elsewhere on Slack.

[2017-01-31 02:51] lazharichir commented on #549
300% behind this idea!

[2017-01-31 03:04] pawanrawal opened #550 "Dgraph crashes while trying to load data."
I was able to reproduce the issue twice where probably `l.water` is nil in `posting/list.go`. This was while trying to load the 21million RDF's with the schema.
[code]

[2017-01-31 04:27] manishrjain opened #553 "Change how order is specified"
We should change how we specify order, and make it these two.

`orderasc: predicate`, or `orderdesc: predicate`.

[2017-01-31 06:00] pawanrawal commented on #527
This is now supported and merged to master.

[2017-01-31 06:00] #527 closed

[2017-01-31 08:03] pawanrawal commented on #526
We are not entirely sure of the use case for this, hence have decided not to implement this for now. We can prioritise it if someone thinks this is useful to them.

[2017-01-31 22:07] tzdybal opened #556 "Recent changes in goldendata.rdf.gz not reflected in tests"
Recent changes in ```goldendata.rdf.gz``` (dgraph-io/benchmarks@96dfcc2936b82a9481392b66432e58c7109c9025) are not reflected in ```contrib/loader.sh``` tests. This causes failures on builds of ```master``` branch.

```goldendata.rdf.gz``` was somehow cached on build servers and issue was not visible immediately. But when re-running Travis builds, tests are failing.

[2017-02-01 02:26] pawanrawal opened #558 "Malformed query crashes the server."
Found this from the debug logs of Dgraph server.
[code]

This crashes the server with the logs
[code]

[2017-02-01 03:27] manishrjain commented on #457
@F21 -- In Dgraph, there's no concept of multiple databases. In general, graphs can have clusters which don't touch each other; which is the equivalent of how databases work in SQL.

This issue is specifically to allow multiple clients running on the same cluster of Dgraph. Useful for providing Dgraph as a service by commercial entities; not useful for startups. Therefore, this goes under a commer

[2017-02-01 03:47] F21 commented on #457
@manishrjain Makes sense!

How much isolation can I expect between the clusters? I am interested in using dgraph as a backing store for a few graph-oriented microservices, and it would be much simpler operationally to run 1 dgraph cluster rather than a cluster for each service. However, it would be nice to prevent 1 service from accidentally modifying or reading data from the cluster of another se

[2017-02-01 04:16] manishrjain commented on #457
It would be data level isolation for everyone. For shared servers, it won't be resource level isolation. But, we'd allow you to have dedicated machines for certain clients; specified via the groups config file.

[2017-02-01 15:38] andreaferretti opened #562 "Post-hoc indexing"
Is there a way in dgraph to add indices to a running instance? From what I have understood, one can only declare a schema while starting the server. In practice, though, graph databases excel at merging data coming from non-homogeneous sources, and when a new dataset arrives, it would be nice to be able to add its schema

[2017-02-01 20:48] manishrjain commented on #562
Hey @andreaferretti,

We're working on a better design for our schema. It would be dynamic, so you can add and remove things on a running instance. Also, adding a new index would automatically trigger rebuilding the index for the existing data, and all new data that flows in would be indexed accordingly. All this is in works.

For now, in v0.7.2, what you can do is you can trigger an index rebuild

[2017-02-02 09:16] #558 closed

[2017-02-02 09:18] andreaferretti commented on #562
@manishrjain Thank you, I will the endpoint for now. By the way, how strongly is the schema enforced? I see I can easily add data that does not follow the schema (e.g. has some fields missing)

[2017-02-03 04:23] ashishnegi commented on #468
Should be fixed after commit [#3ab4d05](https://github.com/dgraph-io/dgraph/commit/3ab4d053b287918c25260ecf73de0f908a295650)
@djhenderson If it is possible for you, Can you check on current master branch ?

[2017-02-06 02:54] #553 closed

[2017-02-06 07:08] squalfof commented on #454
List some use cases:
1. user set password

- if not the first time then he should provide previous password as well:
    => left for user dev to deal with previous verify or,
    => Dgraph provide on api to do both verify-and-set ?

- what syntax should it take ?
    => via the normal form like "user password i-m-password", then inner component take special treatment on predicate 'password'
    =>

[2017-02-07 03:08] ashishnegi opened #569 "Duplicate results when using order on indexed predicate"
Running query :
[code]
Where we want all movies of director in sorted order by name.
However, result contains duplicate results. If a movie has 4 words like `Lightning in a Bottle` it comes 4 times. It happens because we search for each token separately and do not remove duplicates.

Result :
[code]

Expected result is each movie should come once and in sorted order by name.

[2017-02-07 10:16] jchiu0 commented on #562
Sure I will update the wiki and wrap this up.

[2017-02-07 11:35] jchiu0 commented on #562
Added a bit of documentation to https://wiki.dgraph.io/Query_Language#Indexing. Might want to close this issue.

[2017-02-07 13:08] andreaferretti commented on #562
Thank you

[2017-02-07 13:08] #562 closed

[2017-02-08 04:06] pawanrawal commented on #556
Travis was fixed, closing this.

[2017-02-08 04:06] #556 closed

[2017-02-08 16:43] roscopecoltran opened #573 "Aggregate additional data per entities"
Hi all,

Hope you are all well !

I was wondering if it would be possible to aggregate additional informations per entities, returned in a search result, by binding a recursive tree of local or remote micro-services, probably wrapped docker containers. (Kind of api gateway or aggregator of related data for each type of entities)

**Example**: get additional data about an actor from wikipedia, imdb

[2017-02-10 00:20] pawanrawal commented on #550
On latest master, this is still an issue. Latest logs
[code]

[2017-02-10 00:24] ashwin95r commented on #489
#550

[2017-02-10 02:12] #532 closed

[2017-02-10 02:38] manishrjain commented on #550
Found the issue. Submitted a fix: https://github.com/dgraph-io/dgraph/commit/583576793f9a99f269a6b71a40fd640ed4250254. Can you please verify the fix?

[2017-02-10 02:38] manishrjain commented on #489
Submitted a fix for #550. Please verify the fix.

[2017-02-10 02:47] manishrjain commented on #573
Hi @roscopecoltran,

I think such functionality is better handled outside the database. You can issue queries to the DB, retrieve results, then enhance them via calls to micro-services.

[2017-02-10 04:42] clanstyles opened #574 "Get a list of edges for a datastore"
When uploading a datastore, we might not know all the edges. Would it be possible to get a list of edges in some sort of "describe tables" fashion?

[2017-02-10 04:44] pawanrawal commented on #550
Verified twice, didn't crash. Looks like its fixed. Also did a new release v0.7.2-1 and pushed the latest binaries.

[2017-02-10 04:44] #550 closed

[2017-02-10 06:17] manishrjain commented on #574
Do you mean a list of predicates, or all data normalized. If you mean a list of predicates, we're already thinking of doing that.

[2017-02-10 06:29] clanstyles commented on #574
Yeah a list of predicates is what I mean. When using existing datasets it would be very helpful.

[2017-02-10 18:32] etix opened #575 "Weird output for date fields"
On 0.7.2, inserting a date using an NQuad:
[code]

and fetched back using a simple query like this:
[code]

causes a super weird output:
[code]

[2017-02-11 07:45] pawanrawal commented on #575
Hi @etix

You would have to unmarshal the value as mentioned https://wiki.dgraph.io/Clients#Go to get the date in `time.Time` format. We transfer back the data in bytes which has to be parsed by the client to get the actual date.

Though, I now think we can as well return back the date as string, which the client can parse using time.Parse(). I will make this change.

[2017-02-12 13:39] gacharya255 opened #576 "Uids() logic is now O(mn) instead of O(m+n)"
https://github.com/dgraph-io/dgraph/blob/master/posting/list.go#L574

We should not create a new iterator in each l.iterate call, if we assume that both lists are sorted.

There might be some other instances of this somewhere else.

[2017-02-12 14:19] gacharya255 commented on #576
Took a look at https://github.com/dgraph-io/dgraph/commit/3ca38ad0897c1ad690607408dd650598353882ce#diff-f5b1e11a19c25b553a4f15d3ef4594f6R137.

I found no other problems so far. I will commit a simple fix.

[2017-02-12 14:19] #576 closed

[2017-02-13 03:49] ajr1993 opened #580 "Assigned UID's are not returned in response when both mutations and query are present in http call"

[2017-02-13 18:57] AndreSteenbergen opened #583 "uuid not working as expected"
I have defines objectId : id @index
When I use allof instead of eq, it works as expected...

[code]
results in:
`{"me":[{"name":"TestWebsite","objectId":"e0247678-acae-5364-89d4-e61476892142"}]}`

But:
[code]
results in: `{"code":"ErrorInvalidRequest","message":"Expected only 1 token but got: [e0247678 acae 5364 89d4 e61476892142]"}` (edited)

[2017-02-13 19:04] AndreSteenbergen commented on #580
How does such request look like? I would be interested in using such requests

[2017-02-14 05:14] ashwin95r commented on #580
7ee8e6139b30b91253f9352be0ac10603ceab110 fixes this.

@AndreSteenbergen
[code]

[2017-02-14 05:36] ashwin95r commented on #497
We can now do shortest path queries as below.
[code]

[2017-02-14 11:55] AndreSteenbergen opened #586 "docker service crash after querying empty database"
to reproduce this issue run:

```docker run --rm -p 8090:8080 --name DGraph -v DGraph:/dgraph dgraph/dgraph dgraph --bindall=true --schema=my.schema```

then without mutating, just querying, the docker instance results in:
[code]
etc. the only way to recover is restart the server

[2017-02-15 07:13] pawanrawal opened #589 "Specifying mutations as part of query using the Go client doesn't run the mutations."
For e.g.
[code]

[2017-02-15 07:24] ashishnegi commented on #549
We can now store and fetch `facets` (edges' key values) from commit [fd5b1887fbbfd9b](https://github.com/dgraph-io/dgraph/commit/fd5b1887fbbfd9b25e352afbbe51939a6f3840f2) onwards.

[2017-02-15 07:28] pawanrawal commented on #589
https://github.com/dgraph-io/dgraph/commit/b555a00dc2e08201d664861a630dd5990f3a05a9 fixes it

[2017-02-15 09:46] mindplay-dk opened #592 "Full text search?"
No plans to support full text search?

There's nothing on the [roadmap](https://github.com/dgraph-io/dgraph/issues/1).

I'm more than a little interested in DGraph as an alternative to PostgreSQL as the back-end of application state, but I recall the days of struggling to integrate something like Solr for full-text search at the application-level, and don't wish to go back there.

Any plans (or co

[2017-02-15 11:03] etix commented on #589
Tested and it works as expected.

[2017-02-15 11:05] #589 closed

[2017-02-15 16:23] etix opened #594 "RDF Types ignored in mutations"
Based on the [documentation](https://wiki.dgraph.io/Query_Language#RDF_Types) and given the following example:
[code]

We expect `age` to be of type `int`, but it ends up being of type `string`.

[code]

[2017-02-16 02:15] #454 closed

[2017-02-16 02:54] #580 closed

[2017-02-16 08:29] manishrjain commented on #592
Hey @mindplay-dk,

Does term matching not work for you?
https://wiki.dgraph.io/Query_Language#Term_matching

What sort of queries do you intend to run?

[2017-02-16 08:32] manishrjain commented on #583
We should have a way to have an `id` type, where we store the string in it's entirety; so we can do equality comparisons over UUIDs and others.

[2017-02-16 08:46] ajr1993 commented on #583
you need to specify exact tokenizer in schema.
objectId : id @index(exact)

By default term tokenizer is picked up for strings which uses icu to tokenize the string and it splits up on "-".

[2017-02-16 10:34] etix opened #598 "[RFC] Go client response browsing"
This is a technical follow up of [this discussion](https://discuss.dgraph.io/t/golang-a-small-helper-for-manipulating-grpc-responses/1288) on Discourse.

The idea is to pick some interesting features from my Go helper ([xdgraph](https://github.com/etix/xdgraph)) and merge them into the official Go client.

I see two different ways to add similar functionalities to the Go client:
- Embedding the gR

[2017-02-16 15:47] etix commented on #598
I pushed some improvements today, notably the possibility of matching multiple attributes:
[code]
While the discussion goes on here, I will continue working on a real world application and see how far I can get using the library. I will make updates if necessary.

[2017-02-16 20:36] mindplay-dk commented on #592
Well, full-text search against article body content - presumably that would require a full-text search engine with language support and features such as stemming, stopwords, synonyms, etc. and special index-types.

It's not clear to me how indexing works - simply adding `@index` doesn't specify an index-type, so there's currently no way to specify index-types to optimize for different access patte

[2017-02-17 04:37] ashwin95r commented on #594
The type specified iduring mutation is the storage type and not the type that is returned. So this is expected behaviour. If you'd like to retrieve the value as an int, that has to be specified in the schema.

[2017-02-17 07:11] etix commented on #594
In my opinion it would be way more useful to able to specify the return type at runtime and maybe the storage type in the schema than the opposite. I don't really understand the rationale behind that choice.

Furthermore, it prevents a small application to be able to work out of the box with dgraph just by connecting to it (what I understood when reading the documentation). Instead it requires to

[2017-02-17 08:41] ashwin95r commented on #594
Sure, that sounds fair. We are working on a dynamic schema (#572) which would infer the schema from the mutation and that should address this specific issue.

[2017-02-17 10:44] manishrjain commented on #594
Yeah, dynamic schema would solve this issue. In the absence of a predefined schema type, the first mutation that we receive for a predicate (age in this case), whatever data type it specifies (int in this case), would be stored as schema type. Then any queries for age would always return data in `int`; which is what you expect from the system.

FYI: @janardhan1993

[2017-02-17 15:17] mpmlj opened #600 "Support UUIDs in Dgraph"
Hi guys,

I'm considering Dgraph as a graph-handling addition to the current primary db and we already have ids (UUID v4) for all objects, so naturally I would like to have the same keys in DGraph and looks like I won't need uids at all.
My concern is a statement that you [do not recommend using external ids](https://wiki.dgraph.io/Query_Language#External_IDs_.28_xid_.29).
I believe we will have a

[2017-02-17 16:58] manishrjain commented on #600
Hey @mpmlj ,

Yeah, instead of using UUIDs as external id, you can have an extra edge, which stores UUID, and index it. That way, you can still search for nodes via UUID, but Dgraph would also allocate its own IDs which would be unique, without any concerns about collisions.

For e.g., You can do this:

[code]

Index it using a schema which contains this line:
[code]

And then query it like so:

[

[2017-02-18 07:24] janardhan1993 commented on #594
@etix The changes are merged in master, you can take a look. In absence of predefined schema type, type is derived from the first mutation that we receive for a predicate. So in you case the schema would be set to int.
The data is converted to schema type if no storage type is specified or else it is stored as storage type(int in this case).

Later we will provide some way to update schema, so tha

[2017-02-18 09:56] AndreSteenbergen commented on #600
I am using this method as well right now. It works, there is only one real issue this way. writes are not idempotent anymore. Running this twice result in 1 write,
[code]

But running this twice, will result in two nodes, each having an edge UUID
[code]

[2017-02-18 10:03] janardhan1993 opened #603 "Race condition while running go test with -race flag"
Starting commit routine.
[   1] Writing batch of size: 1
==================
WARNING: DATA RACE
Write at 0x0000010ee978 by goroutine 61:
  github.com/dgraph-io/dgraph/posting.Init()
      /home/janardhan/go/src/github.com/dgraph-io/dgraph/posting/lists.go:331 +0x156
  github.com/dgraph-io/dgraph/posting.populateGraph()
      /home/janardhan/go/src/github.com/dgraph-io/dgraph/posting/index_test.go:1

[2017-02-20 04:23] pawanrawal commented on #586
Hi @AndreSteenbergen

I am unable to reproduce this, in fact I can't start the docker container because in `-v DGraph:/dgraph` , the path to the volume in the instance needs to be absolute (https://github.com/docker/docker/issues/4830), so it should be something like `-v $(pwd)/DGraph:/dgraph`.

Just to clarify, I ran
[code]
and my `pwd` contained a DGraph directory with a `my.schema` file in it.

[2017-02-20 04:27] pawanrawal commented on #598
Hi @etix

It would be good to have some of these helper functions as part of the Go client, that way new users don't have to download two different libraries while using the client. I would suggest sending a PR with the features you have till now and then we can deliberate over it?

[2017-02-20 04:28] pawanrawal commented on #489
This was verified and it works well now.

[2017-02-20 04:28] #489 closed

[2017-02-20 09:30] pawanrawal opened #608 "Uids returned after a mutation can't be parsed as JSON"
[code]

responds with
[code]

In which `0x5a2562f5106b54b7` should be a string.

[2017-02-20 10:41] manishrjain opened #609 "ListIterator bug"
[code]

[2017-02-20 11:25] ashishnegi opened #610 "Server crashes with `Tokenizer not present` when querying on unindexed predicate"
Fails with :
[code]
for test in `query_test.go` :
[code]

[2017-02-20 13:53] etix commented on #594
In the current master `<clara> <age> "32"^^<xs:int> .` creates a type `Bool`:
[code]

But for some reason (maybe unrelated) all the properties that are supposed to be strings, contains a `"prop": "name"` but without value.

[2017-02-20 16:32] etix opened #612 "docker/devel: building fails because of undefined symbol references"
Docker built this way: `docker build -t dgraph/devel .`

Native code is built successfully but the go part fails while building `github.com/dgraph-io/dgraph/icutok`.

[code]

A working workaround is to remove the `--disable-renaming` flag.

[code]

I didn't have much time to investigate so I just leave this here for now. But it seems related to #288.

[2017-02-20 17:03] AndreSteenbergen commented on #586
I am using docker 1.13.1 on windows. It is a named volume, that is created on the host machine, instead of the running directory. The command works for me. And the query is this: (the json parsing can be done better...)
[code]

[2017-02-20 17:03] AndreSteenbergen commented on #586
Maybe the filter part is the problem

[2017-02-20 17:05] AndreSteenbergen commented on #608
I have the same issue, I use ToString, followed by string to ulong in code ....

[2017-02-20 18:42] etix commented on #594
The bool issue was my fault (old version of the proto file on my machine) and the strings issue has been fixed in ad0648e48f8e46dd2389687b800a8395d2b1edb4.

[2017-02-20 22:40] pmualaba commented on #1
While playing with DGraph, there is one thing that doesn't feel quite right to me :
DGraph returns JSON format (which is great!),  GraphQL queries also uses JSON format (without values) which is also great! But GraphQL **mutations** only supports NQuad format?
I would like to see mutations also to be consistent in using JSON. As a matter of fact, there is already a W3C compliant RDF serialization

[2017-02-21 00:48] pawanrawal commented on #609
This has been fixed.

[2017-02-21 00:48] #609 closed

[2017-02-21 00:53] pawanrawal commented on #594
@etix Can we close this issue now?

[2017-02-21 00:54] pawanrawal commented on #583
@AndreSteenbergen Does this work for you? Can we close this issue?

[2017-02-21 01:03] pawanrawal commented on #586
Hi @AndreSteenbergen I am unfamiliar with the code that you have here. Could you also upload the raw query and the contents of your schema file so that I can run it through our HTTP endpoint and reproduce the crash.

[2017-02-21 01:05] #569 closed

[2017-02-21 01:20] #549 closed

[2017-02-21 01:20] pawanrawal commented on #497
Will be supported from v0.7.3.

[2017-02-21 01:20] #497 closed

[2017-02-21 01:23] pawanrawal commented on #543
A basic UI is supported from v0.7.3.

[2017-02-21 01:23] #543 closed

[2017-02-21 01:25] ashwin95r commented on #495
Shortest path queries (with weighted edges) are supported from from 6869cde5b1bc96bf8d372d4daf10030e28ac6ca0.

[2017-02-21 01:28] lazharichir commented on #495
Will try it out soon as it's at the core of my project so will raise an issue if anything goes wrong or if i see any improvement possible.

Thanks a lot guys, you truly are efficient.

[2017-02-21 01:31] pawanrawal commented on #494
[code]
works now, though `eq` for string only excepts a single token hence we have to do allof here.

[2017-02-21 01:38] pawanrawal commented on #612
Hi @etix

We haven't use the development image of Docker in a longtime. I will have a look at this and make the changes that are needed for this. Are you trying to develop Dgraph using Docker?

[2017-02-21 01:54] #468 closed

[2017-02-21 01:54] pawanrawal commented on #347
Closing this for now. Feel free to open if there is any issue.

[2017-02-21 01:54] #347 closed

[2017-02-21 01:55] pawanrawal commented on #468
Confirmed on master, feel free to reopen if there is any issue.

[2017-02-21 01:56] pawanrawal commented on #488
Closing this as its supported now. Feel to reopen if there are any issues.

[2017-02-21 01:56] #488 closed

[2017-02-21 01:57] #494 closed

[2017-02-21 02:15] ashwin95r opened #615 "DestUids must always be sorted"
[code]
Wont return results as we assume the list to be sorted but it isn't.

[2017-02-21 05:34] #610 closed