[2019-05-07 16:18] MichelDiz opened #3383 "RDF parser Bug with Unicode Character when Export."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.14, v1.0.15-rc4 and Master

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
32GB, Darwin.

- Steps to reproduce the issue (command/config used to run Dgraph).

This happened due a import from Twitter dataset from flock. The load was canceled:

[2019-05-07 16:19] codexnull commented on #3383
I'll take a look at this. It shouldn't be too hard to fix.

[2019-05-07 16:21] MichelDiz commented on #3383
BTW, the error only happens in export. If you query for the node the string will come correctly. I guess the JSON export could export correctly. I did not test because it is not ready.

[2019-05-08 01:16] gitlw commented on #3354
I tried the for loop twice, i.e. a total of 20 runs of the test, and couldn't reproduce the problem.
Closing this issue for now.

[2019-05-08 01:16] #3354 closed

[2019-05-08 16:56] codexnull commented on #3383
No the problem exists with JSON as well.

Exported:
[code]

dgraph live:
[code]

[2019-05-08 17:42] codexnull commented on #3383
Also, I don't think the problem is just with the export.  Doing

[code]
in ratel will also give the same error.

[2019-05-08 18:31] MichelDiz commented on #3383
This error with \a is because you need to add the escape tho.
` <_:uid2> <pred> "\\a"^^<xs:string> .`

When you export it will be fine
`<0x5> <pred> "\\a"^^<xs:string> .`

The whole issue is solved if you escape as recommends JSON standard. So or we add a escape and unescape between the parser or we warn users that this task is theirs.

[2019-05-08 18:37] MichelDiz commented on #3383
Or we could do a new feature like:
![Captura de Tela 2019-05-08 às 15 43 06](https://user-images.githubusercontent.com/6570955/57399198-2f62ec00-71a7-11e9-975a-9c1ed090a937.png)

[2019-05-08 19:02] codexnull commented on #3383
I understand that using "\\a" work, but that's not doing the same thing. "\\a" is including the characters '\' (ASCII 92) and 'a' ASCII (97) into the string. "\u0007" (and "\a") is inserting the single character BEL (ASCII 7). That's why the "\u0007" is converted to "\a" on export.

[2019-05-08 21:28] MichelDiz commented on #3383
Other very curious case related:

see [this](https://github.com/dgraph-io/dgraph/blob/4c21ad2e8c1b411d976c4ff13d130974d4d15385/chunker/rdf/parse_test.go#L510) (about this link, this tests are succeeded at all?)

[code]
If you send as Javascript Escape `\x02` and `\x07`. It will show in query result as Java standard Escape. But when you export it, only `\x02` will be back again to Javascript Escape

[2019-05-08 22:13] MichelDiz commented on #3320
Closing this, due inactivity. Feel free to reopen if necessary.

[2019-05-08 22:13] #3320 closed

[2019-05-08 23:40] zerbitx opened #3388 "Filter on recurse query not working"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.14

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
MacOS Mojave
2.9 Ghz Intel Core i9
32 GB Ram

- Steps to reproduce the issue (command/config used to run Dgraph).

Use the attached json file to add all randomized contact information (sorr

[2019-05-09 00:22] martinmr opened #3389 "Fix 21million tests"
After the `_predicate_` pred is removed, the 21million tests that use expand queries will not work anymore. In order to make them work again, type information needs to be added to the dataset.

- [x] Add dgraph.type triples to 21million dataset.
- [x] Add types to the schema (from the original freebase dataset).
- [ ] Fix fuzz-data tests.

[2019-05-09 12:21] vipulmathur commented on #3375
FYI, the way I identified the broken input file was by running `gzip -t` on each of the inputs.

[2019-05-09 19:21] codexnull commented on #3375
That's a good idea. Until dgraph includes a verifier, it may also be a good idea to pipe JSON input through `jq` or similar tool to verify they are no parsing errors. You could do `gzip -dc | jq . >/dev/null ` to catch both corrupted archive and malformed JSON at the same time.

If you're talking about adding a `dgraph verify` command, but I think that's the wrong way to go. The user is very likel

[2019-05-10 03:36] pawanrawal commented on #3366
I can look into this.

[2019-05-12 03:47] pawanrawal commented on #3366
This is a bug. While doing the first sort, we need to consider all the uids in the page where the offset falls, for subsequent sorts. I am working on a fix. The fix needs to happen both for `sortWithoutIndex` and `sortWithIndex`.

[2019-05-12 06:42] mangalaman93 commented on #3343
@codexnull will you point me to the version of code you are running?

[2019-05-12 07:44] Charrette opened #4023 "Provide a way to parse edges information"
A typical output of the following command
[code]

is:
[code]

This kind of json structure is ok when you know in advance the types you're getting, then you can unmarshal the result in a struct such as:
[code]

But the struggle begins when you have dynamic edges and you don't know all the existing edges type in your database in advance. In that case you'd prefer have a map of edges for instance.

T

[2019-05-13 13:01] paulftw opened #3401 "SIGSEGV in v1.0.14 acl"
**tl;dr**
`dgraph acl info -d=localhost:9080 -u alice` dies of SIGTERM in v1.0.14 on mac.

Steps to reproduce:

`docker-compose up` and in another tab:
[code]

[code]

**docker-compose.yml**
[code]

[2019-05-13 14:07] animesh2049 commented on #3343
Found another data race -
[code]

[2019-05-13 17:57] danielmai commented on #3401
Can you reproduce this on master?

[2019-05-13 17:58] martinmr opened #3403 "Import and export types"
Import and export should support types. Those functions currently only support schema.

[2019-05-13 21:24] mangalaman93 opened #3404 "Support Point in Time Recovery in Dgraph"

[2019-05-14 00:52] martinmr commented on #3267
Closing this issue as the panic has been fixed.

[2019-05-14 00:52] #3267 closed

[2019-05-14 07:27] sch00lb0y commented on #3326
I like to take this if no one is working on it.

[2019-05-14 07:59] #3343 closed

[2019-05-14 09:06] mangalaman93 opened #3411 "Data Races in Alpha & Zero"
* [ ] Data Race 1 in Alpha
 * [ ] Data Race 2 in Alpha
 * [ ] Data Race 3 in Alpha
 * [ ] Data Race 4 in Alpha
 * [x] Data Race 5 in Alpha #3432
 * [x] Data Race 1 in Zero #3417
 * [x] Data Race 2 in Zero #3417
 * [x] Data Race 3 in Zero #3417

Version: b4fb07777b6929ee873bfaa07d62cbb0f583acb7

## Data Race 1 in Alpha
[code]

[2019-05-14 09:07] mangalaman93 commented on #3411
## Date Race 2 in Alpha
[code]

[2019-05-14 09:07] mangalaman93 commented on #3411
## Data Race 3 in Alpha
[code]

[2019-05-14 09:07] mangalaman93 commented on #3411
## Data Race 4 in Alpha
[code]

[2019-05-14 09:08] mangalaman93 commented on #3411
## Data Race 4 in Alpha
[code]

[2019-05-14 09:12] mangalaman93 commented on #3411
## Data Race 1 in Zero
[code]

[2019-05-14 09:13] mangalaman93 commented on #3411
## Data Race 2 in Zero
[code]

[2019-05-14 09:14] mangalaman93 commented on #3411
## Data Race 3 in Zero
[code]

[2019-05-14 14:22] manishrjain commented on #3326
@sch00lb0y : Feel free.

[2019-05-14 23:05] insanitybit commented on #2505
If there's interest, I have an aws-cdk file that allows one to set up a distributed (HA) version of DGraph using aws fargate. It does not autoscale, as a downside, but it means your hardware/OS is fully managed.

[2019-05-14 23:17] martinmr commented on #3411
Manish and I looked at the entries in zero. All of them seem to be caused by the same issue. https://github.com/dgraph-io/dgraph/pull/3417 should fix it (refer to the description for an explanation).

For the race conditions in the query package, the Subgraph struct does not have a lock because the subroutines were supposed to operate on different parts of the data. The problem seems to be that po

[2019-05-14 23:19] martinmr commented on #3411
@mangalaman93 Can you run flock  again with #3417 to verify the race conditions in zero are gone?

[2019-05-14 23:19] good-idea commented on #2505
@insanitybit I'm interested!

[2019-05-14 23:21] martinmr commented on #3401
There's some ACL code in the 1.0 branch but I don't think the feature is complete in that branch. I don't think the acl command should be exposed in the 1.0 binaries.

@gitlw what do you think?

[2019-05-14 23:24] mangalaman93 commented on #3411
Will do, today. Thanks for looking into it.

[2019-05-15 15:32] danielmai commented on #3388
Hi @zerbitx, thanks for sharing an example data set and query for this issue report.

There are some things you can do to get the expected results with a `@recurse` query.

1. In a recurse query, all predicates must be specified as a single level after the root func.
2. Your schema describes `contact` as a string and `phone` as a uid edge to other nodes. So your filter to filter out UIDs should be

[2019-05-15 16:15] paulftw commented on #3401
Not reproducible in master.

@gitlw @martinmr I'm pretty sure if the code is in master it has also made it to 1.0.15-rcX releases. So if you want to pull back there isn't much time left to make the decision

[2019-05-15 16:15] #3401 closed

[2019-05-15 18:23] danielmai commented on #3382
Have you tried using the Dgraph Live Loader? It will run mutations by batching 1000 triples per mutation, with 10 concurrent mutations at a time. You could also do something similar in your own loading.

[2019-05-15 20:17] lolcoolkat opened #3425 "Ratel on Windows PC (# of queries bug)"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Latest

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
24GB of ram and Windows 10

- Steps to reproduce the issue (command/config used to run Dgraph).
1) Download the binaries you need for Windows
2) Run `dgraph zero` in a command window
2) Run

[2019-05-15 20:29] lolcoolkat commented on #3425
Seems like closing Ratel in the cmd window doesn't actually close the instance of Ratel? I can still go to http://localhost:8000/?latest or http://localhost:8000/?dev after its closed (back and forth).

[2019-05-15 21:32] #3383 closed

[2019-05-16 11:51] mangalaman93 commented on #3411
Data Race 5 in Alpha
[code]

[2019-05-16 14:38] andreib1 opened #3431 "Inconsistent behaviour when using cascade"
version: dgraph 1.0.14

Assigning query variables (in my case of type uid) within a block with @ cascade results in eliminated results being included

According to the documentation:

**_Query variables do not affect the semantics of the query at the point of definition. Query variables are evaluated to all nodes matched by the defining block._**

The fact that cascade has been applied on the defi

[2019-05-16 15:09] mangalaman93 commented on #3059
I think something like this could work too. `upsert` could be treated like a keyword like `var`. We can potentially have more queries in the block. We will only allow one upsert query in a block
[code]

If there are more than 0 values in v, then, we will do a simple update mutation. If not, in the case, we will generate new UIDs and run the mutations.

[2019-05-16 16:33] insanitybit commented on #3059
Just for my clarification, will this allow me to use a single query to perform multiple unrelated transactions?

I have a use case where I receive N node 'descriptions', and I need to create or update. Right now I use a single transaction for all of them - but this means that if any fails, it's treated as a total transaction failure.

I want each node create/update to be its own transaction, with

[2019-05-16 17:05] insanitybit commented on #2505
Cool, I just got it into master so it's easier to link now.

Here is the overall Fargate construct.
https://github.com/insanitybit/grapl/blob/master/grapl-cdk/index.ts#L933

There's two helper classes - one for Zero, one for Alpha.

Zero:
https://github.com/insanitybit/grapl/blob/master/grapl-cdk/index.ts#L755

Alpha:
https://github.com/insanitybit/grapl/blob/master/grapl-cdk/index.ts#L852

The go

[2019-05-16 17:24] danielmai commented on #1917
#3264 added a Dgraph helm chart in the contrib directory.

[2019-05-16 17:24] #1917 closed

[2019-05-16 17:24] #3388 closed

[2019-05-16 17:34] goern commented on #1917
we started working on a Dgraph operator is you are interested have a look at https://github.com/thoth-station/dgraph-operator

[2019-05-16 18:55] manishrjain commented on #3059
Notes from discussion:

[code]

[2019-05-16 19:01] martinmr commented on #3411
The data race in Zero has been fixed. I'll take a look at the latest data race in Alpha.

[2019-05-16 19:14] andreib1 commented on #3431
To illustrate:
Given the dataset
[code]
When this query is run:
[code]
this result is obtained:
[code]
When we modify the query to extract the uids like this:
[code]
the result includes records omitted by cascade:
[code]

[2019-05-16 21:02] martinmr commented on #3411
https://github.com/dgraph-io/dgraph/pull/3432 fixes the latest alpha race condition.

[2019-05-17 17:49] MichelDiz commented on #3431
Hey,

`@cascade` don't work like that as a filter to others blocks. It works only in its block context.
That is, if you add any variable, it will be captured anyway without going through the `@cascade` treatment. I see many users using `@cascade` that way, but I do not understand why they do this. `@cascade` isn't a filter. Maybe this could be thought in a future as feature, not sure.

So, for you

[2019-05-18 22:50] andreib1 commented on #3431
Thanks for your reply.  I now get that cascade runs independently to variable assignment.  This is a shame as it is a powerfull feature and there isn't a similar filter.

Sorry there was a typo, the query was trying to retrieve the posts visible to groups that this user was a member of.  So if should of read:

[code]
In this instance there doesn't seem to be an easy way of getting the posts visibl

[2019-05-18 23:11] MichelDiz commented on #3431
I didn't get it. Can you clarify?

[code]

[2019-05-19 02:57] manishrjain opened #3445 "Benchmark go-groupvarint for UidPack"
We currently use varint encoding to generate our posting lists. The encoder/decoder was written for code simplicity, not for performance. We should run some benchmarks to see how much performance we can gain with group-varint and SSE instructions, using https://github.com/dgryski/go-groupvarint.

The benchmark code is here: https://github.com/dgraph-io/dgraph/blob/742a9483908e074d4ab5101e79cd34dd3

[2019-05-20 12:34] Scapal opened #3446 "String field collation"
Let specify the collation for string fields (Ie. the way it is compared hence sorted).
For the moment lowercase and uppercase are handled differently when applying a sort.
This could also be used by text filters, the field collation determining if a letter with an accent should be considered as different or not.

[2019-05-20 16:46] liveforeverx opened #3447 "Feature request: detached delete for node"
### What you wanted to do

Possibility without query all related ids/delete this ids to delete nodes without leaving edges, which points to nowhere.

### What you actually did

As many people, delete node and forgot to delete edges, this will memory(edge) leak by leaving edges, which shouldn't exists still existing (may be dgraph should have background workers, which do cleanup of non existing ref

[2019-05-20 19:13] martinmr opened #3449 "Fix calls to fmt.Errorf and errors.Errorf"
Calls to this function that pass an error as parameter should call errors.Wrapf.
Calls to fmt.Errorf should be replaced with errors.Errorf

[2019-05-21 04:26] pawanrawal commented on #3366
This should be fixed with a79903037167fed83c0f8d7e39224ac783c66d56. Not sure what else has to be done before closing this issue. @danielmai do we also cherry-pick the commit onto the release/v1 branch?

[2019-05-21 04:44] danielmai commented on #3366
Any bug fixes should be cherry-picked into release/v1.0 to get into the v1.0.x series of releases.

[2019-05-21 05:40] pawanrawal commented on #3366
Thanks, I cherry-picked the commit into release/v1.0 but the CI doesn't seem to be happy about it.

https://teamcity.dgraph.io/viewLog.html?buildId=12506&buildTypeId=Dgraph_Ci, any ideas to what could be wrong here? I didn't change the `test.sh` script as part of my change.

[2019-05-21 06:39] Awoogamuffin commented on #3366
Thanks for looking into it!

[2019-05-21 14:10] andreib1 commented on #3431
I'm sorry, you are right.  That fully answers my query.  I guess it would be nice to be able to cancel cascade on sub-blocks, but I noticed that someone already raised that.

I am closing this issue as you have explained it to me, and I am satisfied there is no bug.

Thank you

[2019-05-21 14:10] #3431 closed

[2019-05-21 18:00] martinmr commented on #3366
@pawanrawal: I have reverted your change for now. Cherry-picks into release/v1.0 are supposed to follow the same process as changes to master (open a PR but set the target branch to release/v1.0).

There have been a lot of changes in master not in release/v1.0 so cherry-picking changes is not guaranteed to work. The current error is due to some changes in the test script that were not cherry-picke

[2019-05-21 21:22] pawanrawal commented on #3366
Thanks for looking into it @martinmr. I'll send a PR against `release/v1.0`.

[2019-05-22 15:27] MichelDiz commented on #3447
Example to reproduce this:

Data used: https://github.com/dgraph-io/dgraph/blob/master/dgraph/cmd/live/load-json/family.json

set name index to exac

[code]
[code]

Now delete Bart.
[code]

Now query for Homer and his parent_to

[code]

[code]

"Bart ghost still there"

[2019-05-22 15:44] MichelDiz commented on #3447
Temporary way to work around this:

Use Cascade https://docs.dgraph.io/query-language/#cascade-directive

[code]

### Count issue

Count don't solve with cascade, so you have to use filters. Btw you can always use filters to solve this if you don't wanna use cascade.

[code]

[2019-05-23 08:12] #3142 closed

[2019-05-23 08:44] VictorVisoki opened #3461 "Queries to dgraph that runs in testcontainer hang and won't respond after upgrade"
I'm using testcontainers to run dgraph instance in my integration tests,
my tests work with all dgraph versions till **1.0.13**.

When I try version **1.0.13** and **1.0.14 (latest)**, the test gets stuck on the first query to the database,
and won't get any progress from that point.

The test begins by persisting data into dgraph, this phase completes. It happenes before the first test method run

[2019-05-23 14:20] taik0 opened #3462 "Bulk loader give an data path error when using json"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.14

- Have you tried reproducing the issue with latest release?
Does not happen in master, but 1.0.15-rc still have the bug.

- What is the hardware spec (RAM, OS)?
Not related.

- Steps to reproduce the issue (command/config used to run Dgraph).
dgraph bulk --jsons data.json.gz --zero localhost:5

[2019-05-23 14:47] MichelDiz commented on #3461
Have you cleanup the path? If this is not a case of actual upgrade, just clean and start from scratch.
Otherwise you should read this https://docs.dgraph.io/deploy/#upgrade-database

[2019-05-23 15:11] VictorVisoki commented on #3461
This is a test that starts a clean container each time it runs. No previous data exists.
So every run is "clean and start from scratch". It is a test I run.
The only "upgrade" here is by starting to use dgraph version 1.0.14 instead of 1.0.11

[2019-05-23 15:27] MichelDiz commented on #3461
Okay,

So, I can't see where the problem is tho.
If you say there's no previous data and is starting from scratch the issue resides in something beyond my comprehension. You are doing basic processes that would at first work in any situation. So that lies in another scope.

Please, share logs during the event to give me a clear context of your side.

Cheers.

[2019-05-23 17:26] mangalaman93 opened #3463 "Use Stream Writer of Badger in Bulk Loader"
Useful Links -
  * https://github.com/dgraph-io/badger/blob/master/stream_writer.go
  * https://github.com/dgraph-io/badger/blob/master/badger/cmd/fill.go

[2019-05-23 19:35] #3462 closed

[2019-05-23 22:06] darrengarvey commented on #2894
Loading wikidata. It's tricky right now due to dgraph being strict in its schema enforcement (good) but difficult to ignore errors (bad, unless I missed the config option). The dataset is very useful and increasingly significant.

[2019-05-23 22:36] romshark commented on #2564
I think I faced a similar problem working on my [dgraph tech-demo](https://github.com/romshark/dgraph_graphql_go). I'm trying to implement pagination and this is the query I assumed to work:

[code]
Unfortunately, it seems like I can't use `p` as an argument for `after`:
[code]
I suddenly need 2 roundtrips to get the job done:
- fetch the `uid` by `id`
- then fetch the page using the `uid`

This i

[2019-05-24 14:13] romshark commented on #2693
Support for multiple isolated databases on a single server would significantly increase [API test](https://github.com/romshark/dgraph_graphql_go/tree/v1.1.1/apitest) execution speed which is [currently over 226 seconds](https://travis-ci.org/romshark/dgraph_graphql_go/jobs/536398668#L812) since all tests need to be executed serially! If I had the guarantee of isolated databases I could setup a dat

[2019-05-24 17:11] vipulmathur commented on #3335
@martinmr any estimate on when the configurable parameter might land?

Could someone please explain how increasing this number impacts Dgraph? That way we will be able to work with a manual change to the number. I want to know what range is safe to use in production.

[2019-05-24 18:39] martinmr commented on #3335
sorry for the delay. I have some cycles today so I'll try to get it in today. It should be included starting with version 1.0.15.

With respect to the performance impact we haven't done much testing. I'd say if your query without the normalize keyword works fine. there shouldn't be too much trouble. I'd start by setting the value to 15K and work up from there.

[2019-05-24 18:43] danielmai opened #3466 "Missing Raft index assertion failure"
#### What version of Dgraph are you using?
v1.0.15-rc9

#### Have you tried reproducing the issue with latest release?
No, not with v1.0.14 or master.

#### What is the hardware spec (RAM, OS)?
Amazon Linux 4.14.114-105.126.amzn2.x86_64, 8 cores, 64 GB.

#### Steps to reproduce the issue (command/config used to run Dgraph)
Raft WAL got into a bad state with a missing entry. I'm not sure how to rep

[2019-05-24 23:53] martinmr commented on #3316
Change has been made in master and the 1.0 branch.

[2019-05-24 23:53] #3316 closed

[2019-05-25 15:37] expelledboy opened #3469 "Useful util script for the get started website"
nvm

[2019-05-25 15:43] #3469 closed

[2019-05-26 14:21] VictorVisoki commented on #3461
Thank you for the response.

I noticed that there is some kind of correlation between the query projection size and this behavior.
I have a query that selects a list of properties, almost all are direct - this query never returns (in 1.0.14) and the test is stuck.

When I remove items from the projection and reduce it, it starts working.
In overall I see that for short projections, or results that

[2019-05-26 15:25] erhlee-bird opened #3470 "Regression with queries that use value variables causing panics"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

All experiments run with Dgraph Docker images from Docker Hub

dgraph/dgraph:master
dgraph/dgraph:v1.0.15-rc9
dgraph/dgraph:v1.0.14
dgraph/dgraph:v1.0.13
dgraph/dgraph:v1.0.12
dgraph/dgraph:v1.0.11

- Have you tried reproducing the issue with latest release?

Yes, see versions listed above.

- What i

[2019-05-26 16:00] MichelDiz commented on #3461
What is this "query projection"? The format seems like a GraphQL+- query, but isn't at all.

You logs feels okay to me.

[2019-05-27 07:28] VictorVisoki commented on #3461
This projection is part of my query, a valid standard query which I can run both from Ratel and from my java code against dgraph, here it is:

[dgraph_full_query.txt](https://github.com/dgraph-io/dgraph/files/3222350/dgraph_full_query.txt)
(this query and many others are used both in tests and in production)

I remind again that the problem is that once I switch from version 1.0.11 to version 1.0.

[2019-05-27 14:44] MichelDiz commented on #3461
Why do you have a extra nested block with unknown edge?

[code]

Your Query has a `has` function and `regexp` filter. And also a nested block with unknown edge. I think the sum of these factors causes Query to run for a long time. Using `has` your query will go through all the data that has "_is_Usp".

Try to run a more simple Query just to evaluate this hypothesis.

BTW, Why do you use commas bet

[2019-05-27 19:49] danielmai commented on #3461
@VictorVisoki Checking the trace for this query should show what's happening with your query in your test. You can view trace data either from the zPages from Dgraph Alpha or via Jaeger: https://docs.dgraph.io/deploy/#tracing. The query trace data is found under the trace name "Server.Query".

[2019-05-28 03:08] chuerxiao opened #3471 "Zero cannot complete the cluster join process when the disk write speed is slow"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
   v1.0.14

- Have you tried reproducing the issue with latest release?
   Yes

- What is the hardware spec (RAM, OS)?
   Machine: 3  VMs
   OS:  CentOS 7.3
   Memory:  8GB
  Volume: Cloud disk

- Steps to reproduce the issue (command/config used to run Dgraph).

**The '/dgraph/data/' volume using clo

[2019-05-28 03:18] chuerxiao commented on #3471
**Due to network reasons, sometimes the cloud disk has a slow read and write speed. The function AddToCluster may need to get the confState in the loop.**

[code]

[2019-05-28 09:58] VictorVisoki commented on #3461
1. Regarding { } and blocks - my typo,  please ignore.
2. This query and many others which are being run during tests -  run at no-time on 1.0.11 !
This is not a case of query that runs for a long time,  it never returns, never. No matter for how long I will wait. This is something else.

Also, there is really a tiny amount of data in the test database, only for testing purposes.

I can try to rem

[2019-05-28 13:00] VictorVisoki commented on #3461
There's output from /z/tracez under the category Server.Query,
like @danielmai suggested:

[dgraph query trace.txt](https://github.com/dgraph-io/dgraph/files/3227716/dgraph.query.trace.txt)

[2019-05-28 14:46] romshark opened #3472 "pagination using "after" doens't respect sort order"
The following issue is pretty much a clone of #2744 but with a different dataset and based on [v1.0.14](https://github.com/dgraph-io/dgraph/releases/tag/v1.0.14)

- **What version of Dgraph are you using?**

  - [v1.0.14](https://github.com/dgraph-io/dgraph/releases/tag/v1.0.14)

- **Have you tried reproducing the issue with latest release?**

  - [I did](https://discuss.dgraph.io/t/no-cursor-base

[2019-05-28 15:04] romshark opened #3473 "Offset-based pagination is slow"
Since `after`-based pagination doesn't work (see #3472 and #2744 and [the forum](https://discuss.dgraph.io/t/no-cursor-based-pagination-and-offset-based-pagination-is-slow/4522)) I had to fall back to `offset`-based pagination instead, which I expected to be slow (since offsets usually never use the indexes), yet I'm not sure whether it's _generally expected to be that slow_.

- **What version of

[2019-05-28 17:21] dpkirchner opened #3474 "pagination: after result includes uid specified in "after""
- What version of Dgraph are you using?

1.0.14 (but also whatever is on the server at docs.dgraph.io)

- Have you tried reproducing the issue with latest release?

Yes

- What is the hardware spec (RAM, OS)?

irrelevant

- Steps to reproduce the issue (command/config used to run Dgraph).

Visit: https://docs.dgraph.io/query-language/#after

Run the default query used in the docs:

[code]

to get

[2019-05-28 18:17] dpkirchner commented on #3474
Ah, dang, I searched before but missed the code issue is already addressed:

https://github.com/dgraph-io/dgraph/pull/3149

[2019-05-28 18:17] #3474 closed

[2019-05-28 19:10] danielmai commented on #3471
It sounds like the performance of this cloud disk or the network connecting these VMs isn't that good. A Dgraph cluster can run with modest system requirements. e.g., A single AWS EC2 t2.small instance with default gp2 8GB EBS disk can run a six-node Dgraph cluster (3 Zeros, 3 Alphas).

[2019-05-29 01:40] MichelDiz opened #3477 "Master: Delete in JSON and RDF seems not working as it should."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Master (works on 1.0.14)

- Steps to reproduce the issue (command/config used to run Dgraph).

This was discovered in part by doing tests to https://github.com/dgraph-io/dgraph/issues/3447
and also I've noticed this few days ago, but I thought It was some issue with my machine. Now @mangalaman93  Also

[2019-05-29 08:33] mangalaman93 commented on #3477
I am able to delete a node in release binary of v1.0.14. Let me run git-bisect (or equivalent) to figure out the commit that introduced this issue.

[2019-05-29 08:55] mangalaman93 commented on #3477
Result of git bisect. (current master: 14fa8274499b01602343a90a726a7744db691fd5)

[code]

[2019-05-29 09:36] mangalaman93 commented on #3477
bisect logs -
[code]

[2019-05-29 13:54] mangalaman93 commented on #3477
I have narrowed down the issue to the function `expandEdges` in file `query/mutation.go`. The function previously was expanding the `*` to all possible predicates. In current scenario, that doesn't seem to happen any more. I thought the function `GetAllPredicates` in `query/query.go` should help us find all predicates. That didn't help either. @martinmr ideas?

[2019-05-29 14:51] MichelDiz opened #3478 "JSON export on Master is producing artifacts"
If you suspect this could be a bug, follow the template.

Ref: https://github.com/dgraph-io/dgraph/pull/3309

- What version of Dgraph are you using?
Master

- Steps to reproduce the issue (command/config used to run Dgraph).

Add any data to Dgraph and run `curl 'localhost:8080/admin/export?format=json'`

- Expected behaviour and actual result.
A clean valid JSON.

![Captura de Tela 2019-05-29 à

[2019-05-29 15:40] dpkirchner opened #3479 "Dgraph zero doesn't always respond to SIGTERM (2)"
This is similar to https://github.com/dgraph-io/dgraph/issues/1898, and it might be the same bug. However, the reproduction steps are easier.

If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0.14

- Have you tried reproducing the issue with latest release?

Yeah

- What is the hardware spec (RAM, OS)?

Docker-for-desktop running on macOS 10.14.5

[2019-05-29 19:22] mangalaman93 commented on #3477
Seems like this is expected behaviour. I will explain in my next comment.

[2019-05-30 15:02] mangalaman93 commented on #3477
@manishrjain I still do not feel comfortable with the idea that on `delete { <uid> * * }` we do not delete all the outgoing predicates connected to `<uid>`. Instead of putting this disclaimer that we only delete typed predicated in this scenario, I would prefer a disclaimer that this operation could be slow because we are trying to delete all outgoing predicates. Assigning to you to make a decisio

[2019-05-30 15:29] MichelDiz commented on #3477
I think this is about "incoming edges" right? When you delete a node you also delete outgoing edges as far I know. Cuz the outgoing edges are in the target (from the operation) node. So incoming edges are in other nodes.

I think we could have a possible way to do this if we have "@reverse" in incoming edges. So this would be kind of easy to delete them. Without "@reverse" it's hard, you would use

[2019-05-30 16:09] mangalaman93 commented on #3477
@MichelDiz we are not deleting the outgoing edges (predicates) except the ones with the type information. Precisely, this issue.

[2019-05-30 16:22] gitlw commented on #1566
Closing this issue as the go-fuzz tool has been included in the dgraph repo.

[2019-05-30 16:22] #1566 closed

[2019-05-30 16:23] gitlw commented on #2520
Closing this ticket for lack of response. Also a note is that 0 as a uid is an invalid value since all uid values should start from 1.

[2019-05-30 16:23] #2520 closed

[2019-05-30 17:45] MichelDiz commented on #3477
Humm, so this is related to the new type system?

[2019-05-30 18:16] mangalaman93 commented on #3477
We have removed the `_predicate_` predicate now which is what used to keep the list of outgoing edges (predicates). Now, that we do not have that information, the only approach I could think of is to try all possible predicates. We do keep the type information on each node, so, we do delete the predicates in related to that type. I hope this clarifies what is happening.

[2019-05-30 18:40] campoy opened #3485 "Flaky test: TestNodes/test_query_2"
Every single one of my previous PRs has failed due to a test which is completely unrelated to my changes.

How do I know it's unrelated? The latest one was adding a link to a Markdown document 😄

The output is the following:

[code]

I think you might be able to access the logs in [here](https://teamcity.dgraph.io/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=13020)

But ju

[2019-05-30 20:21] #3335 closed

[2019-05-30 21:13] martinmr commented on #3477
Deletion is working as intended. Starting from 1.1 `_predicate_` has been deleted so the only way to implement this operation is to expand the predicates based on the types of the node. I have added documentation for the type system but I might have missed updating the documentation on this feature. I'll submit a PR to fix the docs.

[2019-05-30 21:41] manishrjain commented on #3477
I've already explained my reasoning in the call we had. Not sure what more I could add.

Dgraph is a predicate based system. In our storage layer, we don't have the concept of a node, per se. Scanning over the entire database, which could be terabytes of data, to look for any edge which has that node isn't scalable. Instead, the user can easily determine what edges could be coming into a node, bas

[2019-05-30 21:51] martinmr commented on #3477
Link to docs PR: https://github.com/dgraph-io/dgraph/pull/3489

[2019-05-30 22:36] MichelDiz commented on #3477
@martinmr  I've get confused about the PR #3489, it's not about this issue. The issue here on 3477 is that we can't actually execute a `S * *` operation on master. Is perfect possible to run `S P *`, this last op works great.  This part about "outgoing" edges was just a side comment.

After seeing your answer I cleaned all Dgraph files and did again "go get dgraph (...)". And then I did another bu

[2019-05-30 22:39] MichelDiz commented on #3477
The issue about "incoming edges / dangling edges" is https://github.com/dgraph-io/dgraph/issues/3447

[2019-05-30 22:45] martinmr commented on #3477
My PR is about how to get `S * *` working.

[2019-05-30 23:03] MichelDiz commented on #3477
Well this below is right? didn't worked.
It didn't deleted Lisa.

Please point me out a test file to this type of operation, so I can dig more.

### Type
[code]

### Query
[code]
### Delete OP in JSON
[code]
### Delete OP in JSON

[code]

[2019-05-30 23:31] MichelDiz commented on #3477
HUmmmm! I did not pay much attention to the text because I thought it was about clarifications about "dangling edges"...

So I have to first set the type of the node manually - that was I missing all the time.

BTW: So this needs to go to all file tests we have (wow, a lot of work incoming).

[code]

So, after defining the typo of my Node, not only ExpandAll worked as `S * *` too.

![image](https:

[2019-05-30 23:31] #3477 closed

[2019-05-31 07:38] chuerxiao commented on #3471
Occasionally, the network has some delays. When a node joins the cluster during this time, it will enter the infinite loop of joining the cluster. The network is restored later, but this infinite loop will not end.

[2019-05-31 08:48] selmeci opened #3495 "Zero stops responding with message loop: `Read index context timed out`"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.15

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
RAM 16GB, Ubuntu 18.04 LTS, 500GB NAND SDD, Intel® Core™ i7-4700HQ CPU @ 2.40GHz × 8

- Steps to reproduce the issue (command/config used to run Dgraph).
Start new cluster and upload data w

[2019-05-31 12:02] selmeci commented on #3495
Cluster is enable to recover from this error loop if I run 3 zeros.

[2019-05-31 16:59] paulftw opened #3496 "FR: http endpoint to detect alpha version, command line args, zero addr"
Dgraph v1.1 will introduce a number of breaking changes and new features.

Ratel needs a way to tell if a server it's connecting to is using 1.0.x http API or the non-compatible 1.1 API.

Other things this endpoint could expose are:
- command line params (to see if ACL or other enterprise features are enabled)
- address of the zero server (in case Ratel wants to fetch zero state / cluster config)

[2019-05-31 18:56] campoy commented on #2010
I think this is something that either @hackintoshrao or @MichaelJCompton should work on.

Currently https://docs.dgraph.io/design-concepts/ defines edges but not nodes or facets. I wonder if that'd be a good place to define them or maybe somewhere more prominent like in the "getting started"

[2019-05-31 19:01] martinmr commented on #3485
Opened https://github.com/dgraph-io/dgraph/pull/3498 to hopefully fix this issue. I ran it multiple times without running into any issues.

[2019-05-31 19:11] campoy commented on #2026
Wow, this is an old issue and doesn't seem like it should have been left open for so long.
Sorry about that, @llonchj!
I'll add to the possible list of improvements to the query language but I can't promise it will make it into our roadmap any time soon.

Thanks!

[2019-05-31 19:13] llonchj commented on #2026
Cap problema @campoy! Thank you!

[2019-05-31 20:37] campoy commented on #2009
Hi there,

I just wanted to let you all know that we're now considering different improvements to how we handle facets.
I will evaluate multiple proposals and seeing which ones make it to the roadmap.

Thanks again for your contributions, I might come back to ask follow-up questions in a couple of weeks.

[2019-05-31 20:42] campoy commented on #1494
Setting low priority since no other requests have been received regarding this issue.

[2019-05-31 20:47] campoy commented on #1790
This was fixed by @pawanrawal's addition to the docs https://docs.dgraph.io/deploy/#cluster-setup-using-docker-swarm.

[2019-05-31 20:47] #1790 closed

[2019-05-31 21:19] campoy commented on #962
I just checked whether this was implemented and ... it was!!

You can try out the example below on play.dgraph.io and see that indeed `max` and `min` are supported in `groupby` clauses

[code]

[2019-05-31 21:19] #962 closed

[2019-05-31 21:26] campoy commented on #2131
Closing as duplicate of #1243

[2019-05-31 21:26] #2131 closed

[2019-05-31 21:44] campoy opened #3501 "Improve messaging for syntax errors"
Let's say I write this query:

[code]

This fails with the error message:

[code]

Which `(` is wrong? What line, column, anything?

PS: Turns out I should have written `func:` instead of `func(`.

[2019-05-31 22:14] manishrjain commented on #3501
@gitlw had done a project to put the line number in the error.

[2019-05-31 22:24] gitlw commented on #3501
I tested with our latest master with the query
[code]
now the error message is more illustrative
[code]

[2019-05-31 22:32] romshark commented on #3447
I'd also like to add that deleting nodes by hand using [Ratel](https://play.dgraph.io/) becomes increasingly difficult when there are many outbound and inbound relations without a `detach-delete` option. It's just too easy to forget to clean up all of the in- and out-going references and it's incredibly painful to do by hand.

Even if a `detach-delete` option would slow the transaction and/or data

[2019-06-01 01:26] campoy opened #3504 "Issues with k shortest path handling"
There are three different issues that could be improved on calls to `shortest`.

# Variables should be accepted (#1243)

A quick example of why this should be accepted.

[code]

# Currently we need to specify which predicates to consider

This is most probably due for performance issues, but it makes it really hard to find random connections from A to B.

For instance, consider the query above and

[2019-06-02 12:19] pawanrawal commented on #3470
Seems like the issue is caused by https://github.com/dgraph-io/dgraph/commit/ef245676b5c1177d052c03fa59eb49a973e1ff9c which tries to assign a value to the map `mp[v.Name].Vals`. This assignment itself is a bit weird as the map has a mapping of `uid => value` so assigning to `0` doesn't make much sense so I believe the default case in the switch block should be removed.

The change in ef245676b5c11

[2019-06-04 15:39] paulftw opened #3510 "Auth header is not consistent with the rest of the HTTP API"
dgraph:master

ACL enterpirse feature uses a custom http header `X-Dgraph-AccessToken`.
We have [stopped using all other custom headers](https://github.com/dgraph-io/dgraph/commit/a2610875b0d478371e0bc1ae2b319793a1fb7a28#diff-b1980ee16e5e86589390571c8eb02069)

For consistency (and for all the reasons http headers are a PITA) the auth token should also be moved into another part of the protocol

CC

[2019-06-04 16:01] mangalaman93 commented on #3510
We had a discussion about this. We concluded that for security reasons, we cannot have auth token as part of the URL parameters. We decided to keep the `X-Dgraph-AccessToken` as is.

[2019-06-04 16:01] shamil opened #3511 "vlog files use lots of disk space: Add option to set LSMOnly option when opening p dir"
Hi,

We have about 10MB of actual data in Dgraph, but the wal directory with vlog files taking about 56GB, I understand that there should be some kind of GC running each 10 minutes or per each GB, but I don't see the space was ever reclaimed.

Can you explain how this works, and what I'm missing...

Here is information from the `badger info --dir /data/dgraph/w` command:

[code]

[2019-06-04 16:08] manishrjain commented on #3511
Not enough keys in your system. Instead of DefaultOption, you can use LSMOnlyOption to build this DB, so it would try it's best to colocate keys and values, which would work better in your case.

[2019-06-04 16:41] shamil commented on #3511
Hi @manishrjain

I'm using dgraph `1.0.15`, I don't see there `badger.options` argument, so how do I set it to `lsmonly`?

[2019-06-04 17:38] MichelDiz commented on #3389
About Schema Type, I have part of the work started here https://github.com/dgraph-io/benchmarks/pull/23/files
I've tried to find better information about freebase schema structure, but not accomplished. So I did manually and still to do some checks.

[2019-06-04 18:10] Kingloko opened #3512 "Expanding a predicate when a filter returns no nodes results in an unclear error message"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0.14
- Have you tried reproducing the issue with latest release?
no

- What is the hardware spec (RAM, OS)?
Ubuntu, 32GB

- Steps to reproduce the issue (command/config used to run Dgraph).
run a query of this form where the base query should return no nodes
[code]

- Expected behaviour and actual

[2019-06-04 18:24] manishrjain commented on #3511
Ahh.. yeah. We don't expose that option. Maybe we can add a flag to expose it.

FWIW, I don't see even a single SST file in your badger info output. So, looks like you're just writing data to the same keys repeatedly. This would be eventually GCed as SSTs do compactions, not before.

[2019-06-04 18:36] shamil commented on #3511
yes we write data to the same keys (mostly), in that case we will never have SST file? Amd this means our disk will be filled up?

How you suggest to tackle such case?

[2019-06-05 06:55] lcasassa opened #3517 "How to not duplicate data without querying"
Hi All. Thanks for DGraph! Awesome documentation, awesome how easy it is to get it running. Looking forward in using it in production.

Im just starting with graphs and I'm lost on how to not create duplicates without doing queries. I should be able to it as I have unique values for each node. For example:

[code]

I understand I can use _:machinery to reference the node so it does not duplicate i

[2019-06-05 10:44] shamil commented on #3511
@manishrjain by the way, the above command was invoked for `wal` dir
here is same command for `postings` dir

[code]

so we have `sst` files there
the question is what I do with `wal` dir how do I clean it?

[2019-06-05 12:30] MichaelJCompton commented on #3517
Hi,

Looks like what you want is upserts.  That gives you a query, then create/update in a single transaction.  See these two sections in the docs

https://docs.dgraph.io/howto/#upserts
https://docs.dgraph.io/query-language/#upsert-directive

and this for how you'd set the edge to an existing node in a JSON mutation
https://docs.dgraph.io/mutations/#edges-between-nodes

Note we are also adding a w

[2019-06-05 15:38] barum opened #3518 "schema query filtering"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do
There should be a way to query the schema and have it return specific graphs and their predicts

e

[2019-06-05 15:41] MichelDiz commented on #3512
This seems to be related to https://github.com/dgraph-io/dgraph/issues/3198

Other ways to get this error

[code]
`": Unhandled pb.node expand with parent ~src"`

### BTW
If I use a existing edge in the schema, it will return
`": Predicate src doesn't have reverse edge"` This error is acceptable when you have the predicate indicated in the schema.
But the right error for otherwise should be `": Pr

[2019-06-05 16:51] MichelDiz commented on #3512
## UPDATE

Testing this on master I wasn't able to reproduce this I think @martinmr fixed it.

[code]

[code]

[code]

### Result

[code]

[2019-06-05 16:51] #3512 closed

[2019-06-06 01:37] martinmr commented on #3485
I have submitted a few PRs in the past days and didn't see this issue once. I'll close this issue for now as it appears to be fixed.

[2019-06-06 01:37] #3485 closed

[2019-06-06 11:06] quanghaisoft commented on #3211
How can we perform full text search in a given set of predicates? And return results based on some scoring?

[2019-06-06 11:33] mehdiym opened #3528 "Count index missing a node after live import"
- What version of Dgraph are you using?
1.0.15

- What is the hardware spec (RAM, OS)?
16Go RAM, Linux Debian stable

- Steps to reproduce the issue (command/config used to run Dgraph).
  * set a schema including a @count index (and a @reverse index) on a predicate
  * live load a previous export
  * query with a count function at root : eq(count(predicate), 1)

- Expected behaviour and actual res

[2019-06-06 13:36] MichelDiz commented on #3528
Hi, Can you share a RDF example that we can reproduce this?

[2019-06-06 14:12] Wulfheart commented on #673
This is really sad. Is there any way to use it in a offline application?

[2019-06-06 15:11] MichelDiz opened #3529 "Remove reserved predicates from export."
[code]
All Dgraph reserved preds are exported.

[2019-06-06 19:08] martinmr commented on #673
you can run Dgraph in a single machine. Just run one instance of zero and an instance of alpha in the same machine.

[2019-06-06 19:11] martinmr commented on #3529
How did you run into this error? live loader?

I don't think we should remove reserved predicates from the export (from the data at least).

[2019-06-06 19:16] Wulfheart commented on #673
I want it for a simple application. So this shouldn't be feasible, is it?

[2019-06-06 19:29] MichelDiz commented on #3472
Turns out that "after" don't support ordering (only UID), so this will be turn to a feature request.

[2019-06-06 20:18] MichelDiz commented on #3529
Yeah, I was in live load. I had to search through the whole schema for which predicates to remove.

[2019-06-06 20:56] manishrjain commented on #3472
You should be able to use `offset` along with `first`. Does that not work?

[2019-06-06 21:06] manishrjain commented on #673
With docker compose, everything is just one `docker-compose up` away. So, it's definitely feasible. Unless you're trying to avoid containers.

[2019-06-06 21:51] martinmr commented on #3529
So there's actually two problems:

1. Dgraph master was not checking all the reserved preds when acls were disabled, leading it to think the reserved predicate had changed.
1. I assume the exported schema was exported from version 1.0. This version contains ACL predicates but ACL is not really working there and a few of the reserved predicates are different from their current versions so this will

[2019-06-06 21:53] martinmr commented on #3529
Fix for item 1: https://github.com/dgraph-io/dgraph/pull/3531

[2019-06-06 22:04] MichelDiz commented on #3472
offset works fine indeed. We get the right order even 1 by 1. ( `first:  1,  offset: 0, 1, 2, 3, 4, 5`)

[2019-06-07 01:03] danielmai commented on #3528
Interesting that re-indexing the `@count` index makes the query work as expected.

I can reproduce the issue the steps you shared. Funny, when I run `dgraph live --conc 1` to turn off concurrent mutations (default concurrency is 10), the query works as expected. Even `--conc 2` shows the query issue. I suspect this issue is related with concurrent mutations to the same subject-predicate.

[2019-06-07 01:08] martinmr opened #3535 "Remove leftover ACL code from release/v1.0 branch"
Earlier @MichelDiz was helping a user with #3529. On of the issues is that when exporting from an instance running 1.0.x, the ACL predicates are exported. Since those predicates have changed definitions since they were introduced, an error will occur if someone tries to import that schema into a new version (>= 1.1).

It's not the first time some issue happens because there's ACL code in the relea

[2019-06-07 12:00] mehdiym commented on #3528
I'm "glad" you can reproduce it.
Please note that I just reproduced the same bug but on nodes that were NOT imported by the live tool: on a fully generated database.
It happens during running my high concurrency integration tests.

[2019-06-07 15:36] romshark commented on #3472
@manishrjain `offset` (see https://github.com/dgraph-io/dgraph/issues/3473) doesn't scale, it's very slow on relatively large datasets. I've tested it on ~83k nodes, which is far from a million but even that took almost forever (2.5 - 5 seconds). I had to suspend the [pagination feature in my tech-demo](https://github.com/romshark/dgraph_graphql_go/issues/25) because of that.

In SQL I'd usually u

[2019-06-07 16:43] #3510 closed

[2019-06-07 16:44] paulftw commented on #3510
Seems like this is a wontfix but I cannot find how to properly mark that in github

[2019-06-07 17:17] martinmr commented on #3510
@campoy mentioned this. It's ok to just close an issue if we won't fix it.

[2019-06-10 14:28] quanghaisoft opened #3544 "Expected a value variable in cond but missing"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.15

- Have you tried reproducing the issue with latest release?

YES
- What is the hardware spec (RAM, OS)?

12G,unbutu
- Steps to reproduce the issue (command/config used to run Dgraph).

- Expected behaviour and actual result.
Result return null but thow exeption :Expected a value variable in co

[2019-06-10 15:19] quanghaisoft commented on #3544
This code not run with is ls1 non exits data, throw exception

{

   ls1 as  var(func: has(product_category ))
  @filter(
       regexp(product_productname, /samsung-nonExits data.*/i)
  )
  {
    product_category{
      uid

    }

    uid ,

     cat1 as  product_categoryid,
     r1 as math(cond(cat1 == 42, 1,0 )),
     score1  as math(100+r1)
    }
    ls2 as  var(func: has(product_category ))

[2019-06-10 15:36] MichelDiz commented on #3544
I did not quite understand the use case here. It still seems valid to me at first. As the Root Query returns empty, it should not perform any other functions below it.

However, the error is correct.

[2019-06-10 15:45] quanghaisoft commented on #3544
I want to join 3 list search result , first is empty , but second and 3th is has data, so my function still run correctly, but first list throw  exception, and this code can not return any result.

[2019-06-10 15:46] MichelDiz commented on #3544
Check my response in https://discuss.dgraph.io/t/expected-a-value-variable-in-cond-but-missing/4596/4

[2019-06-10 15:52] quanghaisoft commented on #3544
thanks you very much .

[2019-06-10 15:52] #3544 closed

[2019-06-10 16:47] wiradikusuma commented on #3116
Not @martinmr but I need multiple `uid` since in my model, a Stuff can have multiple Tags. If I put Tags as `[string]`, when a user has millions of Stuff and suddenly wants to rename a Tag, they need to `update Stuff set tag = newName where tag = oldName` (sorry for SQL pseudo-code). Ideally,  it should be `update Tag set name = newName where tagId = someTagIdReferencedByStuff`.

Or, could I achie

[2019-06-10 17:09] martinmr commented on #3116
Use the delete operation https://docs.dgraph.io/mutations/#delete. When you specify the object and a list scalar predicate, this will delete only that value and leave the rest intact. After that, you can add the updated tag value. Basically there's no explicit update operation in Dgraph but you can simulate it by doing a delete and an add.

[2019-06-10 17:36] danielmai commented on #3473
I don't think offset per-se is what's slow here. Pagination (`first`, `offset`, `after`) is fairly cheap. According to the query trace for the query you shared with ~100k Posts from your example, most of the time is taken with sorting. Here's a trace from Jaeger, showing that sorting took 1.8 seconds.

![Screenshot_2019-06-10 Jaeger UI](https://user-images.githubusercontent.com/2251820/59213964-ec

[2019-06-10 21:02] lcasassa commented on #3517
Cool! Thanks. It worked but it is very slow (3 per second). I manage to look for 5 uids in one query and update the 5 nodes in separate queries. I can't have two clients updating as if I do so I get error on the transaction and have to retry making it slow. I have 20 TB of data in a ES. What is my best option to import lots of data when I don't know the uid in advance?

[2019-06-10 23:37] romshark commented on #3473
@danielmai I understand, but how do we do pagination over a sorted dataset then? 😄

What if I wanted to serve a paginable list of 100k+ posts sorted by `Post.creation` and `Post.id` (since `Post.creation` isn't unique). AFAIK there's no way to make your own index using a sorted edge like `postListByCreationTime: uid @index(hash) @sort(Post.creation, Post.id)` which would allow for fast `offset` ba

[2019-06-11 03:58] lcasassa commented on #3517
https://docs.dgraph.io/deploy/#live-loader
-x option will save the xid to a directory so it will use the same uid and not duplicate on a second run. Will give that a try :D

[2019-06-11 10:22] mehdiym opened #3551 "Blocked pending query on new database"
- What version of Dgraph are you using?
1.0.15

- What is the hardware spec (RAM, OS)?
16Go RAM, Linux Debian stable, SSD drive.

- Steps to reproduce the issue (command/config used to run Dgraph).
Run a query (normal or read only), using the Go client, on a quite new database.

- Expected behaviour
I expect the response.

- Actual result
The request get stuck

If I look at debug/vars, I can see d

[2019-06-11 11:55] #3470 closed

[2019-06-11 14:24] manishrjain commented on #3551
How are you loading data to Dgraph?

[2019-06-11 14:38] mehdiym commented on #3551
By loading, do you mean (live or bulk) import?

I've tried with and without importing data to dGraph.
I have tests that start from an empty database, and others that start after a live import.
In both cases I can reproduce the bug.

The bug happen on a query, not a mutation. However it always happen after multiple queries/mutations.

[2019-06-11 17:57] jgoodall commented on #3067
Is there any progress on this?

[2019-06-12 09:04] animesh2049 opened #3553 "IntersectCompressedWithLinJump fails with data mismatch"
The function https://github.com/dgraph-io/dgraph/blob/67231ec0d9a42409492ca93bd699a3b4ca16fcc8/algo/uidlist.go#L72
 is expected to perform intersection of `uints` inside `dec`, with `v` and put it in `o`.

But the following test fails on master
[code]

[2019-06-12 22:23] martinmr commented on #3372
Closing this issue as this was fixed by using the -c flag.

[2019-06-12 22:23] #3372 closed

[2019-06-12 22:53] danielmai commented on #3518
This is a feature request to run a schema query with filtered results. This type of functionality is possible today with the filter as a post-processing step from the query response.

In the current version of Dgraph you can already accomplish this functionality by filtering the query response of a `schema {}` query from your app. e.g.,

1. Run `schema {}` query
2. Filter the results by prefix.

F

[2019-06-13 00:17] #3535 closed

[2019-06-14 04:23] mangalaman93 commented on #3551
Unable to reproduce it on my system here.

[2019-06-14 13:56] mehdiym commented on #3551
Good news, I cannot reproduce this bug on dgraph master branch.
However I won't switch now to master as it won't live import my dump, it blocks while importing.

[2019-06-14 14:17] mangalaman93 commented on #3551
Closing this now!

[2019-06-14 14:17] #3551 closed

[2019-06-16 21:52] nodeworks opened #3566 "Live loader fails (permission denied) if there are any ACL rules for the related importing data"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.15

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
Mac, 16gb ram

- Steps to reproduce the issue (command/config used to run Dgraph).
Using the live loader to import, there is no way to specify auth for loading in RDF's/JSON data, even thou

[2019-06-17 11:42] wangleiin opened #3567 "Concurrent query with ReadOnlyTxn without initial table serving may be blocked"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
I'm using release v1.0.15.

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
Not releated.

- Steps to reproduce the issue (command/config used to run Dgraph).
Concurrent Query like this

[code]

With a ReadOnlyTxn and predicates not served initia

[2019-06-17 17:31] angadd421 opened #3568 "Feature Request: Dgraph increment number of tries"
## What you wanted to do
To execute the  `dgraph increment` command to check if dgraph alpha is running or not. The current command keeps retrying a connection if dgraph alpha is down. To be able to specify number of retries to dgraph alpha before the command time out would be a good added feature.

### Why that wasn't great, with examples

If the dgraph increment command find alpha to be down, it

[2019-06-18 09:56] #3553 closed

[2019-06-18 15:27] KevOrr opened #3571 "Bulk loader fails on some exports"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.15

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
Linux, 6GiB

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Run this mutation:
[code]
2. Export the graph using `curl http://localhost:8080/admin/export`
3. Start ne

[2019-06-18 15:48] thanhphi0401 opened #3572 "Problem when change datatype and index of predicate with huge data"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.14

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
Linux Ubuntu 18.04 , 31GiB

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Go to dgraph-ui page
2. Change type predicate from string to float and make index
![image]

[2019-06-19 17:14] aoighost commented on #2693
This would also be extremely useful for my use case as well using dgraph to support multiple workspaces.

[2019-06-19 23:41] romshark commented on #2693
@aoighost

It would be the opposite of useful. If you have relationships across "databases" you have a single database. The multi-database feature is about isolation such that one database is physically isolated from another yet maintained by the same process for convenience.

[2019-06-20 12:53] MichelDiz commented on #3571
A work around this would be doing JSON escaping and unescaping.

[2019-06-20 12:58] KevOrr commented on #3571
Thanks for your reply. I'm not sure how JSON encoding the string will help. The string `">"` will be encoded as `"\">\""` and the exporter will still erroneous replace `>` with `\u003e`, which the importer doesn't understand.

[2019-06-20 13:18] pjebs opened #3582 "BUG: facets returning array"
This bug report may or may not be related to the supposed fix: https://github.com/dgraph-io/dgraph/pull/3190
https://github.com/dgraph-io/dgraph/issues/3163

Schema:

[code]

[2019-06-20 13:21] pjebs commented on #3582
query:

[code]

[2019-06-20 13:24] pjebs commented on #3582
json result:

[code]

[2019-06-20 13:24] pjebs commented on #3582
* This is a recursive query
* You can see `"node.parent|facet"` should return a string.

The BUG:

The second last `"node.parent|facet"` returns an array which should not be the case.

[2019-06-20 13:26] pjebs commented on #3582
You can see the full query here: https://github.com/thehonestscoop/lemma-chain/blob/master/find_chain.go

[2019-06-20 14:18] danielmai commented on #3571
This looks like an issue with how we handle facet strings in N-Quad triples. This same mutation works properly in the JSON mutation format:

[code]

[2019-06-20 15:19] KevOrr commented on #3571
@danielmai that seems to produce the same RDF on export.

[code]

Then starting a new zero and running `dgraph live` fails in the same way:

<details>
<pre>
<code>
Dgraph version   : v1.0.15
Commit SHA-1     : ff5ee1e2
Commit timestamp : 2019-05-30 15:46:55 -0700
Branch           : HEAD
Go version       : go1.12.5
<br>
For Dgraph official documentation, visit https://docs.dgraph.io.
For discussion

[2019-06-20 23:17] martinmr commented on #3529
This should be fixed now that the ACL code has been removed.

[2019-06-20 23:17] #3529 closed

[2019-06-21 03:40] 1l0 opened #3586 "Support ARM"
If it would I can dev on Raspberry Pi, PINEBOOK and possibly ARM server.

[2019-06-21 08:58] Himan000 opened #3587 "Investigate value compression in Dgraph"
Original RDF data size is 5.7G, after bulk, size of _p_ folder in _out_ is 14G, which is about 2.5 times of original RDF data size.

zero replicas is default to 1 and bulk command is :
`dgraph bulk -r rdf_folder -s test.schema --http localhost:8000 --zero=localhost:5080 --num_go_routines=8`

This is toy data, I have real data which is over 100 times of toy data. If replicas 3 and reduce_shards is

[2019-06-21 09:15] manishrjain commented on #3587
We have plans to introduce compression in Badger (underlying data store). Not to undermine your concerns, but, is disk space a big concern for you? TBs of disk is **not** that expensive to get these days.

[2019-06-21 09:28] Himan000 commented on #3587
Hi @manishrjain,

Thanks for replying so soon. Yes, we just a small company, and the budget is limited. When will you implement the plan and how much the compression rate about?

[2019-06-21 09:28] Himan000 commented on #3587
Hi @manishrjain,

Thanks for replying so soon. Yes, we just a small company, and the budget is limited. When will you implement the plan and how much the compression rate about?

[2019-06-21 09:49] manishrjain commented on #3587
No ETAs. We'll start to work on it after Badger v2.1 release. So, maybe in a quarter or so. I wouldn't hold my breath on it. FWIW, Dgraph already compresses posting lists. It sounds like your data might be heavy in strings. We could try to do some value level compression and see how things are.

[2019-06-21 09:55] Himan000 commented on #3587
Yes, my data is heavy in strings. Sound great if you can do some value level compression.

[2019-06-21 09:56] Himan000 commented on #3587
Thanks, no more question for this moment. I close this issue.

[2019-06-21 12:16] manishrjain commented on #3587
I'd like to keep it open to investigate doing value compression in Dgraph.

@gitlw : Can you look into this? It shouldn't be too much work to sometimes do cheap compression on larger values (BitCompletePosting). We can indicate if the value is compressed or not via the meta bit (like BitCompletePosting).

[2019-06-21 19:50] campoy commented on #3501
Cool, closing this then

[2019-06-21 19:50] #3501 closed

[2019-06-21 21:16] martinmr opened #3594 "LocalCache Set method is confusing."
@manishrjain: I am trying to add documentation for this method but I don't understand why the cache is not updated if there's an existing entry. Is this intentional or a bug? If it's intentional I think the name should be changed to something like `GetOrSet` because just calling it `Set` is very confusing.

Function definition for reference:
[code]

[2019-06-24 02:12] wangleiin commented on #3567
I wonder if the checksum should be updated for
github.com/dgraph-io/dgraph/worker/groups.go, line 832
[code]

[2019-06-24 17:11] #3568 closed

[2019-06-25 08:09] mangalaman93 commented on #3059
Should we support multiple mutations in one request? For example -
[code]

[2019-06-25 22:03] gitlw commented on #3566
Hi @nodeworks , thanks for letting us know your experience.
The auth token is intended for open source users who don't have access to the ACL feature, which is an enterprise feature. If you do have a contract with us and are using ACL, you don't need to use the auth token anymore as the mechanisms in ACL is more secure than the auth token.

In the live loader, I’ve just added the support of user l

[2019-06-25 22:04] gitlw commented on #3566
The change for live loader is in #3600

[2019-06-25 22:28] aoighost commented on #2693
@romshark good point

[2019-06-25 23:47] seanlaff commented on #824
Are there any public design docs for this feature? Any mutation could theoretically match any subscription and it seems like you could hit a performance wall pretty fast with lots of subscriptions. Im guessing there's a way to bound the problem, and Im interested to see what the team is thinking :)

Also on the topic of subscriptions- Will dgraph support piping subscribed queries to a message bus

[2019-06-26 13:08] mangalaman93 opened #3604 "Expose Query Execution Times for Evaluating SubGraphs"
It would be useful to get some insights into query execution, in terms of how long each part of the query took. We can possibly provide a query execution plan along with execution timings of evaluating sub-graphs in the query. This will be a good first step for having a query optimizer in Dgraph.

[2019-06-26 15:44] MichelDiz commented on #3211
This feature does not currently exist. There is not much to do. But I have an idea that can help you. But you will have to use Facets.

https://docs.dgraph.io/query-language/#sorting-using-facets

The idea is to map the text by your application and then create a word structure. So you can track its usage. The only problem is that if you need the words to be unique in the system, you will need to m

[2019-06-26 22:40] pjebs commented on #3582
@martinmr, was this bug a side effect of your PR?

[2019-06-26 23:26] martinmr commented on #3582
It doesn't seem related. It only affects one of the nodes at the end of the chain. The PR you mentioned affects all of them Can you query the facet on that node directly to see what you get?

[2019-06-26 23:30] danielmai commented on #3586
You can build ARM binaries for Dgraph using `GOARCH=arm64 go build`. Is there something more you're looking for in terms of ARM support?

[2019-06-27 00:29] danielmai opened #3607 "Query error after bulk load"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
master, starting with d336e41de.

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).

Run ./systest/21million/test-21million.sh.

The test fails after running this query:

Query:
[code]

Response:
[code]

- Expected beha

[2019-06-27 00:37] pjebs commented on #3582
What does that mean? You mean query that node (eg. `"uid": "0x4e25"`)

[2019-06-27 00:38] pjebs commented on #3582
In the meantime, is it safe for me (as a temporary fix) to get the first item from array?

[2019-06-27 02:15] 1l0 commented on #3586
I couldn't in a last year. I'll try it out!

[2019-06-27 07:46] 1l0 commented on #3586
By the way, @pawanrawal mentioned like this:
https://github.com/dgraph-io/dgraph/issues/2040#issuecomment-359605484

[2019-06-27 09:34] manishrjain commented on #3059
Depends upon the internal code complexity. It is marginally more useful than just having one mutation block. But, if the code complexity is disproportionately large, then probably not for the first cut.

[2019-06-27 10:02] manishrjain commented on #3586
Things have changed considerably since then. You might be able to compile Dgraph on ARM. Did you try?

[2019-06-27 10:49] niravmehta commented on #3211
Interesting approach. If I understand this right, it's basically maintaining our own index of search words. But using Facets will allow tf-idf scoring.

What we're doing at the moment is to add a predicate - "search_index" to each node, and concatenate all searchable values into single field. Then searching within that index predicate.

This works as a simple search for now, but of course it does

[2019-06-27 13:30] MichelDiz commented on #3211
Yes, exactly, it is your own index of search words.

I think it would be great to implement this as built-in. Since we use KV indexing, it would be easy to implement this easily. But it does require some work and thought.

@campoy , what do you think of this feature? Can you define exp, status, and priority flags?

[2019-06-27 17:54] martinmr commented on #3582
Yes, that's what I mean. It should be safe to check if you have an array and just get the first one.

[2019-06-27 18:00] martinmr commented on #3582
Also, there shouldn't be two `@facets` directives in your query. At least when I run a similar query using https://docs.dgraph.io/query-language/#facets-on-scalar-predicates I get an error message saying multiple `@facets` are not allowed. Either you get all the facets or you only get one of them.

[2019-06-27 19:20] martinmr commented on #3567
Thanks for reporting the issue and including the steps to reproduce. I can reproduce the error in the 1.0 branch but not in the master branch (what will become version 1.1). I will try to check the differences between the two versions to see if I can find the fix.

[2019-06-27 20:28] martinmr commented on #3572
This is not a bug. Unfortunately, in order to keep all our consistency guarantees, Dgraph blocks while rebuilding an index. So adding an index to a predicate with lots of data might result in Dgraph being unavailable for a while. Restarting the server doesn't help because the index rebuild process starts right after restart. It's better to just let it complete.

Two strategies to reduce the impact

[2019-06-27 20:33] martinmr commented on #3567
I haven't had luck finding the root cause but I can confirm that queries are getting blocked while trying to verify the checksums. Since that's the case, this affects all transactions, not just read-only ones.

[2019-06-27 22:58] danielmai opened #3610 "Dgraph exports incorrect data in JSON and RDF formats."
If you suspect this could be a bug, follow the template.

#### What version of Dgraph are you using?
master dbd754035007325e5a93cfafa676e69788b56bf2

#### Have you tried reproducing the issue with latest release?
Yes. This issue does not happen in v1.0.15.

#### Steps to reproduce the issue (command/config used to run Dgraph).

- Run 1 Dgraph Zero and bulk load the 21-million movie data set ([21mi

[2019-06-27 23:16] danielmai commented on #3366
This has been fixed in master with https://github.com/dgraph-io/dgraph/pull/3400 and in release/v1.0 with https://github.com/dgraph-io/dgraph/pull/3455. Thanks @pawanrawal!

[2019-06-27 23:16] #3366 closed

[2019-06-27 23:18] danielmai commented on #3610
#3478 seems related.

[2019-06-27 23:37] danielmai commented on #3528
This issue is fixed with #3545 that has been merged in master.

[2019-06-27 23:52] martinmr commented on #3567
@manishrjain: Any ideas of how I could further debug this issue? So far I have only seen it in the 1.0 branch.

[2019-06-27 23:58] 1l0 commented on #3586
Build from the source on macOS:
[code]
On Raspberry Pi:
[code]

Quick install on Raspberry Pi directly:
[code]
All I did are failed.

[2019-06-28 00:23] 1l0 commented on #3586
SORRY I realised that I'm using ARM 32 bit on my machine! 😂
I'll try on 64 bit.

[2019-06-28 16:56] campoy commented on #3211
Thanks for the feature request, it does sound like something we could definitely add.

I'll be working on our roadmap once 1.1 is released (late July) and will take this feature into account then.

[2019-07-01 05:17] ahctangU opened #3617 "LiveLoader constantly failing with infinitelyRetry error"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Using image marked latest on docker, i.e. 1.0.15

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
GKE with n1-highmem-2  porfile

- Steps to reproduce the issue (command/config used to run Dgraph).
Import a large dataset, 4.35gb rdf file into dgr

[2019-07-02 13:15] paulftw opened #3622 "[http api] X-Dgraph-AccessToken conflicts with debug"
docker image dgraph/dgraph:master

Consider two curls:
[code]
and
[code]

They send same query, to the same URL, but the first request has an access token.

Note the second response **contains** `uid` but first one doesn't!

For easy setup you can run
[code]

CC @mangalaman93 @gitlw

[2019-07-02 16:28] paulftw opened #3623 "HTTP OPTIONS do not include X-Dgraph-AccessToken"
Using docker image dgraph/dgraph:master

[code]

`Access-Control-Allow-Headers` **must** include `X-Dgraph-AccessToken` otherwise all browser requests fail.

Side note: I maintain two of the most popular HTTP clients: Ratel and dgraph-js-http but I have no idea what `X-Auth-Token` and `X-CSRF-Token` are for, and never noticed any documentation on these headers. Are they still used at all?

Allowed

[2019-07-02 16:30] paulftw commented on #3623
PS
`X-Dgraph-IgnoreIndexConflict` is probably not used any more

https://github.com/dgraph-io/dgraph/search?q=X-Dgraph-IgnoreIndexConflict&unscoped_q=X-Dgraph-IgnoreIndexConflict

[2019-07-02 17:49] mangalaman93 commented on #3622
I am not able to reproduce this issue on my machine, works as expected. We plan to debug it on paul's machine tomorrow.

[2019-07-02 23:21] nmabhinandan commented on #2894
Once gremlin support is added, you can use this toolkit to transparently run cypher queries. https://github.com/opencypher/cypher-for-gremlin

[2019-07-03 05:39] #3623 closed

[2019-07-03 05:46] mangalaman93 commented on #3617
This generally happens when you are concurrently trying to modify the same data from two different transactions. There is not much Dgraph can do in such a case, other than aborting a transaction. Could you check this into the data?

[2019-07-03 07:45] ashim-k-saha commented on #2894
Currently, at mutation, it is possible to add some value to the existing without pulling the value in an application layer. Now we need to read the existing value at the application layer and update the value and set it back to the DB, which is not straight forward and sometimes error-prone.

But it is very well possible in other SQL kinds DB, eg

`UPDATE Table SET total=total+100 WHERE id=2`

Als

[2019-07-03 12:16] mangalaman93 commented on #3622
The issues is caused by the PR https://github.com/dgraph-io/dgraph/pull/3605. Looking into it.

[2019-07-03 13:01] rocketlaunchr-cto commented on #3582
I believe there were good reasons why I had to add the `@facets @facets(eq(facet, "required") or eq(facet, "recommended"))`. Either way it produces no bugs and produces the expected results.

Let me investigate the `@facets @facet(%s) issue further`.

@power-f-GOD can you run the query with the ref `r9t9rc4ip` to answer @martinmr's question.

[2019-07-03 13:04] animesh2049 opened #3625 "Bulk loader crashes after stream writer changes"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Failed on 9138f23d73ae3c6cfba72ec6129eef13b110b438
Worked on 113649d53eab9220ba3541bd37150c1031297154

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).
Run `dgraph bulk  -f /tmp/small_posts --schema /home/animesh/dgrap

[2019-07-03 13:04] animesh2049 commented on #3625
Data
[code]

[2019-07-03 13:05] animesh2049 commented on #3625
Schema
[code]

[2019-07-04 00:26] pjebs commented on #3582
I believe there were good reasons why I had to add the `@facets @facets(eq(facet, "required") or eq(facet, "recommended"))`. Either way it produces no bugs and produces the expected results.

Let me investigate the `@facets @facet(%s)` issue further.

@power-f-GOD can you run the query with the ref `r9t9rc4ip` to answer @martinmr's question.

[2019-07-04 15:52] joshhopkins commented on #2894
Any indication when `Live streaming of updated responses` will be released?

[2019-07-04 16:11] power-f-GOD commented on #3582
Okay. Done that.

[2019-07-04 17:57] #3622 closed

[2019-07-05 12:21] pjebs commented on #3582
I investigated it further.

When I ran the query for the earlier nodes, the results were a string (not an array) for `"node.parent|facet"`

[2019-07-05 12:23] pjebs opened #3634 "recursive query not expanding"
This is the same query/schema/data as https://github.com/dgraph-io/dgraph/issues/3582

I believe it is an independent issue but not sure: @martinmr

For the query:

[code]

When a node reappears deeper in, it is not expanding the node.owner. It correctly expands in earlier on.

[2019-07-05 12:24] pjebs commented on #3634
[code]

[2019-07-05 12:27] pjebs commented on #3634
/cc @power-f-GOD

[2019-07-05 16:23] manishrjain commented on #3625
Thanks for sharing the data and the schema. I'll get this fixed today.

[2019-07-05 16:47] MichelDiz commented on #2894
Hey @joshhopkins this will be part of GraphQL Layer we're building. As soon the GraphQL Layer is ready we can have an idea when Live streaming of updated responses will be available.

[2019-07-05 16:57] MichelDiz commented on #2894
@ashim-k-saha not quite sure if I get the question right. Are you talking about something like increment/concatenation?
Well the new transaction op called "upsert block" you'd be able to do something like updates. At first It will be upserts focussed, but with the Conditional Mutation in Upsert Block you'll be able to do updates.
Check this issue for details https://github.com/dgraph-io/dgraph/iss

[2019-07-05 18:53] ashim-k-saha commented on #2894
@MichelDiz Not exactly increment/concatenation operations.

**To solve the above problem, currently,**
- I need to fetch the information about the account A & B in the application layer.
- Next step will be to check, "Does A have more than $500 or not?"
[code]
- If the above condition becomes true, then I need to subtract $500 from account A. At the same time add $500 to account B.
[code]
- Then w

[2019-07-05 19:20] joshhopkins commented on #2894
Awesome. Its discussed here but I can't see anything definite: Is the idea that GraphQL will be client facing or used as a replacement for GraphQL+- on the application layer? If the former, is subscriptions for GraphQL+- (created, updated and deleted triggers) also planned?

[2019-07-05 19:20] kant111 commented on #2894
@nmabhinandan I would still think support for openCypher natively is much better than doing all the conversions! I tried GrapQL, Gremlin, and openCypher and I don't see GraphQL or Gremlin as clean and expressive as openCypher.

[2019-07-05 20:21] #3625 closed

[2019-07-05 21:01] MichelDiz commented on #2894
@joshhopkins it will be a layer built in Dgraph. we'll not replace GraphQL+- as GraphQL alone doesn't support all GQL+- features. Both langs will coexist.

I don't think we have plans to add subscription in GraphQL+- cuz we gonna have it with the GQL layer. Also about the "triggers" I think that there isn't any request on the community. A detailed and well supported request would be good to have t

[2019-07-05 22:15] MichelDiz commented on #2894
@ashim-k-saha In the upsert block you could do something like:

[code]

[2019-07-08 07:54] joshhopkins opened #3636 "Grafana support"
Be great to use Dgraph with Grafana for analytics and monitoring. Hoping to get both communities working towards this. Collecting votes here: https://github.com/grafana/grafana/issues/17933

[2019-07-08 08:30] ahctangU commented on #3617
I've been trying to use the liveloader to get my data into dgraph for a proof of concept for the past week and a half with absolutely 0 results.

I am not trying to modify the data from multiple transactions. I am using `dgraph live` with the default settings trying to import a medium sized set of quads.

A small excerpt of the files is as such.

`_:JayOliver <name> " Jay Oliver" .
_:JayOliver <na

[2019-07-08 12:31] mangalaman93 commented on #3617
Will you share what version are you running? and the exact error you are getting while running the live loade? In this subset of data, I do not see any conflicting transactions.

[2019-07-08 19:09] gitlw commented on #3636
Hi @joshhopkins , thanks for filing this request. We already have support for monitoring the metrics from graphana, and you can find the docs at https://docs.dgraph.io/deploy/#monitoring.
For a quick start, you can even generate a docker-compose.yml file containing dgraph nodes working with prometheus+grafana by running the following commands inside the $GOPATH/src/github.com/dgraph-io/dgraph/comp

[2019-07-08 19:09] #3636 closed

[2019-07-08 20:26] KevOrr opened #3638 "Sorting by multiple facets"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do

You can use `orderasc` to sort by multiple predicates, which will combine their orderings using l

[2019-07-09 00:05] campoy commented on #824
This should be part of our next release v1.2, on which we will start working as soon as v1.1 is released by the end of July 2019.

[2019-07-09 00:30] #3528 closed

[2019-07-09 05:07] ahctangU commented on #3617
Hello,

For my deployment, I am using [the ha deployment yaml in the dgraph repo](https://github.com/dgraph-io/dgraph/blob/master/contrib/config/kubernetes/dgraph-ha.yaml). This points to dgraph latest, which I believe is 1.0.15.

For the live loader I  was using the binary installed via the go get command, but I have switched to the official release installed via curl.

Output: (Please note the n

[2019-07-09 14:07] jarifibrahim opened #3642 "Alpha crashes with fault address in groupby.go"
### What version of Dgraph are you using?
727b246b5147d5c652e4e752938d20d402722cc0

### Have you tried reproducing the issue with latest release?
Yes

### What is the hardware spec (RAM, OS)?
N/A

### Steps to reproduce the issue (command/config used to run Dgraph).
1. Run zero using
[code]
2. Run alpha using
[code]
4. Apply the following diff on flock agent's main.go
[code]
3. Run flock agent
[co

[2019-07-09 21:08] campoy commented on #1015
Hey @MichaelJCompton,

I'm afraid this issue is not relevant anymore.
I checked on the docs and found information about how to run Dgraph on EC2  and GCP
https://docs.dgraph.io/deploy

Do you think it's enough or would you add other information? If it looks good, please close this issue.

[2019-07-09 23:21] #1015 closed

[2019-07-10 01:13] campoy commented on #1996
Hi all,

Sorry for the delay! I'm trying to better understand this feature request.
If I understood correctly when you insert the same edge multiple times you'd like to *sometimes* specify that the previous facets should be merged with the new ones.

## What we have now

Currently, if we have a predicate `met` between `harry` and `voldemort` which would have been created with the following mutatio

[2019-07-10 04:55] swelet commented on #1495
Cypher support would really help many people looking for horizontal scalability transition from Neo4j.

[2019-07-10 05:42] kant111 commented on #1495
@swelet why do you think people want to transition from Neo4J?

[2019-07-10 08:26] swelet commented on #1495
For horizontal scalability.

[2019-07-10 09:00] sailorfeng opened #3645 "Alpha crash while query after dropall"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0.15

- Have you tried reproducing the issue with latest release?

yes

- What is the hardware spec (RAM, OS)?

Distributor ID: Debian
Description:    Debian GNU/Linux 9.2 (stretch)
Release:        9.2
Codename:       stretch

- Steps to reproduce the issue (command/config used to run Dgraph).

It

[2019-07-10 10:02] kant111 commented on #1495
@swelet What's wrong with vertical scalability? Does it not satisfy the needs? If so, can you list the requirements?

[2019-07-10 22:28] campoy commented on #1997
Hi there, @willcj33

Sorry for the delay, I'm working on Dgraph now and going over all issues and just saw yours.
If I understand correctly, what you're trying to do is basically find the path with the highest value on the facets.

Unfortunately, the algorithm we support (Djikstra) does not support negative values, as any loop with a negative intrinsic value would cause an infinite path.
So, even

[2019-07-10 22:28] #1997 closed

[2019-07-10 22:33] campoy commented on #2001
This is actually a duplicate fo #2037 once we assume syntactic scope (instead of `this`).
Closing this one and keeping the other one.

[2019-07-10 22:33] #2001 closed

[2019-07-10 22:54] campoy commented on #3504
One more issue we found is how when using a variable to store the result of calling `shortest`, only the first path will be stored in that variable!

So for instance, if I want to find 2 the movies directed by Steven Spielberg where Jeff Goldblum appears as an actor I could write the following:

[code]

While the `_path_` data element will show all the paths we found, the `path` data will only sho

[2019-07-11 01:07] #3449 closed

[2019-07-11 14:40] pjebs opened #3651 "DELETE node with where condition"
It would be nice to have syntax to delete nodes with a "Where" condition like in SQL.
Currently I first need to do a query to fetch the uids. Then I need to delete those uids.

More specifically, I want to delete all nodes where the created_at is after a certain interval.

[2019-07-11 16:49] ashim-k-saha commented on #3651
It should have "Time to Live (TTL)" feature also.

[2019-07-11 19:40] mangalaman93 commented on #3651
We are working on Conditional Upsert Block which provides you exactly what you want. This should be available in v1.1 which we plan to release end of this month. For more details, you can check out the following links -
* PR for Conditional Upsert https://github.com/dgraph-io/dgraph/pull/3612 - In Progress
* PR for Upsert Block https://github.com/dgraph-io/dgraph/pull/3412 - Already merged to mast

[2019-07-11 19:40] #3651 closed

[2019-07-11 20:28] campoy commented on #2037
Hi there,

I just wanted to inform you that at least one part of your request is already doable with the current state of GraphQL+-.

Predicates are not allowed in mathematical expressions, only variables are, so you will need to do the following in order to get a `issueBehindSchedule` field:

[code]

The rest of your comparisons will still not work since we do not support string comparison yet.

[2019-07-11 20:57] erhlee-bird commented on #3201
I've confirmed that this is fixed in v1.0.16

[2019-07-11 21:00] danielmai commented on #3201
Thanks for confirming, @erhlee-bird. Closing this issue since it's fixed in v1.0.16 by #3554.

[2019-07-11 21:00] #3201 closed

[2019-07-11 21:01] campoy commented on #2122
After chatting with @gitlw, it seems like this could be implemented relatively easily on top on our current plans for datacenter to datacenter replication, which already uses Kafka.

Adding it to our 1.X plans!

[2019-07-11 21:20] campoy commented on #2151
This is, if I understand correctly, exactly what UPSERT blocks are about!

https://docs.dgraph.io/master/mutations/#upsert-block

The feature will be shipped with Dgraph 1.1 planned for end of July 2019!

[2019-07-11 21:48] mbudge commented on #2151
Amazing.

If only we had known about this 2 years ago.

Sent from my iPhone

[2019-07-11 21:51] pjebs commented on #3651
Will this be able to do conditional deletes?

[2019-07-12 00:05] martinmr opened #3656 "Bulk loader should respect single UID schemas"
Currently, there's not any logic that guarantees that UID posting lists will only have one uid if the schema of their predicate indicates that should be the case. We should either return an error or just enforce the constraint and print a warning.

[2019-07-12 00:13] MichelDiz commented on #3651
@pjebs yes, you will be able to do cond deletes.

[2019-07-12 00:17] campoy opened #3657 "Alpha crash with shortest path query with password predicate"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

docker latest and play.dgraph.io

- Have you tried reproducing the issue with latest release?

Yes

- What is the hardware spec (RAM, OS)?

Various N/A

- Steps to reproduce the issue (command/config used to run Dgraph).

Send a query with a predicate containing at least one predicate of type passwor

[2019-07-12 00:42] campoy commented on #2265
Hi there,

There's a way to do this by first fetching the schema and then using all of the predicates available.

I wrote a small Go program demonstrating how to do so in this gist: https://gist.github.com/campoy/ca88c27a24656eb6afa202682fc83442

The program does the following:

- fetches the UID for Steven Spielberg as a director (or whatever value `-director` has)
- fetches the UID for Jeff Gold

[2019-07-12 01:11] campoy opened #3658 "Shortest path does not respect depth limitation"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

play.dgraph.io

- Have you tried reproducing the issue with latest release?

yes

- What is the hardware spec (RAM, OS)?

N/A

- Steps to reproduce the issue (command/config used to run Dgraph).

Run this query on play.dgraph.io:

[code]

- Expected behaviour and actual result.

It should not return

[2019-07-12 01:17] campoy commented on #3658
Never mind ... turns out the depth is the number of hops, no the length of the path.

Probably worth updating the specs!

[2019-07-12 01:17] #3658 closed

[2019-07-12 09:32] mangalaman93 commented on #1996
A few questions -
  * Why not use `+` in json format as well? (That also leads to the side note, below)
  * What about Upsert on facets?
  * What about technical challenges in doing this? I'm wondering this makes sense, why didn't we do this in the first place? Were there technical challenges that we faced?

Side Note -
As far as I know, we do not have well defined rules for variables names, predi

[2019-07-12 13:03] MichelDiz commented on #1996
I think that upsert would be very useful.

e.g - Here we copy rating, something and somethingElse and add 2 new values to the facet.
[code]

We could have a "Spread operator" to save time. For some cases that there is many values in facets.
e.g
[code]

The three dots would be the operator `(r as ...)`. It will copy and paste the previous values together with the new values.

[2019-07-12 18:13] campoy opened #3661 "dgraph help command fails"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

Latest as July 12th (fc8bcde77107b92f5eb08f991c2e6616cf4b3291)

- Have you tried reproducing the issue with latest release?

Yes

- What is the hardware spec (RAM, OS)?

MacBook Air - OSX

- Steps to reproduce the issue (command/config used to run Dgraph).

`dgraph help acl`

- Expected behaviour and

[2019-07-12 18:56] campoy commented on #2316
According to the [GeoJSON specs]() there are the following geometry objects:

- Position
- Point
- MultiPoint
- LineString
- MultiLineString
- Polygon
- MultiPolygon
- GeometryCollection
- Antimeridian Cutting
- Uncertainty and Precision

We currently support `Point` and `Polygon`, it would make sense to figure out which others (other than `LineString` makes sense to support.

[2019-07-12 19:01] campoy commented on #2151
Two years ago the feature didn't exist.

[2019-07-12 20:19] allen-munsch commented on #2316
The use case that I was interested in at the time was neighbours to point x1, y1  ... any xn, yn, where xn, yn could be within distance of any of the flattened/decomposed position objects  [point, multipoint, linestring, multilinestring, polygon, multipolygon, GeometryCollection] ... I'm not sure of the utility related to  Antimeridian Cutting, or Uncertainty and Precision

@campoy  Thanks for tak

[2019-07-12 20:24] campoy commented on #2316
Thanks for the input, I was also reading the Antimeridian and didn't see much of a use case for us.
I will consider when we can add this into our roadmap :)

[2019-07-12 20:59] campoy commented on #2331
I was not able to reproduce this issue, which probably means the issue has since then been fixed.

I'll close it, but please reopen if you're able to reproduce it.
If that's the case, could you also provide the relevant subset of your data and schema?

Thanks

[2019-07-12 20:59] #2331 closed

[2019-07-12 21:26] martinmr commented on #3661
Somebody with access to a OSX machine is going to need to debug this issue because the command works fine in Linux.

One idea, maybe the library responsible for the help command is not vendored in and you are using a different version of it when you build Dgraph in OSX.

[2019-07-12 21:39] campoy opened #3663 "Shortest path does not respect `first` ... sometimes"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

play.dgraph.io

- Have you tried reproducing the issue with latest release?

Yes, it still fails

- What is the hardware spec (RAM, OS)?

MacOS but also play.dgraph.io, so probably irrelevant

- Steps to reproduce the issue (command/config used to run Dgraph).

Run a shortest path query and use `firs

[2019-07-12 21:42] martinmr commented on #3645
Thanks for your report. It seems like the following is happening.

1. Query needing an index for predicate board comes in. There are multiple checks but the first one passes.
2. Drop all happens, now the board predicate does not have an index.
3. handleCompareFunction is executed, it assumes that the board predicate has an index so the caller asserts that there's no error returned from this functi

[2019-07-12 21:55] martinmr commented on #3642
@jarifibrahim Can you check if the following change to groupby.go in line 225 helps?

Change from
[code]

to
[code]

I think that would stop the crash but I am not sure if it's the right solution, or why uidMatrix does not have enough entries.

[2019-07-12 22:14] campoy commented on #2350
The way to do this is by using `first: 1, offset: 1` but unfortunately there's an issue with this feature.
I filed #3663 to track that fix, so we can close this issue.

[2019-07-12 22:14] #2350 closed

[2019-07-12 22:20] #3657 closed

[2019-07-12 22:23] campoy commented on #2472
Checked with @manishrjain and this should still be done.
Assigning to @martinmr

[2019-07-12 23:23] campoy commented on #2481
This request makes total sense and should be considered at the same time as the others in the label https://github.com/dgraph-io/dgraph/labels/area%2Fquerylang%2Fvars

[2019-07-12 23:32] campoy commented on #2505
Trying to use my contacts with Google to see if we can make this happen

https://twitter.com/francesc/status/1149823633839144960

[2019-07-12 23:43] campoy commented on #2505
Hey @danielmai

Seems like we should follow the steps here:

https://cloud.google.com/marketplace/docs/partners/integrated-saas/

Including the Open Source Compliance checklist:

https://cloud.google.com/marketplace/docs/partners/open-source-compliance

[2019-07-12 23:45] campoy commented on #2510
Hi there,

Could you please give an example of a query that uses cyclic fragments and you would expect to work?
The fragments that you gave on the comment above are not cyclic.

Thanks

[2019-07-12 23:54] campoy commented on #2628
I wonder if this is still relevant or we've achieved a performance up to our expectations.

What do you think, @danielmai and @manishrjain ?

[2019-07-12 23:55] campoy commented on #2642
Go now supports Ed25519

https://godoc.org/golang.org/x/crypto/ed25519

Can we work on this now?

[2019-07-12 23:57] campoy commented on #2646
We are now using the package github.com/pkg/errors, therefore making this obsolete.

[2019-07-12 23:57] #2646 closed

[2019-07-13 00:04] campoy commented on #2693
Whoa, this is a popular request!

OK, we'll be working on this and seeing whether it can be part of our next release v1.2 expected to be released end of September.

[2019-07-13 00:09] mangalaman93 commented on #2628
Two reasons that this is still relevant -
 * For large dataset, bulk loader requires high end machines with large SSD and memory which may not be available all the time. Distributed bulk loader should potentially be able to run on commodity machines.
* Horizontal Scalability, if I want the bulk loader to run in shorter time, I can increase the resources in my cluster, and reduce the time taken to

[2019-07-13 01:16] campoy commented on #2713
Problem still occurs and seems like should be an obvious optimization.

Adding it for our Dgraph v1.2!

[2019-07-13 05:23] F21 opened #3667 "Weird dgraph behavior with nested struct: the struct is returned depending on its values"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Dgraph version   : v1.0.15
Commit SHA-1     : ff5ee1e2
Commit timestamp : 2019-05-30 15:46:55 -0700
Branch           : HEAD
Go version       : go1.12.5

Same issue with master:
Dgraph version   : master
Commit SHA-1     : 60b2b152
Commit timestamp : 2019-07-12 15:20:28 -0700
Branch           : master

[2019-07-14 18:50] savearray2 opened #3668 "Possible Bug? Query Latency Across Multiple Geographic Regions"
- What version of Dgraph are you using?
Latest Docker version of Dgraph (v1.0.16/0590ee95)

- What is the hardware spec (RAM, OS)?
5x Amazon r5.2xlarge instances.

- Steps to reproduce the issue (command/config used to run Dgraph).
Launch the docker images and create a cluster using replicas=5. Load the test data from the introduction part of the Tour.

- Expected behaviour and actual result.
I un

[2019-07-15 11:12] jarifibrahim commented on #3642
@martinmr The change stopped the crash.

[2019-07-15 17:19] liu1000 opened #3669 "Error while creating badger KV posting store error: unexpected end of JSON input"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.15

- Have you tried reproducing the issue with latest release?
yes, 1.0.16

- What is the hardware spec (RAM, OS)?
16G RAM, CentOS 7

- Steps to reproduce the issue (command/config used to run Dgraph).
`sudo docker-compose up -d`

docker-compose.yml:
[code]

- Expected behaviour and actual result

[2019-07-15 17:54] #3607 closed

[2019-07-15 19:27] martinmr commented on #3642
ok.still not sure of the root cause but i'll open a PR with the fix. We have similar checks in our codebase so this should be fine.

[2019-07-15 20:33] martinmr commented on #3642
My bad, the crash is in the next line while trying to access `ul.Uids`. So `ul` is nil. I am guessing the error is not happening every time so it looked like my original suggestion fixed it. For now, I'll open a PR to check that ul is non-nil.

[2019-07-15 20:41] martinmr commented on #3642
https://github.com/dgraph-io/dgraph/pull/3670

[2019-07-15 23:12] martinmr commented on #3642
Fix has been submitted so closing this for now. Feel free to reopen if you happen to see it again but the original segfault should be gone now.

[2019-07-15 23:12] #3642 closed

[2019-07-15 23:29] martinmr commented on #3667
This isn't really a bug. For handling geolocation data we use this library: https://github.com/twpayne/go-geom. It provides a bunch of types but currently we only support point, polygon, and multipolygon.

When you change the type value to "pointa", Dgraph does not recognize that as a valid geo type. When you change the coordinates to only have one value, Dgraph does not recognize that as a valid

[2019-07-15 23:37] F21 commented on #3667
So, are generic nested structs simply unsupported in dgraph? For my use-case I do not use a geolocation type, but rather a struct that looks like this:

[code]

[2019-07-15 23:53] martinmr commented on #3667
Dgraph does not support structs. It supports JSON so as long as your struct is marshaled into proper JSON you should be fine. Your example above should work.

With regards to the geo location data, it seems like we might be trying to implicitly convert some data to geo location data. I'll keep looking into that since that is not very obvious behavior. But your use-case should be supported.

[2019-07-15 23:53] martinmr commented on #3667
I am reopening this to keep looking into the geo data conversion issue.

[2019-07-16 00:07] F21 commented on #3667
Here's some updated code demonstrating the problem:

[code]

In the case of nested structs, do I need to query for it's subfields for them to show up? I noticed that when I do that, they are returned as a list of fields, which is contrary to what they are saved as (see the output of `result json2`) .

[2019-07-16 00:17] martinmr commented on #3667
Thanks. There seems to be a strange problem with that struct. For some reason School works just fine even when nested but I can't get ProfilePicture to work.

[2019-07-16 00:25] campoy commented on #2628
We should come up with a performance goal at which point the issue can be closed.

[2019-07-16 00:30] F21 commented on #3667
For school, I am seeing the same result:

[code]

[2019-07-16 00:37] campoy commented on #3668
Thanks for the report, this indeed looks weird.
The encoding latency should not increase for your setup.

@gitlw, could you have a look at this?

[2019-07-16 00:38] martinmr commented on #3667
So I found what the "error" was. I keep forgetting about this but when you query a node of type uid, you need to specify what fields you want to get.

This query will work:

[code]

but this one won't return any results for school:

[code]

The geolocation issue is still happening but as long as your nested structs don't have geolocation data you should be fine.

[2019-07-16 00:39] F21 commented on #3667
The problem with querying for the subfield is that it returns as a list of schools, whereas it was saved as a nested object directly.

[code]
Is this expected behavior?

[2019-07-16 00:44] campoy commented on #3669
This seems like it might be related to an issue in badger (https://github.com/dgraph-io/badger/issues/830) which has already been fixed on our latest release v1.0.16.

Could you confirm that it still occurs with that version?

@jarifibrahim, could you confirm that your fix for the issue was correctly integrated with v.1.0.16?

[2019-07-16 00:46] martinmr commented on #3667
Yes, forgot to mention I had to change the struct field ProfilePicture to take a list.

In the current version (1.0.16), all uid predicates return a list so this is expected.

In version 1.1, scheduled for this month, one can specify the schema as `school: uid .` to enforce a single object (the JSON will return an object instead of a list) or as `school: [uid] .` to allow multiple predicates. If y

[2019-07-16 00:47] F21 commented on #3667
That makes sense. Thanks for your help!

[2019-07-16 01:09] martinmr commented on #3667
I found the code that checks for geolocation data in the method mapToNquads. I will add documentation to make this explicit to our users. Other than that I don't think there's much more to do with this issue.

[2019-07-16 01:51] martinmr commented on #3586
@1l0, Any updates on this? Wondering whether you were able to build and run Dgraph.

[2019-07-16 03:11] 1l0 commented on #3586
Not at all since I have only ARM machines installed 32 bit that are daily drivers for me so it's hard to swap OSes for 64 bit easily.
I'd like reports too about running Dgraph on ARM.

[2019-07-16 12:25] Kingloko commented on #2151
Hey, quick question:
I'm hoping to use this feature pretty aggressively once its released (i.e almost every insert will be an upsert).
I was hoping to get a sense from you guys what the relative cost of an "upsert" vs "insert" is.

I noticed in the example available in the docs, that the query was almost equivalent to a normal insert, but when I pulled dgraph master and tried reproducing the examp

[2019-07-16 12:56] manishrjain commented on #2151
It works just like a transaction, but avoids at least one network call between the DB and the client. Before, you'd send the query, get the results, decide what to do, send a mutation. Now you just send a mutation, which would do a query and the decision happens at the DB.

[2019-07-16 15:27] liu1000 commented on #3669
It still occurs using v1.0.16:
[code]

[2019-07-16 15:48] jarifibrahim commented on #3669
@campoy https://github.com/dgraph-io/badger/issues/830 is part of Dgraph v1.0.16.
But I know why it's failing for @liu1000. The data he's using with v1.0.16 has the truncated discard stats because v1.0.15 had that issue.

We might have to drop the discard stats so that user can migrate from v1.0.15 to v1.0.16 in case the user has old data with the truncated discard stats.

[2019-07-16 16:53] campoy commented on #3669
Oh good point, @jarifibrahim

Did you update to v1.0.16 recently, @liu1000?
In order to migrate from v1.0.15 to v1.0.16 you should indeed export and recover the data.
That should solve your problem.

[2019-07-16 16:55] campoy commented on #3667
Create an issue tracking the documentation needs and close this one, @martinmr

Thanks for helping @F21

[2019-07-16 17:11] martinmr opened #3674 "Improve documentation for geolocation data and JSON."
Currently this feature is undocumented.

[2019-07-16 17:11] #3667 closed

[2019-07-16 17:15] martinmr opened #3675 "Clarify what types of geolocation data are supported"
We should be able to store any type of geolocation data but only index the supported types (Polygon, MultiPolygon, and Point).

[2019-07-16 17:28] martinmr commented on #3586
@1l0 I think you can do `GOARCH=arm go build` to build Dgraph in 32-bit ARM architecture.

https://gist.github.com/asukakenji/f15ba7e588ac42795f421b48b8aede63#a-list-of-valid-goarch-values

[2019-07-16 17:59] #3674 closed

[2019-07-16 21:04] #3645 closed

[2019-07-16 23:14] martinmr commented on #3582
Sorry for the late reply. What are the triples you inserted for this node (triples where this node is the subject) and how do they compare against a node where you can get the right result? I don't need the data but I think this comparison could enlighten us on what's different about this node.

If you insert those triples into a clean instance of Dgraph and run the query, is the result still show

[2019-07-17 00:25] danielmai commented on #3032
This has been fixed since v1.0.12 (released 2019-03-05) and the current master. OpenCensus v0.21.0 was released on 2019-04-25 is vendored in master ([vendor.json](https://github.com/dgraph-io/dgraph/blob/1a9d52973fee957c7f55e3c571297ad42d803b7c/vendor/vendor.json#L1107-L1114)).

I'll close this issue since we're past the version of OpenCensus from January 26 that had the leaks. Feel free to re-ope

[2019-07-17 00:25] #3032 closed

[2019-07-17 09:38] savearray2 commented on #3668
Hello All,

If necessary I can provide more details if you have difficulties replicating the issue. It seems to happen for me every time I recreate the cluster from scratch.

Thanks 😶

[2019-07-17 11:55] pjebs commented on #3582
what's a triple?

what should I do to investigate (in simpler terms)?

[2019-07-17 11:59] pjebs commented on #3582
My query contains: `@facets @facets(eq(facet, "required") or eq(facet, "recommended"))`.

You said to remove the first `@facets`. I then doesn't return any facets.

[2019-07-17 15:44] liu1000 commented on #3669
Hi @campoy,
I ran into this error when I was using v1.0.15 and I tried upgrading to v1.0.16 but still got the same error as shown above. The error messages are different though:  v1.0.15 doesn't provide as many details.

[code]

There is no mention of 'discard stats' in v1.0.15's logs. Container just exited with code 1 after this.

I'll try exporting and reloading the data. Thanks!

[2019-07-17 15:56] liu1000 commented on #3669
It doesn't look like dgraph would allow me to export while it is 'opening tables'.
[code]

[2019-07-17 19:34] martinmr commented on #3668
Hey, I thought I had already replied to this. I think I wrote an answer but I forgot to submit it 🤣

This is not a bug but I'll try to explain what's happening.

* When querying from the zone where the leader is, you get a fast response. This is obviously expected.
* When querying from the other zone, you see a 100ms delay. Note that this delay is roughly the same that you get from doing a ping ac

[2019-07-17 20:47] martinmr commented on #3634
This is most likely because you reached the maximum depth allowed. Try playing with the depth parameter. I would start with 5 and see if that makes those nodes appear.

link to the docs: https://docs.dgraph.io/query-language/#recurse-query

I'll also document what the default depth is since it's currently unclear from the docs.

[2019-07-17 20:52] martinmr commented on #3582
Ok. I guess I didn't understand why the two @facets are needed.

Triples: https://docs.dgraph.io/mutations/#triples

Since you don't know what these are I am guessing you are using JSON to insert data into dgraph but what I meant was to add the data for this node into a new cluster, run the query (or a similar query checking the facets) and check if the query still returns an array.

[2019-07-17 20:57] pjebs commented on #3634
My use case requires no limits

[2019-07-17 20:57] pjebs commented on #3634
If I was making a dependency tool like npm I can't have a limit

[2019-07-17 20:59] martinmr commented on #3634
Nevermind, I checked the code. The default depth when loop is set to false is `math.MaxUint64` so that's not the problem. The problem is you have set loop to false. Once a node has been seen, it won't be expanded again. If that's not the behavior you want, then you have to set loop to true and pass a depth parameter that is greater than zero.

If your use case requires no limits, then you must set

[2019-07-17 21:05] waynebloss opened #3680 "What is the default password?"
I setup dgraph using your docs - https://docs.dgraph.io/get-started

Then it says to connect to ratel to start running queries.

However, it won't connect at all. Everything is running fine according to docker logs.

There is some mention of a default password, but no mention of *what* that password is.

There are instructions on how to update the password using `dgraph acl` command but when I go

[2019-07-17 21:10] pjebs commented on #3634
Seems like a bug to me. The query implies the node should always be expanded, even if it means dgraph keeps the previously encountered node in memory and reuses it.

[2019-07-17 21:22] danielmai commented on #3680
In the latest Dgraph release v1.0.16, ACLs are not available. And for the upcoming v1.1 they'll be available as an enterprise feature and are not enabled by default. Can you share your cluster set up? In the Getting Started page I don't see any instructions that would turn on ACLs.

[2019-07-17 21:34] martinmr commented on #3634
This is not a bug. You specifically set loop to false.

[2019-07-17 21:40] pjebs commented on #3634
You are looking at it from an implementation point of view. That is not what the query implies. @manishrjain

[2019-07-17 21:49] martinmr commented on #3634
That is exactly what the query implies. If you want to follow loops you need to set loop to true and provide a depth parameter. Otherwise Dgraph would keep on expanding the graph endlessly.

[2019-07-17 22:02] pjebs commented on #3634
My concern is regarding why the loop setting is effecting the JSon payload being returned. I understand loop should stop expanding endlessly. But the query's "footprint" says for each node (uid) found, the JSon response should contain an expanded 'node.owner'. the response should supply it.

[2019-07-17 22:06] pjebs commented on #3634
The footprint of each returned object is:

[code]
All returned objects should look like that as much as possible.

[2019-07-17 22:24] #3656 closed

[2019-07-17 22:41] martinmr commented on #3634
This is not different than a predicate not showing up when it doesn't exist. In the first appearance of the node, node.owner was expanded because it had not been traverse that. After that, that edge won't be expanded because loop is set to false. Dgraph doesn't show anything. It could set node.owner to an empty object or list but that would not be very useful. You are right in that Dgraph will try

[2019-07-17 23:11] pjebs commented on #3634
I'm suggesting it should be in the case in this scenario without having to "force it". Since the uid has been encountered before, DGraph has all the data required to properly create an object in the eventual json which will look like the footprint suggested in the query.

It is essentially doing this: https://github.com/thehonestscoop/lemma-chain/blob/master/find_chain.go#L242 (but the DGraph side

[2019-07-17 23:49] martinmr commented on #3634
Doing something like this would in fact violate the loop guarantees. From the documentation:

Including the objects at the end of an already traversed edge would mean we are considering paths that lead to a loop, which contradicts what setting loop to false means.

Something like this is application specific logic and should be done in the client, not in Dgraph.

[2019-07-18 00:38] pjebs commented on #3634
Something is very wrong. Totally counter-intuitive of what the query footprint without a good enough reason to justify not expanding a node that was already encountered. @manishrjain @campoy

[2019-07-18 04:30] manishrjain commented on #3634
Hey @pjebs ,

Thanks for bringing the issue. I read through the thread and honestly, I was a bit confused about the results as well. The semantics of what not to follow when `loop: false` is set are not very clear.

In terms of loop iteration, the general idea is to stop once the same node is encountered. However, the way it is implemented is such that we stop when the same edge is encountered. So

[2019-07-18 06:54] liveforeverx commented on #824
@manishrjain Question, can this be used than from native `GraphQL+-` interface or only from `GraphQL` interface?

[2019-07-18 09:41] #3669 closed

[2019-07-18 09:43] jarifibrahim commented on #3669
This issue has been fixed but we'll have to push it in one of the releases.

[2019-07-18 10:28] animesh2049 opened #3685 "Races while running flock"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).
Use this script to run flock. It's just pulling new master of dgraph and flock and running them along with flock client.
[code]
My docker-compose.yml file
[code]

[2019-07-18 10:30] animesh2049 commented on #3685
I am not sure if this is dgraph issue or flock issue.
[code]

[2019-07-18 10:37] animesh2049 commented on #3685
Data Race 1
[code]

[2019-07-18 10:38] animesh2049 commented on #3685
Data Race 2.
[code]

[2019-07-18 10:39] animesh2049 commented on #3685
Data Race 3
[code]

[2019-07-18 11:41] animesh2049 commented on #3685
Data Race 4
[code]

[2019-07-18 11:42] animesh2049 commented on #3685
Data Race 5
[code]

[2019-07-18 12:26] manishrjain commented on #3685
Very nice finds!

[2019-07-18 16:08] danielmai commented on #3685
This can be fixed in Flock by updating the schema for `uid` predicates to `[uid]` for Dgraph v1.1.

[2019-07-18 21:39] martinmr commented on #2472
Summary of the current tests and their status.

- Live loader tests are already using the cluster.
- Bulk loader tests are not but they cannot be changed as the cluster need to be down when doing a bulk load.
- Tests in `loader_test.go` can be migrated, I think.
- The group delete tests are already using a docker cluster.
- Tests in `live_pw_test.go` are already using a docker cluster.
- Tests in

[2019-07-18 22:12] danielmai opened #3687 "panic: send on closed channel"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

[code]

- Have you tried reproducing the issue with latest release?
Only tested with master.

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Two-group cluster with 6 Alphas, 3 Zeros, `--replicas=3`.

[code]

2. Run Flock.

[code]

- Actual result

Panic happened on two of the

[2019-07-19 09:17] jarifibrahim commented on #3687
This has been fixed in badger https://github.com/dgraph-io/badger/pull/918.

[2019-07-19 13:30] waynebloss commented on #3680
So, are you saying that there is no login / password required for Ratel to connect?

When I start Ratel, a default username `groot` is visible in the login form. When I delete it the `Login` button gets disabled.

I tried using the `docker-compose.yml` file in the Getting Started originally, but when that didn't work I manually setup each container using Portainer. Perhaps I did something wrong th

[2019-07-19 16:39] waynebloss commented on #3680
I guess one other thing that I don't understand is: Why does the `server` entry in your `docker-compose.yml` specify port `7080` here in `command: dgraph alpha --my=server:7080 --lur_mb=2048 --zero:5080` but it exposes ports `8080` and `9080` for that same `server`?

[code]

[2019-07-19 16:51] waynebloss commented on #3680
I got it working by exposing port `7080`. After that, `zero` didn't have any connection errors in the logs.

Anyway, while this was all possibly more difficult than it needed to be - I'll just close this issue and keep exploring. Thanks!

[2019-07-19 16:51] #3680 closed

[2019-07-19 17:44] campoy commented on #824
This issue is about adding subscriptions to GraphQL+-.

GraphQL has its own subscription system, which we will indeed implement as part as our native GraphQL layer support.

[2019-07-19 17:45] campoy commented on #3668
Thanks for the explanation, @martinmr

I do wonder why this network latency appears as part of the encoding time.
Shouldn't it be somewhere else?

[2019-07-19 18:01] campoy commented on #3687
Was this included in v1.0.16, @danielmai?
Will the fix be included in v1.1?

[2019-07-19 18:05] martinmr opened #3690 "encoding_ns might not be accurate"
From #3668 the user reports that the value of `encoding_ns` is roughly 100ms from an AWS zone with a latency of 100ms. This probably means the transport time is being included as part of encoding_ns. If that's the case, Dgraph should be changed to report accurate stats. Possibly, that could involve adding another field called `transport_ns` to report the time taken to receive the response.

[2019-07-19 18:13] martinmr commented on #3690
Here's the culprit line:

[code]

[2019-07-19 18:34] martinmr opened #3691 "filesystem backup test is flaky."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
master

- Have you tried reproducing the issue with latest release?
Yes

- Expected behaviour and actual result.
[code]

[2019-07-19 19:07] martinmr commented on #3690
Submitted #3692 to fix the calculation. Still need another PR to report the transport time.

[2019-07-19 19:10] #3675 closed

[2019-07-19 19:12] campoy commented on #3668
Ok, then we can close this issue as it's normal we see some extra network latency.

[2019-07-19 19:12] #3668 closed

[2019-07-19 19:19] danielmai opened #3693 "Data races with export"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

[code]

- Have you tried reproducing the issue with latest release?
Only tested on master for now.

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Build Dgraph with race detector.

[code]

2. Two-group cluster with 6 Alphas, 3 Zeros, --replicas=3.

[code]

3. Run Flock.

[cod

[2019-07-19 19:21] danielmai commented on #3693
Running with the export fix PR (#3682) shows fewer data races.

<details>
<summary>alpha1-pr3682.log</summary>

[code]

</details>

[2019-07-19 22:15] danielmai commented on #3687
We need to bring this into v1.1, which will include the Badger data format changes.

I haven't seen if this happens in v1.0.16. Both master and v1.0.16 are currently using Badger v1.6.0 (master: https://github.com/dgraph-io/badger/commit/50ccc861a93d4f68fb4c0698ee6c4ffeb300229a, v1.0.16: https://github.com/dgraph-io/badger/commit/2fa005c9d4bf695277ab5214c1fbce3735b9562a, the documentation commit a

[2019-07-19 23:24] martinmr commented on #3685
why are you running flock with a version of Dgraph from a moth ago? At least that's what the checksum `16663939` is telling me and the line numbers in that commit make sense when looking at the stack traces.

I can take a look at them but we should be running dgraph on the latest version on master.

[2019-07-19 23:43] martinmr commented on #3685
preTraverse is doing:

[code]

while updateFacetsMatrix is doing:

[code]

I am quoting the lines so that they are easier in different commits. The problem seems obvious but I am not sure how to address them. Currently, there's not any kind of synchronization happening inside the subgraphs. I mentioned this to Manish before and he said that was intentional as different subgraphs are meant to be pr

[2019-07-20 00:40] danielmai commented on #3478
Fixed by #3682.

[2019-07-20 00:40] #3478 closed

[2019-07-22 06:52] pawanrawal commented on #3634
This is a bug. The response of the query should be the same as the expanded query below but its not.

<details><summary>Expanded query</summary>
<p>

[code]
</p></details>

The JSON data-set that can be used to reproduce this issue is pasted below.

<details><summary>Dataset</summary>
<p>

[code]
</p></details>

It happens because while considering loops, we filter the edges that we have already w

[2019-07-22 09:13] animesh2049 commented on #3685
@martinmr
I realized it later and then I ran flock on the latest master as well. Still these data races are there.

[2019-07-22 17:46] #3693 closed

[2019-07-22 22:00] danielmai opened #3699 "Schema exports predicates that cannot be re-imported."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
master (a1e368193) and v1.0.16.

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph cluster
2. Run a mutation to a predicate with only numbers in the name, e.g. `<123>`:

[code]
3. Run export `curl localho

[2019-07-22 22:16] martinmr opened #3702 "Improve index performance."
- Use stream framework for rebuilding indices: https://github.com/dgraph-io/dgraph/pull/3686
- Avoid reading posting lists when adding index mutations: https://github.com/dgraph-io/dgraph/pull/3695

[2019-07-23 00:22] pawanrawal commented on #3634
In the meantime, there is a workaround. You can get the correct results you want by setting `loop` to true and specifying a very large depth (the max that you expect).

[2019-07-23 00:24] pjebs commented on #3634
My current workaround is: https://github.com/thehonestscoop/lemma-chain/blob/master/find_chain.go#L242

Is this not good enough?

[2019-07-23 00:37] pjebs commented on #3634
Can I use Max uint64 value?

[2019-07-23 01:22] #3594 closed

[2019-07-23 04:57] pawanrawal commented on #3634
Yeah, you can use MaxUint64 value but should use a lower value if you have an idea of the max expected depth. The problem with using MaxUint64 is that if your data does have loops, you'll end up getting a lot of results (capped by `query_edge_limit` flag of alpha) which you don't care about.

[2019-07-23 19:13] #3702 closed

[2019-07-23 19:16] martinmr commented on #1050
Assigning to @pawanrawal to see if he has better luck with this than Gus and I did.

[2019-07-23 19:19] martinmr commented on #3403
The export support was completed in commit a41db408fcd1e219ce2055e72e254c872906368b

Import does not need additional work as the result of the export is a schema file which is already supported by Dgraph.

[2019-07-23 19:19] #3403 closed

[2019-07-23 21:16] martinmr commented on #2127
This can be closed. I merged in the fix but I forgot to close the issue.

[2019-07-23 21:16] #2127 closed

[2019-07-23 22:05] #3699 closed

[2019-07-23 22:06] #3389 closed

[2019-07-23 22:21] martinmr commented on #3363
Closing this issue as I haven't seen this issue again and I was not able to reproduce it after Manish made a few changes to the snapshot streaming logic.

[2019-07-23 22:21] #3363 closed

[2019-07-24 03:42] #1243 closed

[2019-07-24 17:41] gitlw opened #3717 "The default prometheus metrics are missing in current master branch"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
version 1.1 (not released yet)

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
32G RAM, Fedora

- Steps to reproduce the issue (command/config used to run Dgraph).
In the compose directory, do ./run.sh -a 1 -z 1 -m
Check the prometheus metrics a

[2019-07-24 17:53] danielmai commented on #3717
Looks like we'll need to collect the metrics ourselves and push them through OpenCensus stats: https://github.com/census-instrumentation/opencensus-go/issues/784

[2019-07-24 18:36] gitlw commented on #3717
It turns out that the github.com/prometheus/client_golang/prometheus/registry.go has a init that would register a collector for the default runtime metrics
https://github.com/prometheus/client_golang/blob/master/prometheus/registry.go#L61
In release/v1.0, the "github.com/prometheus/client_golang/prometheus" package is imported in the x/metrics.go file, and that's how we get the default runtime met

[2019-07-24 18:39] #2472 closed

[2019-07-24 18:59] martinmr opened #3718 "Add type queries documentation"
If you think Dgraph's documentation at https://docs.dgraph.io is lacking, please
explain it here.

[2019-07-24 20:44] hherman1 opened #3721 "Deletions don't appear inside of a transaction until commit"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.16

- Have you tried reproducing the issue with latest release?
No

- What is the hardware spec (RAM, OS)?
Running inside of a docker container on Mac, host machine has 16GB ram. Running on Mac OS X Mojave

- Steps to reproduce the issue (command/config used to run Dgraph).
I'm using the docker-co

[2019-07-24 21:41] martinmr commented on #3721
Just to clarify, I'll rewrite the operations in the order I understood them. Let me know if I got something wrong.

- Transaction 1
  - Add data.
  - Commit.
- Transaction 2 (started after 1 is committed)
  - Query data (data is seen)
  - Use query to delete data
  - Run query but get the same results as before
  - Run query and get the same results before the deletion.
  - Commit
- Transaction 3

[2019-07-24 21:52] martinmr commented on #3721
Actually, I took a look at your query and it's using the `has` function, which does not use any indices. The previous issue I remember seeing related to seeing changes within the same transaction only applied to secondary indices (https://github.com/dgraph-io/dgraph/issues/3103).

@manishrjain: @danielmai and I ran some example transactions and the changes within the same transaction cannot be see

[2019-07-24 21:56] hherman1 commented on #3721
Thanks for the prompt reply @martinmr, and confirming that the timeline you posted is accurate. Also, I may be misunderstanding the docs but shouldn't the delete syntax I use also delete from indices? (see `S * *` in https://docs.dgraph.io/mutations/#delete or https://docs.dgraph.io/mutations/#deleting-edges for the JSON version)

Appreciate the docs PR. Also perhaps it makes sense to update the h

[2019-07-24 22:21] martinmr commented on #3721
The delete syntax deletes the indices but the change is not applied until the transaction is committed. Which is what issue #3103 was about.

But in your case, you are using the `has` function, which does not use indices so I am still not sure if the same logic applies. I'll wait for @manishrjain to confirm before modifying the docs.

With regards to the delete JSON syntax, I'll see if I can make

[2019-07-24 22:39] #3718 closed

[2019-07-25 15:01] Necmttn commented on #1755
another request for this feature.

[2019-07-25 20:45] ohenley commented on #1755
+1

[2019-07-26 18:53] The-Alchemist commented on #1896
I just experienced this issue with dgraph 1.0.16 during a high write test.

[code]

Is the advice just to re-run the mutation?

[2019-07-26 19:20] manishrjain commented on #1896
Yeah. Just re-run. Looks like a bunch of table moves happened and the information about who's serving what is eventual consistency model.

[2019-07-28 04:03] tiankonghewo opened #3726 "dgraph bulk load 100G rdf.gz files met fatal error: runtime: out of memory at reduce phase"
I want to import 1000 rdf.gz file into dgraph through dgraph bulk load,
 each file about 100M,total about 102G,
machine configurations are：

64G RAM
2T SSD

I pull docker
`docker pull dgraph/dgraph `
`docker run -itd -v /root/dgraph:/opt --name dgraph dgraph/dgraph dgraph zero
`
`
docker exec -it dgraph bash
`

below is command  I lanuched in container

`dgraph bulk \  `
`--rdfs  merge \`
`--schem

[2019-07-28 17:46] manishrjain commented on #3726
Try setting GOGC to 50 or something. We realized Go isn't fast enough in reclaiming space back.

[2019-07-28 17:46] manishrjain commented on #3726
Also, might make sense for us to investigate using sync.Pool in bulk loader to reuse memory.

[2019-07-29 07:28] tiankonghewo commented on #3726
I only saw three executable files, under **dgraph-darwin-amd64** directory

I know not much about golang，Where can I set this parameter？

Thank you

[2019-07-29 07:30] tiankonghewo commented on #3726
maybe， I should learn some about go

[2019-07-29 22:35] gitlw opened #3731 "Delay the enabling of the health check until after data loading is done"
In #3719 , we identified that the log "Server is ready" is created even before alpha has started loading data from badger. The server health check will be enabled at roughly the same as the log "Server is ready".

However, if a query is run after this log is created (with health check enabled at roughly the same time), but before the data loading, then this query can get back empty response. We sh

[2019-07-31 03:51] tiankonghewo opened #3736 "how dgraph bulk set GOGC=40?"
dgraph is go program, so how I set this GOGC=40 parameter when execute

--rdfs  graph_data \
--schema_file a.schema \
--num_go_routines=8 \
--mapoutput_mb=64   \
--map_shards=8 \
--shufflers=1  \
--reduce_shards=3 \
--out g2 \
--ignore_errors \
--http localhost:8000 \
--zero=localhost:5080

[2019-07-31 05:41] pawanrawal commented on #3663
I had a deeper look into this and the problem here is that we don't preserve the order of UIDs in the `uidMatrix` when populating UIDs from a variable that was the result of the shortest path query. We sort the list of UIDs before doing pagination.  In general all uid variables are supposed to contain sorted lists whereas in the case of the shortest path, they are not guaranteed to and the order m

[2019-07-31 11:20] ehsannm opened #3737 "Query Builder"
Writing queries in a text making the code too hard. We have to care about spelling and even syntax check is too hard. Do you have any query builder for dgraph ?

[2019-07-31 11:49] felixfbecker opened #3738 "Explorer not showing anything"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

I tried in all 3 releases of Ratel (dev, latest, offline)

- Have you tried reproducing the issue with latest release?
should be latest

- What is the hardware spec (RAM, OS)?
macOS

- Steps to reproduce the issue (command/config used to run Dgraph).

I have a lot of data and predicates, but t

[2019-07-31 15:12] MichelDiz commented on #3737
We have the Ratel UI https://github.com/dgraph-io/ratel

[2019-07-31 15:29] ehsannm commented on #3737
maybe in wrong repo, i meant for example on go client driver. dgo
It has only one command for query which supports text and one with vars. but having a query builder help to use the driver better

[2019-07-31 19:02] felixfbecker opened #3740 "Possible to add corrupted data to DB which crash the server when trying to query it"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

Dgraph version   : v1.0.16
Commit SHA-1     : 0590ee95
Commit timestamp : 2019-07-11 11:52:54 -0700
Branch           : HEAD
Go version       : go1.12.5

- Have you tried reproducing the issue with latest release?

should be latest

- What is the hardware spec (RAM, OS)?

macOS

- Steps to reproduce t

[2019-07-31 20:41] martinmr opened #3741 "Add progress log for reindexing process."
Currently, there's not much visibility into the reindexing process, leading users to wonder whether the process is stuck. Since reindexing halts the rest of the operations, there should be a way for users to know the status of the process.

[2019-07-31 21:44] jmftrindade commented on #3661
(Passing by, and thought I'd comment here since I just installed Dgraph on OSX with `curl https://get.dgraph.io -sSf | bash`)

Is `acl` a valid command?  The list of commands in the tree doesn't currently include it:
https://github.com/dgraph-io/dgraph/tree/05eec2787cc4b681c4d1507b2ed7933436285263/dgraph/cmd

The list of commands in the source tree also matches what I get with `dgraph`:
[code]

If

[2019-07-31 21:46] martinmr commented on #3661
@jmftrindade If you build Dgraph from master, you should see the acl command. Can you try that?

[2019-07-31 22:04] jmftrindade commented on #3661
Yup, `acl` shows up as a command on the latest from master.  Fetched source as per README.md:

[code]

Then using that binary, acl shows up as a valid cmd, and help works fine for it (NOTE: I have $GOPATH/bin in my $PATH):
[code]

[2019-08-01 00:56] gitlw commented on #3661
@campoy I think the correct command should be "dgraph acl help", instead of "dgraph help acl".
And the latter shows the same error on Linux.

[2019-08-01 14:25] aperotte commented on #2660
One way to get something similar to composite indexes is to allow indexes on facets. This would be a sort of composite index on the (edge, facet) combination. It wouldn't be as general as full composite indexes but it seems like this approach would also work well with the idea of sharding by predicate (along with its indexes).

[2019-08-01 22:56] AgentZombie commented on #2693
This might be a good place for the label field in n-quads.

[2019-08-01 23:12] felixfbecker commented on #1522
When I execute  `{"drop_all": true}`, I still see metrics for old predicates under http://localhost:8080/debug/vars. How can I reset those?

[2019-08-02 00:06] gitlw commented on #3737
Hi @ehsannm ,  for now we don't have a plan to support the query builder as our query language is fairly flexible, and creating the query builder would probably generate too many states in the client.

To me, a fair comparison is that you normally don't have a query builder when writing a SQL statement, since SQL is also a quite flexible query language.

[2019-08-02 00:06] #3737 closed

[2019-08-02 00:43] gitlw commented on #1522
@felixfbecker In our latest code, the dgraph_predicate_stats are removed from /debug/vars
Can you please explain your use case in a little more details, so that we can decide whether this is a must-have feature? If not, I guess it's not worth fixing this problem in the current release.
Let us know, thanks!

[2019-08-02 03:44] Grool commented on #3511
I have the same problem. How did you solve it?

[2019-08-02 06:31] pawanrawal commented on #3685
I looked into the data races in query package and couldn't see how would `populateVarMap` run concurrently with `preTraverse`. `populateVarMap` has to be called multiple times, i.e. it would be called every time a query is executed. The variables defined in the query are checked recursively and stored in `req.vars`.
After `Process` function has returned from the query package, we call `ToJson` fro

[2019-08-02 09:17] felixfbecker commented on #1522
@gitlw I was looking to get a sense of how many triplets the DB contains overall. This can be a useful metric for a variety of things, measuring how much data users have added overall and how fast that is growing (reporting some numbers), how well DGraph performs with Nx more nodes/edges compared to before, whether it's reasonable to provision more resources, how long till we'll likely hit scaling

[2019-08-02 18:51] martinmr commented on #3736
It's an environmental variable. To run it one time do `GOGC=40 dgraph ...` or set it in your shell by doing `export GOGC=40`.

[2019-08-02 18:51] #3736 closed

[2019-08-02 20:15] #3717 closed

[2019-08-04 10:28] sandys opened #3748 "incorrect regex for docker swarm hostnames"
https://github.com/dgraph-io/dgraph/blob/60b2b15240c676639f80428837344c3cb19c2fdb/x/x.go#L71

this regex is incorrect for docker swarm. The service names in swarm (which are prepended by stack names) carry underscores.

for example if the stack name is "mystack" and you service name defined in compose file is "svc1", the actual running service is called "mystack_svc1". This regex fails in that cas

[2019-08-05 01:21] pawanrawal commented on #3685
I was able to reproduce this. An easy way of reproducing this is to just start one alpha and one Zero and then run both `flock` and the flock client. With both of them running, you can typically observe the Data Race logs in < 5 mins. I believe its being caused by having package level variables in worker/task.go https://github.com/dgraph-io/dgraph/blob/58820c0124a76e26e0b3c4acf99666234eb3ff48/work

[2019-08-05 03:45] tiankonghewo commented on #3736
I understand this sentence.

but

What does this sentence mean？
you mean when I

set

But what exactly to do it？
Can you give an example?
thank you very much！

[2019-08-05 14:48] prashant-shahi opened #3750 "ristretto/z not found in vendor"
It looks like `github.com/dgraph-io/ristretto/z` is not found in the Vendor.

When tried building dgraph from master using Makefile :
[code]

[2019-08-05 22:36] ashish-goswami opened #3755 "Unable to load data in Dgraph while following tour.dgraph.io"
While going through _https://tour.dgraph.io/_, I was trying to to load data by clicking run on page https://tour.dgraph.io/master/intro/4/#. I found it is not working for chrome/firefox. Found following errors:

**Chrome:** TypeError: Bootstrap tooltips require Popper.js (https://popper.js.org)
**Firefox:** TypeError: NetworkError when attempting to fetch resource.

I also observerd, **_POST_** ca

[2019-08-05 23:36] campoy commented on #3663
No need to work on this right now, but it's good to keep track of what we need to improve regarding k-shortest paths.

[2019-08-05 23:38] campoy commented on #2693
Hi there @AgentZombie,

Could you explain what you mean by "the label field in n-quads"?

[2019-08-05 23:53] campoy commented on #3661
let me close this issue while importing a suitable GIF while I realize that I was running the command in the wrong order

![facepalm](https://media.giphy.com/media/3og0INyCmHlNylks9O/giphy.gif)

[2019-08-05 23:53] #3661 closed

[2019-08-06 00:56] campoy commented on #3736
You can run

[code]

On Windows:

[code]

Then run the `dgraph` command in the same terminal.

Alternatively, if you're using docker (which it seems you are according to your question) you can pass the environment variable to Docker by setting it through the -e flag.

[code]

Let us know if you need more help.

[2019-08-06 01:18] AgentZombie commented on #2693
Sorry. I was speaking specifically about the graph label field in RDF n-quads. dgraph specifically reads RDF n-quads as a superset of n-triples but doesn't use the fourth value to specify a named graph.

From https://www.w3.org/TR/n-quads/#sec-intro

This was referenced [here](https://discuss.dgraph.io/t/docs-mention-n-quads-but-not-named-graphs-are-there-named-graphs/3980), #1143, and probably ot

[2019-08-06 07:32] PhilAndrew opened #3757 "DGraph website cannot dropdown to select the docs menu item"
On the website here https://dgraph.io/

I mouse over Read item on top menu bar, I try to move mouse down to Docs, I cannot because menu dropdown closes up. I'm using Chrome on Ubuntu.

[2019-08-06 19:38] campoy commented on #3757
Ooops, I can totally reproduce that!
Let me transfer the issue to the right repo, thanks for the report!

[2019-08-06 19:39] campoy opened #3759 "Error message missing context"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

1.0.16

- Have you tried reproducing the issue with latest release?

yes, I could

- What is the hardware spec (RAM, OS)?

N/A

- Steps to reproduce the issue (command/config used to run Dgraph).

Send any invalid request, for instance this one is missing a comma at the end of line 5

[code]

- Expec

[2019-08-06 21:05] martinmr commented on #3759
The gql parser already has line and column information but I am not sure about how JSON errors are reported. I'll take a look.

[2019-08-06 22:28] danielmai opened #3761 "Fix flaky 21-million data set systests."
### What version of Dgraph are you using?
master

[code]

### Have you tried reproducing the issue with latest release?
No

### Steps to reproduce the issue (command/config used to run Dgraph).

Run the 21-million test. It will fail sometimes. Specifically, for queries query-016 and query-019. When the test fails it will return a non-zero exit code, so we can continue running the tests until it fa

[2019-08-07 01:12] pawanrawal commented on #3411
This is a duplicate of #3685 at this point. Hence I am closing this.

[2019-08-07 01:12] #3411 closed

[2019-08-07 02:11] d4l3k commented on #2726
Any update on this? I'd really like to be able to do

[code]

but it sounds like it's not currently supported. Coming from the SQL world this seems like a very basic operation that should be supported.

[2019-08-07 03:38] d4l3k opened #3768 "fillGroupedVars: runtime error: invalid memory address or nil pointer dereference"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Dgraph version   : v1.0.16
Commit SHA-1     : 0590ee95
Commit timestamp : 2019-07-11 11:52:54 -0700
Branch           : HEAD
Go version       : go1.12.5

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
32GB RAM, Arch Linux, running in docker compo

[2019-08-07 06:20] pawanrawal commented on #3685
@animesh2049 confirmed that these races don't occur anymore. Closing this issue.

[2019-08-07 06:20] #3685 closed

[2019-08-07 10:03] animesh2049 commented on #3685
I ran flock after @pawanrawal's PR. I didn't find any data race.

[2019-08-07 21:56] mangalaman93 commented on #3687
Does this issue still exist?

[2019-08-07 21:59] mangalaman93 commented on #2151
This is a duplicate of #3059, closing. Feel free to reopen if upsert block doesn't satisfy your use case.

[2019-08-07 21:59] #2151 closed

[2019-08-07 22:30] danielmai commented on #3687
In Dgraph master, Badger master branch as of Aug 2nd (f59246cb119d2f7b6f2fc29a835ee5edb366019a) has been vendored, so the bug fix is already in Dgraph v1.1.

[2019-08-08 00:18] #3687 closed

[2019-08-08 00:23] mangalaman93 opened #3774 "Backport #3768 to v1.0.17"
#3768

[2019-08-08 05:09] niravmehta commented on #3726
Did this work finally?

What was the disk size of the data after import?

[2019-08-08 05:15] niravmehta commented on #3587
FWIW, we had to abort our Dgraph plans due to two reasons. 1. Slow ingestion times and 2. Disk space usage.

I don't think our use case was extreme - about 100k items to be ingest every day with 30-40 properties each. Our tests showed  1gb disk space addition every day - at that rate we'd run out of space on our SSDs fairly quickly.

I wish we could use Dgraph.. I was so excited about it..

We wil

[2019-08-08 09:35] kfyhn opened #3776 "Dgraph-ratel is not able to connect when running example docker-compose script"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.16 (I have also tried with v1.0.15)

- Have you tried reproducing the issue with latest release?
This is the latest release.

- What is the hardware spec (RAM, OS)?
Ubuntu 18.04.2 LTS
Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz
16GB RAM

- Steps to reproduce the issue (command/config used to run Dg

[2019-08-08 14:11] #3750 closed

[2019-08-08 16:13] #3059 closed

[2019-08-08 16:21] mangalaman93 commented on #3776
Not able to reproduce. Where are you running the cluster (using docker-compose), desktop or on a server?

[2019-08-08 16:46] MichelDiz commented on #3776
As I see "Recreating" from the docker compose logs. I can imagine that this is a reused env. You probably was doing some tests, changing setup params and so on. I recommend that you start it from scratch.

Do some cleanups:
[code]
[code]

[2019-08-08 17:28] d4l3k commented on #3572
This is a really unfortunate state to be in. There should be some way to cancel building the index since it's can be hideously slow. I left it running for 10 hours without it finishing and doesn't seem to be any way to view the progress.

From a recent blog post "One of the cornerstones of Dgraph is that it allows a flexible schema, which can be modified in a live system, *without any downtime*. T

[2019-08-08 18:54] manishrjain commented on #3572
Yes. We should be fixing this problem. Allow queries to use the index once it's built and also allow indices to be built using disk, instead of entirely in memory. Feel free to file an issue to track that. We'll get to it with priority after v1.1 release. CC: @campoy .

For the time being, if you use best effort queries, you'd still be able to get the queries to work.

[2019-08-08 18:55] manishrjain commented on #3572
Opening this issue as a placeholder. Close this issue once the other issue is filed.

[2019-08-08 18:58] d4l3k commented on #3572
For anyone else running into this issue, here's the hacky solution to cancelling an index build.

Applied these changes to v1.0.16: https://github.com/d4l3k/dgraph/commit/fddc15262ef64df04bb6a35b4bd6c671617f3e30

Launched alpha with these changes, removed the index from schema and then launched from stable again.

[2019-08-08 19:00] d4l3k commented on #3572
Reading still works with this but it was blocking me from adding new data.

[2019-08-09 05:34] #3768 closed

[2019-08-09 06:23] pawanrawal commented on #3774
Commit (https://github.com/dgraph-io/dgraph/commit/3e9b30da92489c0b4d47a927e7a0172445fe062b) has been cherry-picked and merged to `release/v1.0`

[2019-08-09 06:23] #3774 closed

[2019-08-09 08:04] kfyhn commented on #3776
Thank you for your quick feedback - I know the likelihood of this is issue being caused by or related to my setup somehow, is very high, so any tips as to how to debug and find the issue is of great value to me.

@mangalaman93 : This is running on my desktop computer.

@MichelDiz : Correct, I have run the script multiple times to correct this issue. It has been working some months ago, when I last

[2019-08-09 08:19] mangalaman93 commented on #3748
Not sure why hostname regex generally does not support underscore https://stackoverflow.com/questions/106179/regular-expression-to-match-dns-hostname-or-ip-address. Looking into it more.

[2019-08-09 08:34] mangalaman93 commented on #3776
The only other thing I can think of is trying clearing browser cache or trying a different browser. I have had issues on my Mac sometimes where my DNS resolver just stops working in a browser. You could also try using 0.0.0.0 or the IP on the local network instead of localhost just in case if that works.

[2019-08-09 08:45] kfyhn commented on #3776
@mangalaman93 : That solved the issue! Thank you! I had done several Ctrl+F5 to try and reload the page completely, but when running it without browser cache it works. 0.0.0.0 also solves the problem, but not 127.0.0.1 apparently.

Thanks a lot for the help - it was then a problem with my setup. However I would consider stating somewhere in the documentation that clearing your browser cache or cha

[2019-08-09 09:33] tiankonghewo commented on #3726
the tmp file about 920G, I set 3 group, each group about 150~200G, total 600G
I use aliyun cloud ,

64core
2T SSD

Eventually it succeeded

[2019-08-09 14:46] #3776 closed

[2019-08-10 01:21] LiNengRan opened #3787 "Filtering by list entry match"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Latest

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
OSX High Sierra 156 G

- Steps to reproduce the issue (command/config used to run Dgraph).
Ratel localhost 8000

- Expected behaviour and actual result.
Consistently can ONLY match the FINAL

[2019-08-10 01:24] LiNengRan commented on #3787
Sorry the "good" return above (last list entry queried for) looks like this:

{

  "data": {
    "query": [
      {
        "Nodes": [
          {
            "Node_Name": "Node_01",
            "timestamps": [
              "2018-04-01T00:00:00Z"
            ]
          },
          {
            "Node_Name": "Node_03",
            "timestamps": [
              "2018-04-01T00:00:00Z"

[2019-08-10 05:10] MichelDiz commented on #3787
Hey,

I found the issue. You need to set the Schema before mutate. If you mutate before setting the schema, the mutation you lost the values. That's the only issue here.

If you set the schema you're good to go.

I'll close this issue and open a proper one for the case. But you for you case right now, just set the schema before any mutation.

[2019-08-10 05:10] #3787 closed

[2019-08-10 05:19] MichelDiz opened #3788 "Dgraph isn't automatically setting values ​​as list in structured mutations as list."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.1RC

- Have you tried reproducing the issue with latest release?
Yes, latest RC

- Steps to reproduce the issue (command/config used to run Dgraph).
Add a list mutation in JSON before set the schema.

- Expected behaviour and actual result.
Since Dgraph automatically recognizes Types (Like `[uid]` t

[2019-08-10 05:55] LiNengRan commented on #3787
Hey thanks 1 million! You guys are great!!

-S

On Fri, Aug 9, 2019 at 10:10 PM Michel Conrado <notifications@github.com>
wrote:

[2019-08-10 19:40] d4l3k opened #3790 "@facets kept in nodes filtered by @ignorereflex"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

v1.0.16

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
32GB ram, Arch linux, running in docker-compose from official images

- Steps to reproduce the issue (command/config used to run Dgraph).

[code]

schema
[code]

- Expected behaviour and a

[2019-08-12 17:35] martinmr commented on #3788
Not really a bug so I've changed the tag. The reason uid is set to list is to preserve the existing behavior (since uid used to be a list by default).

[2019-08-12 19:08] danielmai opened #3793 "Live loader and bulk loader incorrectly loads JSON without "uid" fields"
### What version of Dgraph are you using?

master (bulk and live loader) and v1.0.16 (bulk loader only, live loader does not support JSON loading)

[code]

### Have you tried reproducing the issue with latest release?
Yes

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph
2. Save this JSON data to a file called data.json

[code]

3. Run live loader. The command w

[2019-08-13 14:46] dodyg opened #3800 "Importing movies dataset breaks Dgraph v1.1.0-rc1 on Windows 10"
If you suspect this could be a bug, follow the template.

### What version of Dgraph are you using?
Dgraph v1.1.0-rc1

### Have you tried reproducing the issue with latest release?
Dgraph v1.1.0-rc1 is the latest release

### What is the hardware spec (RAM, OS)?

16 GB RAM, WIndows 10 v1903, slow HD

###  Steps to reproduce the issue (command/config used to run Dgraph).

- Download Dgraph v1.1.0-r

[2019-08-13 17:03] vilarfg opened #3801 "@lang directive. Info on resolved language"
## Experience Report

### What you wanted to do

When I write a query using the `@lang` directive, I don't receive info on the locale of the result.
Example query:
[code]
Example result (only the bit about `director.film`, for brevity):
[code]
I can see it's been resolved to hindi, but it's not labeled as hindi. It's labeled as `ru:hi:en`

### Why that wasn't great, with examples

It would be nice

[2019-08-13 18:27] MichelDiz commented on #3790
Hum, not sure about this. The example used in this context isn't enough. When you call a facet function, it will run no matter other factors.

So, if a node exists with a facet and there's no other data in the node. It means this node shouldn't exist - Unless you have a strong reason to keep an empty node with information in the facet. Because Facets are extra information for the relationship of t

[2019-08-13 18:59] prashant-shahi opened #3803 "Delete mutation on non-existing triple deletes index entry"
- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with the latest release?
**Yes.**

- Steps to reproduce the issue (command/config used to run Dgraph).
    - [ ] Follow the tour to [setup Dgraph](https://tour.dgraph.io/master/intro/2/).
    - [ ] Follow the tour to [alter schema](https://tour.dgraph.io/master/intro/3/) and [load data](https://tour.dgraph.io/ma

[2019-08-13 19:11] danielmai commented on #3803
This does not happen in v1.0.16 because `delete` in v1.0 only supports "S P *" for value predicates instead of specifying the same value.

[2019-08-13 19:16] MichelDiz commented on #3803
This happens in master. But if we do `<uid_of_michael> <name> "Michael" .` Works fine.
The issue is, deleting something without the correct value ("Asdf" ≠ "Michael"). We should show some error or message.

[2019-08-13 19:22] MichelDiz commented on #3803
BTW, the real issue here is that when you delete a predicate(name). It looks like it was removed from indexing. I've tested with others users. All nodes and names are still there. But I can't use `eq, anyofterms` and so on. But you can find it by other predicates, by has or by uid.

[2019-08-13 20:30] williamsandytoes commented on #3376
@emhagman are you currently using Nginx to load-balance queries + mutations to a cluster? If so, how's it going? I'm looking to do the same, but I'm wondering if I would see any significant performance gains - specifically for writes.

[2019-08-13 23:23] danielmai opened #3807 "Unhandled pb.node expand with parent edge"
### What version of Dgraph are you using?
v1.0.16. This does **NOT** happen on master.

### Have you tried reproducing the issue with latest release?
Yes (v1.0.16)

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph cluster running v1.0.16
2. Set schema:

[code]

4. Run query and get error response:

[code]
[code]

Remove `expand(_all_)` from the query and get an

[2019-08-14 01:19] d4l3k commented on #3790
The bug is that this node does in fact exist with data. Removing @ignorereflex causes this node to return "uid" and "url".

This issue is that the node shouldn't show up in the list at all instead of in this weird useless partial state without even a UID returned.

Changing to use your example with the filter returns the same results:

[code]

[code]

[2019-08-14 01:57] #3761 closed

[2019-08-14 02:29] MichelDiz commented on #3790
Okay, without ignorereflex, are able to se at least an uid alone? if so, you need to delete the relation between parent and that one.

e.g.

[code]
## oh! Correction!
I've just noticed that you have Two levels (A kind of inception) So the target ins't related to `0x8e1065` tho.

[code]

So if you delete it and it still happen. I would to try to reproduce with a similar data sample.

[2019-08-14 09:01] mehdiym opened #3811 "1.1.0-rc1: Delete a node and its predicates don't work"
- What version of Dgraph are you using?
1.1.0-rc1

- Steps to reproduce the issue (command/config used to run Dgraph).
Create a node and some predicates:
[code]
Try to delete them:
[code]

- Expected behaviour and actual result.
Neither the node nor the predicates are deleted.
It worked with dGraph 1.0.15.

[2019-08-14 10:45] mehdiym commented on #3811
My bad, I missed the info in the doc about the required dgraph.type defining all predicates to remove.

[2019-08-14 10:45] #3811 closed

[2019-08-14 11:41] fridex opened #3813 "Add support for @unique"
## Experience Report

### What you wanted to do

We want to filter out duplicates in the result on the server side.

### What you actually did

We have implemented queries which can result in duplicate entries in the query result; we filtered them out on the client-side.

### Why that wasn't great, with examples

In most cases we retrieve duplicate data and we experienced serialization issues (max

[2019-08-14 22:57] MichelDiz opened #3814 "Bug with count and Aliases."
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Dgraph v1.1 RC 1

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
Windows

- Steps to reproduce the issue (command/config used to run Dgraph).
Just run this query below.
[code]
It happens with curl, in Ratel and so on.
- Expected behaviour and ac

[2019-08-14 23:01] MichelDiz opened #3815 "Fix Runnable tab of content with the right cURL params."
We need to set the params in master to
[code]

![image](https://user-images.githubusercontent.com/6570955/63062123-1a94a380-bece-11e9-96ff-5a5e29a06eaf.png)

[2019-08-15 02:27] mangalaman93 opened #3817 "Add support for multiple mutations in an upsert query"
Related to #3059

[2019-08-15 03:42] d4l3k commented on #3790
This happens with every node pair I've found. It's not just that edge/node. It works as expected without @ignorereflex. This bug is that combining @ignorereflex and @facets returns nodes that shouldn't be returned (and only the facets).

Here's the content filtered just to the original node on a different doc without @ignorefacets

[code]

[code]

and then here's the same query with @ignorereflex

[2019-08-15 13:20] dmsolow opened #3819 "Add support for json-lines in bulk loader"
Json-lines (http://jsonlines.org/) is a commonly used format for storing a large number of JSON objects in a file. It's better than a single JSON array of objects because it makes it easy to read a file object by object without loading the entire thing into memory.

Popular big data processing frameworks like Apache Spark write JSON-lines natively (`df.write.json("out.json")` writes a JSON-lines f

[2019-08-15 14:06] sandys opened #3820 "Split out "tls_dir" into individual files so that Docker/K8s secrets management can be plugged in"
dgraph alpha has an option parameter "tls_dir" to take in TLS certificates created in a directory.

Usually this has CA certificates, node and user keys.

The industry recommended way to do secret management in Docker is through Docker Secrets : https://docs.docker.com/engine/swarm/secrets/

There are equivalents in Kubernetes as well as external tools like Hashicorp Vault. Most of them work at th

[2019-08-15 21:38] martinmr commented on #3819
It doesn't seem like it would be too difficult to implement. We are gearing up for the 1.1 release so this issue most likely sit in the back-burner for a little while. If anybody else is interested in this feature, give a thumbs up to the issue so we can gauge interest and prioritize accordingly.

[2019-08-15 21:41] martinmr commented on #3691
This was fixed by #3804

[2019-08-15 21:41] #3691 closed

[2019-08-15 23:16] gugahoa commented on #3800
Same here.
OS specs:
Operating System: Arch Linux
Kernel: Linux 5.2.0-arch2-1-ARCH
Architecture: x86-64
8Gb RAM
SSD Samsung Evo 970 Plus 256gb

[2019-08-16 00:09] MichelDiz commented on #3800
@dodyg I'm not sure about your logs, It seems okay to me. Are you having some other issue? After the live load are you able to use it?

[2019-08-16 00:25] gugahoa commented on #3800
A user at Slack kindly explained that the error is caused by following along the Tour of DGraph for version 1.0.16 while running the master branch locally. The same error I was receiving got solved by changing the Tour of DGraph version to master.

[2019-08-16 00:28] MichelDiz commented on #3800
Yeah, @gugahoa It was me. His case seems to be different, but his logs don't help.

[2019-08-16 07:19] yevgenypats opened #3826 "Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 16:31] MichelDiz commented on #3800
Oh, just found his comment in discuss with the logs I needed
So I can confirm that I can reproduce the issue. But is recommended to use Docker for now. Because Dgraph is aimed at UNIX systems. There must be something about the Windows file system.

![image](https://user-images.githubusercontent.com/6570955/63182718-98b98d00-c029-11e9-9a87-8bd474d2986c.png)

[2019-08-16 17:32] #3741 closed

[2019-08-16 21:03] #3690 closed

[2019-08-16 22:20] martinmr opened #3831 "Backup fails on bulk loader data."
Starting with commit 30ad3a4f44da9a0681d7f6f526886ba9e1f75604, backup hangs forever when trying to backup an instance on which the bulk loader was used (even if mutations are added later). @danielmai reported that the rollup function seems to be taking a long time.
This commit introduces the backwards-compatible format, which must rollup the lists. Before that, rollup was not called during backup.

[2019-08-16 23:23] martinmr commented on #3831
I debugged a little bit more and I've narrowed down the issue a bit. To summarize:

- Rollup is not the issue, as it completes successfully and the output appears to be reasonable.
- The function `toBackupList` in `ee/backup/backup.go` never exits. This function takes an iterator and goes through the posting lists, rolling them up and converting them to the new format. However, the iteration loops

[2019-08-16 23:31] markmssd commented on #1917
I would love to help creating a Helm chat. I could start with a minimal working version, then work toward a production grade one.

I’m also a fan of DGraph and I think its adoption would be much faster with a better DX.

That could potentially help for the DaaS later on.

[2019-08-16 23:33] danielmai commented on #1917
Hey @markmssd. A Dgraph Helm chart is already available at https://github.com/dgraph-io/dgraph/tree/master/contrib/config/kubernetes/helm. We're definitely open to any suggestions you have for improving the existing chart.

[2019-08-18 16:44] objectiveous commented on #3817
Just registering my interest in this issue/feature as I'd like to be able to do something like the example below.

### Example

[code]

[2019-08-19 06:51] pawanrawal commented on #3826
Hey @yevgenypats

This sounds interesting. It would be nice if the integration can help us catch some bugs before our users do so. Looking forward to your PR.

[2019-08-19 06:59] yevgenypats commented on #3826
Hi @pawanrawal, cool! will put it on our near roadmap. Also, I noticed that you are part of the cncf, just as a reference you can take a look at https://github.com/coredns/coredns fuzzit integration.

Also, I need to mention that we have a reward program in case you have time/want to implement this yourself I would be happy to reward you as well as get unbiased feedback on how smooth the integrati

[2019-08-19 07:10] pawanrawal commented on #3814
I was able to reproduce the issue and am looking into a fix now.

[2019-08-19 07:15] pawanrawal commented on #3814
Here is a same response which demonstrates the problem.

[code]

Notice how instead of the `name`, `randomCount` is returned as the key.

[2019-08-19 07:45] ahmedbrandver commented on #1755
+1

[2019-08-19 07:54] dodyg commented on #3800
The loading of live data works well in Dgraph v1.0.16 as far as I remember.

[2019-08-19 11:29] prashant-shahi opened #3835 "Too many goroutines blocked"
- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
**Yes**

- What is the hardware spec (RAM, OS)?
    - 32GB RAM
    - Ubuntu 18.04.2 LTS

- Steps to reproduce the issue (command/config used to run Dgraph).
Using `docker-compose` using `dgraph:v1.1` image built from master to run dgraph cluster of one node each of `alpha` and `zero`. I had

[2019-08-20 02:37] Willem520 commented on #3382
I have the same problem,How can I resolve them. I used Spark and dgraph4j to import data

[2019-08-20 08:06] yevgenypats commented on #3826
hi @pawanrawal , one question. where is the config for your CI (TeamCity), I would like to add another step there.

[2019-08-20 15:17] mehdiym opened #3840 "1.1.0-rc1: count selector at root ignores given value"
- What version of Dgraph are you using?
1.1.0-RC1

- Steps to reproduce the issue (command/config used to run Dgraph).
Set in the schema a predicate with `@reverse` and `@count`, eg:
[code]
Add nodes and edges with that predicate, then do a query based on the count, eg:
[code]

- Expected behaviour and actual result.
I would expect results having only one reverse edge `~game_answer`.

My result:
[

[2019-08-20 17:15] jgoodall commented on #3067
Any updates here for getting loops to work properly?

[2019-08-20 18:35] danielmai commented on #3840
Hi @mehdiym can you provide a sample data set and exact steps you did starting from a fresh cluster that led to the result you're seeing?

[2019-08-20 20:32] mehdiym commented on #3840
I'll send you a dump of my database on slack.
I only use one alpha instance, 4Go lru. I reproduce it with my integration tests, even from a fresh new database (by removing p, w and zw dirs).
Restoring the database from a standard rdf export/import removes the bug.

[2019-08-20 20:33] danielmai commented on #3840
Great, looking forward to your message on Slack.

[2019-08-20 21:09] danielmai commented on #3840
I can reproduce the issue with the database p, w, and zw dirs you shared. I suspect this issue is due to how your integration tests load data into Dgraph. I can't reproduce this with live loader, bulk loader, or constructing my own sample data set by loading via mutations.

If you can share the Dgraph data loading steps that's done by your tests we should be able to reproduce this issue.

[2019-08-20 21:28] AlexandreDaSilva opened #3841 "has() not working until transaction is committed"
- What version of Dgraph are you using?
Dgraph version   : v1.0.16
Commit SHA-1     : 0590ee95
Commit timestamp : 2019-07-11 11:52:54 -0700
Branch           : HEAD
Go version       : go1.12.5

- Have you tried reproducing the issue with latest release?
Yes, v1.1.0-rc1, and the behavior is the same.

- What is the hardware spec (RAM, OS)?
Windows 10 Pro, version 1903
Intel Core i7-9750H
16GB of RAM

[2019-08-20 23:38] #3814 closed

[2019-08-21 00:18] manishrjain commented on #3841
Somewhere in those commits last year, there was one which removed an overlay of uncommitted transactions that we were managing on top of the committed data set. It was causing us performance issues to maintain that.

With those changes, has and most indices would only work once the txn gets committed, not before. So, this is expected behavior.

[2019-08-21 05:22] rickytyho commented on #1755
+1

[2019-08-21 05:50] danielmai commented on #3835
[goroutine.txt](https://github.com/dgraph-io/dgraph/files/3523709/goroutine.txt): goroutine dump containing 4159 goroutines when the blockage happens.

locks acquired:
[code]

[2019-08-21 06:00] yevgenypats commented on #3826
@pawanrawal ping. can you give me some direction on how would be the best way to add another step to the CI?

[2019-08-21 08:26] AlexandreDaSilva commented on #3841
Coming from relational databases with ACID transactions, I find this behavior odd. When you are in a transaction, reads and writes should be consistent. If I can't see the data I just wrote in the same transaction, I think it can lead to fragile code, especially in large projects with many developpers.

Suppose I have a function that checks if a promotional code has been applied to a basket, and a

[2019-08-21 08:50] jarifibrahim commented on #3835
This should be fixed by https://github.com/dgraph-io/badger/pull/976

[2019-08-21 10:22] xmh1114 commented on #3680
the same problem. After installation. Ratel webpage can be access but can not connect to dgraph server.

[2019-08-21 10:55] mangalaman93 commented on #3841
related to #3721

[2019-08-21 12:18] AlexandreDaSilva commented on #3841
Thanks for the link. I read #3721 and #3103, and I'm kind of puzzled by your stance on transactions. I would like to open a debate on this subject and discuss it with you, because I think it is important.

What you call "_an inconvenience caused by the internal design of Dgraph_", for someone who has experience with relational databases supporting ACID transactions, I would call it a bug.

When I

[2019-08-21 13:53] prashant-shahi opened #3845 "Query body with multiple lines unable to parse"
- Dgraph version
[code]

- Steps to reproduce the issue (command/config used to run Dgraph).
Setup Dgraph cluster with an image built from the latest master branch. Load the movie dataset.

    Run the following query :
[code]

   Above query returns error.
[code]

    But when I pass the request body as a single line :
[code]
    Response :
[code]

cc: @mangalaman93

[2019-08-21 14:37] animesh2049 commented on #3845
Newline after `{` makes this JSON invalid.

[2019-08-21 14:37] #3845 closed

[2019-08-21 20:43] danielmai commented on #3840
In Dgraph v1.1.0-rc1 we are not updating the count index for delete mutations.

[2019-08-21 21:05] mehdiym commented on #3840
I'm glad you found it out.

[2019-08-21 23:11] #3803 closed

[2019-08-22 03:26] mooncake4132 commented on #3841
@AlexandreDaSilva Dgraph also had performance issues with big transactions. See #3046. I haven't retested so I don't know if performance has been improved since.

I also came from a SQL world and agree with most of what @AlexandreDaSilva said. I understand Dgraph is still very young project and have other priorities but I do hope Dgraph team can put more love into Dgraph's transaction system.

[2019-08-22 04:32] amandalmia14 opened #3848 "Allow variable value to parameters in @recurse directive"
In this example - https://github.com/dgraph-io/pydgraph/blob/master/examples/simple/simple.py

At the method,
[code]

you have mentioned  ```variables = {'$a': 'Alice'}```, but is it possible to pass multiple data, like ```depth``` along with the name?

[code]
where ```keywords``` is  a list of words and ```depth``` is an integer.
If I do that I am getting an error,  as

```Exception: Values and k

[2019-08-22 04:59] mangalaman93 commented on #3848
The problem here is that Dgraph currently does not support passing a variable value for depth argument in @recurse. It is perfectly fine to pass multiple data (all string encoded, Dgraph does parsing based on the type provided).

Meaning -
[code]

This doesn't work because you are expected to pass `5` in string i.e. `"5"`. Dgraph will convert it into integer value `5`.

Here, the feature request i

[2019-08-22 16:52] eawer opened #3849 ""No *.rdf files found." while using bulk import"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Dgraph version   : v1.0.16
Commit SHA-1     : 0590ee95
Commit timestamp : 2019-07-11 11:52:54 -0700
Branch           : HEAD
Go version       : go1.12.5

- Have you tried reproducing the issue with latest release?
It is the latest. On master (1a8f92eb) seems to work, though other stuff (`live` import)

[2019-08-22 17:22] danielmai commented on #3849
Hi @eawer, loading the freebase data set will work if you rename the data file to `freebase-rdf-latest.rdf.gz` so that we pick up the file format from the `.rdf.gz` suffix.

In the future (v1.1.0) bulk and live loader will have a `--format` flag where you can specify the format of the file as RDF or JSON format without requiring us to detect the file format using the file name.

[2019-08-22 17:23] danielmai commented on #3849
Can you elaborate on the `live` import issue with master?

[2019-08-22 20:39] eawer commented on #3849
@danielmai It's actually interesting.
So, importing https://github.com/dgraph-io/benchmarks/blob/master/data/21million.rdf.gz with `latest` works (not with https://github.com/dgraph-io/benchmarks/blob/master/data/21million.schema though)
[code]

For master:
At first time I received:
[code]
At second time, it finished, but with 2274 aborts:
[code]
At third, time it had some error in the middle of t

[2019-08-22 21:17] danielmai commented on #3849
The schema type `[uid]` is only available in Dgraph v1.1.0. For Dgraph v1.0.x, use the benchmarks data in the release/v1.0 branch:

https://github.com/dgraph-io/benchmarks/blob/release/v1.0/data/21million.rdf.gz
https://github.com/dgraph-io/benchmarks/blob/release/v1.0/data/21million.schema

For live loader, it looks like the data finished loading for you. Aborts are OK, but aborts show that there

[2019-08-23 01:46] campoy opened #3850 "Make --lru_mb optional"
Currently, alphas won't work unless you provide a value for `--lru_mb` of at least 1024MB

We should instead set the default to `1024MB`.

[2019-08-23 01:56] MichelDiz commented on #3850
Just an opinion, I think we should try catch the RAM available and set 50% of it as default.

e.g (from stackoverflow)
[code]

Or https://godoc.org/github.com/capnm/sysinfo

If we set 1024MB as default users can think this is some kind of minimal recommendation.

[2019-08-23 11:10] animesh2049 opened #3873 "Dgraph should handle shutdown gracefully"
### What version of Go are you using (`go version`)?
v1.1.0-rc1

<pre>
$ go version
go1.12.5
</pre>

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
General

### What did you do?
I ran 6 node cluster (dgraph), flock, flock client **earlyoom**.

### What did you see instead?
Panic.

[code]

[2019-08-23 17:47] MichelDiz opened #3857 "Show query progress, specifically for long running queries"
### What you wanted to do

A massive upsert (milions of nodes).

### Why that wasn't great, with examples

All massive upserts take some time to execute. The massive upsert works fine, but there's no visual reference during the process if it is going well or not. Sometimes Ratel could fail visually or the Browser (for some reason) and We're not sure if the Big Upsert was executed or still executin

[2019-08-23 22:49] danielmai opened #3861 "panic: runtime error: invalid memory address or nil pointer dereference with split posting list"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
master

[code]

- Have you tried reproducing the issue with latest release?
No. Split posting list is only in master.

- Steps to reproduce the issue (command/config used to run Dgraph).

I'm not sure how to reproduce this. I was doing data loading via live loader. Here's the Alpha logs from the panic

[2019-08-24 05:59] dodyg commented on #3800
I tried it with https://discuss.dgraph.io/t/dgraph-v1-1-0-rc2-release-candidate/4954 (RC2) and same problem.

[2019-08-24 06:07] MichelDiz commented on #3800
We are checking this, this seems to be related to BadgerDB and the Windows System File. So it need to be solved there first. In this case you could use until the fix, the Docker version.

[2019-08-24 16:49] arabbani opened #3862 "Spring Data integration"
### What you wanted to do

We need Spring Data integration for Dgraph. Is there a possibility for official support in this case?

### What you actually did

### Why that wasn't great, with examples

### Any external references to support your case

[2019-08-26 10:17] mangalaman93 commented on #3850
I do not think `lru_mb` is currently used at all. It was previously used when we had an LRU cache, it was removed from Dgraph at some point.

[2019-08-26 10:51] LoganLee1991 opened #3865 "Ratel Dashboard post duplicate query and mutate"
When I click "run" button in the Ratel dashboard console, the mutate (or query) operation will execute two times, which make two nodes added, not one it should be. Is it a bug or any thing i do wrong?

dgraph version: Dgraph v1.0.16, Binaries for Windows
ratel dashboard: Local Bundle version
browser: Firefox 68.0.2
![图片](https://user-images.githubusercontent.com/19644417/63685604-629eb900-c832-11e

[2019-08-26 14:12] animesh2049 commented on #3840
@mangalaman93 ran `git bisect` to find out where did this start. Below is the output of that.

[code]

[2019-08-26 15:51] animesh2049 commented on #3840
I think there is some bug in `GetFromDelta` function.
https://github.com/dgraph-io/dgraph/blob/9af081d10c35e68942edf0c3672f77f5329f0c97/posting/index.go#L172
Changing it to `txn.Get` pases the test in  [Aman's PR](https://github.com/dgraph-io/dgraph/pull/3853)

[2019-08-27 08:00] 1l0 commented on #3586
Still no luck on Arm 32 bit.
[code]

[2019-08-27 11:49] jarifibrahim commented on #3873
I've moved the issue to dgraph from badger. The error was caused in dgraph because dgraph tried to close badger when a transaction was active.

[2019-08-27 16:07] prashant-shahi opened #3875 "Changing the schema after live loader some times results in a deadlock (single node alpha)"
- What version of Dgraph are you using?
[code]

- Steps to reproduce the issue (command/config used to run Dgraph).
   - Using `dgraph/dgraph:v1.1` build image from master(v1.1.0-rc2).
   - Run a single node Dgraph cluster using the following yml.
[code]
    - Use live loader for [21M dataset and schema](https://github.com/dgraph-io/benchmarks/tree/master/data).
    - Alter the schema using the cu

[2019-08-28 09:36] prashant-shahi commented on #3875
Oh, sure. I have added the goroutine dump and pprof binary in the gist below:
https://gist.github.com/prashant-shahi/a829bb76359e37b73c9010004f4ba6e4

[2019-08-28 12:24] mehdiym commented on #3840
Working great now, all my integration tests pass, thx.

[2019-08-28 14:24] ashish-goswami commented on #3875
Deadlock is because of https://github.com/dgraph-io/badger/issues/993

Things which lead to deadlock:
* Because of deadlock in updateDiscardStats, one of the compaction routine got stuck.
* While changing the schema, some index is getting rebuilt. During rebuilt, we are trying to drop some data by calling DropPrefix.
* DropPrefix tries to stop compactions, which cannot be done as one the compactio

[2019-08-28 14:26] #3875 closed

[2019-08-28 16:35] jarifibrahim commented on #3835
This has been fixed in badger via https://github.com/dgraph-io/badger/pull/976 and added to Dgraph via  https://github.com/dgraph-io/dgraph/pull/3876.

[2019-08-28 16:35] #3835 closed

[2019-08-28 16:59] jarifibrahim opened #3879 "Badger: SIGILL on macos 10.13.6 when trying to set a key value pair"
`Dgraph v1.1.0-rc3` uses the latest version of Badger and the latest version of badger has an issue with older hardware. See https://github.com/dgraph-io/badger/issues/980.

Dgraph users will eventually run into this issue. The fix has to be merged in ristretto first and then added to badger and Dgraph. PR on ristretto that fixes this issue https://github.com/dgraph-io/ristretto/pull/37

[2019-08-28 17:03] jarifibrahim commented on #3879
The change in badger does not affect Dgraph since Dgraph runs badger in managed mode. The bug affects only badger instance running in normal mode.

[2019-08-28 17:03] #3879 closed

[2019-08-29 07:13] Willem520 opened #3882 "It is possibllity for official support for Spark or Flink"
What you wanted to do
We need Spark or Flink integration for Dgraph. Is there a possibility for official support in this case?
What you actually did

Why that wasn't great, with examples

Any external references to support your case

[2019-08-29 18:46] eawer opened #3883 "Error while parsing certain time formats"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with the latest release?
Yes

- What is the hardware spec (RAM, OS)?
Ubuntu 19.04, 16Gb RAM

- Steps to reproduce the issue (command/config used to run Dgraph).
`docker exec -it dgraph dgraph bulk -f freebase.rdf.gz -s freebase.schema -v 3 --zero localhos

[2019-08-29 19:28] MichelDiz commented on #3883
Can you share the part of the RDF with the time string?

BTW, it is important to note that not every dataset in RDF format is directly compatible with Dgraph. Most of them you need to treat first then make the insertion. Dgraph uses a very simple Nquads pattern, There are usually complex datasets with features that are not supported in Dgraph RDF parser. So you may have to pay attention to this.

[2019-08-29 19:35] eawer commented on #3883
it can be seen in the stack trace:
[code]

[2019-08-29 19:40] MichelDiz commented on #3517
The new Upsert transaction is available in the v1.1 RCs. And will be part of the final release. The way this new transaction works will fit perfectly the needs of this question. Also, the mentioned -x option that saves the mapped UIDs to a file is a very handy option to use if you use the same Blank Nodes.

I consider this issue to be resolved and as it is an old issue I will close. Any questions

[2019-08-29 19:40] #3517 closed

[2019-08-29 20:40] gitlw commented on #3883
@eawer The supported datetime formats are the ones that are compatible with RFC3339, e.g. 2006-01-02T15:04:05.999999999+10:00 or 2006-01-02T15:04:05.999999999)

This doc is available in https://docs.dgraph.io/query-language/#schema-types at the dateTime DgraphType line and also the Note section below.

[2019-08-29 20:40] #3883 closed

[2019-08-30 00:26] campoy opened #3885 "panic: assignment to entry on nil map"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

v1.1.0-rc3

- Have you tried reproducing the issue with latest release?

yes

- What is the hardware spec (RAM, OS)?

Debian cloud instance on GCP

- Steps to reproduce the issue (command/config used to run Dgraph).

Not sure how to reproduce it, I was loading the data in the attached file after a `D

[2019-08-30 05:27] eawer commented on #3883
@gitlw and what about time itself (without date)? RFC3339 `5.6` mentions `partial-time = time-hour ":" time-minute ":" time-second [time-secfrac]`, is it supported as well?

[2019-08-30 17:05] danielmai opened #3887 "CID never created if Zero stops early after first init"
If you suspect this could be a bug, follow the template.

### What version of Dgraph are you using?
v1.1.0-rc3

### Have you tried reproducing the issue with the latest release?
Reproducible on v1.0.16

### What is the hardware spec (RAM, OS)?
N/A (Linux)

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run a Dgraph Zero, and then stop it before it proposes a CID. This cr

[2019-08-30 18:13] gitlw commented on #3885
I tried a couple of things, including forcing a snapshot & rollup followed by a mutation with deletion that can go through the code in the stacktrace, but still couldn't reproduce the bug.

Also the data you attached has this
[code]

[2019-08-30 18:15] gitlw commented on #3861
I tried a couple of things, including forcing a snapshot & rollup followed by a mutation with deletion that can go through the code in the stacktrace, but still couldn't reproduce the bug.

Also the data you attached has this
[code]

and when I manually sent the type of "type" to [uid], dgraph complains it cannot accept the string "Normal".

[2019-08-30 19:04] danielmai commented on #3885
@campoy what client were you using to send this mutation?

[2019-08-30 19:40] gitlw opened #3890 "Support a new type that represents a time interval"
## Experience Report

### What you wanted to do
As discussed in #3883 , the user is requesting to have a data type that represents a time interval.
Ideally, we should support
- operations between a dateTime and a time interval. That is adding or subtracting the interval from a dateTime should generates another dateTime.
- if a time interval predicate is indexed, we should support operations such a

[2019-08-30 19:41] gitlw commented on #3883
@eawer Unfortunately that is not supported for now. I've created a feature request in #3890 .

[2019-08-30 20:17] eawer commented on #3883
@gitlw just to be clear, what I was asking about is not time interval, but the time itself - `HH:MM:SS` eg. `22:30:00`, `08:45:30`, `23:59:59` etc., and this is what  I think `5.6` of RFC3339 is about

[2019-08-30 20:36] eawer commented on #3883
actually, looks like dgraph can't handle this pattern as well. I've tried to load a file with a single line
`<http://rdf.freebase.com/ns/m.0108b_kd> <http://rdf.freebase.com/ns/base.schemastaging.phone_open_times.sunday_closing_time>   "00:00:0\"^^<http://www.w3.org/2001/XMLSchema#dateTime> .` and it failed with

[code]

So right now time parsing is not supported, correct?

[2019-08-30 20:37] gitlw commented on #3883
That's correct. Time parsing is not supported.

[2019-08-30 21:41] danielmai commented on #3883
@eawer According to RFC 3339 5.6 describes the syntax for RFC 3339-compatible strings that contain date **and** time. AFAIK, it does not allow for dateless strings.

From [RFC 3339 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), the accepted format is specified by `date-time`:

The Dgraph docs (https://docs.dgraph.io/query-language/#schema-types) has a note that `dateTime` accepts RFC 3339-

[2019-08-31 05:51] eawer commented on #3883
probably I got it wrong, thanks for the explanation

[2019-09-01 17:43] mehdiym opened #3893 "1.1.0-rc3 @count index on reverse edge fails after exporting/importing database"
- What version of Dgraph are you using?
1.1.6-rc3

- What is the hardware spec (RAM, OS)?
Linux debian stable 16Go DDR

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Export database user "/admin/export" endpoints
2. Live import database
3. Query some nodes matching a specific count on reverse edges

- Expected behaviour and actual result.
Expected: Get only nodes with the

[2019-09-01 21:11] mehdiym commented on #3893
I compared the valid and the invalid exports, and they are identical, except for the order of n-quads.
Comparing them with `cat  g01.rdf | sort > dump` shows no difference.
It seems order is important, and 1.1.0-rc3 generates an order that creates index issues.

[2019-09-02 14:33] markmssd opened #3896 "https://dgraphcloud.io - DGraph as a Service (Managed DB)"
Hi all,

**TLDR:** Would you be interested in a “**DGraph as a Service**”? https://dgraphcloud.io :zap:

We’ve struggled a lot back then for installing DGraph, until we finally got it and use it in production.

We wished there was a Managed DGraph service that we could have used right away.

Since there is a LOT of issues about installing/running DGraph, we have decided to use all that we’ve learn

[2019-09-03 04:00] campoy commented on #3850
I don't care that much about the value, but making it compulsory when we're not even using it seems unnecessary.

Running the version on master as today I get:

[code]

[2019-09-03 04:49] campoy commented on #3850
After a chat with @manishrjain we decided that we should try to guess the total size of RAM and:

- if we find the size, use 50% of it and log a warning with a link to a page explaining how to set the `lru_mb` correctly
- if we don't find the size (as it probably happens with Windows?) fail and log an error with the same link as above

This will be part of the next release, not necessary for 1.1.0

[2019-09-03 05:34] campoy commented on #3759
Hey @martinmr , could you give an update on this issue?

[2019-09-03 13:34] mangalaman93 opened #3902 "Jepsen tests are incomplete because they cannot run due to Java Runtime exceptions"

[2019-09-03 14:21] campoy commented on #3896
Hi there, @markmssd

I'd love to know more about the kind of issues you've found while running Dgraph.
I know that we're already scheduling a chat with you sometime soon, so this issue can be closed.

[2019-09-03 14:21] #3896 closed

[2019-09-03 14:25] campoy commented on #3885
I was sending the query with `curl`.

[2019-09-03 14:29] #3850 closed

[2019-09-03 14:49] campoy opened #3903 "Support expand of types"
Since v1.1.0 Dgraph support types and `expand(_all_)` is defined as the expansion of all the predicates found in all of the types linked to any of the nodes in the query.

So for instance, if we have two types Person and Aged:

[code]

And we have the following dataset:

[code]

When we query all values of type `Person` and use `expand(_all_)`:

[code]

we end up receiving the field `age` even tho

[2019-09-03 14:53] campoy opened #3904 "Support filter on expand"
It would be very useful to filter what fields are included in an `expand` operation.

For instance, we could expand only the predicates pointing to values of type `Person` from a `Movie` as such:

[code]

This would expand the predicates of type `uid` or `[uid]` and show only the nodes associated to the type Person.

[2019-09-03 15:03] campoy commented on #3873
This is not a new issue, requires some big changes - moving to next release.

[2019-09-03 15:38] #3831 closed

[2019-09-03 15:39] gitlw commented on #3831
This issue has been fixed in the PR referenced above.

[2019-09-03 16:18] hackintoshrao commented on #3893
Would be nice to have automated tests around export and import.

[2019-09-03 17:12] erhlee-bird opened #3905 "Using "expand" with "@cascade" returns no results"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

https://play.dgraph.io

- Have you tried reproducing the issue with latest release?

No

- What is the hardware spec (RAM, OS)?

N/A

- Steps to reproduce the issue (command/config used to run Dgraph).

Run this query in Ratel

[code]

- Expected behaviour and actual result.

I expect my query to ret

[2019-09-03 19:42] #3861 closed

[2019-09-03 19:53] manishrjain commented on #3885
Should be fixed by my change above.

[2019-09-03 19:53] #3885 closed

[2019-09-03 22:02] gitlw commented on #3905
@erhlee-bird
The query
`
{
  genre(func:has(~genre)) @cascade {
    uid
    ~genre @filter(uid(0xf))
  }
}
`
returns the following uids
`
"genre": [
      {
        "uid": "0x13af13"
      },
      {
        "uid": "0x2a6b6b"
      },
      {
        "uid": "0x3fc823"
      },
      {
        "uid": "0x5e4ca3"
      },
      {
        "uid": "0x7297f5"
      }
    ]
`

And these nodes do not have

[2019-09-03 22:04] gitlw commented on #3904
@campoy It seems the syntax `expand(type(Person))` is more concise and intuitive. What do you think?

[2019-09-03 22:35] martinmr opened #3909 "Smarter reverse edge semantic in type system"
Pasted from https://reviewable.io/reviews/dgraph-io/dgraph/3907#-LntC8SaBFikss0vhpww:

This looks like a place in the type system that we can improve on. Namely, that reverse edges between two distinct types are set for the object type. i.e., for the following schema, the edge ~predicate: [A] should be implied in type B since type A has an edge to B:

[code]

[2019-09-03 22:45] erhlee-bird commented on #3905
https://docs.dgraph.io/master/query-language/#expand-predicates

Noted, thank you.

[2019-09-03 23:30] #3905 closed

[2019-09-04 00:25] martinmr commented on #3759
My bad, this has been fixed for release 1.0 in commit 0ac6942fa7294d49874d67dbb8ae7aca5e834324

[2019-09-04 00:25] #3759 closed

[2019-09-04 06:14] campoy commented on #3909
How do we know whether the reverse predicate is of type `[A]` and not `A`?

[2019-09-04 06:54] danielmai commented on #3909
For reverse edges of either `uid` or `[uid]` edges, the reverse edge would always be a list. The Dgraph schema does not guarantee that there is only one incoming edge to a node.

[2019-09-04 13:50] campoy commented on #3800
This is indeed not working on Windows.

[2019-09-04 13:52] campoy commented on #3800
I reproduced it on a VM on GCP

[code]

[2019-09-04 13:55] campoy commented on #3800
I was also able to reproduce it with `badger` directly.

[code]

[2019-09-04 14:39] eawer opened #3916 "Txn is too big to fit into one request at the very end of bulk import"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
Ubuntu 16.04.6 LTS, 30GB

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Run zero `docker run -it --rm -p 5080:5080 -p 6080:6080 -p 8080:8080 -p 9080:9080 -p 8000:80

[2019-09-04 19:54] mangalaman93 commented on #3882
What are use cases that you are trying to solve using Spark on Dgraph?

[2019-09-04 20:51] eawer opened #3918 "OOM and performance issue while bulk importing on master"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
I will compare `master` performance to `latest`, so:
for `latest`: 30GB, 8 x Intel(R) Xeon(R) CPU @ 2.30GHz, Ubuntu 16.04
for `master`: 60GB, 16 x Intel(R) Xeon(R) CPU @ 2.30GHz, Ubuntu 16.0

[2019-09-04 21:48] vipulmathur opened #3919 "Live loader does not work with TLS"
### What version of Dgraph are you using?

v1.0.17

### Have you tried reproducing the issue with latest release?

No. I can't use v1.1.x yet due to the breaking changes.

### What is the hardware spec (RAM, OS)?

Not sure if it matters to the issue, but I am using Arch Linux on a Dell XPS 15 with 16GB RAM.

### Steps to reproduce the issue (command/config used to run Dgraph).

These steps are bas

[2019-09-05 09:15] zhuyaoyhj opened #3922 "Bulk loader does not work with --store_xids"
### - What version of Dgraph are you using?
    Dgraph version   : v1.1.0
    Dgraph SHA-256   : 7d4294a80f74692695467e2cf17f74648c18087ed7057d798f40e1d3a31d2095
    Commit SHA-1     : ef7cdb28
    Commit timestamp : 2019-09-04 00:12:51 -0700
    Branch           : HEAD
    Go version       : go1.12.7

### - Have you tried reproducing the issue with latest release?
    Yes

### - What is the hardw

[2019-09-05 20:58] danielmai opened #3924 "A type can specify the same field multiple times"
### What version of Dgraph are you using?
v1.1.0

### Have you tried reproducing the issue with the latest release?
Yes

### Steps to reproduce the issue (command/config used to run Dgraph).

1. Run Dgraph
2. Update the schema with the following type:
[code]
3. The schema update is successful and the type contains two fields named `name`.

[code]
[code]

### Expected behavior and actual result.

T

[2019-09-06 03:26] pawanrawal commented on #3893
I had a look at this on request by @animesh2049. Here is a small program which reproduces the problem.

[code]

After running this program, the following query should return results but it doesn't.
[code]

Instead, this query returns a result.
[code]

The root cause of this issue is that reverse count index keys are not added to the conflict keys for a transaction. So concurrent updates go through

[2019-09-06 03:35] 123key opened #3931 "安装成功以后按照操作说明Java中存储/查询数据异常"
[error.txt](https://github.com/dgraph-io/dgraph/files/3582125/error.txt)

我使用的版本是V1.1.0，jdk版本1.8，实在centos7中安装成功了，页面上操作（建索引异常）成功，java上DgraphClient连接成功，在commit提交任务是出现这个异常

[2019-09-06 05:18] #3893 closed

[2019-09-06 07:15] manishrjain commented on #3663
Seems tricky. We'd need to make variables switch from Go maps to some sorted map implementation, which would be slower.

[2019-09-06 18:25] gitlw commented on #3931
@123key 感谢您使用Dgraph和提交这个问题.我刚刚把这个示例里的dgraph4j版本升级到了2.0.1,请您用git更新到最新的dgraph4j代码再尝试一次。如果还有问题的话请联系我们。

[2019-09-06 19:05] martinmr commented on #3919
I am able to get live loader to work on master with the same setup for zero and alpha with this command: `dgraph live -a localhost:9080 --tls_cacert ./tls/ca.crt  --tls_cert ./tls/client.live.crt -f somedatafile.rdf.gz -z localhost:5080`.

The issue seems to be that 1.0 does not have a flag to specify the client cert.

@gitlw can you take a look at this? In particular, why can't you specify a clie

[2019-09-06 19:54] gitlw opened #3934 "Streaming responses that are larger than RAM"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do
As shown in https://discuss.dgraph.io/t/can-not-query-dataset-with-222m-edge-in-a-bare-metal-serve