[2018-09-07 05:06] MichelDiz commented on #2563
Closed - Moved to discuss. Can be reopened when there's more details or/and the consolidated discussion..

[2018-09-07 05:06] #2563 closed

[2018-09-07 06:24] AJAviJain opened #2573 "Abnormal shutdown of PC, dgraph is not restarting after crash."
2018/09/07 11:48:19 Error while creating badger KV WAL store error: CreateFileMapping: The volume for a file has been externally altered so that the opened file is no longer valid.
Unable to map file
github.com/dgraph-io/dgraph/vendor/github.com/dgraph-io/badger/y.Wrapf
        /ext-go/1/src/github.com/dgraph-io/dgraph/vendor/github.com/dgraph-io/badger/y/error.go:82
github.com/dgraph-io/dgraph/ve

[2018-09-07 06:29] AJAviJain commented on #2573
Version - v1.0.8 and Windows 16GB RAM.

I have tried deleting lock files, also tried deleting the empty sst files in directories.

It has got crashed while i was using version v1.0.8_rc1 so i have tried restarting with latest version, but the error is same.

zero have got started after deleting lock file, but dgraph server is not getting start, you can check the above logs i am getting while runni

[2018-09-07 14:46] slawo opened #2574 "has(predicate) captures nodes which had the predicate deleted"
## Bug report

**Desktop (please complete the following information):**
 - OS: Linux + dockerImage dgraph/dgraph:v1.0.8
 - Dgraph Version: v1.0.8
 - RAM available:  8GB with "lru_mb 4096" for each Dgraph Server instance
 - Storage Type:  Cloud Storage
 - Dgraph Client: ratel

**if Containerization (please complete the following information):**
 - Main Container Software: kubernetes v1.11.1
 - Dgra

[2018-09-07 15:58] MichelDiz commented on #2574
Duplicated of https://github.com/dgraph-io/dgraph/issues/2212
Should be fixed by 999a4e0c42b9a10c4111de52eb5703ad682a2bbe.
Is related to https://github.com/dgraph-io/dgraph/issues/2484

"This is a bug with has queries where empty PL's are not ignored." pawanrawal.

[2018-09-07 16:08] slawo commented on #2574
It seems related but it happens in v1.0.8 so I did not bother linking this.

Also I have not tried this on other predicate types.

The issue is quite important as I use `has()` to filter data. In most cases on dates I'm able to use `le(predicate, CURRENT_DATE)` to get away with it but in some cases I need `not has()` and there I don't believe I can go around the issue.

[2018-09-07 16:28] MichelDiz commented on #2562
If you are using a local binary, the URL to Dgraph is localhos:8080 and Ratel localhos:8000

As Paul has noted, you are pointing to a seemingly external IP. You need to make sure this IP is serving correctly. The machine that you are using in "10.17.28.18:8888" must have the port open in the firewall, it must be visible on the network. And another detail is you configured the Dgraph to use port 88

[2018-09-07 16:32] MichelDiz commented on #2562
Another detail, as you are trying to use our Tour the Dgraph port must be 8080, you can not use our Tour on port 8888.

Please read this issue https://github.com/dgraph-io/dgraph/issues/1885

Please let us know if you succeeded.

[2018-09-09 07:51] in0ig commented on #2562
这是我的启动步骤：

1.# dgraph zero

Dgraph version   : v1.0.8
Commit SHA-1     : 1dd8376f
Commit timestamp : 2018-08-31 10:47:07 -0700
Branch           : HEAD

For Dgraph official documentation, visit https://docs.dgraph.io.
For discussions about Dgraph     , visit https://discuss.dgraph.io.
To say hi to the community       , visit https://dgraph.slack.com.

Licensed under Apache 2.0 + Commons Clause. Cop

[2018-09-09 11:57] tr37ion opened #2575 "Ratel without Cloudfront / Typeform"
Please remove external Cloudfront and Typefront scripts and move them to local.

[2018-09-09 12:58] in0ig commented on #2562
This is my startup step:
1.# dgraph zero

Dgraph version : v1.0.8
Commit SHA-1 : 1dd8376
Commit timestamp : 2018-08-31 10:47:07 -0700
Branch : HEAD

For Dgraph official documentation, visit https://docs.dgraph.io.
For discussions about Dgraph , visit https://discuss.dgraph.io.
To say hi to the community , visit https://dgraph.slack.com.

Licensed under Apache 2.0 + Commons Clause. Copyright 2015-2

[2018-09-10 03:15] in0ig commented on #2562
thanks

[2018-09-10 03:39] MichelDiz commented on #2562
We have some issue with Ratel's build. Next release will be ok. You can downgrade the Ratel's version. To try tho. But if you don't have internet, I don't know how you gonna do the downgrade.

Or you can use the installer I've shown.

Cheers.

[2018-09-10 12:05] AJAviJain commented on #2489
Getting the same error >> Unable to find log file. Please retry

I just have restarted the dgraph server.

using windows - no cluster

[2018-09-10 17:44] manishrjain commented on #2574
We changed the way Posting List Deletions are happening, so maybe that's causing it. Needs investigation.

[2018-09-10 17:48] manishrjain commented on #2500
We need to add a test for this, and ensure that we don't accept spaces in Facet keys.

[2018-09-10 21:53] paulftw commented on #2575
Thanks for your feedback.
We want to release new Ratel features much faster than we do with database server, so Cloudfront is a simple and reliable way of doing that (at least for now).

v1.0.9 will have give users an option to load Ratel from local as you've suggested, by appending `?cachedjs` to the Ratel URL. (In fact v1.0.8 already has that feature but due to my mistake has broken JS packaged

[2018-09-10 21:53] #2575 closed

[2018-09-11 13:40] manishrjain commented on #2573
Deleting lock file is ok. But, deleting SST file is not.

Can you run `badger info` tool on the p directory? You can compile it from Badger code.

[2018-09-11 15:16] slawo opened #2581 "server on crashloop"
## Bug report

**Desktop (please complete the following information):**
 - OS:
 - Browser:
 - Dgraph Version:
 - RAM available:
 - Storage Type:
 - Dgraph Client:

**if Containerization (please complete the following information):**
 - Main Container Software:
 - Integration (if applicable):
 - Dgraph TAG Version:

**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

**Expected

[2018-09-11 15:29] MichelDiz commented on #2562
maybe v1.0.9

[2018-09-11 15:53] tr37ion opened #2582 "Add JSON config file for Ratel and rename --addr to --zero?"
Please add a `--config=/path/file.json` option to ratel and consider renaming `--addr` to eg. `--zero` for more consistancy.

Btw. is `telemetry` missing in `--help` option or no more valid?

[2018-09-11 15:56] tr37ion opened #2583 "Add man pages for linux clients"
Can you please add man pages for all applications (server, zero, ratel)?

[2018-09-11 17:02] tr37ion commented on #2575
In case of Typeform, you may consider using its open source alternative [Tellform](https://github.com/tellform/tellform) instead. From what I hear it is very similar to Typeform.

Using Ratel in an isolated network would be much appreciated.

[2018-09-11 19:12] manishrjain commented on #2581
Do you have the w and p directories? Can you send that to us? My email id is manish at dgraph.io.

[2018-09-12 08:45] slawo commented on #2581
@manishrjain I rebuilt the entire setup and I did not keep the data folders.
I observed a lot of nodes missing. I will freeze all folders next time it happens.

[2018-09-12 16:01] ahopkins commented on #2545
For the sake of posterity, I am linking to a conversation on point on the forums. Still waiting to hear from the dgraph staff if they will address this is not.

https://discuss.dgraph.io/t/common-clause-on-license-dgraph-is-not-open-source/3167

[2018-09-12 16:11] MichelDiz commented on #2565
I see that you are proposing a change, but ideally you would have opened a discussion first to see where and how to apply that change. As it seems more a informal technical question I recommend a discussion first. So I'll close this.

BTW From what you wrote it seems to me that there may be two situations. One possible change to the code (feature) and one possible add to documentation. What would

[2018-09-12 23:36] danielmai commented on #2555
@srfrog can you update this issue report with the changes you're planning to make?

[2018-09-13 01:18] srfrog commented on #2555
i agree with @manishrjain (from video chat) and @jlapacik this is a new feature.

[2018-09-13 16:49] #2500 closed

[2018-09-13 18:15] #2574 closed

[2018-09-13 20:13] MichelDiz commented on #2484
This is partially fixed. By https://github.com/dgraph-io/dgraph/pull/2585 . In theory this fix would not have side effects with the existence of "ghost" predicates in the Node. But it still need to clean them.

A solution usage.

[code]
or

[code]

[2018-09-13 20:49] manishrjain commented on #2574
This should now be fixed. Can you test, @slawo ?

[2018-09-13 22:52] MichelDiz commented on #2574
Hey @manishrjain  I did a test with   `  image: 'dgraph/dgraph:v1.0.9-rc1'` and is working as expected.
[code]
[code]

And tried too

[code]

[2018-09-13 23:10] manishrjain commented on #2574
Thanks, @MichelDiz !

[2018-09-14 01:26] manishrjain commented on #2371
This should be fixed by https://github.com/dgraph-io/dgraph/pull/2585.

[2018-09-14 01:26] #2371 closed

[2018-09-14 01:27] manishrjain commented on #2222
@srfrog : Can you have a look at this?

[2018-09-14 01:33] srfrog commented on #2222
@emhagman yes, I'm preparing a PR for self-signed certs and I had to get rid of key pass phrases. The other issue I have is that the pass is held in memory, which kind of defeats the point. Thanks for letting us know though.

[2018-09-14 05:20] emersonwood commented on #2547
I tested out the 1.0.8 release with `expand_edge=false` and then ran the test here: https://github.com/dgraph-io/dgraph/blob/master/contrib/integration/testtxn/main_test.go#L49

If I set `CommitNow: true` on the mutation, the transaction would abort when trying to mutate.

If I set `CommitNow: false` on the mutation, the transaction would abort when trying to commit manually.

[2018-09-14 11:52] #2547 closed

[2018-09-14 11:54] manishrjain commented on #2536
Should be fixed by https://github.com/dgraph-io/dgraph/commit/f184b736c128f4bface96f1b0fcb8a03323c5147.

[2018-09-14 11:54] #2536 closed

[2018-09-14 11:57] manishrjain commented on #2492
This issue should have been resolved with fixes in both v1.0.7 and v1.0.8. If it still exists, feel free to file a new issue.

[2018-09-14 11:57] #2492 closed

[2018-09-14 16:41] danielmai commented on #2568
Fixed in 98d9a3641bf79cadaae48890af8bdf10d8ba6298.

Trying to run the same mutation in the latest Dgraph now gives an error:

[code]

[2018-09-14 16:41] #2568 closed

[2018-09-14 16:43] danielmai commented on #2582
Zero and Alpha both use the option `--my=addr:port`. Ratel can do the same for consistency.

[2018-09-14 17:07] danielmai commented on #2120
Like @sboorlagadda said, after a bulk load, copy the bulk load output p directories (e.g., `out/0/p`) to each of the replicas within a group before starting `dgraph server` on each.

Closing this issue.

[2018-09-14 17:07] #2120 closed

[2018-09-14 21:40] #2222 closed

[2018-09-14 22:43] manishrjain commented on #1809
This is an old issue, which is around the optimization of the JSON conversion process. We have fixed a bunch of tick missed to fire issues in v1.0.7 and v1.0.8. If you're seeing issues around that, feel free to file a new Github issue so we can investigate. Optimizing JSON conversion process isn't a priority as of now. So, closing this issue.

[2018-09-14 22:43] #1809 closed

[2018-09-14 22:44] manishrjain commented on #2526
@danielmai : Can you have a look at this?

[2018-09-17 22:41] Vliro commented on #2222
Also, using the library https://github.com/AlexandreDaSilva/DgraphNet does not work either, as it simply gives a 'Connecting Failed' error message. Using the method by @ospaarmann , and have all the proper certificates. Removing the certificates allows the connection to work properly.

[2018-09-17 22:44] srfrog commented on #2222
This is a bug related to gRPC with TLS, it has been fixed in PR https://github.com/dgraph-io/dgraph/pull/2580

[2018-09-18 17:46] danielmai opened #2601 "Error while mutating Tokenizer not available for language"
Title: Error while mutating Tokenizer not available for language

If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.8

- Have you tried reproducing the issue with latest release?
Yes.

- What is the hardware spec (RAM, OS)?
64 GB. Ubuntu 18.04.

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Run 1 Dgraph Zero and 1 Dgraph

[2018-09-18 19:17] danielmai commented on #2601
I tried re-running `dgraph live` from a fresh cluster with the following modified schema:

[code]

It's been running for an hour and I see aborts in the live loader output:

[code]

In the Alpha's /debug/requests I see this trace for Server.Mutate:

[code]

[2018-09-20 10:23] #2573 closed, assigned to nobody

[2018-09-20 23:27] paulftw commented on #2533
Still happening with docker image **v1.0.8** right after the standard 21million bulk import.

Following query takes **45 seconds** on play.dgraph.io:

[code]

/debug/requests:

[code]

[2018-09-21 12:47] mehdiym commented on #2326
Hello,
I do have such errors when doing massive parallel queries and mutations, but I don't know how to handle it: How can I know when I deal with that error and not other kind of errors?
I'd like to do a retry only when it's that error and return the error in other cases.
It would be great to have a dedicated error type for that.
Thanks.

[2018-09-22 01:04] danielmai commented on #2526
@udf2457 What's the reason for the root user check? The get script only runs `sudo` in a couple places, and if you run `sudo` as root it has no discernible effect.

[2018-09-22 08:13] udf2457 commented on #2526
Surely its a case of avoiding sloppy programming ?

You check for presence of sudo at line 63 but you don't actually use the sudo_cmd variable until line 153 (or 150 if the conditional matches).  Meanwhile your script has downloaded and unzipped binaries and all sorts of other stuff that's a complete waste of time, resources and bandwidth if the user is unable to finish the script because they can

[2018-09-22 13:24] samhain1138 opened #2609 "Improve error messages to point at specific line and character number"
## Experience Report

I am experienced with graph databases but new to dgraph.
I'm afraid to report the error messages and documentation are in extremely poor state.

I was trying to run a mutation setting some data, similar to the one in the quick start guide.
The error I received was:
`{"errors":[{"code":"ErrorInvalidRequest","message":"Invalid mutation formatting."}]}`
This does not help me und

[2018-09-23 13:00] j143 commented on #2505
Although, configuring via a docker image is great but a simple to use deployment is quite handy. Please consider support for this. Thank you.

[2018-09-23 21:57] johndouglascm commented on #2505
Details are here: https://cloud-partners-program.appspot.com/registration/technology

[2018-09-24 02:34] MichelDiz commented on #2609
Hi samhain1138,

Thank you for your experience report.

The error
`{"errors":[{"code":"ErrorInvalidRequest","message":"Invalid mutation formatting."}]}`
always will mean that you had a typo mistake. And only that.

Depending on the client you are using you may are confused. Please inform the client you are using (Ratel? Dgraph-js? So on). Using Ratel there is a specific syntax for running mutation

[2018-09-24 02:42] MichelDiz commented on #2609
Reopened because I noticed that the title "Experience Report" is not related to just experience xD sorry. So the focus of this issue is its title "Improve error messages to point at specific line and character number"

[2018-09-24 18:34] #2526 closed

[2018-09-24 18:37] danielmai commented on #2526
Thanks for explaining, @udf2457 . The script has been updated to check sudo privileges early on and to use openssl if available.

[2018-09-24 21:32] armaneous opened #2610 "Invalid error for semantically correct query"
- What version of Dgraph are you using?
dgraph:latest

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).
`my_id` is indexed on `exact` in schema. Performing this mutation:
[code]

- Expected behaviour and actual result.
Query should return no results:
[code]
Instead, this error appears:
`: Expected a valid value map

[2018-09-24 21:36] danielmai commented on #2610
@srfrog Can you take a look at this?

[2018-09-25 00:45] #2610 closed

[2018-09-25 01:34] Smerity opened #2612 "Potential index consistency issue after deletion"
- What version of Dgraph are you using?
Dgraph version   : v1.0.8
Commit SHA-1     : 1dd8376f
Commit timestamp : 2018-08-31 10:47:07 -0700
Branch           : HEAD

- Have you tried reproducing the issue with latest release?
As far as I am aware this is the latest release (according to Github Releases).

- What is the hardware spec (RAM, OS)?
Macbook Pro, 16GB

- Steps to reproduce the issue (comma

[2018-09-25 01:41] manishrjain commented on #2612
Can you test with v1.0.9-rc4? It was fixed.

Duplicate of https://github.com/dgraph-io/dgraph/issues/2574.

[2018-09-25 01:41] #2612 closed

[2018-09-25 01:43] Smerity commented on #2612
Thanks and sorry @manishrjain!

I tried searching earlier for GitHub issues but realized GitHub had defaulted to `is:open` and I didn't also check `is:closed`.

Very appreciative of the quick reply and doubly happy that all I need to do is update my version to rc4 =]

[2018-09-25 22:19] danielmai commented on #2505
I registered at the above link and also added Dgraph to the marketplace idea forum: https://googlecloudplatform.uservoice.com/forums/599443-marketplace/suggestions/35524432-dgraph

[2018-09-25 23:58] srfrog opened #2615 "New TLS tests"
The new cert command needs new tests to replace the contrib/tlstest tests

[2018-09-26 02:17] johndouglascm commented on #2505
Happy to help out - likewise, AWS.  I believe they can be monetized.  It would be fun if you could spin-up a distributed instance in Seattle, Singapore and Dublin in a couple of clicks.

[2018-09-27 20:43] dareneiri opened #2616 "Bulk Loader On Single Server Not Loading All Predicates"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.8

- Have you tried reproducing the issue with latest release?
On latest release

- What is the hardware spec (RAM, OS)?
macOS High Sierra 10.13.6
16 GB RAM
Docker Version 18.06.0-ce-mac73 (26764)

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Clone https://github.com/Mic

[2018-09-27 21:00] kortschak opened #2618 "Nightly notes truth value is inverted or unclear"
The text describing the nightlies' reliability is either incorrect or unclear:

This should be "Though, nightly is not thoroughly tested and could have unseen bugs." or "Though nightly is thoroughly tested, it could have unseen bugs." depending on which is true.

I'd send send a PR to fix this, but you don't have the source for the docs anywhere obvious anymore.

[2018-09-28 02:58] #2465 closed

[2018-09-28 10:12] kri5 opened #2619 "Performances Bottlenecks (GC, CalculateTabletsSize)"
- What version of Dgraph are you using?
1.0.9-rc5

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
16GB Ram 4Vcpu (GKE), one dgraph and three dgraphzero, docker upstream image

- Steps to reproduce the issue (command/config used to run Dgraph).
I ran `go-torch --seconds 360` on our test cluster, where we were running queries against.

- Expec

[2018-09-28 15:40] MichelDiz commented on #2616
I performed the mentioned steps and was not able to reproduce the issue
There are 13 entries on mine test.
And 1million has 10 entries.

![captura de tela 2018-09-28 as 12 36 07](https://user-images.githubusercontent.com/6570955/46218529-35dcdb80-c31b-11e8-9852-f8c9ab5a39ba.png)

[2018-09-28 16:07] Vliro opened #2620 "Val command crashes server immediately"
- What version of Dgraph are you using?
v1.0.8, as well as trying nightly.

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
i7 2600k
8gb ram
Linux ubuntu 4.15.0-34-generic #37-Ubuntu SMP Mon Aug 27 15:21:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

- Steps to reproduce the issue (command/config used to run Dgraph).
Following command
[code]
}
u

[2018-09-28 16:08] dareneiri commented on #2616
@MichelDiz

Thank you for your prompt response! Are these 13 entries also showing in Dgraph Ratel? Just want to clarify that it's the not the *.schema file itself that isn't showing the entries, but in Ratel after the bulk upload completes.

My *.schema file defines 13 entries so I expect 13 in Dgraph Ratel, but only see 9.

![screen shot 2018-09-28 at 9 07 39 am](https://user-images.githubusercon

[2018-09-28 17:13] MichelDiz commented on #2616
In Ratel only 12, but "`_share_hash_:string @index(exact) .`" we do not take into account because it is from Dgraph.

[2018-09-28 17:39] MichelDiz commented on #2616
By doing what you said in:

I was able to reproduce the issue. This happens in the insertion of Schema by bulkload, the data is okay.

![captura de tela 2018-09-28 as 14 26 35](https://user-images.githubusercontent.com/6570955/46224226-18fcd400-c32c-11e8-86cc-ee42ce8c1126.png)

You can work around this by adding your schema directly in Alter.

[code]

@danielmai Can you help me with this? Maybe I

[2018-09-28 18:46] danielmai commented on #2618
Any page on the docs can be edited with the "Edit Page" button at the top.

I'll remove the note for now. Nightly builds haven't been released for the last few months. Once they're reinstated we'll put them back in the documentation.

[2018-09-28 18:56] #2618 closed

[2018-09-28 21:14] danielmai commented on #2505
Not sure what else needs to be done here besides wait for Google Cloud to respond to the idea forum.

[2018-09-28 22:00] kortschak commented on #2618
Thanks, though the situation is moot having read the discussion on your change of license and the approach you take on discuss.dgraph.io with dissenting views.

[2018-09-28 23:36] #2620 closed

[2018-09-29 01:39] danielmai commented on #2619
Can you share more about the activity of the cluster during the performance measurement? Was in only running queries? Were there mutations happening as well?

[2018-09-29 02:15] #2555 closed

[2018-09-29 02:27] asadm commented on #2555
OP of the original issue here. Thanks for this!
So I can play with this in the next release I guess?

[2018-09-29 02:42] srfrog opened #2622 "Update bleve language support"
Currently the fulltext index has support for a limited set of languages, a partial list of those that bleve can support. This task is to refactor the fulltext index language support to the full list.

Success criteria:
- Remove snowball dependency, which is creating the limitation.
- Deprecate the contrib script that generates the stopword dictionaries
- Add language aliases for languages that sha

[2018-09-29 03:33] srfrog commented on #2555
That hasn't been decided yet, but it's likely. Thanks for submitting the issue!

[2018-10-01 13:42] Scapal opened #2623 "security: Password type stored as clear text"
Even if the `Password` type is secured by being unreadable, only verifiable, it is stored as plain text.

By just altering the schema an changing the type back to `string`, you can dump all the passwords. This is very **wrong**.

You should [scrypt](https://godoc.org/golang.org/x/crypto/scrypt) the password using the node `uid` and the predicate name as source for the salt.

This can be done witho

[2018-10-01 15:05] MichelDiz commented on #2623
Password type is encrypted. You have the ability to transform any Type to other types so you free turn Password type to plain text tho.

Check: https://github.com/dgraph-io/dgraph/blob/06ea4c545bc3cf0ed730327557dbff96406e75f8/types/password.go#L25

If you need to have full control over Password, please use other approaches and write with String type. This feature is just to make the DB user's life

[2018-10-01 17:31] srfrog commented on #2623
Perhaps not let passwords to be altered to other types ? It would be a new feature, and a good one IMO.

[2018-10-01 17:46] MichelDiz commented on #2623
@srfrog Gus, I think we should have a Lock to alter. Something like a PIN or a password. That might help. But also prevent from using Convert func from PasswordID to string. For in theory not even the DB maintainer should have access to the plain text. For that would be an invasion of privacy.

What do you think Gus?

@Scapal It was encrypted for sure, the problem is that you're free to convert th

[2018-10-01 17:47] srfrog commented on #2623
i agree, but we need to support the existing deployment as they are. i think for now the default would have to stay plain text, and introduce hashing function(s) as options. ie.,
[code]
also, what would happen when you change from say plain to script? i think we have a good idea here, we need to develop it a bit more. what do you think?

[2018-10-01 17:59] manishrjain commented on #2623
Hey guys, I want to weigh in here:

The existing functionality is right (looks buggy) but needs tweaks.

What's right: We never store the password in plain text (or at least that's the logic, disregarding any bugs for now). We're not going to change that behavior. A password type should not be

What we should tweak: We should not allow a password type to be altered, i.e. a default type can't be co

[2018-10-01 18:59] Scapal commented on #2623
When creating a `secret` predicate of type `Password` and perform an export, here is what I get:

**rdf file**:
[code]

**schema file**:
[code]

It seems the `secret` is never going through type conversion.

[2018-10-01 19:29] Scapal commented on #2623
ok, the `<xs:string>` is legit in the export but it should be the encrypted Base64 value. The `Convert()`from `password` to `string` just copies the string.
https://github.com/dgraph-io/dgraph/blob/06ea4c545bc3cf0ed730327557dbff96406e75f8/types/conversion.go#L312

[2018-10-01 19:44] Scapal commented on #2623
The problem only occurs with json mutations.

[code]
properly encodes the secret:

[code]

[2018-10-01 21:55] danielmai opened #2624 "Move dgraph-converter binary as a subcommand of the dgraph binary"
(Issue related to this discuss topic: https://discuss.dgraph.io/t/location-of-binaries-after-building-from-source/3324)

The binary `dgraph-converter` is built when running `go install -v github.com/dgraph-io/dgraph/dgraph/cmd/...` This command should be built into the main `dgraph` binary and be accessible as a subcommand, i.e. `dgraph converter`.

[2018-10-01 21:57] danielmai commented on #2624
@srfrog Can you take this?

[2018-10-01 22:11] danielmai opened #2625 "Add version tags to builds from source."
When building from source the version tags are missing:

[code]

It'd be valuable to fill out the commit and branch info for source builds. We could create a Makefile that does this, similar to how release.sh sets the version info.

[2018-10-02 12:18] kri5 commented on #2619
There are ~20 large queries running queries at the same time (in continuous). Theses queries are only read queries (no mutations).

I re-ran the same flametorch while similar workload was running, still looks the same, so i won't attach it, but i did get a heap profile as requested.

[pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz](https://github.com/dgraph-io/dgraph/fi

[2018-10-02 18:42] srfrog commented on #2623
@Scapal I have a PR to fix this. see if it resolves your issue #2627

[2018-10-02 22:21] danielmai opened #2628 "Improve throughput of bulk loader with distributed loading"
## Experience Report

The dgraph bulk loader [the fastest way to load data into Dgraph at close to 1M edges/sec](https://blog.dgraph.io/post/bulkloader/). This currently satisfies most users, but for extremely large data sets on the order of terabytes, it takes on the order of days if not weeks to finish bulk loading the entire data set.

### What you wanted to do

Complete a bulk load a multi-ter

[2018-10-03 00:00] srfrog commented on #2628
I think some of the backup work will help with this, specifically the restore.

[2018-10-03 05:28] mehdiym commented on #1747
I have [the same request](https://discuss.dgraph.io/t/how-to-find-duplicate-nodes-based-on-a-scalar-attribute-value/3247) in order to remove duplicate nodes in my database.

[2018-10-03 16:38] Scapal opened #2630 "alias on checkpwd"
Would it be possible to make the alias feature work with `checkpwd` ?

For the moment the aliasing doesn't work:

[code]
returns
[code]

I would expect this:
[code]

[2018-10-03 17:41] Brahmasmi opened #2631 "dgraph-ratel: Cannot select "Mutate" or "Alter" in Console tab UI"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.9

- Have you tried reproducing the issue with latest release?
Latest release is v1.0.9 as of filing this bug.

- What is the hardware spec (RAM, OS)?
MacOS High Sierra 10.13, Firefox 62

- Steps to reproduce the issue (command/config used to run Dgraph).
1) dgraph zero
2) dgraph server --lru_mb

[2018-10-03 18:03] Brahmasmi opened #2632 "dgraph-ratel: Content Security Policy blocks loading of UI"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.9

- Have you tried reproducing the issue with latest release?
Latest release is v1.0.9 as of filing this bug.

- What is the hardware spec (RAM, OS)?
MacOS High Sierra 10.13, Firefox 62

- Steps to reproduce the issue (command/config used to run Dgraph).
1) dgraph zero
2) dgraph server --lru_mb

[2018-10-03 18:34] MichelDiz commented on #2631
I can confirm on Firefox 62.0.3 "Quantum". To get around this temporarily use Chrome or Safary.

[2018-10-03 20:34] paulftw commented on #2631
Does play.dgraph.io work in Firefox?

[2018-10-03 21:02] paulftw commented on #2631
Just pushed a fix.
Can confirm that mutate and alter were broken in FF 62.0.3 on play.dgraph.io but now are working as expected.

[2018-10-03 21:02] #2631 closed

[2018-10-03 21:30] paulftw commented on #2632
Works for me in FF62 when I use localhost ratel but connect to the play.dgraph.io server.

Will try with a local dgraph server tomorrow, but that is unlikely to be the problem - api calls do not break loading of the client.

[2018-10-04 17:11] danielmai opened #2633 "badger info: Error: Unable to replay value log: Database was not properly closed, cannot open read-only"
- What version of Dgraph are you using?
Dgraph v1.0.8

- Have you tried reproducing the issue with latest release?
Not yet.

- What is the hardware spec (RAM, OS)?
64 GB, Ubuntu 18.04

- Steps to reproduce the issue (command/config used to run Dgraph).

Running `badger info --dir path/to/dir` on a p, w, or zw Dgraph directory whose instance was interrupted with Ctrl+C displays this error:

[code]

[2018-10-04 18:18] danielmai commented on #2633
Just tried on v1.0.9 and wasn't able to repro with the same steps above (live load 21-million RDFs without schema file).

[2018-10-04 21:04] SirCmpwn commented on #2545
Bump. The website still uses this phrase:

Which is deliberately misleading and written in bad faith. I suggest something more like:

And changing the header from "LIBERAL" to something like "SOURCE-AVAILABLE"

[2018-10-05 08:30] paulftw commented on #2632
Cannot reproduce with FF62 - tried on localhost, play.dgraph.io, with both local and remote dgraph servers.

@Brahmasmi are you still experiencing this issue? I saw you opened another FF related bug later, indicating you were able to load the page.
Could that be an issue with custom security settings or a browser extension?

I'm closing this issue for now. Please reopen if anyone sees this issue a

[2018-10-05 08:30] #2632 closed

[2018-10-05 17:28] selmeci opened #2638 "Out of Memory crash"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

v1.0.9

- Have you tried reproducing the issue with latest release?

yes

- What is the hardware spec (RAM, OS)?

Amazon m5d.xlarge 16 GB RAM, 4xcore CPU, 150 GB SSD

- Steps to reproduce the issue (command/config used to run Dgraph).

one zero, two alfa, one replica

- Expected behaviour and actual

[2018-10-05 17:30] manishrjain commented on #2638
Can you try with the docker image: `v1.0.9-v`? It fixes a memory leak issue. We're still chasing another one: https://twitter.com/manishrjain/status/1048253334103064577

[2018-10-05 19:12] selmeci commented on #2638
Thanks for quick response and hint. It does not crash now, but I cannot create anything with my nodejs client. I always get error:

[code]

I can create new data with ratel.

[2018-10-05 19:41] manishrjain commented on #2638
That sounds like the zw directory was deleted (in Zero). Or, maybe restart the nodejs client.

[2018-10-05 20:07] #2624 closed

[2018-10-06 16:47] pradeepyella19912 commented on #2545
@ahopkins  @SirCmpwn
They have proved that they can't be trusted. See the above linked issue for more details.

@illume
I feel It's no longer a open source project, valid data loss bugs are being closed. If you point that out you will be portrayed as making person attacks. They will go to any length to avoid paying promised bounties and burying the truth about data loss issues/other issues.

I hop

[2018-10-08 07:17] neetikh opened #2640 "Incorrect info in dgraph ratel about count of nodes"
Hello,

In Dgraph Ratel getting incorrect no of nodes returned by the query.
Same was working fine earlier.

Please let me know if you want me to add any screenshots

[2018-10-08 20:43] liqweed commented on #2489
Happens to us as well on dgraph v1.0.8 (in Docker on CentOS 7 host managed by Kubernetes).

Is there any update?

[2018-10-08 20:45] danielmai commented on #2640
Please add more details.

* Can you share steps to reproduce the issue?
* Do non-Ratel clients see the same issue?
* Is the count incorrect in the JSON response within Ratel?

[2018-10-08 20:52] daidoji opened #2642 "Support ED25519 in dgraph cert"
## Experience Report

Tried to use openssl ed25519 signed certificates instead of the `dgraph cert` RSA ones.  Couldn't figure out how to do it and was recommended to file a feature request.

### What you wanted to do
I want to use ED25519 over RSA due to the fact that it is considered best practice.  Would be nice if this was included in `dgraph cert`

### What you actually did
Tried to use opens

[2018-10-09 00:35] manishrjain commented on #2489
This bug was fixed by https://github.com/dgraph-io/badger/commit/d055ef4c2a32cc8197a0ca7513b24b59326921b5. It is part of v1.0.9 release.

[2018-10-09 00:35] #2489 closed

[2018-10-09 02:53] ian19861 opened #2643 "Unable load 5 billion edges live loader"
been trying to load stack overflow data into dgraph using live loader. Schema graphoverflow repository

Speed I getting is small from numbers mentioned in https://blog.dgraph.io/post/scaling-dgraph/.

What  your cluster config. I have 3 instances, 64 gb ram with ssd.  lru mb is 22 gb. Dgraph OOM during load.

can you share the  numbers with the biggest dataset you  tested this year using live load

[2018-10-09 05:48] neetikh commented on #2640
I am doing data migration to Dgraph.
At any point in time, I am running a Dgraph query to check what all records are inserted.
But when I am querying- In Json response I am getting all nodes, but output bar shows as 200 nodes found.
- Then I have to run another query to actually find the total no of nodes migrated so far.

![image](https://user-images.githubusercontent.com/41024354/46648951-cedde3

[2018-10-09 07:50] CalicoBox opened #2644 "Can multiple edges of the same type exist between two nodes ?"
If Tom saw the same movie in different theaters at different times. The RDF should be :
[code]

But it seems that the latter covers the former, there is only one edge between Tom and TheShawshankRedemption.

Is that the case ?

[2018-10-09 13:39] MichelDiz commented on #2644
You will have to add an intermediary for this. Create a node for example "Session" and then each new session will point to a Theater and another Edge for a movie. From the relation of the Session to the Theater you decide whether to use Facets or not.

Please see our Tour. https://tour.dgraph.io/

[2018-10-09 13:39] #2644 closed

[2018-10-09 13:43] MichelDiz commented on #2640
@neetikh At the top of the Frame there should be a link mentioning something like "Only a subset of graph was rendered. Expand remaining 1000 nodes." Click this link. Or simply go to the JSON tab and you'll see all nodes there.

[2018-10-09 15:10] paulftw commented on #2640
@neetikh can please share the query you are running to get the records inserted?

[2018-10-09 16:37] #2630 closed

[2018-10-09 19:44] #2625 closed

[2018-10-10 00:34] #2623 closed

[2018-10-10 02:50] CalicoBox commented on #2644
Thanks for your reply. U mean
[code]
Is that the case ?

That is, there can only be one version of edges (predicates) which are the same type between two points.

In addition, I want to understand the predicate storage principle of Dgraph and the graph query principle. Can I find these?

Cheers.

[2018-10-10 02:50] david1371 opened #2645 "Concern regarding usage of dgraph on production."
This is regarding the issue in badger your underlying key value store. **The below incident shows that you don't know your code well.**

**Answer this, I promise i won't create new accounts and post again.**

You mentioned previously for Func1 that
`It is not the same. Badger has checksums in place to find if the FS has lost data, due to crash. You're writing an entry, even ensuring that it does n

[2018-10-10 03:00] manishrjain commented on #2645
The issue is already fixed. You can stop spamming us now.

[2018-10-10 03:00] #2645 closed

[2018-10-10 03:46] srfrog opened #2646 "Errors refactor and organization"
This feature is to organize all dgraph's errors into a new Go package that will allow us to describe and inspect errors better. Currently most errors are consumed by funcs in the `x` package. We need to extract `x/error.go` into its own package (errors) and build all the features we need to track distributed issues.

Design goals:
- New error type that is stackable and has contextual info.
- Conte

[2018-10-10 03:59] MichelDiz commented on #2644
I think that way to better understand.
[code]

I'm not sure I understand the last questions. Dgraph uses BadgerDB. He keeps everything in KV.

[2018-10-10 05:19] mehdiym opened #2647 "Proper catching of errors like "readTs: 60534 less than minTs: 60535 for key""
### What you wanted to do

I needed to catch those occasional and unpredictable errors and retry if they happen.

### What you actually did

I parsed the error message and if it matched the error string, modulo the numbers, I ran the query again.

### Why that wasn't great, with examples

Parsing an error string is :
- not efficient: It takes time to parse a string with a regexp matching
- not dur

[2018-10-10 07:30] #2216 closed

[2018-10-10 07:47] #2446 closed

[2018-10-10 14:43] sean-adler opened #2649 "Allow using `uid_in` at the query root"
This would be super helpful in certain circumstances, e.g. for authorization — if you happened to implement auth by pointing all nodes owned by a user at some sort of `User` node, then `uid_in` is a natural way to filter for all of those nodes.

Supporting this at the query root would be extremely useful since most nodes in the database would not be connected to the `uid_in` target node, so presum

[2018-10-10 15:57] ondrowan commented on #2333
Does this really work? I've just tried basically the same scenario as in `dgraph/systest/mutations_test.go`, but with JS client and it keeps returning error "Function 'regexp' requires 2 arguments, but got 1 ([/test/]". I'm using version 1.0.9-v.

[2018-10-10 22:22] #2471 closed, assigned to srfrog

[2018-10-11 10:27] paulftw opened #2654 "Predicate can be changed from list to scalar"
- What version of Dgraph are you using?
docker image dgraph/dgraph:latest

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Run some local dgraph
2. Go to Ratel Console "Alter" tab and submit this string:
`someP: [int] .`
3. Go to the Schema tab and verify that an list of integers is created.
4. Go back to the "Alter" tab and submit this:
`someP: int .`
5. A server responds

[2018-10-11 13:35] Wingie opened #2655 "While applying proposal: Invalid address"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.9

- What is the hardware spec (RAM, OS)?
centos 128GB ram

- Steps to reproduce the issue (command/config used to run Dgraph).

zero config
[code]
this zero starts fine

[code]

- Expected behaviour and actual result.
[code]

[code]

[2018-10-11 14:39] MichelDiz commented on #2655
zero config should be:
[code]

[2018-10-11 15:34] Wingie commented on #2655
thanks! that fixed it

[2018-10-11 15:34] #2655 closed

[2018-10-11 18:40] danielmai commented on #2545
With https://github.com/dgraph-io/dgraph/commit/3d0b2cd84f04b263f6c5128e682a63be8dcb220d, Dgraph has been relicensed back to Apache 2.0.

The website has been updated to reflect this.

[2018-10-11 18:40] #2545 closed

[2018-10-11 18:42] SirCmpwn commented on #2545
Thank you very much!

[2018-10-11 19:11] ahopkins commented on #2545
Well done dgraph team!

[2018-10-11 21:44] #2292 closed

[2018-10-12 00:30] danielmai commented on #2518
Seems like `SyncWrites = true` is the intended setting for Dgraph, so that part of the docs needs to be clarified.

[2018-10-12 09:44] Wingie opened #2659 "error while fetching schema error: pb.error: No connection exists"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
latest 1.0.9

- Have you tried reproducing the issue with latest release?
using latest 1.0.9

- What is the hardware spec (RAM, OS)?
centos 128GB ram

- Steps to reproduce the issue (command/config used to run Dgraph).

start dgraph zero & server on 2 nodes (for testing..)
config is the same as mentio

[2018-10-12 11:08] smolinari commented on #2545
Although I could live with what was explained, since there was a bit of trust involved in Dgraph not pressing stupid legal actions, the Apache license is naturally a much better solution. Thank you!

Scott

[2018-10-12 16:24] pierreis opened #2660 "Support composite indexes"
Unless I missed some key information, it is not possible to create composite indexes in Dgraph. Supporting this feature would help some use-cases requiring filtering on multiple attributes of a tag.

Typical example of such feature would be a versioned graph, in which a node is associated with a name, a version number and some random parameters.
In that case, most queries would be a combination of

[2018-10-12 17:21] MichelDiz commented on #2659
In Server config you are using the External gRPC port. You must use the internal gRPC.

I made some more complete settings just in case.
Zero JSON
[code]
Server JSON
[code]

Please evaluate with this setting and see if the problem persists. Otherwise let me know.

Cheers

[2018-10-12 17:34] sean-asapp commented on #2649
@danielmai can you advise on roughly how difficult this would be to implement? Happy to help if possible.

[2018-10-12 17:36] sean-adler commented on #2649
@danielmai can you advise on roughly how difficult this would be to implement? Happy to help if possible.

[2018-10-12 19:07] pierreis commented on #1
Two questions:

1. **Multi-homing support**: Does this relate to datacenter / rack awareness for geo-distributed setups?
2. Any update on a hosted Dgraph service? Q1 2018 still is the period I'm hearing about.

[2018-10-12 23:22] srfrog commented on #2546
@metsv can you reproduce this in 1.0.9 ?

[2018-10-13 03:01] danielmai commented on #2564
Using val() with offset sounds like a valid feature.

Took another look at your specific use case. You’d like to do message limiting, so would it be better to use `first:` to retrieve only N messages? Instead of offset, which skips the first N messages and returns the rest.

[2018-10-13 03:14] MichelDiz commented on #849
I believe this is already supported for a long time.

To test go to https://play.dgraph.io/ and Run this Query.

[code]

If not the expected, feel free to reopen.

[2018-10-13 03:14] #849 closed

[2018-10-13 03:30] MichelDiz commented on #2036
This is already possible in the current version of Ratel - visit https://play.dgraph.io/ and go to "Console" and search for the toolbar you gonna have the buttons for this UI changes.

Anything, feel free to reopen.

Cheers.

[2018-10-13 03:30] #2036 closed

[2018-10-13 03:43] MichelDiz commented on #2473
@StefanFransen  in https://docs.dgraph.io/deploy/#more-about-dgraph-zero you'll get:

If this leaves your process faster, perhaps. I think the mutation already with UID can be faster. But I do not know how much. But you will have the job of inserting the UIDs into your mutation. There are no tools for this. I think a program in Python might be a way.

Any questions feel free to ask or re-open this

[2018-10-13 03:43] #2473 closed

[2018-10-13 03:45] MichelDiz commented on #2369
As there was no response and it is an issue open months ago. Sounds like a settled case.

Feel free to reopen.

[2018-10-13 03:45] #2369 closed

[2018-10-14 22:18] jerodsanto opened #2661 "Dgraph on The Changelog!"
Howdy from [The Changelog](https://changelog.com/podcast)!

_(Never heard of The Changelog? We've been interviewing the hackers, leaders, and innovators of software development since '09.)_

[Our listeners have suggested](https://github.com/thechangelog/ping/issues/833#issuecomment-429201474) we have @manishrjain on the show sometime soon. Interested?

Please email jerod@changelog.com to coordinat

[2018-10-15 11:18] Wingie commented on #2659
amazing!
thanks so much for your quick and timely help!

[2018-10-15 11:18] #2659 closed

[2018-10-16 01:34] calummoore opened #2662 "Unable to marshal response error"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.9 (latest)

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
MacOS + Docker (4GB RAM for Docker) - --lru_mb=1024

- Steps to reproduce the issue (command/config used to run Dgraph).
Add the following mutation:
[code]

Then run the following q

[2018-10-16 15:06] calummoore commented on #2662
Having investigated this a little further, it seems it doesn't like the `\` at the start of the line.

[2018-10-16 15:51] calummoore commented on #2662
So it looks like the escaping of `\u` is causing all the problems.

The mutation succeeds because it is encoded (e.g. via JSON.stringify(obj)) - but it seems like that escaping is being lost somewhere on ingestion into Dgraph.

[2018-10-16 17:17] paulftw opened #2664 "Investigate '@' in predicate names"
`/alter` does not allow creating or modifying predicates with character '@' in the name.
But the reason it isn't allowed is `/alter` parser produces a syntax error.

We need to investigate what's happening when a predicate `foo@bar` is submitted via `/mutate` and also through RDF.
And write unit tests once we understand current state.

Ideally we want to reserve `@` as a language separator, but it

[2018-10-16 17:56] smolinari commented on #2545
Just FYI to you all. Look what MongoDB did.

https://www.mongodb.com/blog/post/mongodb-now-released-under-the-server-side-public-license

Scott

[2018-10-16 18:42] srfrog commented on #2664
I'm thinking maybe part of the reason is that it would be difficult to query. e.g.,
[code]
perhaps if we url-encode them ? we'll need to let the user know the way to query is using the encoding. e.g.,
[code]

[2018-10-16 21:09] insanitybit commented on #824
Curious to hear if there's been any work on this feature. I currently roll my own eventing for dgraph, and this feature would simplify things.

[2018-10-16 21:14] good-idea commented on #824
@insanitybit Any chance that what you have built is public? I'd be curious to see (or hear more about) how you're handling this.

[2018-10-16 21:21] insanitybit commented on #824
Sure, it's public.

https://github.com/insanitybit/grapl

I pity anyone who reads that code though - I wrote it before I really understood much of dgraph and it's horribly inefficient and verbose. It's the `graph-service` graph-merger binary.

It's not nearly as efficient as a dgraph-provided system. Basically, when merges occur, I emit events to SNS, and subsequent systems perform queries using t

[2018-10-16 22:03] insanitybit commented on #824
"@insanitybit insanitybit unassigned janardhan1993 an hour ago"

No idea what that's referring to btw

[2018-10-16 23:03] billylindeman commented on #1966
@manishrjain Is cypher support still in the works for this year?

[2018-10-17 02:08] MichelDiz opened #2669 "Full Text Search topic from docs has issue with fulltext indexing in "name" predicate"
[code]

### Response
[code]

[2018-10-18 05:09] coolguru opened #2671 "Optimize has() function"
### What you wanted to do
We're using a strategy of giving types to nodes recommended in this link https://docs.dgraph.io/howto/#giving-nodes-a-type. In our queries, we're using an indexed field in root func first and then using filter to look for a particular type. has function is actually loading all the nodes with requested type instead of just filtering on nodes that matches the root function

[2018-10-18 13:43] makitka2007 commented on #2671
oh my god, is it true? we have a lot of "has" filters in queries, i was sure that it will work as filter.
mmm, if i have "regexp" filter - will it retrieve all nodes as well instead of filtering already returned ones?

[2018-10-18 14:19] paulftw commented on #2664
@sfrog Our query language supports `<predicate:with//weird@chars>` but I doubt it's a well known feature.

[2018-10-18 16:40] u007 opened #2672 "inconsistent result when sorted predicate does not contain value on some nodes"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.9

- Have you tried reproducing the issue with latest release?
version above

- What is the hardware spec (RAM, OS)?
8gb ram, macosx 10.13.6

- Steps to reproduce the issue (command/config used to run Dgraph).

index a predicate, for example: created_at @ time
insert several nodes without a create

[2018-10-18 16:43] u007 commented on #2672
ive feeling that it may also happen if ive inserted records without created_at predicate,
then only index created_at, and then insert those records with created_at.
if the original issue post above did not work, try this reproduction

[2018-10-18 18:18] MichelDiz opened #2675 "Enforce uniqueness naming for query blocks"
Today the Dgraph allows naming multiple distinct blocks with the same name. And so it merges the results of all the blocks as one. Such use is not predicted and is a wrong usage.

[2018-10-19 03:18] sdwlig opened #2680 "Error while applying txn status to disk"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.9-rc4

- Have you tried reproducing the issue with latest release?
Yes.

- What is the hardware spec (RAM, OS)?
4GB VM, Ubuntu

- Steps to reproduce the issue (command/config used to run Dgraph).
dgraph server --bindall --lru_mb=2048 --port_offset=0 --zero zero${bn}:5080 --my=dgraph${bn}:7080 --i

[2018-10-19 05:08] sdwlig commented on #2680
To reproduce:
Create a schema like:
mode: string @index(exact) @upsert .

Insert data with a value for mode that is larger than 65528, commit.

[2018-10-19 05:11] sdwlig commented on #2680
I've removed indexing and upsert from predicates that may be large amounts of data, but I cannot restart the database to continue.

[2018-10-19 05:45] smolinari opened #2681 "Why not GitFlow?"
Hi,

I'm not a go programmer, but I have some experience with development work and was wondering if you've considered using Gitflow? Why I am asking is, 1. I noticed the master branch is the lead branch here, which is unusual. And 2. I got a "WTF", when I opened the branch picklist. Sorry, but that looks quite messy. 😃

Have a look at these explanations of Gitflow (if you don't already know what i

[2018-10-19 10:04] hoonmin commented on #2470
Hi. We're experiencing this bug in 1.0.8 and 1.0.9.

1.0.8 crashed once, then we upgraded dgraph to 1.0.9 but it crashed again.

[code]

Could you check this again?
Thank you!

[2018-10-19 13:58] manishrjain commented on #2470
Did you export and reimport when you upgraded to 1.0.8?

[2018-10-19 15:12] paulftw commented on #2664
Few more experiments:

Mutation
[code]
Gets accepted, and data can be read back using `expand(_all_)`:
[code]
**Response:**
[code]

Note how <foo@bar> and <foo>@bar get consolidated in JSON of expand(_all_) but not when fetching <foo@bar> explicitly.

[2018-10-19 15:32] paulftw commented on #2664
While /alter with
[code]
results in a error message "Missing colon" it is possible to modify properties of a predicate with at-symbol:
[code]
is accepted by Dgraph.
After some `/alter`'s and `/mutate`'s it's possible to do stuff like:
[code]

Response:
[code]

Note how foo@bar@wtf has two values when explicitly specified, but only one with `expand(_all_)`.
Value "foo@bar @lang wtf" becomes "invisi

[2018-10-19 15:40] paulftw commented on #2664
By far the most interesting result I've found is the query:
[code]

Adding extra predicate to a query should produce same or larger response, and results of one field should not depend on other things requested in sibling lines. However, requesting more predicates can produce less data, and the exact result depends on the order of requested predicates:

[code]

Note how node3 loses one value from

[2018-10-19 15:45] calummoore commented on #2672
I have experienced this also, but now I can't get it to reproduce (as some more data was added in between). Next time I see it I will export the affected data, so we can try to reproduce.

![2018-10-18 09-12-34 2018-10-18 09_13_36](https://user-images.githubusercontent.com/4988117/47228872-39b1ca00-d3be-11e8-9731-cba0e46dcfa3.gif)

[2018-10-19 16:57] manishrjain commented on #2681
We had tried it early on in this project. But, didn't see any particular benefits over what we're doing right now. Releases are the official way to consume Dgraph.

[2018-10-19 18:17] smolinari commented on #2681
Sad to hear that. You don't think a clean set of branches is a benefit? That people looking at that mess of branches might think the development of Dgraph is less than professional? Or that mistakes made are much harder to revert? Or that you can't do hotfixes to releases? Or, you can't properly work on features in parallel?

We are also not talking about "consuming" Dgraph. We are talking about d

[2018-10-19 18:17] #2681 closed

[2018-10-19 20:43] makitka2007 commented on #2671
btw, i tested 2 queries on 10 millions edges and found that
`{ ddd(func: has(type_Work)) { count(uid) } }` takes more than 2 minutes
whereas `{ ddd(func: eq(entity_key, "entity7777")) @filter(has(type_Work)) { count(uid) } }` works very fast (tens milliseconds).
so, seems like "has" function in filter really works as filter. i didn't dig into dgraph code, just made some conclusions based on my tes

[2018-10-19 22:44] sonear opened #2682 "dgraph alpha does not work ... should be server?"
* Doc page: [get-started/index.md](https://docs.dgraph.io/get-started/)
* Doc version: `master`

the command noted throughout the Install page and noted within the docker-compose.yml says

command: dgraph **alpha** --my=server:7080 --lru_mb=2048 --zero=zero:5080

but this results in an error

**server_1  | unknown command "alpha" for "dgraph"**
server_1  | Error: unknown command "alpha" for "dgrap

[2018-10-19 22:46] manishrjain commented on #2682
Please look at the documentation corresponding to the release you're using, i.e. v1.0.9. The changes are being made in master, and these are breaking changes. So, the docs won't be relevant for the latest release.

[2018-10-19 22:46] #2682 closed

[2018-10-19 23:09] manishrjain commented on #2680
By default, we try infinitely to apply a committed txn, which is generally the right thing to do. However, in this case, we are stuck with a permanent failure. So, need to give up after some number of tries configurable by the user, or understand that it is indeed a permanent failure.

[2018-10-19 23:10] manishrjain commented on #2643
5B edges should really be loaded via the bulk loader, not the live loader. Live loader isn't designed to push so much data.

[2018-10-19 23:10] #2643 closed

[2018-10-19 23:18] manishrjain commented on #2681
Without going into arguments over this, all of that can be had with master branch. What you're referring to as "dirty branches" are just branches which our devs are working on. Some of them surely get left behind from time to time for various reasons and get cleaned up later.

The only benefit to use Gitflow is if you need to convert master branch to the official release branch. We instead use tag

[2018-10-20 04:13] srfrog commented on #2681
FWIW I use gitflow. It's my personal choice and what works for me. The rest of the team don't need to adopt it to reap the benefits. **It really comes down to what makes you more productive.**

If you look at this PR, you'll see it comes from my develop feature branch - https://github.com/dgraph-io/dgraph/pull/2685

[2018-10-20 05:15] srfrog commented on #2664
@paulftw thanks for the thorough testing, PR #2679 should fix this.
Predicates should not have '@' but languages directives must be handled.

[2018-10-20 06:03] smolinari commented on #2681
@sfrog - sorry. But, because you are all working off of the master branch and even in the same repo, it isn't gitflow.

And, tagging for releases is certainly not the same as evolving a dev or develop branch over time next to a master branch.

Out of curiosity, do you do merges into master and they aren't releases? And, have you had a seriously bad bug found, which you needed to patch quickly? If

[2018-10-20 06:40] makitka2007 commented on #2671
i don’t think so, i tried on different keys and if was always fast, and first query was always much more slower even when i retried it. but i dont’t know know how it work internally and i hope developers team will shed light on it

[2018-10-20 09:41] makitka2007 commented on #2671
and even this one is running slow too - `{ ddd(func: has(type_Work)) @filter(eq(entity_key, "entity888")) { count(uid) } }`, just to return 1 node - 144 seconds comparing to `{ ddd(func: eq(entity_key, "entity888")) @filter(has(type_Work)) { count(uid) } }` which takes 6ms only

[2018-10-20 18:36] srfrog commented on #2681
I think you might be overcomplicating things a bit. One of the main tenet of gitflow is to guarantee that the master branch is always deployable. With all the experimentation happening in feature branches. Important bugfixes always trump features and are handled in order of urgency. In Dgraph, no feature or bugfix is merged until a complete code review (via PR) is done with at least one person wit

[2018-10-21 05:32] smolinari commented on #2681
It's absolutely not complex. Gitflow is simple to understand and do. And, it lowers the level of "carefulness" you must have with your master branch, which yes, means more agility in your development. Your "agile stuff" comment tells me agility in your programming isn't a concern. That's fine, until one day it bites you. I'm just suggesting, you can avoid certain problems with Gitflow, which you o

[2018-10-21 18:50] manishrjain commented on #1966
Cypher support won't happen this year. We're working on Backups and then on ACLs. GraphQL official spec takes a higher priority than Cypher.

[2018-10-21 21:52] manishrjain commented on #2647
Following up on discussions with @srfrog in this direction, we could generate a unique string based code to reflect error; so it can be searched for by the user at their end, without us having to modify all our client libraries.

[2018-10-22 07:31] mehdiym commented on #2647
Thx for your answer.
It would indeed be better, more durable.
Do you mean an error message prefix?

[2018-10-22 07:34] mehdiym commented on #2647
Thx for your answer.
It would indeed be better, more durable.
Do you mean an error message prefix?

[2018-10-22 07:40] AlexDunmow commented on #1519
Is this still on the cards?

[2018-10-22 11:05] TomLevvv opened #2686 "Sorting By int ot date field, filter results"
Hi,

I am using dgraph 1.0.9
I run a query to get objects, and use order by for sorting the results,
If I order by an optional fields, there is unconsistent behavior:
for 'text' fields - all objects return , the objects w/o that fields return at the end of the list
for 'int' or 'date' fields, - the list return when the objects w/o that field are filtered!

example:

Prepare the data:
 `{
  set{

[2018-10-22 15:59] u007 commented on #2672
and the weird part is that i could not delete the uid only object.
those data with created_at and other fields, i could delete it entirely

[2018-10-22 19:14] sean-adler commented on #2649
Thanks @manishrjain, I'm talking about this:

https://docs.dgraph.io/master/query-language/#uid-in

Using a query block doesn't solve my problem because it's too slow. I assume it would be faster if supported at root. Does this make sense?

[2018-10-22 23:45] #2615 closed

[2018-10-23 01:04] manishrjain commented on #1519
This looks like a duplicate of #2511.

[2018-10-23 05:29] MichelDiz commented on #2686
Please also take a read https://discuss.dgraph.io/t/orderasc-desc-by-object-that-is-missing-the-field-data/3389/12

To get around this you should add U$ 0 to the price. The "price" predicate can not be empty. Because empty predicates by logic are not part of the index. So, not sortable for now.

[2018-10-23 15:07] paulftw opened #2689 "Error message is misleading when uid is more than 64 bits"
A query
[code]

returns some data:
[code]

But a query with uid that is one character longer
[code]
produces the following error message:
[code]

This could be improved, currently it suggests that long hex numbers can be used as variable names.

[2018-10-23 19:39] #2680 closed

[2018-10-23 23:59] danielmai commented on #1917
@george-oakling do you have any updates with the helm chart?

[2018-10-24 03:57] #2664 closed

[2018-10-24 04:27] aigod opened #2691 "did dgraph server support failover"
i just install a dgraph cluster,  with three zero instances and three server instances。every server instance start with the same zero node address,

dgraph server --my=192.168.8.106:7080 --lru_mb=2048 --zero=192.168.8.106:5080
dgraph server --my=192.168.8.230:7080 --lru_mb=2048 --zero=192.168.8.106:5080
dgraph server --my=192.168.8.231:7080 --lru_mb=2048 --zero=192.168.8.106:5080

when zero 192.16

[2018-10-24 05:14] manishrjain commented on #2691
If a Zero goes down, the server shouldn't crash -- they're not dependent of each other like that. However, if a server was restarting and the zero in its flag was down, then it doesn't know who to talk to. So, when the server goes down, you need to give it the address of one healthy and alive zero.

[2018-10-24 06:03] aigod commented on #2691
@manishrjain
hi, when i manully killed the Zero 192.168.8.106:5080, then all three server instances  throw the following error, and could not perform query in ratel ui.

2018/10/23 22:53:47 groups.go:726: Error while calling Oracle rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial tcp 19

[2018-10-24 08:03] aigod commented on #2691
@manishrjain

sorry, i did not config --peer when start Zero, now it works. thx.

[2018-10-24 08:03] #2691 closed

[2018-10-25 04:43] prabirshrestha opened #2693 "Support Multi-Tenancy"
### What you wanted to do
Create multiple db/schema on the same server such as tradition dbs (Postgres/MySql/SqlServer). Useful for personal VMs and raspberry pi where I can replace traditional db with dgraph and run in only on server.

### What you actually did
Add prefix.

### Why that wasn't great, with examples
cumbersome because now I need to create variables for prefix. If I accidental drop

[2018-10-26 19:41] svmhdvn commented on #1926
I'm actually getting these errors again on a fresh checkout of dgraph using the instructions listed in CONTRIBUTING.md. Are the docs out of date again? I would like to get this working so I can start working on a PR.

[code]

Environment:

[code]

[2018-10-28 15:22] manishrjain opened #2698 "Kubernetes killed an alpha pod in the middle of retrieving snapshot"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10-rc1

- Have you tried reproducing the issue with latest release?
Yes.

- What is the hardware spec (RAM, OS)?
K8s cluster, with 8GB requested.

- Steps to reproduce the issue (command/config used to run Dgraph).

[code]

Server 3 lost its leadership, then was considered to be behind the group,

[2018-10-28 20:33] manishrjain commented on #2698
One possible way is to increase the graceful shutdown to a sufficiently large duration, like say 10 minutes.

https://pracucci.com/graceful-shutdown-of-kubernetes-pods.html

[2018-10-29 04:24] F21 opened #2699 "Error while opening WAL store error: sync zw: invalid argument While syncing directory: zw when using WSL and Docker for Windows"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Dgraph version   : v1.0.9
Commit SHA-1     : 22c13fce
Commit timestamp : 2018-10-02 16:45:53 -0700
Branch           : HEAD

- Have you tried reproducing the issue with latest release?
No

- What is the hardware spec (RAM, OS)?
12GB RAM, Windows 10 1809 64-bit
Docker for Windows Edge Beta (Version 2.0.

[2018-10-29 04:34] manishrjain commented on #2699
It sounds like Dgraph might be missing write access to the zw directory.

[2018-10-29 05:16] F21 commented on #2699
Doesn't seem to be a problem with Docker for Windows or WSL. I just tested with a plain alpine container and everything works:

[code]
I can also confirm that `D:/dgraph/test` exists when viewed through the Windows file explorer.

[2018-10-29 15:17] manishrjain commented on #2699
Can you run strace and track the sync of zw directory when starting Dgraph?

[2018-10-29 18:14] manishrjain commented on #2698
Also curious to understand the behavior of Raft in this case. Given the snapshot wasn't fully applied, Raft should have re-tried when the node restarted.

[2018-10-29 18:48] svmhdvn commented on #2628
I would like to help with this feature! Is there any work currently being done on this already?

[2018-10-29 19:08] srfrog commented on #2628
all yours! im still working on backup

[2018-10-29 20:07] ahopkins commented on #2545
@smolinari  Thanks for sharing. I keep meaning to take some time to dig into this and understand it. I _think_ I really like this approach. But, I have only really skimmed the [FAQs](https://www.mongodb.com/licensing/server-side-public-license/faq) and not yet read the license itself.

[2018-10-29 22:13] F21 commented on #2699
Here's the result of running strace:

[code]

[2018-10-29 23:53] srfrog commented on #2699
I think you need to pass the whole path to zw, `/mnt/c/dgraph/zw` for example, so that the syscall translation works. I suspect that windows is not catching it. I'd be interested to know if you get it to work.

[2018-10-29 23:55] F21 commented on #2699
I have the following in my `/etc/wsl.conf`, so that my Windows drives are mounted directly at `/` and not under `/mnt/`:

[code]

[2018-10-30 00:44] #2633 closed

[2018-10-30 01:08] manishrjain opened #2702 "Report unhealthy quickly"
If a peer node goes down, we get a ton of:

[code]

When we see a `server misbehaving`, we can quickly report node as unhealthy, so raft can stop trying.

[2018-10-30 03:39] srfrog commented on #2699
Clearly there's a race condition. I found this blog post maybe it can offer some insight - https://medium.com/software-development-stories/developing-a-dockerized-web-app-on-windows-subsystem-for-linux-wsl-61efec965080

I know some people that are trying to migrate to WSL from MacOS (because of the lackluster dev support) so if you can figure it out, please post your findings in our discuss - http

[2018-10-30 03:39] #2699 closed

[2018-10-30 09:13] GaetanLhoest opened #2704 "Tutorial to explain how to launch the project in debug mode"
At the moment, the project is not easily launchable in debug mode.
Indeed, with the last version of delve and Go, there is the error message:

[code]

I suppose the dev team managed to launch the project in debug mode, otherwise, it would be a nightmare to develop and maintain.

Could you describe how you are proceeding? It would be useful to dev like me, trying to develop new functions in Dgraph,

[2018-10-30 11:16] sebastian-walter opened #2705 "Deleted data suddenly reappears after restart of dgraph container"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
1.0.5

- Have you tried reproducing the issue with latest release?
No

- What is the hardware spec (RAM, OS)?
We are using Google Cloud to host our Kubernetes Cluster with Dgraph running in one pod

- Steps to reproduce the issue (command/config used to run Dgraph).
We are using Dgraph inside a Kubern

[2018-10-30 13:53] makitka2007 opened #2706 "out of memory error"
I have 3 m5.large (8 ram) machines cluster with replication=3
running dgraph server(s) with lru_mb=1024

after loading ~20m edges got this error on 2 of 3 nodes:
[code]

[2018-10-30 15:26] sebastian-walter commented on #2705
Thanks for the quick reply. I will try that and get back to you as soon as possible, probably Thursday.

[2018-10-30 15:47] gitlw commented on #2704
Hi @GaetanLhoest ,
I tried debugging using the delve debugger, and ran into the error
could not launch process: could not get .debug_frame section: could not find .debug_frame section
According to https://github.com/golang/go/issues/23733, it turns out that the golang 1.10 I'm using does not work well with debuggers.

Then I switched to golang 1.9 and then delve starts working, and I can debug dgr

[2018-10-30 15:48] gitlw commented on #2704
BTW, I'm closing the issue now. Feel free to reopen/comment if you still have any questions. Thanks for using dgraph.

[2018-10-30 15:48] #2704 closed

[2018-10-30 16:19] gitlw commented on #2675
@srfrog FYI, I can take over this task.

[2018-10-30 17:45] danielmai commented on #2706
It's hard to say what happened without more info (Dgraph version, how the data was loaded, etc.).

I see you started a discussion at https://discuss.dgraph.io/t/out-of-memory-error/3519. Let's continue the conversation there.

[2018-10-30 17:45] #2706 closed

[2018-10-30 20:07] #2698 closed

[2018-10-30 23:02] gitlw opened #2709 "query with shortest does not work"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10-rc1-25-g3897db23

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
8G, Fedora Linux

- Steps to reproduce the issue (command/config used to run Dgraph).
Following the steps in the doc https://docs.dgraph.io/query-language/#k-shortest-path-

[2018-10-30 23:30] danielmai commented on #2709
Did you use the UIDs that were set in your own cluster?

[2018-10-31 00:12] gitlw commented on #2709
Sorry about the false alarm. It's working now.

[2018-10-31 00:12] #2709 closed

[2018-10-31 07:28] charlie-wasp commented on #2662
I am experiencing, I guess, the same issue right now 🙂 In my case it's the string "KHL\u0000"

[2018-10-31 09:03] makitka2007 opened #2712 "Regexp is not working in edge facets"
dgraph 1.0.9

since edge facets use simple filters for eq and others instead of index lookups, so it should apply simple regexp filter. but it doesn't work actually.

[code]

[2018-10-31 09:18] makitka2007 opened #2713 "Filtering is slow on large amount of data"
dgraph 1.0.9

due to required index lookup for every @filter condition, filtering is slow on large amounts of data.

test data: 10m entities created with "sex" predicate having random value "m" or "f".
since index is required for filtering, it's created both for `entity_key` and `sex` predicates.

[code]

10m entities loaded:
[code]

query to get 1 entity takes 1ms:
[code]

adding filter by "sex"

[2018-10-31 09:21] zhuzhongshu commented on #1778
+1, this functionality is  useful.

[2018-10-31 14:32] svmhdvn commented on #2628
What interface into the CLI would be ideal for this? I.e. @danielmai what CLI options and flags would you have liked to use when running a distributed `dgraph bulk` with your multi-terabyte dataset?

[2018-10-31 18:54] gorjuspixels opened #2715 "Fetching a non-existent node returns the fetched uid rather than an empty result"
**If you suspect this could be a bug, follow the template.**

**- What version of Dgraph are you using?**
v1.0.9

**- Have you tried reproducing the issue with latest release?**
I've upgraded to v1.0.9 from v1.0.9-rc5. Both have the issue, but i haven't tried v1.0.10-rc1.

**- What is the hardware spec (RAM, OS)?**
RAM: 5gb
GKE: 1.10.7-gke.2
OS: Container-Optimised OS

**- Steps to reproduce the i

[2018-10-31 19:02] danielmai commented on #2628
A distributed dgraph bulk loader should work like the current single-machine bulk loader, but work distributed across multiple machines. For example, running a bulk load of the [21-million movie data set](https://github.com/dgraph-io/benchmarks/tree/master/data) is currently done with this command:

[code]

This does the mapping and reducing on the caller's machine. But for larger data sets this s

[2018-10-31 19:10] MichelDiz commented on #2715
Hi,
This is an expected behavior. If you need the answer to be empty, just do not query the UID.

BTW, This type of question can be addressed directly to the community in Discuss. http://discuss.dgraph.io

Cheers.

[2018-10-31 19:10] #2715 closed

[2018-10-31 19:11] svmhdvn commented on #2628
That makes sense, but I was talking more about the machine discovery in the bulk command, since currently the cluster must be offline before running `dgraph bulk ...`. I'm taking a look at the interface because it would be relevant to how I structure the shared XID->UID map, since now the mappings must be distributed across multiple machines. Would multiple Zero instances be set as options in the

[2018-10-31 19:30] gorjuspixels commented on #2715
@MichelDiz When querying a node, we need the uid and a few other predicates. So we usually don't use `expand(_all_)`. And thanks for the link, i'll go there

[2018-11-01 01:59] MichelDiz commented on #2715
You can use like this to get empty returns (different from empty array):
[code]

[2018-11-01 04:48] MichelDiz commented on #2712
Sorry, regexp is not supported with facets. In order to use regular expressions you need indexing. And Facets can't be indexed.

Also such feature if predicted should be documented. So it is preferable that such questions be asked in the Community Discuss. Even opening up a possibility is interesting to start there. Due discussion matter.

Cheers.

[2018-11-01 04:48] #2712 closed

[2018-11-01 07:45] makitka2007 commented on #2712
i know, that's why I created this issue. `eq` root filter needs index as well, but for facets it works just as filter without index lookups. go language already has `regexp` function, why just not use it for filtering on edge facets?

[2018-11-01 16:01] MichelDiz commented on #2712
Is different. EQ for query function do need indexing due massive usage. But EQ in facets is another approach. As the Facets are much more simpler to deal. I believe that Dgraph does a Tokenizer on the fly. So, do a Tokenizer for regexp, on the fly, could be expensive.

But I'm not a Dev here what I'm saying is based in what I have notion, so calling the authority @srfrog to what he has to say abou

[2018-11-01 18:51] gitlw opened #2717 "The test TestSystem/delete_all_reverse_index is flaky"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10-rc1-25-g3897db23

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
8G, Fedora

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Start the dgraph cluster by running `run.sh` inside $GOPATH/src/github.com/dgraph-io/dgra

[2018-11-01 18:55] #2675 closed

[2018-11-01 19:35] makitka2007 commented on #2712
there is a ready `regexp` package in go, there is no need in tokens or something else, just filter my match function

[2018-11-02 22:56] #2470 closed

[2018-11-04 12:52] syossan27 opened #2723 ""How Dgraph Search Works" Chapter is not work."
I was reading the hoge, but there was a chapter in which the code did not work.

Chapter: How Dgraph Search Works（https://tour.dgraph.io/basic/11/ ）

Code:
[code]

Response:

[code]

[2018-11-04 15:59] MichelDiz commented on #2723
Did you skipped this part? https://tour.dgraph.io/intro/3/

You need to run
`friend: uid @count .`

Please, when a possible issue or suggestion of the type you have. Head it to the appropriate Repo or open a discussion in http://discuss.dgraph.io

The Tour Repo is https://github.com/dgraph-io/tutorial/

Cheers.

[2018-11-04 15:59] #2723 closed

[2018-11-05 22:48] #2533 closed

[2018-11-05 22:49] manishrjain commented on #2533
The `name` predicate (with `@lang` index) would still be a bit slow because it has an additional step after retrieving all UIDs. But, all the preds which don't have that index would be a lot faster now.

[2018-11-06 00:05] manishrjain commented on #2717
Is being caused due to not doing a read-modify-write cycle. Our mutation path does NOT check if the server has seen all previous commits for performance reasons. Only the query path does. So, if a txn does not query for anything (like in the live loader), then all mutations would be allowed to run concurrently, instead of blocking on each other. Typically this is good for performance and OK for co

[2018-11-06 00:33] #2702 closed

[2018-11-06 00:53] manishrjain commented on #2686
As Michel mentioned, the price must be set. We can't assume that a property must exist for a node.

[2018-11-06 00:53] #2686 closed

[2018-11-06 00:54] manishrjain commented on #2693
The advantage of a graph DB is that multiple data sources can be combined together into one, and queried across. Given that benefit, having the division of a database is at best a low priority feature request.

[2018-11-06 00:55] manishrjain commented on #2661
Finished the interview last Friday. Thanks for having me, @jerodsanto !  Looking forward to the podcast release.

[2018-11-06 00:55] #2661 closed

[2018-11-06 00:58] manishrjain commented on #2414
This seems very interesting. Commit call itself should be really fast. Not sure why it is slow. Worth investigating.

[2018-11-06 02:55] F21 opened #2726 "Support lists in query variables (DQL Variable)"
## Experience Report
I often have queries where I want to match a list of things (similar to an `IN` query in SQL). For example:

[code]

Often, these values come from user input and I want to pass these values to the query using query variables.

Effectively, this would allow a query like so:

[code]

### What you wanted to do
I wanted to pass a list of values as a query variable into a query.

#

[2018-11-06 07:56] adamglt opened #2727 "Basic read-after-write broken in transactions"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10

- Have you tried reproducing the issue with latest release?
Yes

- Steps to reproduce the issue (command/config used to run Dgraph).
Running dgraph using `docker-compose`:
[code]

and this snippet:
[code]

- Expected behaviour and actual result.
Expected: the query should return the inserted

[2018-11-06 08:16] adamglt commented on #2727
just to clarify: running the same scenario with `dgraph/dgraph:v1.0.9` works.

[2018-11-06 10:20] Scapal opened #2728 "Make database upgrade easier"
Upgrading a Dgraph cluster is currently cumbersome: dump, erase, bulk-import.

Would it be possible to include an automated database upgrade when starting the server? It would be much easier to update a Dgraph cluster running in orchestrated containers to a newer version.

First you would have to detect the database version, report incompatible storage, migrate if possible or propose to run an int

[2018-11-06 11:12] manishrjain commented on #2727
This is because we no longer overlay uncommitted writes' index on top of Dgraph. That mechanism was slow and clunky, and the typical txn cycle is read-modify-write-commit. Unless the commit has happened, there's little value in reading back an index update. So, it was removed with #2678 .

So, you're missing a commit in between. With this change, you won't be able to write some key, and run a `has

[2018-11-06 11:12] #2727 closed

[2018-11-06 11:19] manishrjain commented on #2728
We intend to make Dgraph upgrades easier by avoiding data layer breaking changes; so one could just restart the servers without any issues. But, it is not always possible, and therefore, requires data export and reimport.

If data reimport is required, then that's not something we can automate. Only the maintainer of the DB knows the environment it is running in, and when can it be down for an upg

[2018-11-06 11:22] manishrjain commented on #2583
Does running `dgraph alpha --help`, or `dgraph zero --help`, etc. not work for you? What more would be want in the man page?

[2018-11-06 12:03] Scapal commented on #2728
Could those breaking changes be reflected in the versioning and release notes?

[2018-11-06 12:11] manishrjain commented on #2728
We always (try and) mention them in the release notes. I noticed that we hadn't in this release, and updated the notes to reflect that.

Once we're past v1.1 release, we'll ensure that every breaking change would be a new v1.x release and tagged accordingly.

[2018-11-06 12:29] adamglt commented on #2727
This is a pretty severe breaking change to make in a patch version, under the opaque title of "Better control excessive traffic to Dgraph (#2678)".

One of the most common flows we have is:
1. Start a transaction
2. Write speculative changes
3. Run several validation queries against the speculative data (graph traversals which are quite tiresome to do in code)
4. Commit or discard the transaction

[2018-11-06 13:03] manishrjain commented on #2727
Keeping the graph overlay on top of Dgraph for each txn, that mechanism was causing slowdowns, deadlocks and had been through many iterations already. The complexity of maintaining that logic is just not worth the few use cases it solves. Unless we hear a lot of users needing it, we'd rather keep it removed.

With all due respect, I think your current model is cumbersome and slow. Slow because you

[2018-11-06 13:59] #2728 closed

[2018-11-06 14:46] adamglt commented on #2727
The trade-off between implementation cost and value is yours to make, so I don't think I can add anything there.

As for your reasoning, I completely disagree.
What you're describing is loading the entire dataset into memory, performing graph operations there, then inserting "known to be valid" data and committing.

In reality, the speculative data inserted represents <1% of the total data, but th

[2018-11-06 15:14] smolinari commented on #2727
Aren't transactions supposed to be for making sure changes are done safely? I've never heard them done as a way to discard changes or as a means for selective changes.

Is there an issue with the following?

1. Start a transaction
2. Write speculative changes
3. Commit them
4. Run several validation queries against the speculative data (graph traversals which are quite tiresome to do in code)
5. O

[2018-11-06 15:29] adamglt commented on #2727
Not sure what you mean - the A in ACID is for Atomicity, which is exactly the opposite of what you're describing.

[2018-11-06 16:06] smolinari commented on #2727
Transactions are there to avoid _database-side errors or conflicts_ from corrupting data (which is atomicity AND isolation). They were NOT made to revert errors you find yourself in your own data or the effects that data may have on the database outside of making the changes (like the side effects you are testing for).  In other words, transactions aren't built to be an external litmus test for da

[2018-11-06 18:05] adamglt commented on #2727
Are you saying users shouldn't expect indexes (and their step-brothers, constraints) to be updated during transactions? This is literally the default behavior for any database I can think of.

I think @manishrjain mentioned he's an ex-Googler somewhere. He probably has an experience or two to share about who takes ownership when an API that was used in an "unexpected" manner breaks.

I understand

[2018-11-06 18:40] smolinari commented on #2727
What does that have to do with indexes?

Scott

[2018-11-06 19:06] adamglt commented on #2727
Pretty much any query that doesn't start with UIDs uses indexes.
Having out-of-date indexes denies any ability to run reliable complex queries against the graph during transactions.

As @manishrjain said, this is a trade-off he's willing to make, as he perceives this use-case to be uncommon. I think it's an obvious and extremely common use-case for systems with complex data structures, but that's

[2018-11-06 19:29] smolinari commented on #2727
Yes, indexes should be updated during transactions, but only after the transaction is completed successfully, can you expect the index to also be up-to-date. That is what @manishrjain said was how Dgraph is now working and it is also a standard behavior. Expecting the index to be up-to-date _during_ the transaction and expecting proper query results from it to test possible data change effects, _i

[2018-11-06 21:55] Scapal opened #2729 "gRPC error after being idle for a while"
I have a Go server exposing a REST API, using Dgraph as my database.

I create a single grpc connection once and reuse the dgo client during the entire service lifespan.

Whenever my server app is idle for too long, I get the following error during my next query or mutation:
`rpc error: code = Unavailable desc = transport is closing`

If I retry, it works again. So it seems the Dgraph server is cl

[2018-11-07 06:37] adamglt commented on #2727
k.

[2018-11-07 07:34] srfrog commented on #2729
This is not a bug. Currently Dgraph doesn't support long-running connections so it uses the default connection timeout (90 secs?). It will disconnect if it hasn't received any requests during that period.

For this to work as you expect, we would need to add a keep-alive policy to the server. Then you could have the client connect and stay as long as the policy is held. The keep-alive sends a pack

[2018-11-07 08:22] mehdiym opened #2733 "Invalid division by zero"
- What version of Dgraph are you using?
1.0.10

- Have you tried reproducing the issue with latest release?
It worked with 1.0.9 but bugs with 1.0.10

- What is the hardware spec (RAM, OS)?
Linux Debian Testing, 16GoDDR

- Steps to reproduce the issue (command/config used to run Dgraph).
In a query, I do a division and protect potential 0 value for the divisor with a 'max' function.
The error only

[2018-11-07 12:51] Scapal commented on #2729
Could the dgo client then automatically retry once when getting that specific error ?
When the connection is closed by the server, the next dgo request gets an error `transport is closing`, but the following requests are working fine.

[2018-11-07 17:02] manishrjain commented on #2729
Instead of a mechanism at the server, you could just ping the server every minute in a goroutine from the client.

[2018-11-07 21:05] manishrjain commented on #2638
Closing due to no activity for a while.

[2018-11-07 21:05] #2638 closed

[2018-11-07 21:14] #2281 closed

[2018-11-07 21:15] manishrjain commented on #2205
We're now using glog library to log things, and it's working nicely.

[2018-11-07 21:15] #2205 closed

[2018-11-07 21:16] manishrjain commented on #2170
Dgraph supports MVCC, so a given read timestamp would generate a consistent snapshot of the DB. We're soon going to launch backup support to S3 as an enterprise feature, which you can use for this purpose.

[2018-11-07 21:16] #2170 closed

[2018-11-07 21:17] manishrjain commented on #2221
The conflict keys now use the object UID as well. So, adding different UIDs to the same PL does not cause any conflicts.

[2018-11-07 21:17] #2221 closed

[2018-11-07 21:18] manishrjain commented on #2166
All pending txns are automatically aborted after 5 mins of no activity. Feel free to file a new issue if that does not help.

[2018-11-07 21:18] #2166 closed

[2018-11-07 21:20] manishrjain commented on #2134
I don't think any action is needed here. Most users use an `xid` predicate to map Dgraph IDs to their own external ids. That works well already.

[2018-11-07 21:20] #2134 closed

[2018-11-07 21:21] #1614 closed

[2018-11-07 21:30] manishrjain commented on #2051
We already have the Jepsen report, which details Dgraph's support for transactions.

http://jepsen.io/analyses/dgraph-1-0-2

[2018-11-07 21:30] #2051 closed

[2018-11-07 21:31] manishrjain commented on #2335
You can use the `has(predicate)` function to get a random node with a certain predicate. Ratel uses this in data explorer.

[2018-11-07 21:31] #2335 closed

[2018-11-07 21:33] manishrjain commented on #1402
We'll use Open Census for request tracing. Tracked by #2257 .

[2018-11-07 21:33] #1402 closed

[2018-11-07 21:44] Scapal commented on #2729
Since it will probably be the most common use case, you should probably have a clear documented pattern for long connections

[2018-11-07 21:44] Scapal commented on #2729
Since it will probably be the most common use case, you should probably have a clear documented pattern for long connections

[2018-11-07 22:11] manishrjain commented on #2276
This should do it:

[code]

https://docs.dgraph.io/master/tips#count-number-of-connecting-nodes

[2018-11-07 22:11] #2276 closed

[2018-11-07 22:13] manishrjain commented on #2366
The glog library does this for now, and also does log rotation.

[2018-11-07 22:13] #2366 closed

[2018-11-07 22:13] #2361 closed

[2018-11-07 22:14] #2360 closed

[2018-11-07 23:00] danielmai commented on #2344
The text-format metrics that are accepted by Prometheus v2.0 and newer is exposed at `/debug/prometheus_metrics`.

[2018-11-07 23:00] #2344 closed

[2018-11-08 00:40] billylindeman opened #2735 "JSON String mutations are now type inferred"
- What version of Dgraph are you using?
1.0.10

- Have you tried reproducing the issue with latest release?
was not present before 1.0.10

- What is the hardware spec (RAM, OS)?
macbook pro 2016

- Expected behaviour and actual result.
When saving a predicate with JSON, the JSON type should be respected.

In #2627 , this code block is added
https://github.com/dgraph-io/dgraph/pull/2627/files#diff-

[2018-11-08 10:54] calummoore commented on #2221
Great news! 👍

[2018-11-08 16:15] MichelDiz commented on #2735
Please can you let the issue more clear? or move this to discuss?

[2018-11-08 16:42] srfrog commented on #2735
Yes, the JSON behavior to save as string has changed. If you want to disable the type-hinting, you must define a schema. That's what the comment is describing.
[code]
Using a schema is the best practice to have predictable performance.

[2018-11-08 16:57] mehdiym commented on #2733
I simplified the query.
The bug disappears if:
- `sum_knows` is set to `math(1)` instead of a sum
- `ct_thinks` is replaced with a number

[2018-11-08 17:40] billylindeman commented on #2735
@srfrog  This doesn't make sense for JSON.  If I put a json int or float, I would expect the schema to be inferred as a int or float. But if I put a string, I expect a string.

[2018-11-08 18:38] srfrog commented on #2735
JSON numberic values work as expected. But unfortunately, JSON has no distinction about numbers as string, where `"1" == 1`. The old behavior would have stored this as string, as you noted, but is this correct only 50% of the time. JSON's weak types handling created complexity in Dgraph so we needed to add precedence. The change made it possible to have a single type precedence for JSON and RDF. B

[2018-11-08 18:40] srfrog commented on #2735
Btw, you can find the change details here: https://discuss.dgraph.io/t/testing-mutation-type-changes/3352

Let's move the discussion there, as this is not an issue atm.

[2018-11-08 19:35] billylindeman commented on #2735
@manishrjain This is a breaking change for us, and I'm pretty disappointed in how such an oversight for JSON mutations could be introduced without even being mentioned in the release notes (or docs) :\

@srfrog While `"1" == 1` is true in *javascript*, `"1" === 1` is false, which is how you should check equality with types considered.

It seems to me that if you WANT a type conversion from string

[2018-11-08 20:36] Scapal commented on #2729
When you say "ping the server" you mean "perform a simple costless query" or is there an actual ping query on Dgraph ?

[2018-11-08 22:03] srfrog commented on #2735
Thanks for reporting this and explaining your point. And to be clear I was not being disrespectful, I was merely explaining how the behavior changed. This was not an oversight, it was a feature we thought it would help our users, hence why it was being tested. But you make valid points and I will err on the side of caution in case more users don't use schema and need this behavior.

[2018-11-08 22:41] #2654 closed

[2018-11-08 22:41] #2717 closed

[2018-11-08 23:06] #2735 closed

[2018-11-09 02:06] manishrjain commented on #2729
You can call `CheckVersion` API. It should do the same job as an echo.

[2018-11-09 09:53] Scapal commented on #2729
I've set the gRPC dial option `grpc.WithDefaultCallOptions(grpc.FailFast(false))` to see if that fixes the problem without requiring pings.

[2018-11-09 10:40] fc-io opened #2744 "pagination using after does not respect sort order"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10 (latest)

- Have you tried reproducing the issue with latest release?
yeah

- What is the hardware spec (RAM, OS)?
32GB, macOS Mojave version 10.14.1

- Steps to reproduce the issue (command/config used to run Dgraph).

Add some test data.

[code]

Make sure that the uid order is not the same

[2018-11-09 12:16] selmeci opened #2745 "OOM with custom tokenizer"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
amazon m5d.xlarge. 1 zero, 2 alpha

- Steps to reproduce the issue (command/config used to run Dgraph).
A have lots of data in `text.value` predicate. When I alter schema with:

[code]

a g

[2018-11-09 12:44] manishrjain commented on #2745
The server unavailable just means the server is exceeding pending proposals limit. Hard to say about the OOM. You'd need to give more details about the heap and such.

Doesn't seem like a bug report. This can be moved to discuss.dgraph.io.

[2018-11-09 12:55] selmeci commented on #2745
Ok, I can move it. Maybe I can prevent this error when I use tokenizer during bulk load. Is it possible?

[2018-11-09 13:00] manishrjain commented on #2745
First thing to do would be to run a heap profiler every minute or so, so you can catch the profile just before a crash. If you look at that, it would help identify the memory issue.

What I can see in your tokenizer is that you're creating a transformer for every call, that's something you can just create once and reuse. Maybe it helps, just maybe...

[2018-11-09 15:39] selmeci commented on #2638
Hi, I have same problem with 1.0.10. I cannot setup cluster of one zero and two alphas.
My cluster crushes after I start second alpha during rebalancing on OOM.

Everything working on 1.0.8, same data.

[2018-11-09 16:21] selmeci commented on #2745
It is not about custom tokenizer. My cluster crashes every time during rebalancing after I start second alpha.

[2018-11-09 17:51] jerodsanto commented on #2661
This episode is now live! Listen here: https://changelog.com/podcast/322

💚💚💚

[2018-11-09 18:57] manishrjain commented on #2745
Without a heap profile, it's hard to comment on this. Dgraph spawns 16 goroutines to pick up posting lists from disk, marshal them and send them over the wire. It's possible that your instance doesn't have enough memory to support this.

[2018-11-09 19:52] danielmai commented on #2638
Can you share the commands you used to run Dgraph for the Zero and two Alphas you're running?

[2018-11-10 13:13] Scapal commented on #2729
It doesn't work, so I went for the `CheckVersion` keepalive:

[code]

[2018-11-10 22:05] smkhalsa commented on #933
It's interesting to see how neo4j is handling [graphql support](https://neo4j.com/developer/graphql/#_java_extension_neo4j_graphql).

In addition, their [neo4j-graphql-js](https://github.com/neo4j-graphql/neo4j-graphql-js) library provides a way for grpahql servers to delegate graphql resolver resolution to neo4j while still allowing query flexibility on a field-by-field basis with Cypher directiv

[2018-11-12 05:00] hoonmin opened #2747 "panic: runtime error during snapshotting"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
release/v1.0.10

- Have you tried reproducing the issue with latest release?
Yes.

- What is the hardware spec (RAM, OS)?
CPU: 32-core
MEM: 64GB
STORAGE: SSD
OS: CentOS 7.4

- Steps to reproduce the issue (command/config used to run Dgraph).
Couldn't reproduce this for now.

I exported the database fr

[2018-11-12 10:35] selmeci commented on #2638
[code]

[2018-11-12 19:02] billylindeman commented on #2735
@srfrog Just wanted to say I appreciate you guys taking this concern seriously and the quick remediation!

[2018-11-13 11:29] pjebs opened #2748 "Can DGraph switch to eventual consistency mode when distributed?"

[2018-11-13 15:30] #2748 closed

[2018-11-13 18:52] MichelDiz commented on #2540
Since this is a question about an old version and there was no response, I will close it. If needed so, try to reproduce the error in the latest version and post a comment here that we will reopen.

[2018-11-13 18:52] #2540 closed

[2018-11-13 18:58] MichelDiz commented on #2343
As this is a relatively old question, if you need more discussion. Please open a discussion in Discuss.
Also, It's interesting that the questions are asked there, to stay focused on bugs and features.

Cheers.

[2018-11-13 18:58] #2343 closed

[2018-11-13 19:13] danielmai commented on #2328
The current Dgraph images work with the following k8s pod configuration that's set in our k8s configs.

[code]

This sets the internal gRPC communication port for the Alphas to 7080.

[2018-11-13 19:13] #2328 closed

[2018-11-13 19:17] MichelDiz commented on #2109
As this is a relatively old question (8 mounths withou answer) I'm closing this, if you need more discussion. Please open a discussion in Discuss. And ref this issue.

Also, It's interesting that the questions are asked there, to stay focused on bugs and features.

Cheers.

[2018-11-13 19:27] MichelDiz commented on #1963
I think this question is done, I'll close. Feel free to ask to reopen or please open a discussion in Discuss. And ref this issue.

Cheers.

[2018-11-13 19:27] #1963 closed

[2018-11-13 21:47] manishrjain commented on #2745
During index rebuild, it if is going to take time, other proposals are going to be blocked. That's why you're seeing those errors.

If you're on Slack, ping Daniel Mai, and we can help you get a heap profile for us. That's the best we can do to identify the OOM issue. Without that profile, we can't really help you.

[2018-11-13 21:49] manishrjain commented on #2745
Also, can you share the full logs? Run them with `-v=2 --logtostderr`?

[2018-11-13 21:50] manishrjain commented on #2747
That fid should not be nil. If it is, we have a bug.

[2018-11-14 08:19] selmeci commented on #2745
Hi, I attached several heap profiles in my previous post (at the end). Here are again:

https://github.com/dgraph-io/dgraph/files/2571496/pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.010.pb.gz

https://github.com/dgraph-io/dgraph/files/2571495/pprof.dgraph.alloc_objects.alloc_space.inuse_objects.inuse_space.009.pb.gz

https://github.com/dgraph-io/dgraph/files/2571494/pprof.dgra

[2018-11-14 09:19] selmeci commented on #2745
I understand that index can be block, but why it finish with error

and after that I cannot find anything old in this index and only new inserted data?

[2018-11-14 12:46] mehdiym commented on #2335
Thank you but I don't want to pick any node. I need a node that matches some restrictions, so I cannot use that at the root query.
Anyway I found a way with 2 queries.

[2018-11-14 14:38] hoonmin commented on #2747
I reproduced this, and there were `too many open files` before the panic occurred.
[code]

Dgraph looks fine for now after increasing LimitNOFILE.

Sorry for your time to check this issue :-(
Thank you!

[2018-11-14 15:09] #2747 closed

[2018-11-14 15:10] manishrjain commented on #2335
You can add a filter at root as well.

[2018-11-14 23:47] srfrog commented on #2733
Thanks for reporting this. The div0 error is correct but appears to be for the wrong reason.

If I understand correctly, `ct_thinks` evaluates to zero, and `sum_knows` also evaluates to zero. so `avg` should be `0 / 1 == 0`. Is this correct?

[2018-11-15 08:09] mehdiym commented on #2733
Correct.

[2018-11-15 08:31] mehdiym commented on #2335
I don't understand how to use it.
Suppose I'd like to find words a specific user knows.
If I execute the following query, I'll always get the same word:

[code]

[2018-11-15 12:15] kosiakk opened #2752 "Unexpected list of size zero while creating reverse index"
I'm using the latest DGraph v1.0.10 8b801bd7
On a powerful Windows Laptop, with all default settings (e.g. replication factor 1).

- Steps to reproduce the issue (command/config used to run Dgraph).

1. Import 1M example from the tutorial into a fresh installation (3 alpha servers on the same host, 1 zero)
2. Open Schema in `ratel`
3. Add `reverse` index on actor.film

- Expected behaviour and act

[2018-11-15 12:17] kosiakk commented on #2752
Complete log:
[code]

[2018-11-15 13:00] manishrjain commented on #2752
Fixed in v1.0.11-rc2. Can you try with that? The on disk representation has not changed, between 10 and the rc.

[2018-11-15 13:59] mehdiym commented on #2438
Agreed! "UPDATE WHERE" is supported by all major database and is very useful when you need to mutate millions of predicates, as you can avoid sending them 2 times over the network.

[2018-11-15 15:18] MichelDiz commented on #2672
I think I've mentioned before, empty nodes will continue to exist. And they are considered Orphans / Deleted. Ignore them.

Using the deletion procedure in the documentation still does this happen?
https://docs.dgraph.io/mutations/#delete

@u007  Please can you try with a later version. Just to check. I tried reproduce with the template I did there in the Discuss, but I did not get that effect.

I

[2018-11-15 16:05] calummoore commented on #2672
I haven't been able to reproduce this, will let you know if it appears again.

[2018-11-15 16:08] u007 commented on #2672
do you suggest that i need to add in filter like has(_predicate_) ?

[2018-11-15 16:48] MichelDiz commented on #2672
Filtering is good, but use literal predicates. Do not use `_predicate_`.

I'm not sure if you're just expressing yourself. The correct way to express a literal predicate would be  `has(<predicate>) `.

btw, About this statement:

Can you show the used Query? In practice Dgraph does not return Nodes that do not have "created_at" (before) or if you query for "created_at" with sort or filter by it. I

[2018-11-16 14:59] manishrjain commented on #2752
Feel free to reopen if it still persists in rc2.

[2018-11-16 18:29] manishrjain commented on #2745
Also, @danielmai , can you look at these profiles and see if you find something?

[2018-11-16 18:55] dgryski opened #2757 "Issue found by new nilness vet check"
Playing with the new `vet`, I found the following issue:

[code]

The line is https://github.com/dgraph-io/dgraph/blob/master/query/query.go#L544 , and `facetsNode` has not been assigned a value between declaration on line 384 and the if test, so it's always nil.

[2018-11-16 19:35] srfrog commented on #2757
Hi, which new vet is this? We use the vet tool that comes with Go.

[2018-11-16 19:45] dgryski commented on #2757
It was just merged into master.

https://go-review.googlesource.com/c/go/+/149609/

[2018-11-16 21:34] manishrjain commented on #2752
Yeah, I see the assert still there. Been on my TODO list to refactor this a bit and speed it up. Will take care of this.

If you want to get out of this issue right away, and are not afraid to compile Dgraph, just replace the assert with a continue here:
https://github.com/dgraph-io/dgraph/blob/a1475713bc7f5ce666b5740349283d1c22f46adc/posting/index.go#L587

[2018-11-16 21:47] manishrjain commented on #2757
Thanks for catching this, @dgryski ! Seems like a bug at our end.

[2018-11-16 22:33] manishrjain commented on #2752
It is actually not a crash, but an assert failure. Part of a defensive coding technique that we use at Dgraph (where we put asserts at places we never expect an error). In this case, that assert is actually not that useful, and as you're witnessing, does trigger.

Java is a different universe, where a few unhandled exceptions here and there are just part and parcel of life. I'm personally not a fa

[2018-11-16 22:40] #2757 closed

[2018-11-16 23:20] #2601 closed

[2018-11-16 23:20] #2622 closed

[2018-11-17 04:56] srfrog commented on #2745
@manishrjain currently it appears that any change to the index will delete and rebuild all the indexes.

[2018-11-17 12:40] kosiakk commented on #2752
Manish, please understand me right: I really don't want to start a programming holy war here. I fully understand the value of `assert` and use it as well. That's okay.
Bugs happen, asserts misfire, people fool around. That is inevitable, no matter which language or tech is used. Go is quite obviously a popular and reasonable choice.

But please try to imagine my situation right now:

DGraph is at

[2018-11-17 20:19] fletcherist commented on #2277
Hello guys! Just interesting... are there any practises how to avoid predicates not defined in schema? Strict mode could handle this cases very easily, but if it's not implemented yet, how do you solve this issue?

[2018-11-18 01:03] srfrog commented on #2277
No, Dgraph is designed to take the data as the user sends it. And only applying type values when a schema exists. The default type is string so anything without type is assumed as string. We tested a type-hinting feature that is almost the inverse of strict types but it was not well received - https://discuss.dgraph.io/t/testing-mutation-type-changes/3352

I personally think strict schema mode wou

[2018-11-18 20:37] manishrjain commented on #2277
This should be a simple change at our end. If a user has set strict schema checking, with a flag, we just don't accept a mutation unless the predicate already has a schema.

[2018-11-19 23:12] manishrjain commented on #2752
I think you're conflating an assert failure from a stack trace (in Java) or error handling (in Go). Both of the latter do what you expect, i.e. keep the process running and just error the request out. Assert failures are different, the idea behind them is not that the request has an error. The idea is that there're assumptions that a developer makes about how the code should work, and the asserts

[2018-11-20 01:15] #2752 closed

[2018-11-20 03:17] danielmai commented on #2745
Took a look at the profiles. I didn't see anything that stood out as an issue. Memory moved from 3GB to 12GB across the profiles.

![issue2745](https://user-images.githubusercontent.com/2251820/48748868-3ca61180-ec2d-11e8-815c-8d3449b49b04.png)

There are a couple of memory dips between the profiles, which shows that Dgraph released memory after finishing some indexing work. Whenever memory usage

[2018-11-20 08:38] selmeci commented on #2745
I tried it on machine with 30GB of RAM. It does not crash, but memory never releases under 20GB.

But I have a question:
Lets say that my predicate will be bigger and bigger. Is it possible that dGraph crashes again without any warnings? Or why is shard not applied  on this predicate which distribute it between nodes?

[2018-11-20 18:37] danielmai commented on #2745
It may be that the Go runtime is holding memory idle that could be released to the OS but hasn't been released. The [memory metrics](https://docs.dgraph.io/deploy#memory-metrics) for idle, inuse, and proc memory should tell you how much memory Go is holding.

Dgraph cannot prevent getting out-of-memory killed. An OOM kill is an indicator that your data set and use case requires more memory.

Predi

[2018-11-20 19:21] kosiakk commented on #2752
Fix confirmed! Thank you
I'll gain some more experience and will certainly get back to you with questions

[2018-11-21 07:38] selmeci commented on #2745
According to this behavior of dGraph with in-memory indexing on one machine, the dGraph is no more horizontal scalable and user has to buy more expensive machines for vertical scaling. That's very bad news for me. Let's looks what horizontal scaling means according to wiki:

I used same data set in MongoDB, Elasticsearch and no one has problem with index building.

As I have already said, everythi

[2018-11-21 14:16] u007 opened #4890 "[feature] uid_in query with QueryWithVars"
is there any way to passing list of uid as []string{} for QueryWithVars ?

[2018-11-21 16:38] Scapal opened #2765 "Importing exported password predicates"
If you suspect this could be a bug, follow the template.

Exported using 1.0.10
Imported using 1.0.11rc3

I exported a Dgraph DB containing a 'secret' predicate of type password: `secret: password .`.
After wiping the DB, reimporting the schema, then importing the exported data, the passwords won't match anymore.

Sample exported `secret` with part of the key replaced by '...................' for

[2018-11-21 16:55] AriFunFarim opened #2766 "Query crashes dgraph"
**- What version of Dgraph are you using?**
v1.0.10 and v1.0.11rc3

**- Have you tried reproducing the issue with latest release?**
yes

**- What is the hardware spec (RAM, OS)?**
oVirt VM, CentOS7, 16GB RAM, 4 CPUs, dgraph running in docker.

**- Steps to reproduce the issue (command/config used to run Dgraph).**
This is the query:
[code]
**- Expected behaviour and actual result.**
We expect dgra

[2018-11-21 17:35] gitlw commented on #2766
Thanks @AriFunFarim for reporting this bug and the root cause analysis.
We'll make sure to handle nil values affecting this case, and also check if type conversion affects other cases.

[2018-11-22 08:03] manishrjain commented on #2391
@danielmai tested this with:

[code]

![screenshot from 2018-11-21 10-55-24](https://user-images.githubusercontent.com/1782324/48889194-d9151300-ede9-11e8-86a7-7b83d543fc3c.png)

All passed! Finally, squashed this bug! Closing this issue.

[2018-11-22 08:03] #2391 closed

[2018-11-22 08:04] manishrjain commented on #2391
This fix would be part of v1.0.11 release.

[2018-11-25 01:35] MichelDiz commented on #2497
Sorry the HUGE delay, doing a Seek for simple and unanswered issues I found yours and I believe the solution is simple. I've made two examples that you can run against https://play.dgraph.io/

ps. You can perform one at a time.
[code]

So the EdgeUID Variable Query would contain the Edge you wanna specify. So you use it in the "uid_in" function as a "has" filter. You will have exactly what you are

[2018-11-25 01:35] #2497 closed

[2018-11-26 04:06] rr32btg commented on #2335
Could you provide some examples or documentation links which describe this behaviour, please? I also tried use "has(predicate)" construction in several conditions and I always got same nodes. Also I didn't find any clue in documentation which describes this "has" behaviour or usage.

[2018-11-26 06:05] coralzu opened #2775 "After loading data with dgraph bulk , alloftext query(@lang @zh) no result"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
   v1.0.10

- Have you tried reproducing the issue with latest release?
   yes

- What is the hardware spec (RAM, OS)?
   8GB ,  windows 10

- Steps to reproduce the issue (command/config used to run Dgraph).
 startup dgraph
[code]

add Schema
[code]

run a mutate
[code]

now run a query with
[code]
r

[2018-11-26 06:34] manishrjain commented on #2538
Because `claim.name` is a hash index, the `claim.name` values corresponding to the UIDs stored in that index must be retrieved to detect collisions. If there are a lot of UIDs with that value, retrieving them would take a while. That might be causing the slowness. You can try with an exact index and see if the result is any different.

[2018-11-26 06:38] manishrjain commented on #2499
Ratel now supports exploring data with the schema view, without issuing any queries. I think that's a sufficient fix for this issue. Feel free to open a new issue, if you want something specific in Ratel.

[2018-11-26 06:38] #2499 closed

[2018-11-26 06:39] manishrjain commented on #2444
Closing due to no activity.

[2018-11-26 06:39] #2444 closed

[2018-11-26 06:42] manishrjain commented on #2430
I think your query is hard to understand. You'd really benefit from using multiple blocks to split your query. It's possible you don't really need the `union` function, just a modular way to define variables and use them.

[2018-11-26 06:43] manishrjain commented on #2241
Grpc should already support this. Let's see how best we can bring it in.

[2018-11-26 06:45] #2007 closed

[2018-11-26 06:46] manishrjain commented on #1909
You can use `@filter` if you want to intersect, or using variable assignment and `uid` to merge two invocations to `has`. I think all the ingredients are already there, there's no need to extend has function itself.

[2018-11-26 06:46] #1909 closed

[2018-11-26 06:47] manishrjain commented on #1724
This is being done by Ratel.

[2018-11-26 06:47] #1724 closed

[2018-11-26 06:48] manishrjain commented on #1619
Being done in Ratel.

[2018-11-26 06:48] #1619 closed

[2018-11-26 06:49] #831 closed

[2018-11-26 06:50] manishrjain commented on #526
Haven't heard the community ask for this.

[2018-11-26 06:50] #526 closed

[2018-11-26 06:51] manishrjain commented on #100
C++ driver isn't high on demand. Closing this issue.

[2018-11-26 06:51] #100 closed

[2018-11-26 06:53] manishrjain commented on #2515
We could accept a path for where the export should be done as part of the HTTP request.

[2018-11-26 07:01] makitka2007 commented on #2430
agreed. I redesigned schema to use nodes for every link, so customerId becomes an attribute of the link, and I just use queries like `r2mlink @filter(has(rel_customer1) or has(customer2))` and it works fine

[2018-11-26 07:03] manishrjain commented on #2745
Two issues are being discussed here:

1. Running OOM during predicate move: It looks like we might be caching too much data in memory, if sending it over the wire isn't as fast. I can throttle that, so the producer does not put too much into buffer, if the consumer can't consume fast enough.

2. About index rebuilding: If you ask Dgraph to rebuild index, then yes, you're limited by the amount of m

[2018-11-26 07:05] manishrjain commented on #2430
Glad to know that!

[2018-11-26 07:05] #2430 closed

[2018-11-26 07:32] manishrjain opened #2776 "Hash index should not try to detect collisions"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do

Make `eq` func faster with the Hash index.

### What you actually did

### Why that wasn't great,

[2018-11-26 07:43] selmeci commented on #2745
@manishrjain thanks for answer.

I understand now, that there are two problems. Maybe I can prevent second problem if I can use custom tokenizer with bulk loader. Is it possible?

I tried live loader but it's too slow for our data set with 142 000 000 rdfs (We have only 4M RDF imported after 3 hours on cluster of 3 alphas on AWS c5d.2xlarge with replica factor 3. Speed decreased from 3k RDF/s to 8

[2018-11-26 09:14] kitsunde opened #2777 "Could you make a unique logo for the Dgraph browser?"
Like say make it a distinct color, because the website/docs have the same logo and it gets lost in the browser tabs when both are open. :P

It's number 4 here:

<img width="164" alt="screenshot 2018-11-26 17 13 12" src="https://user-images.githubusercontent.com/48965/49004180-afb80680-f19e-11e8-9cc9-1dfd2b560dce.png">

[2018-11-26 10:17] relunctance opened #2778 "dgraph live load data has error with @lang"
🚨 The issue tracker is not for questions 🚨
I has been install language en , fr , it

https://tour.dgraph.io/moredata/1/

[code]
[code]

[2018-11-26 14:43] MichelDiz commented on #2778
Have you run the schema before the live load?

[2018-11-26 17:30] srfrog commented on #2778
I think you need to run the schema mutation before you run the live load.

[2018-11-26 17:33] MichelDiz commented on #850
This `@include` directive as an if statement is a very interesting feature we can use in Dgraph.
btw there's a "`@skip`" directive that does the opposite.

With GraphQL Variables (something very similar as standard use of GraphQL)
[code]

The first example updated
[code]

### Original GraphQL usage
[code]
source https://graphql.org/learn/queries/

[2018-11-26 18:53] MichelDiz commented on #2778
Okay, @relunctance please run the schema and if the issue persist feel free to reopen it.

[2018-11-26 18:53] #2778 closed

[2018-11-26 19:40] danielmai commented on #2518
Design concepts page is due for an overhaul for [a while now](https://github.com/dgraph-io/dgraph/blame/2afa0962b27e59c8d606ff89258e4ebe49c684c4/wiki/content/design-concepts/index.md#L67). Added a about the mutations design doc for now in https://github.com/dgraph-io/dgraph/commit/2afa0962b27e59c8d606ff89258e4ebe49c684c4

[2018-11-26 19:40] #2518 closed

[2018-11-27 05:15] manishrjain commented on #2423
Wao! Even I didn't realize this worked. Can you please add this in our documentation?

[2018-11-27 07:34] relunctance commented on #2778
tks @MichelDiz  @srfrog  .
after run the schema , now load data  success

[2018-11-27 09:13] relunctance opened #2782 "panic in dgraph-io/dgraph/query/query.go:1433"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

Dgraph version   : v1.0.11-rc3-4-g701e18d0
Commit SHA-1     : 701e18d0
Commit timestamp : 2018-11-21 23:56:55 -0800
Branch           : master

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
go1.9.2 linux/amd64
Linux dgraph.kill.docker 3.10.0-32

[2018-11-27 22:45] manishrjain commented on #2423
I think we can close this issue after this is documented.

[2018-11-27 22:56] manishrjain commented on #2745
I think you should be able to use a custom tokenizer with the bulk loader.

Streaming now only keeps a buffer of a few megabytes, so you should no longer go OOM if the consumer is slow. Would be available in the next release.

We'd need more work to optionally only rebuild one of the multiple indices corresponding to a predicate. If that'd be useful to you, feel free to add a Github issue separate

[2018-11-28 01:13] srfrog commented on #2662
This has to do with unicode optimizations done by Go. The escape sequence `\u001b` is converted to `\x1b` and `\u0000` is `\x0`. Escape sequences/control chars are not allowed in JSON strings.

I'd suggest to add slash to those chars you know will be control chars and try again. e.g.,, `\\u001b`

[2018-11-28 02:12] danielmai opened #2786 "Add a way to build Dgraph without proprietary features"
With the enterprise features rolling out we need to have a way to build an open-source binary of Dgraph that doesn't contain any proprietary code.

[2018-11-28 02:12] danielmai commented on #2786
@srfrog can you add this to the Makefile?

[2018-11-28 15:21] #2733 closed

[2018-11-28 16:14] selmeci commented on #2745
Thank you!

I will discuss using tokenizer with bulk load on forum.

You can close this issue.

[2018-11-29 01:47] #2786 closed

[2018-11-29 03:50] manishrjain commented on #2782
Just submitted this commit: https://github.com/dgraph-io/dgraph/commit/290028dc48e419cc9ea9473364b2c6b6e8e0f5f2 which would fix this bug.

[2018-11-29 03:50] #2782 closed

[2018-11-29 07:07] chuerxiao opened #2793 "Node crashed due to badger error when moveing preidcate"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
   v1.0.10
   compile from source code
- Have you tried reproducing the issue with latest release?
     v1.0.10 is the latest release
- What is the hardware spec (RAM, OS)?
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.5 LTS
Release:	16.04
Codename:	xenial
memory 256GB
cores 80

- Steps to reproduc

[2018-11-29 14:17] Vliro commented on #2511
How is this coming along? It is the single most needed feature for our backend, because as of right now objects that are singular are json-parsed as arrays, which makes frontend a nightmare.

[2018-11-29 15:20] manishrjain commented on #2793
Saw the same thing while working on Jepsen move tablet tests. Have a fix I'm working on.

[2018-11-29 15:24] manishrjain commented on #2511
Given this is a breaking change, we will make it part of v1.1 release. Eta Jan 2019.

[2018-11-29 15:42] Vliro commented on #2511
Thank you for the update @manishrjain . Looking forward to it! Will it be available earlier as part of a nightly release, or merged at the date of arrival?

[2018-11-29 18:20] #2423 closed

[2018-11-29 22:36] #2616 closed

[2018-11-30 07:38] selmeci opened #2798 "Add support for custom tokenizer in bulk loader"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do

I would like to use custom tokenizer with bulk loader

### What you actually did

I have to build

[2018-11-30 22:14] codexnull commented on #2775
Fixed in next release.

[2018-11-30 22:14] #2775 closed

[2018-11-30 23:04] srfrog opened #2801 "Improve CJK tokenizer support"
The current CJK tokenizer in v1.0.10 is the one included in Bleve. It has limited support and can yield extra tokens when that aren't needed. We need to use a CJK package/library specifically designed for CJK support that can handle these languages better.

For example, the term "first name" or "名字" is tokenized as "名", "字". But in this form, "字" is "name" and "字" is "word", so we have lost "first

[2018-12-02 10:39] urandom commented on #1222
@manishrjain
What do you mean by "via transactions"?
Do you mean by manually deleting all related nodes from within the same transaction? If so, that doesn't seem all that different to the error-prone way suggested by OP.
Could you please give an example.

[2018-12-03 00:06] melixir commented on #2423
That's great news. I'll pass the message to my coworker who was running into this problem. Thanks guys!

[2018-12-03 09:27] chenyuzhi459 opened #2802 "Shortest path queries OOM"
I want to use shortest query to find relationships between two users through the proucts they purchased or shared. Here is my query block
[code]

But server doesn't return anything but this:
[code]

And server log seens everything is ok:
[code]

I wonder if it's because I use both positive and negative edgs  in my query that leads to a loop, eg: `purchase` and `~purchase`

[2018-12-03 12:02] josalmi opened #2803 "Query variables parsed differently to raw values"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.10

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
Google Kubernetes Engine using the official dgraph images

- Steps to reproduce the issue (command/config used to run Dgraph).

We are using dgraph-js-http library for communicating with dg

[2018-12-03 18:21] srfrog commented on #2803
Thanks for reporting this. We are working to improve i18n support, and many changes have gone into 1.0.11 for this. by default Dgraph will consider all text to be English, so you need to tell it to use i18n features.

in 1.0.10 try this and see if it helps:
[code]

[2018-12-04 01:51] danielmai commented on #2802
This does not look like an OOM per-se (in the sense of an out-of-memory killed event). If your expected result set is large, you can set a higher upper bound for the `--query_edge_limit` flag for Dgraph Alpha.

This is not a bug report, so I'm going to close this issue. If you have a follow up question please start a topic at discuss.dgraph.io.

[2018-12-04 01:51] #2802 closed

[2018-12-04 04:19] #2765 closed

[2018-12-05 12:22] josalmi commented on #2803
I think I might have been a bit unclear in my first message.

I created a example application where you can see this error happening:
https://protected-shore-55899.herokuapp.com/

The source code is available here:
https://github.com/josalmi/dgraph-aakkoset

Both examples should return same results but the one where variables are used fails to do so.

As as workaround we created a proxy that re-en

[2018-12-05 17:39] stefanfransen opened #2807 "Provide a way to replace an object with a single value"
Hi, for my use case I've got images saved to products as an edge.
I can't use string lists because I'm saving a hash with the image used for image based searches.
Often I need to only get the image URLs when retrieving a product, at the moment this adds an unnecessary object for every image.

Discussion with some interesting ideas by @MichelDiz
https://discuss.dgraph.io/t/expended-edges-as-string-

[2018-12-06 06:30] relunctance opened #2810 "panic in dgraph/query/query.go:492"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
[code]

- Steps to reproduce the issue (command/config used to run Dgraph).
Data size and  schema:
[code]
url: http://127.0.0.1:8080/query?debug=true
[code]

- Expected behaviour and actual

[2018-12-06 15:20] mangalaman93 commented on #2628
I think it would be useful to integrate with existing hadoop echo system through yarn/mesos or AWS EMR. AWS EMR clusters are super easy to spawn and can be scaled up for the needed duration while data is ingested into dgraph (or prepared, like the current bulk loader). I will prepare a draft of my proposal.

[2018-12-06 17:44] danielmai commented on #2810
This is fixed in the latest v1.0.11-rc4 with https://github.com/dgraph-io/dgraph/commit/290028dc48e419cc9ea9473364b2c6b6e8e0f5f2

[2018-12-06 17:44] #2810 closed

[2018-12-06 17:55] glycerine opened #2811 "tour demo loading 1million.rdf.gz crashes"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

dockerhub's dgraph/dgraph:latest

[code]

- Have you tried reproducing the issue with latest release?
See above.

- What is the hardware spec (RAM, OS)?
OSX 10.13.6, running docker, 16GB ram.
[code]

- Steps to reproduce the issue (command/config used to run Dgraph).

Follow the tour. Try to load the

[2018-12-06 18:01] danielmai commented on #2811
Can you share logs for the Alpha as well?

There's are [memory settings specific to Docker for Mac](https://docs.docker.com/docker-for-mac/#advanced) that specify the total memory for the VM that Docker for Mac. It's typically lower than your entire system memory.

[2018-12-06 18:02] glycerine commented on #2811
Sure. Where are the logs?

[2018-12-06 18:07] glycerine commented on #2811
Yes, the docker server was still set to 2GB. Trying again now with raised limit and restart of docker server.

If you mean the console output from alpha:
[code]

[2018-12-06 18:14] glycerine commented on #2811
I upped the docker server pref to 12GB
![image](https://user-images.githubusercontent.com/445247/49603120-fc929e80-f94f-11e8-8bcc-17a542e39179.png)

and trying again...

[2018-12-06 18:36] danielmai commented on #2811
This isn't a crash. The Alpha logs stop abruptly and don't state that it crashed, so it's likely an OOM kill (looking at kernel logs within the Docker VM or perhaps `docker inspect` can confirm this).

We can't prevent the OS from OOM killing Dgraph. We recommend setting the `--lru_mb` flag to one-third of available memory, so setting it to match or exceed the total memory is asking for trouble.

[2018-12-06 18:36] #2811 closed

[2018-12-06 18:39] glycerine commented on #2811
Ok. Seems reasonable. Thanks for helping figure out it was an OOM thing.

[2018-12-08 01:08] MichelDiz commented on #2640
As this is an old issue, a step by step procedure was not provided to reproduce the problem and as known that Ratel became public. I'll close this issue.

Please open a new issue with more details and that can be reproduced.

Ratel's issues https://github.com/dgraph-io/ratel/issues

cheers.

[2018-12-08 01:08] #2640 closed

[2018-12-08 01:20] neetikh commented on #2640
Hello Michel

With new UI issue is now there. You can please close this issue.

Thanks for your help.

Thanks & Regards,
Neeti Khard

On Sat, Dec 8, 2018, 6:39 AM Michel Conrado <notifications@github.com wrote:

[2018-12-08 20:04] glycerine opened #2813 "/mutate doesn't always."
A script to reproduce what I'm seeing. Be careful in that this will drop your whole database as its first step.  This looks like two bugs. See comments inline below.

[code]

OSX 10.13.6, dgraph version

[code]
running from docker:
[code]

[2018-12-08 20:11] glycerine commented on #2813
update: I found the typos in my regexp() queries. God dynamically typed languages suck. Here is what they should be; then they work:
[code]

Still mystified why the /mutate data load fails.

[2018-12-08 20:17] glycerine commented on #2813
here is a minimized version. /mutate does not mutate:

[code]

[2018-12-08 21:51] MichelDiz commented on #2813
Are you committing the transactions?

[2018-12-08 22:03] MichelDiz commented on #2813
And can you be more specific? doesn't always what?

[2018-12-09 01:19] glycerine commented on #2813
Yay! Commiting the /mutate transaction did it. Thank you @MichelDiz
[code]

that referred to the two queries after the /mutate `set` in which the queries did not read the just written data (when lacking the COMMIT). Contrast the above with:

[code]

[2018-12-09 01:19] #2813 closed

[2018-12-09 02:57] srfrog commented on #2813
Look like I missed all the fun! Do you mind trying your query with 1.0.11-rc4 ? We did a lot of work to improve fulltext index, trigram is next.

[2018-12-09 03:00] glycerine commented on #2813
@srfrog Hi Gus. It was just (my) user error. I wasn't returning the name of the predicate I was querying.

But glad to hear fulltext search is improving. I was trying to issue query `dog` and have it find `doggies`, but I guess the stemming didn't work there, right?  Is the stemming configurable. I was thinking I would have to fall back on a regexp search.

[2018-12-09 03:06] srfrog commented on #2813
The stemming is not configurable atm. We are using the default stemmer that comes with Bleve. If you have ideas to make it better feel free to submit a PR or issue.

[2018-12-09 19:07] glycerine opened #2814 "feature: timestamping updates"
Suppose I'm making a predicate `lastUpdateTimestamp` for my nodes. I would like a way to get `time.Now()` from a server to populate the predicate, automatically.  I'm thinking of the MySQL `ON UPDATE CURRENT_TIMESTAMP` where the server autofills the timestamp on update and the client-side clocks don't have to be accurate.

The use case here is the ability to read back all updates to a set of times

[2018-12-09 19:29] glycerine opened #2815 "server executes only one of two mutations requested"
- What version of Dgraph are you using?

The latest as of this writing. In docker `dgraph/dgraph:latest`
[code]

- What is the hardware spec (RAM, OS)?
OSX 10.13.6, 16GB ram

- Steps to reproduce the issue (command/config used to run Dgraph).

![image](https://user-images.githubusercontent.com/445247/49701752-e259fa00-fbb5-11e8-9df9-16271677e53e.png)

Given the following two mutations entered into

[2018-12-09 19:40] MichelDiz commented on #2815
The syntax is wrong.

[code]

Ratel does one mutation at a time.

[2018-12-09 19:41] glycerine commented on #2815
I think this is a bug and should remain open. Ratel *should* execute all the independent mutations supplied in the text given.

[2018-12-09 19:46] glycerine commented on #2815
@MichelDiz At the very least this a usability issue. Is certainly surprised me as a first time, new user--and that is a valuable perspective to leverage. Copying transactions from the tour is how I found this. At a minimum, if Ratel is going to ignore some part of the entered text (which is ridiculous), then it should warn the user that part of the user's request is going to be arbitrarily ignored

[2018-12-09 19:47] MichelDiz commented on #2815
Ratel is just a tool. There's no need for dealing with transactions - cuz Ratel commit it immediately. You can't do much with it. If you wanna for some reason do multiple transactions, you must use a client for this. This usage isn't predict for Ratel.

And it does not make much sense within Ratel this feature*. However if you still need this feature, open an issue in Ratel's repository. But notic

[2018-12-09 20:06] glycerine commented on #2815
Turns out that the problem is on the server rather than with Ratel. Here I reproduce outside of Ratel:
[code]

[2018-12-09 20:14] glycerine commented on #2815
Another, distinct example of syntax which results in data loss and no syntax error would be this one. The difference is that I've deleted `} {` from inside the mutation command:

[code]

[2018-12-09 20:15] MichelDiz commented on #2815
@glycerine this usage ins't predict anywhere in documentation.

This isn't data loss cuz you're using Dgraph in a non-existent way. The "Set" block mutation it is intended to be used only once for each command. If you want two transactions, make two calls.

@srfrog @gitlw what do you guys think? make the same thing as the https://github.com/dgraph-io/dgraph/issues/2675 ? I don't know if would be g

[2018-12-09 20:18] glycerine commented on #2815
In my humble opinion (and that of the Go authors), "warnings" are bad: we users rarely see them and almost always ignore them. If its going to result in data loss, just error out with a syntax error and force me to find the right syntax. That teaches me what the right syntax is, and I never succeed in doing something that I expect should add data but has actually discarded data.

[2018-12-09 20:35] MichelDiz commented on #2815
@glycerine The point is, we do not teach that usage anywhere. And using clients you'll never gonna do this kind of mistake. Nor JS, Go, Java, PY or other unofficial clients. Cuz they have specific parameters and flow. Right?

Only cURL or trying out Ratel you could do that type of typo.

If you read https://docs.dgraph.io/mutations/ you gonna see that we don't show "double set usage". If isn't the

[2018-12-10 00:44] manishrjain commented on #2815
We should indeed return error when there are two set instructions. This is a valid issue. Let's treat it as such.

[2018-12-10 00:49] MichelDiz commented on #2726
Note: This seems duplicated of https://github.com/dgraph-io/dgraph/issues/2272

[2018-12-10 00:56] manishrjain commented on #2815
@glycerine if you want to contribute, you can look at gql module. We should return error if the user input does not eof after the block ends.

[2018-12-10 01:49] MichelDiz commented on #2349
As this issue is an old and the discussion under discuss channel is closed.
I suggest you reopen a new thread there. if still need support for this.

Cheers.

[2018-12-10 01:49] #2349 closed

[2018-12-10 01:57] MichelDiz commented on #1972
Now seem to be working.
![captura de tela 2018-12-09 as 22 55 30](https://user-images.githubusercontent.com/6570955/49706599-96cf3c80-fc05-11e8-8831-fb34b8324593.png)

[2018-12-10 01:57] #1972 closed

[2018-12-10 02:57] chenyuzhi459 opened #2816 "Shortest query runs out memory"
- What version of Dgraph are you using?
v1.0.10.

- Have you tried reproducing the issue with latest release?
No.

- What is the hardware spec (RAM, OS)?
 64G, CentOS7

- Steps to reproduce the issue (command/config used to run Dgraph).
1. Make shortest path query with  param `numpaths:2`, for expamle:
[code]
And query result is:
[code]
Obviously, the depth of this shortest-path is 2.

2. Add the

[2018-12-10 18:26] #2427 closed, assigned to manishrjain

[2018-12-10 21:33] srfrog commented on #2814
This sounds like a new feature that might be accomplished by extending facets. I think you should take this to discuss and see if other users find it useful. We don't have triggers now but we would need a general solution to build it as a feature. Immutable predicates sounds like a complete separate feature on its own.

[2018-12-10 22:06] glycerine commented on #2814
@srfrog Okay. I'm unfamiliar with discuss or its protocols.

[2018-12-11 01:03] BlakeMScurr opened #2818 "Pod connection issues"
# Setup

- What version of Dgraph are you using?
v1.0.10

- Have you tried reproducing the issue with latest release?
Sure have.

- What is the hardware spec (RAM, OS)?
Two r4.2xlarge ec2 instances, each with 61GiB RAM, Debian GNU/Linux 8.10

- Steps to reproduce the issue (command/config used to run Dgraph).
Run `kubectl apply` with this config:
[code]

#Expected
 A working cluster.

# Result
A w

[2018-12-11 01:09] srfrog commented on #2814
Our discuss/forum - https://discuss.dgraph.io
We use it discuss community-led features.

[2018-12-11 01:09] #2814 closed

[2018-12-11 02:18] srfrog commented on #2803
The first thing that I see is that `dgraph-js-http` is using `toString()` method which I think doesn't support UTF-8. There needs to be proper encode/decode. So that could be part of it.

On the server side, Dgraph appears to behave as expected. I use the goldendata for testing, which has plenty of unicode strings.
[code]

So I'm going to close the bug here a move it/reference to that repo.

Thank

[2018-12-11 02:18] #2803 closed

[2018-12-11 02:51] relunctance commented on #2628
Is bulk Can add a parameters  to resolve incremental data  ,
at the same time check subject uid exists , if subject not exists then add with new uid .

[2018-12-11 09:34] neetikh opened #2819 "Not able to mutate data for existing note- Same query used to work fine earlier"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://discuss.dgraph.io
Our Docs: https://docs.dgraph.io/
Slack Channel: https://slack.dgraph.io/

[2018-12-11 16:03] danielmai commented on #2819
Please post your question with more details at https://discuss.dgraph.io.

Helpful details include:
- Dgraph version
- What you tried to do
- What you expected to happen

[2018-12-11 16:24] neetikh commented on #2819
Hello Daniel,

I was trying to add integar value using mutate through UI.
Later I tried putting as string and it worked.

Thanks for your help!!

On Tue, Dec 11, 2018, 9:33 PM Daniel Mai <notifications@github.com wrote:

[2018-12-11 18:00] danielmai commented on #2819
@neetikh Glad you were able to answer your question.

[2018-12-11 18:00] #2819 closed

[2018-12-12 19:22] codexnull commented on #2241
Should dgraph also support compression over HTTP? That is, handle the Accept-Encoding and Content-Encoding headers.

[2018-12-13 00:56] danielmai commented on #2705
Any updates on this, @sebastian-walter?

[2018-12-13 01:47] danielmai commented on #2669
Will be fixed once we run v1.0.11 on play and update the release.schema file with the `fulltext` index.

I did a test with v1.0.11-rc4 and the [release data and schema](https://github.com/dgraph-io/benchmarks/tree/master/data/release) with the `name` set with the fulltext index. I don't get any results when querying for `"the man maybe runs"`. But there are results when querying for `"the man runs

[2018-12-13 08:34] sebastian-walter commented on #2705
What we did first was importing the exported data again. This "solved" the problem with deleted UIDs popping up again.

But that lead to another data loss. Some of the relations between our nodes where simply not there anymore.

Concrete Example:
[code]
The relation of owners did not exist anymore.

We now upgraded to v.1.0.10 but so far couldn't reproduce the errors on our dev environment (we hav

[2018-12-13 10:58] manishrjain commented on #2705
I suspect this might be due to relying on UIDs being persisted across export and reimport.

[2018-12-13 20:13] srfrog commented on #2744
Thanks for submitting this issue with details. It appears this issue has been fixed in the master branch. So it should be ready in 1.0.11. I will close this but re-open if you think there's still a problem.

[2018-12-13 20:13] #2744 closed

[2018-12-13 20:33] srfrog commented on #2484
The original issue with `_predicate_` is cache related, which should be resolved soon. @MichelDiz your test will return an error in 1.0.11. I'm going to close this, but re-open if you reproduce sans `_predicate_`.

[2018-12-13 20:33] #2484 closed

[2018-12-14 10:07] makitka2007 opened #2824 "Add log level to log messages"
For now all log messages look identically and it's impossible to view only error or warning messages in Datadog or other tools.
Need to add [INFO]/[WARNING]/[ERROR] prefixes to log messages.
![image](https://user-images.githubusercontent.com/38106681/49996851-23308500-ffa1-11e8-9faf-c46cc210c3ff.png)

[2018-12-14 10:10] #2824 closed

[2018-12-14 10:11] makitka2007 commented on #2824
found a letter in the very beginning of log message while creating this issue

[2018-12-14 15:06] MichelDiz commented on #2484
erro: `: Unhandled pb.node expand with parent has`
Not sure what is this, but if I change to other predicate, works.

[2018-12-14 18:45] svmhdvn commented on #2628
@mangalaman93 I think the hadoop ecosystem would be great for this. I'm currently prototyping the distributed bulk loader with the Gleam mapreduce framework in Go, but I should be able to translate my code over to the more stable hadoop system fairly easily. Did you already have a proposal in mind for the design?

[2018-12-14 22:37] mmasouras opened #2825 "new installation of ratel UI defaults to port 8000 for dgraph"
I followed the instructions here to set-up dgraph, successfully:
https://tour.dgraph.io/intro/2/

However, when I visit my host on port 8000 (ratel UI), it tries to find a dgraph on port 8000 as well. According to the instructions, dgraph is listening to 8080.

This is not a huge deal, but newcomers will find that their installation does not work out-of-the box. It is also difficult to share the n

[2018-12-15 01:09] #2798 closed

[2018-12-17 04:52] mangalaman93 commented on #2628
Such an approach can only ingest limited amount of data given that it would require a large enough memory/disk to be able to store the mapping of xids -> uids on each executor/machine. I had two approaches in mind -
1. Store the mapping on a distributed key value store (Aerospike, redis, badger) etc. I think this could be chosen by the users itself, and we can define the interface that we need. Th

[2018-12-17 16:19] svmhdvn commented on #2628
I agree. I initially thought that using a badger store for the xids->uids DB would make disk space be the limiting factor, which would have to be large anyway to store the output posting list DBs, but yes it's not ideal.

I tried using redis cluster when I first created the mapping phase prototype in Gleam and found that throughput was definitely a problem. I could try again with hadoop and see if

[2018-12-17 16:24] manishrjain commented on #2628
We already have an implementation of xid to uid mapping stored in Badger, which can be readily used. I don't think disk would be a limiting factor to store just the entities in the graph.

We need a design review for this change. Let's set up a call. Can you email me?

[2018-12-17 16:35] svmhdvn commented on #2628
Sure, I'll email you soon.

[2018-12-17 16:42] mangalaman93 commented on #2628
Will you keep me in the loop too? mangalaman93<AT>gmail.com

[2018-12-17 20:58] ArroyoAndre opened #2827 "Cannot query with argument valued "uid""
I'm using DGraph version 1.0.10

I have a schema with a predicate
`name: string @index(hash) @upsert .`

I have a node with name `"uid"` (a string).

When trying to search for that node using the index `name`:
[code]

I get an error:
[code]

[2018-12-18 01:22] manishrjain commented on #2827
@srfrog : Can you look into this?

[2018-12-18 03:19] MichelDiz opened #2828 "Improve tokenization system"
## Experience Report

### What you wanted to do

Edit Schema types individually. Without the need to rebuild the whole index. So do it fast.

### What you actually did

1 - I had Schema ready, but needed to do a small change. So Dgraph dels and Rebuild all the tokenizers for that predicate.
[code]
2 - Later on I had a new change to do

[code]

So, the tokenization system need a refactoring to do e

[2018-12-18 11:44] MichaelJCompton commented on #933
I'm building this, which will address lots of the GraphQL points for Dgraph.

https://discuss.dgraph.io/t/graphschema-a-tool-to-spin-up-a-graphql-api-with-a-dgraph-backend-database/3783

[2018-12-18 12:47] calummoore commented on #2662
@srfrog why is this being closed? The workaround is not desirable and is likely to catch a lot of people out. I would have thought it should only be used while a fix is pending?

At the moment, it's not documented anywhere, and it causes the entire query to be unreturnable without any clear error message. I really think this should be fixed!

[2018-12-18 18:54] srfrog commented on #2662
The JSON spec states that control characters are not part of a string. You need to double-escape them with `\\`. This is not something we can fix in Dgraph per-se, the error comes from the Go json package when we try to marshal the response. It's documented here: https://en.wikipedia.org/wiki/JSON#Data_portability_issues

The alternative I was referring is that we would need to find a way to inser

[2018-12-18 19:07] manishrjain commented on #2662
I'm able to run this code, with no issues: https://play.golang.org/p/cUKMcr5UqC-

It looks like an issue specific to Dgraph, not Go.

[code]

[2018-12-18 19:56] manishrjain commented on #2504
This can be done by using blocks.

[code]

[2018-12-18 20:15] manishrjain commented on #2412
[code]

This gives in play.dgraph.io:

[code]

[2018-12-18 20:15] #2412 closed

[2018-12-18 20:17] manishrjain commented on #2647
Closing this issue as a duplicate of #2646 .

[2018-12-18 20:17] #2647 closed

[2018-12-18 20:41] srfrog commented on #2662
That example is not accurate. This is actually what is going on: https://play.golang.org/p/qaUXuiAcP83
[code]
For all our responses we are returning a blind map using interface{}, we must do that because we expect different values at various levels (think of the query). So `json.Marshal` to `string` won't work. We need to use bytes, and when we convert bytes to string that's when it returns error.

[2018-12-18 21:06] srfrog commented on #2827
The code explicitly forbids a value of "uid", I'm trying to figure out why. Running some tests to find out.

[2018-12-19 03:39] srfrog commented on #2669
It seems "maybe" used to be a stopword, from old the generated list:
https://github.com/dgraph-io/dgraph/blob/v1.0.8/tok/stopwords.go#L20

The current list is based from http://snowballstem.org/ (Porter-Stemmer)

The index might need to be rebuilt to use the right values. I edited the example query and asked for the schema and I didn't see a fulltext index for `name`.

[code]

[2018-12-19 03:49] manishrjain commented on #2662
The behavior here (replacing \u00 with \x) is due to the fix for this issue: https://github.com/dgraph-io/dgraph/issues/1508

We use `strconv.Quote` when returning string results, which does the replacement. See it in action here:
https://play.golang.org/p/PYmDS8jhmY8

[2018-12-19 05:04] manishrjain commented on #2662
I made a small commit, which avoids calling `json.Marshal`, and directly writes the JSON response to a bytes.Buffer -- essentially an optimization. This change would allow the JSON response to be created, however, considering Go is converting `\u` to `\x`, you'd still get an error while trying to parse the JSON.

We have to use `strconv.Quote` (equivalent via `fmt.Sprintf("%q")`) for strings and b

[2018-12-19 09:55] selmeci commented on #2798
Thank you guys! You all do great job!

[2018-12-19 10:39] niemeyer commented on #2662
I most likely don't understand the actual issue, as my reading from the above would indicate that the bug is that Dgraph is sending broken JSON on the wire by putting something in a json.RawMessage that is not in fact valid JSON. If that was the case, the straightforward solution would be of course to not do that, and make sure that anything sent through the wire to be consumed as JSON is in fact

[2018-12-19 12:04] manishrjain commented on #2662
Can you look at my last two comments? It includes a link to the issue you created some time ago, and a link to go playground which shows how it happens.

[2018-12-19 12:59] niemeyer commented on #2662
That issue is about a different file format which takes data in a different representation. The fix done there, which makes Dgraph read the format properly and store data in raw form, seems correct to me. The problem here, as far as I could perceive given the above exchanges, is that some data in non-JSON form is being embedded into a JSON document, and as expected that is breaking down. Go's quot

[2018-12-19 14:16] manishrjain commented on #2662
To clarify, this is not a RawMessage issue. We have our own JSON encoder which we use to generate JSON response, which we were then encapsulating in RawMessage. There was no need for that. In fact, I removed the RawMessage usage in my last change.

The issue is around this JSON string creation. So, we store data in the raw format, which is correct. Now, when we need to create the JSON, we have to

[2018-12-19 14:33] niemeyer commented on #2662
Yeah, that has the same effect, and thus is certainly a bug.

[2018-12-19 17:18] makitka2007 opened #2832 "new 1.0.11 version broke vars"
prerequisites:

[code]

query:

[code]

result:
[code]

on 1.0.10 it worked fine. please, add unit tests/regression or something else not to break existing functionality

[2018-12-19 22:38] #2662 closed

[2018-12-19 22:39] manishrjain commented on #2662
We should be correctly dealing with JSON strings now. You can build Dgraph from master and try it out.

[2018-12-19 23:00] danielmai commented on #2832
For the record, in v1.0.10, the query returns this:

[code]

[2018-12-20 15:12] piyushGoyal2 opened #2835 "UID query not working with @filter"
Hi Team,

I ran a query from Ratel where I am doing a **uid** query using **@filter**. From Ratel I can see the response is perfectly fine. Then I exported the same query into java application. Here the response seems partial in the sense that whatever data is expected after the filter is missing.
Here is the query:

`String query = "query all($idVal: string, $userID: string){    getCircleByUIDAnd

[2018-12-20 19:31] manishrjain commented on #2818
@danielmai : Can you have a look at this issue?

[2018-12-20 19:42] #2827 closed

[2018-12-20 19:46] manishrjain opened #2836 "Switch query package to use docker cluster"
Right now Dgraph query package runs its own Dgraph instances. We should switch it over to use the cluster run via docker-compose. The code for that lies in `query0_test.go`.

[2018-12-20 19:49] manishrjain commented on #2807
This is tricky, because the behavior would have to be different if you ran this query instead:

[code]

Because image would then have 2 fields, it would have to be a JSON map. So, I think it only increases code complexity -- because depending upon how many fields were asked for, the user would need to switch how they parse the response. Either as a list of strings or as a list of objects.

[2018-12-20 19:51] manishrjain commented on #2583
I'm not clear if this is useful. Many users download Dgraph binaries, and a newer version might have a different set of options than previous one. Because the installation of Dgraph isn't standardized across operating systems, having man pages would only make things harder.

The right way to get the documentation is the `--help`. Man pages won't replace that.

[2018-12-20 19:51] #2583 closed

[2018-12-20 19:58] manishrjain commented on #2414
Copy pasting this code doesn't work. Doesn't compile, not to mention the formatting is really bad as well. A better way to share code is to use Go playground.

https://play.golang.org/

[2018-12-20 20:09] manishrjain commented on #2414
Something I see right away in the code is that it doesn't do any batching, despite mentioning it in the code. Each call to `txn.Mutate` will make a round trip to the Dgraph cluster. So, each Account JSON is a round trip. Of course, that can be improved by batching up the accounts.

But, I see bigger issues here.

[code]

So, you're sending a mutation to Dgraph, and then just ignoring that txn comp

[2018-12-20 20:15] manishrjain commented on #2414
After fixing these issues, I'm getting a round trip of around 100ms.

[code]

Here's the updated code: https://play.golang.org/p/QTtrFJ3d2RQ

[2018-12-20 20:15] #2414 closed

[2018-12-20 21:13] manishrjain commented on #1966
Update: We've punted on Cypher and Gremlin support for the roadmap. The focus is on GraphQL and other features mentioned here. Two of them are already being worked upon, i.e. binary backups and access control lists.

[2018-12-21 02:59] relunctance opened #2839 "start alpha has panic when first start after bulk load"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?

[code]

- Steps to reproduce the issue (command/config used to run Dgraph).
[code]
1.  bulk load 650 million node and 830 million predicate with one group
2. cp the data dir to /home/s/dgra

[2018-12-21 03:02] srfrog commented on #2839
Version 1.0.11 has been released. Can you try with that version and report back? Thanks
https://github.com/dgraph-io/dgraph/releases/tag/v1.0.11

[2018-12-21 03:05] manishrjain commented on #2839
It looks like the data on disk got modified. Badger isn't able to read the table index.

[2018-12-21 03:30] relunctance commented on #2839
yes

[2018-12-21 07:21] manishrjain commented on #2839
How much data is in sst files and how much in vlog files?

[2018-12-21 07:32] relunctance commented on #2839
[code]

[2018-12-22 00:16] dmrlsn commented on #2793
Hello,

I was wondering if you had any news on this issue.

I just made up a 4 machines cluster for testing purposes, but after a couple of mutations one of the machines presented this very same error. In no ways I could restart the aborted instance. The only option has been to stop everything and restart with a clean database.

The codebase is 94ca02824c3bd40c93723888d0c6370aef21f282 on master br

[2018-12-22 02:40] mbrukman opened #2840 "Update LICENSE.md to match the Apache 2.0 license announced in blog post"
[A recent Dgraph blog post][blog-relicense] says:

and I see that the referenced commit made a lot of the licensing changes (thanks!). However, the [current version of `LICENSE.md`][license] says:

And we can see that the [`licenses` directory][licenses-dir] does, in fact, contain both licenses, which is confusing. Perhaps this was just missed in the large update?

Would it make sense to replace `

[2018-12-22 03:05] manishrjain commented on #2840
The Dgraph Community License (DCL) encapsulates the open source code, under Apache 2.0 license now. The proprietary code is under the DCL and it is colocated with the open source code. That's why we have both the licenses there. Each code file mentions which license it is under.

We can't make LICENSE.txt/md only mention one license and not the other. That's why we use the current structure. In ot

[2018-12-22 04:18] mbrukman commented on #2840
[Searching for `dcl` in the repo][search-dcl], looks like what's covered under DCL are:

* files in the `ee/` directory
* some files, which appear to have `_ee` suffix
* ... maybe I missed something else?

Maybe this can be clarified in the README or LICENSE files? Otherwise, it's a bit disconcerting to not know which parts of the repo are under which license, and the blog post seems to imply that

[2018-12-22 05:02] manishrjain commented on #2840
We are using Go build flags to optionally not include enterprise features. So, if you want a pure open source version of Dgraph, you can run make oss.

We don't intend to separate out proprietary code in another repo. It's also hard to always keep the directory separation, but we try. All files mention the license they are under.

[2018-12-23 18:03] Swoorup commented on #2545
Promising project. Keep it up.

[2018-12-24 05:00] u007 commented on #2752
thank god it works :)

[2018-12-24 08:21] relunctance opened #2842 "bulk can not use --config"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
64G

- Steps to reproduce the issue (command/config used to run Dgraph).
[code]

[code]

- Expected behaviour and actual result.
use default params are work well , when use --config can not

[2018-12-24 15:05] brianbroderick commented on #2693
There are many reasons to have multiple databases; for example, it's typical to have a dev, test, and prod environment with their respective databases. This makes it so the test database can be recreated before each test run. Right now, the only way to accomplish this is to either have multiple instances of Dgraph running, or to add a prefix to all predicates.

Adding a prefix complicates queries

[2018-12-25 05:57] relunctance opened #2845 "after stop alpha has panic"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Dgraph version   : v1.0.11-rc3-66-g4ca67ca
Commit SHA-1     : 4ca67ca
Commit timestamp : 2018-12-24 18:53:10 -0800
Branch           : dev
Go version       : go1.11

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
64G

- Steps to reproduce the iss

[2018-12-25 11:49] Swoorup commented on #2066
what is the IRC network and channel?

[2018-12-27 07:07] henrymontagu opened #2847 "Dgraph-ratel crashes with a blank screen when clicking on an edge with a Facet"
When I am trying to click on edge that has a facet, the UI v1.0.10 crashes and turns to a white screen. I have attached a screen shot of the brower and the error printed by the console is below. Any help on solving this issue will be highly appreciated ?

TypeError: "i is undefined"
	r https://d1ocqy7wcgv7nr.cloudfront.net/static/js/main.js:1:1267573
	r https://d1ocqy7wcgv7nr.cloudfront.net/static

[2018-12-27 07:09] henrymontagu commented on #2847
![screen shot 2018-12-27 at 10 32 36 am](https://user-images.githubusercontent.com/34367742/50469888-e3699480-09c7-11e9-9062-4ad033b85775.png)

[2018-12-27 13:07] MichelDiz commented on #2847
Please use just one repo to report anything.
I see that you already did the same post there https://github.com/dgraph-io/ratel/issues/49

Cheers.

[2018-12-27 13:07] #2847 closed

[2018-12-27 13:59] MichelDiz opened #2848 "Generate blank UIDs based on JSON fields on mutations and loaders"
## Experience Report

### What you wanted to do
Import JSON data made by any other DB but having sure that the nodes will be unique.
Informing Bulkload what are the Keys of my JSON are that represent uniqueness.

And also be able to setup a direct injection from API's serving JSON.

something like this for locally JSON
```dgraph bulk --jsons="./json.json" --setunique="mission_name, rocket_id, payl

[2018-12-27 15:01] jccq commented on #1966
I guess punted means "you're not going to do it" bad choica manish. Remember when i told you that a "proprietary modified Apache licence wasnt going to work" and you told me "nooo it will why not bla bla" .. and you went back to that.

Now my prediction is that if you want to be relevat in the graph db world you'll be quickly back to cyber or gremlin.

 Graphql can be great for very simple stuff b

[2018-12-27 22:54] manishrjain commented on #1966
I'm not sure what your point is, but your language (both the original version and the update) feels unnecessarily aggravating and derogatory. Dgraph was the first company to adopt Commons Clause, which was then used by Redis Labs and is now being used by Confluent. A similar license, called SSPL, is being used by MongoDB and being pushed to OSI. We actually had an uptick in usage when we switched

[2018-12-27 23:39] jccq commented on #1966
@manishrjain back when yous witched to common clause I immediately raised that that was going to wipe the apache benfits away compeltely. One year after that conversation your own words "While the promise of Commons Clause is a great one, i.e. restricting resale while allowing proprietary usage, its subjective implementation generates a lot of friction and confusion for the open source community."

[2018-12-27 23:49] #2241 closed

[2018-12-28 00:32] MichelDiz commented on #1966
IMHO GraphQL is way superior than gremlin or cypher for a Graph DB.

And remembering that GraphQL+- is an almost direct inspiration from GraphQL.

IMHO again, Put Both SQL like languages as main importance here ​​is a logical throwback to Graph DBs. Because you are forcing a SQL-like syntax to comfort SQL mind users. Not that they are not important, they are, but a GraphDB has its own language/way

[2018-12-28 00:47] smkhalsa commented on #1966
@jccq if your goal is to advocate for cypher / gremlin, you may want to try a different approach. Simply pointing out what you believe to be Dgraph's missteps, and suggesting that since you knew they were mistakes all along, the Dgraph team should just do as you say is misguided at best, bordering on trolling.

[2018-12-28 02:08] smkhalsa commented on #1966
@manishrjain I'd like to offer my use case.

**TLDR: I'd be happy with just GraphQL (i.e. no Cypher) so long as you can make it play nice with GraphQL spec compliant tooling while retaining support for arbitrarily complex graph queries.**

I'm building a GraphQL Server as the backend for a web / mobile app. I'm leaning towards using neo4j, coupled with the [neo4j-graphql-js](https://github.com/neo

[2018-12-28 08:14] selmeci opened #2849 "fatal error: concurrent map writes"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.11

- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
AWS EC2 r5d.2xlarge, 64GB RAM, SSD disk.

- Steps to reproduce the issue (command/config used to run Dgraph).
It looks same as already reported bug in this [issue](https://github.com/dgraph

[2018-12-28 14:37] jccq commented on #1966
@MichelDiz your analysis would work if GraphQL was a query language, which is not.

I dont claim to be an expert but it seems well known that GraphQL  may be a much better alternative than Rest for many APIs, might resemble querying a graph for certain applications but it was not designed as the interface to a graph DB to ask arbitrary ad hoc questions (possibly Touring complete a la SQL or SQL ex

[2018-12-28 17:05] manishrjain commented on #2849
The other issue is a different one. This is caused by some optimizations I made, allowing processing a particular section of the query concurrently.

[2018-12-29 03:48] relunctance opened #2854 "alpha globals flag "--log_dir" in config.json is inoperative"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
[code]
- Have you tried reproducing the issue with latest release?
yes

- What is the hardware spec (RAM, OS)?
64G

- Steps to reproduce the issue (command/config used to run Dgraph).
-- cmd:
[code]
--alpha.json
[code]

- Expected behaviour and actual result.
In this scene , expect all logs are writed

[2018-12-29 06:49] danielmai commented on #2854
Although it’s not obvious, this is the expected behavior. The log flags like `log_dir` are handled by the glog library and are only configurable as command line flags and not via config files.

To prevent log files from being written and only writing to stderr, you can use the `--logtostderr` flag.

[2018-12-29 11:52] sorenhoyer commented on #1904
Considering dgraph for a new CMS so i'd be interested to hear if there are any plans to implement this any time soon?

[2018-12-30 08:51] vincent-163 opened #2855 "Poor performance handling nodes with lots of outgoing edges"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do
Efficient query/mutation on large nodes with lots of outgoing edges/reverse edges. For example, my

[2018-12-30 09:54] jccq commented on #1966
The approach "use it first and then find out 6 months later that the design is inherently limited" won't work for me as well as for any sensible decision makers in the IT world.

I of course didn't say GraphQL is not a query language which can ask questions to a graph. It can but what class of questions can i ask, and what is the efficiency?

These are questions which are crucial in enterprise pro

[2018-12-30 11:01] selmeci commented on #2849
Any ETA for hotfix at least in master branch? Right now alpha is really unstable because I can not predict which query will crush. Unfortunately we are already launched dGraph in production environment.

[2018-12-30 16:50] manishrjain commented on #2849
Can you build a binary from `mrjn/concurrent-facet` branch? I pushed a change which I think should solve this issue. Let me know if it works, and I'll push it to master.

[2018-12-31 09:48] selmeci commented on #2849
Thanks for quick response! I built docker image with this dockerfile:
[code]

Alpha is stable and does not stop with `fatal error: concurrent map writes` but it stop with OOM - consume 16GB of RAM. I had to switch back to v1.0.10 where everything is working - same script finish withi no OOM and no concurrent error.

[2018-12-31 09:49] selmeci commented on #2849
I have already reported possible OOM issue with profiles in discuss topic https://discuss.dgraph.io/t/is-there-oom-issue-in-v1-0-11/3792

[2018-12-31 10:39] hewenyang commented on #2855
I took a look at your article <https://blog.dgraph.io/post/scaling-dgraph/>. It seems to have mentioned the issue where a node could have too many outgoing edges, at which point re-encoding the list becomes slower and slower. Unfortunately, the story didn't have an ending. You created a bulk loader that loads things much faster (and it handles large nodes!), but the problem persists. It's not unco

[2018-12-31 16:01] liqweed commented on #2693
A major reason for us multiple databases is such an important factor is multitenancy. We intend to implement multitenancy with a database schema per account. That makes data isolation a lot easier (which includes removing an account for example) without provisioning and maintaining thousands of database servers. Implementing multitenancy in dgraph as a schema per account is even a stronger case in

[2018-12-31 23:42] manishrjain opened #2860 "Run ineffassign on Dgraph"
Run and fix the violations found by ineffassign:

https://github.com/gordonklaus/ineffassign

[2019-01-01 12:30] birdayz commented on #1243
Is this on the roadmap? From my point of view, as someone who just recently started working with dgraph, it's surprising that it's not possible.

[2019-01-02 13:22] archenroot commented on #1435
@candysmurf - same here, any results from your observations?

[2019-01-03 00:44] #2815 closed

[2019-01-03 01:00] gitlw commented on #2310
@Levatius Is it ok for you to share your tests so that we can try to reproduce this error?

[2019-01-03 01:21] cocodrino commented on #2326
hi guys, I just wanted to say that yesterday I installed dgraph, I'm doing the tutorial, I'm just going through the second part and I'm already getting this same error, so it can't just be due to a high load.

I did the installation with the script that appears in the installation section, please if you require any log or any additional information do not hesitate to ask me, indicating the route a

[2019-01-03 03:33] danielmai commented on #2326
@cocodrino can you share steps to reproduce what you're seeing? Are you re-using any existing data (the p, w, and zw directories) when running Dgraph for the Tour? My guess is that Zero's zw directory was newly created while using existing Alpha's p and w directories.

Sharing the logs from Zero and Alpha would help.

[2019-01-03 07:57] relunctance commented on #2842
Let me fix it.

[2019-01-04 01:29] birdayz opened #2867 "anyofterms does not work for facet created by JSON mutation"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
tried latest "latest" @ dockerhub and v1.0.12-rc1

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?
16gb, linux

- Steps to reproduce the issue (command/config used to run Dgraph).
Create any facet with a string value.

Query filter it with anyoft

[2019-01-04 01:53] srfrog commented on #2867
Could you post a sample of the query you're trying to run? That will help determine if there's an issue. Thanks.

[2019-01-04 02:07] birdayz commented on #2867
Qry:
[code]
-> no result

If i just use eq READ (which is the value set for the facet) it works:
[code]

-> Result:
    "direct": [
      {
        "access.to": [
          {
            "uid": "0x9c7c",
            "access.to|inherit": true,
            "access.to|permission": "WRITE"
          }
        ],
        "uid": "0x9c70"
      }
    ],

And, still, the first query DOES work, but only if

[2019-01-04 04:36] yupengfei opened #2870 "predefined rule for edges"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do

When import millions of nodes, I had to write code to insert their edges,  if we support grammer

[2019-01-04 10:37] styk-tv commented on #933
@MichaelJCompton awesome work, a bit too bad its in #C instead of Go.  Any chance you could lock this in a docker container so we can try this launched into docker/kubernetes as a side container?

[2019-01-04 19:49] danielmai commented on #2867
I'm able to reproduce this by running a JSON mutation and NQuad mutation in dgo.

Code: https://play.golang.org/p/k6DBNXuiuHu

Output:
[code]

[2019-01-04 23:21] martinmr commented on #2860
I can take this over since I am already doing it for badger.

[2019-01-04 23:22] srfrog commented on #2860
sure, let me push my branch.

[2019-01-05 00:03] martinmr commented on #2860
Thanks.

[2019-01-05 01:45] MichelDiz commented on #2870
Hi yupengfei,

Thanks for you report.

Can you share more information about what you are doing? I'm working on your report.

The code you are using to add Edges. What language is it? Can you share it?

Can you explain this query a bit? I understand what it does, but I can not understand it in the context of millions of nodes. All millions of nodes already have unique IDs or are they all the same?

[2019-01-05 02:44] #2832 closed

[2019-01-05 02:45] srfrog commented on #2832
@makitka2007 please try your query in master, a solution was merged.

[2019-01-05 03:20] srfrog commented on #2107
Related: #926

[2019-01-05 03:45] srfrog commented on #2443
I don't know if we need this. For example, using Apache Beam Go SDK and Dgo we could write a pipeline using Dgraph. Then tie that with the mapreduce runner - https://beam.apache.org/documentation/runners/mapreduce/

IMO hadoop is too limited case, we should be looking at a broader solution with Spark/Beam.

[2019-01-05 04:04] yupengfei commented on #2870
Hi,
   I am working on a real-time recommend system, and for now, our system works on MySQL and MongoDB. I read the data from a MongoDB by tail the oplog, and then write the data into DGraph, with a fork of [transporter](https://github.com/compose/transporter) maintained by myself. There are so many tables, such as the operation log of the customers, the blog and reply they post. When a new docume

[2019-01-07 23:48] srfrog commented on #2867
It seems to be a bug in the JSON parser. You can test with your query:
RDF:
[code]
JSON:
[code]

[2019-01-07 23:56] manishrjain commented on #2867
@gitlw fixed a similar issue recently, where we were not parsing the facets correctly in one of the code paths. Lucas: Can you have a look?

[2019-01-08 10:13] relunctance opened #2881 "dgo client can not get schema success by used grpc"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?

Dgraph version   : v1.0.11-46-g034a560
Commit SHA-1     : 034a560
Commit timestamp : 2019-01-07 19:28:39 -0700
Branch           : master
Go version       : go1.11

- Have you tried reproducing the issue with latest release?
yes

- Steps to reproduce the issue (command/config used to run Dgraph).

cur

[2019-01-08 10:31] manishrjain commented on #2881
Look for a field named Schema something in response proto.

[2019-01-08 10:32] manishrjain commented on #2881
We should fill out the resp.Json instead, if possible. Common source of confusion.

[2019-01-08 17:17] srfrog commented on #2881
@manishrjain are you suggesting getting rid of resp.Schema and using only resp.Json ?

[2019-01-09 03:50] #2881 closed

[2019-01-09 03:52] srfrog commented on #2881
@relunctance thx for the suggestion.

[2019-01-09 04:04] relunctance commented on #2881
You are welcome

[2019-01-09 18:14] MichelDiz commented on #2669
are We Already on v1.0.11 in play Dgraph?
I just tested and the error is still occurring.

We need to add fulltext to name predicate.

[code]

[code]

[code]
[code]

[2019-01-09 18:50] insanitybit opened #2884 "Ability to remove nodes from UI through dgraph-ratel"
## Experience Report

Note: Feature requests are judged based on user experience and modeled on [Go Experience Reports](https://github.com/golang/go/wiki/ExperienceReports). These reports should focus on the problems: they should not focus on and need not propose solutions.

### What you wanted to do

In dgraph-ratel the "expand" button is extremely helpful. I generally start off with a simple que

[2019-01-09 19:17] insanitybit commented on #2884
Just from the visualization - similar to how the "expand" just modifies the visualization.

[2019-01-09 19:39] danielmai commented on #2884
Thanks for clarifying. I'll move this issue over to the Ratel repo.

[2019-01-09 21:49] danielmai commented on #2669
We're running v1.0.11 on play.dgraph.io but did not update the schema with the full text index.

[2019-01-09 22:10] danielmai commented on #2669
https://play.dgraph.io is now running with the fulltext index for the name predicate.

[2019-01-10 19:22] martinmr commented on #2860
Most issues are fixed. Most errors remaining are complaining about

I need to fix the error string. Lucas pointed out that they should start with lowercase and it turned out golint was not showing those warning because they didn't have enough confidence. This is not as important so I'll fix them later once I find an automatic way to do it.

[2019-01-10 19:22] #2860 closed

[2019-01-10 19:57] #2277 closed

[2019-01-11 00:40] srfrog commented on #1904
@nikolakanacki after reading the MongoDB description of partial indexes, I think this is something that could be accomplished now (to some degree) using hash index and filtering on facets.
e.g.,
[code]
There's some more work to do with facets that can expand on this.You can also write your own custom tokenizer that implements a new type of index - https://docs.dgraph.io/query-language/#indexing-wi

[2019-01-11 03:08] #2849 closed

[2019-01-11 03:09] #2840 closed

[2019-01-11 03:13] manishrjain commented on #2510
I think we can have a look at this and see if this ask is in line with how GraphQL does fragments. In general, seems like circular fragments are going to be an issue.

[2019-01-11 03:14] manishrjain commented on #2494
We already have a Java client. If someone wants to contribute Scala client, that'd be great. But, we don't need to track it here.

[2019-01-11 03:14] #2494 closed

[2019-01-11 03:14] manishrjain commented on #2509
I haven't seen this with recent versions of Dgraph. Let us know if this is still an issue.

[2019-01-11 03:15] manishrjain commented on #2443
We have an open source contributor looking into distributing bulk loader.

[2019-01-11 03:19] manishrjain commented on #2257
Did it. Now someone needs to port over all Prometheus numbers to open census.

[2019-01-11 03:34] manishrjain commented on #2000
We don't have any plans to support this and haven't come across convincing use cases where we need it.

[2019-01-11 03:34] #2000 closed

[2019-01-11 03:35] manishrjain commented on #1877
We now have a way to get `/state` from Zero, and set its uids and timestamps.

[2019-01-11 03:35] #1877 closed

[2019-01-11 03:40] manishrjain commented on #2107
We can switch our implementations to this. Or, introduce a new type for arbitrary-precision numeric types:

https://golang.org/pkg/math/big/

[2019-01-11 03:40] manishrjain commented on #926
Closing this in favor of a newer duplicate issue.

[2019-01-11 03:40] #926 closed

[2019-01-11 03:42] manishrjain commented on #2080
We have fixed a lot of edge cases in the latest versions. This shouldn't be an issue anymore.

[2019-01-11 03:42] #2080 closed

[2019-01-11 03:43] manishrjain commented on #1155
k8s load balancer does a pretty good job of load balancing. We don't need anything more complicated.

[2019-01-11 03:43] #1155 closed

[2019-01-11 03:44] manishrjain commented on #1519
We're working on #2511 .

[2019-01-11 03:44] #1519 closed

[2019-01-11 03:45] manishrjain commented on #1045
Ratel does a bunch of this stuff now, i.e. showing schema, allowing users to explore data, and so on. Also, we have GraphQL support on Roadmap.

[2019-01-11 03:45] #1045 closed

[2019-01-11 03:46] manishrjain commented on #689
If users are interested, they can build this and send us a PR to add this in our unofficial list of clients. This doesn't need to be tracked here, we don't have any plans to build this.

[2019-01-11 03:46] #689 closed

[2019-01-11 03:47] #1143 closed

[2019-01-11 03:48] manishrjain commented on #1242
As JSON has become the primary/popular way to ingest and output data, we don't have any plans to support labels.

[2019-01-11 03:48] #1242 closed

[2019-01-11 03:52] #1908 closed

[2019-01-11 09:03] reicheltp commented on #1908
@manishrjain Is this solved or have you closed this because it's not going to happen?

[2019-01-11 13:12] darshanDevrai commented on #1966
@manishrjain Any plans for Hosted solution in 2019?

[2019-01-11 18:55] codexnull opened #2889 "Suport live loading JSON data"
The bulk loader supports loading RDF or JSON data. The live loader should support the same.

[2019-01-11 19:41] codexnull opened #2890 "Command line option handling issues"
The option handling has issues due to using both the standard flag package as well as Cobra/Viper. For example, running "dgraph --help" outputs

[code]

because which is

1) Incorrect. -alsologtostderr is not a valid option, --alsologtostderr is.
2) Not useful.

This behavior can be confusing to new users.

This example could be fixed by removing the call to flag.Parse() and just letting Cobra do

[2019-01-12 00:32] srfrog commented on #2238
I couldn't reproduce this issue querying Dgraph directly without docker. In docker for Mac v18.09.0 + hyperkit, it didn't crash but docker became unresponsive. Sending 1M requests to a single docker instance is not exactly normal usage, I suspect the context switching in docker is the cause. This might be a problem with docker itself not Dgraph.

[2019-01-12 00:32] #2238 closed

[2019-01-14 18:47] manishrjain opened #2894 "Product Roadmap 2019"
Here's the product roadmap for 2019:

- [x] Stronger Type System
- [ ] Support official GraphQL spec natively (#933).
- [ ] Live streaming of updated responses
- [ ] Gremlin support
- [x] Full JSON support across exports, bulk loading, and live loading.
- [x] Upserts

Enterprise features:

- [x] Binary backups
  - [x] Full Backups
  - [x] Incremental Backups
- [x] Access Control Lists
- [ ] Audit

[2019-01-14 18:53] martinmr commented on #2511
PR referenced above will address this issue. See PR for more details.

[2019-01-14 18:57] martinmr commented on #2828
PR #2883 addresses this issue.

[2019-01-14 18:58] manishrjain commented on #1966
Thank you all for your input. We've now created a new roadmap for 2019. Closing this issue. But, I still want to hear what Dgraph users want built in 2019. So, go on and comment here: #2894 .

[2019-01-14 18:58] #1966 closed

[2019-01-14 19:04] smolinari commented on #2894
Would be nice if ACLs could be in the Community Edition.

Scott

[2019-01-14 19:15] martinmr commented on #2408
Not an issue with dgraph itself so I've moved it to https://github.com/dgraph-io/ratel/issues/54

[2019-01-14 19:15] #2408 closed

[2019-01-14 19:49] smkhalsa commented on #2894
@manishrjain Thanks for the update! Can you share any info about how you intend to implement the GraphQL spec while preserving the existing functionality? Custom directives?

As for Live Streaming, will this simply be the Subscription portion of the GraphQL spec, or do you intend to implement live queries (such as with a `@live` directive?

[2019-01-14 20:31] manishrjain commented on #2894
We will have a different endpoint called `/graphql` or something, which would run GraphQL queries. That way we can maintain and improve what we currently have, while also supporting GraphQL official spec.

[2019-01-14 20:50] MichelDiz opened #2896 "Improve Facets functions. (not supported in preprocessFilter)"
### What you wanted to do
I tried beef up the queries for facets to add in the documentation. Especially for fulltext.
https://dgraph.io/docs/query-language/facets/#filtering-on-facets

### What you actually did
Tested alloftext, anyoftext, regexp, ie, has, allofterms, anyofterms, le, lt, ge, gt, eq, AND, OR and NOT
one by one and got the following results.

alloftext => : Fn alloftext not support

[2019-01-14 21:07] vespertilian commented on #2894
Any chance of you offering a paid manager instance?

[2019-01-14 21:21] smkhalsa commented on #2894
@manishrjain For clarity, are we to understand that the `/graphql` endpoint would only implement a subset of the GraphQL+- API? Beyond backward compatibility, what are the reasons to stick with GraphQL+-?

[2019-01-14 21:31] manishrjain commented on #2894
GraphQL+- implements a lot of features, which are not part of the GraphQL spec, like variable assignment, math operations, shortest path queries, and so on. GraphQL isn't the right fit for all the features that one needs from a database.

But, GraphQL is a great language for apps to be built on -- and that's the aim here, is to support it to allow building apps easier on Dgraph. Dgraph is a great

[2019-01-14 21:44] gitlw commented on #2870
Hi @yupengfei

Thanks for using Dgraph.
I'm not sure whether I totally understand your request. Even if there is such a rule in Dgraph, how would it know which employee should report to which other employee when there are lots of employees in the DB. Conceptually you still need to provide the A -- reportsTo --> B relationship one by one to the DB for it to understand.

Maybe I misunderstood your f

[2019-01-14 21:48] srfrog commented on #2672
hi @u007 and @calummoore I tested this bug against the current master and it seems to be working correctly. Could you confirm? If you can reproduce please give me the steps to get there. Thanks!

[2019-01-14 21:52] liqweed commented on #2894
Support for multiple databases (schemas) on the same server is very important for us for the reasons mentioned in the relevant issue
https://github.com/dgraph-io/dgraph/issues/2693

[2019-01-14 21:56] #1205 closed

[2019-01-14 21:57] manishrjain commented on #1536
Looks like this is similar to the task that you were looking at, i.e. pick queries from docs and make them part of our testing suite.

[2019-01-15 03:30] manishrjain commented on #2122
We could potentially support this at Badger level first, and then expose it via Dgraph.

[2019-01-15 05:00] manishrjain commented on #1815
Not a priority for now. If we need it, we'll build it later.

[2019-01-15 05:00] #1815 closed

[2019-01-15 05:02] manishrjain commented on #2147
Closing due to no activity. Also, Dgraph supports HTTP endpoints.

[2019-01-15 05:02] #2147 closed

[2019-01-15 05:03] #2232 closed

[2019-01-15 05:03] manishrjain commented on #2232
Haven't seen it.

[2019-01-15 05:07] manishrjain commented on #2413
This code has the same issue as #2414 . It is creating a lot mutations in the server, without committing them.

[code]

[2019-01-15 05:07] #2413 closed

[2019-01-15 05:09] #2509 closed

[2019-01-15 05:12] manishrjain commented on #2528
We narrowed down query performance issues to a lot of contention on the LRU cache. We removed it in v1.0.12-rc1, and have seen query latency drop by 5-10x.

https://github.com/dgraph-io/dgraph/commit/b9990f4619b64615c2c18bb7627d198b4397109c

Try again, and feel free to reopen if it is still an issue.

[2019-01-15 05:12] #2528 closed

[2019-01-15 05:13] smolinari commented on #2894
So, the intention is to have a standard GraphQL endpoint, so apps can directly access the Dgraph server?

Scott

[2019-01-15 05:13] manishrjain commented on #2538
Related to #2776 . Closing.

[2019-01-15 05:13] #2538 closed

[2019-01-15 05:18] #2839 closed

[2019-01-15 05:19] manishrjain commented on #2839
You can file a bug in Badger about this, so we can add a better error there.

[2019-01-15 05:27] manishrjain commented on #2855
I have ideas around doing binary splits on very long posting lists. But, how that improves performance isn't clear yet.

[2019-01-15 05:56] manishrjain commented on #2546
The upsert directive is probably what you're looking for.

https://docs.dgraph.io/query-language/#upsert-directive

There's a test that we have here, which does a similar thing that you're doing:
https://github.com/dgraph-io/dgraph/blob/f7547e48fce76af1e2c390dcee8b4e771c12fd47/contrib/integration/testtxn/main_test.go#L469

In this test, multiple users can't have the same email id. If two concurren

[2019-01-15 05:56] #2546 closed

[2019-01-15 06:03] manishrjain commented on #2816
Seems like `numpaths` and `depth` args are interacting in a weird way. @codexnull can you have a look?

[2019-01-15 06:09] manishrjain commented on #2845
I'm unable to reproduce this.

[2019-01-15 06:11] manishrjain commented on #2403
Don't think so. We use trigrams for regexp indexing. The cost of prefix and trigram indexing should be about the same.

[2019-01-15 06:11] #2403 closed

[2019-01-15 06:13] manishrjain opened #2897 "Optimize geo indexing"
The current geo indexing is very heavy because it creates too many tokens. We need to decrease the number of tokens created during geo indexing, so it can perform better.

[2019-01-15 06:13] manishrjain commented on #2403
Also see: #2897 .

[2019-01-15 19:58] styk-tv commented on #2894
For outside-living apps like Web/Cli/Mobile you will still have to have an authentication proxy on query/mutation level. Which is going in the direction of neo4j plugin system. In my opinion a wrong direction.

Wouldn't it make more sense to add role-based-access-control based on OIDC? So Queries/Mutations can be protected by simple group decorator, then user's signed token has to contain list of

[2019-01-15 23:07] danielmai commented on #2818
I suspect you're running into IOPS limits here. The config you shared is for AWS with 4 GiB and 200 GiB standard-ssd drives (gp2). As per the [AWS docs](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html#USER_PIOPS), the 4 GiB drive has 100 base IOPS and the 200 GiB has 600 base IOPS. We recommend running with NVMe local SSDs which provide the maximum available IOPS, or provi

[2019-01-15 23:07] #2818 closed

[2019-01-15 23:52] danielmai commented on #2532
Nightly option has been removed. https://github.com/dgraph-io/website/commit/bf4fb9c9d1e1e9e5295bcbec35f599b3377c4937

[2019-01-15 23:52] #2532 closed

[2019-01-15 23:55] srfrog commented on #2845
I'm closing this issue re-open if you are able to reproduce it against the latest.

[2019-01-15 23:55] #2845 closed

[2019-01-16 00:11] gitlw opened #2900 "Input found by gofuzz can crash the alpha server"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
v1.0.12-rc3-4-g4e2895d9

- Have you tried reproducing the issue with latest release?
Yes

- What is the hardware spec (RAM, OS)?

- Steps to reproduce the issue (command/config used to run Dgraph).
Run the alpha server through run-single.sh inside dgraph/dgraph
Run the query
`curl http://localhost:818

[2019-01-16 00:34] gitlw commented on #2900
@srfrog It is indeed a bug.

[2019-01-16 00:47] gitlw commented on #2560
Hi @AJAviJain
IMO, in order to get a reliable benchmark, you need to run the query lots of times and see how the performance varies. Also because it's been a while since we last heard from you, I'm closing this issue for now. Please feel free test with our latest code, and reopen if this is still a problem for you. Thanks for using Dgraph.

[2019-01-16 00:47] #2560 closed

[2019-01-16 01:34] manishrjain commented on #2705
Closing due to lack of activity. Feel free to create a new issue, if there are still problems, and we can investigate.

[2019-01-16 01:34] #2705 closed

[2019-01-16 01:35] manishrjain commented on #2619
It is not clear what the issue is. Dgraph does do calculateTabletSizes, which would take CPU cycles, yes. But, we can't just stop doing that.

[2019-01-16 01:35] #2619 closed

[2019-01-16 01:35] gitlw commented on #2520
Hi @fendor

I tried with the latest code, and it's only returning the node with uid 0x0 in the response when querying shortest path using the uid 0x0, as shown in the added test in the linked PR.
Please try it again and see if you are still seeing the problem. Thanks for using Dgraph.

[2019-01-16 01:46] manishrjain commented on #1904
I think what this issue wants is to partially only index docs based on certain criterion. A good solution that you can have right now, is to set the property (/edge) on the node as `post.createdAt` separately from `attachment.createdAt`. And index that.

In general, what's not clear to me, is what are the savings here, and if those savings are worth the logic that'd need to be put in place. Dgraph

[2019-01-16 01:46] #1904 closed

[2019-01-16 01:50] manishrjain commented on #1974
What is this trying to do? Variables are essentially maps of uid -> value. So, they already have uids.

I think what you could instead do is this:

[code]

[2019-01-16 01:50] #1974 closed

[2019-01-16 01:51] manishrjain commented on #2070
No longer the way we do things.

[2019-01-16 01:51] #2070 closed

[2019-01-16 01:55] manishrjain commented on #2069
`/state` isn't meant to know about the connectivity issues for each server. Each server sees the world, based on its connectivity to it. For e.g., server A can see server B and C, but it's possible that B can only see C, and not A. And C might not be able to talk to any other server. Zero can't keep track of who sees what.

However, what we could do is to export the connectivity metrics to Open Ce

[2019-01-16 02:34] manishrjain commented on #2900
Great find. As discussed, we should be iterating over the lexer output to check for any errors upfront, before we start to use it to generate the query tree.

[2019-01-16 02:38] manishrjain commented on #2329
We're planning to introduce a stronger type system, and get rid of the `_predicate_`.

[2019-01-16 02:38] #2329 closed

[2019-01-16 02:41] manishrjain commented on #2848
Didn't we already build support for JSON in bulk loader?

[2019-01-16 02:45] manishrjain commented on #2660
It's not clear what you're looking for.  Can you follow the format of an experience report? What is it that you want to do, what did you currently do to achieve it, and why that wasn't ideal?

https://github.com/golang/go/wiki/ExperienceReports

[2019-01-16 02:47] manishrjain commented on #2337
This seems like something we can easily introduce to GraphQL+-. Should be an easy change at our end.

[2019-01-16 03:02] MichelDiz commented on #2848
Yes we do, after talking to Javier late 2018 we believe that this enhancement would be plausible.

[2019-01-16 03:11] manishrjain commented on #2387
I think we now have this flag in Bulk loader:

[code]

[2019-01-16 03:11] #2387 closed

[2019-01-16 03:14] manishrjain commented on #2438
I'm honestly not convinced about this. Updating tons of nodes is not something you'd do very frequently. So, running a transaction which can do this in two hops, doesn't seem like it's going to be particularly slow.

I'd like to hear if you had reasonable performance issues or other issues while executing it in two-hops using a txn, in an experience report format. Otherwise, it seems like a "nice-

[2019-01-16 03:16] manishrjain commented on #2443
Duplicate of #2628

[2019-01-16 03:16] #2443 closed

[2019-01-16 03:31] manishrjain commented on #2001
We could potentially introduce a `@post` directive, with corresponding functions which can be used inside it, to do a post traversal of the results and generate the data, as requested, to make things a bit easier at the app level.

[2019-01-16 03:33] manishrjain commented on #2445
We have introduce JSON support in bulk loader. We're also working on adding JSON support in the live loader. So, we should just make JSON the data format for all migrations from SQL and other DBs. All CSV files can be converted to JSON, so we don't need to support CSV directly.

[2019-01-16 03:38] manishrjain commented on #2793
This was fixed in `v1.0.12-rc3`. Commit: #2800 .

[2019-01-16 03:40] manishrjain commented on #2496
GraphQL variables are not really designed to set properties (predicates in this case). They're designed to set values.

https://graphql.org/learn/queries/#variables

[2019-01-16 03:40] #2496 closed

[2019-01-16 04:02] smolinari commented on #2894
@styk-tv - There is also still the very important part of web interaction called user input sanitation, which is just as much, if not more, of a security aspect than RBACs or ACLs. I mean, we don't want to run into little [Bobby Tables](https://martinfowler.com/articles/web-security-basics.html#BindParametersForDatabaseQueries), right? 😁

How will Dgraph also handle user input sanitation (and the

[2019-01-16 06:18] BlankRain commented on #2438
@manishrjain yes ,you are right. However, it's not so friendly to user when do two-hops in one txn .
 In fact, performance is not the only thing we care. we also care whether it is easy for use.
In my opinion , `update where...` is a kind of syntactic Suger.
Suger is sweet, people like it.

[2019-01-16 08:38] styk-tv commented on #2894
Scott, Yes, graphql injections are real. So question is will dgraph as community work out authorization, DoS, injections or just say hey, here is /graphql we have worked out this issue or follow footsteps of bare graphql and let Apollo grow into a superpower?

* https://blog.apollographql.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b
* https://staaldraad.github.io/post/2018-03-

[2019-01-16 17:39] codexnull commented on #2848
Yes, the bulk loader already supports JSON. I believe this request is for supporting a way to automatically add a uid field to the data. Currently it requires it to be present already.

[2019-01-16 17:52] manishrjain commented on #2848
Ok. After talking to Javier, my understanding is that this would create a blank node for the UID field in the JSON map (if UID field isn't present), based on the fields mentioned in `--setunique`. That way, all the records holding the same `mission_name` and/or `rocket_id`, would get the same UID.

This seems like an easy change.

[2019-01-16 18:37] vincent-163 opened #2904 "High contention when updating the same row"
If you suspect this could be a bug, follow the template.

- What version of Dgraph are you using?
Latest, from master at the time of writing

- Have you tried reproducing the issue with latest release?
Not yet

- What is the hardware spec (RAM, OS)?
8GB RAM, Ubuntu Xenial

- Steps to reproduce the issue (command/config used to run Dgraph).
First create a node with uid <0x1> and a single edge: `<0x

[2019-01-16 18:46] manishrjain commented on #2904
MySQL is a single server DB. All the transactions happen locally, without any foreign coordination (like Dgraph Zero). Also, because it doesn't provide synchronous replication, it doesn't need to serialize all writes and commit them to Raft logs.

A good test for whether this is due to disk or not, is to do this operation on Badger (which is more in-line with MySQL) and see what sort of performanc

[2019-01-16 19:35] #2828 closed

[2019-01-16 21:14] junknown commented on #2894
Hi, no plans for open chyper support yet?

[2019-01-16 21:47] manishrjain commented on #2894
No concrete plans for Open Cypher yet. We'll see about that if that changes and the year progresses.

Re: `/graphql` endpoint, once we have that in place, we'll see what all functionality is provided by existing frameworks like Apollo, and what we need to build as a database. Of course, we want to prioritize the security of data, but at the same time, we don't want to "become" Apollo.

[2019-01-16 22:44] junknown commented on #2894
maybe a simple open cypher to graphql+- conversion engine can help those of us stucking with a neo4j backend that want to scale with dgraph,i wonder if, meanwhile,it Is possibile to build It externally as library